{% extends "_base.html" %}
{% load static %}

{% block title %}Material Stocks{% endblock %}
{% block page_name %}material-stocks cities{% endblock %}

{% block head %}
{% endblock %}

{% block content %}
  <h1>Cities</h1>

  <div class="row">
    <div class="col-md-6 col-lg-4">
      <a class="card btn-card" href="{% url 'stocks:city' 'brussels' %}">
        <img src="https://metabolismofcities.org/media/photos/Brussels.large.jpg" class="card-img-top" alt="Brussels">
        <div class="card-body">
          <h5 class="card-title">Brussels</h5>
          <h6 class="card-subtitle mb-2 text-muted">Belgium</h6>
        </div>
      </a>
    </div>
    <div class="col-md-6 col-lg-4">
      <a class="card btn-card" href="{% url 'stocks:city' 'melbourne' %}">
        <img src="https://data.metabolismofcities.org/media/records/15449961731_0fb7684b40_k.jpg" class="card-img-top" alt="Melbourne">
        <div class="card-body">
          <h5 class="card-title">Melbourne</h5>
          <h6 class="card-subtitle mb-2 text-muted">Australia</h6>
        </div>
      </a>
    </div>
  </div>
{% endblock %}

{% block footer %}
{% endblock %}