{% extends "_base.html" %}
{% load static %}

{% block title %}Material Stocks{% endblock %}

{% block head %}
<style>

</style>
{% endblock %}

{% block content %}
  {% include "_submenu-stocks.html" %}

  <div>
    <select class="custom-select">
      {% for each in areas %}
      <option value="{{ each.id }}">{{ each }}</option>
      {% endfor %}
    </select>
  </div>

{% endblock %}

{% block footer %}
<script>
  // initialise select2
  $("select[name='area']").select2({
    theme: "bootstrap4",
  }).change(function() {
    let id = $(this).attr("id");
    let value = $(this).val();
    $(".btn[data-type='" + id + "']").attr("href", value);
  })
</script>
{% endblock %}

