{% extends "_base.html" %}
{% load static %}

{% block title %}Material Stocks{% endblock %}

{% block head %}
<style>
  .description p:last-of-type {
    margin-bottom: 0;
  }

  .btn-icon.level {
    height: unset;
  }
</style>
{% endblock %}

{% block content %}
  {% include "_submenu-stocks.html" %}

  <section>
    <div class="row">
      <div class="col-lg-6">
        <div class="leaflet-map" id="space-map"></div>
      </div>
      <div class="col-lg-6">
        <ul class="list-group list-group-flush mb-4">
          <li class="list-group-item table-item">
            <div><i class="fal fa-fw fa-users mr-2"></i> Population</div>
            <div>___</div>
          </li>
          <li class="list-group-item table-item">
            <div><i class="fal fa-fw fa-building mr-2"></i> Number of buildings</div>
            <div>___</div>
          </li>
          <li class="list-group-item table-item">
            <div><i class="fal fa-fw fa-archive mr-2"></i> Materials</div>
            <div>{{ materials|length }}</div>
          </li>
          <li class="list-group-item table-item">
            <div><i class="fal fa-fw fa-clone mr-2"></i> Area</div>
            <div>___ km<sup>2</sup> </div>
          </li>
        </ul>

        <a class="btn btn-primary btn-lg" href="{% url 'stocks:maps' space.slug %}"><i class="fal fa-map"></i> Explore map</a>
        <a class="btn btn-primary-basic btn-lg" href="{% url URLS.LIBRARY_ITEM data_source.id %}"><i class="fal fa-info-circle"></i> Data source info</a>
      </div>
    </div>
  </section>

  <section>
    <div class="row">
      <div class="col-lg-6">
        <h4>Detail levels</h4>
        {% for each in levels %}
          <a href="{% url URLS.LIBRARY_ITEM each.id %}" class="btn-icon level border rounded bg-white p-3 mb-4">
            <h5>{{ each.get_shortname }}</h5>
            <div class="description">{{ each.get_description }}</div>
          </a>
        {% endfor %}
      </div>
      <div class="col-lg-6">
        <h4>Materials</h4>
        <div class="list-group list-group-flush">
          {% for each in materials %}
            <div class="list-group-item"><i class="fal fa-{{each.material__icon}} fa-fw mr-2"></i> {{ each.material__name }}</div>
          {% endfor %}
        </div>
      </div>
    </div>
  </section>


{% endblock %}

{% block footer %}
<script>
  // initialise select2
  $("select[name='area']").select2({
    theme: "bootstrap4",
  }).change(function() {
    let id = $(this).attr("id");
    let value = $(this).val();
    $(".btn[data-type='" + id + "']").attr("href", value);
  })
</script>

{% if space.geometry %}
  <script>
    var map = L.map("space-map");
    var geojson = {{ space.geometry.geojson|safe }};
    var geojsonlayer = L.geoJSON(geojson).addTo(map);

    L.tileLayer("https://api.mapbox.com/styles/v1/{id}/tiles/{z}/{x}/{y}?access_token=pk.eyJ1IjoibWV0YWJvbGlzbW9mY2l0aWVzIiwiYSI6ImNqcHA5YXh6aTAxcmY0Mm8yMGF3MGZjdGcifQ.lVZaiSy76Om31uXLP3hw-Q", {
      attribution: "Map data &copy; <a href='http://openstreetmap.org'>OpenStreetMap</a> contributors, " +
        "<a href='http://creativecommons.org/licenses/by-sa/2.0/'>CC-BY-SA</a>, " +
        "Imagery © <a href='http://mapbox.com'>Mapbox</a>",
      id: "mapbox/streets-v11",
      maxZoom: 18,
      id: "mapbox/streets-v11",
      tileSize: 512,
      zoomOffset: -1,
      accessToken: "{{ MAPBOX_API_KEY }}"
    }).addTo(map);

    map.scrollWheelZoom.disable();
    map.fitBounds(geojsonlayer.getBounds());
    {% if space.geometry.num_points == 1 %}
      map.setZoom(6);
    {% endif %}
  </script>
{% endif %}

{% endblock %}

