{% extends "_base.html" %}
{% load static %}

{% block title %}Material Stocks{% endblock %}
{% block page_name %}material-stocks compare{% endblock %}

{% block head %}
{% endblock %}

{% block content %}
  {% include "_submenu-stocks.html" %}
  </div> <!-- closes container so we have fullwidth below -->


  <div class="row">
    <div class="col-md-6">

    </div>
    <div class="col-md-6">

    </div>
  <!-- we can skip the closing tag here because we have an unused container closing tab -->
{% endblock %}

{% block footer %}
{% endblock %}