{% extends "_base.html" %}
{% load static %}

{% block title %}Material Stocks{% endblock %}
{% block page_name %}material-stocks compare{% endblock %}

{% block head %}
  <link rel="stylesheet"
        href="https://unpkg.com/leaflet@1.6.0/dist/leaflet.css"
        integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ=="
        crossorigin=""/>

  <style>
    .leaflet-map {
      height: 350px;
    }

    .selects {
      background-color: #fcfcfc;
      top: 0;
    }

    section {
      padding: 1rem 0;
    }

    section:first-of-type {
      padding-top: 0;
    }

    section:last-of-type {
      padding-bottom: 0;
    }
  </style>
{% endblock %}

{% block content %}
  {% include "_submenu-stocks.html" %}

  <div class="row">
    <div class="col-md-6">
      <div id="map-x" class="leaflet-map mb-1"></div>
    </div>
    <div class="col-md-6">
      <div id="map-y" class="leaflet-map mb-1"></div>
    </div>
  </div>

{{comparison_table|safe}}
  <div class="tables">
    <div class="row selects sticky-top py-3">
      <div class="col-md-6">
        <select data-level="{{ each.id }}" class="custom-select select2" name="space_x">
          {% for each in buildings %}
            <option value="{{ each.id }}" {% if each.id == info_x.id %}selected{% endif %}>{{ each }}</option>
          {% endfor %}
        </select>
      </div>

      <div class="col-md-6">
        <select data-level="{{ each.id }}" class="custom-select select2" name="space_y">
          {% for each in buildings %}
            <option value="{{ each.id }}" {% if each.id == info_y.id %}selected{% endif %}>{{ each }}</option>
          {% endfor %}
        </select>
      </div>
    </div>
    <section>
      <h5 class="mt-4 text-center"><i class="fal fa-fw fa-trees mr-1"></i> Materials</h5>
      <div class="row">
        <div class="col-4">
          <table class="table bg-white">
            <tbody>
              {% for each in data_x %}
                <tr>
                  <td>{{ each.material.name }} -- {{ each.material.code }}</td>
                </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
        <div class="col-4">
          <table class="table bg-white">
            <tbody>
              {% for each in data_x %}
                <tr>
                  <td>{{ each.quantity|floatformat:0 }} {{ each.unit.symbol }}</td>
                </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
        <div class="col-4">
          <table class="table bg-white">
            <tbody>
              {% for each in data_y %}
                <tr>
                  <td>{{ each.quantity|floatformat:0 }} {{ each.unit.symbol }}</td>
                </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>

      <h5 class="mt-4 text-center"><i class="fal fa-fw fa-info-circle mr-1"></i> General info</h5>
      <div class="row">
        <div class="col-4">
          <table class="table">
            <tbody>
              {% for key,value in info_x.meta_data.features.items %}
                <tr>
                  <td>{{ value }}</td>
                </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
        <div class="col-4">
          <table class="table">
            <tbody>
              {% for key,value in info_x.meta_data.features.items %}
                <tr>
                  <th>{{ key }}</th>
                </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
        <div class="col-4">
          <table class="table">
            <tbody>
              {% for key,value in info_y.meta_data.features.items %}
                <tr>
                  <td>{{ value }}</td>
                </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>

      <!--
      <table class="table">
        <tbody>
          <tbody>
          </tbody>
        </tbody>
      </table>
       -->
    </section>
  </div>
  <!-- we can skip the closing tag here because we have an unused container closing tab -->
{% endblock %}

{% block footer %}
  <!-- load leaflet -->
  <script src="https://unpkg.com/leaflet@1.6.0/dist/leaflet.js"
          integrity="sha512-gZwIG9x3wUXg2hdXF6+rVkLF/0Vi9U8D2Ntg4Ga5I5BZpVkVxlJWbSQtXPSiUTtC0TjtGOmxa1AJPuV0CPthew=="
          crossorigin="">
  </script>

  <script>
    // initialise map A
    let mapX = L.map("map-x", {
      scrollWheelZoom: false,
      zoomControl: false,
    });

    // initialise map B
    let mapY = L.map("map-y", {
      scrollWheelZoom: false,
      zoomControl: false,
    });

    // add baselayers A
    let basemapX = L.tileLayer("https://api.mapbox.com/styles/v1/{id}/tiles/{z}/{x}/{y}?access_token=pk.eyJ1IjoibWV0YWJvbGlzbW9mY2l0aWVzIiwiYSI6ImNqcHA5YXh6aTAxcmY0Mm8yMGF3MGZjdGcifQ.lVZaiSy76Om31uXLP3hw-Q", {
      maxZoom: 18,
      attribution: "Map data &copy; <a href='https://www.openstreetmap.org/'>OpenStreetMap</a> contributors, " +
        "<a href='https://creativecommons.org/licenses/by-sa/2.0/'>CC-BY-SA</a>, " +
        "Imagery © <a href='https://www.mapbox.com/'>Mapbox</a>",
      id: "mapbox/streets-v11",
      tileSize: 512,
      zoomOffset: -1,
    })

    // add baselayer B
    let basemapY = L.tileLayer("https://api.mapbox.com/styles/v1/{id}/tiles/{z}/{x}/{y}?access_token=pk.eyJ1IjoibWV0YWJvbGlzbW9mY2l0aWVzIiwiYSI6ImNqcHA5YXh6aTAxcmY0Mm8yMGF3MGZjdGcifQ.lVZaiSy76Om31uXLP3hw-Q", {
      maxZoom: 18,
      attribution: "Map data &copy; <a href='https://www.openstreetmap.org/'>OpenStreetMap</a> contributors, " +
        "<a href='https://creativecommons.org/licenses/by-sa/2.0/'>CC-BY-SA</a>, " +
        "Imagery © <a href='https://www.mapbox.com/'>Mapbox</a>",
      id: "mapbox/streets-v11",
      tileSize: 512,
      zoomOffset: -1,
    })

    // add basemaps
    basemapX.addTo(mapX);
    basemapY.addTo(mapY);

    // create jsons
    const area_x = {
      "type": "FeatureCollection",
      "features": [
        {
          "type": "Feature",
          "properties": {},
          "geometry": {{ info_x.geometry.json|safe }}
        }
      ]
    }

    const area_y = {
      "type": "FeatureCollection",
      "features": [
        {
          "type": "Feature",
          "properties": {},
          "geometry": {{ info_y.geometry.json|safe }}
        }
      ]
    }

    // add geojsons
    let area_x_layer = L.geoJSON(area_x, {style: {color: "#144d58"}}).addTo(mapX);
    let area_y_layer = L.geoJSON(area_y, {style: {color: "#144d58"}}).addTo(mapY);

    // make maps fit the bounds of the geojson layers
    mapX.fitBounds(area_x_layer.getBounds());
    mapY.fitBounds(area_y_layer.getBounds());

    // initialise select2
    $("select[name='area']").select2({
      theme: "bootstrap4",
    });

    // load new page when changing areas
    $(".selects select").change(function() {
      let x = $("select[name='space_x']").val()
      let y = $("select[name='space_y']").val()

      window.location.href = "{% url 'stocks:city' space.slug %}compare/" + x + "/" + y;
    })
  </script>
{% endblock %}