{% extends "_base.html" %}
{% load static %}

{% block title %}Material Stocks{% endblock %}
{% block page_name %}material-stocks data{% endblock %}

{% block head %}
<style>
</style>
{% endblock %}

{% block content %}
  {% include "_submenu-stocks.html" %}

  <div class="row mb-4">
    <div class="col-md">
      <select class="custom-select select2" name="space">
        {% for each in buildings %}
          <option value="{{ each.id }}" {% if each.id == info.id %}selected{% endif %}>{{ each }}</option>
        {% endfor %}
      </select>
    </div>
    <div class="col-md text-md-right">
      <a href="{% url 'stocks:referencespace' info.id %}" class="btn btn-primary-basic">
        <i class="fal fa-info-circle"></i> Explore space on Data Hub
      </a>
      <a class="btn btn-primary download" href="#">
        <i class="fal fa-table"></i> Download data
      </a>
    </div>
  </div>

  <table class="table datatable datatable-card bg-white">
    <thead>
      <tr>
        <th>Material</th>
        <th>Quantity</th>
        <th>Source</th>
      </tr>
    </thead>
    <tbody>
      {% for each in data %}
        <tr>
          <td>{{ each.material }}</td>
          <td>{{ each.quantity }} {{ each.unit.symbol }}</td>
          <td><a href="{% url URLS.LIBRARY_ITEM each.source.id %}">{{ each.source|truncatechars:50 }}</a></td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}

{% block footer %}
<script>
  // load new page when changing area
  $("select[name='space']").change(function() {
    let space = $(this).val()

    window.location.href = "{% url 'stocks:city' space.slug %}data/" + space;
  })
</script>
{% endblock %}