{% extends "_base.html" %}
{% load static %}

{% block title %}Material Stocks{% endblock %}
{% block page_name %}material-stocks map{% endblock %}

{% block head %}
  <link rel="stylesheet"
        href="https://unpkg.com/leaflet@1.6.0/dist/leaflet.css"
        integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ=="
        crossorigin=""/>

  <!-- slider filter -->
  <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-slider/11.0.2/css/bootstrap-slider.min.css">

  <!-- leaflet fullscreen plugin - https://github.com/Leaflet/Leaflet.fullscreen -->
  <link href="https://api.mapbox.com/mapbox.js/plugins/leaflet-fullscreen/v1.0.1/leaflet.fullscreen.css" rel="stylesheet" />
{% endblock %}

{% block content %}
  {% include "_submenu-stocks.html" %}

  <!-- TEMPORARY SIMPLE LAYER -->
  {% if not request.GET.simple %}
    <form class="form-row">
      <div class="col">
        <div class="form-group">
          <label for="archetype">Archetype</label>
          <select class="custom-select" id="archetype" name="archetype">
            <option selected value="all">All</option>
            <option value="7">Apartment building</option>
            <option value="5b">Office</option>
            <option value="5c">House</option>
            <option value="5a">5a</option>
            <option value="1a">1a</option>
            <option value="4b">4b</option>
          </select>
        </div>
      </div>
      <div class="col">
        <div class="form-group">
          <label for="age">Completion year</label>
          <div class="slider-wrapper">
            <input class="slider" id="age" name="age">
          </div>
        </div>
      </div>
      <div class="col">
        <div class="input-group">
          <label for="surface">Surface area (m<sup>2</sup>)</label>
          <div class="slider-wrapper">
            <input class="slider" id="surface" name="surface">
          </div>
        </div>
      </div>
    </form>
  {% endif %}

  <div id="map-wrapper">
    {{ map|safe }}
    <div id="feature-details-wrapper">
      <div id="feature-details">
        <div class="header">
          <span class="muni"></span>
          <button type="button" class="close close-feature" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <table class="table">
          <tr>
            <th scope="row">Most common archetype</th>
            <td class="age">Apartment building</td>
          </tr>
          <tr>
            <th scope="row">Glass</th>
            <td class="glass">21 tonnes</td>
          </tr>
          <tr>
            <th scope="row">Wood</th>
            <td class="wood">812 tonnes</td>
          </tr>
          <tr>
            <th scope="row">Steel</th>
            <td class="steel">4124 tonnes</td>
          </tr>
          <tr>
            <th scope="row">Schauff</th>
            <td class="schauff"></td>
          </tr>
        </table>

        <div class="feature-content">
          <a class="btn btn-primary" href="{% url 'stocks:map' 'brussels' 1 %}">
            <i class="fas fa-arrow-alt-circle-down"></i> Drill down
          </a>

          <a class="btn btn-primary-basic" href="{% url 'stocks:compare' 'brussels' %}">
            <i class="fal fa-layer-group"></i>
            Compare
          </a>
        </div>
      </div>
    </div>
  </div>

  <h2>Geojson</h2>
  {% for each in spaces %}
    <strong class="mt-3 d-block">
      {% if link %}
        <a href="{% url "stocks:map" space.slug link each.id %}">{{ each }}</a>
      {% else %}
        {{ each }}
      {% endif %}
    </strong>
    <code>{{ each.geometry.geojson|truncatechars:100 }}</code>
  {% endfor %}

  <h2>Data</h2>
  {% for each in data %}
    <strong class="mt-3 d-block">{{ each.space_name }}</strong>
    Space ID: {{ each.space }}<br>
    Quantity: {{ each.quantity }} {{ each.unit }}<br>
    Date: {{ each.date }}
  {% endfor %}

  <h2>Bounding box</h2>
  <code>{{ box.geometry.geojson|truncatechars:300 }}</code>

{% endblock %}

{% block footer %}

{% endblock %}
