{% extends "_base.html" %}

{% block title %}Material Stocks{% endblock %}
{% block page_name %}material-stocks home{% endblock %}

{% block head %}
<style>
  .description p:last-of-type {
    margin-bottom: 0;
  }
</style>
{% endblock %}


{% block content %}
  {% include "_submenu-stocks.html" %}

  <div class="row">
    {% for each in levels %}
      <div class="col-lg-4">
        <a class="d-block rounded border p-3" href="{% url 'stocks:city' space.slug %}maps/{{ each.id }}/?material=EMP8.5">
          {{ each.get_shortname }}
        </a>
      </div>
    {% endfor %}
  </div>

{% endblock %}
