{% extends "_base.html" %}
{% load static %}

{% block title %}Material Stocks{% endblock %}
{% block page_name %}material-stocks maps{% endblock %}

{% block head %}
<style>
  .card img {
    height: 200px;
    object-fit: cover;
  }
</style>
{% endblock %}

{% block content %}
  {% include "_submenu-stocks.html" %}

  {% if space.name == "Brussels" %}

    <a href="{{ info.id }}/">View map with random data</a>

  {% else %}

  <div class="row">
    <div class="col-md-6 col-lg-4">
      <div class="card">
        <img src="https://i.imgur.com/QIDWkO9.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Wood stock</h5>
          <div class="input-group">
            <select class="custom-select" name="area" id="wood">
              <option value="{% url 'stocks:map' space.slug info.id %}" selected>{{ space }}</option>
              <optgroup label="">
                {% for each in info.imported_spaces.all %}
                  <option value="{% url 'stocks:map' space.slug link each.id %}?filter=wood">{{ each }}</option>
                {% endfor %}
              </optgroup>
            </select>
            <div class="input-group-append">
              <a class="btn btn-primary" data-type="wood" href="{% url 'stocks:map' space.slug info.id %}">
                <i class="fa fa-arrow-right mr-0"></i>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-6 col-lg-4">
      <div class="card">
        <img src="https://i.imgur.com/p6AGVOW.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Glass stock</h5>
          <div class="input-group">
            <select class="custom-select" name="area" id="glass">
              <option value="{% url 'stocks:map' space.slug info.id %}" selected>{{ space }}</option>
              <optgroup label="">
                {% for each in info.imported_spaces.all %}
                  <option value="{% url 'stocks:map' space.slug link each.id %}?filter=glass">{{ each }}</option>
                {% endfor %}
              </optgroup>
            </select>
            <div class="input-group-append">
              <a class="btn btn-primary" data-type="glass" href="{% url 'stocks:map' space.slug info.id %}">
                <i class="fa fa-arrow-right mr-0"></i>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-6 col-lg-4">
      <div class="card">
        <img src="https://i.imgur.com/eIuG82N.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Building age</h5>
          <div class="input-group">
            <select class="custom-select" name="area" id="age">
              <option value="{% url 'stocks:map' space.slug info.id %}" selected>{{ space }}</option>
              <optgroup label="">
                {% for each in info.imported_spaces.all %}
                  <option value="{% url 'stocks:map' space.slug link each.id %}?filter=age">{{ each }}</option>
                {% endfor %}
              </optgroup>
            </select>
            <div class="input-group-append">
              <a class="btn btn-primary" data-type="age" href="{% url 'stocks:map' space.slug info.id %}">
                <i class="fa fa-arrow-right mr-0"></i>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  {% endif %}

{% endblock %}

{% block footer %}
<script>
  // initialise select2
  $("select[name='area']").select2({
    theme: "bootstrap4",
  }).change(function() {
    let id = $(this).attr("id");
    let value = $(this).val();
    $(".btn[data-type='" + id + "']").attr("href", value);
  })
</script>
{% endblock %}

