{% extends "_base.html" %}
{% load static %}
{% load humanize %}

{% block page_name %}homepage{% endblock %}

{% block css %}
<link rel="stylesheet"  type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css"/>
<link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick-theme.css"/>

<style>
  .top-layer {
    background-image: url("/media/records/USVI_St_Thomas_Dec_2019_1.JPG") !important;
    background-size: cover !important;
    min-height: 55vh;
    position: relative;
  }

  .jumbotron {
    text-align: center;
    position: relative;
  }

  img.main-logo {
    width: 100%;
    max-width: 500px;
  }

  .top-layer .dark-cover {
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,.5);
    position: absolute;
    left: 0;
    top: 0;
    pointer-events: none;
  }

  .navbar {
    background-color: rgba(0,0,0,.5);
    z-index: 2;
  }

  .container.main-content {
    display: none;
  }

  .slick-container {
    padding: 40px;
    color: #333;
    background: gray;
  }

  .single-project img {
    object-position: top;
  }

  .slick-track {
    display: flex;
  }

  .slick-slide {
    transition: all .6s linear;
    height: inherit;
  }

  .slick-slide.slick-center {
    transform: none;
  }

  .projects {
    padding-top: 4rem;
  }

  .slick-prev::before,
  .slick-next::before {
    color: #f8f9fa;
    font-size: 2rem;
  }

  .slick-dots li button::before {
    color: #f8f9fa;
    opacity: .5;
    font-size: .75rem;
  }

  .slick-dots li.slick-active button::before {
    opacity: 1;
  }

  .slick-prev {
    left: -2rem;
  }

  .slick-next {
    right: -20px;
  }

  .projects {
    background-image: url(https://resourcewatch.org/static/images/components/layout/header-bg-texture.png);
    background-size: cover;
  }

  .statement {
    font-size: 2rem;
  }

  .forum img {
    width: 50px;
    height: 50px;
    object-fit: cover;
  }

  .stats {
    font-size: 1.5rem;
  }

  section.social {
    padding-bottom: 2rem;
  }

  .join,
  .news,
  .stats {
    background-color: #dddedf;
  }
</style>
{% endblock %}

{% block content %}

</div> <!-- close main content container so we can have full-width content -->

<section class="what">
  <div class="container">
    <h2 class="text-center font-weight-bold my-4 ">What we do</h2>
    <div class="row pt-4">
      <div class="col-md-6 col-lg-3 mb-4">
        <div class="card icon-card clickable-card" data-url="/islands/hub/harvesting/">
          <div class="icon bg-primary">
            <i class="fal fa-fw fa-file-chart-line text-light"></i>
          </div>
          <div class="card-header bg-primary text-light">
            <h5>Create knowledge</h5>
          </div>
          <div class="card-body">
            <p class="what-text">
              We aim to create new knowledge by participating and collaborating in research projects and developing new open source tools.
            </p>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-lg-3 mb-4">
        <div class="card icon-card clickable-card" data-url="/islands/library">
          <div class="icon bg-{% if alternative_design %}light{% else %}primary{% endif %}">
            <i class="fal fa-fw fa-share-alt {% if not alternative_design %} text-light{% endif %}"></i>
          </div>
          <div class="card-header bg-{% if alternative_design %}light text-dark{% else %}primary text-light{% endif %}">
            <h5>Share knowledge</h5>
          </div>
          <div class="card-body">
            <p class="what-text">
              We aim to gather and curate (all) knowledge around island metabolism in one central platform in order to make it accessible to different target audiences.
            </p>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-lg-3 mb-4">
        <div class="card icon-card">
          <div class="icon bg-{% if alternative_design %}light{% else %}primary{% endif %}">
            <i class="fal fa-fw fa-wrench {% if not alternative_design %} text-light{% endif %}"></i>
          </div>
          <div class="card-header bg-{% if alternative_design %}light text-dark{% else %}primary text-light{% endif %}">
            <h5>Apply knowledge</h5>
          </div>
          <div class="card-body">
            <p class="what-text">
              We process and visualise data to help policy makers and practitioners to tackle their challenges with Island Metabolism thinking.
            </p>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-lg-3 mb-4">
        <div class="card icon-card clickable-card" data-url="/hub/forum">
          <div class="icon bg-{% if alternative_design %}light{% else %}primary{% endif %}">
            <i class="fal fa-fw fa-user-friends {% if not alternative_design %} text-light{% endif %}"></i>
          </div>
          <div class="card-header bg-{% if alternative_design %}light text-dark{% else %}primary text-light{% endif %}">
            <h5>Foster a community</h5>
          </div>
          <div class="card-body">
            <p class="what-text">
              We believe that tackling the island sustainability challenge can not be done alone. We want to foster a community of stakeholders that collaborates on developing solutions.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section>
  <div class="container">
    <h2 class="text-center font-weight-bold my-4 ">Check out these instructions videos on how to contribute to our website</h2>
    <div class="row pt-4">
      <div class="col-md-6 col-lg-3 mb-4">
        <div class="card icon-card clickable-card" data-url="https://multimedia.metabolismofcities.org/videos/collection/754/">
          <div class="icon bg-primary">
            <i class="fal fa-fw fa-upload text-light"></i>
          </div>
          <div class="card-header bg-primary text-light">
            <h5>Contribute Dataset</h5>
          </div>
          <div class="card-body">
            <p class="what-text">
              Watch these videos to familiarize yourselves with uploading your data to our website.
            </p>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-lg-3 mb-4">
        <div class="card icon-card clickable-card" data-url="">
          <div class="icon bg-{% if alternative_design %}light{% else %}primary{% endif %}">
            <i class="fal fa-fw fa-book {% if not alternative_design %} text-light{% endif %}"></i>
          </div>
          <div class="card-header bg-{% if alternative_design %}light text-dark{% else %}primary text-light{% endif %}">
            <h5>Contribute Publications</h5>
          </div>
          <div class="card-body">
            <p class="what-text">
              Watch these videos to familiarize yourselves with uploading your publications to our website.
            </p>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-lg-3 mb-4">
        <div class="card icon-card clickable-card" data-url="past-islands-visualisations/">
          <div class="icon bg-{% if alternative_design %}light{% else %}primary{% endif %}">
            <i class="fal fa-fw fa-image {% if not alternative_design %} text-light{% endif %}"></i>
          </div>
          <div class="card-header bg-{% if alternative_design %}light text-dark{% else %}primary text-light{% endif %}">
            <h5>Data Visualisations</h5>
          </div>
          <div class="card-body">
            <p class="what-text">
              Take a look at how we process and help you visualise your own data.
            </p>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-lg-3 mb-4">
        <div class="card icon-card clickable-card" data-url="https://education.metabolismofcities.org/courses/data-and-urban-metabolism-data-processing/">
          <div class="icon bg-{% if alternative_design %}light{% else %}primary{% endif %}">
            <i class="fal fa-fw fa-chalkboard-teacher {% if not alternative_design %} text-light{% endif %}"></i>
          </div>
          <div class="card-header bg-{% if alternative_design %}light text-dark{% else %}primary text-light{% endif %}">
            <h5>Course</h5>
          </div>
          <div class="card-body">
            <p class="what-text">
              Need to process and visualize data? Take this online course!
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="projects bg-primary text-light">
  <div class="container text-dark">
      {% include "data/_space.progress.html" %}
  </div>
    <div class="text-center mt-4">
      <a class="btn btn-inverse btn-lg mt-4" href="overview/">
        <i class="fas fa-toolbox"></i> View all islands
      </a>
    </div>
</section>


{% if False %}
<section class="forum">
  <div class="container">
    <h2 class="text-center font-weight-bold my-4">Latest forum posts</h2>
    <div class="row mt-4">
      {% for each in posts %}
      <div class="col-lg-4 mb-4">
        <div class="card">
          <div class="card-body">
            <div class="card-text font-weight-bold">
              <a href="forum/{{ each.id }}/">{{ each }}</a>
            </div>
            <p class="card-text">
              {{ each.last_update.get_description|truncatewords_html:20 }}
            </p>
          </div>
          <div class="card-footer">
            {{ each.last_update.posted_by.avatar }}
            <a href="">{{ each.last_update.posted_by }}</a> 
            {{ each.last_update.date_created|naturaltime }}
          </div>
        </div>
      </div>
      {% endfor %}
    </div>

    <div class="text-center pt-4">
      <a class="btn btn-primary btn-lg" href="/forum/">
        <i class="fas fa-comments-alt"></i> Go to the forum
      </a>
    </div>
  </div>
</section>
{% endif %}

<section class="news">
  <div class="container">
    <h2 class="text-center font-weight-bold my-4">Latest news</h2>
    <div class="row my-4">
      {% for each in news %}
        <div class="col-lg-4 mb-sm-4 mb-lg-0">
          <a class="card btn-card" href="{% url "core:news" each.slug %}">
            {% if each.image %}
              <img src="{{ each.image.thumbnail.url }}" class="card-img-top" alt="">
            {% endif %}
            <div class="card-body">
              <h5 class="card-title">
                {{ each }}
              </h5>
              <div class="card-text">
              {{ each.get_description|truncatewords:20|striptags }}
              </div>
            </div>
          </a>
        </div>
      {% endfor %}
    </div>

    <div class="text-center pt-4">
      <a class="btn btn-primary btn-lg" href="news/">
        <i class="fas fa-newspaper"></i> All news
      </a>
    </div>
  </div>
</section>

<section class="social bg-primary border-bottom border-light text-light text-center">
  <div class="container">
    <h2 class="font-weight-bold my-4">Follow us</h2>
    <a class="text-light" href="javascript:alert('Coming soon!')"><i class="fab fa-twitter fa-3x m-4"></i></a>
    <div>
      <a class="btn btn-lg btn-inverse-outline my-4" href="/newsletter/">
        <i class="fa fa-paper-plane"></i> Subscribe to our newsletter</a>
    </div>
  </div>
</section>

<div>  <!-- open div because we closed the main content container earlier -->

{% endblock %}

{% block footer %}
  <script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.5.9/slick.min.js"></script>
  <script>
    $(".slick").slick({
      centerMode: true,
      slidesToShow: 3,
      infinite: true,
      speed: 600,
      centerPadding: "0",
      cssEase: "linear",
      autoplay: true,
      dots: true,
      autoplaySpeed: 4000,
      responsive: [
        {
          breakpoint: 1024,
          settings: {
            slidesToShow: 1,
          }
        },
      ]
    });
    $(document).ready(function () {
      $(".clickable-card").on("click", function () {
        window.location.href = $(this).data("url");
      });
    });
  </script>
{% endblock %}
