{% load static %}

<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<link href="//fonts.googleapis.com/css?family=Open+Sans:300,400,600,700&amp;subset=latin" rel="stylesheet">

{% if request.GET.logo2 %}
<link href="https://fonts.googleapis.com/css?family=PT+Sans+Narrow" rel="stylesheet">
{% endif %}

<link href="{% static 'ie/css/bootstrap.min.css' %}" rel="stylesheet">
<link href="{% static 'ie/css/nifty.min.css' %}" rel="stylesheet">
<link href="{% static 'ie/css/themes/type-a/theme-dust.min.css' %}" rel="stylesheet">
<link href="{% static 'ie/premium/icon-sets/icons/line-icons/premium-line-icons.min.css' %}" rel="stylesheet">
<link href="{% static 'ie/premium/icon-sets/icons/solid-icons/premium-solid-icons.min.css' %}" rel="stylesheet">

{% if datatables %}
  <link href="{% static 'ie/css/datatables.css' %}" rel="stylesheet"/>
{% endif %}

{% if select2 %}
  <link rel="stylesheet" href="{% static 'ie/css/select2.min.css' %}" />
{% endif %}

<link rel="shortcut icon" type="image/ico" href="{% static 'ie/img/favicon.ico' %}"/>

{% if SITE_ID == 1 %}
<link rel="apple-touch-icon" sizes="180x180" href="{% static 'ie/img/favicon/apple-touch-icon.png' %}">
<link rel="icon" type="image/png" sizes="32x32" href="{% static 'ie/img/favicon/favicon-32x32.png' %}">
<link rel="icon" type="image/png" sizes="16x16" href="{% static 'ie/img/favicon/favicon-16x16.png' %}">
<link rel="manifest" href="{% static 'ie/img/favicon/site.webmanifest' %}">
<meta name="msapplication-TileColor" content="#da532c">
<meta name="theme-color" content="#ffffff">
{% endif %}


<link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.7.1/css/all.css" integrity="sha384-6jHF7Z3XI3fF4XZixAuSu0gGKrXwoX/w3uFPxC56OtjChio7wtTGJWRW53Nhx6Ev" crossorigin="anonymous">

{% if tinymce %}
  <script type="text/javascript" src="{% static 'tinymce/js/tinymce/tinymce.min.js' %}"></script>
{% endif %}

{% if gallery %}
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fancyapps/fancybox@3.5.6/dist/jquery.fancybox.min.css">
{% endif %}

{% if map %}
  <link rel="stylesheet" href="https://unpkg.com/leaflet@1.3.4/dist/leaflet.css" />
  <link rel="stylesheet" href="{% static 'ie/css/leaflet-fullscreen.css' %}" />
{% endif %}

<link href="{% static 'ie/css/style.css' %}?20190829" rel="stylesheet">

{% if SITE_ID == 1 %}
  <link href="{% static 'ie/css/styles.1.css' %}?20190829" rel="stylesheet">
{% else %}
  <link href="{% static 'ie/css/styles.2.css' %}?20190829" rel="stylesheet">
{% endif %}

