{% extends "_base.html" %}

{% block head %}
<style type="text/css">
#w2{display:none}
.period-dropdown, .bi-caret-up{display:none}
</style>
{% endblock %}

{% block content %}

<ul class="nav nav-tabs">
  <li class="nav-item">
    <a class="nav-link waterlink active" href="#" data-id="w1">Niveau 1</a>
  </li>
  <li class="nav-item">
    <a class="nav-link waterlink" href="#" data-id="w2">Niveau 2</a>
  </li>

  <li class="nav-item ml-auto">
    <a class="nav-link button" id="current-period" href="#" >Period: Jan-Dec 2022 

    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-caret-down" viewBox="0 0 16 16">
      <path d="M3.204 5h9.592L8 10.481 3.204 5zm-.753.659 4.796 5.48a1 1 0 0 0 1.506 0l4.796-5.48c.566-.647.106-1.659-.753-1.659H3.204a1 1 0 0 0-.753 1.659z"/>
    </svg>

    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-caret-up" viewBox="0 0 16 16">
      <path d="M3.204 11h9.592L8 5.519 3.204 11zm-.753-.659 4.796-5.48a1 1 0 0 1 1.506 0l4.796 5.48c.566.647.106 1.659-.753 1.659H3.204a1 1 0 0 1-.753-1.659z"/>
    </svg>

    </a>
  </li>
</ul> 

<form class="form form-inline period-dropdown p-2 float-right">
  <select class="form-control mr-2">
    <option value="">Jan 2022</option>
  </select>
  <select class="form-control mr-2">
    <option value="">Dec 2022</option>
  </select>
  <button type="submit" class="btn btn-success">Change</button>
</form>

<div class="watergraphs">
  <div id="w1">
  <img src="/media/water/sankeys/water1.png" style="max-width:100%;min-width:1110px" alt="" id="w1"/>
  </div>
  <div id="w2">
    <img src="/media/water/sankeys/water2.png" style="max-width:100%" alt="" />
  </div>
</div>

<h1 hidden class="text-center mt-4">Maps and data</h1>

<div hidden class="row progress-list">
  {% for tag in infrastructure %}
    <div class="col-md-6 col-lg-4 mb-4">
      <div class="card icon-card">
        <div class="icon">
          <i class="far fa-fw fa-{{ tag.icon }}"></i>
        </div>
        <div class="card-body">
          <h5 class="card-title mb-3">{{ tag }}</h5>
          <ul class="list-group list-group-flush">
            {% for each in documents %}
              {% if tag in each.tags.all %}
              <li class="list-group-item">
                <a href="{% url "water:infrastructure_map" each.id %}{% if request.GET.region %}?boundaries={{ request.GET.region }}&amp;restrict_to_within_boundaries=true{% endif %}">
                {{ each.name }}
                </a>
              </li>
              {% endif %}
            {% endfor %}
          </ul>
        </div>
      </div>
    </div>
  {% endfor %}

  <div class="col-md-6 col-lg-4 mb-4">
    <div class="card icon-card">

      <div class="icon">
        <i class="far fa-fw fa-exchange"></i>
      </div>

      <div class="card-body">
        <h5 class="card-title mb-3">Flows</h5>
        <ul class="list-group list-group-flush">
          {% for each in documents_flows %}
            <li class="list-group-item">
              <a href="{% url URLS.LIBRARY_ITEM each.id %}{% if request.GET.region %}?boundaries={{ request.GET.region }}&amp;restrict_to_within_boundaries=true{% endif %}">
              {{ each.name }}
              </a>
              <br>
              <a href="{% url "water:dashboard" %}?document={{ each.id }}">Compare regions</a>
            </li>
          {% endfor %}
          <li class="list-group-item">
            <a href="{% url "water:dashboard" %}?region={% if request.GET.region %}{{ request.GET.region }}{% else %}1012156{% endif %}">View all charts</a>
          </li>
        </ul>
      </div>

    </div>

  </div>
</div>

{% endblock %}

{% block footer %}
<script type="text/javascript">
$(function(){
  $(".waterlink").click(function(e){
    $(".waterlink").removeClass("active");
    $(this).addClass("active");
    e.preventDefault();
    var id = $(this).data("id");
    console.log(id);
    $(".watergraphs div").hide();
    $("#" + id).show();
  });
});
</script>
{% include "water/_flows-buttons.js" %}
{% endblock %}
