<h1 class="mb-0">Dunder Miflin</h1>

<a class="btn btn-sm btn-primary-basic" href="/platformu/admin/"><i class="fas fa-angle-left"></i> Back to admin overview</a>

<ul class="nav nav-tabs my-4">
  <li class="nav-item">
    <a class="nav-link{% if page == 'entity' %} active{% endif %}" href="/platformu/admin/entities/1/">Details</a>
  </li>
  <li class="nav-item">
    <a class="nav-link{% if page == 'entity_form' %} active{% endif %}" href="/platformu/admin/entities/1/edit/">Edit</a>
  </li>
  <li class="nav-item">
    <a class="nav-link{% if page == 'entity_users' %} active{% endif %}" href="/platformu/admin/entities/1/users/">Users</a>
  </li>
  <li class="nav-item">
    <a class="nav-link{% if page == 'entity_materials' %} active{% endif %}" href="/platformu/admin/entities/1/materials/">Materials and products</a>
  </li>
  <li class="nav-item">
    <a class="nav-link{% if page == 'entity_data' %} active{% endif %}" href="/platformu/admin/entities/1/data/">Data</a>
  </li>
  <li class="nav-item">
    <a class="nav-link{% if page == 'entity_log' %} active{% endif %}" href="/platformu/admin/entities/1/log/">Log</a>
  </li>
</ul>
