{% extends "_base.html" %}

{% block title %}Metabolism Manager{% endblock %}

{% block content %}
  {% if not tags %}
    <h2>Organisations</h2>
    <div class="alert alert-warning">
      You don't have any clusters yet. Please set up a cluster to get started.
      A cluster is a way to group the organisations that you manage. You could do this by area (e.g. New York cluster),
      by type (e.g. Plumbing cluster), or by any other criteria as you see fit.
   </div>
  {% endif %}
  {% for each in tags %}
    <section>
      <h3>Cluster {{ forloop.counter }}: {{ each.name }}</h3>
      {% if each.record_set.all %}
        <div class="mb-4 table-responsive">
          <table class="table bg-white mb-0">
            <thead>
              <tr>
                <th>Name</th>
                <th>Sector</th>
                <th>Employees</th>
                <th>Last updated</th>
                <th>Active</th>
              </tr>
            </thead>
            <tbody>
              {% for details in each.record_set.all %}
                <tr>
                  <td><a href="{% url 'platformu:admin_entity' my_organization.id details.id %}">{{ details }}</a></td>
                  <td>
                    {% for sector in details.sectors.all %}
                      {{ sector }}
                    {% endfor %}
                  </td>
                  <td>{{ details.meta_data.employees }}</td>
                  <td>{{ details.meta_data.updated_at }}</td>
                  <td>
                    {% if details.is_deleted %}
                      <i class="far fa-times-circle text-danger"></i>
                    {% else %}
                      <i class="far fa-check-circle text-success"></i>
                    {% endif %}
                  </td>
                </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      {% endif %}
      <a class="btn btn-primary" href="{% url 'platformu:admin_entity_form' my_organization.id %}?tag={{ each.id }}"><i class="fas fa-plus"></i> Add new organisation</a>

      <!-- <a class="btn btn-primary-basic" href="configure/"><i class="far fa-cog"></i> Cluster configuration</a> -->
    </section>
  {% endfor %}
  <section>
    <h3>New cluster</h3>
    <form method="post" class="form-inline">
      {% csrf_token %}
      <div class="form-group mb-2 mr-2">
        <label for="name" class="sr-only">Name</label>
        <input type="text" name="name" class="form-control" id="name" placeholder="Name" required>
      </div>
      <button type="submit" class="btn btn-primary mb-2"><i class="fas fa-plus"></i> Add cluster</button>
    </form>
  </section>

  <section>
    <h3>Import organisations</h3>
    <div class="row">
      <div class="col-md-6">
        <div class="border bg-white p-3 mb-4">
          <p class="mb-4">
            <i class="fal fa-exclamation-circle mr-2"></i> It's important to use the right format when importing organizations. Please save your spreadsheet as a .csv file and use the column headers <code>name</code> and <code>cluster</code> as shown in the table.
          </p>

          <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <input type="file" accept=".csv" name="import">
            <br>
            <button type="submit" class="btn btn-primary mt-4">
              <i class="fa fa-file-import mr-2"></i> Import
            </button>
          </form>
        </div>
      </div>
      <div class="col-md-6">
        <table class="table bg-white">
          <thead>
            <tr>
              <th class="text-monospace">name</th>
              <th class="text-monospace">cluster</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>Business, Inc.</td>
              <td>3</td>
            </tr>
            <tr>
              <td>Kramerica Industries</td>
              <td>14</td>
            </tr>
          </tbody>
        </table>

        <div class="border bg-white p-3 mb-4">
          <p class="mb-0">
            <i class="fal fa-info-circle mr-2"></i> At the moment it's only possible to import organisations' names and clusters. We're working on importing more organisational information as well as importing resource data.
          </p>
        </div>
      </div>
    </div>
  </section>
{% endblock %}
