{% extends "_base.html" %}

{% block title %}Metabolism Manager{% endblock %}

{% block content %}
  {% if not tags %}
    <h2>Organisations</h2>
    <div class="alert alert-warning">
      You don't have any clusters yet. Please set up a cluster to get started.
      A cluster is a way to group the organisations that you manage. You could do this by area (e.g. New York cluster),
      by type (e.g. Plumbing cluster), or by any other criteria as you see fit.
   </div>
  {% endif %}
  {% for each in tags %}
    <section>
      <h3>Cluster {{ forloop.counter }}: {{ each.name }}</h3>
      {% if each.record_set.all %}
        <div class="mb-4 table-responsive">
          <table class="table mb-0">
            <thead>
              <tr>
                <th class="border-0">Name</th>
                <th class="border-0 medium-cell">Sector</th>
                <th class="border-0 medium-cell">Employees</th>
                <th class="border-0 narrow-cell">Active</th>
              </tr>
            </thead>
            <tbody>
              {% for details in each.record_set.all %}
                <tr>
                  <td><a href="../entities/{{ details.id }}/">{{ details }}</a></td>
                  <td>
                    {% for sector in details.sectors.all %}
                      {{ sector }}
                    {% endfor %}
                  </td>
                  <td>{{ details.meta_data.employees }}</td>
                  <td>
                    {% if details.is_deleted %}
                      <i class="far fa-times-circle text-danger"></i>
                    {% else %}
                      <i class="far fa-check-circle text-success"></i>
                    {% endif %}
                  </td>
                </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      {% endif %}
      <a class="btn btn-primary" href="../entities/create/?tag={{ each.id }}"><i class="fas fa-plus"></i> Add new organisation</a>
      <a style="display:none" class="btn btn-primary-basic" href="configure/"><i class="far fa-cog"></i> Cluster configuration</a>
    </section>
  {% endfor %}
  <section>
    <h3>New cluster</h3>
    <form method="post" class="form-inline">
      {% csrf_token %}
      <div class="form-group mb-2 mr-2">
        <label for="name" class="sr-only">Name</label>
        <input type="text" name="name" class="form-control" id="name" placeholder="Name">
      </div>
      <button type="submit" class="btn btn-primary mb-2"><i class="fas fa-plus"></i> Add cluster</button>
    </form>
  </section>
{% endblock %}
