{% extends "_base.html" %}
{% load static %}
{% load moc_extras %}

{% block title %}Metabolism Manager dashboard{% endblock %}

{% block head %}
  <link rel="stylesheet" href="{% static 'css/leaflet.awesome-markers.css' %}">
  <link rel="stylesheet" href="https://unpkg.com/leaflet.markercluster@1.4.1/dist/MarkerCluster.Default.css">
  <link rel="stylesheet" href="https://unpkg.com/leaflet.markercluster@1.4.1/dist/MarkerCluster.css">
  <style>
    .badge {
      line-height: .75;
    }

    .leaflet-map {
      box-shadow: none;
      height: 700px;
      max-height: 90vh;
      position: sticky !important;
    }

    .map-listing {
      font-size: .75rem;
    }

    .map-listing table {
      margin-bottom: 0;
    }

    .map-listing tbody tr:hover {
      background-color: #efefef;
      cursor: pointer;
    }

    .map-listing thead th {
      text-align: center;
    }

    .leaflet-popup-content {
      margin: 0;
    }

    .popup-title {
      font-weight: bold;
      font-size: 1rem;
      padding: .75rem 1.25rem;
    }

    #latest .card-img-top {
      object-fit: contain;
    }

    .awesome-marker i {
      margin-top: 12px;
      font-size: 13px;
    }
  </style>
{% endblock %}

{% block content %}

  <h3>Dashboard</h3>

  <ul class="nav nav-tabs mb-4" role="tablist">
    <li class="nav-item">
      <a class="nav-link active" id="overview-tab" data-toggle="tab" href="#overview" role="tab" aria-controls="overview" aria-selected="true">Map</a>
    </li>
    {% for key,data in types.items %}
      <li class="nav-item">
        <a class="nav-link" id="{{ key }}-tab" data-toggle="tab" href="#{{ key }}" role="tab" aria-controls="{{ key }}" aria-selected="false">
          {{ key }} <span class="badge badge-dark ml-2">{{ data|length }}</span>
        </a>
      </li>
    {% endfor %}
    <li class="nav-item">
      <a class="nav-link" id="latest-tab" data-toggle="tab" href="#latest" role="tab" aria-controls="latest" aria-selected="false">
        Latest <span class="badge badge-dark ml-2">{{ latest|length }}</span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" id="current-tab" data-toggle="tab" href="#current" role="tab" aria-controls="current" aria-selected="false">
        Current demand / supply <span class="badge badge-dark ml-2">{{ current|length }}</span>
      </a>
    </li>
  </ul>

  <div class="tab-content" id="myTabContent">
    <div class="tab-pane show active" id="overview" role="tabpanel" aria-labelledby="overview-tab">
      {% if not gps.lat or not gps.lng %}
        <div class="alert alert-danger">
          Sorry, the GPS coordinates for <a href="{% url 'platformu:admin' %}">your organisations</a> are not set properly. Please check the values so that we can generate the map for you.
        </div>
      {% endif %}

      <form class="row filters mb-2">
        <div class="col-md-6 col-lg-6 mb-2">
          <label class="sr-only" for="material">Layer</label>
          <div class="input-group mb-2">
            <div class="input-group-prepend">
              <div class="input-group-text">Layer</div>
            </div>
            <select class="custom-select material filter">
              <option value="all">All layers</option>
              {% for each in material_list %}
                <option value="{{ each.material_type__name }}">{{ each.material_type__parent__name }} - {{ each.material_type__name }}</option>
              {% endfor %}
            </select>
          </div>
        </div>
        <div class="col-md-6 col-lg-3 mb-2">
          <label class="sr-only" for="status">Type</label>
          <div class="input-group mb-2">
            <div class="input-group-prepend">
              <div class="input-group-text">Type</div>
            </div>
            <select class="custom-select status filter">
              <option value="all" selected>Any</option>
              <option value="Supply">Supply</option>
              <option value="Demand">Demand</option>
            </select>
          </div>
        </div>
        <div class="col-md-6 col-lg-3 mb-2">
          <label class="sr-only" for="from">Date</label>
          <div class="input-group mb-2">
            <div class="input-group-prepend">
              <div class="input-group-text">Date</div>
            </div>
            <input type="date" class="form-control from filter" id="from">
          </div>
        </div>
      </form>

      <section class="row">
        <div class="col-lg-9">
          <div id="map" class="leaflet-map border rounded-0 sticky-top"></div>
        </div>
        <div class="col-lg-3 map-listing">
          <table class="table table-sm">
            <thead>
              <tr>
                <th colspan="3"><span id="listing-count"></span> listing(s) found</th>
              </tr>
            </thead>
            <tbody>
            </tbody>
          </table>
        </div>

      </section>
    </div>

    {% for key,data in types.items %}
      <div class="tab-pane" id="{{ key }}" role="tabpanel" aria-labelledby="{{ key }}-tab">
        <table class="table datatable">
          <thead>
            <tr>
              <th>Available from</th>
              <th>Until</th>
              <th>Type</th>
              {% if key == "Resources" %}
                <th>Name</th>
              {% endif %}
              <th>Quantity</th>
              <th>Organisation</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
          {% for each in data %}
            <tr>
              <td class="text-nowrap">
                {{ each.start_date|date:'d N Y' }}
              </td>
              <td class="text-nowrap">
                {{ each.end_date|date:'d N Y' }}
              </td>
              {% if key == "Resources" %}
                <td class="text-nowrap">{{ each.material_type.parent }}</td>
              {% endif %}
              <td class="text-nowrap">
              {% if each.name %}
                {{ each.name }}<br>
              {% endif %}
              {{ each.material_type }}</td>
              <td class="text-nowrap">{{ each.absolute_quantity }} {{ each.unit.symbol }}</td>
              <td class="text-nowrap">{{ each.owner }}</td>
              <td class="has-button text-right">
                <a class="btn btn-primary btn-sm" href="{% url 'platformu:admin_datapoint' each.id %}"><i class="far mr-0 fa-info-circle"></i></a>
              </td>
            </tr>
          {% endfor %}
          </tbody>
        </table>
      </div>
    {% endfor %}

    <div class="tab-pane" id="latest" role="tabpanel" aria-labelledby="latest-tab">
      <div class="row">
        {% for each in latest %}
          <div class="col-md-6 col-lg-4 mb-4">
            <div class="card">
              <div class="card-header">{{ each.owner }}</div>
              {% if each.owner.image %}
                <img src="{{ each.owner.image.url }}" class="card-img-top p-3" alt="{{ each.owner }}">
              {% endif %}
              <ul class="list-group list-group-flush">
                {% if each.owner.meta_data.address %}
                  <li class="list-group-item"><i class="fal fa-fw fa-map-marker-alt mr-2"></i> {{ each.owner.meta_data.address }}</li>
                {% endif %}
                <li class="list-group-item"><i class="fal fa-fw fa-{{ each.material_type.parent.icon }} mr-2"></i>{{ each.material_type }}</li>
                <li class="list-group-item"><i class="fal fa-fw fa-balance-scale mr-2"></i>{{ each.absolute_quantity }} {{ each.unit.symbol }}</li>
                <li class="list-group-item text-{% if each.type == 'supply' %}primary{% else %}secondary{% endif %}">
                  <i class="fal fa-fw fa-{% if each.type == 'supply' %}sign-out{% else %}sign-in{% endif %} mr-2"></i>
                  {% if each.type == "supply" %}Supply{% else %}Demand{% endif %}
                </li>
                <li class="list-group-item"><i class="fal fa-fw fa-calendar mr-2"></i>{{ each.start_date|date:'d N Y' }} - {{ each.end_date|date:'d N Y' }}</li>
                <li class="list-group-item"><i class="fal fa-fw fa-calendar-plus mr-2"></i> Added on {{ each.date_created|date:'d F' }}</li>
                <li class="list-group-item text-center">
                  <a class="btn btn-primary" href="{% url 'platformu:admin_datapoint' each.id %}">More details</a>
                </li>
              </ul>
            </div>
          </div>
        {% endfor %}
      </div>
    </div>

    <div class="tab-pane" id="current" role="tabpanel" aria-labelledby="current-tab">
      <div class="row">
        {% for each in current %}
          <div class="col-md-6 col-lg-4 mb-4">
            <div class="card">
              <div class="card-header">{{ each.owner }}</div>
              {% if each.owner.image %}
                <img src="{{ each.owner.image.url }}" class="card-img-top p-3" alt="{{ each.owner }}">
              {% endif %}
              <ul class="list-group list-group-flush">
                {% if each.owner.meta_data.address %}
                  <li class="list-group-item"><i class="fal fa-fw fa-map-marker-alt mr-2"></i> {{ each.owner.meta_data.address }}</li>
                {% endif %}
                <li class="list-group-item"><i class="fal fa-fw fa-{{ each.material_type.parent.icon }} mr-2"></i>{{ each.material_type }}</li>
                <li class="list-group-item"><i class="fal fa-fw fa-balance-scale mr-2"></i>{{ each.absolute_quantity }} {{ each.unit.symbol }}</li>
                <li class="list-group-item text-{% if each.type == 'supply' %}primary{% else %}secondary{% endif %}">
                  <i class="fal fa-fw fa-{% if each.type == 'supply' %}sign-out{% else %}sign-in{% endif %} mr-2"></i>
                  {% if each.type == "supply" %}Supply{% else %}Demand{% endif %}
                </li>
                <li class="list-group-item"><i class="fal fa-fw fa-calendar mr-2"></i>{{ each.start_date|date:'d N Y' }} - {{ each.end_date|date:'d N Y' }}</li>
                <li class="list-group-item"><i class="fal fa-fw fa-clock mr-2"></i> Available for  {{ each.end_date|timeuntil:today }}</li>
                <li class="list-group-item text-center">
                  <a class="btn btn-primary" href="{% url 'platformu:admin_datapoint' each.id %}">More details</a>
                </li>
              </ul>
            </div>
          </div>
        {% endfor %}
      </div>
    </div>
  </div>

{% endblock %}

{% block footer %}
  <script src="{% static 'js/leaflet.awesome-markers.min.js' %}"></script>
  <script src="{% static 'js/leaflet.markercluster.js' %}"></script>
  <script>
    // a list of all the offers and requests for materials
    const allListings = [
      {% for each in data %}
        {
          "lat": {{ each.owner.meta_data.lat }},
          "lng": {{ each.owner.meta_data.lng }},
          "name": "{{ each.owner }}",
          "id": "{{ each.id }}",
          "address": "{{ each.owner.meta_data.address }}",
          "material": "{{ each.material_type }}",
          "icon": "{{ each.material_type.parent.icon }}",
          "quantity": "{{ each.absolute_quantity }} {{ each.unit }}",
          "status": "{% if each.type == 'supply' %}Supply{% else %}Demand{% endif %}",
          "status_icon": "{% if each.type == 'supply' %}sign-out{% else %}sign-in{% endif %}",
          "status_color": "{% if each.type == 'supply' %}primary{% else %}secondary{% endif %}",
          "marker_color": "{% if each.type == 'supply' %}cadetblue{% else %}darkred{% endif %}",
          "start_date": {{ each.start_date|date:"U" }},
          "end_date": {{ each.end_date|date:"U" }},
        },
      {% endfor %}
    ]

    // creating layer variable, useful so that we can check its existence and manipulate it later
    var filteredLayer = false;

    // function to update the map listing
    function refreshListing() {
      // remove existing entries in list
      $(".map-listing tbody").html("");

      // add listings
      $(filteredLayer.getLayers()).each(function() {
        $(".map-listing tbody").append("<tr data-id='" + this.options.id + "'><td class='text-center'><i class='fal fa-fw fa-" + this.options.status_icon + " text-" + this.options.color + "'></i></td><td>" + this.options.material + "</td><td>" + this.options.quantity + "</td></tr>")
      })

      // add count to header
      $("#listing-count").text(filteredLayer.getLayers().length);
    }

    // date options to show in popup
    var dateOptions = {year: 'numeric', month: 'long', day: 'numeric'};

    // function to show filtered items on the map
    function filterListings() {
      // if it exists, remove the layer currently on the map
      if (filteredLayer != false) {
        filteredLayer.removeFrom(map)
      }

      // check what the user has selected in the dropdowns
      var status = $("form select.status").val()
      var material = $("form select.material").val()

      var get_date = $("form #from").val()
          if (get_date != "") {
            get_date = new Date(get_date).getTime();
            get_date = get_date / 1000;
          }

      // add all listings to the filter array
      var filteredListings = [];

      $.extend(filteredListings, allListings);

      // inefficiently filtering one by one - could/should be improved
      // filter status
      for (var i = filteredListings.length - 1; i >= 0; i--) {
        if (status != "all") {
          if (filteredListings[i].status != status) {
            filteredListings.splice(i, 1);
          }
        }
      }

      // filter material
      for (var i = filteredListings.length - 1; i >= 0; i--) {
        if (material != "all") {
          if (filteredListings[i].material != material) {
            filteredListings.splice(i, 1);
          }
        }
      }

      // filter start date
      for (var i = filteredListings.length - 1; i >= 0; i--) {
        if (get_date != "") {
          if (filteredListings[i].start_date > get_date || filteredListings[i].end_date < get_date) {
            filteredListings.splice(i, 1);
          }
        }
      }

      // create the cluster group
      filteredLayer = L.markerClusterGroup({
        spiderfyOnEveryZoom: true,
        zoomToBoundsOnClick: false,
        showCoverageOnHover: false,
        removeOutsideVisibleBounds: false
      });

      // take the listings and add them to the cluster group
      // enable popups so na user can click on an object on the map and see extra information
      for (var i = 0; i < filteredListings.length; i++) {
        let listing = filteredListings[i];

        var uglyFrom = new Date(listing.start_date * 1000);
        var prettyFrom = uglyFrom.toLocaleDateString('en-GB', dateOptions);

        var uglyTo = new Date(listing.end_date * 1000);
        var prettyTo = uglyTo.toLocaleDateString('en-GB', dateOptions);

        var popupContent = "<div class='popup-title'>" + listing.name + "</div><div class='popup-content'><ul class='list-group list-group-flush'><li class='list-group-item'><i class='far fa-fw fa-map-marker-alt mr-2'></i>" + listing.address + "</li><li class='list-group-item'><i class='far fa-fw fa-" + listing.icon + " mr-2'></i>" + listing.material + "</li><li class='list-group-item'><i class='far fa-fw fa-balance-scale mr-2'></i>" + listing.quantity + "</li><li class='list-group-item text-" + listing.status_color + "'><i class='far fa-fw fa-" + listing.status_icon + " mr-2'></i>" + listing.status + "</li><li class='list-group-item'><i class='far fa-fw fa-calendar mr-2'></i>" + prettyFrom + " - " + prettyTo + "</li><li class='list-group-item text-center'><a class='btn btn-sm btn-primary' href='../data/" + listing.id + "/'>More details</a></li></ul></div>"

        var iconMarker = L.AwesomeMarkers.icon({
          icon: listing.icon,
          markerColor: listing.marker_color
        });

        var marker = L.marker(new L.LatLng(filteredListings[i].lat, filteredListings[i].lng), {
          "id": listing.id,
          "name": listing.name,
          "status_icon": listing.icon,
          "color": listing.status_color,
          "material": listing.material,
          "quantity": listing.quantity,
          "icon": iconMarker,
        }).bindPopup(popupContent);

        filteredLayer.addLayer(marker);
      }

      // add the cluster group to the map
      map.addLayer(filteredLayer).fitBounds(filteredLayer.getBounds())

      refreshListing()
    }

    // run filter whenever one of the filters changes
    $(".filter").change(function() {
      filterListings()
    })

    // reset filters, show listings on load
    filterListings();

    $("body").on("click", ".map-listing tr:not(.header)", function() {
      let id = $(this).attr("data-id");

      let selectedMarker = filteredLayer.getLayers().find(x => x.options.id === id);

      filteredLayer.zoomToShowLayer(selectedMarker, function() {
        selectedMarker.openPopup();
        map.setView(selectedMarker.getLatLng());
      })

    })
  </script>
{% endblock %}
