{% extends "_base.html" %}

{% block title %}Data log{% endblock %}

{% block head %}
<style>
  .text-truncate {
    max-width: 200px;
  }

  div.dt-buttons {
    position: relative;
    float: left;
  }
</style>
{% endblock %}

{% block content %}

  <h1>Data log</h1>

  <p>This page shows a log of all data entered into the system.</p>

  {% for key,data in types.items %}
    <h2 class="mt-5">{{ key }}</h2>
    <table class="table log-table">
      <thead>
        <tr>
          <th>Status</th>
          <th>From</th>
          <th>Until</th>
          <th>Type</th>
          {% if key == "Resources" or key == "Technology" %}
            <th>Name</th>
          {% endif %}
          <th>Quantity</th>
          <th>Organisation</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
      {% for each in data %}
        <tr>
          <td class="text-nowrap">
            {% if each.type == "demand" %}
              <i class="fal fa-sign-in fa-fw mr-2 text-secondary"></i> Demand
            {% else %}
              <i class="fal fa-sign-out fa-fw mr-2 text-primary"></i> Supply
            {% endif %}
          </td>
          <td class="text-nowrap">{{ each.start_date }}</td>
          <td class="text-nowrap">{{ each.end_date }}</td>
          {% if key == "Resources" or key == "Technology" %}
            <td>{{ each.material_type.parent }}</td>
          {% endif %}
          <td class="text-nowrap">
          {% if each.name %}
            {{ each.name }}<br>
          {% endif %}
          {{ each.material_type }}</td>
          <td class="text-nowrap">{{ each.absolute_quantity }} {{ each.unit.symbol }}</td>
          <td class="text-truncate">{{ each.owner }}</td>
          <td class="has-button">
            <a class="btn btn-sm btn-primary" href="{% url 'platformu:admin_datapoint' each.id %}"><i class="fa fa-info-circle m-0"></i></a>
          </td>
        </tr>
      {% endfor %}
      </tbody>
    </table>
  {% endfor %}

{% endblock %}

{% block footer %}
  <script type="text/javascript" language="javascript" src="https://cdn.datatables.net/buttons/1.6.5/js/dataTables.buttons.min.js"></script>
  <script type="text/javascript" language="javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
  <script type="text/javascript" language="javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/pdfmake.min.js"></script>
  <script type="text/javascript" language="javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/vfs_fonts.js"></script>
  <script type="text/javascript" language="javascript" src="https://cdn.datatables.net/buttons/1.6.5/js/buttons.html5.min.js"></script>
  <script>
    $('.log-table').DataTable( {
        dom: 'Bfrtip',
        buttons: [
          {
            extend: "copy",
            text: "<i class='fal fa-copy'></i> Copy table",
            className: "btn btn-primary-basic"
          },
          {
            extend: "csv",
            text: "<i class='fal fa-file-spreadsheet'></i> CSV",
            className: "btn btn-primary-basic"
          },
          {
            extend: "excel",
            text: "<i class='fal fa-file-excel'></i> Excel",
            className: "btn btn-primary-basic"
          },
          {
            extend: "pdf",
            text: "<i class='fal fa-file-pdf'></i> PDF",
            className: "btn btn-primary-basic"
          },
        ]
    } );
  </script>

{% endblock %}