{% extends "_base.html" %}

{% block css %}
<style>
  .card img {
    border-bottom: 1px solid rgba(0,0,0,.125);
    object-fit: contain;
  }
</style>
{% endblock %}

{% block content %}

  <h1>Data entry</h1>
  <a class="btn btn-sm btn-primary-basic" href="javascript:history.back()"><i class="fas fa-angle-left"></i> Back</a>
  <a class="btn btn-sm btn-primary-basic float-right" href="{% url 'platformu:admin_entity_material' my_organization.id info.id 'data' data.id %}"><i class="fas fa-pencil"></i> Edit</a>

  {% if data.description %}
    <div class="mb-4 mt-3">
      {{ data.description|linebreaksbr }}
    </div>
  {% endif %}

  <div class="card-deck">

    <div class="card">
      <div class="card-header">
        Details
      </div>
      {% if data.image %}
        <img src="{{ data.image.large.url }}" class="card-img-top">
      {% endif %}
      <ul class="list-group list-group-flush">

        <li class="list-group-item">
        {% if data.quantity > 0 %}
          <i class="far fa-sign-in"></i>
          Demand
        {% else %}
          <span class="text-success">
            <i class="far fa-sign-out"></i>
            Supply
          </span>
        {% endif %}
        </li>

        <li class="list-group-item">
          <i class="far fa-fw mr-2 fa-{{ data.material_type.parent.icon }}"></i>
          {{ data.material_type.parent }}: {{ data.material_type }}
        </li>

        {% if data.name %}
          <li class="list-group-item">{{ data.name }}</li>
        {% endif %}

        <li class="list-group-item"><i class="far fa-fw fa-balance-scale mr-2" aria-hidden="true"></i> {{ data.absolute_quantity }} {{ data.unit }}</li>
        <li class="list-group-item"><i class="far fa-fw fa-calendar mr-2"></i>{{ data.start_date }} - {{ data.end_date }}</li>
      </ul>
    </div>

    <div class="card">
      <div class="card-header">
        Contact information
      </div>
      {% if data.owner.image %}
        <img src="{{ data.owner.image.large.url }}" class="card-img-top">
      {% endif %}
      <ul class="list-group list-group-flush">
        <li class="list-group-item"><strong>{{ data.owner }}</strong></li>
        {% if data.owner.organization.url %}
          <li class="list-group-item">
            <i class="far fa-fw fa-link mr-2" aria-hidden="true"></i>
            {{ data.owner.organization.url }}
          </li>
        {% endif %}
        {% if data.owner.organization.email %}
          <li class="list-group-item">
            <i class="far fa-fw fa-envelope mr-2" aria-hidden="true"></i>
            {{ data.owner.organization.email }}
          </li>
        {% endif %}
        <li class="list-group-item">
        <i class="far fa-fw fa-map-marker-alt mr-2" aria-hidden="true"></i>
        {{ data.owner.meta_data.address }}</li>
      </ul>
    </div>

  </div>

{% endblock %}
