{% extends "_base.html" %}

{% block css %}
<style>
  .contact-info.card img {
    object-fit: contain;
  }

  .lightbox a {
    background-size: cover;
    background-position: center;
    cursor: zoom-in;
    display: block;
    height: 200px;
    width: 100%;
  }
</style>
{% endblock %}

{% block content %}

  <h1>{% if data.name %}{{ data.name }}{% else %}Data entry{% endif %}</h1>
  <a class="btn btn-sm btn-primary-basic" href="javascript:history.back()"><i class="fas fa-angle-left"></i> Back</a>
  <a class="btn btn-sm btn-primary-basic float-right" href="{% url 'platformu:admin_entity_material' my_organization.id info.id 'data' data.id %}"><i class="fas fa-pencil"></i> Edit</a>

  <div class="card-deck mt-3">
    <div class="card details">
      <div class="card-header">
        {% if data.name %}
          {{ data.name }}
        {% else %}
          Details
        {% endif %}
      </div>
      {% if data.image %}
        <div class="lightbox">
          <a href="{{ data.image.large.url }}" style="background-image: url('{{ data.image.thumbnail.url }}');" data-caption="{{ data.owner }}" class="card-img-top"></a>
        </div>
      {% endif %}
      <ul class="list-group list-group-flush">

        <li class="list-group-item">
        {% if data.quantity > 0 %}
          <span class="text-secondary">
            <i class="fal fa-fw mr-2 fa-sign-in"></i>
          </span>
          <span class="badge badge-secondary">Demand</span>
        {% else %}
          <span class="text-primary">
            <i class="fal fa-fw mr-2 fa-sign-out"></i>
          </span>
          <span class="badge badge-primary">Supply</span>
        {% endif %}
        </li>

        <li class="list-group-item">
          <i class="fal fa-fw mr-2 fa-{{ data.material_type.parent.icon }}"></i>
          {{ data.material_type.parent }}: {{ data.material_type }}
        </li>

        <li class="list-group-item">
          <i class="fal fa-fw fa-balance-scale mr-2" aria-hidden="true"></i> {{ data.absolute_quantity }} {{ data.unit }}
        </li>

        <li class="list-group-item">
          <i class="fal fa-fw fa-calendar mr-2"></i> {{ data.start_date|date:"d M Y" }} - {{ data.end_date|date:"d M Y"|default:"Open ended" }}
        </li>

        {% if data.description %}
          <li class="list-group-item">
            {{ data.description|linebreaksbr }}
          </li>
        {% endif %}
      </ul>
    </div>

    <div class="card contact-info">
      <div class="card-header">
        Contact information
      </div>
      {% if data.owner.image %}
        <img src="{{ data.owner.image.large.url }}" class="card-img-top p-4">
      {% endif %}
      <ul class="list-group list-group-flush">
        <li class="list-group-item">
          <i class="fal fa-fw fa-info-circle mr-2" aria-hidden="true"></i> <a href="{% url 'platformu:admin_entity' my_organization.id data.owner.organization.id %}">{{ data.owner }}</a>
        </li>
        {% if data.owner.organization.url %}
          <li class="list-group-item">
            <i class="fal fa-fw fa-link mr-2" aria-hidden="true"></i> <a href="{{ data.owner.organization.url }}">{{ data.owner.organization.url }}</a>
          </li>
        {% endif %}
        {% if data.owner.organization.email %}
          <li class="list-group-item">
            <i class="fal fa-fw fa-envelope mr-2" aria-hidden="true"></i> <a href="mailto:{{ data.owner.organization.email }}">{{ data.owner.organization.email }}</a>
          </li>
        {% endif %}
        {% if data.owner.meta_data.address %}
          <li class="list-group-item">
            <i class="fal fa-fw fa-map-marker mr-2" aria-hidden="true"></i> {{ data.owner.meta_data.address }}
          </li>
        {% endif %}
      </ul>
    </div>
  </div>

{% endblock %}
