{% extends "_base.html" %}

{% block title %}Metabolism Manager{% endblock %}

{% block content %}
  {% include "metabolism_manager/admin/_entity.menu.html" %}

  <p>Table with activated materials/products, and icons next to each name: view | edit | delete</p>
  <hr>
  <p><strong>Material | options</strong></p>
  <p>Electricity consumption | view | <a href="/platformu/admin/entities/1/materials/create/">edit</a> | delete</p>
  <p>Water consumption | view | <a href="/platformu/admin/entities/1/materials/create/">edit</a> | delete</p>
  <p>Packaging materials (plastics) | view | <a href="/platformu/admin/entities/1/materials/create/">edit</a> | delete</p>
  <p>Production output (paper) | view | <a href="/platformu/admin/entities/1/materials/create/">edit</a> | delete</p>
  <hr>

  <p><a href="/platformu/admin/entities/1/materials/create/">Add new material</a></p>
  <p>Add existing material: </p>
  <select>
    <option value=""></option>
    <option value="">Toilet role consumption</option>
    <option value="">Electricity generation (solar)</option>
    <option value="">Electricity generation (wind)</option>
    <option value="">Fuel consumption (diesel)</option>
    <option value="">Fuel consumption (petrol)</option>
  </select>
  <button type="submit">Add</button>

{% endblock %}
