{% extends "_base.html" %}

{% block title %}Metabolism Manager{% endblock %}
{% block page_name %}entity materials{% endblock %}

{% block head %}
  <style>
    #add-material table.table {
      border: none !important;
    }
  </style>
{% endblock %}


{% block content %}
  {% include "metabolism_manager/admin/_entity.menu.html" %}

  <h3>{{ slug|title }}</h3>

  {% if data %}
  <div class="table-responsive mb-4">
    <table class="table">
      <thead>
        <tr>
          <th class="border-0">Type</th>
          <th class="border-0">Name</th>
          {% if slug != "technology" %}
            <th class="border-0">Quantity</th>
          {% endif %}
          <th class="border-0">Type</th>
          {% if slug == "space" %}
            <th class="border-0">Availability</th>
          {% endif %}
          <th class="border-0">Date</th>
          <th class="border-0"></th>
        </tr>
      </thead>
      <tbody>
        {% for each in data %}
          <tr>
            <td>
            <i class="fal fa-fw fa-{{ each.material_type.parent.icon }}"></i>
            {{ each.material_type.parent }}</td>
            <td>
              <a href="{% url 'platformu:admin_datapoint' each.id %}">
              {% if each.name %}
                {{ each.name }}
              {% else %}
                {{ each.material_type }}
              {% endif %}
              </a>
            </td>
            {% if slug != "technology" %}
              <td>{{ each.absolute_quantity }} {{ each.unit.symbol }}</td>
            {% endif %}
            <td>
            {% if each.quantity > 0 %}
            <i class="fal fa-sign-in-alt"></i>
            Demand
            {% else %}
            <span class="text-success">
            <i class="fal fa-sign-out-alt"></i>
            Supply
            </span>
            {% endif %}
            </td>
            {% if slug == "space" %}
              <td>
                {{ each.get_availability_display }}
              </td>
            {% endif %}
            <td>
              {{ each.start_date }} - {{ each.end_date }}
            </td>
            <td class="text-right has-button"><a class="btn btn-primary btn-sm" href="edit/{{ each.id }}/?prev={{ request.get_full_path }}"><i class="fal fa-pencil"></i></a></td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>

  {% else %}
    <div class="alert alert-warning">
      You have no data in this category yet. Use the option below to add data.
    </div>
  {% endif %}

  <button class="btn btn-primary add-existing mr-2"><i class="fas fa-plus"></i> Add new entry</button>

  <div class="card container mt-4 filter-table" id="add-material">
    <div class="row">
      {% if slug == "resources" %}
        <div class="col-md-6 col-lg-4 py-3 col-filter">
          <div class="form-group">
            <input type="text" class="form-control search" placeholder="Search..." disabled>
          </div>
          <ul class="nav nav-pills flex-column tag-filter">
            <li class="nav-item">
              <div class="nav-link" data-tag="all"><i class="fal fa-fw fa-circle mr-2"></i> All materials</div>
            </li>
            {% for each in main_groups %}
            <li class="nav-item">
              <div class="nav-link" data-tag="item-{{ each.id }}"><i class="fal fa-fw fa-{{ each.icon }} mr-2"></i> {{ each }}</div>
            </li>
            {% endfor %}
          </ul>
        </div>
      {% endif %}
      <div class="col-md-6 col-lg-8 p-0 col-results">
        <table class="table table-sm mb-0">
          <tbody class="list" {% if slug == "resources" %}hidden{% endif %}>
            {% for each in materials %}
            <tr>
              <td><span class="material-name">{{ each }}</span><span hidden class="material-tags">item-{{ each.parent.id }} </span></td>
              <td class="text-right">
                <a class="btn btn-sm btn-primary-basic float-right" href="demand/{{ each.id }}/?prev={{ request.get_full_path }}"><i class="fas mr-1 fa-plus"></i> Log demand</a>
                <a class="btn btn-sm btn-primary-basic float-right" href="supply/{{ each.id }}/?prev={{ request.get_full_path }}"><i class="fas mr-1 fa-plus"></i> Log supply</a>
              </td>
            </tr>
            {% endfor %}
          </tbody>
        </table>

        {% if slug == "resources" %}
          <div class="first-load text-center pt-4">
            <h2 class="my-4"><i class="fad fa-arrow-left mr-2"></i> Please select a category</h2>
          </div>
        {% endif %}

        <div class="no-results text-center pt-4">
          <h2 class="my-4"><i class="fad fa-search mr-2"></i> No materials found</h2>
          <button class="btn btn-lg btn-primary clear-filter my-4">Show all materials</button>
        </div>

      </div>
    </div>
  </div>

{% endblock %}

{% block footer %}
  <!-- add listjs to search and filter - -https://listjs.com/api/ -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/list.js/1.5.0/list.min.js"></script>

  <script>
    // button to show list of materials to add
    $(".btn.add-existing").click(function() {
      $("#add-material").show();
      scrollToID("add-material");
    });

    $(".tag-filter .nav-link").click(function() {
      var tag = $(this).data("tag");

      filterList(tag);

      $(".tag-filter .nav-link").removeClass("active");
      $(this).addClass("active");

      // if user has scrolled below list, scroll back up so user doesn't get lost
      var listPosition = $("#add-material").offset().top;
      if ( window.scrollY > listPosition ) {
        scrollToID("add-material");
      }
    })

    var listOptions = {
      valueNames: ["material-name", "material-tags"]
    };

    var materialList = new List("add-material", listOptions);

    function filterList(tag) {
      materialList.filter(function(item) {
        if (tag == "all") {
          if (item.values()["material-name"].includes("other") || item.values()["material-name"].includes("Other")) {
            return false;
          } else {
            return true
          }
        } else {
          if (item.values()["material-tags"].includes(tag)) {
            return true;
          } else {
            return false;
          }
        }
      });

      $("tbody.list").removeAttr("hidden");
      $("input.search").removeAttr("disabled");
      $(".first-load").remove();

      $("tbody.list .material-name").each(function() {
        let material = $(this);
        if (material.text() == "other" || material.text() == "Other") {
          let row = material.closest("tr");
          row.insertAfter("tbody.list tr:last-of-type");
        }
      })

      checkCount();
    }

    // function to check the number of matches
    function checkCount() {
      var count = $("#add-material tbody.list tr:visible").length;
      if (count == 0) {
        $(".no-results").addClass("visible");
      } else {
        $(".no-results").removeClass("visible");
      }
    }

    // update contact count when searching by name
    materialList.on("searchComplete", function(){
      checkCount();
    });

    // make dropdowns work as filters
    $(".filters select").change(function() {
      runAllFilters()
    });

    // clear search and filters
    function resetSearchFilters() {
      materialList.search();

      $("#add-material input.search").val("");
    }

    $(".clear-filter").click(function() {
      resetSearchFilters();
      checkCount();
    })

    // reset all filters on page load
    resetSearchFilters();

    // make no results box invisible on load
    $(".no-results").removeClass("visible");

    // button to scroll back to top
    $(".btn-to-top").click(function() {
      scrollToID("add-material");
    })
  </script>
{% endblock %}
