{% extends "_base.html" %}

{% block title %}Metabolism Manager{% endblock %}

{% block content %}
  {% include "metabolism_manager/admin/_entity.menu.html" %}

  <h3>Latest activity on this account</h3>

  <div class="card table-responsive">
    <table class="table mb-0">
      <thead>
        <tr>
          <th class="border-0">Date</th>
          <th class="border-0">Name</th>
          <th class="border-0">Action</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>10 February 2020</td>
          <td>Jim Halpert</td>
          <td>Log in</td>
        </tr>
        <tr>
          <td>11 February 2020</td>
          <td>Jim Halpert</td>
          <td>Log out</td>
        </tr>
        <tr>
          <td>12 February 2020</td>
          <td>Pam Halpert</td>
          <td>Log in</td>
        </tr>
        <tr>
          <td>12 February 2020</td>
          <td>Pam Halpert</td>
          <td>Added paper production record</td>
        </tr>
        <tr>
          <td>12 February 2020</td>
          <td>Michael Scott</td>
          <td>Deleted entire database</td>
        </tr>
      </tbody>
    </table>
  </div>
{% endblock %}