{% extends "_base.html" %}

{% block title %}Metabolism Manager{% endblock %}

{% block content %}

  <h1>Dunder Miflin</h1>
  <p>
    <a href="/platformu/admin/entities/1/">View details</a> | 
    <a href="/platformu/admin/entities/1/edit/">Edit</a> | 
    <a href="/platformu/admin/entities/1/materials/">Materials and products</a> |
    <a href="/platformu/admin/entities/1/data/">Data</a> | 
    <a href="/platformu/admin/entities/1/log/"><strong>Log</strong></a>
  </p>

  <hr>

  <p>Latest activity on this account:</p>

  <p>Date | Name | Action</p>
  <p>Feb 10, 2020 | Jim Halpert | Log in</p>
  <p>Feb 11, 2020 | Jim Halpert | Log out</p>
  <p>Feb 12, 2020 | Pam Halpert | Log in</p>
  <p>Feb 12, 2020 | Pam Halpert | Added paper production record</p>
  <p>Feb 12, 2020 | Michael Scott | Deleted entire database</p>



{% endblock %}
