{% extends "_base.html" %}

{% block title %}Metabolism Manager{% endblock %}
{% block page_name %}entity form{% endblock %}

{% block content %}

  {% if info %}
    {% include "metabolism_manager/admin/_entity.menu.html" %}
  {% endif %}

  <section>
    <form method="post" enctype="multipart/form-data" class="address-search">
      {% csrf_token %}
      <div class="card mb-4">
        <div class="card-header">
          General information
        </div>
        <div class="card-body">
          <div class="form-group">
            <label for="name">Company name</label>
            <input type="text" required class="form-control" id="name" name="name" value="{% if info.name %}{{ info.name }}{% endif %}">
          </div>
          <div class="form-group">
            <label for="logo">Logo</label>
            <div class="custom-file">
              <input type="file" class="custom-file-input" id="logo" name="image">
              <label class="custom-file-label" for="logo">Choose file</label>
            </div>
          </div>
          <div class="form-group">
            <label for="description">Description</label>
            <textarea id="description" class="form-control" rows="5" name="description"
             >{% if info.description %}{{ info.description }}{% endif %}</textarea>
          </div>
          <div class="form-group">
            <label for="employees">Employees</label>
            <input min="0" type="number" class="form-control" id="employees" name="employees" value="{{ info.meta_data.employees }}">
          </div>
          <div class="form-group">
            <label for="location">Address</label>
            <input type="text" class="form-control" id="autocomplete-search" name="autocomplete-search" value="{{ info.meta_data.address }}">
          </div>

          <div id="autocomplete-results" class="mt-3"></div>

          <input id="formatted" type="hidden" name="address" value="{{ info.meta_data.address }}">

          <div class="form-group">
            <label for="lat">Latitude</label>
            <input type="text" class="form-control" id="lat" name="lat" value="{{ info.meta_data.lat }}">
          </div>
          <div class="form-group">
            <label for="lng">Longitude</label>
            <input type="text" class="form-control" id="lng" name="lng" value="{{ info.meta_data.lng }}">
          </div>

          <div class="form-group">
            <label>Sector</label>
            <select class="custom-select" class="form-control" name="sector">
              <option hidden disabled selected value>Select an option</option>
              {% for each in sectors %}
                <option {% if each in info.sectors.all %}selected{% endif %} value="{{ each.id }}">{{ each }}</option>
              {% endfor %}
            </select>
          </div>
          <div class="form-group">
            <label for="email">Email</label>
            <input type="email" id="email" class="form-control" name="email" value="{% if info.email %}{{ info.email }}{% endif %}">
          </div>
          <div class="form-group">
            <label for="url">Website</label>
            <input type="url" id="url" class="form-control" name="url" value="{% if info.url %}{{ info.url }}{% endif %}">
          </div>
          <div class="form-group">
            <label for="active">Active</label>
            <div class="custom-control custom-switch">
              <input type="checkbox" class="custom-control-input" id="active" name="status" {% if not info.is_deleted %} checked {% endif %}>
              <label class="custom-control-label" for="active"></label>
            </div>
          </div>
        </div>
      </div>
      {% if False %}
        <div class="card">
          <div class="card-header">
            Settings
          </div>
          <div class="card-body">
            <div class="form-group">
              <label for="name">Data sharing</label>
              <div class="custom-control custom-radio">
                <input type="radio" id="public" name="data-sharing" class="custom-control-input">
                <label class="custom-control-label" for="public">Public</label>
              </div>
              <div class="custom-control custom-radio">
                <input type="radio" id="anonymized" name="data-sharing" class="custom-control-input">
                <label class="custom-control-label" for="anonymized">Public, but anonymized</label>
              </div>
              <div class="custom-control custom-radio">
                <input type="radio" id="private" name="data-sharing" class="custom-control-input">
                <label class="custom-control-label" for="private">Private</label>
              </div>
              <small class="form-text text-muted">
                Delectus non quia recusandae vitae. Sed quam nihil quasi repellat ut voluptatem eius. Voluptas est aliquam hic voluptatem et eveniet dolorem expedita. Blanditiis fugiat sit quae ut et est cumque optio. Molestiae sit asperiores qui et iusto vel. Voluptate laudantium assumenda deleniti vel ullam dolorum.
              </small>
            </div>
            <div class="form-group">
              <label for="name">Data delay</label>
              <div class="custom-control custom-radio">
                <input type="radio" id="none" name="data-delay" class="custom-control-input">
                <label class="custom-control-label" for="none">No delay</label>
              </div>
              <div class="custom-control custom-radio">
                <input type="radio" id="1-year" name="data-delay" class="custom-control-input">
                <label class="custom-control-label" for="1-year">1 year old data only</label>
              </div>
              <div class="custom-control custom-radio">
                <input type="radio" id="2-years" name="data-delay" class="custom-control-input">
                <label class="custom-control-label" for="2-years">2 year old data only</label>
              </div>
            </div>
            <div class="form-group">
              <label for="name">Reporting</label>
              <div class="custom-control custom-radio">
                <input type="radio" id="monthly" name="reporting" class="custom-control-input">
                <label class="custom-control-label" for="monthly">Monthly</label>
              </div>
              <div class="custom-control custom-radio">
                <input type="radio" id="quarterly" name="reporting" class="custom-control-input">
                <label class="custom-control-label" for="quarterly">Quarterly</label>
              </div>
              <div class="custom-control custom-radio">
                <input type="radio" id="annual" name="reporting" class="custom-control-input">
                <label class="custom-control-label" for="annual">Annual</label>
              </div>
            </div>
            <div class="form-group">
              <label for="name">Modules</label>
              <div class="custom-control custom-switch">
                <input type="checkbox" class="custom-control-input" id="mfa">
                <label class="custom-control-label" for="mfa">Corporate MFA</label>
              </div>
              <div class="custom-control custom-switch">
                <input type="checkbox" class="custom-control-input" id="matchmaking">
                <label class="custom-control-label" for="matchmaking">Matchmaking platform</label>
              </div>
              <div class="custom-control custom-switch">
                <input type="checkbox" class="custom-control-input" id="tips">
                <label class="custom-control-label" for="tips">Tips and advice service</label>
              </div>
              <div class="custom-control custom-switch">
                <input type="checkbox" class="custom-control-input" id="report">
                <label class="custom-control-label" for="report">Annual sustainability report</label>
              </div>
            </div>
          </div>
        </div>
      {% endif %}
      <button class="btn btn-lg btn-primary my-4" type="submit"><i class="fas fa-save"></i> Save</button>
    </form>
  </section>

{% endblock %}

{% block footer %}
  <!-- making the browse for file input look good and work well - https://www.npmjs.com/package/bs-custom-file-input -->
  <script src="https://cdn.jsdelivr.net/npm/bs-custom-file-input/dist/bs-custom-file-input.min.js"></script>
  <script>
    $(document).ready(function () {
      bsCustomFileInput.init()
    })

    // these coordinates indicate where the search should prioritise, making the search more relevant
    const priorityLat = "50.8435";
    const priorityLon = "4.3688";

    function autoComplete(term) {
      $.get("https://api.geoapify.com/v1/geocode/autocomplete?text="+ term + "&lat=" + priorityLat + "&lon=" + priorityLon + "&apiKey={{ geoapify_api }}")
      .done(function(response) {
        showAutocompleteResults(response)
      })
      .fail(function() {
        $("#autocomplete-results").html("<p>Address lookup failed, please reload the page and try again.")
      })
    };

    $("#autocomplete-search").keyup(function() {
      let searchTerm = $("#autocomplete-search").val()
      searchTerm = searchTerm.trim().replace(/\s/g,"+")

      if (searchTerm.length > 4) {
        autoComplete(searchTerm);
      };

      $("#submit-coordinates").attr("hidden", "hidden");
    })

    function showAutocompleteResults(results) {
      $("#autocomplete-results").html("");
      $(results.features).each(function() {
        $("#autocomplete-results").append("<div class='single-autocomplete-result' data-lon='" + this.properties.lon + "' data-lat='" + this.properties.lat + "' data-formatted='" + this.properties.formatted + "' data-country='" + this.properties.country + "' data-state='" + this.properties.state + "' data-city='" + this.properties.city + "' data-street='" + this.properties.street + "' data-housenumber='" + this.properties.housenumber + "' data-postcode='" + this.properties.postcode + "'>" + this.properties.formatted + "</div>")
      });
      $("#autocomplete-results").show();
      enableResultFunction()
    };

    function enableResultFunction() {
      $(".single-autocomplete-result").click(function() {
        $("input#lat").val( $(this).data("lat") );
        $("input#lng").val( $(this).data("lon") );
        $("input#formatted, input#autocomplete-search").val( $(this).data("formatted") );

        $("#autocomplete-results").hide();

        $("#submit-coordinates").removeAttr("hidden");
      })
    }
  </script>

{% endblock %}
