{% extends "_base.html" %}

{% block title %}Metabolism Manager{% endblock %}

{% block content %}
  {% include "metabolism_manager/admin/_entity.menu.html" %}

  <div class="card table-responsive">
    <table class="table mb-0">
      <thead>
        <tr>
          <th class="border-0">Date</th>
          <th class="border-0">Material</th>
          <th class="border-0">Type</th>
          <th class="border-0">Quantity</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>February 2020</td>
          <td>Wooden crates</td>
          <td>Surplus</td>
          <td>49 t</td>
        </tr>
        <tr>
          <td>March 2020</td>
          <td>Wooden creates</td>
          <td>Surplus</td>
          <td>33 t</td>
        </tr>
        <tr>
          <td>March 2020</td>
          <td>Energy (hot water)</td>
          <td>Surplus</td>
          <td>114 ML</td>
        </tr>
        <tr>
          <td>March 2020</td>
          <td>Cast iron beams</td>
          <td>Demand</td>
          <td>22 t</td>
        </tr>
        <tr>
          <td>April 2020</td>
          <td>Cast iron beams</td>
          <td>Demand</td>
          <td>14 t</td>
        </tr>
      </tbody>
    </table>

  <form method="post" enctype="multipart/form-data" style="margin-top:100px">
      {% csrf_token %}
      <div class="card mb-4">
        <div class="card-header">
          Register new data
        </div>
        <div class="card-body">
          <div class="form-group">
            <label>Type</label>
            <select class="custom-select" class="form-control" name="industry">
              <option hidden disabled selected value>Select an option</option>
              <option value="">Register surplus</option>
              <option value="">Demand request</option>
            </select>
          </div>
          <div class="form-group">
            <label>Material</label>
            <select class="custom-select" class="form-control" name="industry">
              <option hidden disabled selected value>Select an option</option>
              <option value="">Wooden crate</option>
              <option value="">Iron cast beam</option>
            </select>
          </div>
          <div class="form-group">
            <label for="employees">Quantity</label>
            <input min="0" type="number" class="form-control" id="employees">
          </div>
          <div class="form-group">
            <label for="">Date period</label>
            <input type="date" id="" class="form-control" name=""> -
            <input type="date" id="" class="form-control" name="">
          </div>
          <div class="form-group">
            <label for="description">Details (optional)</label>
            <textarea id="description" class="form-control" name="description"
             >{% if info.content %}{{ info.content }}{% endif %}</textarea>
          </div>
          <div class="form-group">
            <label for="logo">Photo (optional)</label>
            <div class="custom-file">
              <input type="file" class="custom-file-input" id="logo" name="image">
              <label class="custom-file-label" for="logo">Choose file</label>
            </div>
          </div>
        </div>
      </div>
      <button class="btn btn-lg btn-primary my-4" type="submit"><i class="fas fa-save"></i> Save</button>
    </form>

  </div>
{% endblock %}
