{% extends "_base.html" %}

{% block title %}Metabolism Manager{% endblock %}

{% block content %}
  {% include "metabolism_manager/admin/_entity.menu.html" %}

  <div class="card">
    <table class="table mb-0">
      <thead>
        <tr>
          <th class="border-0">Date</th>
          <th class="border-0">Material</th>
          <th class="border-0">Type</th>
          <th class="border-0">Quantity</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>February 2020</td>
          <td>Paper</td>
          <td>Production output</td>
          <td>493 t</td>
        </tr>
        <tr>
          <td>February 2020</td>
          <td>Toilet paper</td>
          <td>Consumption</td>
          <td>3 t</td>
        </tr>
        <tr>
          <td>February 2020</td>
          <td>Cardboard paper</td>
          <td>Production output</td>
          <td>33 t</td>
        </tr>
        <tr>
          <td>March 2020</td>
          <td>Paper</td>
          <td>Production output</td>
          <td>442 t</td>
        </tr>
        <tr>
          <td>April 2020</td>
          <td>Paper</td>
          <td>Production output</td>
          <td>413 t</td>
        </tr>
      </tbody>
    </table>
  </div>

{% endblock %}
