{% extends "_base.html" %}

{% block title %}Metabolism Manager{% endblock %}

{% block content %}

  <h1>Dunder Miflin</h1>
  <p>
    <a href="/platformu/admin/entities/1/"><strong>View details</strong></a> | 
    <a href="/platformu/admin/entities/1/edit/">Edit</a> | 
    <a href="/platformu/admin/entities/1/materials/">Materials and products</a> |
    <a href="/platformu/admin/entities/1/data/">Data</a> | 
    <a href="/platformu/admin/entities/1/log/">Log</a>
  </p>

  <hr>

  <p>Logo</p>

  <p><strong>Description:</strong> Lorem ipsum ...</p>
  <p><strong>Employees</strong>: 44</p>
  <p><strong>Location:</strong> Scranton, PA</p>
  <p><strong>Industry:</strong> Paper</p>
  <p><strong>Registration date:</strong> Jan 22, 2020</p>
  <p><strong>E-mail</strong>: info@dundermifflin.com</p>
  <p><strong>Website</strong>: www.dundermifflin.com</p>
  <p><strong>Last login:</strong> Feb 33, 2020</p>
  <p><strong>Users</strong>: Michael Scott, Pam Halpert, Angela Martins</p>
  <p><strong>Status:</strong> Active</p>
  <p><strong>Data sharing:</strong> public</p>
  <p><strong>Reporting:</strong> monthly</p>

{% endblock %}
