{% extends "_base.html" %}
{% load moc_extras %}

{% block page_name %}platformu admin map{% endblock %}
{% block title %}Metabolism Manager{% endblock %}

{% block head %}
  <link rel="stylesheet"
        href="https://unpkg.com/leaflet@1.6.0/dist/leaflet.css"
        integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ=="
        crossorigin=""/>

  <!-- leaflet fullscreen plugin - https://github.com/Leaflet/Leaflet.fullscreen -->
  <link href='https://api.mapbox.com/mapbox.js/plugins/leaflet-fullscreen/v1.0.1/leaflet.fullscreen.css' rel='stylesheet' />
{% endblock %}

{% block content %}

  <h3>Map</h3>

  {% if not gps.lat or not gps.lng %}
    <div class="alert alert-danger">
      Sorry, the GPS coordinates for <a href="{% url "platformu:admin" %}">your organisations</a> are not set properly. Please check the values so that we can generate the map for you.
    </div>
  {% endif %}
  <div id="listings"></div>
  <form class="row filters mb-2">
    <div class="col-md-6 col-lg-6 mb-2">
      <label class="sr-only" for="material">Layer</label>
      <div class="input-group mb-2">
        <div class="input-group-prepend">
          <div class="input-group-text">Layer</div>
        </div>
        <select class="custom-select material filter">
          <option value="all">All layers</option>
          {% for each in material_list %}
            <option value="{{ each.material_type__name }}">{{ each.material_type__parent__name }} - {{ each.material_type__name }}</option>
          {% endfor %}
        </select>
      </div>
    </div>
    <div class="col-md-6 col-lg-3 mb-2">
      <label class="sr-only" for="status">Type</label>
      <div class="input-group mb-2">
        <div class="input-group-prepend">
          <div class="input-group-text">Type</div>
        </div>
        <select class="custom-select status filter">
          <option value="all" selected>Any</option>
          <option value="Supply">Supply</option>
          <option value="Demand">Demand</option>
        </select>
      </div>
    </div>
    <div class="col-md-6 col-lg-3 mb-2">
      <label class="sr-only" for="from">Date</label>
      <div class="input-group mb-2">
        <div class="input-group-prepend">
          <div class="input-group-text">Date</div>
        </div>
        <input type="date" class="form-control from filter" id="from">
      </div>
    </div>
  </form>

  <section id="map" class="leaflet-map"></section>

  <section id="listings" class="row"></section>

{% endblock %}

{% block footer %}
  <script src="https://unpkg.com/leaflet@1.6.0/dist/leaflet.js"
          integrity="sha512-gZwIG9x3wUXg2hdXF6+rVkLF/0Vi9U8D2Ntg4Ga5I5BZpVkVxlJWbSQtXPSiUTtC0TjtGOmxa1AJPuV0CPthew=="
          crossorigin="">
  </script>

  <!-- leaflet fullscreen plugin - https://github.com/Leaflet/Leaflet.fullscreen -->
  <script src="https://api.mapbox.com/mapbox.js/plugins/leaflet-fullscreen/v1.0.1/Leaflet.fullscreen.min.js"></script>

  <script>
    // create leaflet map - https://leafletjs.com/reference-1.6.0.html
    var map = L.map("map", {
      center: [{{ gps.lat }}, {{ gps.lng }}],
      zoom: 11,
      minZoom: 2,
      maxZoom: 18,
      scrollWheelZoom: false,
      fullscreenControl: true,
    })

    // add tile layer
    var tileLayer = L.tileLayer("https://api.mapbox.com/styles/v1/{id}/tiles/{z}/{x}/{y}?access_token={accessToken}", {
      attribution: "Map data &copy; <a href='https://www.openstreetmap.org/'>OpenStreetMap</a> contributors, <a href='https://creativecommons.org/licenses/by-sa/2.0/'>CC-BY-SA</a>, Imagery © <a href='https://www.mapbox.com/'>Mapbox</a>",
      id: "mapbox/streets-v11",
      accessToken: "{{ MAPBOX_API_KEY }}",
      tileSize: 512,
      zoomOffset: -1,
    })

    tileLayer.addTo(map);

    // enable popups so na user can click on an object on the map and see extra information
    function onEachFeature(feature, layer) {
        const dateOptions = {year: 'numeric', month: 'long', day: 'numeric'};
        var uglyFrom = new Date(feature.properties.start_date * 1000);
        var prettyFrom = uglyFrom.toLocaleDateString('en-GB', dateOptions);

        var uglyTo = new Date(feature.properties.end_date * 1000);
        var prettyTo = uglyTo.toLocaleDateString('en-GB', dateOptions);

      var popupContent = "<div class='popup-title'>" + feature.properties.name + "</div><div class='popup-content'><ul class='list-group list-group-flush'><li class='list-group-item'><i class='far fa-fw fa-map-marker-alt mr-2'></i>" + feature.properties.address + "</li><li class='list-group-item'><i class='far fa-fw fa-" + feature.properties.icon + " mr-2'></i>" + feature.properties.material + "</li><li class='list-group-item'><i class='far fa-fw fa-balance-scale mr-2'></i>" + feature.properties.quantity + "</li><li class='list-group-item text-" + feature.properties.status_color + "'><i class='far fa-fw fa-" + feature.properties.status_icon + " mr-2'></i>" + feature.properties.status + "</li><li class='list-group-item'><i class='far fa-fw fa-calendar mr-2'></i>" + prettyFrom + " - " + prettyTo + "</li><li class='list-group-item text-center'><a href='../data/" + feature.properties.id + "/'>View more details</a></li></ul></div>"


      layer.bindPopup(popupContent);
    }

    // a list of all the offers and requests for materials
    const allListings = {
      "type": "FeatureCollection",
      "features": [
        {% for each in data %}
        {
          "geometry": {
            "type": "Point",
            "coordinates": [{{ each.owner.meta_data.lng }}, {{ each.owner.meta_data.lat }}]
          },
          "type": "Feature",
          "properties": {
            "name": "{{ each.owner }}",
            "id": "{{ each.id }}",
            "address": "{{ each.owner.meta_data.address }}",
            "material": "{{ each.material_type }}",
            "icon": "{{ each.material_type.parent.icon }}",
            "quantity": "{{ each.absolute_quantity }} {{ each.unit }}",
            "status": "{% if each.type == "supply" %}Supply{% else %}Demand{% endif %}",
            "status_icon": "{% if each.type == "supply" %}sign-out{% else %}sign-in{% endif %}",
            "status_color": "{% if each.type == "supply" %}success{% else %}dark{% endif %}",
            "start_date": {{ each.start_date|date:"U" }},
            "end_date": {{ each.end_date|date:"U" }},
            "size": {% if each.unit.multiplication_factor %}Math.min(10*(({{ each.unit.multiplication_factor }}*{{ each.absolute_quantity }})/{{ min_values|get_item:each.material_type.name }}),30){% else %}10{% endif %},
          },
        },
        {% endfor %}
      ]
    };

    // creating layer variable, useful so that we can check its existence and manipulate it later
    var filteredLayer = false;

    // function to show filtered items on the map
    function filterListings() {
      // if it exists, remove the layer currently on the map
      if (filteredLayer != false) {
        filteredLayer.removeFrom(map)
      }

      // check what the user has selected in the dropdowns
      var status = $("form select.status").val()
      var material = $("form select.material").val()

      var get_date = $("form #from").val()
          if (get_date != "") {
            get_date = new Date(get_date).getTime();
            get_date = get_date / 1000;
          }

      // add all listings to the filter array
      var filteredListings = $.extend(true, {}, allListings);

      // inefficiently filtering one by one - could/should be improved
      // filter status
      for (var i = filteredListings.features.length - 1; i >= 0; i--) {
        if (status != "all") {
          if (filteredListings.features[i].properties.status != status) {
            filteredListings.features.splice(i, 1);
          }
        }
      }

      // filter material
      for (var i = filteredListings.features.length - 1; i >= 0; i--) {
        if (material != "all") {
          if (filteredListings.features[i].properties.material != material) {
            filteredListings.features.splice(i, 1);
          }
        }
      }

      // filter start date
      for (var i = filteredListings.features.length - 1; i >= 0; i--) {
        if (get_date != "") {
          if (filteredListings.features[i].properties.start_date > get_date || filteredListings.features[i].properties.end_date < get_date) {
            filteredListings.features.splice(i, 1);
          }
        }
      }

      //  take the listings and add them to the map
      filteredLayer = L.geoJSON(filteredListings, {
        // function to create the popup
        onEachFeature: onEachFeature,

        pointToLayer: function (feature, latlng) {
          return L.circleMarker(latlng, {
            fillOpacity: .7,
            weight: 2,
            radius: feature.properties.size,
          });
        },

        style: function(feature) {
          switch (feature.properties.status) {
            case "Supply": return {
              color: "#144d58",
              fillColor: "#144d58",
            };
            case "Demand": return {
              color: "#dc3545",
              fillColor: "#dc3545",
            };
          }
        }
      });

      filteredLayer.addTo(map);

      // add listings to the card overview
      $("section#listings").html("");

      // date options
      const dateOptions = {year: 'numeric', month: 'long', day: 'numeric'};

      $(filteredListings.features).each(function() {
        var uglyFrom = new Date(this.properties.start_date * 1000);
        var prettyFrom = uglyFrom.toLocaleDateString('en-GB', dateOptions);

        var uglyTo = new Date(this.properties.end_date * 1000);
        var prettyTo = uglyTo.toLocaleDateString('en-GB', dateOptions);

        $("section#listings").append("<div class='col-md-6 col-lg-4 mb-4'><div class='card'><div class='card-header'>" + this.properties.name + "</div><ul class='list-group list-group-flush'><li class='list-group-item'><i class='far fa-fw fa-map-marker-alt mr-2'></i>" + this.properties.address + "</li><li class='list-group-item'><i class='far fa-fw fa-" + this.properties.icon + " mr-2'></i>" + this.properties.material + "</li><li class='list-group-item'><i class='far fa-fw fa-balance-scale mr-2'></i>" + this.properties.quantity + "</li><li class='list-group-item text-" + this.properties.status_color + "'><i class='far fa-fw fa-" + this.properties.status_icon + " mr-2'></i>" + this.properties.status + "</li><li class='list-group-item'><i class='far fa-fw fa-calendar mr-2'></i>" + prettyFrom + " - " + prettyTo + "</li><li class='list-group-item text-center'><a href='../data/" + this.properties.id + "/'>View more details</a></li></ul></div></div>")
      })
    }

    // run filter whenever one of the filters changes
    $(".filter").change(function() {
      filterListings()
    })

    // reset filters and show listings on load
    filterListings();
  </script>
{% endblock %}
