{% extends "_base.html" %}

{% block content %}

  {{ webpage.get_description }}

{% endblock %}

  <h2>Topics</h2>
  <section class="row btn-cards">
    {% for each in topics %}
    <div class="col-md-3 mb-3">
      <a class="card icon-card btn-card" href="{{ each.slug }}">
        <div class="icon">
          {% for tag in each.tags.all %}
            <i class="fal fa-fw fa-{{ tag.icon }}" aria-hidden="true"></i>
          {% endfor %}
        </div>
        <div class="card-header">{{ each }}</div>
      </a>
    </div>
    {% endfor %}
  </section>

