{% extends "_base.html" %}

{% block title %}{{ webpage }}{% endblock %}

{% block content %}

  <h1>{{ webpage }}</h1>
  {{ webpage.get_description }}

  <div class="list-group">
  {% for each in types %}
    <a href="form/?tag={{ request.GET.tag }}&amp;type={{ each.id }}&amp;next={% if request.GET.next %}{{ request.GET.next }}{% else %}{{ request.get_full_path }}{% endif %}" class="list-group-item list-group-item-action">
      <i class="fa fa-fw fa-{{ each.icon }}"></i>
      {{ each }}
    </a>
  {% endfor %}
  </div>

{% endblock %}
