<script type="text/javascript">

  /*
   * FIRST WE DEFINE SOME FUNCTIONS AND CONSTANTS THAT ARE CALLED LATER, WHEN PARTICULAR
   * EVENTS ARE TRIGGERED
   *
  */

  /* Used to format numbers later on */
  const formatter = new Intl.NumberFormat('fr-FR', {
    maximumFractionDigits: 2
  });

  flow_titles = {}
  {% for each in flows %}
    flow_titles["path-{{ each.identifier }}"] = "{{ each.name|escapejs }}";
  {% endfor %}

  flow_mapping = {}
  {% for each in nodes %}
    {% for flow in each.entry_flows.all %}
      if (!flow_mapping[{{ flow.identifier }}]) {
        flow_mapping[{{ flow.identifier }}] = [{{ each.identifier }}];
       } else {
        flow_mapping[{{ flow.identifier }}].push({{ each.identifier }});
       }
    {% endfor %}
  {% endfor %}

  function errorMessage(message) {
    alert(message);
  }

  function getData() {
    /*  We start by fading out the map and showing a loading icon */
    $("svg").css("opacity", "0.2");
    $(".loading").show();

    /* Let's build the URL */
    category = {{ category.id }};
    var jsonURL = "{% url "water:ajax" %}?category=" + category;

    $(".region-bar a.btn-dark").each(function(){
      var region = $(this).data("region");
      jsonURL += "&region=" + region;
    });

    jsonURL += "&date_start=" + $("select[name='date_start']").val() + "&date_end=" + $("select[name='date_end']").val();

    $.getJSON(jsonURL)
    .done(function(response) {
      items = []
      max_flow = 0

      /*  First we get the total value of ALL flows */
      $.each(response, function(key, val) {
        if (val > max_flow) {
          max_flow = val;
        }
      });

      max_width = 10;
      all_flows = [];
      node_totals = {}

      {% for each in flows %}
        all_flows.push({{ each.identifier }});
      {% endfor %}

      $.each(response, function(key, val) {
        if (val == null) {
          $("#path-" + key).css("stroke-width", "1px");
          $("#path-" + key).attr("title", "Inconnu");
        } else {
          fraction = val/max_flow; /* Here we can calculate the flow proportionate to the max_flow */
          width = fraction*max_width; /* This makes the width of THIS flow proportionate to the max */
          $("#path-" + key).css("stroke-width", width + "px");
          $("#path-" + key).attr("title", "FLOW #" + key + " - " + formatter.format(val) + " {{ category.unit.symbol }}");
        }
        $("#path-" + key).attr("data-toggle", "tooltip");
        $("#path-" + key).attr("data-placement", "left");
        $("#path-" + key).show();

        all_flows = all_flows.filter(item => item !== Number(key)); /* We keep track which flows exist in the dataset, see below why */

        if (flow_mapping[key]) {
          //console.log("Yes, we found: "+ key);
          for (let flow of flow_mapping[key]) {
            //console.log("Yes we found " + key + " with ID: " + flow);
            if (node_totals[flow]) {
              node_totals[flow] += val;
            } else {
              node_totals[flow] = val;
            }
          }
        } else {
          console.log("No, not found: "+ key);
          // ELSE statement can be removed when testing is done
        }
      });

      for (const [node_id, node_total] of Object.entries(node_totals)) {
        if (node_total == null) {
          $("#node-" + node_id + " .qty").text("");
        } else {
          $("#node-" + node_id + " .qty").text(formatter.format(node_total) + " {{ category.unit.symbol }}");
        }
      }

      /* Whichever flow was NOT included in the ajax response needs to be removed from the map */
      $.each(all_flows, function(index, value) {
        $("#path-" + value).hide();
      });

      $("svg").css("opacity", "1");
      $(".loading").hide();

      $('[data-toggle="tooltip"]').tooltip({container: 'body'});

    })
    .fail(function() {
      errorMessage("Failed to load data. Are you connected to the internet? Please reload the page or try again later.")
    })
  }

  function setDateLabels() {
    start_date = $("select[name='date_start']").val();
    end_date = $("select[name='date_end']").val();
    if (start_date.length == 4 && end_date.length == 4) {
      if (start_date == end_date) {
        /* Start and end dates are both years, and they are the same */
        date_label = start_date;
      } else {
        /* Start and end dates are both years, but they are different */
        date_label = start_date + "-" + end_date;
      }
      $("#title_date").html(date_label);
    } else {
      /* If there are months involved, then we want to show e.g. Jan 2022-Dec 2023 */
      /* To do so, we need to convert this to date objects and then reformat */
      var options = { year: "numeric", month: "short" };

      if (start_date.length == 4) {
        start_date = start_date + "-01-01";
      } else {
        start_date = start_date + "-01";
      }
      start_date = new Date(start_date);
      start_date_label = start_date.toLocaleDateString("fr-FR", options);

      if (end_date.length == 4) {
        end_date = end_date + "-12-01"; /* If a year is selected, then we show 'Dec XXXX' so cast to December date */
      } else {
        end_date = end_date + "-01";
      }
      end_date = new Date(end_date);
      end_date_label = end_date.toLocaleDateString("fr-FR", options);

      if ($("select[name='date_start']").val() == $("select[name='date_end']").val()) {
        date_label = start_date_label;
      } else {
        date_label = start_date_label + "-" + end_date_label;
      }

      $(".watergraphs p span.title_date").html(date_label);
    }
  }

  /*
   * THESE ARE PARTICULAR EVENTS THAT TRIGGER ACTION
   *
  */

  function setRegionLabels() {

    var activated_regions = $(".region-bar a.btn-dark").length;
    title_region = "";
    $(".region-bar a.btn-dark").each(function(){
      title_region += $(this).text() + ", ";
    });
    title_region = title_region.substring(0, title_region.length - 2);
    $("#title_region").html(title_region);

    if ($(".region-bar a[data-region='1']").hasClass("btn-dark")) {
      /*  Either ALL or NO region activated, so fallback to Eau d'Azur */
      $(".map-region").addClass("active-space");
    } else {
      $(".map-region").removeClass("active-space");
      $(".region-bar a.btn-dark").each(function(){
        var region = $(this).data("region");
        $("#space-"+region).addClass("active-space");
      });
    }

  }

  $(".region-bar a").click(function(e){
    e.preventDefault();
    var region = $(this).data("region");

    if (region == "1") {
      /* Eau d'azur button is pressed so we remove all regions and only activate this one */
      $(".region-bar a").removeClass("btn-dark");
      $(this).addClass("btn-dark");
    } else {
      $(".region-bar a[data-region='1']").removeClass("btn-dark");
      if ($(this).hasClass("btn-dark")) {
        isActive = true;
      } else {
        isActive = false;
      }

      if (isActive) {
        $(this).removeClass("btn-dark");
      } else {
        $(this).addClass("btn-dark");
      }
    }

    var activated_regions = $(".region-bar a.btn-dark").length;
    if (activated_regions == 6 || activated_regions == 0 || $(".region-bar a[data-region='1']").hasClass("btn-dark")) {
      /*  Either ALL or NO region activated, so fallback to Eau d'Azur */
      $(".region-bar a").removeClass("btn-dark");
      $(".region-bar a[data-region='1']").addClass("btn-dark");
    }

    setRegionLabels();
    getData();

  });

  $("#current-period").click(function(e){
    e.preventDefault();
    if ($(".period-dropdown").is(":visible")) {
      $(".period-dropdown").slideUp("fast");
      $("#current-period .bi-caret-down").show();
      $("#current-period .bi-caret-up").hide();
    } else {
      $(".period-dropdown").slideDown("fast");
      $("#current-period .bi-caret-down").hide();
      $("#current-period .bi-caret-up").show();
    }
  });

  $("#animate").click(function(){
    if ($(this).is(":checked")) {
      $(".path").css("stroke-dasharray", "1");
      $(".animate-toggle label").addClass("btn-dark");
    } else {
      $(".path").css("stroke-dasharray", "0");
      $(".animate-toggle label").removeClass("btn-dark");
    }
  });

  $("#changedate").submit(function(e){
    e.preventDefault();
    setDateLabels();
    getData();
  });


  /* We need to resize the sidebar so that it fits on the screen without the need to scroll */
  var bodyWidth = $(window).width();
  if (bodyWidth > 990) {
    var $sidebar = $("#sidebar-container");
    var sidebarHeight = $sidebar.outerHeight();

    var bodyHeight = $(window).height();

    var $toplayer = $(".top-layer");
    var toplayerHeight = $toplayer.outerHeight();

    /* We calculate the total available height by getting the body's height and removing the height of the */
    /* top menu, and then taking 10px off that in order to leave some space. */
    availableHeight = bodyHeight-toplayerHeight-10;

    if (sidebarHeight > availableHeight) {
      proportion = availableHeight/sidebarHeight;
      difference = availableHeight-sidebarHeight;
      move_by = (100-(proportion*100))/2
      $sidebar.css({
        transform: "translate(0, -" + move_by + "%) " + "scale(" + proportion + ")"
      });
    }
  }

  $(".path").click(function(){
    get_id = $(this).attr("id");
    title = flow_titles[get_id];

    $("#chartTitle").text("Territoire: " + $("#title_region").text());
    $("#chart").modal();

    $("#chartbox").highcharts().setTitle({text:title});

    if ($("#chartbox").highcharts().get("chart_data")) {
      $("#chartbox").highcharts().get("chart_data").remove();
    };

    get_id_number = get_id.split("-")[1]; // The id will be something like 'path-51' so we need to get just 51
    jsonURL = "{% url "water:ajax_chart_data" %}?flow=" + get_id_number + "&category={{ category.id }}";

    $(".region-bar a.btn-dark").each(function(){
      jsonURL += "&space=" + $(this).data("region");
    });

    $.getJSON(jsonURL)
    .done(function(response) {
      $("#chartbox").highcharts().addSeries({ id: "chart_data", data: response}); 
    })
    .fail(function() {
      errorMessage("Failed to load data. Are you connected to the internet? Please reload the page or try again later.")
    })
  });

  // We load an empty highchart, which will be populated with actual chart data once
  // a flow is being clicked.
  Highcharts.chart("chartbox", {
      chart: {
          type: "column"
      },
      title: {
          align: "left"
      },
      legend: {
          enabled: false
      },
  });

</script>

