<script type="text/javascript">

  /*
   * FIRST WE DEFINE SOME FUNCTIONS AND CONSTANTS THAT ARE CALLED LATER, WHEN PARTICULAR
   * EVENTS ARE TRIGGERED
   *
  */

  /* Used to format numbers later on */
  const formatter = new Intl.NumberFormat('fr-FR', {
    maximumFractionDigits: 0
  });
  const formatter_single_digit = new Intl.NumberFormat('fr-FR', {
    maximumFractionDigits: 1
  });

  flow_titles = {}
  ignore_size = []
  {% for each in flows %}
    flow_titles["path-{{ each.identifier }}"] = "{{ each.name|escapejs }}";
    {% if not each.normal_width_calculation %}
      ignore_size.push({{each.identifier }});
    {% endif %}
  {% endfor %}

  /* We use this in the charts, on the x-axis */
  time_frames = []
  {% for each in time_frames %}
    {% if each.timeframe == "month" %}
      time_frames.push("{{ each.date|date:"M Y" }}");
    {% else %}
      time_frames.push("{{ each.date|date:"Y" }}");
    {% endif %}
  {% endfor %}

  /*
  *  flow_mapping is used to calculate the total quantity flowing into a node, so that
  *  the label on the box can be updated to reflect this quantity
  *  all_nodes and node_mapping is used to connect all the flows to their relevant nodes. 
  *  That way we can hide a node if not a single one of its flows is present.
  *  The format is : flow_mapping[flow_id] = [node, node, node]
  *  node_mapping is the opposite, where we figure out which flows are linked to a node
  *  so that we can hide the node if no flows are linked to it
  */

  node_mapping = {};
  flow_mapping = {};
  all_nodes = []
  {% for each in nodes %}
    all_nodes.push({{ each.identifier }});
    {% for flow in each.entry_flows.all %}
      if (!flow_mapping[{{ flow.identifier }}]) {
        flow_mapping[{{ flow.identifier }}] = [{{ each.identifier }}];
      } else {
        flow_mapping[{{ flow.identifier }}].push({{ each.identifier }});
      }
      if (!node_mapping[{{ each.identifier }}]) {
        node_mapping[{{ each.identifier }}] = [{{ flow.identifier }}];
      } else {
        node_mapping[{{ each.identifier }}].push({{ flow.identifier }});
      }
    {% endfor %}
    {% for flow in each.exit_flows.all %}
      if (!node_mapping[{{ each.identifier }}]) {
        node_mapping[{{ each.identifier }}] = [{{ flow.identifier }}];
       } else {
        node_mapping[{{ each.identifier }}].push({{ flow.identifier }});
       }
    {% endfor %}
  {% endfor %}

  function errorMessage(message) {
    alert(message);
  }

  show_data = false

  function updateLevelLinks() {
    link = "?sankey"
    $(".region-bar a.btn-dark").each(function(){
      var region = $(this).data("region");
      link += "&region=" + region;
    });
    link += "&date_start=" + $("select[name='date_start']").val() + "&date_end=" + $("select[name='date_end']").val();

    $(".region-link .btn").each(function(){
      var page = $(this).data("link");
      $(this).attr("href", page + link);
    });

    link += "&level=";
    $("#top-tabs li a.btn").each(function(){
      var level = $(this).data("level");
      $(this).attr("href", link + level);
    });
    link += $("input[name=level]").val()

    {% if category.slug == "materials" or category.slug == "stock" %}
      link += "&material=";
      var material = $("[name='material']").val();
      $(this).attr("href", link + material);
      link += material
    {% endif %}

    history.replaceState(undefined, undefined, link);
  }

  function getData() {
    /*  We start by fading out the map and showing a loading icon */
    $("svg").css("opacity", "0.2");
    $(".loading").show();

    /* Let's build the URL */
    category = {{ category.id }};

    var jsonURL = "{% if category.slug == "stock" %}{% url "water:ajax_stock" %}{% else %}{% url "water:ajax" %}{% endif %}?category=" + category + "&level=" + $("input[name=level]").val() + "&material=" + $("[name='material']").val();

    $(".region-bar a.btn-dark").each(function(){
      var region = $(this).data("region");
      jsonURL += "&region=" + region;
    });

    jsonURL += "&date_start=" + $("select[name='date_start']").val() + "&date_end=" + $("select[name='date_end']").val();

    $.getJSON(jsonURL)
    .done(function(response) {
      items = [];
      max_flow = 0;

      /* Used for debugging, showing data on-screen */
      if (show_data) {
        data_box = "QUERY: " + jsonURL + '\n\nRESPONSE:\n';
        $.each(response, function(key, val) {
          data_box += 'Flow ' + key + ': ' + val + '\n';
        });
        $("#show_data_box").text(data_box);
      }

      /*  First we get the total value of ALL flows */
      $.each(response, function(key, val) {
        /* Some of the flows are so large that they should be ignored, so let's make sure it's NOT one of those */
        key = parseInt(key);
        index = ignore_size.indexOf(key);
        if (val > max_flow && index == -1) {
          max_flow = val;
        }
      });

      {% if category.slug == "stock" %}
        max_width = 60;
        min_width = 0;
      {% else %}
        max_width = 10;
        min_width = 0.7;
      {% endif %}
      all_flows = [];
      node_totals = {}
      stock_totals = {}
      /* every time we run this script, we copy all_nodes into hidden_nodes
      *  so that all nodes are hidden until they are removed from this list
      *  as matching flows appear 
      */
      hidden_nodes = [...all_nodes];

      {% for each in flows %}
        all_flows.push({{ each.identifier }});
      {% endfor %}

      $(".path title").remove(); // Remove all titles so we can create new ones below
      $(".arrow title").remove(); // Some are .arrow classes
      $.each(response, function(key, val) {
        {% if category.slug == "stock" %}
          flow = $("[data-id=path-" + key + "] rect");
        {% else %}
          flow = $("[data-id=path-" + key + "]");
        {% endif %}
        if (val == null) {
          {% if category.slug == "stock" %}
            flow.attr("height", 0);
          {% else %}
            flow.css("stroke-width", min_width + "px");
          {% endif %}
          flow.attr("title", "Inconnu");
          flow.addClass("unknown-flow");
          var title = document.createElementNS("http://www.w3.org/2000/svg", "title");
          var titletext  = document.createTextNode({% if is_admin %}"FLOW #" + key + " - " + {% endif %}"Inconnu");
          title.appendChild(titletext);
          flow.append(title);
        } else {
          fraction = val/max_flow; /* Here we can calculate the flow proportionate to the max_flow */
          width = fraction*max_width; /* This makes the width of THIS flow proportionate to the max */
          if (width > 0 && width < min_width) {
            width = min_width;
          } else if (width > max_width) {
            width = max_width;
          }

          {% if category.slug == "stock" %}
          /* For stock we need to calculate the total for each block, summing up all three flows */
            node_id = key.split("_")[0];
            if (stock_totals[node_id]) {
              stock_totals[node_id] += val;
            } else {
              stock_totals[node_id] = val;
            }
          {% endif %}

          /* We apply minimum width if the flow has been manually set to ignore regular scaling */
          additional_text = "";
          index = ignore_size.indexOf(parseInt(key));
          if (index > -1) {
            width = min_width; 
            additional_text = " - {{ _("NOTE: flow width is not to scale") }}";
          }

          {% if category.slug == "stock" %}
            flow.attr("height", width + "px");
          {% else %}
            flow.attr("stroke-width", width + "px");
          {% endif %}
          flow.removeClass("unknown-flow");
          var title = document.createElementNS("http://www.w3.org/2000/svg", "title");
          var titletext  = document.createTextNode({% if is_admin and DEBUG %}"FLOW #" + key + " - " + {% endif %}formatter.format(val) + " {{ category.unit.symbol }}" + additional_text);
          title.appendChild(titletext);
          flow.append(title);
        }

        /* We need this for a particular exception, see below */
        if (key == 19) {
          value_flow_19 = val;
        }

        if (val == null || val > 0) {
          /* If this flow has a value (or is UNKNOWN), then we should automatically SHOW all the nodes that are 
          *  related to this flow. We do this by removing the node from the hidden_nodes array
          */
          for ([node, included_flows] of Object.entries(node_mapping)) {
            for (var i = 0; i < included_flows.length; i++) {
              if (included_flows[i] == key) {
                node = parseInt(node);
                index = hidden_nodes.indexOf(node);
                if (index !== -1) {
                  hidden_nodes.splice(index, 1); // 2nd parameter means remove one item only
                }
              }
            }
          }
        }

        $("[data-id=path-" + key + "]").show();

        all_flows = all_flows.filter(item => item !== Number(key)); /* We keep track which flows exist in the dataset, see below why */

        // So let's see which node a flow belongs to, and then we add the total to that node
        if (flow_mapping[key]) {
          for (let node_id of flow_mapping[key]) {
            if (node_totals[node_id]) {
              node_totals[node_id] += val;
            } else {
              node_totals[node_id] = val;
            }
          }
        }

      });

      {% if category.slug == "stock" %}

        for (const [stock_id, stock_total] of Object.entries(stock_totals)) {
          if (stock_total == null) {
            $("#node-" + stock_id + " .qty").text("");
          } else {
            $("#node-" + stock_id + " .qty").text(formatter.format(stock_total) + " {{ category.unit.symbol }}");
          }
        }
      {% else %}

        for (const [node_id, node_total] of Object.entries(node_totals)) {
          if (node_total == null) {
            $("#node-" + node_id + " .qty").text("");
          } else {
            $("#node-" + node_id + " .qty").text(formatter.format(node_total) + " {{ category.unit.symbol }}");
          }
        }

        /* Whichever flow was NOT included in the ajax response needs to be removed from the map */
        $.each(all_flows, function(index, value) {
          $("[data-id=path-" + value + "]").hide("fast");
        });

    {% endif %}

      $("svg").css("opacity", "1");
      $(".loading").hide(); 

      // We want to hide all the nodes that should not be displayed, and show the ones that do have values
      $(".node").addClass("show-this-node");
      for (let node of hidden_nodes) {
        get_node = $("#node-" + node);
        if (get_node.is(":visible")) {
          get_node.hide("fast");
        }
        get_node.removeClass("show-this-node");
      }

      /* 
        ALTERNATIVE DESIGNS
        In water level 2, when certain conditions are met (i.e. specific territories are activated),
        then an alternative design needs to be shown. This means that specific flows or boxes are hidden, 
        and others are shown. 
      */
      {% if category.slug == "water" and level == 2 %}
        includes_nice = false;
        includes_moyenpays = false;
        includes_vesubie = false;
        $(".region-bar a.btn-dark").each(function(){
          var region = $(this).data("region");
          if (region == 2) {
            includes_nice = true;
          } else if (region == 5) {
            includes_moyenpays = true;
          } else if (region == 7) {
            includes_vesubie = true;
          }
        });
        alternative = false;
        /* NOTE: alternative E existed in the past, but it was a duplicate alternative so it was discarded */
        if (!includes_nice && includes_moyenpays && includes_vesubie) {
          alternative = "F";
        } else if (includes_nice && includes_vesubie) {
          alternative = "D";
        } else if (includes_nice && !includes_vesubie) {
          alternative = "C";
        } else if (!includes_nice && !includes_moyenpays && includes_vesubie) {
          alternative = "B";
        } else if (!includes_nice && includes_moyenpays && !includes_vesubie) {
          alternative = "A";
        }
        $(".alternative-element").hide();
        if (alternative) {
          {% if is_admin %}
            $("#alternative_design").html("Alternative design: " + alternative);
          {% endif %}
          $(".hide-in-alternative-" + alternative).removeClass("show-this-node");
          $(".hide-in-alternative-" + alternative).hide();
          $(".show-in-alternative-" + alternative).show();
          console.log("The following alternative design was loaded: " + alternative);
        } else {
          $("#alternative_design").html("");
          console.log("The default design was loaded");
        }

        if (alternative == "F") {
          if (value_flow_19) {
            $("#node-11 .qty").text(formatter.format(value_flow_19) + " {{ category.unit.symbol }}");
          } else {
            $("#node-11 .qty").text("");
          }
        }

        {% endif %}
      /* END OF ALTERNATIVE DESIGN IMPLEMENTATION */

      $(".show-this-node").show("fast");

    })
    .fail(function() {
      errorMessage("Failed to load data. Are you connected to the internet? Please reload the page or try again later.")
    })
  }

  function setDateLabels() {
    start_date = $("select[name='date_start']").val();
    end_date = $("select[name='date_end']").val();
    if (start_date.length == 4 && end_date.length == 4) {
      if (start_date == end_date) {
        /* Start and end dates are both years, and they are the same */
        date_label = start_date;
      } else {
        /* Start and end dates are both years, but they are different */
        date_label = start_date + "-" + end_date;
      }
      $(".title_date").html(date_label);
    } else {
      /* If there are months involved, then we want to show e.g. Jan 2022-Dec 2023 */
      /* To do so, we need to convert this to date objects and then reformat */
      var options = { year: "numeric", month: "short" };

      if (start_date.length == 4) {
        start_date = start_date + "-01-01";
      } else {
        start_date = start_date + "-01";
      }
      start_date = new Date(start_date);
      start_date_label = start_date.toLocaleDateString("fr-FR", options);

      if (end_date.length == 4) {
        end_date = end_date + "-12-01"; /* If a year is selected, then we show 'Dec XXXX' so cast to December date */
      } else {
        end_date = end_date + "-01";
      }
      end_date = new Date(end_date);
      end_date_label = end_date.toLocaleDateString("fr-FR", options);

      if ($("select[name='date_start']").val() == $("select[name='date_end']").val()) {
        date_label = start_date_label;
      } else {
        date_label = start_date_label + "-" + end_date_label;
      }

      $(".watergraphs p .title_date").html(date_label);
    }
  }

  /*
   * THESE ARE PARTICULAR EVENTS THAT TRIGGER ACTION
   *
  */

  function setRegionLabels() {

    title_region = "";
    $(".region-bar a.btn-dark").each(function(){
      title_region += $(this).text() + ", ";
    });
    title_region = title_region.substring(0, title_region.length - 2);
    $("#title_region").html(title_region);

    {% if category.slug == "stock" %}
      $(".map-region").addClass("active-space");
    {% else %}
    if ($(".region-bar a[data-region='1']").hasClass("btn-dark")) {
      /*  Either ALL or NO region activated, so fallback to Eau d'Azur */
      $(".map-region").addClass("active-space");
    } else {
      $(".map-region").removeClass("active-space");

      /* If the selected area is a 'combinational area' then we need to activate all
      related areas. If not, we just mark the area that was clicked */

        is_combined_territory = false;

        var combinations_dict = [];
        a = $(".region-bar a.btn-dark").data("region");
        {% for key,value in combinations.items %}
          if (a == {{ key }}) {
            {% for each in value %}
              $("#space-{{ each }}").addClass("active-space");
            {% endfor %}
          }
        {% endfor %}


      $(".region-bar a.btn-dark").each(function(){
        var region = $(this).data("region");
        $("#space-"+region).addClass("active-space");
      });
    }
    {% endif %}

  }

  $(".region-bar a").click(function(e){
    e.preventDefault();
    var region = $(this).data("region");

    if (region == "1" {% if True %}|| true{% endif %}) {
      /* Eau d'azur button is pressed so we remove all regions and only activate this one */
      /* CHANGE AUGUST 2023: it is now requested that when ANY region is activated that the 
      rest is deactivated, so that is why the condition above was changed from (region == "1") */
      /* CHANGE NOV 2023: we now change the system so that combinational territories are chosen separately
      which is why this condition is now always true. We can change it to exclude specific pages in the future
      by adapting the condition below, to allow for multi-region selection */
      $(".region-bar a").removeClass("btn-dark");
      $(this).addClass("btn-dark");
    } else {
      $(".region-bar a[data-region='1']").removeClass("btn-dark");
      if ($(this).hasClass("btn-dark")) {
        isActive = true;
      } else {
        isActive = false;
      }

      if (isActive) {
        $(this).removeClass("btn-dark");
      } else {
        $(this).addClass("btn-dark");
      }
    }

    var activated_regions = $(".region-bar a.btn-dark").length;
    if (activated_regions == 6 || activated_regions == 0 || $(".region-bar a[data-region='1']").hasClass("btn-dark")) {
      /*  Either ALL or NO region activated, so fallback to Eau d'Azur */
      $(".region-bar a").removeClass("btn-dark");
      $(".region-bar a[data-region='1']").addClass("btn-dark");
    }

    setRegionLabels();
    getData();
    updateLevelLinks();

  });

  function setLogosAndColors() {
    category = $("[name='material']").find(":selected").data("category");
    logo = "/static/img/water/logos/" + category + ".png";
    $(".swapimage").attr("xlink:href", logo);

    colors = {}
    {% for each in materials %}
      colors[{{ each.id }}] = ["{{ each.color1 }}", "{{ each.color2 }}", "{{ each.color3 }}", "{{ each.color4 }}", "{{ each.color5 }}"];
    {% endfor %}

    color = colors[$("[name='material']").val()];
    $(".path.color1").attr("style", "fill:none;stroke:" + color[0]);
    $(".path.color2").attr("style", "fill:none;stroke:" + color[1]);
    $(".path.color3").attr("style", "fill:none;stroke:" + color[2]);
    $(".path.color4").attr("style", "fill:none;stroke:" + color[3]);
    $(".path.color5").attr("style", "fill:none;stroke:" + color[4]);

  }

  $("[name='material']").change(function(){
    getData();
    updateLevelLinks();
    {% if category.slug == "materials" %}
      setLogosAndColors();
    {% endif %}
  });

  $("#animate").click(function(){
    if ($(this).is(":checked")) {
      // The @keyframes are very CPU intense so we don't have them in the CSS by default and only
      // add them when the user wants to see the animations.
      $("<style type='text/css' id='animation-css'>@keyframes forward { to { stroke-dashoffset: -1; } } @keyframes backward { to { stroke-dashoffset: 1; } } </style>").appendTo("head");
      $(".path").css("stroke-dasharray", "1");
      $(".animate-toggle label").addClass("btn-dark");
    } else {
      $("#animation-css").remove();
      $(".path").css("stroke-dasharray", "0");
      $(".animate-toggle label").removeClass("btn-dark");
    }
  });

  $("#changedate").submit(function(e){
    e.preventDefault();
    setDateLabels();
    getData();
    updateLevelLinks();
  });

  /* We need to resize the sidebar so that it fits on the screen without the need to scroll */
  var bodyWidth = $(window).width();
  if (bodyWidth > 990) {
    var $sidebar = $("#sidebar-container");
    var sidebarHeight = $sidebar.outerHeight();

    var bodyHeight = $(window).height();

    var $toplayer = $(".top-layer");
    var toplayerHeight = $toplayer.outerHeight();

    /* We calculate the total available height by getting the body's height and removing the height of the */
    /* top menu, and then taking 10px off that in order to leave some space. */
    availableHeight = bodyHeight-toplayerHeight-10;

    if (sidebarHeight > availableHeight) {
      proportion = availableHeight/sidebarHeight;
      difference = availableHeight-sidebarHeight;
      move_by = (100-(proportion*100))/2
      $sidebar.css({
        transform: "translate(0, -" + move_by + "%) " + "scale(" + proportion + ")"
      });
    }
  }

  // If you click on a flow then we show a chart with all historic data for the entire period
  $(".path").click(function(){
    get_id = $(this).data("id");
    title = flow_titles[get_id];

    $("#chartTitle").text("Territoire : " + $("#title_region").text());
    $("#chart").modal();
    $(".modal .nav-tabs a.swap-tab[data-show=chartbox]").click(); // Show the chart by default

    if ($(this).hasClass("unknown-flow")) {
      $(".unknown-flow-content").show();
      $(".known-flow-content").hide();
    } else {
      $(".unknown-flow-content").hide();
      $(".known-flow-content").show();
      $("#chartbox").highcharts().setTitle({text:title});

      if ($("#chartbox").highcharts().get("chart_data")) {
        $("#chartbox").highcharts().get("chart_data").remove();
      };

      get_id_number = get_id.split("-")[1]; // The id will be something like 'path-51' so we need to get just 51

      // Let's see which period is selected (nth child), because we need to ONLY show those periods that 
      // have been selected. We do this by removing the periods BEFORE the nth child from the list that
      // holds all the periods (used in the x_axis labels)
      selected_date = $("select[name=date_start] option:selected");
      items_to_remove = selected_date.index();
      x_labels = [...time_frames];
      if (items_to_remove > 0) {
        x_labels.splice(0, items_to_remove);
      }

      jsonURL = "{% url "water:ajax_chart_data" %}?flow=" + get_id_number + "&category={{ category.id }}&level=" + $("input[name=level]").val();
      jsonURL += "&date_start=" + $("select[name='date_start']").val() + "&date_end=" + $("select[name='date_end']").val();
      jsonURL += "&material=" + $("[name='material']").val();

      $(".region-bar a.btn-dark").each(function(){
        jsonURL += "&space=" + $(this).data("region");
      });

      $.getJSON(jsonURL)
      .done(function(response) {

        table = '<table class="table table-striped"><thead><tr><th>{{ _("Date") }}</th><th>{{ _("Quantity") }} ({{ category.unit.symbol }})</th></tr></thead><tbody>';
        data = [];
        total = 0;
        for (let x of response) {
          data.push(x["quantity"]);
          table += '<tr><td>' + x["date"] + '</td><td>' + formatter_single_digit.format(x["quantity"]) + '</td></tr>';
          total += x["quantity"];
        }
        table += '</tbody><tfoot><tr><th>{{ _("Total") }}</th><th>' + formatter_single_digit.format(total) + '</th></tr></tfoot></table>';
        $("#tablebox").html(table);

        $(".description").hide();
        $("#description-" + get_id_number).show();
        chart = $("#chartbox").highcharts();
        chart.addSeries({ id: "chart_data", data: data}); 
        chart.xAxis[0].setCategories(x_labels);
      })
      .fail(function() {
        errorMessage("Failed to load data. Are you connected to the internet? Please reload the page or try again later.")
      });
    }
  });

  // We load an empty highchart, which will be populated with actual chart data once
  // a flow is being clicked.
  var chart = Highcharts.chart("chartbox", {
      credits: {
        text: "",
        href: null,
        style: {
          fontSize: "12px",
          cursor: "default",
        },
      },
      tooltip: {
        pointFormat: '<b>{point.y:" ".0f} {{ category.unit.symbol }}</b>'
      },
      chart: {
          type: "column"
      },
      title: {
          align: "left"
      },
      legend: {
          enabled: false
      },
      yAxis: {
        title: {
          text: "{{ _("Quantity") }} ({{ category.unit.symbol }})",
        },
      },
  });

  $(".export-png").click(function() {
    chart.exportChart();
  });

  $(".print-chart").click(function() {
    chart.print();
  });

  // Within the modal the user can open a chart (open by default) or table
  $(".modal .nav-tabs a.swap-tab").click(function(e){
    $(".modal .nav-tabs a.swap-tab").removeClass("active");    
    $(this).addClass("active");    
    e.preventDefault();
    var show = $(this).data("show");
    $(".known-flow-content .modal-body").hide();
    $("#" + show).show();
  });

  // Button to save the sankey as a file
  // Source: https://gist.github.com/danallison/3ec9d5314788b337b682

  function downloadString(text, fileType, fileName) {
    var blob = new Blob([text], { type: fileType });

    var a = document.createElement('a');
    a.download = fileName;
    a.href = URL.createObjectURL(blob);
    a.dataset.downloadurl = [fileType, a.download, a.href].join(':');
    a.style.display = "none";
    document.body.appendChild(a);
    a.click();
    document.body.removeChild(a);
    setTimeout(function() { URL.revokeObjectURL(a.href); }, 1500);
  }

  /* Source: https://stackoverflow.com/questions/28226677/save-inline-svg-as-jpeg-png-svg */
  function triggerDownload(imgURI) {
    const a = document.createElement('a');
    a.download = 'sankey.png'; // filename
    a.target = '_blank';
    a.href = imgURI;

    // trigger download button
    // (set `bubbles` to false here.
    // or just `a.click()` if you don't care about bubbling)
    a.dispatchEvent(new MouseEvent('click', {
      view: window,
      bubbles: false,
      cancelable: true
    }));
  }

  $("#download").click(function(e){
    e.preventDefault();

    const svgNode = document.getElementById('sankey_svg');
    const svgString = (new XMLSerializer()).serializeToString(svgNode);
    const svgBlob = new Blob([svgString], {
      type: 'image/svg+xml;charset=utf-8'
    });

    const DOMURL = window.URL || window.webkitURL || window;
    const url = DOMURL.createObjectURL(svgBlob);

    const image = new Image();
    image.width = svgNode.width.baseVal.value;
    image.height = svgNode.height.baseVal.value;
    image.src = url;
    image.onload = function () {
      const canvas = document.getElementById('canvas');
      canvas.width = image.width;
      canvas.height = image.height;

      const ctx = canvas.getContext('2d');
      ctx.drawImage(image, 0, 0);
      DOMURL.revokeObjectURL(url);

      const imgURI = canvas
        .toDataURL('image/png')
        .replace('image/png', 'image/octet-stream');
      triggerDownload(imgURI);
    };
  });

  /* Run this at page load */
  $("#space-{{ request.GET.region }}").addClass("active-space");

  /* Each of the maps becomes semi-transparent if it is not highlighted, 
   * but this means that the flows that are drawn underneath become visible,
   * which is not desired. The solution is to copy all of the maps, and to
   * make those maps completely white, so that they are a background to 
   * cover the flow itself while allowing for a transparent upper-layer
  */
  $(".map-region").each(function(){
    map_copy = $(this).clone()
    map_copy.insertBefore(this);
    id = map_copy.attr("id");
    map_copy.attr("id", "clone-" + id);
    map_copy.removeClass("map-region");
    map_copy.removeClass("active-space");
    map_copy.addClass("clone-region");
  });

  /* 
   * The scripts below change the attributes of the SVG paths to define
   * the stroke color by setting the style attribute. Technically, we could
   * also do this by using CSS but if we do that, then if a user saves the 
   * image it will NOT have a stroke style, resulting in very odd-looking
   * images. Alternatively, if we hard-code the style in the SVG then we can
   * NOT easily change/manage the colors by setting classes, so this here 
   * seems to be the best balance of both. 
   * Note that the colors in the water graph are a bit different and thus
   * defind separately.
   */

  css_class_colors = {
    "green": "#61ec4d",
    "yellow": "#ecef54",
    "lightblue": "#96e1e8",
    "blue": "#96e1e8",
    "darkpurple": "#a88cce",
    "purple": "#9692fe",
    "orange": "#f1b460",
    "brown": "#ccb8b3",
    "grey": "grey",
    "red": "#e15843",
  }

  $(".custom-stroke").attr("style", "fill:none");
  $(".path").not(".custom-stroke").attr("style", "fill:none;stroke:#000");
  for ([key, value] of Object.entries(css_class_colors)) {
    $(".path." + key).not(".custom-stroke").attr("style", "fill:none;stroke:" + value); 
  }

  setDateLabels();
  setRegionLabels();
  getData();
  updateLevelLinks();
  
  {% if category.slug == "materials" %}
    setLogosAndColors();
  {% endif %}

  {% if not DEBUG %}
    $("#animate").click();
  {% endif %}

</script>

{% if is_admin %}
<script type="text/javascript">
$(function(){
  $("#show_nodes").click(function(){
    $(this).addClass("btn-default");
    $(this).removeClass("btn-default-outline");
    $(".node").show();
  });
  $("#show_node_numbers").click(function(){
    $(this).addClass("btn-default");
    $(this).removeClass("btn-default-outline");
    $(".node").each(function(){
      node_name = $(this).attr("id");
      $(this).find("text:last").text(node_name);
    });
  });
  $("#show_flows").click(function(){
    $(this).addClass("btn-default");
    $(this).removeClass("btn-default-outline");
    $(".path").show();
    $(".path").css("stroke-width", "2");
  });
  $("#show_data").click(function(){
    $(this).addClass("btn-default");
    $(this).removeClass("btn-default-outline");
    show_data = true;
    getData();
  });
});
</script>
{% endif %}
