{% extends "_base.html" %}
{% load static %}

{% block css %}
<style type="text/css">
.iframeblock h4,
.iframeblock a.btn-warning
{ 
  display:none;
}
</style>
{% endblock %}

{% block content %}

  {% if region %}
    {% with link=PROJECT.slug|add:":libraryframe" %}
      <div class="row">
        {% for each in documents %}
          <div class="col-6 mb-4">
            <h3>{{ each }}</h3>
            <iframe class="libraryitem card" src="{% url link each.id %}?ata-viz=176&boundaries={{ region.id }}&hide_details_link=true&hide_title=true" onload="resizeIframe(this)"></iframe>
          </div>
        {% endfor %}
      </div>
    {% endwith %}
  {% else %}
    {% with link=PROJECT.slug|add:":libraryframe" %}
      <div class="row">
        {% for key,value in regions.items %}
          <div class="col-6 mb-4">
            <h3>{{ key }}</h3>
            <iframe class="libraryitem card" src="{% url link 1010973 %}?data-viz=176&boundaries={{ value }}&hide_details_link=true&hide_title=true" onload="resizeIframe(this)"></iframe>
          </div>
        {% endfor %}
      </div>
    {% endwith %}
  {% endif %}

{% endblock %}
