{% extends "_base.html" %}
{% load static %}
{% load humanize %}

{% block head %}
<style type="text/css">
#w2{display:none}
</style>
{% endblock %}

{% block content %}

<ul class="nav nav-tabs">
  <li class="nav-item">
    <a class="nav-link waterlink active" href="#" data-id="w1">Niveau 1</a>
  </li>
  <li class="nav-item">
    <a class="nav-link waterlink" href="#" data-id="w2">Niveau 2</a>
  </li>

  <li class="nav-item dropdown ml-auto">
    <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-expanded="false">Année: 2020</a>
    <div class="dropdown-menu">
      <a class="dropdown-item" href="#">2020</a>
      <a class="dropdown-item disabled" href="#">2019</a>
      <a class="dropdown-item disabled" href="#">2018</a>
    </div>
  </li>
</ul> 

<div class="watergraphs">
  <div id="w1">
  <img src="/media/water/sankeys/water1.png" style="max-width:100%;min-width:1110px" alt="" id="w1"/>
  </div>
  <div id="w2">
    <img src="/media/water/sankeys/water2.png" style="max-width:100%" alt="" />
  </div>
</div>

<h1 hidden class="text-center mt-4">Maps and data</h1>

<div hidden class="row progress-list">
  {% for tag in infrastructure %}
    <div class="col-md-6 col-lg-4 mb-4">
      <div class="card icon-card">
        <div class="icon">
          <i class="far fa-fw fa-{{ tag.icon }}"></i>
        </div>
        <div class="card-body">
          <h5 class="card-title mb-3">{{ tag }}</h5>
          <ul class="list-group list-group-flush">
            {% for each in documents %}
              {% if tag in each.tags.all %}
              <li class="list-group-item">
                <a href="{% url "water:infrastructure_map" each.id %}{% if request.GET.region %}?boundaries={{ request.GET.region }}&amp;restrict_to_within_boundaries=true{% endif %}">
                {{ each.name }}
                </a>
              </li>
              {% endif %}
            {% endfor %}
          </ul>
        </div>
      </div>
    </div>
  {% endfor %}

  <div class="col-md-6 col-lg-4 mb-4">
    <div class="card icon-card">

      <div class="icon">
        <i class="far fa-fw fa-exchange"></i>
      </div>

      <div class="card-body">
        <h5 class="card-title mb-3">Flows</h5>
        <ul class="list-group list-group-flush">
          {% for each in documents_flows %}
            <li class="list-group-item">
              <a href="{% url URLS.LIBRARY_ITEM each.id %}{% if request.GET.region %}?boundaries={{ request.GET.region }}&amp;restrict_to_within_boundaries=true{% endif %}">
              {{ each.name }}
              </a>
              <br>
              <a href="{% url "water:dashboard" %}?document={{ each.id }}">Compare regions</a>
            </li>
          {% endfor %}
          <li class="list-group-item">
            <a href="{% url "water:dashboard" %}?region={% if request.GET.region %}{{ request.GET.region }}{% else %}1012156{% endif %}">View all charts</a>
          </li>
        </ul>
      </div>

    </div>

  </div>
</div>

{% endblock %}

{% block footer %}
<script type="text/javascript">
$(function(){
  $(".waterlink").click(function(e){
    $(".waterlink").removeClass("active");
    $(this).addClass("active");
    e.preventDefault();
    var id = $(this).data("id");
    console.log(id);
    $(".watergraphs div").hide();
    $("#" + id).show();
  });
});
</script>
{% endblock %}
