{% extends "_base.html" %}
{% load static %}
{% load humanize %}

{% block head %}
<style type="text/css">
#w2{display:none}
</style>
{% endblock %}

{% block content %}

<ul class="nav nav-tabs">
  <li class="nav-item">
    <a class="nav-link waterlink active" href="#" data-id="w1">Niveau 1</a>
  </li>
  <li class="nav-item">
    <a class="nav-link waterlink" href="#" data-id="w2">Niveau 2</a>
  </li>

  <li class="nav-item dropdown ml-auto">
    <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-expanded="false">Année: 2020</a>
    <div class="dropdown-menu">
      <a class="dropdown-item" href="#">2020</a>
      <a class="dropdown-item disabled" href="#">2019</a>
      <a class="dropdown-item disabled" href="#">2018</a>
    </div>
  </li>
</ul> 

<div class="watergraphs">
  <div id="w1">
  <img src="/media/water/level1.png" style="max-width:100%;min-width:1110px" alt="" id="w1" usemap="#map" />

  <map name="map">

    <area shape="poly" coords="702, 475, 716, 448, 775, 450, 764, 465, 793, 470, 789, 482, 738, 489, 743, 516, 716, 525, 707, 504, 701, 492" href="?region=1012174" />
    <area shape="poly" coords="614, 553, 635, 529, 639, 509, 688, 506, 688, 483, 675, 475, 682, 462, 645, 463, 620, 482, 599, 469, 586, 485, 607, 528" href="?region=1012173" />
    <area shape="poly" coords="588, 400, 624, 381, 644, 389, 653, 420, 670, 415, 685, 448, 657, 454, 635, 453, 629, 466, 611, 465, 602, 456, 612, 438, 582, 423" href="?region=1012176" />
    <area shape="poly" coords="587, 382, 569, 358, 594, 342, 619, 320, 614, 288, 607, 271, 583, 259, 611, 246, 604, 217, 589, 205, 601, 185, 678, 175, 748, 214, 758, 284, 713, 328, 667, 322, 661, 333, 682, 363, 631, 370, 610, 371" href="?region=1012177" />
    <area shape="poly" coords="565, 387, 534, 401, 525, 412, 528, 445, 478, 466, 473, 513, 515, 517, 540, 511, 542, 532, 542, 551, 566, 553, 589, 543, 586, 523, 575, 481, 595, 449, 566, 434, 571, 402" href="?region=1012175" />
    <area shape="poly" coords="379, 139, 249, 62, 182, 116, 205, 170, 286, 207, 337, 189, 393, 239, 483, 316, 558, 352, 564, 337, 593, 330, 603, 313, 589, 283, 551, 259, 590, 238, 588, 221, 563, 206, 574, 194, 587, 183, 574, 165, 490, 150, 404, 151" href="?region=1012172" />
  </map>

  </div>
  <img src="{% static "img/water/water2.png" %}" style="max-width:100%" alt="" id="w2" />
</div>

<h1 class="text-center mt-4">Maps and data</h1>

<div class="row progress-list">
  {% for tag in infrastructure %}
    <div class="col-md-6 col-lg-4 mb-4">
      <div class="card icon-card">
        <div class="icon">
          <i class="far fa-fw fa-{{ tag.icon }}"></i>
        </div>
        <div class="card-body">
          <h5 class="card-title mb-3">{{ tag }}</h5>
          <ul class="list-group list-group-flush">
            {% for each in documents %}
              {% if tag in each.tags.all %}
              <li class="list-group-item">
                <a href="{% url "water:infrastructure_map" each.id %}{% if request.GET.region %}?boundaries={{ request.GET.region }}&amp;restrict_to_within_boundaries=true{% endif %}">
                {{ each.name }}
                </a>
              </li>
              {% endif %}
            {% endfor %}
          </ul>
        </div>
      </div>
    </div>
  {% endfor %}

  <div class="col-md-6 col-lg-4 mb-4">
    <div class="card icon-card">

      <div class="icon">
        <i class="far fa-fw fa-exchange"></i>
      </div>

      <div class="card-body">
        <h5 class="card-title mb-3">Flows</h5>
        <ul class="list-group list-group-flush">
          {% for each in documents_flows %}
            <li class="list-group-item">
              <a href="{% url URLS.LIBRARY_ITEM each.id %}{% if request.GET.region %}?boundaries={{ request.GET.region }}&amp;restrict_to_within_boundaries=true{% endif %}">
              {{ each.name }}
              </a>
              <br>
              <a href="{% url "water:dashboard" %}?document={{ each.id }}">Compare regions</a>
            </li>
          {% endfor %}
          <li class="list-group-item">
            <a href="{% url "water:dashboard" %}?region={% if request.GET.region %}{{ request.GET.region }}{% else %}1012156{% endif %}">View all charts</a>
          </li>
        </ul>
      </div>

    </div>

  </div>
</div>

{% endblock %}

{% block footer %}
<script type="text/javascript">
$(function(){
  $(".waterlink").click(function(e){
    $(".waterlink").removeClass("active");
    $(this).addClass("active");
    e.preventDefault();
    var id = $(this).data("id");
    console.log(id);
    $(".watergraphs img").hide();
    $("#" + id).show();
  });
});
</script>
{% endblock %}
