{% extends "_base.html" %}
{% load static %}

{% block page_name %}fullwidth{% endblock %}

{% block head %}
<link rel="stylesheet" href="{% static "css/water.css" %}" />
{% endblock %}

{% block content %}
<div class="container-fluid">

  <div class="row">
    <div class="col-lg-2 sidebar d-print-none">
      {% include "_sidebar-water.html" %}
    </div>
    <div class="col-lg-10 main offset-lg-2">

      <input type="hidden" name="level" value="1" />
      <ul class="nav nav-pills d-print-none" id="top-tabs">
        <li class="nav-item">
          <a class="btn btn-dark waterlink" href="#" data-id="w1">Niveau 1</a>
        </li>
        <li class="nav-item">
          <a class="nav-link waterlink disabled" href="#" data-id="w2">Niveau 2</a>
        </li>
        <li class="nav-item">
          <a class="nav-link waterlink disabled" href="#" data-id="w2">Niveau 3</a>
        </li>
        <li class="nav-item ml-auto">
          <a href="#"><i class="fa fa-download"></i></a>
        </li>

        <li class="nav-item ml-2">
          <a href="javascript:print()"><i class="fa fa-print"></i></a>
        </li>

      </ul> 
      <div class="main-body">

        <div class="watergraphs">

          <p class="text-center mt-2 mb-1">
            Métabolisme <span id="title_region"></span> / 
            flux: {{ category }} /
            niveau: <span id="title_level">1</span> /
            période: <span class="title_date"></span>
          </p>

          <div id="w1">

          <span class="loading">
            <i class="fas fa-spinner-third fa-spin"></i>
          </span>

          <span class="animate-toggle d-print-none">
            <label class="btn font-weight-bold">
              <input type="checkbox" id="animate" value="true">
              {{ _("Activer le mode animation") }}
            </label>
          </span>

            {% include "water/svg/emissions.svg" %}
            {% include "water/_modal.html" %}

          </div>
          <div id="w2">
          </div>
        </div>
      </div>

    </div>
  </div>
</div>

{% endblock %}

{% block footer %}
  {% include "water/_javascript.html" %}
{% endblock %}
