{% extends "_base.html" %}

{% block page_name %}fullwidth{% endblock %}

{% block head %}
<style type="text/css">
.period-dropdown, .bi-caret-up{display:none}
</style>
{% endblock %}

{% block content %}
<div class="container-fluid">

  <div class="row">
    <div class="col-lg-2 sidebar">
      {% include "_sidebar-water.html" %}
    </div>
    <div class="col-lg-10 main offset-lg-2">

      <ul class="nav nav-tabs">
        <li class="nav-item">
          <a class="nav-link waterlink active" href="#" data-id="w1">Niveau 1</a>
        </li>
        <li class="nav-item">
          <a class="nav-link waterlink disabled" href="#" data-id="w2">Niveau 2</a>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled" style="color:#333">
          Métabolisme {{ region }} / flux: Gaz à effets de serre / périodo: Jan 2022-Dec 2023
          </a>
        </li>
        <li class="nav-item ml-auto">
          <a href="#"><i class="fa fa-download"></i></a>
        </li>

        <li class="nav-item ml-2">
          <a href="javascript:print()"><i class="fa fa-print"></i></a>
        </li>

      </ul> 
      <div class="main-body">

        <div class="watergraphs">
          <div id="w1">
          <img src="/media/water/sankeys/emissions1.png" style="max-width:100%;min-width:1110px" alt="" id="w1" usemap="#map" />

          </div>
          <div id="w2">
          </div>
        </div>
      </div>

    </div>
  </div>
</div>

{% endblock %}

{% block footer %}
<script type="text/javascript">
$(function(){
  $(".waterlink").click(function(e){
    e.preventDefault();
  });
});
</script>
{% include "water/_flows-buttons.js" %}
{% endblock %}
