{% extends "_base.html" %}

{% block page_name %}fullwidth{% endblock %}

{% block head %}
<style type="text/css">
#w2{display:none}
.bi-caret-up{display:none}
</style>
{% endblock %}

{% block content %}

<div class="container-fluid">

  <div class="row">
    <div class="col-lg-2 sidebar d-print-none">
      {% include "_sidebar-water.html" %}
    </div>
    <div class="col-lg-10 main offset-lg-2">

      <ul class="nav nav-tabs d-print-none">
        <li class="nav-item">
          <a class="nav-link waterlink active" href="#" data-id="w1">Niveau 1</a>
        </li>
        <li class="nav-item">
          <a class="nav-link waterlink" href="#" data-id="w2">Niveau 2</a>
        </li>

        <li class="nav-item ml-auto">
          <a href="#"><i class="fa fa-download"></i></a>
        </li>

        <li class="nav-item ml-2">
          <a href="javascript:print()"><i class="fa fa-print"></i></a>
        </li>

      </ul> 

      <div class="main-body">

        <div class="watergraphs">
        <p class="text-center mt-2 mb-1">Métabolisme {{ region }} / flux: Energies / niveau: 1 / période: Jan 2022-Dec 2023</p>
          <div id="w1">
          <img src="/media/water/sankeys/energy1.png" style="max-width:100%;max-height:calc(100vh - 232px)" alt="" id="w1" usemap="#map" />

          </div>
          <div id="w2">
            <img src="/media/water/sankeys/energy2.png?refresh" style="max-width:100%" alt="" />
          </div>
        </div>

      </div>

    </div>
  </div>

</div>

{% endblock %}

{% block footer %}
<script type="text/javascript">
$(function(){
  $(".waterlink").click(function(e){
    $(".waterlink").removeClass("active");
    $(this).addClass("active");
    e.preventDefault();
    var id = $(this).data("id");
    console.log(id);
    $(".watergraphs div").hide();
    $("#" + id).show();
  });
});
</script>
{% include "water/_javascript.html" %}
{% endblock %}
