{% extends "_base.html" %}
{% load static %}

{% block head %}
<style type="text/css">
img.w{max-width:100%}
</style>
{% endblock %}

{% block footer %}
  <script type="text/javascript">
  $(function(){
    $("select[name='level']").change(function(){
      level = $(this).val();
      window.location = "{% url 'water:index' %}?level=" + level;
    });
  });
  </script>
{% endblock %}

{% block content %}

      <div class="row mb-2" style="clear:both">
        <div class="col-md-3">
          <label>
          Territoire
          </label>
          <select name="" class="form-control">
            <option value="">MNCA</option>
            <option value="" disabled>Nice</option>
            <option value="" disabled>Tinée</option>
            <option value="" disabled>Vésubie</option>
            <option value="" disabled>Moyen Pays Rive Gauche</option>
            <option value="" disabled>Rive Droite</option>
          </select>
        </div>

        <div class="col-md-3">
          <label>
          Type de flux
          </label>
          <select name="" class="form-control">
            <option value="">Eau</option>
            <option value="" disabled>Energie</option>
            <option value="" disabled>Gaz à effet de serre</option>
          </select>
        </div>

        <div class="col-md-2">
          <label>
          Année
          </label>
          <select name="" class="form-control">
            <option value="">2020</option>
            <option value="" disabled>2019</option>
            <option value="" disabled>2018</option>
          </select>
        </div>

        <div class="col-md-2">
          <label>
          Détail
          </label>
          <select name="level" class="form-control">
            <option value="1">Niveau 1</option>
            <option value="2" {% if request.GET.level == "2" %}selected{% endif %}>Niveau 2</option>
            <option value="" disabled>Niveau 3</option>
          </select>
        </div>

        <div class="col-md-2">
          <label>
          Unité<br>
          </label>
          <strong>
          <br>
            km3
          </strong>
        </div>

      </div>

      {% if request.GET.level == "2" %}
        <img class="w" src="{% static "img/water/water2.png" %}" alt="" />
      {% else %}
        <img class="w" src="{% static "img/water/water1.png" %}" alt="" />
      {% endif %}

  </div>

{% endblock %}
