{% extends "_base.html" %}
{% load static %}

{% block title %}Water metabolism dashboard{% endblock %}

{% block css %}
<style type="text/css">
a[href=""]{
  color:#000 !important;
  opacity: 0.7;
}
h5 {
  text-decoration: underline;
  font-weight: bold;
}
</style>
{% endblock %}

{% block content %}

  <img src="{% static "img/water/water1.png" %}" style="max-width:100%" alt="" />

  <h2>Water metabolism dashboard - Métropole Nice Côte d'Azur</h2>

    <div class="row progress-list">
    
      <div class="col-md-6 col-lg-4 mb-4">
        <div class="card">
          <a href="/data/dashboards/huancayo/">
            <img src="/media/water/input.jpg" class="card-img-top" alt="Huancayo" style="max-height:200px">
          </a>
          <div class="card-body">
            <h5 class="card-title mb-0"><a href="/data/dashboards/huancayo/">Input</a></h5>
          </div>
          <ul class="list-group list-group-flush">
            {% for each in input %}
            <li class="list-group-item">
              <i class="fas fa-fw fa-{{ each.logo }} mr-2"></i>
              <a href="">
              {{ each.name }}
              </a>
            </li>
            {% endfor %}
          </ul>
          <div class="card-body">
            <a class="btn btn-primary" href="/data/dashboards/huancayo/">
              <i class="fad fa-info-circle"></i> Learn more
            </a>
            <a class="btn btn-primary-basic" href="/hub/">
              <i class="fad fa-list"></i> View data
            </a>
          </div>
        </div>
      </div>
    
      <div class="col-md-6 col-lg-4 mb-4">
        <div class="card">
          <a href="/data/dashboards/huancayo/">
            <img src="/media/water/production.jpg" class="card-img-top" alt="Huancayo" style="max-height:200px">
          </a>
          <div class="card-body">
            <h5 class="card-title mb-0"><a href="/data/dashboards/huancayo/">Production</a></h5>
          </div>
          <ul class="list-group list-group-flush">
            {% for each in production %}
            <li class="list-group-item">
              <i class="fas fa-fw fa-{{ each.logo }} mr-2"></i>
              <a href="">
              {{ each.name }}
              </a>
            </li>
            {% endfor %}
          </ul>
          <div class="card-body">
            <a class="btn btn-primary" href="/data/dashboards/huancayo/">
              <i class="fad fa-info-circle"></i> Learn more
            </a>
            <a class="btn btn-primary-basic" href="/hub/">
              <i class="fad fa-list"></i> View data
            </a>
          </div>
        </div>
      </div>
    
      <div class="col-md-6 col-lg-4 mb-4">
        <div class="card">
          <a href="/data/dashboards/huancayo/">
            <img src="/media/water/distribution.jpg" class="card-img-top" alt="Huancayo" style="max-height:200px">
          </a>
          <div class="card-body">
            <h5 class="card-title mb-0"><a href="/data/dashboards/huancayo/">Distribution</a></h5>
          </div>
          <ul class="list-group list-group-flush">
            {% for each in distribution %}
            <li class="list-group-item">
              <i class="fas fa-fw fa-{{ each.logo }} mr-2"></i>
              <a href="">
              {{ each.name }}
              </a>
            </li>
            {% endfor %}
          </ul>
          <div class="card-body">
            <a class="btn btn-primary" href="/data/dashboards/huancayo/">
              <i class="fad fa-info-circle"></i> Learn more
            </a>
            <a class="btn btn-primary-basic" href="/hub/">
              <i class="fad fa-list"></i> View data
            </a>
          </div>
        </div>
      </div>

      <div class="col-md-6 col-lg-4 mb-4">
        <div class="card">
          <a href="/data/dashboards/huancayo/">
            <img src="/media/water/consumption.jpg" class="card-img-top" alt="Huancayo" style="max-height:200px">
          </a>
          <div class="card-body">
            <h5 class="card-title mb-0"><a href="/data/dashboards/huancayo/">Consumption</a></h5>
          </div>
          <ul class="list-group list-group-flush">
            {% for each in consumption %}
            <li class="list-group-item">
              <i class="fas fa-fw fa-{{ each.logo }} mr-2"></i>
              <a href="">
              {{ each.name }}
              </a>
            </li>
            {% endfor %}
          </ul>
          <div class="card-body">
            <a class="btn btn-primary" href="/data/dashboards/huancayo/">
              <i class="fad fa-info-circle"></i> Learn more
            </a>
            <a class="btn btn-primary-basic" href="/hub/">
              <i class="fad fa-list"></i> View data
            </a>
          </div>
        </div>
      </div>    
      <div class="col-md-6 col-lg-4 mb-4">
        <div class="card">
          <a href="/data/dashboards/huancayo/">
            <img src="/media/water/waste.jpg" class="card-img-top" alt="Huancayo" style="max-height:200px">
          </a>
          <div class="card-body">
            <h5 class="card-title mb-0"><a href="/data/dashboards/huancayo/">Waste water treatment</a></h5>
          </div>
          <ul class="list-group list-group-flush">
            {% for each in waste %}
            <li class="list-group-item">
              <i class="fas fa-fw fa-{{ each.logo }} mr-2"></i>
              {% if each.id %}
              <a href="{% if each.id %}{% url "water:infrastructure_map" each.id %}{% endif %}">
              {{ each.name }}
              </a>
              {% else %}
                {{ each.name }}
              {% endif %}
            </li>
            {% endfor %}
          </ul>
          <div class="card-body">
            <a class="btn btn-primary" href="/data/dashboards/huancayo/">
              <i class="fad fa-info-circle"></i> Learn more
            </a>
            <a class="btn btn-primary-basic" href="/hub/">
              <i class="fad fa-list"></i> View data
            </a>
          </div>
        </div>
      </div>

      <div class="col-md-6 col-lg-4 mb-4">
        <div class="card">
          <a href="/data/dashboards/huancayo/">
            <img src="/media/water/output.jpg" class="card-img-top" alt="Huancayo" style="max-height:200px">
          </a>
          <div class="card-body">
            <h5 class="card-title mb-0"><a href="/data/dashboards/huancayo/">Outputs</a></h5>
          </div>
          <ul class="list-group list-group-flush">
            {% for each in output %}
            <li class="list-group-item">
              <i class="fas fa-fw fa-{{ each.logo }} mr-2"></i>
              <a href="">
              {{ each.name }}
              </a>
            </li>
            {% endfor %}
          </ul>
          <div class="card-body">
            <a class="btn btn-primary" href="/data/dashboards/huancayo/">
              <i class="fad fa-info-circle"></i> Learn more
            </a>
            <a class="btn btn-primary-basic" href="/hub/">
              <i class="fad fa-list"></i> View data
            </a>
          </div>
        </div>
      </div>    
</div>

<h2>Circularity indicators</h2>

<div class="row progress-list">

  <div class="col-md-6 col-lg-4 mb-4">
    <div class="card">
      <img src="/media/water/chart.png" class="card-img-top" alt="...">
      <div class="card-body">
        <h2>Water consumption</h2>
        <p><strong>March 2023</strong>
        <span class="ml-4 badge bg-success text-white">+13%</span>
        <div>
          <a class="btn btn-primary" href="/data/dashboards/huancayo/">
            <i class="fad fa-info-circle"></i> Learn more
          </a>
          <a class="btn btn-primary-basic" href="/hub/">
            <i class="fad fa-list"></i> View data
          </a>
        </div>
      </div>
    </div>
  </div>

  <div class="col-md-6 col-lg-4 mb-4">
    <div class="card">
      <img src="/media/water/donut.png" class="card-img-top" alt="...">
      <div class="card-body">
        <h2>Water sufficiency</h2>
        <p><strong>March 2023</strong>
        <span class="ml-4 badge bg-success text-white">33%</span>
        <div>
          <a class="btn btn-primary" href="/data/dashboards/huancayo/">
            <i class="fad fa-info-circle"></i> Learn more
          </a>
          <a class="btn btn-primary-basic" href="/hub/">
            <i class="fad fa-list"></i> View data
          </a>
        </div>
      </div>
    </div>
  </div>

  <div class="col-md-6 col-lg-4 mb-4">
    <div class="card">
      <img src="/media/water/graph.png" class="card-img-top" alt="...">
      <div class="card-body">
        <h2>Energy recovery</h2>
        <p><strong>March 2023</strong>
        <span class="ml-4 badge bg-success text-white">43%</span>
        <div>
          <a class="btn btn-primary" href="/data/dashboards/huancayo/">
            <i class="fad fa-info-circle"></i> Learn more
          </a>
          <a class="btn btn-primary-basic" href="/hub/">
            <i class="fad fa-list"></i> View data
          </a>
        </div>
      </div>
    </div>
  </div>

</div>

{% endblock %}
