{% extends "_base.html" %}

{% block content %}

<div class="text-center mt-5">

<h1>Bienvenue sur le site du Métabolisme des Services de l’Eau et de l’Assainissement de la Métropole Nice Côte d’Azur</h1>

<img src="/media/water/homepage.webp" class="img-thumbnail" alt="" />

<div class="p-5 bg-white mt-4 img-thumbnail" style="display:inline-block">
<a href="{% url "water:water" %}?region=1">
  <img src="/media/water/thumbnail.png" alt="" />
</a>
<a class="btn btn-primary" href="{% url "water:water" %}?region=1">Cliquez ici pour accéder au Métabolisme Eau d’Azur</a>
</div>

</div>

{% endblock %}
