{% extends "_base.html" %}
{% load static %}

{% block page_name %}fullwidth{% endblock %}

{% block head %}
<link rel="stylesheet" href="{% static "css/water.css" %}?K90168913B1" />
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap" rel="stylesheet"> 

{% endblock %}

{% block content %}
<div class="container-fluid page-{{ category.slug }}">

  <div class="row">
    <div class="col-lg-2 sidebar d-print-none">
      {% include "_sidebar-water.html" %}
    </div>
    <div class="col-lg-10 main offset-lg-2">

      <input type="hidden" name="level" value="{{ level }}" />
      <ul class="nav nav-pills d-print-none" id="top-tabs">
        <li class="nav-item">
          <a data-level="1" class="btn {% if level == 1 %}btn-dark{% endif %}" href="?region={{ request.GET.region }}&amp;level=1">{{ _("Level") }} 1</a>
        </li>
        <li class="nav-item">
          <a data-level="2" class="btn {% if level == 2 %}btn-dark{% endif %} {% if category.slug == "emissions" %}disabled{% endif %}" href="?region={{ request.GET.region }}&amp;level=2">{{ _("Level") }} 2</a>
        </li>
        {% if category.slug == "water" %}
          <li class="nav-item">
            <a class="nav-link disabled" href="#" data-id="w2">{{ _("Level") }} 3</a>
          </li>
        {% endif %}
        <li class="nav-item ml-auto">
          <a href="#" id="download"><i class="fa fa-download"></i></a>
        </li>

        <li class="nav-item ml-2">
          <a href="javascript:print()"><i class="fa fa-print"></i></a>
        </li>

      </ul> 
      <div class="main-body level-{{ request.GET.level }}">

        <div class="watergraphs">

          <p class="text-center mt-2 mb-1">
            «
              {{ _("Metabolism") }} <strong id="title_region"></strong> -
              {{ _("Flow") }} : <strong>{{ category }}</strong> -
              {{ _("Level") }} : <strong id="title_level">{{ level }}</strong> -
              {{ _("Period") }} : <strong class="title_date"></strong>
            »
          </p>

          <div id="w1">

          <span class="loading">
            <i class="fas fa-spinner-third fa-spin"></i>
          </span>

          <span class="animate-toggle d-print-none">
            <label class="btn font-weight-bold">
              <input type="checkbox" id="animate" value="true">
              {{ _("Animation") }}
            </label>
          </span>

          {% include svg %}
          {% include "water/_modal.html" %}

          {% if is_admin and DEBUG %}
            <div class="alert alert-info mt-5 d-print-none">
              <strong>Admin tools</strong><br>
              <span id="show_nodes" class="btn btn-default-outline">Show all nodes</span>
              <span id="show_node_numbers" class="btn btn-default-outline">Show node numbers</span>
              <span id="show_flows" class="btn btn-default-outline">Show all flows</span>
              <span id="show_data" class="btn btn-default-outline">Show data</span>
              <pre class="pt-3" id="show_data_box"></pre>
            </div>
          {% endif %}

        </div>

        </div>
      </div>

    </div>
  </div>
</div>

{% endblock %}

{% block footer %}
  {% include "water/_javascript.html" %}
{% endblock %}
