{% extends "_base.html" %}

{% block head %}
<style type="text/css">
.active-card {
  background:#CF4803;
  color:#fff;
}
.active-card .card-header {
  background:#CF4803;
  color:#fff;
}
</style>
{% endblock %}

{% block content %}

{% include "hub/_nav.html" %}

<div class="row">

  <div class="col-lg-8">

    <p>
      Welcome to the community portal! We are an open source, community-driven 
      initiative, and this is the place where you can find out how to help,
      what to help with, and become part of our community while doing so. 
      <strong>Thanks for your interest!</strong>
    </p>

    {% if not tag %}
      {{ main_tag.get_description }}
    {% endif %}

    <section class="row btn-cards">
      {% for each in tags %}
        <div class="col-md-6 mb-4">
          <a class="card icon-card btn-card {% if each == tag %}active-card{% endif %}" href="?tag={{ each.id }}">
            <div class="icon">
              <i class="fal fa-fw fa-{{ each.icon }}"></i>
            </div>
            <div class="card-header">{{ each }}</div>
          </a>
        </div>
      {% endfor %}
    </section>

    {% if tag %}
      <div class="">
        {{ tag.get_description }}
      </div>
    {% endif %}


    <h2 class="mt-4">Tasks</h2>
    {% if tag %}
      <p><em>Related to: <strong>{{ tag }}</strong></em>. <a href="./">View all</a></p>
    {% endif %}
    {% include "contribution/_workgrid.html" %}

    <h2 class="mt-4">Latest task updates</h2>
    {% if tag %}
      <p><em>Related to: <strong>{{ tag }}</strong></em>. <a href="./">View all</a></p>
    {% endif %}
    <div class="list-group list-group-flush">
      {% for each in updates %}
        <a class="list-group-item list-group-item-action" href="{% url URLS.TASK each.id %}">
          <div class="d-flex w-100 justify-content-between">
            <span>
              <strong>
                {{ each }}
              </strong>
              ·
              <span class="text-muted">
                {{ each.last_update.posted_by }}
              </span>
            </span>
            <small>{{ each.last_update.date_created|timesince }} ago</small>
          </div>
        </a>
      {% endfor %}
    </div>

    <p class="mt-3 text-right"><a class="btn btn-primary btn-sm" href="{% if DEBUG %}/{{ PROJECT.slug }}{% endif %}/hub/latest/?project_only=true">View all updates</a></p>

    <h2 class="mt-4">Latest forum posts</h2>
    {% if tag %}
      <p><em>Related to: <strong>{{ tag }}</strong></em>. <a href="./">View all</a></p>
    {% endif %}

    <div class="list-group list-group-flush">
      {% for each in forum %}
        {% with link=PROJECT.slug|add:":volunteer_forum" %}
          <a class="list-group-item list-group-item-action" href="{% url link each.id %}">
        {% endwith %}
          <div class="d-flex w-100 justify-content-between">
            <span>
              <strong>
                {{ each }}
              </strong>
              ·
              <span class="text-muted">
                {{ each.last_update.posted_by }}
              </span>
            </span>
            <small>{{ each.last_update.date_created|timesince }} ago</small>
          </div>
        </a>
      {% endfor %}
    </div>

    {% with link=PROJECT.slug|add:":volunteer_forum" %}
      <p class="mt-3 text-right"><a class="btn btn-primary btn-sm" href="{% url link %}">Go to forum</a></p>
    {% endwith %}

  </div>

  <div class="col-lg-4">
    {% include "hub/_sidebar.html" %}
  </div>

</div>

{% if load_messaging %}
  <h2 class="mt-4">Messages</h2>
  <section class="messages">
    {% include "_messages.html" %}
  </section>
{% endif %}

{% endblock %}
