{% extends "_base.html" %}

{% block content %}

{% include "contribution/_nav.users.html" %}

  <h2>Points</h2>

  {{ webpage.get_description }}

  <table class="table table-striped datatable">
    <thead>
      <tr>
        <th>Type of activity</th>
        <th>Category</th>
        <th>Points</th>
      </tr>
    </thead>
    <tbody>
    {% for each in activities %}
      <tr>
        <td>{{ each }}</td>
        <td>{{ each.get_type_display }}</td>
        <td>{{ each.points }}</td>
      </tr>
    {% endfor %}
    </tbody>
  </table>

  <h2 class="mt-4">Badges</h2>

  {{ webpage_badges.get_description }}

    {% for each in badges %}
      <div class="row mt-{% ifchanged each.code %}4{% else %}1{% endifchanged %}">
        <div class="col-3">
          <span class="btn btn-dark">
            <i class="fa fa-circle badge-level-{{ each.type }}"></i>
            {{ each }}
          </span>
        </div>
        <div class="col-9">
          {{ each.description }}
        </div>
      </div>
    {% endfor %}
{% endblock %}
