{% extends "_base.html" %}

{% block content %}

{% include "contribution/_nav.users.html" %}

{{ webpage.get_description }}

<p>
  This is the entire community from all of the Metabolism of Cities <a href="/projects/">projects</a>.
  Use the filter below to view individual communities.
</p>

<form class="mb-3">

  <div class="col-auto">
    <select name="project" class="form-control custom-select">
      <option value=""></option>
      {% for each in projects %}
        <option {% if project == each.id %}selected{% endif %} value="{{ each.id }}">{{ each }}</option>
      {% endfor %}
    </select>
  </div>

  <div class="col-auto">
    <button type="submit" class="btn btn-primary mb-2 mt-2">Submit</button>
  </div>

</form>

<div class="row mb-4">
  {% for each in list %}
    <div class="col-lg-4 col-md-6 col-sm-8 mb-3">
      <a class="card btn-card" href="{% url "core:user" each.id %}">
        <img src="{{ each.get_photo.url }}" class="card-img-top" alt="">
        <div class="card-body">
          <h5 class="card-title">{{ each }}</h5>
          <h6 class="card-subtitle mb-2 text-muted">{{ each.user.date_joined|date:"M d, Y" }}</h6>
          {% if each.points %}
            <h6 class="card-subtitle mb-2 text-muted">{{ each.points }} points</h6>
          {% endif %}
        </div>
      </a>
    </div>
  {% endfor %}
</div>

{% endblock %}
