{% extends "_base.html" %}
{% load humanize %}
{% load static %}

{% block page_name %}work sprint fullwidth{% endblock %}

{% block content %}

<div class="fullwidth-wrapper text-center mb-3">
  <h1 class="mb-0">{{ info }}</h1>
  <div class="date text-muted mb-3">
    {{ info.start_date|date:"l d F Y, H:i" }} -
    {{ info.end_date|date:"l d F Y, H:i" }} (<a href="https://www.timeanddate.com/worldclock/timezone/utc" target="_blank">UTC</a>)
  </div>

  {% if participants %}
    <div class="participants mb-3">
      {% for each in participants %}
        <img src="{{ each.image.thumbnail.url }}" alt="{{ each }}" class="avatar"/>
      {% endfor %}
    </div>
  {% endif %}

  <a class="btn btn-primary-basic" href="tasks/">
    <i class="fal fa-clipboard-list"></i>
    View task list
  </a>

  {% if request.user.people not in participants %}
    <form method="post">
      {% csrf_token %}
      <button type="submit" class="btn btn-default-outline" name="sign_me_up" value="true">
        <i class="fa fa-check"></i>
        Sign up for this sprint
      </button>
    </form>
  {% endif %}
</div>

<div class="container pt-4">

  <div class="row">
    <div class="col-md-6">
      <h1>Chat</h1>

      <div id="chat-wrap">
        <div id="chat">
          {% for message in message_list %}
            <div class="{% if message.people == request.user.people %}from-self d-flex align-items-end flex-column{% else %}from-other d-flex align-items-start flex-column{% endif %}">
              <div class="single-chat">
                <div class="text-left">{{ message.message }}</div>
                <small class="text-muted">
                  {% if not message.people == request.user.people %}{{ message.people }}, {% endif %}
                  <span title="{{ message.timestamp|date:'l d F Y, H:i' }}">{{ message.timestamp|date:'H:i' }}</span>
                </small>
              </div>
            </div>
          {% endfor %}
        </div>

        <div class="position-relative">
          <textarea class="form-control" id="chat-message-input" placeholder="Send with CTRL + Enter"></textarea>

          <button id="chat-message-submit" type="submit" class="btn" value="Send">
            <i class="fa fa-send mr-0"></i>
          </button>
        </div>
      </div>

      {{ info.id|json_script:"room-name" }}
    </div>

    <div class="col-md-6">
      <h1>Work updates</h1>

      <div id="updates-wrap">
        <div id="updates">
          {% for each in updates %}
            <div class="single-update">
              <div>
                <a class="d-block mb-2" href="tasks/{{ each.parent.id }}/">{{ each.parent }}</a>

                {% if each.name == "Task assigned" %}
                  <i class="far fa-fw fa-user-check mr-1"></i>
                {% elif each.name == "Status change" %}
                  <i class="far fa-fw fa-retweet mr-1"></i>
                {% elif each.name == "Task unassigned" %}
                  <i class="far fa-fw fa-user-times mr-1"></i>
                {% elif each.name == "Task created" %}
                  <i class="far fa-fw fa-play mr-1"></i>
                {% endif %}

                {{ each.get_markdown_description|safe|truncatewords_html:30 }}
              </div>
              <small class="text-muted">
                {{ each.author }} | <span title="{{ each.date_created|date:'l d F Y, H:i' }}">{{ each.date_created|date:'l d F, H:i' }}</span>
              </small>
            </div>
          {% endfor %}
        </div>
        <div class="alert alert-light" id="new-updates">
          There are <span id="updates_number">no</span> new updates
          <div id="load-latest" class="float-right" hidden>
            <i class="fal fa-redo mr-1"></i>
            Load updates
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block footer %}
  {% if request.user.is_authenticated %}
    <script src="{% static 'js/reconnecting-websockets.js' %}"></script>
    <script>
      const roomName = JSON.parse(document.getElementById("room-name").textContent);
      const userId = {{ request.user.people.id }};
      const favIcon = document.querySelector("link[rel='shortcut icon']");
      const currentFavicon = "{% static 'img/favicon/favicon.png' %}";
      const replaceFavicon = "{% static 'img/favicon/favicon.red.png' %}";

      last_update = {{ last_update }};

      // function to check for updaters
      function getUpdates() {
        $.get("{{ request.get_full_path }}?updates_since={{ last_update }}", {
          datatype: "json"
        }).done(function(data) {
          if (data.updates > 0) {
            $("#new-updates").addClass("alert-warning").removeClass("alert-light")
            $("#updates_number").text(data.updates);
            $("#load-latest").removeAttr("hidden");

            if (document.hidden) {
              favIcon.setAttribute("href", replaceFavicon);
            }
          } else {
            $("#new-updates").removeClass("alert-warning").addClass("alert-light")
            $("#updates_number").text("no");
            $("#load-latest").attr("hidden", "hidden");
          }

        });
      }

      // check every 3 min (time is in milliseconds)
      setInterval(getUpdates(), 1000 * 60 * 3);

      $("#load-latest").click(function() {
        $.get("some_url").done(function(data) {
          $("updates").html(data);
          $("updates").scrollTop = objDiv.scrollHeight;
        });
      })

      $("#chat").scrollTop = objDiv.scrollHeight;
      $("#updates").scrollTop = objDiv.scrollHeight;

      window.addEventListener("focus", function(event) {
        favIcon.setAttribute("href", currentFavicon)
      }, false);

      var focused = true;

      const chatSocket = new ReconnectingWebSocket(
        "ws://"
        + window.location.host
        + "/ws/chat/"
        + roomName
        + "/"
      );

      chatSocket.onmessage = function(e) {
          const data = JSON.parse(e.data);
        const message = data["message"]
        const username = message.user;
        const user_id = message.user_id;

        let mainWrapperMessage = document.createElement("div");
        let wrapperMessage = document.createElement("div");
        let tagName = document.createElement("strong");

        let contentMessage = document.createElement("p");
        contentMessage.textContent = message.message;

        let timeMessage = document.createElement("span");
        timeMessage.textContent = message.timestamp;
        timeMessage.textContent = username;

        if (userId === user_id) {
          wrapperMessage.className = "alert-success";
          wrapperMessage.classList.add("float-right");

          favIcon.setAttribute("href", currentFavicon);

        } else {
          wrapperMessage.className = "alert-info";
          wrapperMessage.classList.add("float-left");

          if (document.hidden) {
            favIcon.setAttribute("href", replaceFavicon);
          }
        }

        wrapperMessage.classList.add("alert");
        wrapperMessage.appendChild(tagName);
        wrapperMessage.appendChild(contentMessage);
        wrapperMessage.appendChild(timeMessage);
        mainWrapperMessage.appendChild(wrapperMessage)

        document.querySelector("#chat").appendChild(mainWrapperMessage);

        var objDiv = document.getElementById("chat");
        objDiv.scrollTop = objDiv.scrollHeight;

        //document.querySelector('#chat-log').value += (data.message + '\n');
      };

      chatSocket.onclose = function(e) {
        console.error("Chat socket closed unexpectedly");
      };

      document.querySelector("#chat-message-input").onkeyup = function(e) {
        if ((event.keyCode == 10 || event.keyCode == 13) && event.ctrlKey) {
          document.querySelector("#chat-message-submit").click();
        }
      };

      document.querySelector("#chat-message-submit").onclick = function(e) {
        const messageInputDom = document.querySelector("#chat-message-input");
        const message = messageInputDom.value;
        chatSocket.send(JSON.stringify({
          "message": message,
          "command": "new_message",
          "channel": roomName,
          "user_id": userId,

        }));
        messageInputDom.value = "";
      };
    </script>
  {% endif %}
{% endblock %}
