{% extends "_base.html" %}
{% load humanize %}
{% load static %}

{% block page_name %}work sprint fullwidth{% endblock %}

{% block content %}

<div class="fullwidth-wrapper text-center mb-3">
  <h1 class="mb-0">{{ info }}</h1>
  <div class="date text-muted mb-3">
    {{ info.start_date|date:"l d F Y, H:i" }} -
    {{ info.end_date|date:"l d F Y, H:i" }} (<a href="https://www.timeanddate.com/time/zones/cest" target="_blank">CEST</a>)
  </div>

  {% if participants %}
    <div class="participants mb-3">
      {% for each in participants %}
        {{ each.avatar }}
      {% endfor %}
    </div>
  {% endif %}

  <a class="btn btn-primary-basic" href="/tasks/">
    <i class="fal fa-clipboard-list"></i>
    View task list
  </a>

  {% if request.user.is_staff %}
    <a class="btn btn-primary-basic" href="{% url "core:massmail" %}?people={% for each in participants %}{{ each.id }},{% endfor %}">
      <i class="fal fa-envelope"></i>
      Mail participants
    </a>
  {% endif %}

  {% if request.user.is_authenticated and request.user.people not in participants %}
    <form method="post">
      {% csrf_token %}
      <button type="submit" class="btn btn-default-outline" name="sign_me_up" value="true">
        <i class="fa fa-check"></i>
        Sign up for this sprint
      </button>
    </form>
  {% endif %}
</div>

<div class="container pt-4">

  {% if info.get_status == "upcoming" %}

    <div class="jumbotron jumbotron-fluid text-center" style="display:block">
      <div class="container">
        <h1 class="display-4">Sprint has not yet started</h1>
        <div class="lead">
          {{ info.get_markdown_description|safe }}
        </div>
        <p class="lead">
          Sign up now to join this sprint!
        </p>
      </div>
    </div>

  {% else %}
  <div class="row">
    <div class="col-lg-6">

      {% if info.work_tag %}
        <h3>Tasks</h3>

        <div class="dual-iconbox">
          <a href="{% url task_url info.id %}?tag={{ info.work_tag.id }}" class="card btn-card mb-3">
            <div class="card-body">
              <div class="row">
                <div class="col icon">
                  <i class="fal fa-fw fa-layer-group" aria-hidden="true"></i>
                </div>
                <div class="col">
                  <strong>Total number of tasks</strong>
                  <br>
                  <span class="badge badge-light">
                    {{ work_list.all }} tasks
                  </span>
                  <span class="badge badge-primary">
                    {{ work_list.unassigned }} unassigned
                  </span>
                </div>
              </div>
            </div>
          </a>

          <a href="{% url task_url info.id %}?tag={{ info.work_tag.id }}&amp;status=5" class="card btn-card mb-3">
            <div class="card-body">
              <div class="row">
                <div class="col icon">
                  <i class="fal fa-fw fa-layer-group" aria-hidden="true"></i>
                </div>
                <div class="col">
                  <strong>Work in progress</strong>
                  <br>
                  <span class="badge badge-warning">
                    {{ work_list.progress }} tasks
                  </span>
                </div>
              </div>
            </div>
          </a>

          <a href="{% url task_url info.id %}?tag={{ info.work_tag.id }}&amp;status=2" class="card btn-card mb-3">
            <div class="card-body">
              <div class="row">
                <div class="col icon">
                  <i class="fal fa-fw fa-layer-group" aria-hidden="true"></i>
                </div>
                <div class="col">
                  <strong>Work completed</strong>
                  <br>
                  <span class="badge badge-success">
                    {{ work_list.done }} tasks
                  </span>
                </div>
              </div>
            </div>
          </a>

          <div class="progress mb-3">
            <div class="progress-bar progress-bar-striped bg-success" role="progressbar" style="width: {{ percentage }}%;" aria-valuenow="{{ percentage }}" aria-valuemin="0" aria-valuemax="100" title="{{ work_list.done }} tasks out of {{ work_list.all }} have been completed.">{{ percentage|floatformat:0 }}%</div>
          </div>

          <h4 class="mt-5">My tasks</h4>

          {% if work_list.my_work %}
          <ul>
          {% for each in work_list.my_work %}
            <li class="mb-3"><a href="">{{ each }}</a><br>{{ each.get_status }}</li>
          {% endfor %}
          </ul>
          {% else %}
            <p>
              <em>
                You are not yet assigned to any tasks yet. 
                Browse the task list and pick something to get going!
              </em>
            </p>
          {% endif %}

        </div>


      {% elif request.user.is_authenticated %}

        <h3>Chat</h3>

        <div class="alert alert-warning">
          Yeah so this would be really cool to have but it's a 
          <a href="/tasks/31765/">work in progress</a>. For now, 
          use the WORK UPDATES bar on the right to stay posted!
        </div>

        <div id="chat-wrap">
          <div id="chat">
            {% for message in message_list %}
              <div class="{% if message.people == request.user.people %}from-self d-flex align-items-end flex-column{% else %}from-other d-flex align-items-start flex-column{% endif %}">
                <div class="single-chat">
                  <div class="text-left">{{ message.message }}</div>
                  <small class="text-muted">
                    {% if not message.people == request.user.people %}{{ message.people }}, {% endif %}
                    <span title="{{ message.timestamp|date:'l d F Y, H:i' }}">{{ message.timestamp|date:'H:i' }}</span>
                  </small>
                </div>
              </div>
            {% endfor %}
          </div>

          <div class="position-relative">
            <textarea class="form-control" id="chat-message-input" placeholder="Send with CTRL + Enter"></textarea>

            <button id="chat-message-submit" type="submit" class="btn" value="Send">
              <i class="fa fa-send mr-0"></i>
            </button>
          </div>
        </div>

        {{ info.id|json_script:"room-name" }}

      {% endif %}

    </div>

    <div class="col-lg-6">
      <h3>Work updates</h3>

      <div id="updates-wrap">
        <div id="updates">
          {% include "_work-updates.html" %}
        </div>
        <div class="alert alert-light" id="new-updates">
          There are <span id="updates_number">no</span> new updates
          <div id="load-latest" class="float-right" hidden>
            <i class="fal fa-redo mr-1"></i>
            Load updates
          </div> | 
          Total: <strong>{{ updates.count }}</strong> updates
        </div>
      </div>
    </div>
  </div>

{% endif %}

{% if not request.user.is_authenticated %}
  <section class="text-center">
    {% include "_notauthenticated.html" %}
  </section>
{% endif %}

</div>


{% endblock %}

{% block footer %}
  {% if request.user.is_authenticated %}
    <script src="{% static 'js/reconnecting-websockets.js' %}"></script>
    <script>
      const roomName = JSON.parse(document.getElementById("room-name").textContent);
      const userId = {{ request.user.people.id }};
      const favIcon = document.querySelector("link[rel='shortcut icon']");
      const currentFavicon = "{% static 'img/favicon/favicon.png' %}";
      const replaceFavicon = "{% static 'img/favicon/favicon.red.png' %}";

      last_update = {{ last_update }};

      // function to check for updaters
      function getUpdates() {
        $.get("{{ request.get_full_path }}?updates_since={{ last_update }}", {
          datatype: "json"
        }).done(function(data) {
          if (data.updates > 0) {
            $("#new-updates").addClass("alert-warning").removeClass("alert-light")
            $("#updates_number").text(data.updates);
            $("#load-latest").removeAttr("hidden");

            if (document.hidden) {
              favIcon.setAttribute("href", replaceFavicon);
            }
          } else {
            $("#new-updates").removeClass("alert-warning").addClass("alert-light")
            $("#updates_number").text("no");
            $("#load-latest").attr("hidden", "hidden");
          }

        });
      }

      // check every 3 min (time is in milliseconds)
      setInterval(getUpdates(), 1000 * 60 * 3);

      $("#load-latest").click(function() {
        $.get("some_url").done(function(data) {
          $("#updates").html(data);
          $("#updates").scrollTop($("#updates")[0].scrollHeight);
        });
      })

      $("#chat").scrollTop($("#chat")[0].scrollHeight);
      $("#updates").scrollTop($("#updates")[0].scrollHeight);

      window.addEventListener("focus", function(event) {
        favIcon.setAttribute("href", currentFavicon)
      }, false);

      var focused = true;

      const chatSocket = new ReconnectingWebSocket(
        "ws://"
        + window.location.host
        + "/ws/chat/"
        + roomName
        + "/"
      );

      let timeTest;

      chatSocket.onmessage = function(e) {
        const data = JSON.parse(e.data);
        const message = data["message"]
        const username = message.user;
        const user_id = message.user_id;

        let messageClass = "from-other d-flex align-items-start flex-column";
        let userLabel = username + ", "

        let formattedTime = new Date(message.timestamp)
        let timeLabel = formattedTime.toLocaleTimeString([], { hour: "2-digit", minute: "2-digit" });
        let dateTitle = formattedTime.toLocaleString("en-IE", { weekday: "long", year: "numeric", month: "long", day: "numeric", hour: "2-digit", minute: "2-digit" });

        // <span title="Wednesday 24 June 2020, 10:32">10:32</span>

        if (userId === user_id) {
          favIcon.setAttribute("href", currentFavicon);

          messageClass = "from-self d-flex align-items-end flex-column"
          userLabel = ""

        } else {
          if (document.hidden) {
            favIcon.setAttribute("href", replaceFavicon);
          }
        }
        $("#chat").append("<div class='" + messageClass + "'><div class='single-chat'><div class='text-left'>" + message.message + "</div><small class='text-muted'>" + userLabel + "<span title='" + dateTitle + "'>" + timeLabel + "</span></small></div></div>")

        $("#chat").scrollTop($("#chat")[0].scrollHeight);
      };

      chatSocket.onclose = function(e) {
        console.error("Chat socket closed unexpectedly");
      };

      document.querySelector("#chat-message-input").onkeyup = function(e) {
        if ((event.keyCode == 10 || event.keyCode == 13) && event.ctrlKey) {
          document.querySelector("#chat-message-submit").click();
        }
      };

      document.querySelector("#chat-message-submit").onclick = function(e) {
        const messageInputDom = document.querySelector("#chat-message-input");
        const message = messageInputDom.value;
        chatSocket.send(JSON.stringify({
          "message": message,
          "command": "new_message",
          "channel": roomName,
          "user_id": userId,

        }));
        messageInputDom.value = "";
      };
    </script>
  {% endif %}
{% endblock %}
