{% extends "_base.html" %}

{% block head %}
<meta name="robots" content="nofollow" /> 
{% endblock %}

{% block content %}

  <h1>Task # {{ info.id }}</h1>

  <p>Task: {{ info }}</p>
  <p>Description:</p>
  {{ info.get_markdown_description|safe }}

  <p>Status: {{ info.get_status_display }} <a href="">[see all]</a></p>
  <p>Priority: {{ info.get_priority_display }}</p>
  <p>Type: {{ info.workactivity }} <a href="">[see all]</a></p>
  <p>Related to: {{ info.related_to }}</p>
  <p>Assigned to: {{ info.assigned_to }}</p>
  <p>Creation date: {{ info.date_created|date:"r" }}</p>

  <hr>

  <h2>Action buttons</h2>

  {% if info.assigned_to != request.user.people %}

    <form method="post">
      <input type="hidden" name="assign_to_me" value="true" />
      <button type="submit">Assign to me</button>
      {% csrf_token %}
    </form>

    <p>
      <a href="edit/?return={{ request.get_full_path }}" class="btn btn-primary">Edit task</a>
    </p>

  {% else %}

    {% if info.status == 1 or info.status == 4 %}

      <form method="post">
        <input type="hidden" name="status_change" value="5" />
        <button type="submit">Start work</button>
        {% csrf_token %}
      </form>

    {% endif %}

    {% if info.status == 1 or info.status == 4 or info.status == 5 %}

      <form method="post">
        <input type="hidden" name="status_change" value="2" />
        <button type="submit">Mark as completed</button>
        {% csrf_token %}
      </form>

    {% endif %}

    {% if info.status == 1 or info.status == 5 %}

      <form method="post">
        <input type="hidden" name="status_change" value="4" />
        <button type="submit">Put on hold</button>
        {% csrf_token %}
      </form>

    {% endif %}

    {% if info.status == 3 or info.status == 2 %}

      <form method="post">
        <input type="hidden" name="status_change" value="1" />
        <button type="submit">Re-open task</button>
        {% csrf_token %}
      </form>

    {% endif %}

    {% if info.status == 1 or info.status == 4 or info.status == 5 %}

      <form method="post">
        <input type="hidden" name="status_change" value="3" />
        <button type="submit">Discard task</button>
        {% csrf_token %}
      </form>

    {% endif %}

    {% if info.status == 1 or info.status == 4 or info.status == 5 %}

      <form method="post">
        <input type="hidden" name="status_change" value="1" />
        <button type="submit">Unassign (stop work on this task)</button>
        <input type="hidden" name="unassign" value="true" />
        {% csrf_token %}
      </form>

    {% endif %}

    <p>
      <a href="edit/?return={{ request.get_full_path }}" class="btn btn-primary">Edit task</a>
    </p>

  {% endif %}

  {% include "_messages.html" %}

  <p><a href="../" class="btn btn-primary">Back to work list</a></p>

{% endblock %}
