{% extends "_base.html" %}
{% load humanize %}
{% load static %}

{% block page_name %}work sprint fullwidth{% endblock %}

{% block css %}
  <style type="text/css">
  section{padding-top:0}
  section h1{font-size:2rem}
  .main-content.container{padding-top:0}
  
  body.fullwidth .container.main-content .fullwidth-wrapper{padding:2rem 0}
  .alert {
    display: inline-block;
    width: auto;
  }

  .alert-success {
    text-align: right;
  }

  .alert strong,
  .alert span {
    font-size: 13px;
    font-style: italic;
  }

  .alert p {
    margin: 0;
  }

  #chat, #updates {
    max-height: 80vh;
    overflow-y: auto;
    border: 1px solid #333;
    border-width: 1px 0;
  }
  #chat {
    border-bottom: 0;
  }
  #chat > div {
    width: 100%;
    overflow: hidden;
  }
  .alert {
    padding: .25rem 1.25rem;
    margin-bottom: 0.5rem;
  }
  section h1 {
    font-size:1.5rem;
  }
  #new_updates {
    display: none;
  }
  </style>
{% endblock %}

{% block content %}

<div class="fullwidth-wrapper text-center mb-3">
  <h1>{{ info }}</h1>
  <p>
    {{ info.start_date|date:"l d F Y, H:i" }} -
    {{ info.end_date|date:"l d F Y, H:i" }} (<a href="https://www.timeanddate.com/worldclock/timezone/utc" target="_blank">UTC</a>)
  </p>
  {% if participants %}
  <p>Participants: 
    {% for each in participants %}{{ each }}, {% endfor %}
  </p>
  {% endif %}

  <p><a href="tasks/">View task list</a></p>

  {% if request.user.people not in participants %}
    <form method="post">
      {% csrf_token %}
      <button type="submit" class="btn btn-default-outline" name="sign_me_up" value="true">
        <i class="fa fa-check"></i>
        Sign up for this sprint
      </button>  
    </form>
  {% endif %}

  <p style="display:none">
    {% for each in info.projects.all %}
      {{ each }} |
    {% endfor %}
  </p>
</div>

<div class="container pt-4">

  <div class="row">

    <!-- Area de trabajo Fer -->
    <section class="col-md-6">
      <h1>Chat</h1>

      <div id="chat">
        <div class="alert alert-warning">
          Hi all,<br>
          So it turns out that getting the chat up and running server-side is a
          MAJOR pain in the ***. I will continue working on this, but we won't have
          this today. For now, let's chat inside each task if there are any issues. 
          <a href="https://new.metabolismofcities.org/work/sprints/18969/tasks/">Here is a task for general feedback and questions</a>.<br>
          Quick links: <a href="https://new.metabolismofcities.org/work/sprints/18969/tasks/31769/">design task</a>
          for Carlos | Ramiro your links will be coming soon.
        </div>
        {% for message in message_list %}
        <div>
          <div class="alert {% if message.people == request.user.people %} alert-success float-right {% else %} alert-info float-left {% endif %}">
            {{ message.message }} --
            <span>{{ message.people }}, {{ message.timestamp }}</span>
            </p>
          </div>
        </div>    
        {% endfor %}
      </div>

      <input class="form-control" id="chat-message-input" type="text" size="50" placeholder="Enter your message here"><br>
      <button id="chat-message-submit" type="submit" class="btn btn-success" value="Send">
      <i class="fa fa-send"></i>
      Send
      </button>

      {{ info.id|json_script:"room-name" }}

    </section>
    <!-- Fin de area de trabajo Fer -->

    <!-- Fer, favor no tocar esto -->
    <section class="col-md-6">
      <h1>Work updates</h1>
      <div class="forum mb-4" id="updates">
        {% for each in updates %}
          <div class="single-message card mb-3">
            <div class="card-body">
              <div class="row metadata">
                <div class="col-6">
                  <img src="{{ each.author.image.thumbnail.url }}" alt="" class="avatar plus" />
                  {{ each.author }}
                </div>
                <div class="col-6 text-muted text-right avatar-line-height" title="{{ each.date_created|date:'l j F Y, H:i e' }}">
                  {{ each.date_created|naturaltime }}
                </div>
              </div>

              <hr>

              <div class="text">
                <a class="d-block mb-2" href="../../{{ each.parent.id }}/">{{ each.parent }}</a>

                {% if each.name == "Task assigned" %}
                  <i class="far fa-fw fa-user-check mr-1"></i>
                {% elif each.name == "Status change" %}
                  <i class="far fa-fw fa-retweet mr-1"></i>
                {% elif each.name == "Task unassigned" %}
                  <i class="far fa-fw fa-user-times mr-1"></i>
                {% elif each.name == "Task created" %}
                  <i class="far fa-fw fa-play mr-1"></i>
                {% endif %}

                {{ each.get_markdown_description|safe|truncatewords_html:30 }}
              </div>

            </div>
          </div>
        {% endfor %}
        <div class="alert alert-warning" id="new_updates">
          There are <strong id="updates_number"></strong> new updates. <a href="{{ request.get_full_path }}">Refresh now</a>.
        </div>
      </div>
    </section>
  </div>
</div>

{% if request.user.is_authenticated %}
<script src="{% static 'js/reconnecting-websockets.js' %}"></script>
<script>
  const roomName = JSON.parse(document.getElementById('room-name').textContent);
  const userId = {{ request.user.people.id }};
  const favIcon = document.querySelector('link[rel="shortcut icon"]');
  const currentFavicon = "{% static 'img/favicon/favicon.png' %}";
  const replaceFavicon = "{% static 'img/favicon/favicon.red.png' %}";

  last_update = {{ last_update }};
  console.log(last_update)
  
  // Every three minutes we check to see if there are any new updates
  setInterval(function()
  { 
      $.ajax({
        type: "get",
        url: "{{ request.get_full_path }}?updates_since={{ last_update }}",
        datatype: "json",
        success:function(data)
        {
            console.log("New updates: " + data.updates)
            if (data.updates > 0) {
              $("#new_updates").show();
              $("#updates_number").html(data.updates);
              var objDiv = document.getElementById("updates");
              objDiv.scrollTop = objDiv.scrollHeight;
              if (document.hidden) {
                favIcon.setAttribute("href", replaceFavicon);
              }
            }
        }
      });
  }, 1000*60*3); // check every 3 min (time is in milliseconds)


  var objDiv = document.getElementById("chat");
  objDiv.scrollTop = objDiv.scrollHeight;

  var objDiv = document.getElementById("updates");
  objDiv.scrollTop = objDiv.scrollHeight;

  window.addEventListener("focus", function(event) 
  { 
      favIcon.setAttribute('href', currentFavicon);
  }, false);

  var focused = true;

  const chatSocket = new ReconnectingWebSocket(
      'wss://'
      + window.location.host
      + '/ws/chat/'
      + roomName
      + '/'
  );

  chatSocket.onmessage = function(e) {
      const data = JSON.parse(e.data);
      const message = data["message"]
      const username = message.user;
      const user_id = message.user_id;

      let mainWrapperMessage = document.createElement("div");
      let wrapperMessage = document.createElement("div");
      let tagName = document.createElement("strong");

      let contentMessage = document.createElement("p");
      contentMessage.textContent = message.message;

      let timeMessage = document.createElement("span");
      timeMessage.textContent = message.timestamp;
      timeMessage.textContent = username;

      if (userId === user_id) {
        wrapperMessage.className = "alert-success";
        wrapperMessage.classList.add("float-right");

        favIcon.setAttribute('href', currentFavicon);

      } else {
        wrapperMessage.className = "alert-info";
        wrapperMessage.classList.add("float-left");

        if (document.hidden) {
          favIcon.setAttribute('href', replaceFavicon);
        }
      }

      wrapperMessage.classList.add("alert");
      wrapperMessage.appendChild(tagName);
      wrapperMessage.appendChild(contentMessage);
      wrapperMessage.appendChild(timeMessage);
      mainWrapperMessage.appendChild(wrapperMessage)

      document.querySelector('#chat').appendChild(mainWrapperMessage);

      var objDiv = document.getElementById("chat");
      objDiv.scrollTop = objDiv.scrollHeight;
      
      //document.querySelector('#chat-log').value += (data.message + '\n');
  };

  chatSocket.onclose = function(e) {
      console.error('Chat socket closed unexpectedly');
  };

  document.querySelector('#chat-message-input').onkeyup = function(e) {
      if (e.keyCode === 13) {  // enter, return
          document.querySelector('#chat-message-submit').click();
      }
  };

  document.querySelector('#chat-message-submit').onclick = function(e) {
      const messageInputDom = document.querySelector('#chat-message-input');
      const message = messageInputDom.value;
      chatSocket.send(JSON.stringify({
          "message": message,
          "command": 'new_message',
          "channel": roomName,
          "user_id": userId,
          
      }));
      messageInputDom.value = '';
  };
</script>
{% endif %}

{% endblock %}
