{% extends "_base.html" %}
{% load bootstrap4 %}

{% block content %}
<form method="post" class="form form-horizontal boxit pad-all">
  {% bootstrap_form form layout="horizontal" %}

  <div class="form-group markdown-textarea">
    {% include "_markdown.html" %}
    <textarea class="form-control mb-4" id="text" rows="10" name="description" required>{{ info.description|default_if_none:"" }}</textarea>
  </div>

  {% buttons %}
    <p><button type="submit" class="btn btn-success"><i class="fa fa-save"></i> Save</button></p>
  {% endbuttons %}
  {% csrf_token %}
</form>

{% endblock %}
