{% extends "_base.html" %}
{% block page_name %}work item{% endblock %}

{% block head %}
  <meta name="robots" content="nofollow" />
{% endblock %}

{% block content %}

  {% include "hub/_nav.html" %}

  <h2>{{ info }}</h2>
  <p><small class="text-muted">Created on {{ info.date_created|date:"l j F Y, H:i" }}</small></p>
  <a href="../" class="btn btn-primary-basic mb-4">
    <i class="fal fa-angle-left"></i>
    Back to work list
  </a>

  {% if not info.is_public %}
    <div class="alert alert-warning">
      <i class="fa fa-exclamation-triangle fa-fw"></i>
      <strong>Visibility setting</strong>: this task is <strong>not</strong> visible to the public,
      only to logged-in users.
    </div>
  {% endif %}

  <div class="row">
    <div class="col-md-6 pr-md-4">
      <div class="sticky-top">

        <div class="card mb-4">
          <ul class="list-group list-group-flush">
            <li class="list-group-item table-item">
              <div><i class="fal fa-fw fa-fingerprint mr-1" aria-hidden="true"></i>ID</div>
              <div> {{ info.id }}</div>
            </li>
            <li class="list-group-item table-item">
              <div><i class="fal fa-fw fa-play mr-1" aria-hidden="true"></i>Status</div>
              <div class="text-{% if info.get_status_display == 'In Progress' %}info{% elif info.get_status_display == 'Completed' %}success{% elif info.get_status_display == 'Discarded' %}danger{% else %}dark{% endif %}"> {{ info.get_status_display }}</div>
            </li>
            <li class="list-group-item table-item">
              <div><i class="fal fa-fw fa-thermometer-half mr-1" aria-hidden="true"></i>Priority</div>
              <div> {{ info.get_priority_display }}</div>
            </li>
            <li class="list-group-item table-item">
              <div><i class="fal fa-fw fa-box mr-1" aria-hidden="true"></i>Type</div>
              <div> {{ info.workactivity }}</div>
            </li>
            {% if info.related_to %}
              <li class="list-group-item table-item">
                <div><i class="fal fa-fw fa-link mr-1"></i>Related to</div>
                <div>
                  {% if info.url %}
                    <a href="{{ info.url }}">
                      {{ info.related_to }}
                    </a>
                  {% elif info.related_to.get_absolute_url %}
                    <a href="{{ info.related_to.get_absolute_url }}">
                      {{ info.related_to }}
                    </a>
                  {% else %}
                      {{ info.related_to }}
                  {% endif %}
                </div>
              </li>
            {% endif %}
            <li class="list-group-item table-item">
              <div><i class="fal fa-fw fa-user mr-1"></i>Assigned to</div>
              <div> {{ info.assigned_to|default_if_none:"<em>No one yet</em>" }}</div>
            </li>
            {% if info.subscribers.all %}
              <li class="list-group-item table-item">
                <div class="align-top" title="These people are notified about updates to this task">
                  <i class="far fa-fw fa-users mr-1"></i>Subscribers
                </div>
                <div class="subscribers">
                  {% for each in info.subscribers.all %}
                    <div>{{ each }}</div>
                  {% endfor %}
                </div>
              </li>
            {% endif %}
          </ul>
        </div>

      </div>
    </div>
    <div class="col-md-6 pl-md-4">

        {% if not request.user.is_authenticated %}
          <div class="text-center pt-4 pb-4 alert alert-dark">
            <h2 class="my-4"><i class="fad fa-user-alt-slash" aria-hidden="true"></i> You are not logged in</h2>
            <a class="btn btn-lg btn-primary clear-filter my-4" href="{% if DEBUG and PROJECT.id != 1 %}/{{ PROJECT.slug }}{% endif %}/accounts/login/?next={{ request.get_full_path }}"><i class="fa fa-sign-in" aria-hidden="true"></i> Log In</a>
            <a class="btn btn-lg btn-primary clear-filter my-4" href="{% if DEBUG and PROJECT.id != 1 %}/{{ PROJECT.slug }}{% endif %}/hub/join/?next={{ request.get_full_path }}"><i class="fa fa-user-plus" aria-hidden="true"></i> Register</a>
            <p><small class="text-muted">Please join us and let's build things, together!</small></p>
          </div>
        {% else %}
          <div class="text-center pt-4 alert alert-dark pb-5">
            <h2 class="my-4">
              <i class="fad fa-digging" aria-hidden="true"></i>
              {% if info.assigned_to and info.assigned_to != request.user.people %}
                {{ info.assigned_to }} is on it!
              {% else %}
                Let's get cracking!
              {% endif %}
            </h2>

          {% if not info.assigned_to %}

            <form method="post" id="assign-me">
              <input type="hidden" name="assign_to_me" value="true" />
              {% csrf_token %}
              <button class="btn btn-primary" type="submit" form="assign-me">
                <i class="fas fa-user-check"></i>
                Assign to me
              </button>
              <a class="btn btn-primary-basic" href="edit/?return={{ request.get_full_path }}">
                <i class="fal fa-edit"></i>
                Edit task
              </a>
            </form>

          {% elif info.assigned_to == request.user.people %}

            <!-- putting all the forms here so that the buttons can be next to each other -->

            <form method="post" id="start-work">
              <input type="hidden" name="status_change" value="5" />
              {% csrf_token %}
            </form>

            <form method="post" id="mark-completed">
              <input type="hidden" name="status_change" value="2" />
              {% csrf_token %}
            </form>

            <form method="post" id="on-hold">
              <input type="hidden" name="status_change" value="4" />
              {% csrf_token %}
            </form>

            <form method="post" id="re-open">
              <input type="hidden" name="status_change" value="1" />
              {% csrf_token %}
            </form>

            <form method="post" id="discard">
              <input type="hidden" name="status_change" value="3" />
              {% csrf_token %}
            </form>

            <form method="post" id="unassign">
              <input type="hidden" name="status_change" value="1" />
              <input type="hidden" name="unassign" value="true" />
              {% csrf_token %}
            </form>

            {% if info.status == 1 or info.status == 4 %}

              <button class="btn btn-primary mb-2 mr-1" type="submit" form="start-work">
                <i class="fas fa-play"></i>
                Start work
              </button>

            {% endif %}

            {% if info.status == 1 or info.status == 4 or info.status == 5 %}

              <button class="btn btn-primary mb-2 mr-1" type="submit" form="mark-completed">
                <i class="fas fa-check"></i>
                Mark as completed
              </button>

            {% endif %}

            {% if info.status == 1 or info.status == 5 %}

              <button class="btn btn-primary mb-2 mr-1" type="submit" form="on-hold">
                <i class="fas fa-pause"></i>
                Put on hold
              </button>

            {% endif %}

            {% if info.status == 3 or info.status == 2 %}

              <button class="btn btn-primary mb-2 mr-1" type="submit" form="re-open">
                <i class="fas fa-redo"></i>
                Re-open
              </button>

            {% endif %}

            <div class="mt-4">
              {% if info.status == 1 or info.status == 4 or info.status == 5 %}

                <button class="btn btn-primary-basic mb-2 mr-1" type="submit" form="unassign">
                  <i class="fal fa-user-times"></i>
                  Unassign
                </button>

              {% endif %}

              <a class="btn btn-primary-basic mb-2 mr-1" href="edit/?return={{ request.get_full_path }}">
                <i class="fal fa-edit"></i>
                Edit task
              </a>

              {% if info.status == 1 or info.status == 4 or info.status == 5 %}
                <button class="btn btn-danger mb-2 mr-1" type="submit" form="discard">
                  <i class="fas fa-trash-alt"></i>
                  Discard
                </button>
              {% endif %}

            </div>

          {% endif %}

          {% if not request.user.people in info.subscribers.all %}
            <form method="post">
              <button class="btn btn-primary-basic mt-2" type="submit"><i class="fal fa-envelope"></i> Subscribe to receive updates</button>
              {% csrf_token %}
              <input type="hidden" name="subscribe" value="true" />
            </form>
          {% endif %}

          </div>
        {% endif %}

        {% if request.user.people in info.subscribers.all %}
          <form method="post">
            {% csrf_token %}
            <input type="hidden" name="unsubscribe" value="true" />
            <div>
              You are subscribed to receive updates
              <button class="btn btn-sm btn-outline-danger ml-3" type="submit">
                <i class="fal fa-ban"></i>
                Unsubscribe
              </button>
            </div>
          </form>
        {% endif %}

    </div>
  </div>

  <div class="row">
    <div class="col-12">

      <div class="description">
        {% if info.description %}
          <h2>Description</h2>
          {{ info.get_markdown_description|safe }}
        {% endif %}
      </div>

      <h2 class="mt-4 mb-4">Discussion and updates</h2>
      {% include "_messages.html" %}
    </div>
  </div>

{% endblock %}

{% block footer %}
  <script>
    $(".forum").scrollTop($(".forum")[0].scrollHeight);
  </script>
{% endblock %}
