{% extends "_base.html" %}

{% block content %}

  <h1>{{ article }}</h1>
  {{ article.description|safe }}

  <table class="table table-striped">
    <thead>
      <tr>
        <th>Name</th>
        <th>Start</th>
        <th>End</th>
      </tr>
    </thead>
    <tbody>
    {% for each in list %}
      <tr>
        <td>
          <a href="{{ each.id }}/">{{ each.name }}</a>
          {% if each.get_status == "active" %}
            <br>
            <span class="badge badge-success">Active sprint!</span>
          {% elif each.get_status == "upcoming" %}
            <br>
            <span class="badge badge-warning">Upcoming</span>
          {% endif %}
        </td>
        <td>{{ each.start_date|date:"l M d, Y H:i" }}</td>
        <td>{{ each.end_date|date:"l M d, Y H:i" }}</td>
      </tr>
    {% endfor %}
    </tbody>
  </table>

{% endblock %}
