{% load static %}
{% load sass_tags %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>{% block title %}{% endblock %} - Metabolism of Cities</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  <link href="{% sass_src "css/main.scss" %}" rel="stylesheet" type="text/css" />

  <!-- custom CSS and head, if necessary -->
  {% block css %}{% endblock %}
  {% block head %}{% endblock %}

  {% if header.color or header.logo or header.background %}
    <style type="text/css">
      .top-layer {
        background-color: {{ header.color }};
      }
    </style>
  {% endif %}

</head>
<!-- each page has a class defined with page_name - useful for assigning css rules -->
<body class="{% block page_name %}{% endblock %}">

  <!-- top layer with navbar and hero -->
  {% include "_top-layer.html" %}

  {% if design_link and request.user.is_authenticated and request.user.is_staff %}
    <a href="{{ design_link }}" style="position:fixed;right:0;top:400px;background:green;padding:5px;color:#fff">
      DESIGN
    </a>
  {% endif %}

  {% if edit_link and request.user.is_authenticated and request.user.is_staff %}
    <a href="{{ edit_link }}" style="position:fixed;right:0;top:300px;background:yellow;padding:5px;">
      EDIT
    </a>
  {% endif %}

  {% if add_link and request.user.is_authenticated and request.user.is_staff %}
    <a href="{{ add_link }}" style="position:fixed;right:0;top:250px;background:blue;padding:5px;">
      ADD
    </a>
  {% endif %}

  {% if request.user.is_authenticated and request.user.is_staff %}
    <a href="/admin/" style="position:fixed;right:0;top:350px;background:orange;padding:5px;">
      ADMIN
    </a>
  {% endif %}

  <!-- page content -->
  <div class="container main-content">

    {% if messages %}
      {% for message in messages %}
        <div class="alert {{ message.tags }} alert-dismissible" role="alert">
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
          {{ message }}
        </div>
      {% endfor %}
    {% endif %}

    {% block content %}{% endblock %}

  </div>

  <!-- footers -->
  {% include "_footer.html" %}
  <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
  <script src="https://kit.fontawesome.com/7815588c96.js" crossorigin="anonymous"></script>
  <script src="{% static "js/site.js" %}"></script>

  {% block footer %}{% endblock %}

</body>
</html>
