{% load static %}
{% load sass_tags %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <link rel="shortcut icon" type="image/ico" href="{% static 'img/favicon/favicon.ico' %}"/>

  {% if SITE_ID == 1 %}
    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'img/favicon/apple-touch-icon.png' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'img/favicon/favicon-32x32.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'img/favicon/favicon-16x16.png' %}">
    <link rel="manifest" href="{% static 'img/favicon/site.webmanifest' %}">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">
  {% endif %}

  <title>
  {% if title %}
    {{ title }} 
  {% elif header_title %}
    {{ header_title }}
  {% elif webpage.name %}
    {{ webpage.name }}
  {% else %}
    {% block title %}{% endblock %}
  {% endif %} 
  | 
  {{ PROJECT }}
  {% if PROJECT.back_link %} 
    | Metabolism of Cities
  {% endif %}
  </title>

  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
  <link href="{% sass_src 'css/main.scss' %}" rel="stylesheet" type="text/css" />

  {% if load_select2 %}
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/select2@4.0.13/dist/css/select2.min.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@ttskch/select2-bootstrap4-theme@1.3.2/dist/select2-bootstrap4.min.css"/>
  {% endif %}

  {% if load_datatables %}
    <link href="{% static 'css/datatables.min.css' %}" rel="stylesheet" />
  {% endif %}

  {% if load_lightbox %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.11.0/baguetteBox.css">
  {% endif %}

  <!-- custom CSS and head, if necessary -->
  {% block css %}{% endblock %}
  {% block head %}{% endblock %}

  {% if CUSTOM_CSS %}
    <style type="text/css">
      {{ CUSTOM_CSS|safe }}
    </style>
  {% endif %}

</head>
<!-- each page has a class defined with page_name - useful for assigning css rules -->
<body class="project-{{ PROJECT.id }} {% block page_name %}{% endblock %}{% if space and PROJECT.id == 4 %} city-subsite{% endif %}">

  <!-- top layer with navbar and hero -->
  {% if not iframe %}

    {% include "_top-layer.html" %}

  <div id="admin-controls" class="btn-group-vertical">

    {% if request.user.is_authenticated and request.user.is_staff and show_project_design %}
      <a class="btn btn-secondary" href="/admin/core/projectdesign/{{ PROJECT.id }}/change/"><i class="fas fa-palette fa-fw"></i> Project design</a>
    {% endif %}

    {% if webpage_design_id and request.user.is_authenticated and request.user.is_staff %}
      <a class="btn btn-secondary" href="/admin/core/webpagedesign/{{ webpage_design_id }}/change/"><i class="fas fa-object-group fa-fw"></i> Page design</a>
    {% elif webpage and request.user.is_authenticated and request.user.is_staff %}
      <a class="btn btn-secondary" href="/admin/core/webpagedesign/add/?webpage={{ webpage.id }}"><i class="fas fa-object-group fa-fw"></i> Page design</a>
    {% endif %}

    {% if edit_link and request.user.is_authenticated and request.user.is_staff %}
      <a class="btn btn-secondary" href="{{ edit_link }}"><i class="fas fa-edit fa-fw"></i> Edit</a>
    {% endif %}

    {% if webpage and not edit_link and request.user.is_authenticated and request.user.is_staff %}
      <a class="btn btn-secondary" href="/admin/core/webpage/{{ webpage.id }}/change/?short=true"><i class="fas fa-edit fa-fw"></i> Edit</a>
    {% endif %}

    {% if article and request.user.is_authenticated and request.user.is_staff %}
      <a class="btn btn-secondary" href="/admin/core/article/{{ article.id }}/change/"><i class="fas fa-edit fa-fw"></i> Edit</a>
    {% endif %}

    {% if add_link and request.user.is_authenticated and request.user.is_staff %}
      <a class="btn btn-secondary" href="{{ add_link }}"><i class="fas fa-plus fa-fw"></i> Add</a>
    {% endif %}

    {% if request.user.is_authenticated and request.user.is_staff and show_relationship %}
      <a class="btn btn-secondary" href="/admin/core/recordrelationship/?record_child_id__exact={{ show_relationship }}"><i class="fas fa-project-diagram fa-fw"></i> Relationships</a>
    {% endif %}

    {% if request.user.is_authenticated and request.user.is_staff %}
      <a class="btn btn-secondary" href="/admin/"><i class="fas fa-user-lock fa-fw"></i> Admin</a>
    {% endif %}

    {% if request.user.is_authenticated and request.user.is_ascus_organizer %}
      <a class="btn btn-info" href="{% url "ascus:admin" %}"><i class="fas fa-user-lock fa-fw"></i> AScUS Admin</a>
    {% endif %}

  </div>

  <!-- page content -->
  <div class="container main-content">

    {% if messages %}
      {% for message in messages %}
        <div class="alert {{ message.tags }} alert-dismissible" role="alert">
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
          {{ message|safe }}
        </div>
      {% endfor %}
    {% endif %}

    {% block content %}{% endblock %}

  </div>


  <!-- footers -->
  {% include "_footer.html" %}

  {% else %}

    <div class="iframeblock p-2">
      {% block iframe_content %}{% endblock %}
    </div>

  {% endif %}

  <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
  <script src="https://kit.fontawesome.com/7815588c96.js" crossorigin="anonymous"></script>
  <script src="{% static 'js/site.js' %}"></script>

  {% if load_select2 %}
    <script src="https://cdn.jsdelivr.net/npm/select2@4.0.13/dist/js/select2.min.js"></script>
    <script>
      $(".select2").select2({
        theme: "bootstrap4",
      });
    </script>
  {% endif %}

  {% if load_mermaid %}
    <script src="https://unpkg.com/mermaid@8.5.0/dist/mermaid.min.js"></script>
    <script>
      mermaid.initialize({
        startOnLoad:true
      });
    </script>
  {% endif %}

  {% if load_datatables %}
    <script src="{% static 'js/datatables.min.js' %}"></script>
    <script>
      $(".datatable").DataTable();
    </script>
  {% endif %}

  {% if load_lightbox %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.11.0/baguetteBox.js"></script>
    <script>
      baguetteBox.run(".lightbox");
    </script>
  {% endif %}

  {% block footer %}{% endblock %}
</body>
</html>
