{% load static %}
{% load moc_extras %}
  <script>
    {% with link=PROJECT.slug|add:":library_data_json" %}
    const json_url = "{% url link info.id %}?{% if request.GET.space %}space={{ request.GET.space }}&{% elif properties.space %}space={{ properties.space }}&{% endif %}{% if request.GET.boundaries %}boundaries={{ request.GET.boundaries }}&{% elif properties.boundaries %}boundaries={{ properties.boundaries }}&{% endif %}{% if request.GET.create_cache %}create_cache=true&{% endif %}{% if request.GET.spaces %}{% for each in request.GET|get_list:'spaces' %}spaces={{ each }}&{% endfor %}{% endif %}{% if request.GET.timeframes %}{% for each in request.GET|get_list:'timeframes' %}timeframes={{ each }}&{% endfor %}{% endif %}{% if request.GET.materials %}{% for each in request.GET|get_list:'materials' %}materials={{ each }}&{% endfor %}{% endif %}{% if request.GET.do_not_cache %}do_not_cache&{% endif %}{% if properties.process %}process={{ properties.process }}{% endif %}&";
    {% endwith %}
    {% if properties %}
      const properties = {{ properties|safe }};
    {% else %}
      const properties = {}
    {% endif %}

    var defaultFont = "Lato, Helvetica Neue, Arial, Helvetica, sans-serif";
    {% for name,colors in schemes.items %}
      var {{ name }} = [{% for color in colors %}"{{ color }}",{% endfor %}];
    {% endfor %}

    Highcharts.setOptions({
      {% if properties %}
        colors: window["{{ properties.scheme }}"],
        fontFamily: defaultFont,
        chart: {
          backgroundColor: "transparent",
          animation: false,
          zoomType: "x",
        },
        title: {
          text: "{{ properties.title }}"
        },
        subtitle: {
          {% if properties.subtitle %}
            text: "{{ properties.subtitle }}" + unit
          {% else %}
            text: "Measured in " + unit
          {% endif %}
        },
      {% else %}
        title: {
          text: "{{ info }}",
        },
      {% endif %}
      legend: {
        {% if properties.show_xaxis_label is not "true" %}
          enabled: false,
        {% endif %}
        backgroundColor: "#fff",
        borderColor: "transparent",
        borderWidth: 1,
      },
      {% if properties.show_xaxis_label == "true" %}
        xAxis: {
          title: {
            text: "{{ properties.xaxis_label_text }}"
          },
        },
      {% endif %}
      yAxis: {
        title: {
          {% if properties.show_yaxis_label == "true" %}
            text: "{{ properties.yaxis_label_text }}"
          {% else %}
            text: unit
          {% endif %}
        },
        {% if properties.yaxis_range == "true" %}
          softMin: {% if properties.yaxis_min %}{{ properties.yaxis_min }}{% else %}null{% endif %},
          softMax: {% if properties.yaxis_max %}{{ properties.yaxis_max }}{% else %}null{% endif %},
        {% endif %}
      },
      {% if properties.legend == "true" or not properties %}
        legend: {
          enabled: true
        },
      {% endif %}
      plotOptions: {
        series: {
          {% if properties.data_labels == "true" %}
            dataLabels: {
              enabled: true,
            },
          {% endif %}
          {% if properties.individual_colors == "true" %}
            colorByPoint: true,
          {% endif %}
        }
      },
      credits: {
        text: "Generated by Metabolism of Cities",
        href: null,
        position: {
          y: -3,
          align: "center",
        },
        style: {
          fontSize: "12px",
          cursor: "default",
        },
      },
    });
  </script>
  <script src="{% static 'js/data.js' %}"></script>
  <script>
    // first visualisation to open
    {% if properties %}
      $(".nav-link[data-viz='{{ properties.initial_chart }}']").click();
    {% else %}
      $(".nav-link[data-viz='bar']").click();
    {% endif %}
  </script>
