{% load static %}
  <script>
    const json_url = "/library/{{ info.id }}/data/json/";
    {% if info.get_dataviz_properties %}
      const properties = {{ info.get_dataviz_properties|safe }};
    {% else %}
      const properties = {}
    {% endif %}

    var defaultFont = "Lato, Helvetica Neue, Arial, Helvetica, sans-serif";
    var moc = ["#144d58","#a6cee3","#33a02c","#b2df8a","#e31a1c","#fb9a99","#ff7f00","#fdbf6f","#6a3d9a","#cab2d6","#b15928","#ffff99"];
    var accent = ["#7fc97f","#beaed4","#fdc086","#ffff99","#386cb0","#f0027f","#bf5b17","#666666"];
    var dark = ["#1b9e77","#d95f02","#7570b3","#e7298a","#66a61e","#e6ab02","#a6761d","#666666"];
    var pastel = ["#fbb4ae","#b3cde3","#ccebc5","#decbe4","#fed9a6","#ffffcc","#e5d8bd","#fddaec","#f2f2f2"];
    var set = ["#e41a1c","#377eb8","#4daf4a","#984ea3","#ff7f00","#ffff33","#a65628","#f781bf","#999999"];
    var dozen = ["#8dd3c7","#ffffb3","#bebada","#fb8072","#80b1d3","#fdb462","#b3de69","#fccde5","#d9d9d9","#bc80bd","#ccebc5","#ffed6f"];

    Highcharts.setOptions({
      {% if info.get_dataviz_properties %}
        colors: window["{{ info.get_dataviz_properties.scheme }}"],
        fontFamily: defaultFont,
        chart: {
          backgroundColor: "transparent",
          animation: false,
          zoomType: "x",
        },
        title: {
          text: "{{ info.get_dataviz_properties.title }}"
        },
        subtitle: {
          {% if info.get_dataviz_properties.subtitle %}
            text: "{{ info.get_dataviz_properties.subtitle }}" + unit
          {% else %}
            text: "Measured in " + unit
          {% endif %}
        },
      {% else %}
        title: {
          text: "{{ info }}",
        },
      {% endif %}
      legend: {
        {% if info.get_dataviz_properties.show_xaxis_label is not "true" %}
          enabled: false,
        {% endif %}
        backgroundColor: "#fff",
        borderColor: "transparent",
        borderWidth: 1,
      },
      {% if info.get_dataviz_properties.show_xaxis_label == "true" %}
        xAxis: {
          title: {
            text: "{{ info.get_dataviz_properties.xaxis_label_text }}"
          },
        },
      {% endif %}
      yAxis: {
        title: {
          {% if info.get_dataviz_properties.show_yaxis_label == "true" %}
            text: "{{ info.get_dataviz_properties.yaxis_label_text }}"
          {% else %}
            text: unit
          {% endif %}
        },
        {% if info.get_dataviz_properties.yaxis_range == "true" %}
          softMin: {% if info.get_dataviz_properties.yaxis_min %}{{ info.get_dataviz_properties.yaxis_min }}{% else %}null{% endif %},
          softMax: {% if info.get_dataviz_properties.yaxis_max %}{{ info.get_dataviz_properties.yaxis_max }}{% else %}null{% endif %},
        {% endif %}
      },
      {% if info.get_dataviz_properties.legend == "true" or not info.get_dataviz_properties %}
        legend: {
          enabled: true
        },
      {% endif %}
      plotOptions: {
        series: {
          {% if info.get_dataviz_properties.data_labels == "true" %}
            dataLabels: {
              enabled: true,
            },
          {% endif %}
          {% if info.get_dataviz_properties.individual_colors == "true" %}
            colorByPoint: true,
          {% endif %}
        }
      },
      credits: {
        text: "Generated by Metabolism of Cities",
        href: null,
        position: {
          y: -3,
          align: "center",
        },
        style: {
          fontSize: "12px",
          cursor: "default",
        },
      },
    });
  </script>
  <script src="{% static 'js/data.js' %}?refresh=1333"></script>
  <script>
    // first visualisation to open
    {% if info.get_dataviz_properties %}
      $(".nav-link[data-viz='{{ info.get_dataviz_properties.initial_chart }}']").click();
    {% else %}
      $(".nav-link[data-viz='bar']").click();
    {% endif %}
  </script>
