{% block content %}
  <div class="card contribute">
    <div class="card-body">
      <h3 class="card-title font-weight-bold">Contribute</h3>
      <p class="card-text">
        This data hub is built, maintained, and expanded by people like <strong>you</strong>.
        Join our project now.
      </p>
      <a class="btn btn-inverse mr-2 mb-2" href="#"><i class="far fa-fw fa-table"></i> Contribute data</a>
      <a class="btn btn-inverse mr-2 mb-2" href="#"><i class="far fa-fw fa-images"></i> Collect photos</a>
      <a class="btn btn-inverse mr-2 mb-2" href="#"><i class="far fa-fw fa-graduation-cap"></i> Academic programmes</a>
      <a class="btn btn-inverse mr-2 mb-2" href="#"><i class="far fa-fw fa-city"></i> Add your city</a>
    </div>
  </div>
{% endblock %}
