<div class="item-visualisations">
  <ul class="nav nav-tabs nav-justified d-print-none mb-4" role="tablist" {% if properties.hide_nav_tabs %}hidden{% endif %}>
    {% if properties.show_bar or not properties %}
      <li class="nav-item"><a class="nav-link" data-tab="bar" data-viz="bar"><i class="fal fa-fw fa-chart-bar fa-rotate-90"></i> Bar</a></li>
    {% endif %}
    {% if properties.show_column or not properties %}
      <li class="nav-item"><a class="nav-link" data-tab="column" data-viz="column"><i class="fal fa-fw fa-chart-bar"></i> Column</a></li>
    {% endif %}
    {% if properties.show_drilldown or not properties %}
      <li class="nav-item"><a class="nav-link" data-tab="drilldown" data-viz="drilldown" data-drilldown="true"><i class="fal fa-fw fa-chart-bar"></i> Drilldown</a></li>
    {% endif %}
    {% if properties.show_line or not properties %}
      <li class="nav-item"><a class="nav-link" data-tab="line" data-viz="line"><i class="fal fa-fw fa-chart-line"></i> Line</a></li>
    {% endif %}
    {% if properties.show_area or not properties %}
      <li class="nav-item"><a class="nav-link" data-tab="area" data-viz="area"><i class="fal fa-fw fa-chart-area"></i> Area</a></li>
    {% endif %}
    {% if properties.show_pie or not properties %}
      <li class="nav-item"><a class="nav-link" data-tab="pie-wrapper" data-viz="pie"><i class="fal fa-fw fa-chart-pie"></i> Pie</a></li>
    {% endif %}
    {% if properties.show_map %}
      <li class="nav-item"><a class="nav-link" data-tab="map" data-viz="map"><i class="fal fa-fw fa-map-marked"></i> Map</a></li>
    {% endif %}
    {% if not properties.hide_data_table %}
      <li class="nav-item"><a class="nav-link" data-tab="table"><i class="fal fa-fw fa-table"></i> Table</a></li>
    {% endif %}
  </ul>

  <div class="tab-content border rounded bg-white p-2">
    <div id="bar" role="tabpanel" class="mb-4 tab-pane">
      <h4 class="pt-5 text-center"><i class="fa fa-cog fa-spin"></i> Loading</h4>
    </div>
    <div id="column" role="tabpanel" class="mb-4 tab-pane">
      <h4 class="pt-5 text-center"><i class="fa fa-cog fa-spin"></i> Loading</h4>
    </div>
    <div id="line" role="tabpanel" class="mb-4 tab-pane">
      <h4 class="pt-5 text-center"><i class="fa fa-cog fa-spin"></i> Loading</h4>
    </div>
    <div id="area" role="tabpanel" class="mb-4 tab-pane">
      <h4 class="pt-5 text-center"><i class="fa fa-cog fa-spin"></i> Loading</h4>
    </div>
    <div id="drilldown" role="tabpanel" class="mb-4 tab-pane">
      <h4 class="pt-5 text-center"><i class="fa fa-cog fa-spin"></i> Loading</h4>
    </div>
    <div id="map" role="tabpanel" class="leaflet-map tab-pane">
      <h4 class="pt-5 text-center"><i class="fa fa-cog fa-spin"></i> Loading</h4>
    </div>
    <div id="pie-wrapper" role="tabpanel" class="pie-wrapper mb-4 tab-pane">
      <div id="pie">
        <h4 class="pt-5 text-center"><i class="fa fa-cog fa-spin"></i> Loading</h4>
      </div>
      <div id="pie-toggles" class="text-center mt-3">
        <div class="btn-group" role="group" aria-label="Basic example">
          <button type="button" class="btn btn-primary switch-pie prev-pie"><i class="fa fa-arrow-left m-0"></i></button>
          <button disabled type="button" class="btn btn-primary-outline disabled current-pie"></button>
          <button type="button" class="btn btn-primary switch-pie next-pie"><i class="fa fa-arrow-right m-0"></i></button>
        </div>
      </div>
    </div>
    {% if not properties.hide_data_table %}
      <div id="table" role="tabpanel" class="table tab-pane">
        {% if data.count > 100 %}
          <div class="alert alert-warning">
            We are showing the first 100 records.
          </div>
          {% if request.user.id == 1 %}
            <a href="{% if DEBUG %}/data{% endif %}/data/?source={{ info.id }}" class="btn btn-primary mb-3">View data details</a>
          {% endif %}
        {% endif %}
        <table class="table datatable datatable-card">
          <thead>
            <tr>
              <th>Date</th>
              <th>Quantity</th>
              <th>Material</th>
              <th>From</th>
              <th>To</th>
            </tr>
          </thead>
          <tbody>
          {% for each in data.all %}
            {% if forloop.counter < 100 %}
              <tr>
                <td>{{ each.timeframe }}</td>
                <td>{% if each.quantity %}{{ each.quantity }} {{ each.unit.symbol }}{% endif %}</td>
                <td>{{ each.material_name }}</td>
                <td>{{ each.origin_space|default_if_none:"" }}</td>
                <td>{{ each.destination_space|default_if_none:"" }}</td>
              </tr>
            {% endif %}
          {% endfor %}
          </tbody>
        </table>
      </div>
    {% endif %}
  </div>
</div>
