{% load static %}

{% if PROJECT.id == 8 %}

  <footer id="involved">
    <div class="container pt-4 pb-4">
      <div class="row">
        <div class="col-12">
          <p class="logos">
            <a href="https://www.ie.edu/school-architecture-design/">
              <img src="/media/records/05_Architecture_H_RGB_BV90BjN.thumbnail.png" alt="IE School of Architecture & Design" />
            </a>
            <a href="https://www.ie.edu/school-architecture-design/center/center-sustainable-cities/">
              <img src="/media/records/CFSC_IE_Logos-with_Clear_2.png" alt="Center for Sustainable Cities" />
            </a>
            <a href="https://www.univ-gustave-eiffel.fr/">
              <img src="/media/records/logo_UnivGustaveEiffel.thumbnail.jpg" alt="" />
            </a>
            <a href="https://www.uic.edu/" style="background:#fff;padding:5px;display:inline-block;width:160px">
              <img src="/media/records/UIC.CAMP.LOCKB.SM.BLK.thumbnail.PNG" alt="" />
            </a>
            <a href="https://metabolismofcities.org/">
              <img src="/media/logos/logo.svg" alt="" />
            </a>
          </p>
        </div>
      </div>

    </div>
  </footer>

{% else %}

  <footer id="involved">
    <div class="container pt-4 pb-4">
      <div class="row">
        <div class="col-md-{% if PROJECT.id == 16 %}8{% else %}12{% endif %}">
          <h2>This is an open source, community effort</h2>
          <h3>Join us now!</h3>

          {% if PROJECT.slug == "untraceable" %}
            {% if request.user.is_authenticated %}
            <a class="btn btn-inverse mt-2 mr-3" href="{% if DEBUG and PROJECT.id != 1 %}/{{ PROJECT.slug }}{% endif %}/hub/profile/">
              <i class="fas fa-fw fa-user"></i>
              My profile
            </a>
            <a class="btn btn-inverse mt-2 mr-3" href="{% if DEBUG and PROJECT.id != 1 %}/{{ PROJECT.slug }}{% endif %}/accounts/logout/?next={{ request.get_full_path }}">
              <i class="fas fa-fw fa-sign-out"></i>
              Log out
            </a>
            {% else %}
              <a class="btn btn-inverse mt-2 mr-3" href="{% if DEBUG and PROJECT.id != 1 %}/{{ PROJECT.slug }}{% endif %}/accounts/register/?next={{ request.get_full_path }}">
              <i class="fas fa-fw fa-user"></i>
                Register
              </a>
              <a class="btn btn-inverse mt-2 mr-3" href="{% if DEBUG and PROJECT.id != 1 %}/{{ PROJECT.slug }}{% endif %}/accounts/login/?next={{ request.get_full_path }}">
              <i class="fas fa-fw fa-sign-in"></i>
                Sign in
              </a>
            {% endif %}

          {% else %}
          <a style='display:none' class="btn btn-inverse mt-2 mr-3" href="{% if DEBUG and PROJECT.id != 1 %}/{{ PROJECT.slug }}{% endif %}/contributor/">
            <i class="fas fa-fw fa-user-plus"></i>
            Become a contributor
          </a>
          <a class="btn btn-inverse mt-2 mr-3" href="{% if DEBUG and PROJECT.id != 1 %}/{{ PROJECT.slug }}{% endif %}/hub/">
            <i class="fas fa-fw fa-fist-raised"></i>
            Community portal
          </a>
          <a style="display:none" class="btn btn-inverse mt-2 mr-3" href="{% if DEBUG and PROJECT.id != 1 %}/{{ PROJECT.slug }}{% endif %}/support/">
            <i class="fas fa-fw fa-fist-raised"></i>
            Support this project
          </a>
          <a class="btn btn-inverse-basic mt-2 mr-3" href="{% if DEBUG and PROJECT.id != 1 %}/{{ PROJECT.slug }}{% endif %}/hub/work/?status=1">
            <i class="fal fa-fw fa-tasks"></i>
            View open tasks
          </a>

          <select id="translate" class="float-right">
            <option value="">-- OTHER LANGUAGES --</option>
            <option value="es">Spanish</option>
            <option value="zh-CN">Chinese (simplified)</option>
            <option value="hi">Hindi</option>
            <option value="bn">Bengali</option>
            <option value="pt">Portuguese</option>
            <option value="more">Other languages...</option>
          </select>
          {% endif %}

        </div>
        {% if PROJECT.id == 16 %}
        <div class="col-md-4 text-right">
          <p>Made possible with funding from:</p>
          <p class="logos">
            <a href="https://vlaanderen-circulair.be/">
              <img src="/media/records/VC_logo_liggend_NL.thumbnail.png" alt="Vlaanderen Circulair" />
            </a>
          </p>
        </div>
        {% endif %}
      </div>
    </div>
  </footer>

  {% if PROJECT.id != 16 and PROJECT.slug != "untraceable" %}
    <footer id="sitemap">
      <div class="container">
        <h3 class="text-center font-weight-bold mb-4">
          Browse all Metabolism of Cities projects
        </h3>
        {% include "_project-menu.html" %}
      </div>
    </footer>
  {% endif %}

  {% if PROJECT.slug != "untraceable" %}
  <footer id="info">
    <div class="container">
      <div class="row">
        <div class="col-md-6 mb-4">
          <div class="links">
            <a href="https://creativecommons.org/licenses/by-sa/4.0/" class="mb-2">
              <i class="fab fa-creative-commons"></i> Creative Commons Attribution 4.0 International license
            </a>
            <a href="https://gitlab.com/metabolism-of-cities/metabolism-of-cities-platform" class="mb-2">
              <i class="fab fa-gitlab"></i> Our source code is available on Gitlab
            </a>
            <a href="#">
              <i class="fas fa-comments"></i> Contact us
            </a>
          </div>
          <div class="social mt-4 mb-2">
            <a href="https://twitter.com/CityMetabolism"><i class="fab fa-twitter"></i></a>
            <a href="https://www.youtube.com/metabolismofcities"><i class="fab fa-youtube"></i></a>
            <a href="https://www.instagram.com/MetabolismOfCities/"><i class="fab fa-instagram"></i></a>
            <a href="https://linkedin.com/company/metabolism-of-cities"><i class="fab fa-linkedin"></i></a>
          </div>
        </div>
        <div class="col-md-6 logos text-md-right">
          <a href="https://metabolismofcities.org"><img class="main-logo mb-4" alt="Metabolism of Cities" src="/media/logos/logo.svg"></a>
          <br>
          <strong>Visit our twin site</strong>
          <br>
          <a href="https://metabolismofislands.org"><img class="second-logo" alt="Metabolism of Islands" src="{% static 'img/islands-logo.svg' %}"></a>
        </div>
     </div>
    </div>
  </footer>
  {% endif %}

{% endif %}
