{% load static %}
<footer id="actions">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-5 text-center">
        <strong>Metabolism of Cities is always looking for more participants as well as data from the community</strong>
      </div>
      <div class="col-lg-5 text-center">
        <a href="/about/join" class="btn btn-lg btn-primary">Join and share data</a>
      </div>
    </div>
  </div>
</footer>

<footer id="info">
  <div class="container">
    <div class="row justify-content-center">
        <div class="col-lg-6">
          <h3>Metabolism of Cities</h3>
          <ul class="list-unstyled">
            <li>
              <a href="https://creativecommons.org/licenses/by-sa/4.0/"><i class="fab fa-creative-commons fa-fw"></i>Creative Commons Attribution 4.0 International license</a>
            </li>
            <li>
              <a href="https://gitlab.com/metabolism-of-cities/metabolism-of-cities-platform"><i class="fab fa-gitlab fa-fw"></i>Our source code is available on Gitlab</a>
            </li>
            <li>
              <a href="/contact"><i class="fas fa-comments-alt fa-fw"></i>Contact us</a>
            </li>
            <li class="social-media">
              <a href="https://twitter.com/CityMetabolism"><i class="fab fa-twitter"></i></a>
              <a href="https://www.youtube.com/metabolismofcities"><i class="fab fa-youtube"></i></a>
              <a href="https://www.instagram.com/MetabolismOfCities/"><i class="fab fa-instagram"></i></a>
              <a href="https://linkedin.com/company/metabolism-of-cities"><i class="fab fa-linkedin"></i></a>
            </li>
          </ul>
        </div>
        <div class="col-lg-4">
          <img src="{% static 'img/logo.svg' %}">
          <a href="https://metabolismofislands.org">
            <img src="{% static 'img/islands-logo.svg' %}">
          </a>
        </div>
      </div>
    </div>
</footer>
