{% load static %}
{% if project.id == 8 %}
<footer id="involved">
  <div class="container pt-4 pb-4">
    <div class="row">
      <div class="col-8">
        <h2>Join AScUS!</h2>
        <p class="mb-4">Sign up before May 25.</p>
        <a class="btn btn-inverse mt-2 mr-3" href="/register/">Register now</a>
        <a class="btn btn-inverse mt-2 mr-3" href="/login/">Already registered? Log in</a>
      </div>
      <div class="col-4">
        <p>Virtually hosted by:</p>
        <p class="logos">
          <img src="/media/records/05_Architecture_H_300.jpg" alt="" />
          <img src="/media/records/CFSC_IE_Logos-with_Clear_2.png" alt="" />
        </p>
      </div>
    </div>

  </div>
</footer>
{% else %}
<footer id="involved">
  <div class="container pt-4 pb-4">
    <div class="row">
      <div class="col-8">
        <h2>Join AScUS!</h2>
        <p class="mb-4">Sign up before May 25.</p>
        <a class="btn btn-inverse mt-2 mr-3" href="/register/">Register now</a>
        <a class="btn btn-inverse mt-2 mr-3" href="/login/">Already registered? Log in</a>
      </div>
    </div>

  </div>
</footer>
<footer id="sitemap">
  <div class="container">
    <div class="row">
      <div class="col-md-3 col-sm-6">
        <h4 class="header">About</h4>
        <ul class="list-unstyled">
          <li>
            <a href="#">Our Story</a>
          </li>
          <li>
            <a href="#">Mission & Value</a>
          </li>
          <li>
            <a href="#">Team</a>
          </li>
          <li>
            <a href="#">Task Forces</a>
          </li>
          <li>
            <a href="#">Services</a>
          </li>
          <li>
            <a href="#">Join Us</a>
          </li>
          <li>
            <a href="#">Subscribe</a>
          </li>
          <li>
            <a href="#">Contact Us</a>
          </li>
        </ul>
      </div>
      <div class="col-md-3 col-sm-6">
        <h4 class="header">Community</h4>
        <ul class="list-unstyled">
          <li>
            <a href="#">Projects</a>
          </li>
          <li>
            <a href="#">Theses</a>
          </li>
          <li>
            <a href="#">Add Research</a>
          </li>
          <li>
            <a href="#">People</a>
          </li>
          <li>
            <a href="#">Events</a>
          </li>
          <li>
            <a href="#">News</a>
          </li>
        </ul>
      </div>
      <div class="col-md-3 col-sm-6">
        <h4 class="header">Resources</h4>
        <ul class="list-unstyled">
          <li>
            <a href="#">About Urban Metabolism</a>
          </li>
          <li>
            <a href="#">Starter Kit</a>
          </li>
          <li>
            <a href="#">Photos</a>
          </li>
          <li>
            <a href="#">Videos</a>
          </li>
          <li>
            <a href="#">Library</a>
          </li>
          <li>
            <a href="#">Journals</a>
          </li>
          <li>
            <a href="#">Add Publications</a>
          </li>
          <li>
            <a href="#">Data Sets</a>
          </li>
          <li>
            <a href="#">Data Visualisations</a>
          </li><li>
            <a href="#">Online Material Flow Analysis Tool <span class="text-uppercase">(Omat)</span></a>
          </li>
          <li>
            <a class="text-uppercase" href="#">Mooc</a>
          </li>
        </ul>
      </div>
      <div class="col-md-3 col-sm-6">
        <h4 class="header">Cities</h4>
        <ul class="list-unstyled">
          <li>
            <a href="#!">Introduction</a>
          </li>
          <li>
            <a href="#!">Video</a>
          </li>
          <li>
            <a href="#!">Add Data</a>
          </li>
          <li>
            <a href="#!">Data Collection events</a>
          </li>
          <li>
            <a href="#!">Development Roadmap</a>
          </li>
          <li>
            <a href="#!">Data Sets</a>
          </li>
          <li>
            <a href="#!">Prototype: Cape Town, South Africa</a>
          </li>
          <li>
            <a href="#!">Prototype: Hague, Netherlands</a>
          </li>
          <li>
            <a href="#!">Prototype: Beijing, China</a>
          </li>
          <li>
            <a href="#!">Overview</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</footer>
<footer id="info">
  <div class="container">
    <div class="row">
      <div class="col-md-6 mb-4">
        <div class="links">
          <a href="https://creativecommons.org/licenses/by-sa/4.0/" class="mb-2">
            <i class="fab fa-creative-commons"></i> Creative Commons Attribution 4.0 International license
          </a>
          <a href="https://gitlab.com/metabolism-of-cities/metabolism-of-cities-platform" class="mb-2">
            <i class="fab fa-gitlab"></i> Our source code is available on Gitlab
          </a>
          <a href="#">
            <i class="fas fa-comments"></i> Contact us
          </a>
        </div>
        <div class="social mt-4 mb-2">
          <a href="https://twitter.com/CityMetabolism"><i class="fab fa-twitter"></i></a>
          <a href="https://www.youtube.com/metabolismofcities"><i class="fab fa-youtube"></i></a>
          <a href="https://www.instagram.com/MetabolismOfCities/"><i class="fab fa-instagram"></i></a>
          <a href="https://linkedin.com/company/metabolism-of-cities"><i class="fab fa-linkedin"></i></a>
        </div>
      </div>
      <div class="col-md-6 logos text-md-right">
        <a href="#"><img class="main-logo mb-4" alt="Metabolism of Cities" class="mb-4" src="{% static 'img/logo.svg' %}"></a>
        <br>
        <strong>Visit our twin site</strong>
        <br>
        <a href="#"><img class="second-logo" alt="Metabolism of Islands" src="{% static 'img/islands-logo.svg' %}"></a>
      </div>
   </div>
  </div>
</footer>
{% endif %}
