<section class="what{% if alternative_design %} bg-primary border-bottom{% endif %}">
  <div class="container">
    <h2 class="text-center font-weight-bold my-4 {% if alternative_design %}text-light{% endif %}">What we do</h2>
    <div class="row pt-4">
      <div class="col-md-6 col-lg-3 mb-4">
        <div class="card icon-card">
          <div class="icon bg-{% if alternative_design %}light{% else %}primary{% endif %}">
            <i class="fal fa-fw fa-file-chart-line{% if not alternative_design %} text-light{% endif %}"></i>
          </div>
          <div class="card-header bg-{% if alternative_design %}light text-dark{% else %}primary text-light{% endif %}">
            <h5>Create knowledge</h5>
          </div>
          <div class="card-body">
            <p class="what-text">
              We aim to create new knowledge by participating and collaborating in research projects and developing new open source tools.
            </p>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-lg-3 mb-4">
        <div class="card icon-card">
          <div class="icon bg-{% if alternative_design %}light{% else %}primary{% endif %}">
            <i class="fal fa-fw fa-share-alt {% if not alternative_design %} text-light{% endif %}"></i>
          </div>
          <div class="card-header bg-{% if alternative_design %}light text-dark{% else %}primary text-light{% endif %}">
            <h5>Share knowledge</h5>
          </div>
          <div class="card-body">
            <p class="what-text">
              We aim to gather and curate (all) knowledge around urban metabolism in one central platform in order to make it accessible to different target audiences.
            </p>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-lg-3 mb-4">
        <div class="card icon-card">
          <div class="icon bg-{% if alternative_design %}light{% else %}primary{% endif %}">
            <i class="fal fa-fw fa-wrench {% if not alternative_design %} text-light{% endif %}"></i>
          </div>
          <div class="card-header bg-{% if alternative_design %}light text-dark{% else %}primary text-light{% endif %}">
            <h5>Apply knowledge</h5>
          </div>
          <div class="card-body">
            <p class="what-text">
              We help policy makers and practitioners to tackle their challenges with Urban Metabolism thinking.
            </p>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-lg-3 mb-4">
        <div class="card icon-card">
          <div class="icon bg-{% if alternative_design %}light{% else %}primary{% endif %}">
            <i class="fal fa-fw fa-user-friends {% if not alternative_design %} text-light{% endif %}"></i>
          </div>
          <div class="card-header bg-{% if alternative_design %}light text-dark{% else %}primary text-light{% endif %}">
            <h5>Foster a community</h5>
          </div>
          <div class="card-body">
            <p class="what-text">
              We believe that tackling the urban sustainability challenge can not be done alone. We want to foster a community of stakeholders that collaborates on developing solutions.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
