<script src="https://unpkg.com/leaflet@1.6.0/dist/leaflet.js"
        integrity="sha512-gZwIG9x3wUXg2hdXF6+rVkLF/0Vi9U8D2Ntg4Ga5I5BZpVkVxlJWbSQtXPSiUTtC0TjtGOmxa1AJPuV0CPthew=="
        crossorigin="">
</script>
<script src="https://unpkg.com/leaflet-image@0.4.0/leaflet-image.js"></script>
<script src="https://api.mapbox.com/mapbox.js/plugins/leaflet-fullscreen/v1.0.1/Leaflet.fullscreen.min.js"></script>

<script>
  // create leaflet map - https://leafletjs.com/reference-1.6.0.html
  var map = L.map("map", {
    zoom: 15,
    scrollWheelZoom: false,
    fullscreenControl: true,
    renderer: L.canvas(),
  });

  // add tile layer
  var tileLayer = L.tileLayer("https://api.mapbox.com/styles/v1/{id}/tiles/{z}/{x}/{y}?access_token={{ MAPBOX_API_KEY }}", {
    attribution: "Map data &copy; <a href='https://www.openstreetmap.org/'>OpenStreetMap</a> contributors, <a href='https://creativecommons.org/licenses/by-sa/2.0/'>CC-BY-SA</a>, Imagery © <a href='https://www.mapbox.com/'>Mapbox</a>",
    id: "{% if leaflet.style %}{{ leaflet.style }}{% else %}mapbox/streets-v11{% endif %}",
    tileSize: 512,
    zoomOffset: -1,
    // this "layer" option must be kept, as it prevents the tiles from disappearing when removing all other layers from the map
    layer: "tiles",
  })

  tileLayer.addTo(map);

  // function to convert canvas data to png and simulate click on download button
  function downloadImage(err, canvas) {
    var downloadLink = document.createElement("a");
    downloadLink.href = canvas.toDataURL("image/png");
    downloadLink.download = "map.png";
    downloadLink.click();
  }

  // define the download button's details
  L.Control.Download = L.Control.extend({
    onAdd: function(map) {

      var downloadButtonWrapper = L.DomUtil.create("div", "download-map-wrapper");

      var downloadButton = L.DomUtil.create("div", "download-map");
      downloadButton.innerHTML = "<i class='fas fa-fw fa-save'></i>";

      downloadButtonWrapper.appendChild(downloadButton);

      return downloadButtonWrapper;
    }
  });

  // create a new leaflet control and apply download button details
  L.control.Download = function(opts) {
    return new L.Control.Download(opts);
  }

  // add download button to the map
  L.control.Download({ position: "topleft" }).addTo(map);

  // run function when clicking the button
  $(".download-map").click(function() {
    leafletImage(map, downloadImage);
  })

  // toggle scrollwheel zoom when entering/exiting fullscreen
  map.on("fullscreenchange", function () {
    if (map.isFullscreen()) {
      map.scrollWheelZoom.enable()
    } else {
      map.scrollWheelZoom.disable()
    }
  });

  // function when hovering over an area
  function hoverArea(e) {
    var layer = e.target;

    layer.setStyle({
      weight: 2,
      color: "gold",
    });

    if (!L.Browser.ie && !L.Browser.opera && !L.Browser.edge) {
      layer.bringToFront();
    }
  }

  // function when hovering out of an area
  function resetHover(e) {
    var layer = e.target;
    // layer.resetStyle(layer);
    console.log(layer)
    console.log(e)
  }

  // function when clicking on an area
  function selectArea(e) {
    var layer = e.target;

    layer.setStyle({
      weight: 2,
      color: "gold",
    });
  }

  // function to apply to each feature
  function onEachFeature(feature, layer) {
    layer.on({
      mouseover: hoverArea,
      mouseout: resetHover,
      click: selectArea
    }).bindPopup("<div class='title'>" + feature.properties.name + "</div><hr><div class='content'>" + feature.properties.content + "</div>");
  }
</script>