<script>
  // function when hovering over an area
  function hoverArea(e) {
    var layer = e.target;

    layer.setStyle({
      weight: 2,
      color: "gold",
    });

    if (!L.Browser.ie && !L.Browser.opera && !L.Browser.edge) {
      layer.bringToFront();
    }
  }

  // function when hovering out of an area
  function resetHover(e) {
    dataLayer.resetStyle(e.target);
  }

  // function when clicking on an area
  function selectArea(e) {
    var layer = e.target;

    layer.setStyle({
      weight: 2,
      color: "gold",
    });
  }

  // function to apply to each feature
  function onEachFeature(feature, layer) {
    layer.on({
      mouseover: hoverArea,
      mouseout: resetHover,
      click: selectArea
    }).bindPopup("<div class='title'>" + feature.properties.name + "</div><hr><div class='content'>" + feature.properties.content + "</div>");
  }

  // variable for the data, add it to the map
  let mapData = {{ data|safe|escape }};
  let dataLayer;

  if (mapData.geom_type == "Point") {
    dataLayer = L.geoJson(mapData, {
      pointToLayer: function (feature, latlng) {
        return L.marker(latlng).bindPopup("<div class='title'>" + feature.properties.name + "</div><hr><div class='content'>" + feature.properties.content + "</div>")
      },
    })
  } else {
    dataLayer = L.geoJson(mapData, {
      style: {
        fillColor: "#144d58",
        fillOpacity: 0.7,
        weight: 1,
        opacity: 1,
        color: "white",
      },
      onEachFeature: onEachFeature,
    })
  }

  map.addLayer(dataLayer).fitBounds(dataLayer.getBounds())
</script>