{% load static %}
{% load moc_extras %}

<script>
  {% if parents %}
    // create variables for each layer
    {% for each in parents %}
      {% for layer in hits|get_item:each.id %}
        var layer_{{ each.id }};
      {% endfor %}
    {% endfor %}

    // function to apply to each feature
    function onEachFeature(feature, layer) {
      layer.on({
      }).bindPopup("<div class='title'>" + feature.properties.name + "</div><hr><div class='content'>" + feature.properties.content + "</div>");
    }

    // when opening a layer for the first time, download it and add it to the map
    // this function should only run once per layer
    function downloadLayer(id, url, color) {
      let layerVariable = "layer_" + id;

      $(".toggle-layer[data-id='" + id + "'] i").toggleClass("fa-circle fa-sync fa-spin")

      $.get(url, function(geojson) {
        // check to see if data is points or polygons
        if (geojson.geom_type == "Point") {
          window[layerVariable] = L.geoJSON(geojson, {
            pointToLayer: function (feature, latlng) {
              return L.marker(latlng, {
                icon: window[color + "Icon"]
              })
            },

            // function to create the popup
            onEachFeature: onEachFeature,
          })
        } else {
          window[layerVariable] = L.geoJSON(geojson, {
            style: {
              color: color,
              fillOpacity: .4,
              weight: 2,
            },

            // function to create the popup
            onEachFeature: onEachFeature,
          });
        }


        $(".toggle-layer[data-id='" + id + "'] i").toggleClass("fa-circle fa-sync fa-spin fal fas")
        map.addLayer(window[layerVariable]);

        if (id == "{{ boundaries.source.id }}") {
          map.fitBounds(window[layerVariable].getBounds());
        }
      })
    };

    // add buttons to toggle visibility of layers to map
    L.Control.LayerToggles = L.Control.extend({
      onAdd: function(map) {

        var layerTogglesWrapper = L.DomUtil.create("div", "layer-toggles");

        {% for each in parents %}
          var layerCategory_{{ each.id }} = L.DomUtil.create("div", "category");
          layerCategory_{{ each.id }}.innerHTML = "<div class='category-title collapsed'><i class='fal fa-fw fa-{{ each.icon }}'></i> {{ each.get_name_after_period }} <i class='fas fa-fw fa-angle-down angle float-right'></i></div>";
          layerTogglesWrapper.appendChild(layerCategory_{{ each.id }});

          var categoryButtons_{{ each.id }} = L.DomUtil.create("div", "category-buttons");
          layerCategory_{{ each.id }}.appendChild(categoryButtons_{{ each.id }});

          {% for layer in hits|get_item:each.id %}
            var toggle_{{ layer.id }}_layer = L.DomUtil.create("div", "toggle-layer");

            toggle_{{ layer.id }}_layer.setAttribute("data-id", "{{ layer.id }}");
            toggle_{{ layer.id }}_layer.setAttribute("data-geojson", "{% url URLS.GEOJSON layer.id %}{% if layer == boundaries.source %}?space={{ boundaries.id }}{% elif layer.get_dataviz_properties.crop_boundaries %}?crop=true&main_space={{ boundaries.id }}{% endif %}");
            toggle_{{ layer.id }}_layer.setAttribute("data-color", "{{ getcolors|get_item:layer.id }}");

            toggle_{{ layer.id }}_layer.innerHTML = "<ul class='fa-ul'><li><span class='fa-li'><i class='fal fa-fw fa-circle' style='color: {{ getcolors|get_item:layer.id }}'></i></span>{{ layer.meta_data.shortname|default:layer }}</li></ul>";
            categoryButtons_{{ each.id }}.appendChild(toggle_{{ layer.id }}_layer);
          {% endfor %}
        {% endfor %}

        return layerTogglesWrapper;
      }
    });

    // create a new leaflet control and apply download button details
    L.control.LayerToggles = function(opts) {
      return new L.Control.LayerToggles(opts);
    }

    // add toggle layer buttons to the map
    L.control.LayerToggles({ position: "topright" }).addTo(map);
  {% endif %}

  // function to toggle visibility of layers, buttons in map control div
  $(".toggle-layer").click(function() {
    var button = $(this);

    // data-id="{{ layer.id }}" data-geojson=
    var id = button.data("id");
    var url = button.data("geojson");
    var color = button.data("color");
    var layer = "layer_" + button.data("id");

    if ( button.hasClass("visible") ) {
      map.removeLayer(window[layer])
      button.find(".fa-circle").toggleClass("fal fas");
    } else {
      if ( button.hasClass("downloaded") ) {
        map.addLayer(window[layer])
        button.find(".fa-circle").toggleClass("fal fas");
      } else {
        downloadLayer(id, url, color)
        button.addClass("downloaded")
      }
    }

    button.toggleClass("visible");

    // check if any layers are visible to determine is clear map button should be visible
    var layersVisible = $(".toggle-layer.visible").length

    if (layersVisible == 0) {
      $(".clear-map-wrapper").hide()
    } else {
      $(".clear-map-wrapper").show()
    }
  })

  // function to clear the map of markers, but not tiles
  function clearMap() {
    // remove the layers
    map.eachLayer(function (layer) {
      if ( layer.options.layer != "tiles" ) {
        map.removeLayer(layer);
      }
    });

    // remove visible states from all
    $(".toggle-layer").removeClass("visible");
    $(".toggle-layer i").removeClass("fas").addClass("fal")

    // hide clear map button because it's not needed until layers are added again
    $(".clear-map-wrapper").hide()
  }

  // add button to clear map
  L.Control.clearMap = L.Control.extend({
    onAdd: function(map) {
      var clearMapWrapper = L.DomUtil.create("div", "clear-map-wrapper leaflet-control");
      var clearMapButton = L.DomUtil.create("div", "clear-map");

      clearMapButton.innerHTML = "<i class='fas fa-fw fa-trash'></i>";
      clearMapWrapper.appendChild(clearMapButton);

      return clearMapWrapper;
    }
  });

  L.control.clearmap = function(opts) {
    return new L.Control.clearMap(opts)
  }

  L.control.clearmap({ position: 'topleft' }).addTo(map);

  $(".clear-map-wrapper").click(function() {
    clearMap()
  });

  // toggle visibility of menu
  $(".category-title").click(function() {
    $(this).next(".category-buttons").slideToggle("fast");
    $(this).toggleClass("collapsed");
    $("i.angle", this).toggleClass("fa-angle-down fa-angle-up");
  })


  {% if boundaries %}
    // open default layer that should be shown from the start
    $(".toggle-layer[data-id='{{ boundaries.source.id }}']").parent().prev(".category-title").click();
    $(".toggle-layer[data-id='{{ boundaries.source.id }}']").click();
  {% endif %}

  {% include "_leaflet.markers.html" %}

</script>
