<script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"
        integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA=="
        crossorigin="">
</script>
<script src="https://unpkg.com/leaflet-image@0.4.0/leaflet-image.js"></script>
<script src="https://api.mapbox.com/mapbox.js/plugins/leaflet-fullscreen/v1.0.1/Leaflet.fullscreen.min.js"></script>

<script>
  // create leaflet map - https://leafletjs.com/reference-1.6.0.html
  var map = L.map("map", {
    zoom: 17,
    scrollWheelZoom: false,
    fullscreenControl: true,
    renderer: L.canvas(),
  });

  // add tile layer
  var tileLayer = L.tileLayer("https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png", {
    attribution: "Map data &copy; <a href='https://www.openstreetmap.org/'>OpenStreetMap</a> contributors, <a href='https://creativecommons.org/licenses/by-sa/2.0/'>CC-BY-SA</a>",
    id: "{% if leaflet.style %}{{ leaflet.style }}{% elif properties.map_layer_style %}mapbox/{{ properties.map_layer_style }}{% else %}mapbox/streets-v11{% endif %}",
    tileSize: 512,
    zoomOffset: -1,
    // this "layer" option must be kept, as it prevents the tiles from disappearing when removing all other layers from the map
    layer: "tiles",
  })

  tileLayer.addTo(map);

  // function to convert canvas data to png and simulate click on download button
  function downloadImage(err, canvas) {
    var downloadLink = document.createElement("a");
    downloadLink.href = canvas.toDataURL("image/png");
    downloadLink.download = "map.png";
    downloadLink.click();
  }

  // define the download button's details
  L.Control.Download = L.Control.extend({
    onAdd: function(map) {

      var downloadButtonWrapper = L.DomUtil.create("div", "download-map-wrapper");

      var downloadButton = L.DomUtil.create("div", "download-map");
      downloadButton.innerHTML = "<i class='fas fa-fw fa-save'></i>";

      downloadButtonWrapper.appendChild(downloadButton);

      return downloadButtonWrapper;
    }
  });

  // create a new leaflet control and apply download button details
  L.control.Download = function(opts) {
    return new L.Control.Download(opts);
  }

  // add download button to the map
  L.control.Download({ position: "topleft" }).addTo(map);

  // run function when clicking the button
  $(".download-map").click(function() {
    leafletImage(map, downloadImage);
  })

  // toggle scrollwheel zoom when entering/exiting fullscreen
  map.on("fullscreenchange", function () {
    if (map.isFullscreen()) {
      map.scrollWheelZoom.enable()
    } else {
      map.scrollWheelZoom.disable()
    }
  });
</script>
