<script>
  // function when hovering over an area
  function hoverArea(e) {
    var layer = e.target;

    layer.setStyle({
      weight: 2,
      color: "gold",
    });

    if (!L.Browser.ie && !L.Browser.opera && !L.Browser.edge) {
      layer.bringToFront();
    }
  }

  // function when hovering out of an area
  function resetHover(e) {
    dataLayer.resetStyle(e.target);
  }

  // function when clicking on an area
  function selectArea(e) {
    var layer = e.target;

    layer.setStyle({
      weight: 2,
      color: "gold",
    });
  }

  // function to apply to each feature
  function onEachFeature(feature, layer) {
    layer.on({
      mouseover: hoverArea,
      mouseout: resetHover,
      click: selectArea
    }).bindPopup("<div class='title'>" + feature.properties.name + "</div><hr><div class='content'>" + feature.properties.content + "</div>");
  }

  // variable for the data, add it to the map
  let mapData = {{ data|safe|escape }};
  let dataLayer;

  if (mapData.geom_type == "Point") {
    {% include "_leaflet.markers.html" %}
    dataLayer = L.geoJson(mapData, {
      pointToLayer: function (feature, latlng) {
        return L.marker(latlng{% if info.get_map_type == "point" %}, { icon: {% if properties.color %}{{ properties.color }}{% else %}blue{% endif %}Icon }{% endif %}).bindPopup("<div class='title'>" + feature.properties.name + "</div><hr><div class='content'>" + feature.properties.content + "</div>")
      },
    })
  } else {
    {% if properties.opacity %}
      opacity = {{ properties.opacity }}/100;
    {% else %}
      opacity = 1;
    {% endif %}
    {% if properties.fillOpacity %}
      fillOpacity = {{ properties.fillOpacity }}/100;
    {% else %}
      fillOpacity = 0.7;
    {% endif %}
    dataLayer = L.geoJson(mapData, {
      style: {
        fillColor: "{% if properties.color %}{{ properties.color }}{% else %}#144d58{% endif %}",
        fillOpacity: fillOpacity,
        opacity: opacity,
        weight: {% if properties.width %}{{ properties.width }}{% else %}1{% endif %},
        color: "{% if properties.color %}{{ properties.color }}{% else %}black{% endif %}",
      },
      onEachFeature: onEachFeature,
    })
  }

  map.addLayer(dataLayer).fitBounds(dataLayer.getBounds())


</script>
