{% load moc_extras %}

<div class="library-shapefile-list">

  <div class="row">
    {% for each in items %}
      {% if each.get_shapefile_plot %}
        <div class="col-lg-4 col-md-6 col-sm-8 mb-3">
          <a class="card btn-card" href="{% if relative_url %}{{ each.id }}/{% else %}{% url URLS.LIBRARY_ITEM each.id %}{% endif %}">
            <img src="{{ each.get_shapefile_plot }}" class="card-img-top" alt="">
            <div class="card-body">
              <h5 class="card-title">{{ each }}</h5>
              <h6 class="card-subtitle mb-2 text-muted">{{ each.get_author_citation }}</h6>
              {% if each.meta_data.processed %}
                <p class="text-success"><i class="fa fa-check"></i> Shapefile was processed</p>
              {% endif %}
            </div>
          </a>
        </div>
      {% endif %}
    {% endfor %}
  </div>

</div>
