<div id="resource-list">

<table class="table table-striped datatable">
  <thead>
    <tr>
      <th>Year</th>
      <th>Title</th>
      <th>Author(s)</th>
    </tr>
  </thead>
  <tbody>
    {% for details in items %}
      <tr>
        <td>
            <a href="{{ details.get_absolute_url }}">{{ details }}</a>
          <br>
          <em>{{ details.type }}</em>
          {% if details.publisher %} 
            | {{ details.publisher }}
          {% endif %}
        </td>
        <td>{{ details.get_author_citation|safe }}</td>
        <td>{{ details.year }}</td>
      </tr>
    {% endfor %}
  </tbody>
</table>

</div>
