<div id="resource-list">

<table class="table table-striped datatable">
  <thead>
    <tr>
      <th>Title</th>
      <th>Author(s)</th>
      <th>Year</th>
    </tr>
  </thead>
  <tbody>
    {% for each in items %}
      <tr>
        <td>
            <a href="{% if PROJECT.id == 17 %}{% url 'islands:library_item' each.id %}{% elif PROJECT.slug == "data" %}{% url "data:library_item" each.id %}{% else %}{{ each.get_absolute_url }}{% endif %}">
              {{ each }}
            </a>
          <br>
          <em>{{ each.type }}</em>
          {% if each.publisher %} 
            | {{ each.publisher }}
          {% endif %}
        </td>
        <td>
          {{ each.get_author_citation|safe }}
          <span hidden>{{ each.author_list }}</span>
        </td>
        <td>{{ each.year }}</td>
      </tr>
    {% endfor %}
  </tbody>
</table>

</div>
