<div class="resource-list">

<table class="table {% if load_datatables %}datatable{% endif %} table-striped">
  <thead{% if not load_datatables %} class="thead-dark"{% endif %}>
    <tr>
      <th>Title</th>
      {% if show_spaces %}
        <th>Spaces</th>
      {% endif %}
      {% if show_tags %}
        <th>Tag(s)</th>
      {% endif %}
      <th class="author">Author(s)</th>
      <th class="year">Year</th>
    </tr>
  </thead>
  <tbody>
    {% for each in items %}
      <tr>
        <td>
            <a href="{% if PROJECT.id == 17 %}{% url 'islands:library_item' each.id %}{% elif PROJECT.slug == "data" %}{% url "data:library_item" each.id %}{% else %}{{ each.get_absolute_url }}{% endif %}">
              {{ each }}
            </a>
            {% if show_image_upload_link and each.type.name != "Image" %}
              <a href="form/?inventory=true&amp;type=38&amp;parent={{ each.id }}&amp;next={% if request.GET.next %}{{ request.GET.next }}{% else %}{{ request.get_full_path }}{% endif %}" title="Upload an image from this document" class="ml-2">
                <i class="fa fa-image"></i>
              </a>
            {% endif %}
          <br>
          <em>{{ each.type }}</em>
          {% if each.publisher %}
            | {{ each.publisher }}
          {% endif %}
        </td>
        {% if show_tags %}
          <td>
            <ul class="list-unstyled">
            {% for tag in each.tags.all %}
              <li><span class="badge badge-light">{{ tag }}</span></li>
            {% endfor %}
            </ul>
          </td>
        {% endif %}
        {% if show_spaces %}
          <td>
            {% for space in each.spaces.all %}
              <span class="badge badge-dark">{{ space }}</span>
            {% endfor %}
          </td>
        {% endif %}
        <td class="author">
          <span class="text-truncate">{{ each.get_author_citation|safe }}</span>
          <span hidden>{{ each.author_list }}</span>
        </td>
        <td class="year">{{ each.year|default_if_none:"" }}</td>
      </tr>
    {% endfor %}
  </tbody>
</table>

</div>
