<div class="card markdown-help">
  <div class="card-header">
    <i class="fab fa-fw fa-markdown mr-2"></i> Using markdown
    <i class="fas fa-fw fa-times close-markdown-help"></i>
  </div>
  <div class="card-body">
    <p>
      <a href="https://en.wikipedia.org/wiki/Markdown" target="_blank">Markdown</a> is a simple <em>markup language</em> that allows you to create rich text using plain text; it lets you add headers, lists, styling, links, and much more using only plain text.
    </p>
    <p>
      The buttons in the toolbar will do most of the formatting for you. Below is an overview of all the possibilities. On the left is the input - what you write in the text area. On the right is what that input will end up looking like on the forum.
    </p>
    <table class="table table-responsive">
      <thead>
        <tr>
          <th>Input</th>
          <th>Output</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>### Header</td>
          <td><h3>Header</h3></td>
        </tr>
        <tr>
          <td>**Bold text**</td>
          <td><strong>Bold text</strong></td>
        </tr>
        <tr>
          <td>_Italic text_</td>
          <td><em>Italic text</em></td>
        </tr>
        <tr>
          <td>[This is a link](https://example.com) to another website</td>
          <td><a href="https://example.com">This is a link</a> to another website</td>
        </tr>
        <tr>
          <td>You can write `inline code` in your text</td>
          <td>You can write <code>inline code</code> in your text</td>
        </tr>
        <tr>
          <td>
            <p>As Walt Whitman said:</p>

            <p>> Keep your face always toward the sunshine - and shadows will fall behind you.</p>
          </td>
          <td>
            <p>As Walt Whitman said:</p>

            <blockquote>Keep your face always toward the sunshine - and shadows will fall behind you.</blockquote>
          </td>
        </tr>
        <tr>
          <td>
            1. Making a list<br>
            2. Is quite simple<br>
            3. Try it out!
          </td>
          <td>
            <ol>
              <li>Making a list</li>
              <li>Is quite simple</li>
              <li>Try it out!</li>
            </ol>
          </td>
        </tr>
        <tr>
          <td>
            - Bullet points<br>
            - Are also possible<br>
            - And just as easy
          </td>
          <td>
            <ul>
              <li>Bullet points</li>
              <li>Are also possible</li>
              <li>And just as easy</li>
            </ul>
          </td>
        </tr>
        <tr>
          <td>
            - [ ] You can also make<br>
            - [ ] A task list<br>
            - [X] This one is done
          </td>
          <td>
            <div class="custom-control custom-checkbox">
              <input type="checkbox" class="custom-control-input">
              <label class="custom-control-label">You can also make</label>
            </div>
            <div class="custom-control custom-checkbox">
              <input type="checkbox" class="custom-control-input">
              <label class="custom-control-label">A task list</label>
            </div>
            <div class="custom-control custom-checkbox">
              <input type="checkbox" class="custom-control-input" checked>
              <label class="custom-control-label">This one is done</label>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>