<li class="nav-item"><a class="nav-link" href="{% url "multimedia:index" %}">Home</a></li>
<li class="nav-item"><a class="nav-link" href="{% url "multimedia:videos" %}">Videos</a></li>
<li class="nav-item"><a class="nav-link" href="{% url "multimedia:podcasts" %}">Podcasts</a></li>
<li class="nav-item"><a class="nav-link" href="{% url "multimedia:datavisualizations" %}">Data Visualisations</a></li>
<li class="nav-item"><a class="nav-link" href="{% url "multimedia:upload" %}">Upload</a></li>

{% include "_menu-account.html" %}
