{% if False %}
<li class="nav-item dropdown">
  <a class="nav-link dropdown-toggle" href="#" id="about-dropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Urban metabolism
  </a>
  <div class="dropdown-menu" aria-labelledby="about-dropdown">
    <a class="dropdown-item" href="/urbanmetabolism/">Urban metabolism introduction</a>
    <a class="dropdown-item" href="/urbanmetabolism/history/">History of urban metabolism</a>
    <a class="dropdown-item" href="/urbanmetabolism/starterskit/">Starters Kit</a>
    <a class="dropdown-item" href="/urbanmetabolism/policymakers/">Urban metabolism for policy makers</a>
    <a class="dropdown-item" href="/urbanmetabolism/students/">Urban metabolism for students</a>
    <a class="dropdown-item" href="/urbanmetabolism/lecturers/">Urban metabolism for lecturers</a>
    <a class="dropdown-item" href="/urbanmetabolism/researchers/">Urban metabolism for researchers</a>
    <a class="dropdown-item" href="/urbanmetabolism/organisations/">Urban metabolism for organisations</a>
    <a class="dropdown-item" href="/urbanmetabolism/everyone/">Urban metabolism for everyone</a>
    <a class="dropdown-item" href="/urbanmetabolism/glossary/">Glossary</a>
  </div>
</li>
{% endif %}

<li class="nav-item dropdown projects-dropdown">
  <a class="nav-link dropdown-toggle {% if menu == "projects" %}active{% endif %}" href="#" id="projects-dropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Our Projects
  </a>
  <div class="dropdown-menu projects-dropdown-menu" aria-labelledby="projects-dropdown">

    {% include "_project-menu.html" %}

  </div>
</li>

<li class="nav-item"><a class="nav-link {% if menu == "forum" %}active{% endif %}" href="{% url "core:forum_list" %}">Forum</a></li>
<li class="nav-item"><a class="nav-link {% if menu == "work" %}active{% endif %}" href="{% url "core:tasks" %}">Tasks</a></li>

<li class="nav-item">
  <a class="nav-link" href="{% url "core:events" %}">Events</a>
</li>

<li class="nav-item dropdown">
  <a class="nav-link dropdown-toggle" href="#" id="about-dropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    About
  </a>
  <div class="dropdown-menu" aria-labelledby="about-dropdown">
    <a class="dropdown-item" href="/about/our-story/">Our Story</a>
    <a class="dropdown-item" href="/about/mission/">Mission &amp; values</a>
    <a class="dropdown-item" href="/about/members/">Our Members</a>
    <a class="dropdown-item" href="/about/partners/">Our Partners</a>
    <a class="dropdown-item" href="/about/contact/">Contact Us</a>
  </div>
</li>

{% include "_menu-account.html" %}
