<li class="nav-item dropdown">
  <a class="nav-link dropdown-toggle" href="#" id="community-dropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Directories
  </a>
  <div class="dropdown-menu" aria-labelledby="community-dropdown">
      <a class="dropdown-item" href="/community/people/">People</a>
      <a class="dropdown-item" href="/community/organisations/">Organisations</a>
      <a class="dropdown-item" href="/community/projects/">Projects</a>
  </div>
</li>

<li class="nav-item"><a class="nav-link" href="{% url "community:events" %}">Events</a></li>
<li class="nav-item"><a class="nav-link" href="/community/news/">News</a></li>
<li class="nav-item"><a class="nav-link" href="/community/forum/">Forum</a></li>

{% include "_menu-account.html" %}
