<li class="nav-item dropdown">
  <a class="nav-link dropdown-toggle" href="#" id="cities-dropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Cities
  </a>
  <div class="dropdown-menu" aria-labelledby="cities-dropdown">
    <a class="dropdown-item" href="/data/overview/">View all</a>
    <a class="dropdown-item" href="/data/cape-town/">Cape Town</a>
    <a class="dropdown-item" href="/data/newyork/">New York</a>
    <a class="dropdown-item" href="/data/toronto/">Toronto</a>
    <a class="dropdown-item" href="/data/sydney/">Sydney</a>
  </div>
</li>
<li class="nav-item"><a class="nav-link" href="/data/aaa">Data Search</a></li>
<li class="nav-item"><a class="nav-link" href="/data/aaa">Contribute</a></li>
<li class="nav-item"><a class="nav-link" href="/data/aaa">About</a></li>
{% include "_menu-account.html" %}
