
<li class="nav-item dropdown">
  <a class="nav-link dropdown-toggle" href="#" id="account-dropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Account
  </a>
  <div class="dropdown-menu" aria-labelledby="account-dropdown">
    {% if request.user.is_authenticated %}
      <a class="dropdown-item" href="/accounts/profile/">My profile</a>
      <a class="dropdown-item" href=/accounts/logout/>Sign out</a>
    {% else %}
      <a class="dropdown-item" href=/accounts/register/>Register</a>
      <a class="dropdown-item" href="/accounts/login/?next={{ request.get_full_path }}">Sign in</a>
    {% endif %}
  </div>
</li>
