<li class="nav-item">
  <a class="nav-link" href="{% url "peeide:index" %}"><i class="fa fa-home"></i></a>
</li>

<li class="nav-item">
  <a class="nav-link" href="{% url "peeide:page" "pilots" %}">Pilot Initiatives</a>
</li>

<li class="nav-item">
  <a class="nav-link" href="{% url "peeide:page" "library" %}">Library</a>
</li>

<li class="nav-item">
  <a class="nav-link" href="{% url "peeide:page" "resources" %}">Additional Resources</a>
</li>

<li class="nav-item">
  <a class="nav-link" href="{% url "peeide:page" "about" %}">About Us</a>
</li>
