<li class="nav-item dropdown">
  <a class="nav-link dropdown-toggle" href="#" id="cities-dropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Cities
  </a>
  <div class="dropdown-menu" aria-labelledby="cities-dropdown">
    <a class="dropdown-item" href="{% url "data:overview" %}">View all</a>
    <a class="dropdown-item" href="{% url "data:dashboard" "cape-town" %}">Cape Town</a>
    <a class="dropdown-item" href="{% url "data:dashboard" "toronto" %}">Toronto</a>
  </div>
</li>
<li class="nav-item dropdown">
  <a class="nav-link dropdown-toggle" href="#" id="view-dropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    View data
  </a>
  <div class="dropdown-menu" aria-labelledby="view-dropdown">
    <a class="dropdown-item" href="{% url "data:view_datasets" %}">Datasets</a>
    <a class="dropdown-item" href="{% url "data:view_dataportals" %}">Dataset portals</a>
  </div>
</li>
<li class="nav-item dropdown">
  <a class="nav-link dropdown-toggle" href="#" id="upload-dropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Upload
  </a>
  <div class="dropdown-menu" aria-labelledby="upload-dropdown">
    <a class="dropdown-item" href="{% url "data:upload_dataset" %}">Dataset</a>
    <a class="dropdown-item" href="{% url "data:upload_dataportal" %}">Dataset portal</a>
  </div>
</li>
<li class="nav-item"><a class="disabled nav-link" href="#">About</a></li>
{% include "_menu-account.html" %}
