<li class="nav-item"><a class="nav-link" href="{% url 'platformu:index' %}">Home</a></li>

  <li class="nav-item"><a class="nav-link" href="{% url 'platformu:article' 'about' %}">About</a></li>
  <li class="nav-item"><a class="nav-link" href="{% url 'platformu:article' 'features' %}">Features</a></li>
  <li class="nav-item"><a class="nav-link" href="{% url 'platformu:article' 'help' %}">Help</a></li>
  <li class="nav-item"><a class="nav-link" href="{% url 'platformu:newsletter' %}">Newsletter</a></li>

{% if not request.user.is_authenticated %}
  <li class="nav-item"><a class="nav-link" href="/accounts/register/">Register</a></li>
  <li class="nav-item"><a class="nav-link" href="/accounts/login/?next={{ request.get_full_path }}">Sign in</a>
{% endif %}
