
<li class="nav-item dropdown">
  <a class="nav-link dropdown-toggle" href="#" id="about-dropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    About
  </a>
  <div class="dropdown-menu" aria-labelledby="about-dropdown">
      <a class="dropdown-item" href="{% url 'cityloops:about' %}">Project</a>
      <a class="dropdown-item" href="{% url 'cityloops:article' 'team' %}">Team</a>
      <a class="dropdown-item" href="{% url 'cityloops:article' 'partners' %}">Partners</a>
      <a class="dropdown-item" href="{% url 'cityloops:article' 'contact' %}">Contact Us</a>
      <a class="dropdown-item" href="{% url 'cityloops:article' 'newsletter' %}">Stay informed</a>
  </div>
</li>

<li class="nav-item dropdown">
  <a class="nav-link dropdown-toggle" href="#" id="cities-dropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Cities
  </a>
  <div class="dropdown-menu" aria-labelledby="cities-dropdown">
      <a class="dropdown-item" href="{% url 'cityloops:city' 'apeldoorn' %}">Apeldoorn</a>
      <a class="dropdown-item" href="{% url 'cityloops:city' 'bodo' %}">Bodø</a>
      <a class="dropdown-item" href="{% url 'cityloops:city' 'hoje-taastrup' %}">Høje-Taastrup</a>
      <a class="dropdown-item" href="{% url 'cityloops:city' 'mikkeli' %}">Mikkeli</a>
      <a class="dropdown-item" href="{% url 'cityloops:city' 'porto' %}">Porto</a>
      <a class="dropdown-item" href="{% url 'cityloops:city' 'roskilde' %}">Roskilde</a>
      <a class="dropdown-item" href="{% url 'cityloops:city' 'sevilla' %}">Sevilla</a>
  </div>
</li>

<li class="nav-item dropdown">
  <a class="nav-link dropdown-toggle" href="#" id="deliverables-dropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Deliverables
  </a>
  <div class="dropdown-menu" aria-labelledby="deliverables-dropdown">
      <a class="dropdown-item" href="{% url 'cityloops:article' 'reports' %}">Reports</a>
      <a class="dropdown-item" href="{% url 'cityloops:article' 'videos' %}">Videos</a>
      <a class="dropdown-item" href="{% url 'cityloops:article' 'methods' %}">Method analysis</a>
      <a class="dropdown-item" href="{% url 'cityloops:article' 'casestudies' %}">Case studies</a>
      <a class="dropdown-item" href="{% url 'cityloops:article' 'projects' %}">Analysed projects</a>
  </div>
</li>

<li class="nav-item dropdown projects-dropdown">
  <a class="nav-link dropdown-toggle " href="#" id="projects-dropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Data manager
  </a>
  <div class="dropdown-menu projects-dropdown-menu " aria-labelledby="projects-dropdown" style="padding:0">

    <div class="row">
      <div class="col-md-6 col-lg-4 mb-4 mb-lg-0 text-center alert alert-dark">
        <i class="h1 fa fa-home m-3"></i>
        <p class="h3 mt-3 mb-3">
          Data collection partners: this is your workspace!
        </p>
        <i class="h1 fa fa-table m-3"></i>
      </div>
      <div class="col-md-6 col-lg-4 mb-4 mb-lg-0 p-3">
        <div class="projects-category"><i class="mr-2 far fa-fw fa-info-circle"></i>Getting started</div>
        <a href="{% url 'cityloops:article' 'instructions' %}">Instructions</a>
        <a href="{% url 'cityloops:layer_overview' 'context' %}">Data inventory</a>
        <a href="{% url 'cityloops:eurostat' %}">Eurostat manager</a>
        <a href="{% url 'cityloops:eurostat_grid' %}">Eurostat grid</a>
      </div>
      <div class="col-md-6 col-lg-4 mb-4 mb-lg-0 p-3">
        <div class="projects-category"><i class="mr-2 far fa-fw fa-upload"></i>Data uploading</div>
        <a href="{% url URLS.DASHBOARD 'apeldoorn' %}hub/harvesting/">Apeldoorn</a>
        <a href="{% url URLS.DASHBOARD 'bodo' %}hub/harvesting/">Bodø</a>
        <a href="{% url URLS.DASHBOARD 'hoje-taastrup' %}hub/harvesting/">Høje-Taastrup</a>
        <a href="{% url URLS.DASHBOARD 'mikkeli' %}hub/harvesting/">Mikkeli</a>
        <a href="{% url URLS.DASHBOARD 'porto' %}hub/harvesting/">Porto</a>
        <a href="{% url 'cityloops:city' 'bodo' %}hub/harvesting/">Bodø</a>
        <a href="{% url URLS.DASHBOARD 'roskilde' %}hub/harvesting/">Roskilde</a>
        <a href="{% url URLS.DASHBOARD 'sevilla' %}hub/harvesting/">Sevilla</a>
        <a href="{% url 'cityloops:overview' %}hub/harvesting/"><em>Overview</em></a>
      </div>
    </div>


  </div>
</li>

{% include "_menu-account.html" %}
