<li class="nav-item dropdown">
  <a class="nav-link dropdown-toggle" href="#" id="cities-dropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    About
  </a>
  <div class="dropdown-menu" aria-labelledby="cities-dropdown">
    <a class="dropdown-item" href="{% url "untraceable:article" "about" %}">Overview</a>
    <a class="dropdown-item" href="{% url "untraceable:article" "triple-95" %}">Triple 95 Rule</a>
  </div>
</li>
<li class="nav-item dropdown">
  <a class="nav-link dropdown-toggle" href="#" id="view-dropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
  Topics
  </a>
  <div class="dropdown-menu" aria-labelledby="view-dropdown">
    {% for each in topics %}
      <a class="dropdown-item" href="{% url "untraceable:topic" each.id %}">{{ each }}</a>
    {% endfor %}
  </div>
</li>
<li class="nav-item dropdown">
  <a class="nav-link dropdown-toggle" href="#" id="upload-dropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Workshops
  </a>
  <div class="dropdown-menu" aria-labelledby="upload-dropdown">
    <a class="dropdown-item" href="{% url "data:upload_dataset" %}">Dataset</a>
    <a class="dropdown-item" href="{% url "data:upload_dataportal" %}">Dataset portal</a>
  </div>
</li>
<li class="nav-item dropdown">
  <a class="nav-link dropdown-toggle" href="#" id="upload-dropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Projects
  </a>
  <div class="dropdown-menu" aria-labelledby="upload-dropdown">
    <a class="dropdown-item" href="{% url "data:upload_dataset" %}">Dataset</a>
    <a class="dropdown-item" href="{% url "data:upload_dataportal" %}">Dataset portal</a>
  </div>
</li>
<li class="nav-item"><a class="disabled nav-link" href="#">Community</a></li>
{% include "_menu-account.html" %}
