<li class="nav-item dropdown">
  <a class="nav-link dropdown-toggle" href="#" id="libary-dropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Library
  </a>
  <div class="dropdown-menu" aria-labelledby="libary-dropdown">
    <a class="dropdown-item" href="/library/browse/">View library</a>
    <a class="dropdown-item" href="/library/download/">Download</a>
  </div>
</li>
<li class="nav-item dropdown">
  <a class="nav-link dropdown-toggle" href="#" id="case-dropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Case studies
  </a>
  <div class="dropdown-menu" aria-labelledby="case-dropdown">
    <a class="dropdown-item" href="/library/casestudies/">View all</a>
    <a class="dropdown-item" href="/library/casestudies/methods/">By method</a>
    <a class="dropdown-item" href="/library/casestudies/calendar/">By year</a>
    <a class="dropdown-item" href="/library/casestudies/map/">Map</a>
  </div>
</li>
<li class="nav-item"><a class="nav-link" href="/library/journals/">Journals</a></li>
<li class="nav-item"><a class="nav-link" href="/library/authors/">Authors</a></li>
<li class="nav-item"><a class="nav-link" href="/library/contribute/">Contribute</a></li>
