<li class="nav-item dropdown">
  <a class="nav-link dropdown-toggle" href="#" id="cities-dropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    About
  </a>
  <div class="dropdown-menu" aria-labelledby="cities-dropdown">
    <a class="dropdown-item" href="{% url "data:overview" %}">Overview</a>
    <a class="dropdown-item" href="{% url "data:overview" %}">Triple 95 Rule</a>
    <a class="dropdown-item" href="{% url "data:overview" %}">Location(s)</a>
    <a class="dropdown-item" href="{% url "data:overview" %}">Economy</a>
  </div>
</li>
<li class="nav-item dropdown">
  <a class="nav-link dropdown-toggle" href="#" id="view-dropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
  Topics
  </a>
  <div class="dropdown-menu" aria-labelledby="view-dropdown">
    <a class="dropdown-item" href="{% url "data:view_datasets" %}">Energy</a>
    <a class="dropdown-item" href="{% url "data:view_datasets" %}">Food</a>
    <a class="dropdown-item" href="{% url "data:view_datasets" %}">Built environment</a>
    <a class="dropdown-item" href="{% url "data:view_datasets" %}">Transport</a>
    <a class="dropdown-item" href="{% url "data:view_datasets" %}">Wellbeing</a>
    <a class="dropdown-item" href="{% url "data:view_datasets" %}">Environment</a>
    <a class="dropdown-item" href="{% url "data:view_datasets" %}">Health</a>
    <a class="dropdown-item" href="{% url "data:view_datasets" %}">Water and Sanitation</a>
    <a class="dropdown-item" href="{% url "data:view_datasets" %}">Technology</a>
    <a class="dropdown-item" href="{% url "data:view_datasets" %}">Communications</a>
  </div>
</li>
<li class="nav-item dropdown">
  <a class="nav-link dropdown-toggle" href="#" id="upload-dropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Workshops
  </a>
  <div class="dropdown-menu" aria-labelledby="upload-dropdown">
    <a class="dropdown-item" href="{% url "data:upload_dataset" %}">Dataset</a>
    <a class="dropdown-item" href="{% url "data:upload_dataportal" %}">Dataset portal</a>
  </div>
</li>
<li class="nav-item dropdown">
  <a class="nav-link dropdown-toggle" href="#" id="upload-dropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Projects
  </a>
  <div class="dropdown-menu" aria-labelledby="upload-dropdown">
    <a class="dropdown-item" href="{% url "data:upload_dataset" %}">Dataset</a>
    <a class="dropdown-item" href="{% url "data:upload_dataportal" %}">Dataset portal</a>
  </div>
</li>
<li class="nav-item"><a class="disabled nav-link" href="#">Community</a></li>
{% include "_menu-account.html" %}
