<li class="nav-item dropdown">
  <a class="nav-link dropdown-toggle" href="#" id="cities-dropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Data by type
  </a>
  <div class="dropdown-menu" aria-labelledby="cities-dropdown">
    <a class="dropdown-item" href="/">Maps and shapefiles</a>
    <a class="dropdown-item" href="/data/overview/">Input-output data</a>
    <a class="dropdown-item" href="/data/overview/">Material extraction</a>
    <a class="dropdown-item" href="/data/cape-town/">GHG emissions</a>
    <a class="dropdown-item" href="/data/newyork/">Land use</a>
    <a class="dropdown-item" href="/data/toronto/">Pollution</a>
    <a class="dropdown-item" href="/data/sydney/">Population</a>
    <a class="dropdown-item" href="/data/sydney/">GDP</a>
    <a class="dropdown-item" href="/data/sydney/">Employment</a>
    <a class="dropdown-item" href="/data/sydney/">Mineral scarcity</a>
    <a class="dropdown-item" href="/data/sydney/">Climate change</a>
    <a class="dropdown-item" href="/data/sydney/">Biodiversity impact</a>
    <a class="dropdown-item" href="/data/sydney/">Human health</a>
  </div>
</li>

<li class="nav-item dropdown">
  <a class="nav-link dropdown-toggle" href="#" id="cities-dropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Data by sector
  </a>
  <div class="dropdown-menu" aria-labelledby="cities-dropdown">
    <a class="dropdown-item" href="/">Agriculture</a>
    <a class="dropdown-item" href="/">Construction</a>
    <a class="dropdown-item" href="/">Energy</a>
    <a class="dropdown-item" href="/">Fishing</a>
    <a class="dropdown-item" href="/">Forestry</a>
    <a class="dropdown-item" href="/">Manufacturing</a>
    <a class="dropdown-item" href="/">Mining</a>
    <a class="dropdown-item" href="/">Retail and wholesale</a>
    <a class="dropdown-item" href="/">Transport</a>
    <a class="dropdown-item" href="/">Waste</a>
    <a class="dropdown-item" href="/">Water</a>
  </div>
</li>

<li class="nav-item dropdown">
  <a class="nav-link dropdown-toggle" href="#" id="cities-dropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Upload data
  </a>
  <div class="dropdown-menu" aria-labelledby="cities-dropdown">
    <a class="dropdown-item" href="{% url 'staf:upload_gis' %}">GIS data</a>
    <a class="dropdown-item" href="/data/overview/">Input-output data</a>
    <a class="dropdown-item" href="/data/overview/">Material extraction</a>
    <a class="dropdown-item" href="/data/cape-town/">GHG emissions</a>
    <a class="dropdown-item" href="/data/newyork/">Land use</a>
    <a class="dropdown-item" href="/data/toronto/">Pollution</a>
    <a class="dropdown-item" href="/data/sydney/">Population</a>
    <a class="dropdown-item" href="/data/sydney/">GDP</a>
    <a class="dropdown-item" href="/data/sydney/">Employment</a>
    <a class="dropdown-item" href="/data/sydney/">Mineral scarcity</a>
    <a class="dropdown-item" href="/data/sydney/">Climate change</a>
    <a class="dropdown-item" href="/data/sydney/">Biodiversity impact</a>
    <a class="dropdown-item" href="/data/sydney/">Human health</a>
  </div>
</li>

<li class="nav-item"><a href="http://" class="nav-link">Download data</a></li>

<li class="nav-item dropdown">
  <a class="nav-link dropdown-toggle" href="#" id="catalogs-dropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Data catalogs
  </a>
  <div class="dropdown-menu" aria-labelledby="catalogs-dropdown">
    <a class="dropdown-item" href="{% url 'staf:catalogs' %}">Introduction</a>
    <a class="dropdown-item" href="{% url 'staf:geocodes' %}">Geocode schemes</a>
    <a class="dropdown-item" href="{% url 'staf:flowdiagrams' %}">Flow diagrams</a>
    <a class="dropdown-item" href="{% url 'staf:activities_catalogs' %}">Activities</a>
    <a class="dropdown-item" href="{% url 'staf:referencespaces' %}">Reference spaces</a>
  </div>
</li>


<li class="nav-item"><a href="http://" class="nav-link">About</a></li>
