<li class="nav-item dropdown">
  <a class="nav-link dropdown-toggle" href="#" id="about-dropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    About
  </a>
  <div class="dropdown-menu" aria-labelledby="about-dropdown">
      <a class="dropdown-item" href="{% url 'cityloops:about' %}">Project</a>
      <a class="dropdown-item" href="{% url 'cityloops:article' 'circular-city' %}">Circular city</a>
      <a class="dropdown-item" href="{% url 'cityloops:article' 'team' %}">Team</a>
      <a class="dropdown-item" href="{% url 'cityloops:article' 'partners' %}">Partners</a>
      <a class="dropdown-item" href="{% url 'cityloops:article' 'contact' %}">Contact Us</a>
  </div>
</li>

<li class="nav-item dropdown">
  <a class="nav-link dropdown-toggle" href="#" id="cities-dropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Dashboards
  </a>
  <div class="dropdown-menu" aria-labelledby="cities-dropdown">
    <a class="dropdown-item" href="{% url 'cityloops:city' 'apeldoorn' %}">Apeldoorn</a>
    <a class="dropdown-item" href="{% url 'cityloops:city' 'bodo' %}">Bodø</a>
    <a class="dropdown-item" href="{% url 'cityloops:city' 'hoje-taastrup' %}">Høje-Taastrup</a>
    <a class="dropdown-item" href="{% url 'cityloops:city' 'mikkeli' %}">Mikkeli</a>
    <a class="dropdown-item" href="{% url 'cityloops:city' 'porto' %}">Porto</a>
    <a class="dropdown-item" href="{% url 'cityloops:city' 'roskilde' %}">Roskilde</a>
    <a class="dropdown-item" href="{% url 'cityloops:city' 'sevilla' %}">Sevilla</a>
  </div>
</li>

<li class="nav-item dropdown projects-dropdown">
  <a class="nav-link dropdown-toggle " href="#" id="projects-dropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Resources
  </a>
  <div class="dropdown-menu projects-dropdown-menu p-0" aria-labelledby="projects-dropdown">
    <div class="row mx-0">
      <div class="col-md-6 col-lg-4 mb-4 mb-lg-0 p-2 rounded-left bg-light border-right">
        <div class="projects-category px-2 pb-1"><i class="mr-2 fal fa-fw fa-info-circle"></i>Instructions</div>
        <a class="px-2" href="{% url 'cityloops:handbook_page' 'how-to' %}">How to...</a>
        <a class="px-2" href="{% url 'cityloops:handbook_page' 'SCA-Handbook' %}">SCA Handbook</a>
        <a class="px-2" href="{% url 'cityloops:handbook_page' 'UCA-Handbook' %}">UCA Handbook</a>
        <a class="px-2" href="{% url 'cityloops:article' 'courses' %}">Courses</a>
      </div>
      <div class="col-md-6 col-lg-4 mb-4 mb-lg-0 p-2">
        <div class="projects-category px-2 pb-1"><i class="mr-2 fal fa-fw fa-tools"></i>Data tools</div>
        <a class="px-2" href="{% url 'cityloops:hub' %}">Data contribution hub</a>
        <a class="px-2" href="{% url 'cityloops:article' 'flowdiagrams' %}">Flow diagram builder</a>
        <a class="px-2" href="{% url 'cityloops:handbook_page' 'sankey-builder' %}">Sankey builder</a>
        <a class="px-2" href="{% url 'cityloops:handbook_page' 'templates' %}">Templates</a>
      </div>
      <div class="col-md-6 col-lg-4 mb-4 mb-lg-0 p-2">
        <div class="projects-category px-2 pb-1"><i class="mr-2 fal fa-fw fa-table"></i>Data</div>
        <a class="px-2" href="https://cityloops.metabolismofcities.org/layers/urban-context/">Data inventory</a>
        <a class="px-2" href="https://cityloops.metabolismofcities.org/library/eurostat/">Eurostat library</a>
        <a class="px-2" href="{% url 'cityloops:eurostat_grid' %}">Eurostat grid</a>
      </div>
    </div>
  </div>
</li>

<li class="nav-item dropdown">
  <a class="nav-link dropdown-toggle" href="#" id="deliverables-dropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Results
  </a>
  <div class="dropdown-menu" aria-labelledby="deliverables-dropdown">
      <a class="dropdown-item" href="{% url 'cityloops:article' 'reports' %}">Reports</a>
      <a class="dropdown-item" href="{% url 'cityloops:article' 'methods' %}">MFA Methods analysis</a>
      <a class="dropdown-item" href="{% url 'cityloops:article' 'casestudies' %}">Case studies</a>
  </div>
</li>

{% include "_menu-account.html" %}
