<li class="nav-item dropdown">
  <a class="nav-link dropdown-toggle" href="#" id="cities-dropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Cities
  </a>
  <div class="dropdown-menu" aria-labelledby="cities-dropdown">
    <div class="dropdown-submenu">
      <div class="row no-gutters">
        <div class="col col-md-12">
          <a href="/data/overview/">View all</a>
          <a href="/data/cape-town/">Cape Town</a>
          <a href="/data/newyork/">New York</a>
          <a href="/data/toronto/">Toronto</a>
          <a href="/data/sydney/">Sydney</a>
        </div>
      </div>
    </div>
  </div>
</li>
<li class="nav-item"><a class="nav-link" href="/data/aaa">Data Search</a></li>
<li class="nav-item"><a class="nav-link" href="/data/aaa">Contribute</a></li>
<li class="nav-item"><a class="nav-link" href="/data/aaa">About</a></li>
