<li class="nav-item"><a class="nav-link" href="{% url "data:dashboards" %}">Cities</a></li>

{% if request.user.is_superuser %}
<li class="nav-item dropdown">
  <a class="nav-link dropdown-toggle" href="#" id="view-dropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
   Data inventory
  </a>
  <div class="dropdown-menu" aria-labelledby="view-dropdown">
    <a class="dropdown-item" href="{% url "data:view_datasets" %}">Datasets</a>
    <a class="dropdown-item" href="{% url "data:multimedia" %}">Photos</a>
    <a class="dropdown-item" href="{% url "data:view_dataportals" %}">Dataset portals</a>
  </div>
</li>
{% else %}
  <li class="nav-item"><a class="nav-link" href="{% url "data:layers" %}">Data inventory</a></li>
{% endif %}
<li class="nav-item dropdown">
  <a class="nav-link dropdown-toggle" href="#" id="upload-dropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Upload
  </a>
  <div class="dropdown-menu" aria-labelledby="upload-dropdown">
    <a hidden class="dropdown-item" href="{% url "data:upload_dataset" %}">Dataset</a>
    <a hidden class="dropdown-item" href="{% url "data:upload_dataportal" %}">Dataset portal</a>
    <a class="dropdown-item" href="{% url "data:hub" %}">Community hub</a>
    <a class="dropdown-item" href="https://multimedia.metabolismofcities.org/media/library/screenrecording.mp4">Instruction video</a>
  </div>
</li>
<li class="nav-item"><a class="nav-link" href="https://data.metabolismofcities.org/news/new-metabolism-of-cities-data-hub-launched/">About</a></li>

{% include "_menu-account.html" %}
