<li class="nav-item">
  <a class="nav-link {% if not section or section == "flows" %}active{% endif %}" href="{% url "water:index" %}?region=1012156"><i class="fal fa-fw fa-tint"></i> Eaux</a>
</li>
<div class="nav-divider"></div>
<li class="nav-item">
  <a class="nav-link {% if section == "map" %}active{% endif %}" href="/water/infrastructure/?region=1012156"><i class="fal fa-fw fa-layer-group"></i> Infrastructure</a>
</li>
<div class="nav-divider"></div>
<li class="nav-item">
  <a class="nav-link disabled" href="#"><i class="fal fa-fw fa-chimney"></i> Matières</a>
</li>
<div class="nav-divider"></div>
<li class="nav-item">
  <a class="nav-link disabled" href="#"><i class="fal fa-fw fa-building"></i> Stocks</a>
</li>
<div class="nav-divider"></div>
<li class="nav-item">
  <a class="nav-link disabled" href="#"><i class="fal fa-fw fa-bolt"></i> Energies</a>
</li>
