<li class="nav-item">
  <a class="nav-link" href="{% url 'peeide:page' 'people' %}">People</a>
</li>
<div class="nav-divider"></div>
<li class="nav-item">
  <a class="nav-link" href="{% url 'peeide:page' 'research' %}">Research Topics and Projects</a>
</li>
<div class="nav-divider"></div>
<li class="nav-item">
  <a class="nav-link" href="{% url 'peeide:page' 'bibliography' %}">Bibliography</a>
</li>
<div class="nav-divider"></div>
<li class="nav-item">
  <a class="nav-link" href="{% url 'peeide:page' 'news' %}">Resources and Community</a>
</li>