<li class="nav-item dropdown">
  <a class="nav-link dropdown-toggle" href="#" id="about-dropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    About
  </a>
  <div class="dropdown-menu" aria-labelledby="about-dropdown">
    <a class="dropdown-item" href="/about/purpose/">Purpose</a>
    <a class="dropdown-item" href="/about/what-is-island-metabolism">What is Island Metabolism?</a>
    <a class="dropdown-item" href="/about/moi-team/">Team</a>
    <a class="dropdown-item" href="/about/join/">Join Us</a>
    <a class="dropdown-item" href="/about/subscribe/">Subscribe</a>
    <a class="dropdown-item" href="/about/contact/">Contact Us</a>
  </div>
</li>

<li class="nav-item dropdown">
  <a class="nav-link dropdown-toggle" href="#" id="research-dropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Research
  </a>
  <div class="dropdown-menu" aria-labelledby="research-dropdown">
    <a class="dropdown-item" href="/community/research/projects/">Research Projects</a>
    <a class="dropdown-item" href="/community/research/theses/">Theses</a>
  </div>
</li>

<li class="nav-item dropdown">
  <a class="nav-link dropdown-toggle" href="#" id="resources-dropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Research
  </a>
  <div class="dropdown-menu" aria-labelledby="resources-dropdown">
    <a class="dropdown-item" href="/resources/publications/">Library</a>
    <a class="dropdown-item" href="/community/links/">Links</a>
    <a class="dropdown-item" href="/community/tools/">Tools</a>
  </div>
</li>

<li class="nav-item">
  <a class="nav-link" href="/islands/">Islands</a>
</li>

<li class="nav-item">
  <a class="nav-link" href="/news_events/">News &amp; Events</a>
</li>

{% include "_menu-account.html" %}
