<li class="nav-item">
  <a class="nav-link" href="{% url 'peeide:page' 'pilots' %}">People and projects</a>
</li>
<div class="nav-divider"></div>
<li class="nav-item">
  <a class="nav-link" href="{% url 'peeide:page' 'resources' %}">Our research</a>
</li>
<div class="nav-divider"></div>
<li class="nav-item">
  <a class="nav-link" href="{% url 'peeide:page' 'library' %}">Library</a>
</li>
<div class="nav-divider"></div>
<li class="nav-item">
  <a class="nav-link" href="{% url 'peeide:page' 'about' %}">Resources and community</a>
</li>