<li class="nav-item"><a class="nav-link" href="/ascus/">Home</a></li>
<li class="nav-item"><a class="nav-link" href="/ascus/program/">Program</a></li>
<li class="nav-item"><a class="nav-link" href="/ascus/rates/">Rates</a></li>
{% if request.user.is_authenticated %}
  <li class="nav-item"><a class="nav-link" href="/ascus/account/">My account</a></li>
{% else %}
  <li class="nav-item"><a class="nav-link" href="/ascus/register/">Register now</a></li>
  <li class="nav-item"><a class="nav-link" href="/ascus/login/">Login</a></li>
{% endif %}
