<li class="nav-item dropdown">
  <a class="nav-link dropdown-toggle" href="#" id="cities-dropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    About
  </a>
  <div class="dropdown-menu" aria-labelledby="cities-dropdown">
    <a class="dropdown-item" href="{% url "untraceable:article" "about" %}">Overview</a>
    <a class="dropdown-item" href="{% url "untraceable:article" "triple-95" %}">Triple 95 Rule</a>
  </div>
</li>
<li class="nav-item dropdown">
  <a class="nav-link dropdown-toggle" href="#" id="view-dropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
  Topics
  </a>
  <div class="dropdown-menu" aria-labelledby="view-dropdown">
      <a class="dropdown-item" href="{% url "untraceable:topic" "built-environment" %}">Built environment</a>
      <a class="dropdown-item" href="{% url "untraceable:topic" "economy" %}">Economy</a>
      <a class="dropdown-item" href="{% url "untraceable:topic" "energy" %}">Energy</a>
      <a class="dropdown-item" href="{% url "untraceable:topic" "fauna-and-flora" %}">Fauna and flora</a>
      <a class="dropdown-item" href="{% url "untraceable:topic" "food" %}">Food</a>
      <a class="dropdown-item" href="{% url "untraceable:topic" "health" %}">Health</a>
      <a class="dropdown-item" href="{% url "untraceable:topic" "location" %}">Location</a>
      <a class="dropdown-item" href="{% url "untraceable:topic" "technology" %}">Technology</a>
      <a class="dropdown-item" href="{% url "untraceable:topic" "telecommunication" %}">Telecommunication</a>
      <a class="dropdown-item" href="{% url "untraceable:topic" "transport" %}">Transport</a>
      <a class="dropdown-item" href="{% url "untraceable:topic" "water-and-sanitation" %}">Water and sanitation</a>
      <a class="dropdown-item" href="{% url "untraceable:topic" "wellbeing" %}">Wellbeing</a>
  </div>
</li>
<li class="nav-item dropdown">
  <a class="nav-link dropdown-toggle" href="#" id="upload-dropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Workshops
  </a>
  <div class="dropdown-menu" aria-labelledby="upload-dropdown">
    <a class="dropdown-item" href="{% url "data:upload_dataset" %}">Dataset</a>
    <a class="dropdown-item" href="{% url "data:upload_dataportal" %}">Dataset portal</a>
  </div>
</li>
<li class="nav-item"><a class="nav-link" href="{% url "untraceable:volunteer_forum" %}">Forum</a></li>
{% include "_menu-account.html" %}
