<div class="forum">
  {% if list_messages %}
    {% for each in list_messages %}
      <div class="single-message card mb-3">
        <div class="card-body">
          <div class="row metadata">
            <div class="col-6">
              {{ each.posted_by.avatar }}
              {% if DESIGN.back_link and each.posted_by.user %}
                <a href="/hub/users/{{ each.posted_by.id }}/">{{ each.posted_by }}</a>
              {% else %}
                {{ each.posted_by }}
              {% endif %}
              {% if each.posted_by.get_my_space %}
                <span class="badge badge-light ml-1">{{ each.posted_by.get_my_space }}</span>
              {% endif %}
              {% if each.posted_by.points and DESIGN.back_link %}
                <span class="badge badge-light ml-1">{{ each.posted_by.points }} points</span>
              {% endif %}
            </div>
            <div class="col-6 text-muted text-right avatar-line-height" title="{{ each.date_created|date:'l j F Y, H:i e' }}">
              {% if not each.get_icon and each.author == request.user.people %}
                <a href="/messages/{{ each.id }}/edit/?next={{ request.get_full_path|urlencode }}" class="mr-4">
                  <i class="fal fa-edit mr-2"></i> Edit message
                </a>
              {% endif %}
              {{ each.date_created|timesince }} ago
            </div>
          </div>

          <hr>

          <div class="text">
            {% if each.get_icon %}
              <i class="far fa-fw {{ each.get_icon }} mx-1"></i>
            {% endif %}

            {{ each.get_description }}

            {% if each.meta_data.edit_date %}
              <p><small class="text-muted"><em>Last edited: {{ each.meta_data.edit_date }}</em></small></p>
            {% endif %}
          </div>

          {% if each.attachments.all %}
            <div class="attachment mt-3">
              {% for attachment in each.attachments.all %}
              <div>
                {% if attachment.image %}
                  <a href="{{ MEDIA_URL }}{{ attachment.get_url }}" target="_blank">
                    <img src="{{ attachment.image.thumbnail.url }}" alt="" class="img-thumbnail" />
                  </a>
                  <br>
                {% endif %}
                <a class="btn btn-sm btn-primary-outline mb-1" href="{{ MEDIA_URL }}{{ attachment.get_url }}" target="_blank"><i class="far fa-paperclip"></i>
                  {{ attachment }}
                  ({{ attachment.get_size }})
                </a>
              </div>
              {% endfor %}
            </div>
          {% endif %}

        </div>
      </div>
    {% endfor %}
  {% endif %}
</div>

{% if request.user.is_authenticated %}

  {% if request.user.people in info.subscribers.all %}
    <form method="post">
      {% csrf_token %}
      <input type="hidden" name="unsubscribe" value="true" />
      <div class="text-right">
        You are subscribed to this thread
        <button class="btn btn-sm btn-outline-danger ml-3" type="submit">
          <i class="fal fa-ban"></i>
          Unsubscribe
        </button>
      </div>
    </form>

  {% endif %}

  <h3 id="reply">{% if list_messages %}Reply{% elif message %}Edit message{% else %}Leave a comment{% endif %}</h3>
  <form method="post" enctype="multipart/form-data"
  {% if not message %}action="/forum/{% if forum_id %}{{ forum_id }}{% else %}{{ info.id }}{% endif %}/"{% endif %}
  >
    {% csrf_token %}

    {% if forum_topic_title %}
      <input type="hidden" name="title" value="{{ forum_topic_title }}" />
      <input type="hidden" name="parent_url" value="{% if forum_url %}{{ forum_url }}{% else %}{{ request.get_full_path }}{% endif %}" />
      <input type="hidden" name="project" value="{{ request.project }}" />
      <!-- We need to put this parent ID in so that this topic will appear in the volunteer hub as well -->
      <input type="hidden" name="parent" value="31993" />
    {% endif %}

    <div class="form-group markdown-textarea">
      {% include "_markdown.html" %}
      <textarea class="form-control" id="text" name="text" rows="7" required>{{ message.description }}</textarea>
    </div>
    <div class="form-group">
      <label for="files" class="cursor-pointer"><i class="far fa-fw fa-paperclip"></i> Add attachment(s)</label>
      <div class="custom-file" id="files-wrapper" hidden>
        <input type="file" class="custom-file-input" name="files" id="files" multiple="multiple">
        <label class="custom-file-label" for="files">Choose file</label>
        <div class="btn btn-sm btn-default-basic text-danger mt-2" id="delete-attachment">
          <i class="fal fa-trash"></i> Delete attachment(s)
        </div>
      </div>
    </div>

    {% if show_subscribe %}
    <div class="custom-control custom-switch my-4">
      <input type="checkbox" class="custom-control-input" value="true" id="notify_me" name="subscribe" checked>
      <label class="custom-control-label" for="notify_me">Notify me when people reply</label>
    </div>
    {% endif %}

    <button type="submit" class="btn btn-success"><i class="fas fa-fw fa-comment-alt-plus"></i> Comment</button>
    <input type="hidden" name="return" value="{{ request.get_full_path }}" />
    <input type="hidden" name="next" value="{{ request.get_full_path }}" />
  </form>

  <script>
    const filesWrapper = document.getElementById("files-wrapper");
    const filesInput = document.getElementById("files");

    filesInput.addEventListener("change", function(e) {
      filesWrapper.removeAttribute("hidden");
    });

    document.getElementById("delete-attachment").addEventListener("click", function(e) {
      filesInput.value = "";
      filesWrapper.setAttribute("hidden", "hidden");
    });
  </script>
{% endif %}
