{% load static %}
{% load sass_tags %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>{% block title %}{% endblock %} - Metabolism of Cities</title>
  <link href="{% sass_src 'css/bootstrap/bootstrap.scss' %}" rel="stylesheet" type="text/css" />
  <link href="{% sass_src 'css/main.scss' %}" rel="stylesheet" type="text/css" />
  <!-- custom CSS, if necessary -->
  {% block css %}{% endblock %}
  {% block head %}{% endblock %}
</head>
<!-- each page has a class defined with page_name - useful for assigning css rules -->
<body class="single-project">
  <!-- top layer with navbar and hero -->
  {% include "_project.top-layer.html" %}
  <!-- page content -->
  <div class="container">
    {% block content %}{% endblock %}
  </div>
  <!-- footers -->
  <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
  <script src="https://kit.fontawesome.com/7815588c96.js" crossorigin="anonymous"></script>
  <script src="{% static 'js/site.js' %}"></script>
  {% block footer %}{% endblock %}
</body>
</html>
