<div class="row">
  <div class="col-md-6 col-lg-4">
    <div class="projects-category"><i class="mr-2 far fa-fw fa-portal-enter"></i>Media</div>
    <a href="/projects/2/">Library</a>
    <a href="/projects/3/">Multimedia Library</a>
    <a href="/projects/3458/">Circular Metabolism Podcast</a>
    <br>
    <div class="projects-category"><i class="mr-2 far fa-fw fa-broadcast-tower"></i>Community</div>
    <a href="/projects/18/">UM Community Hub</a>
    <br>
    <div class="projects-category"><i class="mr-2 far fa-fw fa-dot-circle"></i>Intervention Projects</div>
    <a href="/projects/6/">Cityloops</a>
  </div>
  <div class="col-md-6 col-lg-4">
    <div class="projects-category"><i class="mr-2 far fa-fw fa-tools"></i>Data Platforms &amp; Tools</div>
    <a href="/projects/4/">Metabolism of Cities Data Hub</a>
    <a href="/projects/13/">Stocks and Flows Database Schema (STAFdbs)</a>
    <a href="/projects/14/">Stocks and Flows Data Hub (STAFdatahub)</a>
    <a href="/projects/15/">Online Material Flow Analysis Tool (OMAT)</a>
    <a href="/projects/16/">PlatformU</a>
    <a href="/projects/12/">Global Urban Metabolism Dataset (GUMDB)</a>
    <br>
    <div class="projects-category"><i class="mr-2 far fa-fw fa-copy"></i>Twin sites</div>
    <a href="/projects/17/">Metabolism of Islands</a>
  </div>
  <div class="col-md-6 col-lg-4">
    <div class="projects-category"><i class="mr-2 far fa-fw fa-glasses"></i>Education</div>
    <a href="/projects/11/">Online courses (MOOC)</a>
    <a href="/projects/9/">Urban Metabolism &amp; Minorities</a>
    <a href="/projects/10/">Urban Metabolism Lab</a>
    <a href="/projects/18380/">Urban Flux Exhibition 2018/2019</a>
    <br>
    <div class="projects-category"><i class="mr-2 far fa-fw fa-projector"></i>Conferences &amp; Events</div>
    <a href="/projects/8/">ASCuS Conference 2020</a>
    <a href="/projects/7/">Seminar Series 2019</a>
    <a href="/projects/18379/">Masterclass Designing with Flows 2016/2017</a>
  </div>
</div>
