<div id="sidebar-container">

  <div id="sidebar" class="text-center pt-3 pb-3">
    <h3>{{ _("Flow") }}</h3>
    <ul class="nav flex-column mt-4 region-link">
      <li class="nav-item">
        <a class="btn {% if section == "water" %}btn-dark d-inline-block{% endif %}" href="{% url "water:water" %}" data-link="{% url "water:water" %}"> {{ _("Water") }}</a>
      </li>
      <li class="nav-item">
        <a class="nav-link btn {% if section == "energy" %}btn-dark d-inline-block{% endif %}" href="{% url "water:energy" %}" data-link="{% url "water:energy" %}"> {{ _("Energy") }}</a>
      </li>
      <li class="nav-item">
        <a class="nav-link btn {% if section == "emissions" %}btn-dark d-inline-block{% endif %}" href="{% url "water:emissions" %}" data-link="{% url "water:emissions" %}"> {{ _("GHG Emissions") }}</a>
      </li>
      <li class="nav-item">
        <a class="nav-link btn {% if section == "materials" %}btn-dark d-inline-block{% endif %}" href="{% url "water:materials" %}" data-link="{% url "water:materials" %}"> {{ _("Materials") }}</a>
      </li>
      <li class="nav-item">
        <a class="nav-link btn {% if section == "stock" %}btn-dark d-inline-block{% endif %}" href="{% url "water:stock" %}" data-link="{% url "water:stock" %}"> {{ _("Material stock") }}</a>
      </li>
    </ul>
  </div>

  <div id="sidebar-territory" class="text-center pt-3 pb-3" {% if category.slug == "stock" %}hidden{% endif %}>

    <div>
      <h3>{{ _("Territory") }}</h3>
      <ul class="nav flex-column mt-4 region-bar">
      {% for key,value in REGIONS.items %}
        {% if key < 8 %}
          <li class="nav-item">
            <a class="btn
              {% if key|slugify in selected_regions %}
                btn-dark
              {% endif %}"
            href="{% url 'water:water' %}?region={{ key }}" data-region="{{ key }}">
              {{ value }}
            </a>
          </li>
          {% endif %}
        {% endfor %}
      </ul>
    </div>

    <div>
      <h3>{{ _("Combined territories") }}</h3>
      <ul class="nav flex-column mt-4 region-bar">
      {% for key,value in REGIONS.items %}
        {% if key > 7 %}
          <li class="nav-item">
            <a class="btn
              {% if key|slugify in selected_regions %}
                btn-dark
              {% endif %}"
            href="{% url 'water:water' %}?region={{ key }}" data-region="{{ key }}">
              {{ value }}
            </a>
          </li>
          {% endif %}
        {% endfor %}
      </ul>
    </div>

  </div>

  <div id="sidebar-period" class="text-center pt-3 pb-3">
    <h3>{{ _("Period") }}</h3>

    <form class="form period-dropdown p-2" id="changedate">
      <select class="form-control mb-2" name="date_start">
        {% for each in time_frames %}
          {% if each.timeframe == "month" %}
            <option value="{{ each.date|date:"Y-m" }}" 
              {% if PROJECT.meta_data.default_date_start == each.date|date:"Y-m" and not request.GET.date_start %}
                selected
              {% elif each.date|date:"Y-m" == request.GET.date_start %}
                selected
              {% endif %}
            >
              {{ each.date|date:"M Y" }}
            </option>
          {% else %}
            <option value="{{ each.date|date:"Y" }}" 
              {% if PROJECT.meta_data.default_date_start == each.date|date:"Y" and not request.GET.date_start %}
                selected
              {% elif each.date|date:"Y" == request.GET.date_start %}
                selected
              {% endif %}
            >
              {{ each.date|date:"Y" }}
            </option>
          {% endif %}
        {% endfor %}
      </select>
      <select class="form-control mb-2" name="date_end">
        {% for each in time_frames %}
          {% if each.timeframe == "month" %}
            <option value="{{ each.date|date:"Y-m" }}" 
              {% if PROJECT.meta_data.default_date_end == each.date|date:"Y-m" and not request.GET.date_end %}
                selected
              {% elif each.date|date:"Y-m" == request.GET.date_end %}
                selected
              {% endif %}
            >
              {{ each.date|date:"M Y" }}
            </option>
          {% else %}
            <option value="{{ each.date|date:"Y" }}" 
              {% if PROJECT.meta_data.default_date_end == each.date|date:"Y" and not request.GET.date_end %}
                selected
              {% elif each.date|date:"Y" == request.GET.date_end %}
                selected
              {% endif %}
            >
              {{ each.date|date:"Y" }}
            </option>
          {% endif %}
        {% endfor %}
      </select>
      <div><button type="submit" class="btn btn-success">{{ _("Change") }}</button></div>
    </form>

  </div>

</div>
