<div {% if not dashboard %}id="img-city-wrapper" class="sticky-top"{% endif %}>
  <div id="img-city" {% if not dashboard %}class="smaller"{% endif %} style="background-image: url('{{ space.photo.image.url }}')">
    <div class="black-cover"></div>
    <div class="container">
      <div class="city-name"><a href="{% url URLS.DASHBOARD space.slug %}">{{ space }}</a></div>
    </div>
  </div>
  <nav id="navbar-city" class="navbar navbar-light navbar-expand-md py-0">
    <div class="container">
      <button class="navbar-toggler ml-3" type="button" data-toggle="collapse" data-target="#city-navbar" aria-controls="city-navbar" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="city-navbar">
        <ul class="navbar-nav mr-auto ml-3 ml-md-0">
          <li class="nav-item">
            <a class="nav-link{% if dashboard %} active{% endif %}" href="{% url URLS.DASHBOARD space.slug %}">
              <i class="fa fa-fw fa-home"></i>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link{% if layer.slug == 'context' %} active{% endif %}" href="{% url URLS.LAYER_OVERVIEW space.slug 'context' %}">
              Context
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link{% if layer.slug == 'biophysical' %} active{% endif %}" href="{% url URLS.LAYER_OVERVIEW space.slug 'biophysical' %}">
              Biophysical
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link{% if layer.slug == 'infrastructure' %} active{% endif %}" href="{% url URLS.LAYER_OVERVIEW space.slug 'infrastructure' %}">
              Infrastructure
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link{% if layer.slug == 'stocks-and-flows' %} active{% endif %}" href="{% url URLS.LAYER_OVERVIEW space.slug 'stocks-and-flows' %}">
              Stocks and flows
            </a>
          </li>

          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle {% if submenu == 'library' %}active{% endif %}" href="#" id="view-dropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Browse library
            </a>
            <div class="dropdown-menu" aria-labelledby="view-dropdown">
              <a class="dropdown-item" href="{% url URLS.LIBRARY_OVERVIEW space.slug 'datasets' %}">Datasets</a>
              <a class="dropdown-item" href="{% url URLS.LIBRARY_OVERVIEW space.slug 'publications' %}">Publications</a>
              <a class="dropdown-item" href="{% url URLS.LIBRARY_OVERVIEW space.slug 'maps' %}">Maps</a>
              <a class="dropdown-item" href="{% url URLS.LIBRARY_OVERVIEW space.slug 'multimedia' %}">Multimedia</a>
              <a class="dropdown-item" href="{% url URLS.LIBRARY_OVERVIEW space.slug 'recent' %}"><em>Recently added</em></a>
            </div>
          </li>
        </ul>
      </div>

      <div class="float-right">

        <div class="dropdown">
          <a class="badge badge-primary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <i class="fa fa-users"></i>
            Community
          </a>

          <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
            <a class="dropdown-item" href="{% url URLS.DASHBOARD space.slug %}hub/harvesting/">Data collection</a>
            <a class="dropdown-item" href="{% url URLS.DASHBOARD space.slug %}hub/processing/">Data processing</a>
            <a class="dropdown-item disabled" href="{% url URLS.DASHBOARD space.slug %}hub/analysis/">Data analysis</a>
            <a class="dropdown-item" href="{% url URLS.DASHBOARD space.slug %}hub/people/">People</a>
            <a class="dropdown-item" href="{% url URLS.FORUM %}">Forum</a>
          </div>
        </div>
      </div>

    </div>
  </nav>
</div>
