<div id="subnav-ascus">
  <nav class="navbar navbar-expand-md">
    <div class="container">

      <button class="navbar-toggler ml-3" type="button" data-toggle="collapse" data-target="#ascus-navbar" aria-controls="ascus-navbar" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="ascus-navbar">
        <ul class="navbar-nav mr-auto ml-3 ml-md-0">

          <li class="nav-item">
            <a class="nav-link{% if dashboard %} active{% endif %}" href="{% url "water:infrastructure" %}">
              Infrastructure
            </a>
          </li>

          <li class="nav-item">
            <a class="nav-link{% if dashboard %} active{% endif %}" href="{% url "ascus2021:participants" %}">
              Consumption
            </a>
          </li>

          <li class="nav-item" >
            <a class="nav-link{% if dashboard %} active{% endif %}" href="{% url "ascus2021:introvideos" %}">
              Flows
            </a>
          </li>

          <li class="nav-item" >
            <a class="nav-link{% if dashboard %} active{% endif %}" href="{% url "water:map" %}">
              Sankey
            </a>
          </li>

        </ul>
      </div>

    </div>
  </nav>
</div>
