<h1>Brussels</h1>

<ul class="nav nav-tabs">
  <li class="nav-item">
    <a class="nav-link{% if city %} active{% endif %}" href="{% url 'stocks:city' 1 %}">
      Overview
    </a>
  </li>
  <li class="nav-item">
    <a class="nav-link{% if data %} active{% endif %}" href="{% url 'stocks:data' 1 %}">
      Data
    </a>
  </li>
  <li class="nav-item">
    <a class="nav-link{% if map %} active{% endif %}" href="{% url 'stocks:map' 1 %}">
      Map
    </a>
  </li>
  <li class="nav-item">
    <a class="nav-link{% if compare %} active{% endif %}" href="{% url 'stocks:compare' 1 %}">
      Compare areas
    </a>
  </li>
  <li class="nav-item">
    <a class="nav-link{% if modeller %} active{% endif %}" href="{% url 'stocks:modeller' 1 %}">
      Modeller
    </a>
  </li>
</ul>