<div id="subnav-platformu">
  <nav class="navbar navbar-expand-md">
    <div class="container">

      <button class="navbar-toggler ml-3" type="button" data-toggle="collapse" data-target="#ascus-navbar" aria-controls="ascus-navbar" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="ascus-navbar">
        <ul class="navbar-nav mr-auto ml-3 ml-md-0">

          <li class="nav-item"><a class="nav-link" href="{% url "platformu:admin" %}"><i class="fa fa-lock"></i></a></li>
          <li class="nav-item"><a class="nav-link" href="{% url "platformu:admin" %}">My Organisations</a></li>
          <li class="nav-item"><a class="nav-link" href="{% url "platformu:admin_map" %}">Map</a></li>
          <li class="nav-item"><a class="nav-link" href="/accounts/logout/">Log Out</a></li>

        </ul>
      </div>

    </div>
  </nav>
</div>
