<div id="subnav-water">
  <nav class="navbar navbar-expand-md">
    <div class="container">

      <button class="navbar-toggler ml-3" type="button" data-toggle="collapse" data-target="#water-navbar" aria-controls="water-navbar" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="water-navbar">
        <strong class="mr-4">Territoire</strong>
        <ul class="navbar-nav mr-auto ml-3 ml-md-0 region-bar">

          {% for key,value in REGIONS.items %}
            <li class="nav-item">
                <a class="
                  {% if key == 'Eau d\'Azur' %}mnca-button nav-link{% else %}btn{% endif %} 
                  {% if request.GET.region == value|slugify %}
                    {% if key == 'Eau d\'Azur' %}
                      active
                    {% else %}
                      btn-dark
                    {% endif %}
                  {% endif %}"
                href="{% url 'water:water' %}?region={{ value }}" data-region="{{ value }}">
                  {{ key }}
                </a>
            </li>
          {% endfor %}

        </ul>
      </div>

    </div>
  </nav>
</div>

