<div id="subnav-water">
  <nav class="navbar navbar-expand-md">
    <div class="container-xl">

      <div class="collapse navbar-collapse project-navbar-collapse" id="water-navbar">
        <ul class="navbar-nav mr-auto ml-3 ml-md-0 region-bar">
          <li class="nav-item">
            <span class="btn mr-4">
              <strong>Territoire</strong>
            </span>
          </li>
          {% for key,value in REGIONS.items %}
            <li class="nav-item">
                <a class="
                  {% if key == 'Eau d\'Azur' %}mnca-button nav-link{% else %}btn{% endif %} 
                  {% if request.GET.region == value|slugify %}
                    {% if key == 'Eau d\'Azur' %}
                      active
                    {% else %}
                      btn-dark
                    {% endif %}
                  {% endif %}"
                href="{% url 'water:water' %}?region={{ value }}" data-region="{{ value }}">
                  {{ key }}
                </a>
            </li>
          {% endfor %}

        </ul>
      </div>

    </div>
  </nav>
</div>

