{% load static %}
<div class="top-layer">

  {% if BACK_LINK or PERMISSIONS or request.user.is_staff %}
    <div class="return-bar">
      <div class="container">
        {% if BACK_LINK %}
          {% if DEBUG %}
            <a href="/"><i class="fad fa-arrow-circle-left"></i> Return to {{ SITE_NAME }}</a>
          {% else %}
            <a href="https://new.metabolismofcities.org/"><i class="fad fa-arrow-circle-left"></i> Return to {{ SITE_NAME }}</a>
          {% endif %}
        {% endif %}

        {% if PERMISSIONS or request.user.is_staff or request.user.is_superuser %}
          <div class="float-right">
            {% for each in PERMISSIONS %}
              <span class="badge badge-light">{{ each.relationship.name }}</span>
            {% endfor %}
            {% if request.user.is_staff %}
              <span class="badge badge-light">MoC team member</span>
            {% endif %}
            {% if request.user.is_superuser %}
              <span class="badge badge-light">Super user</span>
            {% endif %}
            <a class="badge badge-primary" href="{{ PROJECT.get_website }}controlpanel">
              <i class="fa fa-lock mr-1"></i>
              Control Panel
            </a>
          </div>
        {% endif %}
      </div>
    </div>
  {% endif %}

  <nav class="navbar navbar-expand-lg navbar-dark main-nav-project-{{ PROJECT.id }}">
    <div class="container">
      <a class="navbar-brand" href="{{ PROJECT.get_website }}">
        <img alt="{{ PROJECT }}" src="{{ LOGO }}">
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#project-navbar" aria-controls="project-navbar" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="project-navbar">
        <ul class="navbar-nav ml-auto">

          {% if PROJECT.id == 4 %}
            {% include "_menu-data.html" %}
          {% elif PROJECT.id == 14 %}
            {% include "_menu-staf.html" %}
          {% elif PROJECT.id == 3 %}
            {% include "_menu-multimedia.html" %}
          {% elif PROJECT.id == 2 %}
            {% include "_menu-library.html" %}
          {% elif PROJECT.id == 8 %}
            {% include "_menu-ascus.html" %}
          {% elif PROJECT.id == 16 %}
            {% include "_menu-platformu.html" %}
          {% elif PROJECT.id == 18 %}
            {% include "_menu-community.html" %}
          {% elif PROJECT.id == 18683 %}
            {% include "_menu-stocks.html" %}
          {% else %}
            {% include "_menu-moc.html" %}
          {% endif %}

        </ul>
      </div>
    </div>
  </nav>

  {% if HEADER_STYLE == "full" %}
    <div class="jumbotron jumbotron-fluid text-light">
      <div class="container">
        {% if header_title %}
          <h1 class="display-4">{{ header_title }}</h1>
        {% endif %}
        {% if header_subtitle_link %}
          <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
              &laquo; {{ header_subtitle_link|safe }}
            </ol>
          </nav>
        {% elif header_subtitle %}
            {{ header_subtitle|safe }}
        {% endif %}
      </div>
    </div>
  {% elif HEADER_STYLE == "image" %}
    <div class="img-header" style="background-image: url('{{ header_image }}')"></div>
  {% endif %}

</div>

{% if PROJECT.id == 4 and space %}
  {% include "_submenu-data.html" %}
{% elif PROJECT.id == 8 and request.user.is_authenticated %}
  {% include "_submenu-ascus.html" %}
{% elif PROJECT.id == 16 and request.user.is_authenticated %}
  {% include "_submenu-platformu.html" %}
{% endif %}

{% if PROJECT.id == 4 and space %}
  <script>
    // add class when navbar becomes sticky - https://stackoverflow.com/a/57991537/1685643
    // get the sticky element
    const imgCityWrapper = document.getElementById("img-city-wrapper")

    const observer = new IntersectionObserver(
      ([e]) => e.target.classList.toggle("is-sticky", e.intersectionRatio < 1),
      {threshold: [1]}
    );

    observer.observe(imgCityWrapper)
  </script>
{% endif %}
