{% load static %}

{% if SPRINTS %}
  {% for each in SPRINTS %}
    <div class="sprint-bar">
      <div class="container">
        <i class="fa fa-heart-rate"></i> Active work sprint!
        <a href="{% url 'core:work_sprint' each.id %}">{{ each }}</a>
        <div class="float-right">
          <a class="badge badge-light" href="{% url 'core:work_sprint' each.id %}">
            Sprint overview
          </a>
          <a class="badge badge-light" href="{% url 'core:tasks' %}">
            Task list
          </a>
        </div>
      </div>
    </div>
  {% endfor %}
{% endif %}

<div class="top-layer">

  {% if HOMEPAGE %}
    <div class="dark-cover"></div>
  {% endif %}

  {% if PROJECT.slug == "ascus" %}
    <div class="return-bar">
      <div class="container">
        <a href="https://ascus2021.metabolismofcities.org/">
          AScUS 2021 is here! Go to the AScUS 2021 website.
          <i class="fad fa-arrow-circle-right"></i>
        </a>
      </div>
    </div>
  {% elif DESIGN.back_link or request.user.is_authenticated %}
    <div class="return-bar">
      <div class="container">
        <div class="row">
          <div class="col-lg-4">
            {% if DESIGN.back_link %}
              {% if DEBUG %}
                <a href="/"><i class="fad fa-arrow-circle-left"></i>
                  Return to Metabolism of Cities
                </a>
              {% else %}
                <a href="https://metabolismofcities.org/"><i class="fad fa-arrow-circle-left"></i> Return to Metabolism of Cities</a>
              {% endif %}
            {% endif %}
          </div>

          {% if request.user.is_authenticated %}

            <div class="col-lg-8 d-flex align-middle justify-content-end">

              <a class="badge badge-light ml-1" href="{% if DEBUG %}/{{ PROJECT.slug }}{% endif %}/hub/profile/">
                <i class="fa fa-user mr-1"></i> {{ request.user.people }}
              </a>

              <a class="badge badge-light ml-1" href="{% if DEBUG and PROJECT.slug %}/{{ PROJECT.slug }}{% endif %}/hub/network/">
                <i class="fa fa-heart-rate"></i> Network activity
              </a>

              <a href="/notifications/" class="badge badge-{% if NOTIFICATIONS %}dark{% else %}light{% endif %} ml-1">
                {% if NOTIFICATIONS %}
                  <i class="fa fa-bell text-danger mr-1"></i>
                  {{ NOTIFICATIONS.count }} notification{% if NOTIFICATIONS.count > 1 %}s{% endif %}
                {% else %}
                  <i class="fa fa-bell mr-1"></i>
                  No notifications
                {% endif %}
              </a>

              {% if "curator" in PERMISSIONS or request.user.is_staff or "admin" in PERMISSIONS %}
                <a class="badge badge-secondary ml-1" href="{% if DEBUG and PROJECT.id != 1 %}/{{ PROJECT.slug }}/{% elif PROJECT.id == 1 %}/{% else %}{{ PROJECT.get_website }}{% endif %}controlpanel/">
                  <i class="fa fa-cog"></i> Control panel
                </a>
              {% endif %}

              {% if request.user.is_staff %}
                <div class="quick-links dropdown ml-1">
                  <div class="badge badge-secondary dropdown-toggle" type="button" id="admin-dropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <i class="fa fa-lock mr-1"></i> Quick links
                  </div>
                  <div class="dropdown-menu" aria-labelledby="admin-dropdown">

                    {% if request.user.is_authenticated and request.user.is_staff and show_project_design %}
                      <a class="dropdown-item" href="/admin/core/projectdesign/{{ PROJECT.id }}/change/"><i class="fal mr-2 fa-palette fa-fw"></i> Project design</a>
                    {% endif %}

                    {% if webpage_design_id and request.user.is_authenticated and request.user.is_staff %}
                      <a class="dropdown-item" href="/admin/core/webpagedesign/{{ webpage_design_id }}/change/"><i class="fal mr-2 fa-object-group fa-fw"></i> Page design</a>
                    {% elif webpage and request.user.is_authenticated and request.user.is_staff %}
                      <a class="dropdown-item" href="/admin/core/webpagedesign/add/?webpage={{ webpage.id }}"><i class="fal mr-2 fa-object-group fa-fw"></i> Page design</a>
                    {% endif %}

                    {% if edit_link and request.user.is_authenticated and request.user.is_staff %}
                      <a class="dropdown-item" href="{{ edit_link }}"><i class="fal mr-2 fa-edit fa-fw"></i> Edit</a>
                    {% endif %}

                    {% if webpage and not edit_link and request.user.is_authenticated and request.user.is_staff %}
                      <a class="dropdown-item" href="{% if DEBUG and PROJECT.id != 1 %}/{{ PROJECT.slug }}{% endif %}/controlpanel/content/{{ webpage.id }}/?next={{ request.get_full_path }}"><i class="fal mr-2 fa-edit fa-fw"></i> Edit</a>
                    {% endif %}

                    {% if article and request.user.is_authenticated and request.user.is_staff %}
                      <a class="dropdown-item" href="/admin/core/article/{{ article.id }}/change/"><i class="fal mr-2 fa-edit fa-fw"></i> Edit</a>
                    {% endif %}

                    {% if add_link and request.user.is_authenticated and request.user.is_staff %}
                      <a class="dropdown-item" href="{{ add_link }}"><i class="fal mr-2 fa-plus fa-fw"></i> Add</a>
                    {% endif %}

                    {% if request.user.is_authenticated and request.user.is_staff and show_relationship %}
                      <a class="dropdown-item" href="/controlpanel/relationship/list/{{ show_relationship }}/"><i class="fal mr-2 fa-project-diagram fa-fw"></i> Relationships</a>
                      <a class="dropdown-item" href="/admin/core/recordrelationship/add/?record_child={{ show_relationship }}"><i class="fal mr-2 fa-project-diagram fa-fw"></i> Add relationship</a>
                      <a class="dropdown-item" href="/admin/core/recordrelationship/add/?record_child={{ show_relationship }}&amp;relationship=4"><i class="fal mr-2 fa-project-diagram fa-fw"></i> Add author</a>
                    {% endif %}

                    {% if request.user.is_authenticated and request.user.is_staff %}
                      <a class="dropdown-item" href="/admin/"><i class="fal mr-2 fa-user-lock fa-fw"></i> Admin</a>
                    {% endif %}

                    {% if request.user.is_authenticated and request.user.is_ascus_organizer %}
                      <a class="dropdown-item" href="{% url 'ascus:admin' %}"><i class="fal mr-2 fa-user-lock fa-fw"></i> AScUS Admin</a>
                    {% endif %}

                  </div>
                </div>
              {% endif %}
            </div>
          {% endif %}
        </div>
      </div>
    </div>
  {% endif %}

  <nav class="navbar navbar-expand-lg navbar-{{ DESIGN.header_color }} main-nav-project-{{ PROJECT.id }}">
    <div class="container">
      <a class="navbar-brand" href="{% if DEBUG %}/{% if PROJECT.id != 1 %}{{ PROJECT.slug }}{% endif %}{% else %}{{ PROJECT.get_website }}{% endif %}">
        <img alt="{{ PROJECT }}" src="{{ LOGO }}?u=true">
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#project-navbar" aria-controls="project-navbar" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="project-navbar">
        <ul class="navbar-nav ml-auto">

          {% if PROJECT.id == 4 %}
            {% include "_menu-data.html" %}
          {% elif PROJECT.id == 14 %}
            {% include "_menu-staf.html" %}
          {% elif PROJECT.id == 3 %}
            {% include "_menu-multimedia.html" %}
          {% elif PROJECT.id == 2 %}
            {% include "_menu-library.html" %}
          {% elif PROJECT.id == 8 %}
            {% include "_menu-ascus.html" %}
          {% elif PROJECT.id == 16 %}
            {% include "_menu-platformu.html" %}
          {% elif PROJECT.id == 18 %}
            {% include "_menu-community.html" %}
          {% elif PROJECT.id == 18683 %}
            {% include "_menu-stocks.html" %}
          {% elif PROJECT.id == 17 %}
            {% include "_menu-islands.html" %}
          {% elif PROJECT.id == 1 %}
            {% include "_menu-moc.html" %}
          {% elif PROJECT.id == 32542 %}
            {% include "_menu-untraceable.html" %}
          {% elif PROJECT.slug == "education" %}
            {% include "_menu-education.html" %}
          {% elif PROJECT.slug == "cityloops" %}
            {% include "_menu-cityloops.html" %}
          {% elif PROJECT.slug == "peeide" %}
            {% include "_menu-peeide.html" %}
          {% elif PROJECT.slug == "ascus2021" %}
            {% include "_menu-ascus2021.html" %}
          {% endif %}

        </ul>
      </div>
    </div>
  </nav>

  {% if HEADER_STYLE == "full" or header_overwrite == "full" %}
    <div class="jumbotron jumbotron-fluid text-light">
      <div class="container">
        {% if header_title %}
          <h1 class="display-4">{{ header_title }}</h1>
        {% endif %}
        {% if header_subtitle_link %}
            <i class="fa fa-arrow-left"></i>
            {{ header_subtitle_link|safe }}
          </nav>
        {% elif header_subtitle %}
          <h2>{{ header_subtitle|safe }}</h2>
        {% endif %}
      </div>
    </div>
  {% elif HEADER_STYLE == "image" %}
    <div class="img-header" style="background-image: url('{{ header_image }}')"></div>
  {% endif %}

</div>

{% if space and not hide_space_menu and IS_DATA_PORTAL and not PROJECT.slug == "stocks" %}
  {% include "_submenu-data.html" %}
{% elif PROJECT.id == 8 and request.user.is_authenticated %}
  {% include "_submenu-ascus.html" %}
{% elif PROJECT.id == 16 and request.user.is_authenticated %}
  {% include "_submenu-platformu.html" %}
{% endif %}

{% if IS_DATA_PORTAL and space %}
  <script>
    // add class when navbar becomes sticky - https://stackoverflow.com/a/57991537/1685643
    // get the sticky element
    const imgCityWrapper = document.getElementById("img-city-wrapper")

    if (imgCityWrapper) {
      const observer = new IntersectionObserver(
        ([e]) => e.target.classList.toggle("is-sticky", e.intersectionRatio < 1),
        {threshold: [1]}
      );

      observer.observe(imgCityWrapper)
    }
  </script>
{% endif %}
