{% extends '_base.html' %}
{% load static %}
{% block page_name %}about{% endblock %}
{% block title %}About{% endblock %}
{% block subtitle %}Everything you need to know about Metabolism of Cities
{% endblock %}
{% block content %}
<div class="row mb-5">
  <div class="col-md-3">
   <a href="#"><img src="{% static 'img/agriculture.jpg' %}">Agriculture</a>
 </div>
 <div class="col-md-3">
   <a href="#"><img src="{% static 'img/construction.jpg' %}">Construction</a>
 </div>
 <div class="col-md-3">
   <a href="#"><img src="{% static 'img/energy.jpg' %}">Energy</a>
 </div>
 <div class="col-md-3">
   <a href="#"><img src="{% static 'img/fishing.jpg' %}">Fishing</a>
 </div>
</div>
<div class="row mb-5">
  <div class="col-md-3">
   <a href="#"><img src="{% static 'img/forestry.jpg' %}">Forestry</a>
 </div>
 <div class="col-md-3">
   <a href="#"><img src="{% static 'img/agriculture.jpg' %}">Manufacturing</a>
 </div>
 <div class="col-md-3">
   <a href="#"><img src="{% static 'img/mining.jpg' %}">Mining</a>
 </div>
 <div class="col-md-3">
   <a href="#"><img src="{% static 'img/retail.jpg' %}">Retail & Wholesale</a>
 </div>
</div>
<div class="row mb-5">
  <div class="col-md-3">
   <a href="#"><img src="{% static 'img/transport.jpg' %}">Transport</a>
 </div>
 <div class="col-md-3">
   <a href="#"><img src="{% static 'img/waste.jpg' %}">Waste</a>
 </div>
 <div class="col-md-3">
   <a href="#"><img src="{% static 'img/water.jpg' %}">Water</a>
 </div>
</div>
{% endblock %}