{% extends '_base.html' %}
{% load static %}
{% load sass_tags %}
{% block page_name %}about{% endblock %}
{% block title %}About{% endblock %}
{% block css %}
<link href="{% sass_src 'css/responsive.scss' %}" rel="stylesheet" type="text/css" />
{% endblock %}
{% block subtitle %}Everything you need to know about Metabolism of Cities
{% endblock %}
{% block content %}
<div class="container">
  <div class="row anchor">
    <div class="col-lg-3">
      <div class="card">
        <a href="#" class="btn-light agriculture">Agriculture</a>
      </div>
    </div>
    <div class="col-lg-3">
      <div class="card">
        <a href="#" class="btn-light construction">Construction</a>
      </div>
    </div>
    <div class="col-lg-3">
      <div class="card">
        <a href="#" class="btn-light energy">Energy</a>
      </div>
    </div>
    <div class="col-lg-3">
      <div class="card">
        <a href="#" class="btn-light fishing">Fishing</a>
      </div>
    </div>
  </div>
  <div class="row anchor">
    <div class="col-lg-3">
      <div class="card">
        <a href="#" class="btn-light forestry">Forestry</a>
      </div>
    </div>
    <div class="col-lg-3">
      <div class="card">
        <a href="#" class="btn-light manufacturing">Manufacturing</a>
      </div>
    </div>
    <div class="col-lg-3">
      <div class="card">
        <a href="#" class="btn-light mining">Mining</a>
      </div>
    </div>
    <div class="col-lg-3">
      <div class="card">
        <a href="#" class="btn-light retail">Retail $ Wholesale</a>
      </div>
    </div>
  </div>
  <div class="row anchor">
    <div class="col-lg-3">
      <div class="card">
        <a href="#" class="btn-light transport">Transport</a>
      </div>
    </div>
    <div class="col-lg-3">
      <div class="card">
        <a href="#" class="btn-light waste">Waste</a>
      </div>
    </div>
    <div class="col-lg-3">
      <div class="card">
        <a href="#" class="btn-light water">Water</a>
      </div>
    </div>
  </div>
</div>
{% endblock %}