{% extends "_base.html" %}

{% block title %}{{ info.title }}{% endblock %}

{% block content %}

  {% if not header.type == "full" %}
    <h1>{{ info }}</h1>
    <div class="breadcrumbs">
      {{ header.breadcrumbs|safe }}
    </div>
  {% endif %}

  <div style="margin:20px 0;background:#f4f4f4;padding:10px">
    {% if info.description %}
      {{ info.description }}
    {% else %}
      {% lorem 7 p %}
    {% endif %}
  </div>

  {% if menu %}
    <h3><a href="{{ info.parent.get_absolute_url }}">{{ info.parent }}</a></h3>
    <ul>
    {% for each in menu %}
      <li><a{% if each == info %} style="font-weight:bold;color:green;"{% endif %} href="{{ each.get_absolute_url }}">{{ each }}</a></li>
    {% endfor %}
    </ul>
  {% endif %}

{% endblock %}
