{% extends "_base.html" %}

{% block page_name %}article{% endblock %}
{% block title %}{{ info.title }}{% endblock %}

{% block content %}

  {% if not header.type == "full" %}
    <h1>{{ info }}</h1>
    {% if False %}
      <div class="breadcrumbs">
        {{ header.breadcrumbs|safe }}
      </div>
    {% endif %}
  {% endif %}

  <div class="content-wrap">
    {% if menu %}
      <aside class="order-1">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">{{ info.parent }}</h5>
          </div>
          <div class="list-group list-group-flush">
            {% for each in menu %}
              <a href="{{ each.get_absolute_url }}" class="list-group-item{% if each == info %} active{% endif %}">
                <div>{{ each }}</div>
              </a>
            {% endfor %}
          </div>
        </div>
      </aside>
    {% endif %}

    <article class="order-0">
      {% if info.content %}
        {{ info.content|safe }}
      {% else %}
        {% lorem 7 p %}
      {% endif %}
    </article>
  </div>

{% endblock %}
