{% extends "_base.html" %}
{% load static %}
{% load sass_tags %}
{% block page_name %}event{% endblock %}
{% block title %}Circular City Week{% endblock %}
{% block content %}

<div class="row mb-4">
  <article class="col-lg-8 pr-lg-5">
    <img class="img-fluid mb-4" src="https://i.imgur.com/KcSDpdD.jpg">
    
    <h4>The first and biggest circular economy festival in the US</h4>
    <p>
      Circular City Week is an open collaborative festival for circular economy related events. Circular City Week took place in New York for the first time in March 2019, and will be back in New York 16-22 March 2020. Activities during Circular City Week will emphasize how circular practices such as reuse, recycling, and upcycling are transforming urban industries and the city as a whole.
    ​</p>

    <h4>Inspiring and free events</h4>
    <p>
      During this one week events and activities, hosted by an array of local and global stakeholders, take place over all New York City. In 2019, 29 exciting events was part of Circular City Week. More than 80 speakers shared their knowledge with participants.
    </p>

    <h4>Collaborative and open</h4>
    <p>
      In 2019, 2185 people participated in Circular City Week New York. Circular City Week was made possible by the active involvement of 64 organization, all decided to drive forward change and bring attention to best practices and innovative initiatives.
    </p>

    <h4>Returns in March 2020</h4>
    <p>
      Circular City Week New York will return in 16-22 March 2020. In addition to creating a festival of 30+ events, 2020 will also include activities focused on facilitating corporate matchmaking.
    </p>

    <p>
      Circular City Week is dedicated to creating awareness about the global frontrunners, who have taken it upon themselves to create change. In 2020 we will therefore celebrate those companies, cities, and organizations who have already made a commitment to increase circularity.
    </p>
  </article>
  <div class="col-lg-4">
    <h5>Event information</h5>
    <div class="card basic-info">
      <ul class="list-group list-group-flush">
        <li class="list-group-item">
          <i class="far fa-fw fa-map-marker-alt mr-1" aria-hidden="true"></i> New York, USA
        </li>
        <li class="list-group-item">
          <i class="far fa-fw fa-calendar mr-1" aria-hidden="true"></i> 16 March 2020 - 22 March 2020
        </li>
        <li class="list-group-item">
          <i class="far fa-fw fa-link mr-1" aria-hidden="true"></i> <a href="#">Official website</a>
        </li>
        <li class="list-group-item">
          <i class="far fa-fw fa-tag mb-1 mr-1" aria-hidden="true"></i> Type of event
          <br>
          <a class="btn btn-sm btn-primary-outline mt-1" href="">Other</a>
        </li>
        <li class="list-group-item">
          <i class="far fa-fw fa-share-alt mb-1 mr-1" aria-hidden="true"></i> Share
          <br>
          <div class="btn-group share mt-1" role="group">
            <a class="btn btn-sm btn-primary-outline"><i class="fab fa-fw fa-twitter"></i></a>
            <a class="btn btn-sm btn-primary-outline"><i class="fab fa-fw fa-linkedin-in"></i></a>
            <a class="btn btn-sm btn-primary-outline"><i class="fab fa-fw fa-facebook-f"></i></a>
            <a class="btn btn-sm btn-primary-outline"><i class="fas fa-fw fa-envelope"></i></a>
          </div>
        </li>
      </ul>
    </div>

    <h5>Upcoming events</h5>
    <div class="card">
      <div class="list-group list-group-flush">
        <a href="#" class="list-group-item">
          <div href="#">Circular City Week</div>
          <div class="text-muted mb-0">16 March 2020</div>
        </a>
        <a href="#" class="list-group-item">
          <div href="#">Dresden Nexus Conference 2020 – Circular Economy in a Sustainable Society</div>
          <div class="text-muted mb-0">3 June 2020</div>
        </a>
        <a href="#" class="list-group-item">
          <div href="#">Circular Economy Hotspot Catalonia 2020</div>
          <div class="text-muted mb-0">16 November 2020</div>
        </a>
        <a href="#" class="list-group-item">
          <div href="#">Smart City Expo World Congress</div>
          <div class="text-muted mb-0">17 November 2020</div>
        </a>
        <a href="#" class="list-group-item font-weight-bold">All events</a>
      </div>
    </div>

  </div>
</div>
{% endblock %}
{% block footer %}
{% endblock %}