{% extends "_base.html" %}
{% load static %}
{% load sass_tags %}
{% block title %}Events List{% endblock %}
{% block page_name %}event list{% endblock %}
{% block css %}
{% endblock %}
{% block content %}
<div class="row mb-4">
  <div class="col-md-6 mb-2">
    <input type="text" class="form-control" placeholder="Search by project title...">
  </div>
  <div class="col-md-6 mb-2">
    <select class="custom-select">
      <option selected>Filter by category</option>
      <option value="1">Seminars</option>
      <option value="2">Conferences</option>
      <option value="3">Something else</option>
    </select>
  </div>
</div>
<section>
  <h2>Upcoming events</h2>
  <div class="row">
    <div class="col-md-6 col-lg-4 mb-4">
      <a class="card btn-card" href="/community/events/1">
        <img src="https://imgur.com/EjSgFEw.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Circular City Week</h5>
          <p class="card-text">The first and biggest circular economy festival in the US</p>
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">
            <i class="far fa-fw fa-map-marker-alt mr-1" aria-hidden="true"></i> New York, USA
          </li>
          <li class="list-group-item">
            <i class="far fa-fw fa-calendar mr-1" aria-hidden="true"></i> 16 March 2020 - 22 March 2020
          </li>
        </ul>
      </a>
    </div>
    <div class="col-md-6 col-lg-4 mb-4">
      <a class="card btn-card" href="/community/events/1">
        <img src="https://imgur.com/gNylltZ.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">World Cities Day</h5>
          <p class="card-text"> The United Nations General Assembly has designated the 31st of October as World Cities Day, by its resolution 68/239. The Day is expected to greatly promote the international community’s interest in global urbanization, push forward cooperation among countries in meeting opportunities and addressing challenges of urbanization, and contributing to sustainable ...</p>
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">
            <i class="far fa-fw fa-map-marker-alt mr-1" aria-hidden="true"></i> Johannesburg, S.A
          </li>
          <li class="list-group-item">
            <i class="far fa-fw fa-calendar mr-1" aria-hidden="true"></i> 16 March 2020 - 22 March 2020
          </li>
        </ul>
      </a>
    </div>
    <div class="col-md-6 col-lg-4 mb-4">
      <a class="card btn-card" href="/community/events/1">
        <img src="https://imgur.com/XN8gxJI.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Urban Metabolism In Policy And Practice</h5>
          <p class="card-text"> In collaboration with local partners and funded by the Urban Studies Foundation, Metabolism of Cities organises a three-part seminar series in 2019 to further the debate around the uptake of urban metabolism in policy and practice. The seminars will each be full-day events (1 day) and will take place in ...</p>
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">
            <i class="far fa-fw fa-map-marker-alt mr-1" aria-hidden="true"></i> Cape Town, S.A
          </li>
          <li class="list-group-item">
            <i class="far fa-fw fa-calendar mr-1" aria-hidden="true"></i> 16 March 2020 - 22 March 2020
          </li>
        </ul>
      </a>
    </div>
  </div>
</section>

<section>
  <h2>Past events</h2>
  <div class="row">
    <div class="col-md-6 col-lg-4 mb-4">
      <a class="card btn-card" href="#">
        <img src="https://imgur.com/DZlQjTP.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title mb-0">Smart Waste Portugal 2019 Conference - A Circular Future</h5>
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">
            <i class="far fa-fw fa-map-marker-alt mr-1" aria-hidden="true"></i> Cape Town, S.A
          </li>
          <li class="list-group-item">
            <i class="far fa-fw fa-calendar mr-1" aria-hidden="true"></i> 16 March 2019 - 22 March 2019
          </li>
        </ul>
      </a>
    </div>
    <div class="col-md-6 col-lg-4 mb-4">
      <a class="card btn-card" href="#">
        <img src="https://imgur.com/Wtp3vGa.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title mb-0">Research to Action: The Science of Drawdown</h5>
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">
            <i class="far fa-fw fa-map-marker-alt mr-1" aria-hidden="true"></i> The Hague, the Netherlands
          </li>
          <li class="list-group-item">
            <i class="far fa-fw fa-calendar mr-1" aria-hidden="true"></i> 16 March 2019 - 22 March 2019
          </li>
        </ul>
      </a>
    </div>
    <div class="col-md-6 col-lg-4 mb-4">
      <a class="card btn-card" href="#">
        <img src="https://imgur.com/FUmqTuy.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title mb-0">International Conference on Sustainable Development</h5>
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">
            <i class="far fa-fw fa-map-marker-alt mr-1" aria-hidden="true"></i> Valencia, Spain
          </li>
          <li class="list-group-item">
            <i class="far fa-fw fa-calendar mr-1" aria-hidden="true"></i> 16 March 2019 - 22 March 2019
          </li>
        </ul>
      </a>
    </div>
  </div>
</section>
{% endblock %}