{% extends "_base.html" %}

{% block content %}

  <div class="row">

    <div class="col-lg-6">
      <h3>Work sprints</h3>

      <div class="list-group">
        {% for each in sprints %}
          <a href="#" class="list-group-item list-group-item-action">
            <div class="d-flex w-100 justify-content-between">
              <h5 class="mb-1">{{ each }}</h5>
              <small>{{ each.get_status }}</small>
            </div>
            <p class="mb-1">{{ each.start_date|date:"M d, Y" }} - {{ each.end_date|date:"M d, Y" }}</p>
          </a>
        {% endfor %}
      </div>

    </div>

    <div class="col-lg-6">
      <h3>Training and outreach</h3>
    </div>

  </div>

{% endblock %}
