{% extends "_base.html" %}
{% load static %}
{% load sass_tags %}

{% block page_name %}forum topic{% endblock %}
{% block title %}Interesting topic{% endblock %}

{% block content %}

<h1 class="mb-0">{{ info.title }}</h1>
<a href="#" class="badge badge-primary">Eum velit ipsa</a>
<a href="#" class="badge badge-primary">Officiis dolorum</a>
<a href="#" class="badge badge-primary">Nesciunt</a>
<a href="#" class="badge badge-primary">Tenetur</a>

<div class="row mt-4">
  <div class="col-lg-7">
    <div class="single-message">
      <div class="row metadata">
        <div class="col-8">
          <span class="avatar plus">
            {{ info.user.first_name|slice:"1" }}
          </span>
          {{ info.user.first_name }}
        </div>
        <div class="col-4 text-muted text-right">
          {{ info.date_created|timesince }} ago
        </div>
      </div>
      <hr>
      <div class="text">
        {{ info.content|safe }}
        <img src="https://i.imgur.com/cku5kjM.jpg">
      </div>
    </div>
    {% for details in list %}
      <div class="single-message">
        <div class="row metadata">
          <div class="col-8">
            <span class="avatar plus">
              {{ details.user.first_name|slice:"1" }}
            </span> 
            {{ details.user.first_name }}
          </div>
          <div class="col-4 text-muted text-right">
            {{ details.date_created|timesince }} ago
          </div>
        </div>
        <hr>
        <div class="text">
          {{ details.content|safe }}
        </div>
        <div class="attachment mt-3">
          {% for subdetails in details.getForumMessageFiles %}
            <a class="btn btn-sm btn-primary-outline mb-1" href="{{ MEDIA_URL }}{{ subdetails.file.url }}" target="_blank"><i class="far fa-paperclip"></i> {{ subdetails.getFileName }}
            </a>
          {% endfor %}
        </div>
      </div>
    {% endfor %}
  </div>
  <div class="col-lg-5">
    <form class="sticky-top reply" method="post" enctype="multipart/form-data">
      {% csrf_token %}
      <h4>Reply</h4>
      <div class="form-group">
        <textarea class="form-control" name="text" rows="5"></textarea>
      </div>
      <div class="form-group">
        <label for="files">File(s)</label>
        <input type="file" name="file" class="form-control-file" id="files" multiple="multiple">
      </div>
      <button type="submit" class="btn btn-primary">Submit</button>
    </form>
  </div>
</div>
{% endblock %}
