{% extends "_base.html" %}

{% block page_name %}forum list{% endblock %}

{% block css %}
<style type="text/css">
.faded{opacity:0.5}
</style>
{% endblock %}

{% block content %}

  {% if subsite.id == 53 %}
    {% include "metabolism_manager/_user.menu.html" %}
  {% endif %}

  {% if section == "volunteer_hub" %}
    {% include "hub/_nav.html" %}
  {% endif %}

  <div id="topic-list">
    <div class="row mb-4">
      <div class="col-md-8 mb-2">
        <input class="search form-control" type="text" name="search" placeholder="Search by title">
      </div>
      {% if not forum_is_only_for_project  %}
        <div class="col-md-4 mb-2">
          {% if project %}
            Showing: general forum and project forum.<br>
            <a href="https://metabolismofcities.org/forum/">View the entire forum here.</a>
          {% else %}
            <select class="custom-select tag-filter">
              <option value="all">Filter by project</option>
              <option value="Project-1-id">General</option>
              {% for each in projects %}
                {% if each.id != 1 %}
                  <option value="Project-{{ each.id }}-id">{{ each }}</option>
                {% endif %}
              {% endfor %}
            </select>
          {% endif %}
        </div>
      {% endif %}
      <div class="col-md-4 mb-2">
        <a class="btn btn-primary d-block" href="create/"><i class="fas fa-fw fa-comment-alt-plus"></i> Post new topic</a>
      </div>
    </div>

    <div class="card table-responsive">
      <table class="table">
        <thead>
          <tr class="d-none d-sm-table-row">
            <th class="topic">Topic</th>
            <th class="d-none d-lg-table-cell"></th>
            <th class="d-none d-sm-table-cell narrow-cell">Messages</th>
            <th class="d-none d-md-table-cell medium-cell">Activity</th>
          </tr>
        </thead>
        <tbody class="list">
          {% for each in list %}
            <tr>
              <td>
                {% if each.is_starred %}
                  <i class="fa fa-star text-warning"></i>
                {% endif %}
                <a href="{{ each.id }}/" class="topic-title">{{ each }}</a>
                <br>
                <!-- for tag in each.tags -->
                <span class="badge badge-light">{% if each.part_of_project.id == 1 %}General{% else %}{{ each.part_of_project }}{% endif %}</span>
                <!-- end for -->
                <span class="topic-tags" hidden>
                  Project-{{ each.part_of_project.id }}-id
                </span>
              </td>
              <td class="d-none d-lg-table-cell">
                  {% for poster in each.posters|slice:"4" %}
                    {{ poster.avatar }}
                  {% endfor %}
                  {% if each.posters.count > 5 %}
                    {% with count_reply=each.posters.count|add:"-4" %}
                        <span class="avatar plus">+{{ count_reply }}</span>
                    {% endwith %}
                  {% endif %}
              </td>
              <td class="d-none d-sm-table-cell narrow-cell">
                {{ each.messages.count }}
              </td>
              <td class="d-none d-md-table-cell medium-cell">
                {{ each.last_update.date_created|timesince }} ago 
                <br><span class="faded">by {{ each.last_update.posted_by }}</span>
              </td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>

    <div class="card no-results">
      <div class="card-body text-center">
        <h2 class="my-4"><i class="fad fa-search"></i> No topics found</h2>
        <button class="btn btn-lg btn-primary clear-filter my-4">Show all topics</button>
      </div>
    </div>
  </div>

  {% if not request.user.is_authenticated %}
    {% include "_notauthenticated.html" %}
  {% endif %}

{% endblock %}

{% block footer %}
  <!-- add listjs to search and filter - https://listjs.com/api/ -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/list.js/1.5.0/list.min.js"></script>

  <script>
    var listOptions = {
      valueNames: ["topic-title", "topic-tags"]
    };

    var topicList = new List("topic-list", listOptions);

    function filterList(tag) {
      topicList.filter(function(item) {
        if (tag == "all") {
          return true;
        } else {
          console.log(item.values())
          if (item.values()["topic-tags"].includes(tag)) {
            return true;
          } else {
            return false;
          }
        }
      });

      checkCount()
    }

    $(".tag-filter").change(function() {
      var tag = $(this).val()

      filterList(tag)
    })

    // function to check the number of matches
    function checkCount() {
      var count = $("#topic-list tbody.list tr:visible").length;
      if (count == 0) {
        $(".no-results").addClass("visible");
      } else {
        $(".no-results").removeClass("visible");
      }
    }

    // update contact count when searching by name
    topicList.on("searchComplete", function(){
      checkCount();
    });

    // clear search and filters
    function resetSearchFilters() {
      topicList.search();
      filterList("all")

      $("#topic-list input.search").val("");
      $(".tag-filter").val("all")
    }

    $(".clear-filter").click(function() {
      resetSearchFilters();
      checkCount();
    })

    // reset all filters on page load
    resetSearchFilters();

    // make no results box invisible on load
    $(".no-results").removeClass("visible");
  </script>
{% endblock %}
