{% extends "_base.html" %}
{% load static %}
{% load sass_tags %}

{% block page_name %}forum{% endblock %}

{% block content %}

  {% if subsite.id == 53 %}
    {% include "metabolism_manager/_user.menu.html" %}
  {% endif %}

  <div class="row mb-4">
    <div class="col-md-4 mb-2">
      <select class="custom-select">
        <option selected>Filter by title</option>
        {% for details in list %}
          <option>{{ details.title }}</option>
        {% endfor %}
      </select>
    </div>
    <div class="col-md-4 mb-2">
      <select class="custom-select">
        <option selected>Filter by tag</option>
        <option value="1">Seminars</option>
        <option value="2">Conferences</option>
        <option value="3">Something else</option>
      </select>
    </div>
    <div class="col-md-4 mb-2">
      <a class="btn btn-primary" href="/community/forum/create/">Post new topic</a>
    </div>
  </div>
  
  <table class="table">
    <thead>
      <tr class="d-none d-sm-table-row">
        <th class="topic">Topic</th>
        <th class="d-none d-lg-table-cell"></th>
        <th class="d-none d-sm-table-cell narrow-cell text-center">Replies</th>
        <th class="d-none d-md-table-cell narrow-cell text-center">Activity</th>
      </tr>
    </thead>
    <tbody>
      {% for details in list %}
        <tr>
          <td>
            <a href="{% url "forum_topic" details.id %}">
              {{ details.title }}
            </a>
            <br>
            <a href="#" class="badge badge-primary">Cape Town</a>
            <a href="#" class="badge badge-primary">Water</a>
          </td>
          <td class="d-none d-lg-table-cell">
            {% if details.getReply.count > 5 %}
              {% for subdetails in details.getReply|slice:"5" %}
                <span class="avatar plus">
                  {{ subdetails.user.first_name|slice:"1" }}
                </span>
              {% endfor %}
              {% with count_reply=details.getReply.count|add:"-5" %}
                <span class="avatar plus">+{{ count_reply }}</span>
              {% endwith %}
            {% else %}
              {% for subdetails in details.getReply %}
                <span class="avatar plus">
                  {{ subdetails.user.first_name|slice:"1" }}
                </span>
              {% endfor %}
            {% endif %}
          </td>
          <td class="d-none d-sm-table-cell narrow-cell text-center">
            <a href="{% url "forum_topic" details.id %}">
              {{ details.getReply.count }}
            </a>
          </td>
          <td class="d-none d-md-table-cell narrow-cell text-center">
            {% if details.getLastActivity.date_created %}
              {{ details.getLastActivity.date_created|timesince }} ago
            {% else %}
               -
            {% endif %}
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}
