{% extends "_base.html" %}
{% load static %}
{% load sass_tags %}

{% block page_name %}{% endblock %}

{% block title %}Homepage{% endblock %}

{% block css %}
{% endblock %}

{% block subtitle %}Hello{% endblock %}

{% block content %}
  <h1>Homepage</h1>
  <p>Welcome!</p>
  <h2>Quick links</h2>
  <ul>
    <li><a href="/baseline">Load pages and other baseline information</a> (be sure to migrate first!)</li>
    <li><a href="/register">Create new user</a></li>
    <li><a href="/admin">Admin</a></li>
    <li><a href="/templates">Templates</a></li>
  </ul>
{% endblock %}


{% block footer %}
{% endblock %}
