{% extends "_base.html" %}
{% load static %}

{% block page_name %}homepage{% endblock %}

{% block css %}
<link rel="stylesheet"  type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css"/>
<link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick-theme.css"/>

<style>
  .top-layer {
    background-image: url("https://i.imgur.com/z6m1Dgc.jpg");
    min-height: 55vh;
    position: relative;
  }

  .jumbotron {
    text-align: center;
    position: relative;
  }

  img.main-logo {
    width: 100%;
    max-width: 500px;
  }

  .top-layer .dark-cover {
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,.5);
    position: absolute;
    left: 0;
    top: 0;
    pointer-events: none;
  }

  .navbar {
    background-color: rgba(0,0,0,.5);
    z-index: 2;
  }

  .container.main-content {
    display: none;
  }

  .slick-container {
    padding: 40px;
    color: #333;
    background: gray;
  }

  .single-project img {
    height: 100%;
  }

  .single-project img {
    object-position: top;
  }

  .slick-track {
    display: flex;
  }

  .slick-slide {
    transition: all .6s linear;
    height: inherit;
  }

  .slick-slide.slick-center {
    transform: none;
  }

  .projects {
    padding-top: 4rem;
  }

  .slick-prev::before,
  .slick-next::before {
    color: #f8f9fa;
    font-size: 2rem;
  }

  .slick-dots li button::before {
    color: #f8f9fa;
    opacity: .5;
    font-size: .75rem;
  }

  .slick-dots li.slick-active button::before {
    color: #f8f9fa;
    opacity: 1;
  }

  .slick-prev {
    left: -2rem;
  }

  .slick-next {
    right: -20px;
  }

  .projects {
    background-image: url(https://resourcewatch.org/static/images/components/layout/header-bg-texture.png);
    background-size: cover;
  }

  .statement {
    font-size: 2rem;
  }

  .forum img {
    width: 50px;
    height: 50px;
    object-fit: cover;
  }

  .stats {
    font-size: 1.5rem;
  }

  section.social {
    padding-bottom: 2rem;
  }

  .join,
  .news,
  .stats {
    background-color: #dddedf;
  }
</style>
{% endblock %}

{% block content %}

</div> <!-- close main content container so we can have full-width content -->

<section class="projects bg-primary text-light">
  <div class="container py-4">
    <h2 class="text-center font-weight-bold my-4">Featured projects</h2>
    <div class="slick row">
      {% for each in projects %}
      <div class="px-3 py-4">
        <a class="card btn-card single-project mb-4" href="{{ each.get_website }}">
          <img src="{{ each.screenshot.medium.url }}" class="card-img-top" alt="{{ each }}">
          <div class="card-body pb-0">
            <h5 class="card-title">{{ each }}</h5>
            <p class="card-text">{{ each.summary_sentence }}</p>
          </div>
          <div class="card-footer">
            <div class="btn btn-primary">
              Learn more <i class="fa fa-arrow-right mr-0 ml-2"></i>
            </div>
          </div>
        </a>
      </div>
      {% endfor %}
    </div>
    <div class="text-center mt-4">
      <a class="btn btn-inverse btn-lg mt-4" href="/projects">
        <i class="fas fa-toolbox"></i> View all projects
      </a>
    </div>
  </div>
</section>

<section class="what">
  <div class="container">
    <h2 class="text-center font-weight-bold my-4">What we do</h2>
    <div class="row pt-4">
      <div class="col-md-6 col-lg-3 mb-4">
        <div class="card icon-card">
          <div class="icon bg-primary">
            <i class="fal fa-fw fa-file-chart-line text-light"></i>
          </div>
          <div class="card-header bg-primary text-light">
            <h5>Create knowledge</h5>
          </div>
          <div class="card-body">
            <p class="what-text">
              We aim to create new knowledge by participating and collaborating in research projects and developing new open source tools.
            </p>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-lg-3 mb-4">
        <div class="card icon-card">
          <div class="icon bg-primary">
            <i class="fal fa-fw fa-share-alt text-light"></i>
          </div>
          <div class="card-header bg-primary text-light">
            <h5>Share knowledge</h5>
          </div>
          <div class="card-body">
            <p class="what-text">
              We aim to gather and curate (all) knowledge around urban metabolism in one central platform in order to make it accessible to different target audiences.
            </p>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-lg-3 mb-4">
        <div class="card icon-card">
          <div class="icon bg-primary">
            <i class="fal fa-fw fa-wrench text-light"></i>
          </div>
          <div class="card-header bg-primary text-light">
            <h5>Apply knowledge</h5>
          </div>
          <div class="card-body">
            <p class="what-text">
              We help policy makers and practitioners to tackle their challenges with Urban Metabolism thinking.
            </p>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-lg-3 mb-4">
        <div class="card icon-card">
          <div class="icon bg-primary">
            <i class="fal fa-fw fa-user-friends text-light"></i>
          </div>
          <div class="card-header bg-primary text-light">
            <h5>Foster a community</h5>
          </div>
          <div class="card-body">
            <p class="what-text">
              We believe that tackling the urban sustainability challenge can not be done alone. We want to foster a community of stakeholders that collaborates on developing solutions.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="stats">
  <div class="container">
    <h2 class="text-center font-weight-bold my-4">Get involved</h2>
    <div class="row pt-4 my-4 text-center">
      <div class="col-md-4 mb-3">
        <a class="btn btn-lg btn-default d-block font-weight-bold py-3" href="forum/">
          <i class="fa fa-comments-alt"></i> Discuss
        </a>
      </div>
      <div class="col-md-4 mb-3">
        <a class="btn btn-lg btn-default d-block font-weight-bold py-3" href="events/">
          <i class="fa fa-handshake"></i> Get together
        </a>
      </div>
      <div class="col-md-4 mb-3">
        <a class="btn btn-lg btn-default d-block font-weight-bold py-3" href="tasks/">
          <i class="fa fa-hammer"></i> Get things done
        </a>
      </div>
    </div>

    <div class="row text-center">
      <div class="col-lg-4 mb-4">
        <a class="card btn-card card-body" href="#">
          <div><i class="fal fa-users mr-2"></i> 412 contributors</div>
          <small class="text-success"> +14 this month</small>
        </a>
      </div>
      <div class="col-lg-4 mb-4">
        <a class="card btn-card card-body" href="#">
          <div><i class="fal fa-table mr-2"></i> 1341 datasets</div>
          <small class="text-success"> +7 this week</small>
        </a>
      </div>
      <div class="col-lg-4 mb-4">
        <a class="card btn-card card-body" href="#">
          <div><i class="fal fa-city mr-2"></i> 31 cities</div>
          <small class="text-success"> +5 this year</small>
        </a>
      </div>
    </div>

  </div>
</section>

<section class="forum">
  <div class="container">
    <h2 class="text-center font-weight-bold my-4">Latest forum posts</h2>
    <div class="row mt-4">
      <div class="col-lg-4 mb-4">
        <div class="card">
          <div class="card-body">
            <div class="card-text font-weight-bold">
              <a href="#">{% lorem 8 w random %}</a>
            </div>
            <p class="card-text">
              {% lorem 20 w random %}
            </p>
          </div>
          <div class="card-footer">
            <img class="rounded-circle mr-2" src="https://new.metabolismofcities.org/media/records/photo.thumbnail.jpg">
            <a href="">{% lorem 2 w random %}</a> 2 hours ago
          </div>
        </div>
      </div>
      <div class="col-lg-4 mb-4">
        <div class="card">
          <div class="card-body">
            <div class="card-text font-weight-bold">
              <a href="#">{% lorem 8 w random %}</a>
            </div>
            <p class="card-text">
              {% lorem 20 w random %}
            </p>
          </div>
          <div class="card-footer">
            <img class="rounded-circle mr-2" src="https://new.metabolismofcities.org/media/records/photo.thumbnail.jpg">
            <a href="">{% lorem 2 w random %}</a> 2 hours ago
          </div>
        </div>
      </div>
      <div class="col-lg-4 mb-4">
        <div class="card">
          <div class="card-body">
            <div class="card-text font-weight-bold">
              <a href="#">{% lorem 8 w random %}</a>
            </div>
            <p class="card-text">
              {% lorem 20 w random %}
            </p>
          </div>
          <div class="card-footer">
            <img class="rounded-circle mr-2" src="https://new.metabolismofcities.org/media/records/photo.thumbnail.jpg">
            <a href="">{% lorem 2 w random %}</a> 2 hours ago
          </div>
        </div>
      </div>
    </div>

    <div class="text-center pt-4">
      <a class="btn btn-primary btn-lg" href="#">
        <i class="fas fa-comments-alt"></i> Go to the forum
      </a>
    </div>
  </div>
</section>

<section class="news">
  <div class="container">
    <h2 class="text-center font-weight-bold my-4">Latest news</h2>
    <div class="row my-4">
      <div class="col-lg-4 mb-sm-4 mb-lg-0">
        <a class="card btn-card" href="">
          <img src="https://i.imgur.com/qAvCcSH.jpg" class="card-img-top" alt="">
          <div class="card-body">
            <h5 class="card-title">
              Praesentium in est id dolorem cumque
            </h5>
            <p class="card-text">
              Esse cumque quo ratione ea eveniet sed. Non qui odit est nam tempora minus. Culpa ut illum eaque ut.
            </p>
          </div>
        </a>
      </div>
      <div class="col-lg-4 mb-sm-4 mb-lg-0">
        <a class="card btn-card" href="">
          <img src="https://i.imgur.com/812pGkD.jpg" class="card-img-top" alt="">
          <div class="card-body">
            <h5 class="card-title">
              Praesentium in est id dolorem cumque
            </h5>
            <p class="card-text">
              Esse cumque quo ratione ea eveniet sed. Non qui odit est nam tempora minus. Culpa ut illum eaque ut.
            </p>
          </div>
        </a>
      </div>
      <div class="col-lg-4 mb-sm-4 mb-lg-0">
        <a class="card btn-card" href="">
          <img src="https://i.imgur.com/PrFev5H.jpg" class="card-img-top" alt="">
          <div class="card-body">
            <h5 class="card-title">
              Praesentium in est id dolorem cumque
            </h5>
            <p class="card-text">
              Esse cumque quo ratione ea eveniet sed. Non qui odit est nam tempora minus. Culpa ut illum eaque ut.
            </p>
          </div>
        </a>
      </div>
    </div>

    <div class="text-center pt-4">
      <a class="btn btn-primary btn-lg" href="#">
        <i class="fas fa-newspaper"></i> All news
      </a>
    </div>
  </div>
</section>

<section class="social bg-primary border-bottom border-light text-light text-center">
  <div class="container">
    <h2 class="font-weight-bold my-4">Follow us</h2>
    <a class="text-light" href="https://twitter.com/CityMetabolism"><i class="fab fa-twitter fa-3x m-4"></i></a>
    <a class="text-light" href="https://www.youtube.com/metabolismofcities"><i class="fab fa-youtube fa-3x m-4"></i></a>
    <a class="text-light" href="https://www.instagram.com/MetabolismOfCities/"><i class="fab fa-instagram fa-3x m-4"></i></a>
    <a class="text-light" href="https://linkedin.com/company/metabolism-of-cities"><i class="fab fa-linkedin fa-3x m-4"></i></a>
    <div>
      <a class="btn btn-lg btn-inverse-outline my-4" href="#">
        <i class="fa fa-paper-plane"></i> Subscribe to our newsletter</a>
    </div>
  </div>
</section>

<div>  <!-- open div because we closed the main content container earlier -->

{% endblock %}

{% block footer %}
  <script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.5.9/slick.min.js"></script>
  <script>
    $(".slick").slick({
      centerMode: true,
      slidesToShow: 3,
      infinite: true,
      speed: 600,
      centerPadding: "0",
      cssEase: "linear",
      autoplay: true,
      dots: true,
      autoplaySpeed: 4000,
      responsive: [
        {
          breakpoint: 1024,
          settings: {
            slidesToShow: 1,
          }
        },
      ]
    });
  </script>
{% endblock %}