{% extends "_base.html" %}

{% block content %}
  <h1>Send mail</h1>
    <p>Your mail will be sent to:</p>

    {% if not list.count %}
      <p>No people selected</p>
    {% else %}
      <ol>
        {% if list %}
          {% for each in list %}
            <li {% if not each.email %} class="text-danger" {% endif %}>{{ each }} {% if each.email %}&laquo;{{ each.email }}&raquo;{% endif %}</li>
          {% endfor %}
        {% endif %}
      </ol>

      <h2>Write mail</h2>
      <form method="post">
        {% csrf_token %}
        <div class="form-group">
          <label>Subject</label>
          <input type="text" class="form-control" name="subject" required value="{{ request.POST.subject }}" />
        </div>
        <div class="form-group markdown-textarea">
          {% include "_markdown.html" %}
          <textarea class="form-control mb-4" id="text" rows="30" name="content" required>{{ request.POST.content }}</textarea>
        </div>

        <button type="submit" name="send_preview" class="btn btn-primary">Send preview to myself</button>
        <button type="submit" class="btn btn-success" name="send">Send</button>
      </form>
    {% endif %}

{% endblock %}
