{% extends "_base.html" %}

{% load static %}

{% block title %}News List{% endblock %}
{% block page_name %}event list{% endblock %}

{% block content %}
<div class="row mb-4">
  <div class="col-md-6 mb-2">
    <input type="text" class="form-control" placeholder="Search...">
  </div>
  <div class="col-md-6 mb-2">
    <select class="custom-select">
      <option selected>Filter by years</option>
      <option value="1">2020</option>
      <option value="2">2019</option>
      <option value="3">2018</option>
    </select>
  </div>
</div>

<section>
  <div class="row">
    <div class="col-lg-4 mb-sm-4 mb-lg-0">
      <a class="card btn-card" href="/community/news/1">
        <img src="https://imgur.com/EjSgFEw.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">
            A short title <small class="d-inline-block text-muted">26 March 2020</small>
          </h5>
          <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ullam pariatur maiores distinctio quam nobis optio minima voluptates magnam animi nostrum aliquid sit doloremque inventore quisquam, vel sapiente, necessitatibus minus nam.</p>
        </div>
      </a>
    </div>
    <div class="col-lg-4 mb-sm-4 mb-lg-0">
      <a class="card btn-card" href="/community/events/1">
        <img src="https://imgur.com/gNylltZ.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">
            A longer title that on some screen might span over multiple lines <small class="d-inline-block text-muted">26 March 2020</small>
          </h5>
          <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ullam pariatur maiores distinctio quam nobis optio minima voluptates magnam animi nostrum aliquid sit doloremque inventore quisquam, vel sapiente, necessitatibus minus nam.</p>
        </div>
      </a>
    </div>
    <div class="col-lg-4 mb-sm-4 mb-lg-0">
      <a class="card btn-card" href="/community/events/1">
        <img src="https://imgur.com/XN8gxJI.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">
            A medium length title: the article <small class="d-inline-block text-muted">26 March 2020</small>
          </h5>
          <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ullam pariatur maiores distinctio quam nobis optio minima voluptates magnam animi nostrum aliquid sit doloremque inventore quisquam, vel sapiente, necessitatibus minus nam.</p>
        </div>
      </a>
    </div>
  </div>
</section>

<section>
  <div class="row">
    <div class="col-lg-6 mb-3">
      <a href="#" class="card btn-card">
        <div class="card-body media">
          <img class="rounded" src="https://i.imgur.com/KcSDpdD.jpg" alt="...">
          <div class="media-body pl-3 align-self-center">
            <h5 class="mb-0">
              <span class="mr-1">Lorem ipsum dolor afsd aois dfpaos poa sdpo asdfpoasdfp0 sdf sdfoi sit amet, consectetur elit</span>
              <small class="d-inline-block text-muted">26 March 2020</small>
            </h5>
          </div>
        </div>
      </a>
    </div>
     <div class="col-lg-6 mb-3">
      <a href="#" class="card btn-card">
        <div class="card-body media">
          <img class="rounded" src="https://i.imgur.com/KcSDpdD.jpg" alt="...">
          <div class="media-body pl-3 align-self-center">
            <h5 class="mb-0">
              <span class="mr-1">Lorem ipsum dolor sit amet, consectetur elit</span>
              <small class="d-inline-block text-muted">26 March 2020</small>
            </h5>
          </div>
        </div>
      </a>
    </div>
     <div class="col-lg-6 mb-3">
      <a href="#" class="card btn-card">
        <div class="card-body media">
          <img class="rounded" src="https://i.imgur.com/KcSDpdD.jpg" alt="...">
          <div class="media-body pl-3 align-self-center">
            <h5 class="mb-0">
              <span class="mr-1">Lorem ipsum dolor sit amet, consectetur elit</span>
              <small class="d-inline-block text-muted">26 March 2020</small>
            </h5>
          </div>
        </div>
      </a>
    </div>
     <div class="col-lg-6 mb-3">
      <a href="#" class="card btn-card">
        <div class="card-body media">
          <img class="rounded" src="https://i.imgur.com/KcSDpdD.jpg" alt="...">
          <div class="media-body pl-3 align-self-center">
            <h5 class="mb-0">
              <span class="mr-1">Lorem ipsum dolor sit amet, consectetur elit</span>
              <small class="d-inline-block text-muted">26 March 2020</small>
            </h5>
          </div>
        </div>
      </a>
    </div>
  </div>
</section>

{% endblock %}

{% block footer %}
{% endblock %}
