{% extends "_base.html" %}
{% block page_name %}news{% endblock %}
{% block title %}{{ info }}{% endblock %}
{% block content %}

<div class="row mb-4">
  <article class="col-lg-8 pr-lg-5">

    {% if info.image %}
      <img class="img-fluid mb-4" src="{{ info.image.url }}">
    {% endif %}

    <h4>{{ info }}</h4>

    {% if info.introduction %}
    <div class="alert alert-warning">
      {{ info.introduction }}
    </div>
    {% endif %}

    {{ info.get_description }}

  </article>
  <div class="col-lg-4">
    <div class="card basic-info">
      <ul class="list-group list-group-flush">
        {% if info.authors %}
        <li class="list-group-item">
          <i class="far fa-fw fa-user mr-1" aria-hidden="true"></i> 
          {% if info.authors.count == 1 %}
            Author: {{ info.authors.0 }}
          {% else %}
            Authors:<br> 
            {% for each in info.authors %}
              {{ each }}<br>
            {% endfor %}
          {% endif %}
        </li>
        {% endif %}
        <li class="list-group-item">
          <i class="far fa-fw fa-calendar mr-1" aria-hidden="true"></i> {{ info.date }}
        </li>
        {% if False %}
        <li class="list-group-item">
          <i class="far fa-fw fa-share-alt mb-1 mr-1" aria-hidden="true"></i> Share
          <br>
          <div class="btn-group share mt-1" role="group">
            <a class="btn btn-sm btn-primary-outline"><i class="fab fa-fw fa-twitter"></i></a>
            <a class="btn btn-sm btn-primary-outline"><i class="fab fa-fw fa-linkedin-in"></i></a>
            <a class="btn btn-sm btn-primary-outline"><i class="fab fa-fw fa-facebook-f"></i></a>
            <a class="btn btn-sm btn-primary-outline"><i class="fas fa-fw fa-envelope"></i></a>
          </div>
        </li>
        {% endif %}
      </ul>
    </div>

    <h5>Latest news</h5>
    <div class="card">
      <div class="list-group list-group-flush">
        {% for each in latest %}
        <a href="/news/{{ each.slug }}/" class="list-group-item">
          <div>{{ each }}</div>
          <div class="text-muted mb-0">{{ each.date }}</div>
        </a>
        {% endfor %}
        <a href="/news/" class="list-group-item font-weight-bold">News archive</a>
      </div>
    </div>

  </div>
</div>
{% endblock %}
