{% extends "_base.html" %}
{% load static %}
{% load sass_tags %}
{% block page_name %}news{% endblock %}
{% block title %}(Un)Conference: Actionable Science for Urban Sustainability (AScUS-2020) - Abstract submission now open{% endblock %}
{% block content %}

<div class="row mb-4">
  <article class="col-lg-8 pr-lg-5">
    <img class="img-fluid mb-4" src="https://i.imgur.com/KcSDpdD.jpg">

    <h4>The call for abstracts for the Actionable Science for Urban Sustainability (un)conference is now open!</h4>

    <p>
      The 2020 Actionable Science for Urban Sustainability (AScUS) —pronounced ‘ask us'—(un)conference emphasizes the urgent need for the production of actionable and multidisciplinary knowledge to tackle urban sustainability challenges across the globe. It will serve as a convergence platform for researchers and practitioners of all backgrounds (from political science and psychology to architecture and engineering) focused on the development of actionable and scalable solutions and their transfer to implementers.
    </p>
    
    <p>
      AScUS-2020 is a <strong>participants-driven (un)conference</strong> with the mission to engage attendees to stimulate in-depth discussions. <strong>The in-person event will not feature any individual presentations</strong>; instead, all contributions from participants will have to be submitted online ahead of time. Discussion topics will also be selected by the participants ahead of the event.
    </p>

    <p>
      The (un)conference will start with a <strong>virtual component</strong> several weeks before the conference, when the participants will be expected to submit their contribution, to start generating discussions and sharing knowledge among participants. See below for details. The (un)conference will then culminate with <strong>a two and a half day event at IE University in Segovia</strong> that can be attended physically or remotely.
    </p>

    <p>
      <strong>Interested participants are invited to submit abstracts</strong> (300 words) for their contribution by February 23. Discussion topics (50-200 words) will be invited to be submitted by April 15 Note that we require all participants to register for the (un)conference by May 1 since the event officially starts with the virtual activities.
    </p>

    <p>
      <a href="https://easychair.org/conferences/?conf=ascus2020">Please submit your abstract here</a> by <strong>February 23rd, 2020</strong>
    </p>

    <p>
      The conference is organized by a group of researchers based in Asia, North America, Europe and Africa, who met as part of the <a href="https://is4ie.org/sections/urbansystems">Sustainable Urban Systems (SUS)</a> section of the <a href="https://is4ie.org">International Society for Industrial Ecology (ISIE)</a>. While it is an independent event, the (un)conference is organized in close collaboration with <a href="../../../">Metabolism of Cities</a>. Feel free to contact any of them for questions related to the (un)conference.
    </p>
  </article>
  <div class="col-lg-4">
    <div class="card basic-info">
      <ul class="list-group list-group-flush">
        <li class="list-group-item">
          <i class="far fa-fw fa-user mr-1" aria-hidden="true"></i> Fulano de Tal
        </li>
        <li class="list-group-item">
          <i class="far fa-fw fa-calendar mr-1" aria-hidden="true"></i> 16 March 2020
        </li>
        <li class="list-group-item">
          <i class="far fa-fw fa-link mr-1" aria-hidden="true"></i> <a href="#">Submit abstract</a>
        </li>
        <li class="list-group-item">
          <i class="far fa-fw fa-share-alt mb-1 mr-1" aria-hidden="true"></i> Share
          <br>
          <div class="btn-group share mt-1" role="group">
            <a class="btn btn-sm btn-primary-outline"><i class="fab fa-fw fa-twitter"></i></a>
            <a class="btn btn-sm btn-primary-outline"><i class="fab fa-fw fa-linkedin-in"></i></a>
            <a class="btn btn-sm btn-primary-outline"><i class="fab fa-fw fa-facebook-f"></i></a>
            <a class="btn btn-sm btn-primary-outline"><i class="fas fa-fw fa-envelope"></i></a>
          </div>
        </li>
      </ul>
    </div>

    <h5>Latest news</h5>
    <div class="card">
      <div class="list-group list-group-flush">
        <a href="#" class="list-group-item">
          <div href="#">Hacking for Human Rights in Cape Town</div>
          <div class="text-muted mb-0">2 March 2020</div>
        </a>
        <a href="#" class="list-group-item">
          <div href="#">Reflections on Urban Metabolism In Policy And Practice: Cape Town</div>
          <div class="text-muted mb-0">1 March 2020</div>
        </a>
        <a href="#" class="list-group-item">
          <div href="#">New Metabolism of Cities Website Launched</div>
          <div class="text-muted mb-0">16 February 2020</div>
        </a>
        <a href="#" class="list-group-item">
          <div href="#">Vancouver datathon for Ecocity World Summit 2020</div>
          <div class="text-muted mb-0">12 February 2020</div>
        </a>
        <a href="#" class="list-group-item font-weight-bold">News archive</a>
      </div>
    </div>

  </div>
</div>
{% endblock %}
{% block footer %}
{% endblock %}