{% extends "_base.html" %}

{% load static %}

{% block title %}News List{% endblock %}
{% block page_name %}event list{% endblock %}

{% block content %}
<div class="row mb-4">
  <div class="col-md-6 mb-2">
    <input type="text" class="form-control" placeholder="Search...">
  </div>
  <div class="col-md-6 mb-2">
    <select class="custom-select">
      <option selected>Filter by years</option>
      <option value="1">2020</option>
      <option value="2">2019</option>
      <option value="3">2018</option>
    </select>
  </div>
</div>

<section>
  <div class="row">
    {% for each in shortlist %}
      <div class="col-lg-4 mb-sm-4 mb-lg-0">
        <a class="card btn-card" href="{{ each.slug }}/">
          {% if each.image %}
            <img src="{{ each.image.url }}" class="card-img-top" alt="">
          {% endif %}
          <div class="card-body">
            <h5 class="card-title">
              {{ each }}
              <small class="d-inline-block text-muted">{{ each.date }}</small>
            </h5>
            <p class="card-text">
              {{ each.introduction }}
            </p>
          </div>
        </a>
      </div>
    {% endfor %}
  </div>
</section>

<section>
  <div class="row">
    {% for each in list %}
      <div class="col-lg-6 mb-3">
        <a href="{{ each.slug }}/" class="card btn-card">
          <div class="card-body media">
            {% if each.image %}
              <img class="rounded" src="{{ each.image.url }}" alt="">
            {% endif %}
            <div class="media-body pl-3 align-self-center">
              <h5 class="mb-0">
                <span class="mr-1">{{ each }}</span>
                <small class="d-inline-block text-muted">{{ each.date }}</small>
              </h5>
            </div>
          </div>
        </a>
      </div>
    {% endfor %}
  </div>
</section>

{% endblock %}

{% block footer %}
{% endblock %}
