{% extends "_base.html" %}
{% load static %}
{% load sass_tags %}

{% block page_name %}{% endblock %}

{% block title %}Blank page{% endblock %}

{% block css %}
{% endblock %}

{% block content %}

  <h2>News</h2>
  <ul>
    <li><a href="/community/news/1">News item 1</a></li>
    <li><a href="/community/news/1">News item 2</a></li>
    <li><a href="/community/news/1">News item 3</a></li>
  </ul>


  <!-- Yoleka I quickly put this here below from the other page but shouldn't have inline css. And the news items above (I thought maybe there could be three or four there, should look more like the cards like on the event.list.html page) -->

  <h3>Old news</h3>
  <div class="row">
    <div class="col-lg-6 mb-3">
      <a href="#" class="card btn-card">
        <div class="card-body media">
          <img class="rounded" src="https://i.imgur.com/KcSDpdD.jpg" alt="..." style="width: 100px">
          <div class="media-body pl-3 align-self-center">
            <h5 class="mb-0">
              <span class="mr-1">Lorem ipsum dolor sit amet, consectetur elit</span>
              <small class="d-inline-block text-muted">26 March 2020</small>
            </h5>
          </div>
        </div>
      </a>
    </div>
  </div>

{% endblock %}

{% block footer %}
{% endblock %}
