{% extends "_base.html" %}
{% load moc_extras %}

{% block page_name %}our-story{% endblock %}

{% block css %}
<style type="text/css">
iframe{max-width:100%}
</style>
{% endblock %}

{% block title %}Our story{% endblock %}

{% block content %}
  <h1>{{ webpage }}</h1>
  {{ webpage.get_description }}

  {% for each in years %}

    <section>
      <h3>{{ each }}</h3>
      <div class="row">
        {% for milestone in milestones|get_item:each %}
        <div class="col-md-6 col-lg-3 mb-4">
          <div class="card icon-card">
            <div class="card-header">{{ milestone }}</div>
            {% if milestone.image %}
              <img src="{{ milestone.image.thumbnail.url }}" alt="" />
            {% else %}
              <div class="icon">
                <i class="far fa-fw fa-{{ milestone.meta_data.icon }}"></i>
              </div>
            {% endif %}
            <div class="card-body">
              <p class="what-text">
                {{ milestone.get_description }}
              </p>
            </div>
          </div>
        </div>
        {% endfor %}
      </div>

      <button class="btn btn-primary-basic toggle-timeline mb-4" data-year="{{ each }}">
        <i class="fal fa-angle-down"></i>
        Show details
      </button>

      <div class="timeline" data-year="{{ each }}">
        {% if blurbs|get_item:each %}
          {% with blurb=blurbs|get_item:each %}
            {% if blurb.meta_data.video %}
              <iframe style="width:100%;height:50vh" class="video-embed youtube-video" src="https://www.youtube.com/embed/{{ blurb.meta_data.video }}?rel=0" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            {% else %}
              <div class="alert alert-info">
                <strong>{{ each }} summary</strong>
                {{ blurb.get_description }}
              </div>
            {% endif %}
          {% endwith %}
        {% endif %}
        {% for n in news|get_item:each %}
          <div class="single-entry people">
            <div class="title">
              <a href="{{ n.get_absolute_url }}">
                {{ n }}
              </a>
              <div class="date float-md-right ">{{ n.date }}</div>
            </div>
            {{ n.get_description|truncatewords_html:50 }}
          </div>
        {% endfor %}

      </div>

    </section>

  {% endfor %}

{% endblock %}

{% block footer %}
  <script>
    // toggling timeline
    $(".toggle-timeline").click(function() {
      let year = $(this).data("year");

      $(".timeline[data-year='" + year + "']").slideToggle();
      $("i", this).toggleClass("fa-rotate-180");
    })

  </script>
{% endblock %}
