{% load static %}

<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  <title>PDF Generator</title>
</head>
<body>
<div class="container">
  <table class="table table-bordered">
    <tr>
      <td>
        <table class="table table-bordered">
          <tr>
            <th colspan="2">
              <h1>Metabolism of Cities</h1>
            </th>
          </tr>
          <tr>
            <td>
              Certifcate of completion
            </td>
          </tr>
          <tr>
            <td colspan="2">&nbsp;</td>
          </tr>
          <tr>
            <td colspan="2">&nbsp;</td>
          </tr>
          <tr>
            <th>Name</th>
            <td>{{ name }}</td>
          </tr>
          <tr>
            <th>Score</th>
            <td>{{ score }}</td>
          </tr>
        </table>
      </td>
      <td style="vertical-align: middle;">
        <img alt="Metabolism of Cities" src="{{ path }}">
      </td>
    </tr>
  </table>
</div>
</body>
</html>