{% extends "_base.html" %}

{% block title %}{{ info.title }}{% endblock %}

{% block content %}

  {{ info.content|safe }}

  <ul class="nav nav-tabs">
    <li class="nav-item"><a class="nav-link active" href="{% url "people_list" %}">Authors</a></li>
    <li class="nav-item"><a class="nav-link" href="{% url "people_list" %}">Data contributors</a></li>
    <li class="nav-item"><a class="nav-link" href="{% url "people_list" %}">Team</a></li>
  </ul>

  <table class="table table-striped">
    <thead>
      <tr>
        <th>Name</th>
        <th>Location</th>
        <th>Publications</th>
      </tr>
    </thead>
    <tbody>
    {% for each in list %}
      <tr>
        <td><a href="{{ each.get_absolute_url }}">{{ each }}</a></td>
        <td>Cape Town, South Africa</td>
        <td><a href="http://">10</a></td>
      </tr>
    {% endfor %}
    </tbody>
  </table>

{% endblock %}
