{% extends "_base.html" %}

{% block title %}{{ info }}{% endblock %}

{% block content %}

  {% if info.image %}
    <img src="{{ info.image.large.url }}" alt="" />
  {% endif %}
  <p><strong>Project title</strong>: {{ info.title }}</p>
  <p><strong>Description</strong>: {{ info.content|safe }}</p>
  {% if info.url %}
    <p>Website: <a href="{{ info.url }}">{{ info.url }}</a></p>
  {% endif %}

  {% if info.url %}
    <p><a class="btn btn-primary" href="{{ info.url }}">Visit website</a></p>
  {% endif %}

{% endblock %}
