{% extends "_base.html" %}
{% load static %}

{% block page_name %}single-project{% endblock %}
{% block title %}{{ info }}{% endblock %}

{% block css %}
  {% if info.id == 20 or info.id == 21 or True %}
    <style type="text/css">
      section{display:none}
      section#team{display:block}
    </style>
  {% endif %}

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.11.0/baguetteBox.css">
{% endblock %}

{% block content %}
<div class="row">
  <div class="col-lg-4">
    <div class="card sidebar sticky-top mb-3">

      {% if info.has_subsite and info.get_image %}
        <a href="/{{ info.slug }}/">
          <img class="card-img-top" src="{{ info.get_image.url }}" alt="" />
        </a>
      {% elif info.get_image %}
        <img class="card-img-top" src="{{ info.get_image.url }}" alt="" />
      {% endif %}

      <ul class="list-group list-group-flush">
        {% if info.location %}
        <li class="list-group-item">
          <i class="far fa-fw fa-map-marker-alt"></i> {{ info.location }}
        </li>
        {% endif %}
        <li class="list-group-item">
          <i class="far fa-fw fa-calendar"></i>
            <strong>Start</strong>: {{ info.start_date|date:"Y" }}
        </li>
        <li class="list-group-item">
          <i class="far fa-fw fa-play"></i>
          <strong>Status</strong>: {{ info.get_status_display }}
        </li>
        <li class="list-group-item">
          <i class="far fa-fw fa-{{ info.type.icon }}"></i>
          <strong>Type</strong>: <a href="{% url "core:projects" %}?type={{ info.type.id }}">{{ info.type }}</a>
        </li>

        {% if info.url %}
          <li class="list-group-item">
            <a href="{{ info.url }}" class="btn btn-primary-outline">
              <i class="fas fa-link"></i>
              Project website
            </a>
          </li>
        {% endif %}
        {% if info.id != 20 and info.id != 21 and False %}
        <li class="list-group-item">
          <i class="far fa-fw fa-flask mb-1"></i> Materials
          <br>
          <a class="btn btn-sm btn-primary-outline mt-1" href="">Iron</a>
          <a class="btn btn-sm btn-primary-outline mt-1" href="">Plastics</a>
          <a class="btn btn-sm btn-primary-outline mt-1" href="">Construction and demolition waste</a>
        </li>
        <li class="list-group-item">
          <i class="far fa-fw fa-briefcase mb-1"></i> Sectors
          <br>
          <a class="btn btn-sm btn-primary-outline mt-1" href="">Construction</a>
          <a class="btn btn-sm btn-primary-outline mt-1" href="">Waste</a>
        </li>
        <li class="list-group-item">
          <i class="far fa-fw fa-tags mb-1"></i> Tags
          <br>
          <a class="btn btn-sm btn-primary-outline mt-1" href="">Material Flow Analysis</a>
          <a class="btn btn-sm btn-primary-outline mt-1" href="">Data Quality</a>
          <a class="btn btn-sm btn-primary-outline mt-1" href="">Pyrolisis</a>
        </li>
        {% endif %}
      </ul>
    </div>
  </div>
  <div class="col-lg-8">
    <div class="description mb-4">
      <h3>Description</h3>
      {% if info.description %}
        {{ info.description|safe }}
      {% else %}
        {% lorem 2 p %}
      {% endif %}

      {% if info.url %}
        <a href="{{ info.url }}" class="btn btn-primary-outline">
          <i class="fas fa-link"></i>
          Go to project website
        </a>
      {% endif %}

    </div>

    <section>
      <h3>Related materials</h3>
      <div class="row">
        <div class="col-lg-4 col-sm-6 mb-4">
          <a href="#" class="btn-thumbnail" style="background-image: url('https://i.imgur.com/sxTQ6np.jpg');">
            <span class="title">Iron</span>
          </a>
        </div>
        <div class="col-lg-4 col-sm-6 mb-4">
          <a href="#" class="btn-thumbnail" style="background-image: url('https://i.imgur.com/xxmCZDC.jpg');">
            <span class="title">Plastics</span>
          </a>
        </div>
        <div class="col-lg-4 col-sm-6 mb-4">
          <a href="#" class="btn-thumbnail" style="background-image: url('https://i.imgur.com/MppBEcG.jpg');">
            <span class="title">Construction and demolition waste</span>
          </a>
        </div>
      </div>
    </section>

    <section>
      <h3>Related sectors</h3>
      <div class="row">
        <div class="col-lg-4 col-sm-6 mb-4">
          <a href="#" class="btn-thumbnail" style="background-image: url('/static/img/construction.jpg');">
            <span class="title">Construction</span>
          </a>
        </div>
        <div class="col-lg-4 col-sm-6 mb-4">
          <a href="#" class="btn-thumbnail" style="background-image: url('/static/img/waste.jpg');">
            <span class="title">Waste</span>
          </a>
        </div>
      </div>
    </section>

    <section>
      <h3>Related locations</h3>
      <div class="row">
        <div class="col-lg-4 col-sm-6 mb-4">
          <a href="#" class="btn-thumbnail" style="background-image: url('https://metabolismofcities.org/media/photos/Beijing.large.jpeg');">
            <span class="title">Beijing</span>
          </a>
        </div>
        <div class="col-lg-4 col-sm-6 mb-4">
          <a href="#" class="btn-thumbnail" style="background-image: url('https://metabolismofcities.org/media/photos/Brussels.large.jpg');">
            <span class="title">Brussels<br></span>
          </a>
        </div>
        <div class="col-lg-4 col-sm-6 mb-4">
          <a href="#" class="btn-thumbnail" style="background-image: url('https://metabolismofcities.org/media/photos/32500830212_69e4954085_k.large.jpg');">
            <span class="title">Cape Town</span>
          </a>
        </div>
      </div>
    </section>

    <section>
      <h3>Tags</h3>
      <a class="btn btn-primary-outline mb-4" href="">Material Flow Analysis</a>
      <a class="btn btn-primary-outline mb-4" href="">Data Quality</a>
      <a class="btn btn-primary-outline mb-4" href="">Pyrolisis</a>
    </section>

    {% if team %}
      <section id="team">
        <h3>Current team members</h3>
        <div class="row">
          {% for each in team %}
            <div class="col-3">
              <a href="{{ each.get_absolute_url }}" class="btn-thumbnail" style="background-image: url('{{ each.image.thumbnail.url }}');">
                <span class="title">{{ each }}</span>
              </a>
            </div>
          {% endfor %}
        </div>
      </section>
    {% endif %}

    {% if alumni %}
      <section id="team">
        <h3>Former team members</h3>
        <div class="row">
          {% for each in alumni %}
            <div class="col-3">
              <a href="{{ each.get_absolute_url }}" class="btn-thumbnail" style="background-image: url('{{ each.image.thumbnail.url }}');">
                <span class="title">{{ each }}</span>
              </a>
            </div>
          {% endfor %}
        </div>
      </section>
    {% endif %}

    <section>
      <h3>Publications</h3>
      <a href="" class="card btn-card mb-3">
        <div class="card-body">
          <h5 class="card-title">Evaluating urban water management using a water metabolism framework: A comparative analysis of three regions in Korea</h5>
          <h6 class="card-subtitle text-muted">Jeong, Seongpil; Park, Jooyoung | 2020 | Resources, Conservation and Recycling</h6>
        </div>
      </a>
      <a href="" class="card btn-card mb-3">
        <div class="card-body">
          <h5 class="card-title">Methodological framework for the implementation of circular economy in urban systems</h5>
          <h6 class="card-subtitle text-muted">Ana Sánchez Levoso, Carles M. Gasol, Julia Martínez-Blanco, Xavier Gabarell Durany, Martin Lehmann, Ramon Farreny Gaya | 2020 | Journal of Cleaner Production</h6>
        </div>
      </a>
      <a href="" class="card btn-card mb-3">
        <div class="card-body">
          <h5 class="card-title">Effects of changing population or density on urban carbon dioxide emissions</h5>
          <h6 class="card-subtitle mb-2 text-muted">Haroldo V. Ribeiro, Diego Rybski & Jürgen P. Kropp | 2019 | Nature Communications</h6>
        </div>
      </a>
    </section>

    <section>
      <h3>Photos</h3>
      <div class="row lightbox gallery">
        <div class="col-6 col-md-4 col-lg-3 mb-4">
          <a href="{% static 'img/construction.jpg' %}" style="background-image: url('{% static 'img/construction.jpg' %}');" data-caption="Image caption"></a>
        </div>
        <div class="col-6 col-md-4 col-lg-3 mb-4">
          <a href="{% static 'img/energy.jpg' %}" style="background-image: url('{% static 'img/energy.jpg' %}');" data-caption="Image caption"></a>
        </div>
        <div class="col-6 col-md-4 col-lg-3 mb-4">
          <a href="{% static 'img/fishing.jpg' %}" style="background-image: url('{% static 'img/fishing.jpg' %}');" data-caption="Image caption"></a>
        </div>
        <div class="col-6 col-md-4 col-lg-3 mb-4">
          <a href="{% static 'img/forestry.jpg' %}" style="background-image: url('{% static 'img/forestry.jpg' %}');" data-caption="Image caption"></a>
        </div>
        <div class="col-6 col-md-4 col-lg-3 mb-4">
          <a href="https://metabolismofcities.org/media/photos/Brussels.large.jpg" style="background-image: url('https://metabolismofcities.org/media/photos/Brussels.large.jpg');" data-caption="Image caption"></a>
        </div>
        <div class="col-6 col-md-4 col-lg-3 mb-4">
          <a href="https://metabolismofcities.org/media/photos/Beijing.large.jpeg" style="background-image: url('https://metabolismofcities.org/media/photos/Beijing.large.jpeg');" data-caption="Image caption"></a>
        </div>
      </div>
    </section>

    <section>
      <h3>Videos</h3>
      <div class="row">
        <div class="col-md-6 mb-4">
          <a class="card btn-card video" href="#">
            <div class="card-img-wrapper">
              <img src="https://metabolismofcities.org/media/photos/the-hague-1491554_1920.large.jpg" class="card-img-top" alt="...">
              <i class="fad fa-play-circle"></i>
            </div>
            <div class="card-body">
              <h5 class="card-title">What is Multiplicty?</h5>
              <h6 class="card-subtitle mb-2 text-muted">YouTube</h6>
            </div>
          </a>
        </div>
      </div>
    </section>

    <section id="partners">
      <h3>Partners</h3>
      <div class="row">
        <div class="col-6 col-md-4 col-lg-3 mb-3">
          <a class="btn btn-thumbnail" href="#">
            <img src="https://metabolismofcities.org/media/projects/AgroCycle_8czbkcb.png" alt="AgroCycle">
          </a>
        </div>
        <div class="col-6 col-md-4 col-lg-3 mb-3">
          <a class="btn btn-thumbnail" href="#">
            <img src="https://duckduckgo.com/assets/logo_homepage_mobile.normal.v108.unoptimized.svg" alt="duckduckgo">
          </a>
        </div>
        <div class="col-6 col-md-4 col-lg-3 mb-3">
          <a class="btn btn-thumbnail" href="#">
            <img src="https://www.openstreetmap.org/assets/osm_logo-1dde6669365d9e3e9cfebe133a42a75ea8bedf84a43b3d6f7e124c62ca48be84.png" alt="osm">
          </a>
        </div>
        <div class="col-6 col-md-4 col-lg-3 mb-3">
          <a class="btn btn-thumbnail" href="#">
            <img src="https://upload.wikimedia.org/wikipedia/commons/6/6a/Chick_%28PSF%29.svg" alt="Pollito">
          </a>
        </div>
        <div class="col-6 col-md-4 col-lg-3 mb-3">
          <a class="btn btn-thumbnail" href="#">
            <img src="https://static.cdn-decorrespondent.nl/assets/svg/logo-full.svg" alt="decorrespondent">
          </a>
        </div>
        <div class="col-6 col-md-4 col-lg-3 mb-3">
          <a class="btn btn-thumbnail" href="#">
            <img src="https://leafletjs.com/docs/images/logo.png" alt="leaflet">
          </a>
        </div>
      </div>
    </section>

    <section id="news">
      <h3>Related News</h3>
      <a href="#" class="card btn-card mb-3">
        <div class="card-body media">
          <img class="rounded" src="https://i.imgur.com/KcSDpdD.jpg" alt="...">
          <div class="media-body pl-3 align-self-center">
            <h5 class="mb-0">
              <span class="mr-1">Lorem ipsum dolor sit amet, consectetur elit</span>
              <small class="d-inline-block text-muted">26 March 2020</small>
            </h5>
          </div>
        </div>
      </a>
    </section>
  </div>
</div>

{% endblock %}

{% block footer %}
  <script src="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.11.0/baguetteBox.js"></script>
  <script>
    baguetteBox.run(".lightbox");
  </script>

  <!-- check to see if sidebar is taller than screen - if so, remove sticky-top class so user can scroll down -->
  <script>
    var sidebar = $(".card.sidebar.sticky-top");
    var sidebarHeight = sidebar.height() + 32;
    var viewportHeight = $(window).height();

    console.log(sidebarHeight);
    console.log(viewportHeight);

    if (sidebarHeight > viewportHeight) {
      sidebar.removeClass("sticky-top");
    }
  </script>
{% endblock %}
