{% extends "_base.html" %}
{% load static %}
{% load sass_tags %}

{% block page_name %}projects{% endblock %}

{% block title %}Blank page{% endblock %}

{% block css %}
{% endblock %}

{% block subtitle %}{% endblock %}

{% block content %}

<div class="row mb-4">
  <div class="col-md-6 mb-2">
    <input type="text" class="form-control" placeholder="Search by project title...">
  </div>
  <div class="col-md-6 mb-2">
    <select class="type-filter custom-select">
      <option value="all" selected>Filter by category</option>
      <option value="seminar">Seminars</option>
      <option value="conference">Conferences</option>
      <option value="other">Something else</option>
    </select>
  </div>
</div>

<div class="row">
  {% for each in PROJECTS %}
    <div class="col-xl-4 col-md-6 mb-4 single-project" data-type="seminar">
      <a class="card btn-card" href="{{ each.get_absolute_url }}">
        {% if each.image %}
          <img class="card-img-top" src="{{ each.image.url }}" alt="" />
        {% endif %}

        <div class="card-body">
          <h5 class="card-title">{{ each }}</h5>
          <p>Et doloremque dolorum doloremque aut deserunt debitis animi. Vel iste expedita repellendus veritatis. Et esse explicabo harum rem dolores architecto. Eos et expedita est. Laudantium sed qui sit.</p>
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">
            <i class="far fa-fw fa-map-marker-alt"></i> Cape Town, South Africa
          </li>
          <li class="list-group-item">
            <i class="far fa-fw fa-calendar"></i> 12 March 2019 - 18 October 2022
          </li>
          <li class="list-group-item">
            <i class="far fa-fw fa-play"></i> Ongoing
          </li>
          <li class="list-group-item">
            <i class="far fa-fw fa-cabinet-filing"></i> Conferences and seminars
          </li>
        </ul>
      </a>
    </div>
  {% endfor %}
</div>

<div class="card no-results">
  <div class="card-body text-center">
    <h2 class="my-4"><i class="fad fa-search"></i> No projects found</h2>
    <button class="btn btn-lg btn-primary clear-filter my-4">Show all projects</button>
  </div>
</div>

{% endblock %}

{% block footer %}
<script>
  // function to make type dropdown work - checks data-type on single-project
  function typeFilter() {
    $(".single-project").addClass("hidden");

    let value = $(".type-filter").val();
    if (value == "all") {
      $(".single-project").removeClass("hidden");
    } else {
      $(".single-project[data-type='" + value + "']").removeClass("hidden");
    }

    let projectCount = $(".single-project:not(.hidden)").length;
    if (projectCount == 0) {
      $(".no-results").addClass("visible");
    } else {
      $(".no-results").removeClass("visible");
    }
  }

  $(".type-filter").change(function() {
    typeFilter()
  })

  // function to clear filter - must also clear search once that works
  function clearFilter() {
    $(".type-filter").val("all");
    typeFilter();
  }

  // clear filter on button click
  $(".clear-filter").click(function() {
    clearFilter();
  })

  // run filter at start in case dropdown is already set after refresh
  typeFilter()

</script>
{% endblock %}