{% extends "_base.html" %}
{% load static %}
{% load sass_tags %}
{% load bootstrap4 %}

{% block page_name %}{% endblock %}

{% block title %}Blank page{% endblock %}

{% block css %}
{% endblock %}

{% block subtitle %}{% endblock %}

{% block content %}
  <form method="post" class="form form-horizontal" enctype="multipart/form-data">
    {% csrf_token %}
    {% bootstrap_form form %}
    {% buttons %}
        <button type="submit" class="btn btn-primary">Submit</button>
    {% endbuttons %}
  </form>
{% endblock %}

{% block footer %}
{% endblock %}