{% extends "_base.html" %}
{% load static %}
{% load sass_tags %}

{% block page_name %}projects{% endblock %}

{% block title %}Blank page{% endblock %}
t.js
{% block css %}
{% endblock %}

{% block subtitle %}{% endblock %}

{% block content %}

<div id="project-list">
  <div class="row mb-4">
    <div class="col-md-6 mb-2">
      <input type="text" class="form-control search" placeholder="Search by project title...">
    </div>
    <div class="col-md-6 mb-2">
      <select class="type-filter custom-select">
        <option value="all" selected>Filter by category</option>
        <option value="seminar">Seminars</option>
        <option value="conference">Conferences</option>
        <option value="other">Something else</option>
      </select>
    </div>
  </div>

  <div class="row list">
    {% for each in list %}
      <div class="col-xl-4 col-md-6 mb-4 single-project" data-type="seminar">
        <a class="card btn-card" href="{{ each.get_absolute_url }}">
          {% if each.image %}
            <img class="card-img-top" src="{{ each.image.url }}" alt="" />
          {% endif %}

          <div class="card-body">
            <h5 class="card-title project-name">{{ each }}</h5>
            <p>Et doloremque dolorum doloremque aut deserunt debitis animi. Vel iste expedita repellendus veritatis. Et esse explicabo harum rem dolores architecto. Eos et expedita est. Laudantium sed qui sit.</p>
          </div>
          <ul class="list-group list-group-flush">
            <li class="list-group-item">
              <i class="far fa-fw fa-map-marker-alt"></i> Cape Town, South Africa
            </li>
            <li class="list-group-item">
              <i class="far fa-fw fa-calendar"></i> 12 March 2019 - 18 October 2022
            </li>
            <li class="list-group-item">
              <i class="far fa-fw fa-play"></i> Ongoing
            </li>
            <li class="list-group-item">
              <i class="far fa-fw fa-cabinet-filing"></i> Conferences and seminars
            </li>
          </ul>
        </a>
      </div>
    {% endfor %}
  </div>
</div>

<div class="card no-results">
  <div class="card-body text-center">
    <h2 class="my-4"><i class="fad fa-search"></i> No projects found</h2>
    <button class="btn btn-lg btn-primary clear-filter my-4">Show all projects</button>
  </div>
</div>

{% endblock %}

{% block footer %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/list.js/1.5.0/list.min.js"></script>
<script>
  var listOptions = {
      valueNames: ["project-name"]
  };

  var projectList = new List("project-list", listOptions);

  // filters
  // basic function to check if item matches filter
  function projectFilter(type, value) {
    if (value != "all") {
      projectList.filter(function(item) {
        if (item.values()[type] != value) {
          item.values({inFilter: false})
        }
      });
    }
  }

  // showing all items that match filters
  function applyFilters() {
    projectList.filter(function(item) {
      if (item.values().inFilter == true) {
         return true;
      } else {
         return false;
      }
    });
  };

  // function to check the number of matches
  function checkCount() {
    var count = $("#project-list .single-project:visible").length;
    if (count == 0) {
      $(".no-results").addClass("visible");
    } else {
      $(".no-results").removeClass("visible");
    }
  }

  // function to apply filters on every dropdown
  function runAllFilters() {
    // set every item as matching filter
    $(projectList.items).each(function() {
      this.values({
        inFilter: true,
      });
    });

    // remove items that don't match filter
    $(".filters select").each(function() {
      var type = $(this).data("type");
      var value = $(this).val()
      projectFilter(type, value)
    });

    // show items that remain in filter
    applyFilters();
    checkCount();
  }

  // update contact count when searching by name
  projectList.on("searchComplete", function(){
    checkCount();
  });

  // make dropdowns work as filters
  $(".filters select").change(function() {
    runAllFilters()
  });

  // clear search and filters
  function resetSearchFilters() {
    projectList.search();
    projectList.filter();
    $(".filters select").val("all");
    $("input.search").val("");
  }

  $(".clear-filter").click(function() {
    resetSearchFilters();
    checkCount();
  })

  // reset all filters on page load
  resetSearchFilters()
</script>
{% endblock %}
