{% extends "_base.html" %}
{% block title %}Data Import{% endblock %}

{% block content %}
  <h1>Data import</h1>   
  <p>Please download all these files first! Put them in /src/media/import/ (create the dir if it doesn't exist)</p>
  <p>Here is the link: <a href="https://backoffice.metabolismofcities.org/projects/1726/?tab=tasks&task=1772">task in B/O</a></p>
  <ul>
    <li><a href="/dataimport/?table=tags">Tags</a> -- {{ tags }}</li>
    <li><a href="/dataimport/?table=activities">Activities</a> -- {{ activities }}</li>
    <li><a href="/dataimport/?table=projects">Projects</a> -- {{ projects }}</li>
    <li><a href="/dataimport/?table=organizations">Organizations</a> -- {{ organizations }}</li>
    <li><a href="/dataimport/?table=videos">Videos</a> -- {{ videos }}</li>
    <li><a href="/dataimport/?table=people">People</a> -- {{ people }}</li>
    <li><a href="/dataimport/?table=referencespaces">Reference Spaces</a> -- {{ spaces }}</li>
    <li><a href="/dataimport/?table=referencespacelocations">Reference Space Locations</a> -- {{ locations }}</li>
    <li><a href="/dataimport/?table=librarytypes">Library item types</a> -- {{ libraryitems }}</li>
    <li><a href="/dataimport/?table=publishers">Publishers, journals, publications, and authors</a> -- {{ publishers }} | {{ journals }} | {{ publications }}</li>
    <li><a href="/dataimport/?table=librarytags">Library item tags</a> -- {{ librarytags }}</li>
    <li><a href="/dataimport/?table=libraryspaces">Library item spaces</a> -- {{ libraryspaces }}</li>
    <li><a href="/dataimport/?table=articles">Articles</a> -- {{ news }}</li>
    <li><a href="/dataimport/?table=users">Users</a> -- {{ users }}</li>
    <li><a href="/dataimport/?table=photos">Photos</a> -- {{ photos }}</li>
    <li><a href="/dataimport/?table=sectors">Sectors</a> -- {{ sectors }}</li>
    <li><a href="/dataimport/?table=sectoractivities">Sector activities</a> -- {{ sectoractivities }}</li>
    <li><a href="/dataimport/?table=spacesectors">Space sectors</a> -- {{ spacesectors }}</li>
    <li><a href="/dataimport/?table=flowdiagrams">Flow diagrams</a> -- {{ flowdiagrams }} -- {{ flowblocks }}</li>
    <li><a href="/dataimport/?table=dataviz">Dataviz</a> -- {{ dataviz }}</li>
    <li><a href="/dataimport/?table=podcasts">Podcasts</a> -- {{ podcasts }}</li>
    <li><a href="/dataimport/?table=project_team_members">Project team members</a> -- {{ project_team_members }}</li>
  </ul>

  <div class="alert alert-warning">
    <p>Please run this code <a href="http://localhost:8080/?pgsql=db&username=postgres&db=moc&ns=public&sql=">in adminer</a> after importing new info:</p>
    <pre>
SELECT setval('core_tag_id_seq', (SELECT MAX(id) FROM core_tag)+1);
SELECT setval('core_record_id_seq', (SELECT MAX(id) FROM core_record)+1);
SELECT setval('stafdb_activity_id_seq', (SELECT MAX(id) FROM stafdb_activity)+1);
SELECT setval('stafdb_sector_id_seq', (SELECT MAX(id) FROM stafdb_sector)+1);
SELECT setval('auth_user_id_seq', (SELECT MAX(id) FROM auth_user)+1);
SELECT setval('core_dataviz_id_seq', (SELECT MAX(id) FROM core_dataviz)+1);
    </pre>
  </div>

  <hr>
  <p>Notes for Paul:</p>
  <pre>
ssh -t industrialecology 'csvdump "SELECT * FROM core_tag ORDER BY id" tags.csv'
ssh -t industrialecology 'csvdump "SELECT * FROM staf_process ORDER BY id" activities.csv'
ssh -t industrialecology 'csvdump "SELECT * FROM core_project ORDER BY id" projects.csv'
ssh -t industrialecology 'csvdump "SELECT * FROM core_video ORDER BY id" videos.csv'
ssh -t industrialecology 'csvdump "SELECT * FROM core_organization ORDER BY id" organizations.csv'
ssh -t industrialecology 'csvdump "SELECT * FROM core_people ORDER BY id" people.csv'
ssh -t industrialecology 'csvdump "SELECT * FROM multiplicity_referencespace ORDER BY id" referencespaces.csv'
ssh -t industrialecology 'csvdump "SELECT * FROM multiplicity_referencespacelocation ORDER BY id" referencespacelocations.csv'
ssh -t industrialecology 'csvdump "SELECT * FROM core_publisher ORDER BY id" publishers.csv'
ssh -t industrialecology 'csvdump "SELECT * FROM core_journal ORDER BY id" journals.csv'
ssh -t industrialecology 'csvdump "SELECT * FROM core_referencetype ORDER BY id" librarytypes.csv'
ssh -t industrialecology 'csvdump "SELECT * FROM core_reference ORDER BY id" publications.csv'
ssh -t industrialecology 'csvdump "SELECT * FROM core_reference_tags ORDER BY id" librarytags.csv'
ssh -t industrialecology 'csvdump "SELECT * FROM core_reference_spaces ORDER BY id" libraryspaces.csv'
ssh -t industrialecology 'csvdump "SELECT * FROM core_article ORDER BY id" articles.csv'
ssh -t industrialecology 'csvdump "SELECT * FROM multiplicity_license ORDER BY id" licenses.csv'
ssh -t industrialecology 'csvdump "SELECT * FROM multiplicity_photo ORDER BY id" photos.csv'
ssh -t industrialecology 'csvdump "SELECT * FROM auth_user ORDER BY id" users.csv'
ssh -t industrialecology 'csvdump "SELECT * FROM multiplicity_processgroup ORDER BY id" sectors.csv'
ssh -t industrialecology 'csvdump "SELECT * FROM multiplicity_processgroup ORDER BY id" sectors.csv'
ssh -t industrialecology 'csvdump "SELECT * FROM multiplicity_processgroup_processes ORDER BY id" sectoractivities.csv'
ssh -t industrialecology 'csvdump "SELECT * FROM multiplicity_referencespacesector ORDER BY id" spacesectors.csv'
ssh -t industrialecology 'csvdump "SELECT * FROM core_dataviz ORDER BY id" dataviz.csv'
ssh -t industrialecology 'csvdump "SELECT * FROM core_reference_authors ORDER BY id" authors.csv'
  </pre>

{% endblock %}

