{% extends "_base.html" %}
{% load humanize %}

{% block page_name %}fullwidth{% endblock %}

{% block css %}
<style type="text/css">
pre{
  white-space: pre;
  overflow: hidden;
}
td {
    max-width: 60vw;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
td.mini {
  width:120px;
}
.dead {
  opacity: 0.1;
}
</style>
{% endblock %}

{% block content %}

  <div class="p-4">

  <h1 class="text-center">Eurostat databases</h1>

  <ul class="nav nav-tabs mb-4">
    <li class="nav-item">
      <a class="nav-link {% if page == "regular" %}active{% endif %}" href="/eurostat/">Regular</a>
    </li>
    <li class="nav-item">
      <a class="nav-link {% if page == "full" %}active{% endif %}" href="/eurostat/?full=true">Full list with search</a>
    </li>
    <li class="nav-item">
      <a class="nav-link {% if page == "pending" %}active{% endif %}" href="/eurostat/?pending=true">Pending items only</a>
    </li>
  </ul>

  <form method="get" class="form form-horizontal mb-3">
     <input class="form-control" type="text" name="q" value="{{ request.GET.q }}" />
     <button class="btn btn-primary" type="submit">Search</button>
     <input type="hidden" name="show" value="{{ page }}" />
  </form>

  <div class="mb-3">
   {{ webpage.get_markdown_description|safe }} 
    <a href="{% if DEBUG and PROJECT.id != 1 %}/{{ PROJECT.slug }}{% endif %}/controlpanel/content/{{ webpage.id }}/?next={{ request.get_full_path }}"><i class="fas fa-edit fa-fw"></i> Edit</a>
  </div>

  <div class="text-center alert alert-warning">
    <span class="step-links">
      {% if list.has_previous %}
        <a href="?show={{ page }}&amp;page=1">&laquo; first</a>
        <a href="?show={{ page }}&amp;page={{ list.previous_page_number }}">previous</a>
      {% endif %}

      <span class="current">
        {{ full_list.count }} records | {{ no_folders.count }} datasets.
        Page {{ list.number }} of {{ list.paginator.num_pages }}.
      </span>

      {% if list.has_next %}
        <a href="?show={{ page }}&amp;page={{ list.next_page_number }}">next</a>
        <a href="?show={{ page }}&amp;page={{ list.paginator.num_pages }}">last &raquo;</a>
      {% endif %}
    </span>
  </div>

  <div class="progress">
    <div class="progress-bar" role="progressbar" style="width: {{ percentage }}%;" aria-valuenow="{{ progress }}" aria-valuemin="0" aria-valuemax="{{ no_folders.count }}">{{ percentage|floatformat }}%</div>
  </div>

  <table class="table table-striped datatable">
    <thead>
      <tr>
        <th>Options</th>
        <th>Title</th>
      </tr>
    </thead>
    <tbody>
    {% for each in list %}
      <tr>
        <td class="mini" data-sort="{{ each.id }}">
          <a title="Edit record" href="/admin/core/eurostatdb/{{ each.id }}/change/" target="_blank" class="btn btn-default-outline"><i class="fal fa-pencil"></i></a>
          {% if each.type != "folder" %}
            <span class="classify">
              <a data-id="{{ each.id }}" data-action="approve" href="#" class="btn {% if each.is_approved %}btn-success{% else %}btn-default-outline{% endif %}"><i class="fa fa-fw fa-check"></i></a>
              <a data-id="{{ each.id }}" data-action="deny" href="#" class="btn {% if each.is_denied %}btn-danger{% else %}btn-default-outline{% endif %}"><i class="fa fa-fw fa-times"></i></a>
            </span>
            <a title="Download file" href="https://ec.europa.eu/eurostat/estat-navtree-portlet-prod/BulkDownloadListing?file=data/{{ each.code }}.tsv.gz" class="btn btn-default-outline"><i class="fa fa-file-archive"></i></a>
          {% endif %}
            <a title="Meta data" href="https://ec.europa.eu/eurostat/cache/metadata/en/{{ each.code }}_esms.htm" target="_blank" class="{% if each.has_no_meta_data %}dead{% endif %} meta btn btn-default-outline"><i class="fal fa-file"></i></a>
            {% if not each.has_no_meta_data %}
              <a title="No meta data" href="#" class="btn btn-default-outline deadlink" data-id="{{ each.id }}"><i class="fas fa-unlink"></i></a>
            {% endif %}
        </td>
        <td data-sort="{{ each.id }}">
          <pre><a target="_blank" href="https://appsso.eurostat.ec.europa.eu/nui/show.do?dataset={{ each.code }}&lang=en">{{ each.title }}</a></pre>
          {% if each.notes %}<br>
            {{ each.notes|linebreaksbr }}
          {% endif %}
        </td>
      </tr>
    {% endfor %}
    </tbody>
  </table>

</div>

{% endblock %}

{% block footer %}
  <script type="text/javascript">

  $(function(){

    $(".deadlink").click(function(e){
      e.preventDefault();
      button = $(this);
      var id = $(this).data("id");
      var action = $(this).data("action");
      $.get("{% url "core:eurostat" %}",{
        deadlink: id,
      }, function(data) {
        if (data.status == "OK") {
          button.hide();
          $(button).closest("td").find(".meta").addClass("dead");
        } else {
          alert("Response failed!");
        }
      });
      e.preventDefault();
    });


    $(".classify a").click(function(e){
      e.preventDefault();
      button = $(this);
      var id = $(this).data("id");
      var action = $(this).data("action");
      console.log("ID: "+id);
      console.log("action: "+action);
      $.get("{% url "core:eurostat" %}",{
        id: id,
        action: action,
      }, function(data) {
        if (data.status == "OK") {
          if (action == "deny") {
            button.addClass("btn-danger");
          } else {
            button.addClass("btn-success");
          }
          button.removeClass("btn-default-outline");
          button.siblings().removeClass("btn-success");
          button.siblings().removeClass("btn-danger");
          button.siblings().addClass("btn-default-outline");
        } else {
          alert("Response failed!");
        }
      },'json');
      e.preventDefault();
    });

      
  });

  </script>
{% endblock %}
