{% extends '_base.html' %}
{% load static %}
{% load sass_tags %}
{% block page_name %}about{% endblock %}
{% block title %}About{% endblock %}
{% block css %}
<link href="{% sass_src 'css/responsive.scss' %}" rel="stylesheet" type="text/css" />
{% endblock %}
{% block subtitle %}Everything you need to know about Metabolism of Cities
{% endblock %}
{% block content %}
<div class="container mb-5">
  <div class="row anchor">
    <div class="col-lg-3 col-md-6 col-sm-12">
      <div class="card agriculture">
        <a href="#" class="btn-light">Agriculture</a>
      </div>
    </div>
    <div class="col-lg-3 col-md-6 col-sm-12">
      <div class="card construction">
        <a href="#" class="btn-light">Construction</a>
      </div>
    </div>
    <div class="col-lg-3 col-md-6 col-sm-12">
      <div class="card energy">
        <a href="#" class="btn-light">Energy</a>
      </div>
    </div>
    <div class="col-lg-3 col-md-6 col-sm-12">
      <div class="card fishing">
        <a href="#" class="btn-light">Fishing</a>
      </div>
    </div>
  </div>
  <div class="row anchor">
    <div class="col-lg-3 col-md-6 col-sm-12">
      <div class="card forestry">
        <a href="#" class="btn-light">Forestry</a>
      </div>
    </div>
    <div class="col-lg-3 col-md-6 col-sm-12">
      <div class="card manufacturing">
        <a href="#" class="btn-light">Manufacturing</a>
      </div>
    </div>
    <div class="col-lg-3 col-md-6 col-sm-12">
      <div class="card mining">
        <a href="#" class="btn-light">Mining</a>
      </div>
    </div>
    <div class="col-lg-3 col-md-6 col-sm-12">
      <div class="card retail">
        <a href="#" class="btn-light">Retail $ Wholesale</a>
      </div>
    </div>
  </div>
  <div class="row anchor">
    <div class="col-lg-3 col-md-6 col-sm-12">
      <div class="card transport">
        <a href="#" class="btn-light">Transport</a>
      </div>
    </div>
    <div class="col-lg-3 col-md-6 col-sm-12">
      <div class="card waste">
        <a href="#" class="btn-light">Waste</a>
      </div>
    </div>
    <div class="col-lg-3 col-md-6 col-sm-12">
      <div class="card water">
        <a href="#" class="btn-light">Water</a>
      </div>
    </div>
  </div>
</div>
{% endblock %}