// VARIABLES
$primary: #144d58;
$secondary: #ff8a4e;
$black: #000;
$white: #fff;
$dark: #212529;
$gray: #808080;
$light: #efefef;
$very-light: #fbfbfb;
$basic-shadow: 1px 1px 2px 0px rgba(0, 0, 0, 0.2);

// EXTENSIONS
%raised-hover {
  transition: all .3s;

  &:hover {
    transform: translateY(-3px);
  }

}

%box-shadow {
  box-shadow: $basic-shadow;
  transition: all .3s;

  &:hover {
    box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.2);
  }

}

// FONTS
@import url(https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic&subset=latin);

// STYLES
// GLOBALS
body {
  background-color: #fcfcfc;
  font-family: Lato, "Helvetica Neue", Arial, Helvetica, sans-serif;
}

section {
  padding: 2rem 0;

  &:first-of-type {
    padding-top: 0;
  }

  &:last-of-type {
    padding-bottom: 0;
  }
}

.main-content.container {
  padding-top: 36px;
  padding-bottom: 36px;
}

a {
  color: $primary;

  &:hover {
    color: darken($primary, 20%);
    text-decoration: none;
  }
}

#admin-controls {
  position: fixed;
  right: 0;
  top: 75px;
  a {
    text-align: left;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }
}

.sticky-top {
  top: 1rem;
}

textarea.form-control:focus,
input.form-control:focus,
select.custom-select:focus {
  border-color: $primary;
  box-shadow: 0 0 0 .2rem rgba($primary,.25);
}

// COMMON ELEMENTS
// NAVBAR AND HERO
.top-layer {
  box-shadow: 0 2px 2px 2px rgba(0, 0, 0, 0.1);
  background-color: $primary;
  background-image: url(https://resourcewatch.org/static/images/components/layout/header-bg-texture.png);
  background-repeat: no-repeat;
  background-position: 50%;
  background-size: cover;
  z-index: 10000;

  .breadcrumb {
    padding: 0;
    background-color: transparent;

    a {
      color: $secondary;

      &:hover {
        color: darken($secondary, 10%);
      }
    }

    .breadcrumb-item:before {
      color: $secondary;
    }

    .breadcrumb-item.active {
      color: $white;
    }
  }
}

nav {
  &.navbar {
    padding-top: 1rem;
    padding-bottom: 1rem;
  }

  .navbar-brand {
    padding: 0 0 4px 0;

    img {
      height: 52px;
    }

  }

  .dropdown-menu {
    box-shadow: 0 4px 2px -2px rgba(0, 0, 0, 0.3);

    a {
      color: $dark;
    }
  }

  li.nav-item:not(:last-of-type) {
    margin-right: 1rem;
  }

  a.nav-link {
    color: $white !important;
    opacity: .7 !important;

    &:hover {
      opacity: 1 !important;
    }

    &.dropdown-toggle {
      &::after {
        display: none;
      }

      &[aria-expanded="true"] {
        opacity: 1 !important;
      }

    }

  }

}

.jumbotron {
  background: unset;
  margin-bottom: 0;
  padding: 3rem 0;

  h1 {
    font-weight: bold;
  }

  .lead {
    font-weight: normal;
  }
}

// FOOTERS
footer {
  padding: 36px 0;

  &#involved {
    background-image: url("/static/img/footer.jpg");
    background-color: $black;
    color: $light;

    form {
      max-width: 600px;


      input {
        &:focus {
          box-shadow: 0 0 0 .2rem rgba(255,255,255,.25);
          color: $light;
        }

        &::placeholder {
          color: transparentize($light, .5);
        }

        background-color: transparent;
        border-color: $light;
        color: $light;
        width: unset;
      }
    }
  }

  &#sitemap {
    background-color: $light;

    .header {
      color: $secondary;
    }

    a {
      color: $dark;

      &:hover {
        color: $black;
        text-decoration: none;
      }
    }
  }

  &#info {
    background-color: $dark;
    padding-top: 30px;
    color: $light;

    img {
      &.main-logo {
        max-width: 300px;
        width: 100%;
      }
      &.second-logo {
        max-width: 200px;
        width: 80%;
      }
    }

    a {
      color: $light;

      &:hover {
        color: $white;
        text-decoration: none;
      }
    }

    i {
      margin-right: 6px;
    }

    .links a {
      display: block;
    }

    .social i {
      font-size: 1.5rem;
      margin-right: 12px;
    }
  }
}

// BUTTONS
.btn:not(.btn-icon) i {
  margin-right: .35rem;
}

.btn:focus {
  box-shadow: none !important;
}

.btn-primary {
  background-color: $primary;
  border-color: $primary;
  color: $white;

  &:hover {
    border-color: darken($primary, 5%);
    background-color: darken($primary, 5%);
  }

  &:active, &:focus {
    border-color: darken($primary, 5%) !important;
    background-color: darken($primary, 5%) !important;
  }
}

.btn-primary-outline {
  background-color: transparent;
  border-color: $primary;
  color: $primary;

  &:hover {
    border-color: $primary;
    background-color: transparentize($primary, 0.9);
    color: $primary;
  }

  &:active, &:focus {
    border-color: $primary !important;
    background-color: transparentize($primary, 0.9) !important;
    color: $primary;
  }
}

.btn-primary-basic {
  background-color: transparent;
  border-color: transparent;
  color: $primary;

  &:hover {
    background-color: transparentize($primary, 0.9);
    border-color: transparent;
    color: $primary;
  }
}

.btn-secondary {
  background-color: $secondary;
  border-color: $secondary;

  &:hover {
    border-color: darken($secondary, 5%);
    background-color: darken($secondary, 5%);
  }

  &:active, &:focus {
    border-color: darken($secondary, 5%) !important;
    background-color: darken($secondary, 5%) !important;
  }
}

.btn-secondary-outline {
  background-color: transparent;
  border-color: $secondary;
  color: $secondary;

  &:hover {
    border-color: $secondary;
    background-color: transparentize($secondary, 0.9);
    color: $secondary;
  }

  &:active, &:focus {
    border-color: $secondary !important;
    background-color: transparentize($secondary, 0.9) !important;
    color: $secondary;
  }
}

.btn-secondary-basic {
  background-color: transparent;
  border-color: transparent;
  color: $secondary;

  &:hover {
    background-color: transparentize($secondary, 0.9);
    border-color: transparent;
    color: $secondary;
  }
}

.btn-default {
  background-color: $dark;
  border-color: $dark;
  color: $very-light;

  &:hover {
    border-color: darken($dark, 5%);
    background-color: darken($dark, 5%);
    color: $very-light;
  }

  &:active, &:focus {
    border-color: darken($dark, 5%) !important;
    background-color: darken($dark, 5%) !important;
  }
}

.btn-default-outline {
  background-color: transparent;
  border-color: $dark;
  color: $dark;

  &:hover {
    border-color: $dark;
    background-color: transparentize($dark, 0.9);
    color: $dark;
  }

  &:active, &:focus {
    border-color: $dark !important;
    background-color: transparentize($dark, 0.9) !important;
    color: $dark;
  }
}

.btn-default-basic {
  background-color: transparent;
  border-color: transparent;
  color: $dark;

  &:hover {
    background-color: transparentize($dark, 0.9);
    border-color: transparent;
    color: $dark;
  }
}

.btn-inverse {
  background-color: $light;
  border-color: $light;
  color: $dark;

  &:hover {
    border-color: darken($light, 5%);
    background-color: darken($light, 5%);
    color: $dark;
  }

  &:active, &:focus {
    border-color: darken($light, 5%) !important;
    background-color: darken($light, 5%) !important;
  }
}

.btn-inverse-outline {
  background-color: transparent;
  border-color: $light;
  color: $light;

  &:hover {
    border-color: $light;
    background-color: transparentize($light, 0.9);
    color: $light;
  }

  &:active, &:focus {
    border-color: $light !important;
    background-color: transparentize($light, 0.9) !important;
    color: $light;
  }
}

.btn-inverse-basic {
  background-color: transparent;
  border-color: transparent;
  color: $light;

  &:hover {
    background-color: transparentize($light, 0.9);
    border-color: transparent;
    color: $light;
  }
}

.btn-card {
  @extend %raised-hover;
  @extend %box-shadow;
  color: $dark;
  height: 100%;

  &:hover {
    color: $dark;
  }

  &.video i.fa-play-circle {
    color: $white;
    font-size: 6rem;
    left: calc(50% - 3rem);
    position: absolute;
    top: calc(50% - 3rem);
  }
}

// THUMBNAIL BUTTON
.btn-thumbnail {
  @extend %raised-hover;
  @extend %box-shadow;
  border-radius: 4px;
  color: white;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  font-size: 1.2rem;
  height: 200px;
  width: 100%;

  &:hover {
    color: white;
    text-decoration: none;
  }

  &.small {
    height: 100px;
  }

  .title {
    margin: 0 0 4px 10px;
    align-self: flex-end;
    text-shadow: 0px 0px 2px rgba(0, 0, 0, 1);
    font-weight: bold;
  }
}

// ICON BUTTON
.btn-icon {
  @extend %raised-hover;
  @extend %box-shadow;
  background-color: #fff;
  border-radius: .25rem;
  color: $black;
  display: block;
  border: none;
  height: calc(100% - 1rem);
  margin-bottom: 1rem;
  padding: 1rem;

  &:hover {
    color: $black;
  }

  .title {
    font-size: 1.5rem;
    margin-bottom: .5rem;
  }
}

// CARD
.card {
  border: none;
  box-shadow: $basic-shadow;

  .list-group-item.active {
    background-color: $primary;
    border-color: $primary;
  }
}

// CONTRIBUTE BOX
.contribute {
  color: $dark;
  background: $light;
}

// INFOBOX WITH ICON
.infobox-icon {
  box-shadow: $basic-shadow;
  background-color: #fff;
  border-radius: .25rem;
  color: $black;
  display: block;
  border: none;
  height: calc(100% - 1rem);
  margin-bottom: 1rem;
  padding: 1rem;
  font-size: 1.25rem;
}

// BADGES
.badge-primary {
  background-color: $primary;
}

a.badge-primary:hover,
a.badge-primary:focus {
  background-color: darken($primary, 20%);
}

a.badge-primary:focus {
  box-shadow: 0 0 0 .2rem rgba($primary,.25);
}

.badge-secondary {
  background-color: $secondary;
}

a.badge-secondary:hover,
a.badge-secondary:focus {
  background-color: darken($secondary, 20%);
}

a.badge-secondary:focus {
  box-shadow: 0 0 0 .2rem rgba($secondary, 0.16);
}

// LEAFLET MAP
.leaflet-map {
  box-shadow: $basic-shadow;
  border-radius: .25rem;
  height: 100%;
  min-height: 300px;
  width: 100%;
}

// DATATABLE | the DataTables CSS file is loaded after this file, so this section requires some !important tags
.dataTables_wrapper thead tr th {
  border-top: none;
}

.dataTables_wrapper input.form-control:focus, .dataTables_wrapper select.custom-select:focus {
  border-color: $secondary;
  box-shadow: 0 0 0 .2rem rgba(94, 39, 80, 0.16);
}

.dataTables_wrapper .paginate_button.page-item .page-link:focus {
  box-shadow: none !important;
}

.dataTables_wrapper .paginate_button.page-item:not(.disabled) .page-link {
  color: $dark;
}

.dataTables_wrapper .paginate_button.page-item.active .page-link {
  background-color: $secondary;
  border-color: $secondary;
  color: $white;

  &:hover {
    border-color: darken($secondary, 5%);
    background-color: darken($secondary, 5%);
  }

  &:active, &:focus {
    border-color: darken($secondary, 5%) !important;
    background-color: darken($secondary, 5%) !important;
  }
}

// TIMELINE
#timeline {
  box-shadow: $basic-shadow;
  width: 100%;
  border-radius: .25rem;

  .tl-slide,
  .tl-timeaxis-background {
    background-color: $very-light;
  }

  .tl-attribution {
    display: none;
  }

  .tl-timenav {
    background-color: $light;
  }
}


// CONTRIBUTE BOX
.contribute {
  background: $light;
}

// PHOTO GALLERY
.gallery a {
  @extend %raised-hover;
  @extend %box-shadow;
  background-position: center;
  border-radius: .25rem;
  display: inline-block;
  padding-bottom: calc(25% - 1rem);
  width: calc(25% - 1rem);
  margin: 0 1rem 1rem 0;

  @media (max-width: 768px) {
    padding-bottom: calc(50% - 1rem);
    width: calc(50% - 1rem);
  }
}

// RETURN BAR WHEN IN A SUBSITE
.return-bar {
  background-color: $light;
  padding: 4px 0;
}

// PAGES
// PROJECT PAGES
body.projects,
body.single-project {

  .card .card-img-top {
    padding: 1.25rem;
  }

  .card i {
    margin-right: .25rem;
  }
}

body.single-project {
  .card-img-wrapper {
    position: relative;
  }

  #partners .btn-thumbnail {
    background-color: $white;
    height: 100%;
    min-height: 136px;
    padding: 1rem;

    img {
      height: 100%;
      max-height: 136px;
      width: 100%;
      object-fit: contain;
    }
  }

  #news img {
    width: 6rem;
  }
}

// CITY SUBSITE
body.city-subsite {

  #img-city {
    background-position: center;
    width: 100%;
    height: 60vh;
    position: sticky;
    top: 0;

    .black-cover {
      background-color: $black;
      opacity: .3;
      width: 100%;
      height: 100%;
    }

    .city-name {
      font-weight: bold;
      font-size: 2.5rem;
      position: absolute;
      text-shadow: 0px 0px 2px rgba(0, 0, 0, 1);
      color: $light;
      bottom: 1rem;
    }
  }

  .down-city-name {
    font-weight: bold;
    text-align: center;
    background-color: $light;
    position: fixed;
    width: 100%;
    height: 40px;
    line-height: 40px;
    font-size: 1rem;
    top: 0;
    opacity: 0;
    transition: .3s;
    z-index: 500000;
    pointer-events: none;
    box-shadow: 0 2px 2px 2px rgba(0, 0, 0, 0.1);

    a {
      float: left;
    }
  }

  &.scrolled-down .down-city-name {
    pointer-events: unset;
    opacity: 1;
  }

  .navbar-city {
    background-color: $light;
    padding-bottom: .2rem;
    padding-top: .2rem;

    a.nav-link {
      color: $primary !important;

      &:hover {
        color: darken($primary, 20%) !important;
        text-decoration: none !important;
      }
    }
  }
}

// EVENT AND NEWS LIST PAGES
body.event.list {
  .btn-card img {
    height: 180px;
    object-fit: cover;
  }
}

// SINGLE EVENT AND NEWS PAGE
body.event,
body.news {

  article img {
    border-radius: .25rem;
  }

  article p {
    margin-bottom: 2rem;
  }

  .btn-group.share a i {
    margin-right: 0;
    color: $primary;
  }

  .basic-info.card {
    margin-bottom: 4rem;
  }
}

// GENERIC ARTICLE PAGE
body.article {

  .card .card-body {
    padding-bottom: 0;
  }

  @media (max-width: 991px) {
    .content-wrap {
      display: flex;
      flex-direction: column;

      article {
        order: 0;
      }

      aside {
        order: 1;
      }
    }
  }

  @media (min-width: 992px) {
    aside {
      margin: 0 0 1rem 1rem;
      float: right;
    }
  }

}

// FORUM
body.forum {

  thead th {
    border-top: none;
  }

  th.topic {
    min-width: 50%;
  }

  .avatar {
    border-radius: 500px;
    height: 30px;
    line-height: 30px;
    width: 30px;
    margin-right: .1rem;

    &.plus {
      background-color: $gray;
      font-weight: bold;
      text-align: center;
      color: $light;
      display: inline-block;
    }
  }

  .narrow-cell {
    width: 100px;
  }

  &.topic {

    .single-message,
    form {
      background-color: $white;
      box-shadow: $basic-shadow;
      border-radius: .25rem;
      margin-bottom: 1rem;
      width: 100%;
      padding: 1rem;
    }

    .single-message {

      .text img {
        width: 100%;
        border-radius: .25rem;
        margin-bottom: 1rem;
      }

      .text p:last-of-type {
        margin-bottom: 0;
      }

      .text blockquote {
        font-size: 1rem;
        background-color: $very-light;
        padding: .25rem;
        padding-left: .5rem;
        border-left: .25rem solid $gray;
      }
    }
  }
}