@import url(https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic&subset=latin);
.gallery a, a.large-icon-box, .btn-icon, .btn-thumbnail, .btn-card {
  transition: all .1s;
  text-decoration: none !important; }
  .gallery a:hover, a.large-icon-box:hover, .btn-icon:hover, .btn-thumbnail:hover, .btn-card:hover {
    transform: translateY(-3px); }

.gallery a, a.large-icon-box, .btn-icon, .btn-thumbnail, .btn-card {
  transition: all .1s;
  box-shadow: none;
  text-decoration: none !important; }
  .gallery a:hover, a.large-icon-box:hover, .btn-icon:hover, .btn-thumbnail:hover, .btn-card:hover {
    box-shadow: none; }

body {
  background-color: #fcfcfc;
  font-family: Lato, Helvetica Neue, Arial, Helvetica, sans-serif; }

section {
  padding: 2rem 0; }
  section.extra {
    padding: 4rem 0; }
  section:first-of-type {
    padding-top: 0; }
  section:last-of-type {
    padding-bottom: 0; }

pre {
  white-space: pre-line; }

form label.category {
  font-weight: bold;
  font-size: 1.25rem; }

.main-content.container {
  padding-top: 36px;
  padding-bottom: 36px; }

.avatar {
  border-radius: 100%;
  object-fit: cover;
  width: 3rem;
  height: 3rem;
  vertical-align: middle; }
  .avatar.letter {
    display: inline-block;
    text-align: center;
    background-color: #144d58;
    color: #fbfbfb;
    line-height: 3rem;
    font-size: 1.5rem; }

.list-group-item {
  background-color: transparent; }

p a {
  text-decoration: underline;
  text-decoration-thickness: 1px; }

.scroll-to-id {
  cursor: pointer; }

#admin-controls {
  position: fixed;
  right: 0;
  top: 75px; }
  #admin-controls a {
    text-align: left;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0; }

.sticky-top {
  top: 1rem; }

.cursor-pointer {
  cursor: pointer; }

.custom-control-input:focus:not(:checked) ~ .custom-control-label::before {
  border-color: #efefef; }

.select2-results__option[aria-disabled="true"],
*::placeholder {
  color: #000 !important;
  opacity: .25 !important; }

.custom-file label.custom-file-label {
  overflow: hidden; }

.top-layer {
  box-shadow: 0 2px 2px 2px rgba(0, 0, 0, 0.1);
  background-color: #144d58;
  background-repeat: no-repeat;
  background-position: 50%;
  background-size: cover;
  z-index: 10000; }
  .top-layer .breadcrumb {
    padding: 0;
    background-color: transparent; }
    .top-layer .breadcrumb a {
      color: #CF4803; }
      .top-layer .breadcrumb a:hover {
        color: #9d3702; }
    .top-layer .breadcrumb .breadcrumb-item:before {
      color: #CF4803; }
    .top-layer .breadcrumb .breadcrumb-item.active {
      color: #fff; }
  .top-layer .img-header {
    height: 800px;
    max-height: 75vh;
    background-size: cover; }

nav.navbar {
  padding-top: 1rem;
  padding-bottom: 1rem; }

nav .navbar-brand {
  padding: 0 0 4px 0; }
  nav .navbar-brand img {
    height: 52px; }

nav .dropdown-menu {
  box-shadow: 0 4px 2px -2px rgba(0, 0, 0, 0.3);
  z-index: 1030; }
  nav .dropdown-menu a {
    color: #212529; }

nav .dropdown.projects-dropdown {
  position: unset; }
  nav .dropdown.projects-dropdown .projects-dropdown-menu {
    padding: 15px; }
    @media (min-width: 992px) {
      nav .dropdown.projects-dropdown .projects-dropdown-menu {
        left: 0;
        right: 0;
        margin-top: -0.875rem;
        margin-left: auto;
        margin-right: auto;
        max-width: 930px; } }
    @media (min-width: 1200px) {
      nav .dropdown.projects-dropdown .projects-dropdown-menu {
        max-width: 1110px; } }
    nav .dropdown.projects-dropdown .projects-dropdown-menu a {
      display: block;
      padding-bottom: .125rem;
      padding-top: .125rem; }
      nav .dropdown.projects-dropdown .projects-dropdown-menu a:hover {
        background-color: #f8f9fa; }

nav li.nav-item:not(:last-of-type) {
  margin-right: 1rem; }

nav a.nav-link {
  color: #fff !important;
  opacity: .7 !important; }
  nav a.nav-link:hover, nav a.nav-link.active {
    opacity: 1 !important; }
  nav a.nav-link.dropdown-toggle[aria-expanded="true"] {
    opacity: 1 !important; }

.jumbotron {
  background: unset;
  margin-bottom: 0;
  padding: 3rem 0; }
  .jumbotron h1 {
    font-weight: bold; }
  .jumbotron .lead {
    font-weight: normal; }

footer {
  padding: 36px 0; }
  footer .translate-input {
    max-width: 200px; }
  footer#involved {
    background-image: url("/static/img/footer.jpg");
    background-color: #000;
    color: #efefef; }
    footer#involved form {
      max-width: 600px; }
      footer#involved form input {
        background-color: transparent;
        border-color: #efefef;
        color: #efefef;
        width: unset; }
        footer#involved form input:focus {
          box-shadow: 0 0 0 0.2rem rgba(255, 255, 255, 0.25);
          color: #efefef; }
        footer#involved form input::placeholder {
          color: rgba(239, 239, 239, 0.5); }
  footer#sitemap {
    background-color: #efefef; }
    footer#sitemap .header {
      color: #CF4803; }
    footer#sitemap .projects-category {
      font-weight: bold;
      margin-bottom: .25rem;
      color: #212529;
      font-size: 1.1rem; }
    footer#sitemap a {
      display: block;
      padding-bottom: .125rem;
      padding-top: .125rem; }
  footer#info {
    background-color: #212529;
    padding-top: 30px;
    color: #efefef; }
    footer#info img.main-logo {
      max-width: 300px;
      width: 100%; }
    footer#info img.second-logo {
      max-width: 200px;
      width: 80%; }
    footer#info a {
      color: #efefef; }
      footer#info a:hover {
        color: #fff;
        text-decoration: none; }
    footer#info i {
      margin-right: 6px; }
    footer#info .links a {
      display: block; }
    footer#info .social i {
      font-size: 1.5rem;
      margin-right: 12px; }

.loading-big-page {
  position: absolute;
  left: 0;
  top: 0;
  background-color: rgba(33, 37, 41, 0.65);
  transition: opacity 2s;
  opacity: 0;
  pointer-events: none;
  height: 100%;
  width: 100%;
  color: #fff;
  padding-top: 40vh; }
  .loading-big-page.active {
    opacity: 1; }

.btn {
  text-decoration: none !important; }

.btn:not(.btn-icon) i {
  margin-right: .35rem; }

.btn:focus {
  box-shadow: none !important; }

.btn-default {
  background-color: #212529;
  border-color: #212529;
  color: #fbfbfb; }
  .btn-default:hover {
    border-color: #16181b;
    background-color: #16181b;
    color: #fbfbfb; }
  .btn-default:active, .btn-default:focus {
    border-color: #16181b !important;
    background-color: #16181b !important; }

.btn-default-outline {
  background-color: transparent;
  border-color: #212529;
  color: #212529; }
  .btn-default-outline:hover {
    border-color: #212529;
    background-color: rgba(33, 37, 41, 0.1);
    color: #212529; }
  .btn-default-outline:active, .btn-default-outline:focus {
    border-color: #212529 !important;
    background-color: rgba(33, 37, 41, 0.1) !important;
    color: #212529; }

.btn-default-basic {
  background-color: transparent;
  border-color: transparent;
  color: #212529; }
  .btn-default-basic:hover {
    background-color: rgba(33, 37, 41, 0.1);
    border-color: transparent;
    color: #212529; }

.btn-inverse {
  background-color: #efefef;
  border-color: #efefef;
  color: #212529; }
  .btn-inverse:hover {
    border-color: #e2e2e2;
    background-color: #e2e2e2;
    color: #212529; }
  .btn-inverse:active, .btn-inverse:focus {
    border-color: #e2e2e2 !important;
    background-color: #e2e2e2 !important; }

.btn-inverse-outline {
  background-color: transparent;
  border-color: #efefef;
  color: #efefef; }
  .btn-inverse-outline:hover {
    border-color: #efefef;
    background-color: rgba(239, 239, 239, 0.1);
    color: #efefef; }
  .btn-inverse-outline:active, .btn-inverse-outline:focus {
    border-color: #efefef !important;
    background-color: rgba(239, 239, 239, 0.1) !important;
    color: #efefef; }

.btn-inverse-basic {
  background-color: transparent;
  border-color: transparent;
  color: #efefef; }
  .btn-inverse-basic:hover {
    background-color: rgba(239, 239, 239, 0.1);
    border-color: transparent;
    color: #efefef; }

.btn-cityloops-primary {
  background-color: #004d76;
  border-color: #004d76;
  color: #fff !important; }
  .btn-cityloops-primary:hover {
    border-color: #003c5d;
    background-color: #003c5d; }
  .btn-cityloops-primary:active, .btn-cityloops-primary:focus {
    border-color: #003c5d !important;
    background-color: #003c5d !important; }

.btn-cityloops-secondary {
  background-color: #00b6ed;
  border-color: #00b6ed;
  color: #fff !important; }
  .btn-cityloops-secondary:hover {
    border-color: #00a2d4;
    background-color: #00a2d4; }
  .btn-cityloops-secondary:active, .btn-cityloops-secondary:focus {
    border-color: #00a2d4 !important;
    background-color: #00a2d4 !important; }

img.card-img-top {
  object-fit: cover;
  height: 200px; }

img.tall-img {
  height: 300px; }

.btn-card {
  color: #212529;
  height: 100%;
  border: none; }
  .btn-card:hover {
    color: #212529; }
  .btn-card.video i.fa-play-circle {
    color: #fff;
    font-size: 6rem;
    left: calc(50% - 3rem);
    position: absolute;
    top: calc(50% - 3rem); }
  .btn-card.contain img.card-img-top {
    object-fit: contain; }
  .btn-card .card-body {
    background-color: #efefef;
    border-bottom-left-radius: .25rem;
    border-bottom-right-radius: .25rem; }
    .btn-card .card-body.media img {
      width: 100px;
      height: 50px;
      object-fit: cover; }
  .btn-card .card-header {
    border-bottom-left-radius: .25rem;
    border-bottom-right-radius: .25rem; }

.markdown-textarea markdown-toolbar {
  padding: .375rem;
  display: block;
  border: 1px solid #ced4da;
  border-bottom-width: 0;
  border-top-left-radius: .25rem;
  border-top-right-radius: .25rem;
  background-color: #fff; }
  .markdown-textarea markdown-toolbar i {
    margin-right: 0 !important; }

.markdown-textarea textarea {
  border-top-left-radius: 0;
  border-top-right-radius: 0; }

.markdown-help table tbody tr td:first-of-type {
  font-family: "Ubuntu Mono", "Fira Mono", "Liberation Mono", "Courier New", monospace;
  width: 50%; }

.markdown-help table,
.markdown-help table ul,
.markdown-help table ol {
  margin-bottom: 0; }

.markdown-help .card-body {
  padding-bottom: .5rem; }

.markdown-help i.fa-times {
  line-height: 1.5rem;
  cursor: pointer;
  float: right; }
  .markdown-help i.fa-times:hover {
    color: #fff; }

blockquote {
  font-size: 1rem;
  background-color: #efefef;
  padding: .25rem;
  padding-left: .5rem;
  border-left: 0.25rem solid #808080;
  margin: .5rem 0; }

.alert-light {
  color: #212529;
  background-color: #fbfbfb;
  border-color: #efefef; }

.swal-modal {
  border-radius: .25rem;
  box-shadow: 1px 1px 2px 0px rgba(0, 0, 0, 0.2); }

.swal-footer {
  background-color: #fbfbfb;
  border-top: 1px solid #efefef; }

.swal-button {
  background-color: #144d58;
  color: #fff;
  border-radius: .25rem;
  padding: .375rem .75rem;
  transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
  font-size: 1rem;
  line-height: 1.5; }
  .swal-button:hover {
    border-color: #0f3b43 !important;
    background-color: #0f3b43 !important; }
  .swal-button:focus {
    box-shadow: none !important; }
  .swal-button:active, .swal-button:focus {
    background-color: #144d58 !important; }
  .swal-button.swal-button--cancel {
    background-color: transparent !important;
    color: #144d58 !important; }
    .swal-button.swal-button--cancel:hover {
      background-color: rgba(20, 77, 88, 0.1) !important;
      color: #144d58 !important; }
  .swal-button.swal-button--danger {
    background-color: #dc3545 !important; }
    .swal-button.swal-button--danger:hover {
      background-color: #c82333 !important; }
    .swal-button.swal-button--danger:focus {
      background-color: #c82333 !important; }

.btn-thumbnail {
  border-radius: 4px;
  color: white;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  font-size: 1.2rem;
  height: 200px;
  width: 100%; }
  .btn-thumbnail:hover {
    color: white;
    text-decoration: none; }
  .btn-thumbnail.small {
    height: 100px; }
  .btn-thumbnail .title {
    margin: 0 0 4px 10px;
    align-self: flex-end;
    text-shadow: 0px 0px 2px black;
    font-weight: bold; }

.btn-icon {
  background-color: #fff;
  border-radius: .25rem;
  color: #000;
  cursor: pointer;
  display: block;
  height: calc(100% - 1rem);
  margin-bottom: 1rem;
  padding: 1rem;
  text-align: left;
  width: 100%;
  border: 1px solid #00000020; }
  .btn-icon:hover {
    color: #000; }
  .btn-icon .title {
    font-size: 1.5rem;
    margin-bottom: .5rem; }

.card .card-header {
  background-color: #144d58;
  color: #fbfbfb;
  font-weight: bold; }

.card .list-group-item.active {
  background-color: #144d58;
  border-color: #144d58; }

.card.icon-card {
  height: 100%;
  border: none; }
  .card.icon-card .icon {
    height: 128px;
    font-size: 4rem;
    text-align: center;
    padding: 1rem 0;
    background-color: rgba(20, 77, 88, 0.25);
    border-top-left-radius: .25rem;
    border-top-right-radius: .25rem; }
  .card.icon-card .card-header {
    text-align: center; }
  .card.icon-card .card-body {
    background-color: #efefef;
    border-bottom-left-radius: .25rem;
    border-bottom-right-radius: .25rem; }

.card-table table {
  margin-bottom: 0;
  border-radius: .25rem; }
  .card-table table th {
    border-top: none; }
    .card-table table th:first-of-type {
      border-top-left-radius: .25rem; }
    .card-table table th:last-of-type {
      border-top-right-radius: .25rem; }

.list-group-item.table-item {
  display: table;
  width: 100%;
  table-layout: fixed; }
  .list-group-item.table-item > div {
    display: table-cell;
    vertical-align: middle; }
    .list-group-item.table-item > div:last-of-type {
      text-align: right; }

.list-group .list-group-item {
  padding: .75rem 1rem; }

.contribute.card {
  box-shadow: 1px 1px 2px 0px rgba(0, 0, 0, 0.2);
  color: #fbfbfb;
  background-color: #ff9d00;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 1600 800'%3E%3Cg stroke='%23000' stroke-width='66.7' stroke-opacity='0.05' %3E%3Ccircle fill='%23ff9d00' cx='0' cy='0' r='1800'/%3E%3Ccircle fill='%23fb8d17' cx='0' cy='0' r='1700'/%3E%3Ccircle fill='%23f47d24' cx='0' cy='0' r='1600'/%3E%3Ccircle fill='%23ed6e2d' cx='0' cy='0' r='1500'/%3E%3Ccircle fill='%23e35f34' cx='0' cy='0' r='1400'/%3E%3Ccircle fill='%23d85239' cx='0' cy='0' r='1300'/%3E%3Ccircle fill='%23cc453e' cx='0' cy='0' r='1200'/%3E%3Ccircle fill='%23be3941' cx='0' cy='0' r='1100'/%3E%3Ccircle fill='%23b02f43' cx='0' cy='0' r='1000'/%3E%3Ccircle fill='%23a02644' cx='0' cy='0' r='900'/%3E%3Ccircle fill='%23901e44' cx='0' cy='0' r='800'/%3E%3Ccircle fill='%23801843' cx='0' cy='0' r='700'/%3E%3Ccircle fill='%236f1341' cx='0' cy='0' r='600'/%3E%3Ccircle fill='%235e0f3d' cx='0' cy='0' r='500'/%3E%3Ccircle fill='%234e0c38' cx='0' cy='0' r='400'/%3E%3Ccircle fill='%233e0933' cx='0' cy='0' r='300'/%3E%3Ccircle fill='%232e062c' cx='0' cy='0' r='200'/%3E%3Ccircle fill='%23210024' cx='0' cy='0' r='100'/%3E%3C/g%3E%3C/svg%3E");
  background-attachment: fixed;
  background-size: cover; }

.infobox-icon {
  box-shadow: 1px 1px 2px 0px rgba(0, 0, 0, 0.2);
  background-color: #fff;
  border-radius: .25rem;
  color: #000;
  display: block;
  border: none;
  height: calc(100% - 1rem);
  margin-bottom: 1rem;
  padding: 1rem;
  font-size: 1.25rem;
  margin: 1rem; }

.large-icon-box {
  box-shadow: 1px 1px 2px 0px rgba(0, 0, 0, 0.2);
  display: block;
  border-radius: .25rem;
  background-color: #fff;
  padding: 1rem;
  position: relative;
  overflow: hidden; }
  .large-icon-box .description {
    font-size: 1.5rem; }
  .large-icon-box .statistic {
    font-size: 3rem; }
  .large-icon-box i {
    font-size: 7rem;
    position: absolute;
    right: -1rem;
    bottom: -1rem; }

a.large-icon-box {
  color: #000; }

.nav-tabs .nav-item.show .nav-link,
.nav-tabs .nav-link.active {
  background-color: transparent;
  border-bottom-color: #fbfbfb; }

.dropdown-toggle::after {
  margin-left: .5rem; }

.badge-cityloops-primary {
  background-color: #004d76;
  color: #fff !important; }

a.badge-cityloops-primary:hover,
a.badge-cityloops-primary:focus {
  background-color: #002c43; }

a.badge-cityloops-primary:focus {
  box-shadow: 0 0 0 0.2rem rgba(0, 77, 118, 0.25); }

.badge-cityloops-secondary {
  background-color: #00b6ed;
  color: #fff !important; }

a.badge-cityloops-secondary:hover,
a.badge-cityloops-secondary:focus {
  background-color: #008fba; }

a.badge-cityloops-secondary:focus {
  box-shadow: 0 0 0 0.2rem rgba(0, 182, 237, 0.15); }

.leaflet-map {
  box-shadow: 1px 1px 2px 0px rgba(0, 0, 0, 0.2);
  border-radius: .25rem;
  height: 100%;
  min-height: 300px;
  width: 100%;
  font-family: Lato, "Helvetica Neue", Arial, Helvetica, sans-serif; }
  .leaflet-map a.btn-primary {
    color: #fff; }
  .leaflet-map .period-toggles,
  .leaflet-map .download-map-wrapper,
  .leaflet-map .clear-map-wrapper {
    border: 2px solid rgba(0, 0, 0, 0.2);
    background-clip: padding-box;
    border-radius: .25rem; }
  .leaflet-map .switch-period,
  .leaflet-map .download-map,
  .leaflet-map .clear-map {
    background-color: #fff;
    cursor: pointer;
    line-height: 30px;
    height: 30px;
    width: 30px;
    text-align: center;
    font-size: 1rem;
    color: #404040;
    border-radius: .25rem; }
    .leaflet-map .switch-period:hover,
    .leaflet-map .download-map:hover,
    .leaflet-map .clear-map:hover {
      background-color: #f4f4f4; }
  .leaflet-map .switch-period.prev {
    display: inline-block;
    border-radius: .25rem 0 0 .25rem; }
  .leaflet-map .switch-period.next {
    display: inline-block;
    border-radius: 0 .25rem .25rem 0; }
  .leaflet-map .switch-period.disabled {
    color: #efefef;
    cursor: not-allowed;
    background-color: #fff; }
  .leaflet-map .current-period {
    background-color: #f4f4f4;
    display: inline-block;
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
    font-size: .75rem;
    padding: 0 .75rem;
    vertical-align: top;
    height: 30px;
    line-height: 30px;
    width: 125px;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis; }
  .leaflet-map .show-world.button {
    width: 30px;
    height: 30px;
    line-height: 30px;
    margin-left: 12px;
    border-radius: 2px;
    box-shadow: 0px 0px 0px 2px rgba(0, 0, 0, 0.2);
    background-color: #fff;
    cursor: pointer;
    font-family: "Font Awesome 5 Pro";
    text-align: center;
    font-size: 14px; }
    .leaflet-map .show-world.button:hover {
      background-color: #f4f4f4; }
    .leaflet-map .show-world.button::before {
      content: "\f7a2"; }
  .leaflet-map .legend {
    line-height: 18px;
    color: #212529;
    background-color: #fbfbfb;
    padding: .5rem;
    border: 2px solid rgba(0, 0, 0, 0.2);
    border-radius: .25rem;
    max-width: 250px; }
  .leaflet-map .legend i {
    width: 16px;
    height: 16px;
    float: left;
    margin-right: 8px;
    opacity: 0.7; }

.leaflet-popup-content-wrapper {
  border-radius: .25rem !important; }
  .leaflet-popup-content-wrapper .leaflet-popup-content {
    line-height: 1 !important; }
  .leaflet-popup-content-wrapper .title {
    font-size: 1.25rem; }
  .leaflet-popup-content-wrapper hr {
    margin: 13px 0 13px -19px;
    width: calc(100% + 38px); }
  .leaflet-popup-content-wrapper img {
    border-radius: .25rem;
    min-width: 200px;
    width: 100%; }

.slider-wrapper {
  border-radius: .25rem;
  padding: .375rem .75rem;
  border: 1px solid #ced4da;
  width: 100%; }

.slider {
  width: 100% !important; }
  .slider * {
    box-shadow: none !important;
    background-image: none !important; }
  .slider .slider-handle {
    background-color: #144d58 !important;
    width: 10px !important;
    height: 10px !important;
    border-radius: 100px !important;
    top: 5px !important; }
  .slider .min-slider-handle {
    margin-left: 0 !important; }
  .slider .max-slider-handle {
    margin-left: -8px !important; }
  .slider .slider-selection {
    background-color: rgba(20, 77, 88, 0.2) !important; }
  .slider .slider-track-low,
  .slider .slider-track-high {
    background-color: #efefef !important; }

div.fancytree-grid-container > table.fancytree-ext-grid {
  width: 100%; }

table.fancytree-container thead th {
  background-color: #efefef !important; }

table.fancytree-container td,
table.fancytree-container th {
  padding: .5rem; }

span.fancytree-node span.fancytree-expander:hover {
  color: #144d58 !important; }

table.fancytree-ext-table {
  font-family: Lato, "Helvetica Neue", Arial, Helvetica, sans-serif !important; }

.fancytree-ext-filter-hide span.fancytree-node.fancytree-submatch span.fancytree-title,
.fancytree-ext-filter-hide tr.fancytree-submatch span.fancytree-title {
  font-weight: normal !important;
  opacity: .25; }

table.fancytree-container mark {
  padding: 0;
  background-color: #CF4803; }

table.fancytree-container a {
  color: #144d58; }

table.fancytree-container .fancytree-active > td {
  background-color: #144d58 !important;
  color: #fbfbfb !important; }
  table.fancytree-container .fancytree-active > td span.fancytree-node span.fancytree-expander,
  table.fancytree-container .fancytree-active > td a {
    color: #fbfbfb !important; }

.dataTables_wrapper thead tr th {
  border-top: none; }

.dataTables_wrapper input.form-control:focus, .dataTables_wrapper select.custom-select:focus {
  border-color: #144d58;
  box-shadow: 0 0 0 0.2rem rgba(20, 77, 88, 0.16); }

.dataTables_wrapper .paginate_button.page-item .page-link:focus {
  box-shadow: none !important; }

.dataTables_wrapper .paginate_button.page-item:not(.disabled) .page-link {
  color: #212529; }

.dataTables_wrapper .paginate_button.page-item.active .page-link {
  background-color: #144d58;
  border-color: #144d58;
  color: #fff; }
  .dataTables_wrapper .paginate_button.page-item.active .page-link:hover {
    border-color: #0f3b43;
    background-color: #0f3b43; }
  .dataTables_wrapper .paginate_button.page-item.active .page-link:active, .dataTables_wrapper .paginate_button.page-item.active .page-link:focus {
    border-color: #0f3b43 !important;
    background-color: #0f3b43 !important; }

table.datatable-card {
  background-color: #fff;
  box-shadow: 1px 1px 2px 0px rgba(0, 0, 0, 0.2);
  border-radius: .25rem;
  margin-bottom: 1rem !important;
  margin-top: 1rem !important; }
  table.datatable-card thead tr th:first-of-type {
    border-top-left-radius: .25rem; }

#timeline {
  box-shadow: 1px 1px 2px 0px rgba(0, 0, 0, 0.2);
  width: 100%;
  border-radius: .25rem; }
  #timeline .tl-slide, #timeline .tl-timeaxis-background {
    background-color: #fbfbfb; }
  #timeline .tl-attribution {
    display: none; }
  #timeline .tl-timenav {
    background-color: #efefef; }

table thead th {
  background-color: #efefef; }

td.has-button {
  padding-top: 0 !important;
  padding-bottom: 0 !important;
  vertical-align: middle !important; }

@media (min-width: 992px) {
  table .narrow-cell {
    width: 100px; }
  table .medium-cell {
    width: 200px; } }

.gallery a {
  background-position: center;
  background-size: cover;
  border-radius: .25rem;
  display: inline-block;
  padding-bottom: 100%;
  width: 100%; }

#baguetteBox-overlay .full-image img {
  border-radius: .25rem; }

#baguetteBox-overlay .full-image figcaption {
  font-family: Lato, "Helvetica Neue", Arial, Helvetica, sans-serif !important;
  line-height: 2 !important;
  font-size: 1.25rem !important;
  background-color: #212529 !important;
  color: #fbfbfb !important; }

.slick-wrapper .slick {
  width: 100%;
  max-height: 400px; }
  .slick-wrapper .slick img {
    max-width: 400px;
    width: 100%;
    object-fit: cover;
    box-shadow: 1px 1px 2px 0px rgba(0, 0, 0, 0.2);
    border-radius: .25rem;
    margin: auto; }

.slick-wrapper .arrows {
  text-align: center;
  font-size: 1.5rem;
  color: #808080; }
  .slick-wrapper .arrows .prev,
  .slick-wrapper .arrows .next {
    cursor: pointer;
    padding: 0 1.5rem; }
    .slick-wrapper .arrows .prev:hover,
    .slick-wrapper .arrows .next:hover {
      color: #000; }

.return-bar,
.sprint-bar {
  background-color: #efefef;
  padding: 4px 0;
  min-height: 32px; }
  .return-bar .badge-light,
  .sprint-bar .badge-light {
    background-color: #efefef; }
  .return-bar .badge i,
  .sprint-bar .badge i {
    font-size: 10px; }
  .return-bar .quick-links,
  .return-bar .badge,
  .sprint-bar .quick-links,
  .sprint-bar .badge {
    line-height: 16px; }
  .return-bar #admin-dropdown,
  .sprint-bar #admin-dropdown {
    height: 24px; }
  .return-bar .dropdown-toggle::after,
  .sprint-bar .dropdown-toggle::after {
    vertical-align: .15em; }
  .return-bar .dropdown-item,
  .sprint-bar .dropdown-item {
    line-height: 1.5 !important; }

.sprint-bar {
  background-color: #96bac8; }

body.projects .card .card-img-top,
body.single-project .card .card-img-top {
  padding: 1.25rem; }

body.projects .card i,
body.single-project .card i {
  margin-right: .25rem; }

body.projects .single-project.hidden {
  display: none; }

body.projects .no-results:not(.visible) {
  display: none; }

body.single-project .card-img-wrapper {
  position: relative;
  border-radius: .25rem; }

body.single-project #partners .btn-thumbnail {
  background-color: #fff;
  height: 100%;
  min-height: 136px;
  padding: 1rem; }
  body.single-project #partners .btn-thumbnail img {
    height: 100%;
    border-radius: .25rem;
    max-height: 136px;
    width: 100%;
    object-fit: contain; }

body.single-project #news img {
  width: 6rem; }

body.city-subsite #img-city {
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 60vh;
  position: relative;
  top: 0; }
  body.city-subsite #img-city.smaller {
    height: 80px; }
  body.city-subsite #img-city .black-cover {
    background-color: #000;
    opacity: .3;
    width: 100%;
    height: 100%; }
  body.city-subsite #img-city .city-name {
    font-weight: bold;
    font-size: 2rem;
    position: absolute;
    text-shadow: 0px 0px 2px black;
    color: #fbfbfb;
    bottom: 1rem; }
  body.city-subsite #img-city a {
    color: #fff; }

body.city-subsite #img-city-wrapper {
  top: -1px; }
  body.city-subsite #img-city-wrapper.is-sticky #navbar-city {
    box-shadow: 1px 1px 2px 0px rgba(0, 0, 0, 0.2); }

body.city-subsite #navbar-city {
  background-color: #efefef; }
  body.city-subsite #navbar-city a.nav-link {
    color: #212529 !important;
    white-space: nowrap; }
    body.city-subsite #navbar-city a.nav-link:hover {
      color: #000 !important; }
  body.city-subsite #navbar-city a.active {
    background: #fff;
    font-weight: bold;
    opacity: 1 !important; }

body.event.list .no-results:not(.visible) {
  display: none; }

body.event article img, body.news article img {
  border-radius: .25rem; }

body.event article p, body.news article p {
  margin-bottom: 2rem; }

body.event .btn-group.share a i, body.news .btn-group.share a i {
  margin-right: 0;
  color: #144d58; }

body.event .basic-info.card, body.news .basic-info.card {
  margin-bottom: 4rem; }

body.article .card .card-body {
  padding-bottom: 0; }

@media (max-width: 991px) {
  body.article .content-wrap {
    display: flex;
    flex-direction: column; }
    body.article .content-wrap article {
      order: 0; }
    body.article .content-wrap aside {
      order: 1; } }

@media (min-width: 992px) {
  body.article aside {
    margin: 0 0 1rem 1rem;
    float: right; } }

.forum thead th {
  border-top: none; }

.forum th.topic {
  min-width: 50%; }

.forum .avatar {
  height: 30px;
  line-height: 30px;
  width: 30px;
  margin-right: .25rem; }

.forum .avatar-line-height {
  line-height: 30px; }

.forum .single-message {
  margin-bottom: 1rem; }
  .forum .single-message hr {
    margin-left: -1.25rem;
    width: calc(100% + 2.5rem); }
  .forum .single-message .text img {
    width: 100%;
    border-radius: .25rem;
    margin-bottom: 1rem; }
  .forum .single-message .text p:first-of-type {
    display: inline-block; }
  .forum .single-message .text p:last-of-type {
    margin-bottom: 0; }

body.forum.list table {
  margin-bottom: 0; }

body.forum.list .no-results {
  border-top-left-radius: 0;
  border-top-right-radius: 0; }
  body.forum.list .no-results:not(.visible) {
    display: none; }

body.forum.form .markdown-help {
  display: none;
  margin-top: 1rem; }

body.forum.topic .reply {
  margin-bottom: 1rem; }

body.dataset {
  background-color: #fff; }
  body.dataset .tab-divider {
    margin: 15px 0 15px -20px;
    width: calc(100% + 40px); }
  body.dataset .nav.nav-pills {
    flex-wrap: nowrap;
    overflow-x: auto;
    white-space: nowrap; }
  body.dataset .tab-pane {
    height: 500px;
    max-height: 100vh; }
  body.dataset #tab-chart #chart {
    max-height: 100vh; }
  body.dataset #tab-chart .highcharts-title,
  body.dataset #tab-chart .highcharts-subtitle {
    display: none; }
  body.dataset #map {
    height: 500px;
    width: 100%;
    border-radius: .25rem; }
  body.dataset #tab-data .fa-spin {
    animation: fa-spin 1s linear infinite; }
  body.dataset .rating .number {
    display: inline-block;
    margin-right: 1rem;
    padding: 0 8px;
    border-radius: .25rem; }
  body.dataset .rating .graph {
    display: inline-block;
    vertical-align: middle; }
    body.dataset .rating .graph span {
      height: 4px;
      width: 8px;
      display: block;
      background-color: #efefef;
      margin-bottom: 1px; }
      body.dataset .rating .graph span:first-of-type {
        border-top-right-radius: .125rem;
        border-top-left-radius: .125rem; }
      body.dataset .rating .graph span:last-of-type {
        margin-bottom: 0;
        border-bottom-right-radius: .125rem;
        border-bottom-left-radius: .125rem; }
  body.dataset .rating[data-rating="1"] .full {
    background-color: #28a745; }
  body.dataset .rating[data-rating="1"] .number {
    background-color: #28a745;
    color: #fff; }
  body.dataset .rating[data-rating="2"] .full {
    background-color: #144d58; }
  body.dataset .rating[data-rating="2"] .number {
    background-color: #144d58;
    color: #fff; }
  body.dataset .rating[data-rating="3"] .full {
    background-color: #ffc107; }
  body.dataset .rating[data-rating="3"] .number {
    background-color: #ffc107; }
  body.dataset .rating[data-rating="4"] .full {
    background-color: #CF4803; }
  body.dataset .rating[data-rating="4"] .number {
    background-color: #CF4803; }
  body.dataset .rating[data-rating="5"] .full {
    background-color: #dc3545; }
  body.dataset .rating[data-rating="5"] .number {
    background-color: #dc3545; }

iframe.dataset {
  width: 100%;
  border: none;
  min-height: 700px; }

iframe.libraryitem {
  width: 100%;
  border: none;
  min-height: 400px; }
  iframe.libraryitem body {
    background-color: transparent; }

body.dataset.editor .preview-wrap {
  padding: 1rem;
  border: 1px solid #808080;
  border-radius: .25rem; }

body.dataset.editor #color-schemes .single-scheme {
  padding: .5rem;
  cursor: pointer;
  border-radius: .25rem;
  border: 1px solid #efefef; }
  body.dataset.editor #color-schemes .single-scheme.active {
    background-color: #efefef;
    border-color: #ced4da; }

body.dataset.editor #color-schemes .single-color {
  height: 2rem; }
  body.dataset.editor #color-schemes .single-color:first-child {
    border-top-left-radius: .25rem;
    border-bottom-left-radius: .25rem; }
  body.dataset.editor #color-schemes .single-color:last-child {
    border-top-right-radius: .25rem;
    border-bottom-right-radius: .25rem; }

body.dataset.editor input#tooltip-label {
  font-family: "Ubuntu Mono", "Fira Mono", "Liberation Mono", "Courier New", monospace; }

body.dataset.editor.map .single-bucket {
  margin-bottom: .5rem; }

.highcharts-container .highcharts-drillup-button {
  cursor: pointer; }
  .highcharts-container .highcharts-drillup-button text {
    fill: #fff !important; }

body.team .single-person {
  margin-bottom: 2rem; }
  body.team .single-person .card-img-block img {
    width: 100%;
    height: 125px;
    object-fit: cover;
    border-top-right-radius: .25rem;
    border-top-left-radius: .25rem; }
  body.team .single-person .details {
    padding: 1rem;
    background-color: #fbfbfb;
    border-bottom: 1px solid #efefef; }
    body.team .single-person .details img {
      display: inline-block;
      width: 50px;
      height: 50px;
      border-radius: .25rem;
      margin-right: .5rem;
      border: 1px solid #efefef; }
    body.team .single-person .details .meta {
      vertical-align: middle;
      display: inline-block;
      width: calc(100% - .5rem - 50px); }
      body.team .single-person .details .meta .name {
        font-weight: bold; }
  body.team .single-person .description .show-more {
    display: none; }
  body.team .single-person .description.limited {
    height: 125px;
    overflow: hidden; }
    body.team .single-person .description.limited .show-more {
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      display: block; }
      body.team .single-person .description.limited .show-more .fade-as {
        position: absolute;
        width: 100%;
        display: block;
        bottom: 25px;
        height: 75px;
        background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, white 100%); }
      body.team .single-person .description.limited .show-more .button {
        cursor: pointer;
        text-align: center;
        line-height: 25px;
        background-color: #efefef;
        height: 25px;
        border-bottom-right-radius: .25rem;
        border-bottom-left-radius: .25rem;
        color: #212529;
        transition: .2s; }
        body.team .single-person .description.limited .show-more .button:hover {
          background-color: #d6d6d6; }
  body.team .single-person .description p:last-of-type {
    margin-bottom: 0; }

body.datahub .updates .list-group-item.table-item > div:last-of-type {
  width: 80px; }

body.full.map .leaflet-map {
  position: sticky !important;
  height: calc(100vh - 140px); }

body.full.map .container.main-content {
  margin: 0 !important;
  width: 100% !important;
  max-width: unset !important; }

body.full.map #map-control .card-header.collapsed {
  border-radius: calc(.25rem - 1px); }

body.full.map #map-control .list-group-item > i:first-of-type,
body.full.map #map-control .card-header > i:first-of-type {
  margin-right: .25rem; }

body.full.map #map-control .list-group.list-group-flush {
  display: none; }

body.full.map #map-control .card-header {
  cursor: pointer; }
  body.full.map #map-control .card-header i.fa-angle-down,
  body.full.map #map-control .card-header i.fa-angle-up {
    line-height: 1.5;
    float: right; }

body.full.map #map-control .toggle-layer {
  cursor: pointer; }
  body.full.map #map-control .toggle-layer i.fa-check-circle {
    float: right;
    line-height: 1.5;
    opacity: 0; }
  body.full.map #map-control .toggle-layer:hover {
    background-color: #fbfbfb; }
  body.full.map #map-control .toggle-layer.visible {
    background-color: #efefef; }
    body.full.map #map-control .toggle-layer.visible i.fa-check-circle {
      opacity: 1; }

@media (min-width: 1200px) {
  body.full.map #map-control {
    width: 300px;
    flex: unset; }
  body.full.map .col-map {
    width: calc(100% - 300px);
    max-width: unset;
    flex: unset; } }

body.platformu.admin.map #map {
  height: 600px;
  max-height: 100vh; }

body.platformu.admin.map table {
  margin-bottom: 0; }

body.entity.details table tbody tr:first-of-type > * {
  border-top: 0; }

body.entity.details img {
  border-radius: .25rem;
  max-height: 250px;
  max-width: 100%; }

body.entity.form table i,
body.entity.materials table i {
  margin-right: .5rem; }

body.entity.form table .btn i,
body.entity.materials table .btn i {
  margin-right: 0; }

body.entity.form table tbody tr:first-of-type > *,
body.entity.materials table tbody tr:first-of-type > * {
  border-top: 0; }

body.entity.form table td {
  padding-left: 0;
  padding-right: 0; }

.filter-table .col-filter {
  background-color: #efefef;
  border-radius: .25rem 0 0;
  max-height: calc(100vh - 4rem);
  overflow-y: auto; }

@media (min-width: 768px) {
  .filter-table .col-filter {
    border-radius: .25rem 0 0 .25rem; } }

.filter-table .col-results {
  max-height: calc(100vh - 4rem);
  overflow-y: auto; }

.filter-table table tr td {
  vertical-align: middle; }
  .filter-table table tr td:first-of-type {
    padding-left: 1rem; }
  .filter-table table tr td:last-of-type {
    padding-right: 1rem; }

.filter-table tbody tr:first-of-type > * {
  border-top: 0; }

.filter-table .no-results:not(.visible) {
  display: none; }

.filter-table .tag-filter .nav-link {
  cursor: pointer; }

body.entity.materials table.users td {
  padding-left: 0;
  padding-right: 0; }

body.entity.materials #add-material {
  display: none; }

body.entity.materials .btn-to-top {
  padding-left: 1rem;
  padding-right: 1rem; }

body.metabolism.manager.dashboard .statistics-box .progress {
  height: .25rem; }

body.metabolism.manager.dashboard .statistics-box i {
  font-size: 5rem; }

body.metabolism.manager img.chart {
  max-width: 100%;
  box-shadow: 1px 1px 2px 0px rgba(0, 0, 0, 0.2);
  border-radius: .25rem; }

body.metabolism.manager.material .form-add-photo {
  display: none; }
  body.metabolism.manager.material .form-add-photo input[name="photo-title"] {
    border-radius: 0;
    width: 400px;
    max-width: 30vw; }
  body.metabolism.manager.material .form-add-photo button[type="submit"] {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0; }

body.dataviz img.dataviz {
  border-radius: .25rem;
  box-shadow: 1px 1px 2px 0px rgba(0, 0, 0, 0.2);
  max-width: 100%; }

body.journals .no-results:not(.visible) {
  display: none; }

body.journals .single-journal .card {
  height: 100%; }
  body.journals .single-journal .card .col-cover {
    max-width: 130px; }
  body.journals .single-journal .card img {
    object-fit: contain;
    width: 100px; }

body.journal img.thumbnail {
  width: 100%; }

body.gis.meta .quality-info {
  cursor: pointer; }

body.gis.meta .quality-info-explainer {
  display: none; }

.main-nav-project-1 a.active, .main-nav-project-2 a.active, .main-nav-project-18 a.active {
  border-bottom: 2px solid #fff;
  opacity: 1 !important; }

body.fullwidth .container.main-content {
  margin: 0 !important;
  width: 100% !important;
  max-width: unset !important;
  padding-left: 0;
  padding-right: 0;
  padding-bottom: 0; }
  body.fullwidth .container.main-content > .alert {
    text-align: center; }
  body.fullwidth .container.main-content .fullwidth-wrapper {
    padding-top: 4rem;
    padding-bottom: 4rem;
    background-color: rgba(20, 77, 88, 0.2); }

body.library.search .container.main-content {
  padding: 0 !important;
  margin: 0 !important;
  width: 100% !important;
  max-width: unset !important; }

body.library.search .search-wrapper {
  padding-top: 4rem;
  padding-bottom: 4rem;
  background-color: rgba(20, 77, 88, 0.2); }
  body.library.search .search-wrapper select {
    width: 100% !important; }
  body.library.search .search-wrapper .search-select {
    margin: auto;
    max-width: 800px; }
    body.library.search .search-wrapper .search-select select {
      width: calc(100% - 150px) !important; }
    body.library.search .search-wrapper .search-select .select2-selection {
      height: 4rem !important; }
    body.library.search .search-wrapper .search-select .select2-selection__rendered {
      padding-left: 1rem; }
    body.library.search .search-wrapper .search-select .select2-container--bootstrap4 .select2-selection {
      border-top-right-radius: 0;
      border-bottom-right-radius: 0; }
      body.library.search .search-wrapper .search-select .select2-container--bootstrap4 .select2-selection[aria-expanded="true"] {
        border-bottom-left-radius: 0; }
    body.library.search .search-wrapper .search-select .select2-container--bootstrap4 .select2-selection--single .select2-selection__rendered {
      line-height: 4rem;
      font-size: 1.5rem; }
    body.library.search .search-wrapper .search-select .select2-container--bootstrap4 .select2-selection--single .select2-selection__arrow {
      display: none; }
    body.library.search .search-wrapper .search-select .select2-container {
      display: inline-block; }
  body.library.search .search-wrapper .select2-container--bootstrap4 .select2-selection {
    border: none; }
  body.library.search .search-wrapper button[form="search"] {
    height: 4rem;
    width: 150px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0; }

body.library.search .select2-container--bootstrap4 .select2-dropdown {
  box-shadow: 1px 1px 2px 0px rgba(0, 0, 0, 0.2);
  border: none; }


body.library.search .large-icon-box .statistic {
  font-size: 1rem; }

body.library.search .large-icon-box i {
  font-size: 5rem;
  right: -.5rem;
  bottom: -.5rem; }

body.library.map #map {
  height: 500px; }

body.library.map #article-list {
  position: relative; }
  body.library.map #article-list #list-anchor {
    position: absolute;
    top: -200px; }

body.library.map .single-article:not(.visible) {
  display: none; }

body.library.map .cluster-circle {
  background-color: rgba(20, 77, 88, 0.9);
  color: #fbfbfb;
  border: 2px solid #144d58;
  border-radius: 100%;
  text-align: center;
  font-size: 1rem;
  display: flex;
  justify-content: center;
  flex-direction: column; }

body.library.item .item-title {
  font-size: 2rem; }

body.library.item .btn-icon .title {
  font-size: 1.25rem; }
  body.library.item .btn-icon .title i {
    margin-right: .25rem; }

body.library.item .journal-cover {
  max-width: 100%;
  width: 250px;
  display: block;
  border-radius: .25rem;
  box-shadow: 1px 1px 2px 0px rgba(0, 0, 0, 0.2); }

body.geocode.list .single-item.card {
  height: 100%; }
  body.geocode.list .single-item.card .card-body {
    display: flex;
    flex-direction: column; }
    body.geocode.list .single-item.card .card-body p {
      flex-grow: 1; }
  body.geocode.list .single-item.card .preview {
    display: none; }
  body.geocode.list .single-item.card .close-preview {
    position: absolute;
    right: 20px;
    top: 20px;
    cursor: pointer; }
    body.geocode.list .single-item.card .close-preview:hover {
      color: #dc3545; }

body.geocode.form .levels .form-group {
  display: flex; }

body.geocode.form .levels select,
body.geocode.form .levels input {
  display: inline-block; }

body.geocode.form .levels select {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-right: none;
  width: 5rem;
  text-align: center;
  background-color: #efefef; }

body.geocode.form .levels input {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  width: calc(100% - 5rem - 5px); }

body.stafcp.controlpanel .icon-card .card-header {
  border-bottom-left-radius: .25rem;
  border-bottom-right-radius: .25rem;
  height: 100%; }

body.stafcp.workgrid .btn-filter {
  white-space: nowrap;
  height: 38px; }

body.stafcp.workgrid #filters {
  display: none; }

body.staf.review.session #contentsection table {
  overflow-x: auto;
  white-space: nowrap; }

body.staf.review.session #raw,
body.staf.review.session #map {
  display: none; }

body.staf.review.session #map {
  height: 400px; }

body.staf.review.session table.places:not(.renaming) .rename-input {
  display: none; }

body.staf.review.session table.places.renaming .place-name {
  display: none; }

body.staf.review.session table.places.renaming tbody tr td:first-of-type {
  padding-top: 5.5px;
  padding-bottom: 0; }

body.upload-portal.index .container.main-content {
  margin: 0 !important;
  width: 100% !important;
  max-width: unset !important;
  padding-left: 0;
  padding-right: 0;
  padding-bottom: 0; }

body.upload-portal.index .icon-card .card-header {
  border-bottom-left-radius: .25rem;
  border-bottom-right-radius: .25rem; }

body.upload-portal.index section {
  padding-top: 4rem;
  padding-bottom: 4rem; }

body.upload-portal.index #data,
body.upload-portal.index #geospatial {
  background-color: #efefef; }

body.staf.verify table#data {
  table-layout: fixed; }
  body.staf.verify table#data td {
    max-width: 100px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap; }

body.staf-review .avatar {
  margin-right: .5rem;
  display: inline-block; }

body.staf-review .sidebar .details {
  display: inline-block;
  vertical-align: middle; }

body.staf-review .sidebar .award {
  font-size: 14px;
  margin-bottom: .75rem; }

body.staf-review .sidebar .badge {
  padding: .5em .75em;
  font-size: .75rem;
  margin-right: .5rem;
  line-height: .75rem; }
  body.staf-review .sidebar .badge.pending {
    opacity: .5; }
  body.staf-review .sidebar .badge i {
    font-size: .5rem;
    margin-right: .25rem;
    line-height: .75rem; }

body.staf-review .instructions ol {
  padding-left: 1.25rem; }

.dual-iconbox .card .col.icon {
  max-width: 60px; }
  .dual-iconbox .card .col.icon i {
    font-size: 2rem;
    margin-top: .25rem; }

.dual-iconbox .card .type-details {
  display: inline-block;
  width: calc(100% - 50px); }

body.staf-review.uploaded .list-group-item {
  width: 100%;
  text-align: center;
  border: none; }
  body.staf-review.uploaded .list-group-item:nth-of-type(2) {
    border-left: 1px solid #efefef;
    border-right: 1px solid #efefef; }

body.staf-review.uploaded .statistic {
  display: block;
  font-size: 1.25rem;
  font-weight: bold; }

.address-search .single-autocomplete-result {
  cursor: pointer;
  padding: .5rem;
  margin-bottom: .5rem;
  border-radius: .25rem;
  background-color: #fbfbfb;
  border: 1px solid #efefef; }
  .address-search .single-autocomplete-result:hover {
    border-color: #808080; }

body.work.item .description p:last-of-type {
  margin-bottom: 0; }

body.work.item .subscribers > div:not(:last-of-type) {
  margin-bottom: .125rem; }

body.work.item .forum .single-message {
  width: calc(100% - 2px); }
  body.work.item .forum .single-message .avatar-line-height {
    line-height: unset; }
  body.work.item .forum .single-message .card-body {
    padding: .75rem .75rem 0rem; }
  body.work.item .forum .single-message hr {
    width: calc(100% + 2rem - 8px);
    margin: 0.5rem 0 0.75rem calc(-1rem + 4px); }
  body.work.item .forum .single-message .text p {
    margin-bottom: .75rem; }
    body.work.item .forum .single-message .text p:first-of-type {
      display: inline-block; }

body.material-stocks.landing .container.main-content {
  padding: 0 !important; }

body.material-stocks.landing .landing-image {
  width: 100%;
  min-height: 100vh;
  background-image: url("https://i.imgur.com/IsgSBAy.jpg");
  background-size: cover;
  background-position: center;
  text-align: center;
  padding: 8rem 10vw;
  color: #fbfbfb; }
  body.material-stocks.landing .landing-image .logo {
    max-width: 100%; }

body.material-stocks.landing .top-layer,
body.material-stocks.landing .navbar-nav,
body.material-stocks.landing .return-bar,
body.material-stocks.landing footer {
  display: none; }

body.work.sprint .jumbotron {
  display: none; }

body.work.sprint .container.main-content {
  padding-top: 0; }

body.work.sprint #chat-wrap,
body.work.sprint #updates-wrap {
  border-radius: .25rem;
  margin-bottom: 2rem;
  box-shadow: 1px 1px 2px 0px rgba(0, 0, 0, 0.2); }

body.work.sprint #chat,
body.work.sprint #updates {
  padding: 1rem;
  max-height: 80vh;
  overflow-y: auto; }

body.work.sprint #chat-message-input {
  border: none;
  border-top: 1px solid #efefef;
  border-top-right-radius: 0;
  border-top-left-radius: 0;
  padding-right: 42px;
  height: 50px;
  min-height: 50px; }

body.work.sprint #chat-message-submit {
  border-top-right-radius: 0;
  position: absolute;
  right: 0;
  bottom: 15px;
  color: #144d58;
  padding: 0 1rem 0; }
  body.work.sprint #chat-message-submit:hover {
    color: #CF4803; }

body.work.sprint .single-chat {
  display: block;
  padding: .75rem;
  margin-bottom: .5rem;
  border-radius: .25rem;
  background-color: #efefef;
  max-width: 400px; }

body.work.sprint .from-self {
  text-align: right; }
  body.work.sprint .from-self .single-chat {
    background-color: rgba(20, 77, 88, 0.1); }

body.work.sprint #new-updates {
  border-top-right-radius: 0;
  border-top-left-radius: 0;
  border-color: transparent;
  border-top-color: #efefef; }

body.work.sprint #load-latest {
  color: #144d58;
  cursor: pointer; }

.work-updates .single-update {
  display: block;
  padding: .75rem;
  margin-bottom: .5rem;
  border-radius: .25rem;
  background-color: #fff;
  border: 1px solid #efefef; }
  .work-updates .single-update p {
    display: inline-block;
    margin-bottom: .5rem; }

body.volunteer.portal.home .join-cta {
  background-color: rgba(20, 77, 88, 0.15);
  padding: 2rem; }

body.volunteer.portal.home .single-update {
  box-shadow: 1px 1px 2px 0px rgba(0, 0, 0, 0.2);
  border: none;
  margin-bottom: 1rem; }

body.volunteer.portal.latest .avatar {
  height: 2.5rem;
  width: 2.5rem;
  margin-right: .5rem;
  line-height: 2.5rem; }

body.volunteer.portal.latest th.user,
body.volunteer.portal.latest th.item,
body.volunteer.portal.latest th.date {
  width: 250px; }

.badge-level-1 {
  color: #D1A684; }

.badge-level-2 {
  color: #B4B8BC; }

.badge-level-3 {
  color: #FFCC01; }

.progress-list .progress {
  height: .5rem; }

.resource-list td,
.resource-list th {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis; }

.resource-list th.title,
.resource-list td.title {
  width: 400px !important;
  max-width: 500px; }

.resource-list th:not(.title),
.resource-list td:not(.title) {
  width: 100px; }

.resource-list th.add-image,
.resource-list td.add-image {
  width: 0; }

.resource-list th.author,
.resource-list td.author {
  width: 200px;
  max-width: 250px; }

.item-visualisations #column,
.item-visualisations #bar {
  height: 700px; }

.item-visualisations #map,
.item-visualisations #line,
.item-visualisations #drilldown,
.item-visualisations #pie,
.item-visualisations #area {
  height: 500px; }

.item-visualisations .nav-link {
  padding: .25rem;
  cursor: pointer; }

.item-visualisations .highcharts-button:not(.highcharts-contextbutton) .highcharts-button-box {
  fill: #fff !important;
  stroke: #144d58 !important; }

.item-visualisations .highcharts-button:not(.highcharts-contextbutton) text {
  fill: #144d58 !important; }

.item-visualisations .switch-pie.disabled {
  cursor: not-allowed !important;
  background-color: #144d58 !important;
  border-color: #144d58 !important; }

.item-visualisations .current-pie {
  background: #efefef !important;
  z-index: 1000 !important;
  border-left-color: #144d58 !important;
  border-right-color: #144d58 !important;
  width: 150px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap; }

.space-layers .layer-name {
  width: calc(100% - 25px); }

.space-layers .progress-donuts svg {
  -webkit-transform: rotate(-90deg);
  transform: rotate(-90deg);
  width: 20px;
  margin-top: -4px; }

.space-layers .progress-donuts circle {
  stroke-width: 20;
  fill: none; }

.space-layers .progress-donuts .background-donut {
  stroke-dasharray: 0;
  stroke: #efefef; }

.space-layers .progress-donuts .actual-progress {
  stroke-dasharray: 250;
  stroke: #28a745; }

a {
  color: #228496; }
  a:hover {
    color: #144d58;
    text-decoration: none; }

.border-primary {
  border-color: #144d58 !important; }

.bg-primary {
  background-color: #144d58 !important; }

.bg-secondary {
  background-color: #CF4803 !important; }

.bg-primary-opaque {
  background-color: rgba(20, 77, 88, 0.1) !important; }

.bg-secondary-opaque {
  background-color: rgba(207, 72, 3, 0.1) !important; }

.text-primary {
  color: #144d58 !important; }

.text-secondary {
  color: #CF4803 !important; }

textarea.form-control:focus, input.form-control:focus, select.custom-select:focus,
.select2-container--bootstrap4.select2-container--focus .select2-selection {
  border-color: #144d58 !important;
  box-shadow: 0 0 0 0.2rem rgba(20, 77, 88, 0.25) !important; }

.select2-container--bootstrap4 .select2-results__option--highlighted, .select2-container--bootstrap4 .select2-results__option--highlighted.select2-results__option[aria-selected="true"] {
  background-color: #144d58 !important; }

.custom-control-input:checked ~ .custom-control-label::before {
  border-color: #144d58 !important;
  background-color: #144d58 !important; }

.custom-control-input:not(:disabled):active ~ .custom-control-label::before {
  background-color: rgba(20, 77, 88, 0.25);
  border-color: rgba(20, 77, 88, 0.25); }

.custom-control-input:focus ~ .custom-control-label::before {
  box-shadow: 0 0 0 0.2rem rgba(20, 77, 88, 0.25); }

.custom-file-input:focus ~ .custom-file-label {
  border-color: #144d58;
  box-shadow: 0 0 0 0.2rem rgba(20, 77, 88, 0.25); }

.btn-primary {
  background-color: #144d58;
  border-color: #144d58;
  color: #fff; }
  .btn-primary:hover {
    border-color: #0f3b43;
    background-color: #0f3b43; }
  .btn-primary:active, .btn-primary:focus {
    border-color: #0f3b43 !important;
    background-color: #0f3b43 !important; }

.btn-primary-outline {
  background-color: transparent;
  border-color: #144d58;
  color: #144d58; }
  .btn-primary-outline:hover {
    border-color: #144d58;
    background-color: rgba(20, 77, 88, 0.1);
    color: #144d58; }
  .btn-primary-outline:active, .btn-primary-outline:focus {
    border-color: #144d58 !important;
    background-color: rgba(20, 77, 88, 0.1) !important;
    color: #144d58; }

.btn-primary-light {
  background-color: rgba(20, 77, 88, 0.1);
  border-color: transparent;
  color: #144d58; }
  .btn-primary-light:hover {
    background-color: rgba(20, 77, 88, 0.2);
    border-color: transparent;
    color: #144d58; }

.btn-primary-basic {
  background-color: transparent;
  border-color: transparent;
  color: #144d58; }
  .btn-primary-basic:hover {
    background-color: rgba(20, 77, 88, 0.1);
    border-color: transparent;
    color: #144d58; }

.btn-secondary {
  background-color: #CF4803;
  border-color: #CF4803; }
  .btn-secondary:hover {
    border-color: #b63f03;
    background-color: #b63f03; }
  .btn-secondary:active, .btn-secondary:focus {
    border-color: #b63f03 !important;
    background-color: #b63f03 !important; }

.btn-secondary-outline {
  background-color: transparent;
  border-color: #CF4803;
  color: #CF4803; }
  .btn-secondary-outline:hover {
    border-color: #CF4803;
    background-color: rgba(207, 72, 3, 0.1);
    color: #CF4803; }
  .btn-secondary-outline:active, .btn-secondary-outline:focus {
    border-color: #CF4803 !important;
    background-color: rgba(207, 72, 3, 0.1) !important;
    color: #CF4803; }

.btn-secondary-basic {
  background-color: transparent;
  border-color: transparent;
  color: #CF4803; }
  .btn-secondary-basic:hover {
    background-color: rgba(207, 72, 3, 0.1);
    border-color: transparent;
    color: #CF4803; }

.list-group-item-primary.list-group-item-action {
  color: #228496; }
  .list-group-item-primary.list-group-item-action:hover {
    color: #144d58;
    background-color: rgba(20, 77, 88, 0.1) !important; }
  .list-group-item-primary.list-group-item-action:active, .list-group-item-primary.list-group-item-action:focus {
    color: #144d58;
    background-color: rgba(20, 77, 88, 0.1) !important; }

.list-group-item-danger.list-group-item-action {
  color: #e04b59; }
  .list-group-item-danger.list-group-item-action:hover {
    color: #dc3545;
    background-color: rgba(220, 53, 69, 0.1) !important; }
  .list-group-item-danger.list-group-item-action:active, .list-group-item-danger.list-group-item-action:focus {
    color: #dc3545;
    background-color: rgba(220, 53, 69, 0.1) !important; }

.alert-primary {
  color: #212529;
  background-color: rgba(20, 77, 88, 0.2);
  border-color: rgba(20, 77, 88, 0.2); }

.badge-primary {
  background-color: #144d58; }

a.badge-primary:hover,
a.badge-primary:focus {
  background-color: #010405; }

a.badge-primary:focus {
  box-shadow: 0 0 0 0.2rem rgba(20, 77, 88, 0.25); }

.badge-secondary {
  background-color: #CF4803; }

a.badge-secondary:hover,
a.badge-secondary:focus {
  background-color: #6a2502; }

a.badge-secondary:focus {
  box-shadow: 0 0 0 0.2rem rgba(207, 72, 3, 0.16); }

.nav-pills .nav-link:hover {
  background-color: rgba(20, 77, 88, 0.1);
  color: #144d58; }

.nav-pills .nav-link.active,
.nav-pills .show > .nav-link {
  background-color: rgba(20, 77, 88, 0.25);
  color: #144d58; }

.dropdown-item.active,
.dropdown-item:active {
  background-color: #144d58; }

nav.navbar .projects-category {
  font-weight: bold;
  margin-bottom: .25rem;
  border-bottom: 1px solid rgba(20, 77, 88, 0.25);
  color: #144d58;
  font-size: 17px; }

.dataTables_wrapper input.form-control:focus, .dataTables_wrapper select.custom-select:focus {
  border-color: #144d58;
  box-shadow: 0 0 0 0.2rem rgba(20, 77, 88, 0.16); }

.dataTables_wrapper .paginate_button.page-item .page-link:focus {
  box-shadow: none !important; }

.dataTables_wrapper .paginate_button.page-item:not(.disabled) .page-link {
  color: #212529; }

.dataTables_wrapper .paginate_button.page-item.active .page-link {
  background-color: #144d58;
  border-color: #144d58;
  color: #fff; }
  .dataTables_wrapper .paginate_button.page-item.active .page-link:hover {
    border-color: #0f3b43;
    background-color: #0f3b43; }
  .dataTables_wrapper .paginate_button.page-item.active .page-link:active, .dataTables_wrapper .paginate_button.page-item.active .page-link:focus {
    border-color: #0f3b43 !important;
    background-color: #0f3b43 !important; }

.plotlyjsicon {
  display: none !important; }
