// Variables
$primary-color: #808080;
$logo: 250px;
$address: #fff;
$brown: #cb270d;
// Fonts
@import url(https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic&subset=latin);
// Styles
body {
  background-color: #fcfcfc;
  font-family: Lato, 'Helvetica Neue', Arial, Helvetica, sans-serif;
}
.top-layer {
  background-color: darkred;
  background-image: url(https://resourcewatch.org/static/images/components/layout/header-bg-texture.png);
  background-repeat: no-repeat;
  background-position: 50%;
  background-size: cover;
  z-index: 10000;
}
#actions {
  border-top: 1px solid $primary-color;
  .title {
    color: $brown;
    font-size: 25px;
  }
  a {
    color: $primary-color;
  }
}
#info {
  background-color: #333;
  padding-top: 30px;
  img {
    width: $logo;
  }
  p {
    color: $address;
  }
  h3 {
    color: $address;
  }
}
.anchor {
  a {
    display: inline-block;
    width: 250px;
    height: 250px;
    margin: 15px;
    border-radius: 10px;
    text-align: center;
    text-shadow: 10px 10px 10px #000000;
  }
  a:hover {
    color: $brown;
  }
  .agriculture {
    background-image: url("/static/img/agriculture.jpg");
    background-repeat: no-repeat;
    background-size: cover;
  }
  .construction {
    background-image: url("/static/img/construction.jpg");
    background-repeat: no-repeat;
    background-size: cover;
  }
  .energy {
    background-image: url("/static/img/energy.jpg");
    background-repeat: no-repeat;
    background-size: cover;
  }
  .fishing {
    background-image: url("/static/img/fishing.jpg");
    background-repeat: no-repeat;
    background-size: cover;
  }
  .forestry {
    background-image: url("/static/img/forestry.jpg");
    background-repeat: no-repeat;
    background-size: cover;
  }
  .manufacturing {
    background-image: url("/static/img/agriculture.jpg");
    background-repeat: no-repeat;
    background-size: cover;
  }
  .mining {
    background-image: url("/static/img/mining.jpg");
    background-repeat: no-repeat;
    background-size: cover;
  }
  .retail {
    background-image: url("/static/img/retail.jpg");
    background-repeat: no-repeat;
    background-size: cover;
  }
  .transport {
    background-image: url("/static/img/transport.jpg");
    background-repeat: no-repeat;
    background-size: cover;
  }
  .waste {
    background-image: url("/static/img/waste.jpg");
    background-repeat: no-repeat;
    background-size: cover;
  }
  .water {
    background-image: url("/static/img/water.jpg");
    background-repeat: no-repeat;
    background-size: cover;
  }
  a {
    color: $address;
    font-weight: 1000;
    font-size: 20px;
  }
}
nav {
  &.navbar {
    padding-top: 1rem;
    padding-bottom: 0;
  }
  .navbar-brand {
    margin-right: 30px;
    width: 120px;
    padding: 0 0 4px 0;
    img {
      height: 52px;
    }
  }
  li.dropdown {
    position: unset;
  }
  .container {
    position: relative;
  }
  .dropdown-menu {
    width: calc(100% - 29px);
    top: 56px;
    left: unset;
    right: 14px;
    border-radius: 0;
    margin: 0;
    padding: 0;
    box-shadow: 0 4px 2px -2px rgba(0, 0, 0, 0.3);
    border: 1px solid #5e2750;
    display: block;
    opacity: 0;
    transition: margin-top .2s linear;
    margin-top: -6px;
    pointer-events: none;
    &.show {
      opacity: 1;
      margin-top: 0;
      pointer-events: unset;
    }
    .col {
      padding: 15px;
      &.key {
        background-color: #f6f6f6;
      }
      &:first-of-type {
        border-right: 1px solid #dee2e6;
      }
      &:last-of-type {
        border-left: 1px solid #dee2e6;
      }
    }
    a {
      text-decoration: none;
      color: #666;
      display: block;
      padding: 4px 0 4px 8px;
      &:hover {
        color: #000;
      }
      &.disabled {
        color: #bbb;
        cursor: default;
        &:hover {
          color: #bbb;
        }
      }
    }
  }
  .dropdown-submenu .submenu-title {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 14px;
    margin-bottom: 0;
    padding: 4px 0 4px 8px;
  }
  a.nav-link {
    color: #ffffffc4;
    &:hover {
      color: #ffffff;
    }
    &.dropdown-toggle {
      border-bottom: 2px solid transparent;
      padding: 8px 1.25rem 16px !important;
      &::after {
        display: none;
      }
      &[aria-expanded="true"] {
        border-bottom-color: #fff;
        z-index: 1001;
        color: #ffffff !important;
      }
    }
  }
}
.jumbotron {
  padding: 3rem 0;
  background: unset;
  h1 {
    font-weight: bold;
  }
  .lead {
    font-weight: normal;
  }
}
body.single-project {
  .return-bar {
    background-color: darkred;
    background-image: url(https://resourcewatch.org/static/images/components/layout/header-bg-texture.png);
    background-repeat: no-repeat;
    background-position: 50%;
    background-size: cover;
    z-index: 10000;
    a {
      color: #fff;
      &:hover {
        color: #ccc;
        text-decoration: none;
      }
    }
  }
  nav {
    background-color: #f6f6f6;
    padding-bottom: 1rem;
    box-shadow: 0 1px 1px 1px rgba(0, 0, 0, 0.1);
    a.nav-link {
      padding-left: 1rem !important;
      padding-right: 1rem !important;
      color: #666 !important;
      &:hover {
        color: #000 !important;
      }
    }
  }
}
.contribute {
  background: #cf4803;
}