// VARIABLES
$primary: #e95420;
$secondary: #5e2750;
$black: #000;
$white: #fff;
$dark: #333;
$gray: #808080;
$light: #efefef;
$very-light: #fbfbfb;

// EXTENSIONS
%raised-hover {
  transition: all .3s;
  &:hover {
    transform: translateY(-3px);
  }
}
%box-shadow {
  box-shadow: 1px 1px 2px 0px rgba(0,0,0,0.2);
  transition: all .3s;
  &:hover {
    box-shadow: 0px 10px 20px 0px rgba(0,0,0,0.2);
  }
}

// FONTS
@import url(https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic&subset=latin);

// GLOBALS
body {
  background-color: #fcfcfc;
  font-family: Lato, 'Helvetica Neue', Arial, Helvetica, sans-serif;
}
.main-content.container {
  padding-top: 36px;
  padding-bottom: 36px;
}
a:hover {
  text-decoration: none;
}
.btn-primary {
  background-color: $primary;
  border-color: $primary;
  color: $white;
  &:hover {
    border-color: darken($primary, 5%);
    background-color: darken($primary, 5%);
  }
  &:active,
  &:focus {
    border-color: darken($primary, 5%) !important;
    background-color: darken($primary, 5%) !important;
  }
  &:focus {
    box-shadow: 0 0 0 0.2rem rgba(218, 72, 22, 0.4) !important;
  }
}
.btn-primary-outline {
  background-color: transparent;
  border-color: $primary;
  color: $primary;
  &:hover {
    border-color: $primary;
    background-color: $primary;
    color: $white;
  }
  &:active,
  &:focus {
    border-color: $primary !important;
    background-color: $primary !important;
    color: $white;
  }
  &:focus {
    box-shadow: 0 0 0 0.2rem rgba(218, 72, 22, 0.4) !important;
  }
}
.btn-secondary {
  background-color: $secondary;
  border-color: $secondary;
  &:hover {
    border-color: darken($secondary, 5%);
    background-color: darken($secondary, 5%);
  }
  &:active,
  &:focus {
    border-color: darken($secondary, 5%) !important;
    background-color: darken($secondary, 5%) !important;
  }
  &:focus {
    box-shadow: 0 0 0 0.2rem rgba(76, 32, 65, 0.4) !important;
  }
}
.btn-secondary-outline {
  background-color: transparent;
  border-color: $secondary;
  color: $secondary;
  &:hover {
    border-color: $secondary;
    background-color: $secondary;
    color: $white;
  }
  &:active,
  &:focus {
    border-color: $secondary !important;
    background-color: $secondary !important;
    color: $white;
  }
  &:focus {
    box-shadow: 0 0 0 0.2rem rgba(76, 32, 65, 0.4) !important;
  }
}

// NAVBAR AND HERO
.top-layer {
  box-shadow: 0 2px 2px 2px rgba(0, 0, 0, 0.1);
  background-color: $secondary;
  background-image: url(https://resourcewatch.org/static/images/components/layout/header-bg-texture.png);
  background-repeat: no-repeat;
  background-position: 50%;
  background-size: cover;
  z-index: 10000;
}
nav {
  &.navbar {
    padding-top: 1rem;
    padding-bottom: 0;
  }
  .navbar-brand {
    margin-right: 30px;
    width: 120px;
    padding: 0 0 4px 0;
    img {
      height: 52px;
    }
  }
  li.dropdown {
    position: unset;
  }
  .container {
    position: relative;
  }
  .dropdown-menu {
    border: 1px solid $secondary;
    border-radius: 0;
    box-shadow: 0 4px 2px -2px rgba(0, 0, 0, 0.3);
    display: block;
    left: unset;
    margin: 0;
    opacity: 0;
    padding: 0;
    pointer-events: none;
    right: 15px;
    top: 56px;
    transform: translateY(-6px);
    transition: transform .2s;
    width: calc(100% - 30px);
    &.show {
      opacity: 1;
      pointer-events: unset;
      transform: translateY(0);
    }
    .col {
      padding: 15px;
      &.key {
        background-color: $very-light;
      }
      &:first-of-type {
        border-right: 1px solid $light;
      }
      &:last-of-type {
        border-left: 1px solid $gray;
      }
    }
    a {
      color: $dark;
      display: block;
      padding: 4px 0 4px 8px;
      text-decoration: none;
      &:hover {
        color: #000;
      }
      &.disabled {
        color: $gray;
        cursor: default;
        &:hover {
          color: $gray;
        }
      }
    }
  }
  .dropdown-submenu .submenu-title {
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 0;
    padding: 4px 0 4px 8px;
    text-transform: uppercase;
  }
  a.nav-link {
    color: $white !important;
    opacity: .7 !important;
    &:hover {
      opacity: 1 !important;
    }
    &.dropdown-toggle {
      border-bottom: 2px solid transparent;
      padding: 8px 1.25rem 16px !important;
      &::after {
        display: none;
      }
      &[aria-expanded="true"] {
        border-bottom-color: $white;
        opacity: 1 !important;
        z-index: 1001;
      }
    }
  }
}
.jumbotron {
  background: unset;
  margin-bottom: 0;
  padding: 3rem 0;
  h1 {
    font-weight: bold;
  }
  .lead {
    font-weight: normal;
  }
}

// FOOTERS
footer {
  padding: 36px 0;
}
#actions {
  background-color: $light;
  .header {
    color: $primary;
  }
  a {
    color: $dark;
    &:hover {
      color: $black;
      text-decoration: none;
    }
  }
}
#info {
  background-color: $dark;
  padding-top: 30px;
  color: $light;
  img {
    max-width: 300px;
    width: 100%;
  }
  a {
    color: $light;
    &:hover {
      color: $white;
      text-decoration: none;
    }
  }
  i {
    margin-right: 6px;
  }
  .links a {
    display: block;
  }
  .social i {
    font-size: 1.5rem;
    margin-right: 12px;
  }
}

// COMMON ELEMENTS
.btn-thumbnail {
  @extend %raised-hover;
  @extend %box-shadow;
  border-radius: 4px;
  color: white;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  font-size: 1.2rem;
  height: 200px;
  width: 100%;
  &:hover {
    color: white;
    text-decoration: none;
  }
  .title {
    margin: 0 0 4px 10px;
    align-self: flex-end;
    text-shadow: 0px 0px 2px rgba(0, 0, 0, 1);
    font-weight: bold;
  }
}
// CONTRIBUTE BOX
.contribute {
  color: $dark;
  background: $light;
}

// SINGLE PROJECT PAGE
body.single-project {
  .return-bar {
    background-color: darkred;
    background-image: url(https://resourcewatch.org/static/images/components/layout/header-bg-texture.png);
    background-repeat: no-repeat;
    background-position: 50%;
    background-size: cover;
    z-index: 10000;
    a {
      color: #fff;
      &:hover {
        color: #ccc;
        text-decoration: none;
      }
    }
  }
  nav {
    background-color: #f6f6f6;
    padding-bottom: 1rem;
    box-shadow: 0 1px 1px 1px rgba(0, 0, 0, 0.1);
    a.nav-link {
      padding-left: 1rem !important;
      padding-right: 1rem !important;
      color: #666 !important;
      &:hover {
        color: #000 !important;
      }
    }
  }
}
