// VARIABLES
$ndee-primary: #008dac;
$ndee-secondary: #00d7e4;
$ndee-purple: #b451bc;
$ndee-blue-accent: #61e0e8;
$ndee-light-blue: #edfcff;

@import url('https://rsms.me/inter/inter.css');

body {
  font-family: Inter, Lato, Helvetica Neue, Arial, Helvetica, sans-serif
}

.btn-ndee {
  padding: 1rem 2.5rem;

  &.btn-ndee-sm {
    padding: .25rem 1.5rem;
  }
}

.btn-ndee-primary {
  background-color: $ndee-primary;
  border-color: $ndee-primary;
  color: white !important;

  &:hover {
    background-color: darken($ndee-primary, 10%);
    border-color: darken($ndee-primary, 10%);
  }
}

.btn-ndee-primary-outline {
  background-color: transparent !important;
  border-color: $ndee-primary;
  color: $ndee-primary;

  &:hover {
    border-color: darken($ndee-primary, 10%);
    color: darken($ndee-primary, 10%);
  }
}

.btn-ndee-white-outline {
  background-color: transparent;
  border-color: white !important;
  color: white !important;

  &:hover {
    background-color: rgba(255,255,255,.25);
  }
}

.text-ndee-primary {
  color: $ndee-primary !important;
}

.text-ndee-secondary {
  color: $ndee-secondary !important;
}

.text-ndee-purple {
  color: $ndee-purple !important;
}

.bg-ndee-primary {
  background-color: $ndee-primary !important;
}

.bg-ndee-secondary {
  background-color: $ndee-secondary !important;
}

.bg-ndee-purple {
  background-color: $ndee-purple !important;
}

.bg-ndee-blue-accent {
  background-color: $ndee-blue-accent !important;
}

.bg-ndee-light-blue {
  background-color: $ndee-light-blue !important;
}

.top-layer {
  background-color: #fff;
  box-shadow: none;
  background-image: none;
}

nav a.nav-link {
  color: #000 !important;
  opacity: 0.85 !important;
  font-size: 14px;

  &:hover {
    opacity: 1 !important;
  }
}

.nav-divider {
  margin-right: .5rem;
  height: 1rem;
  width: 1px;
  background-color: #61E0E8;
  margin-top: .75rem;
}

nav li.nav-item:not(:last-of-type) {
  margin-right: .5rem;
}

#footer-ndee {
  background-color: $ndee-primary;

  img {
    max-height: 130px;
  }

  .meta {
    font-size: 14px;
  }

  .divider {
    width: 150px;
    height: 1px;
    background-color: #37C1FF;
    margin: .5rem 0 1rem 0;
  }
}

.rotate-45 {
  transform: rotate(-45deg);
}

img.ndee-banner {
  width: 100%;
  height: 300px;
  max-height: 30vh;
  margin-bottom: 2rem;
  object-fit: cover;
  object-position: center;
}

.card {
  box-shadow: none !important;
  background-color: $ndee-light-blue;

  .card-title {
    color: $ndee-primary;
  }
}

.dataTables_wrapper .paginate_button.page-item.active .page-link,
.dataTables_wrapper .paginate_button.page-item.active .page-link:hover,
.custom-control-input:checked ~ .custom-control-label::before {
  border-color: $ndee-primary !important;
  background-color: $ndee-primary !important;
}