@import url("https://rsms.me/inter/inter.css");
body {
  font-family: Inter, Lato, Helvetica Neue, Arial, Helvetica, sans-serif; }

.top-layer {
  background-color: #fff;
  box-shadow: none;
  background-image: none; }

nav a.nav-link {
  color: #000 !important;
  opacity: 0.85 !important;
  font-size: 14px; }
  nav a.nav-link:hover {
    opacity: 1 !important; }

.nav-divider {
  margin-right: .5rem;
  height: 1rem;
  width: 1px;
  background-color: #61E0E8;
  margin-top: .75rem; }

nav li.nav-item:not(:last-of-type) {
  margin-right: .5rem; }

#footer-ndee {
  background-color: #2A6CD8; }
  #footer-ndee img {
    max-height: 130px; }
  #footer-ndee .meta {
    font-size: 14px; }
  #footer-ndee .divider {
    width: 150px;
    height: 1px;
    background-color: #37C1FF;
    margin: .5rem 0 1rem 0; }
