@media screen and (max-width: 991px) {
  .anchor {
    .card {
      width: 100%;
    }
  }
  }
@media screen and (max-width: 767px) {
  footer#info {
    img {
    width: 200px;
  }
    .row {
      text-align: center
    }
  }
  
  }