<table class="table overview-table">
  <tbody>
    <tr>
      <td colspan="3" class="ve bg-light font-weight-bold rounded-top">
        1. Local stakeholder actions
      </td>
    </tr>
    <tr>
      <td class="indicator"><a href="{% url 'cityloops:city_indicator' sector 'bodo' 1 %}">02. {% lorem 3 w random %}</td>
      <td class="scale"><span class="badge badge-cityloops-primary">S</span></td>
      <td class="status"><i class="fa fa-fw fa-check-circle text-success"></i></td>
    </tr>
    <tr>
      <td class="indicator"><a href="{% url 'cityloops:city_indicator' sector 'bodo' 1 %}">03. {% lorem 3 w random %}</td>
      <td class="scale"><span class="badge badge-secondary">C</span></td>
      <td class="status"><i class="fa fa-fw fa-check-circle text-success"></i></td>
    </tr>
    <tr>
      <td class="indicator"><a href="{% url 'cityloops:city_indicator' sector 'bodo' 1 %}">07. {% lorem 3 w random %}</td>
      <td class="scale"><span class="badge badge-cityloops-primary">S</span></td>
      <td class="status"><a href="{% url 'cityloops:city_indicator_form' 'bodo' sector 1 %}"><i class="fa fa-fw fa-marker"></i></a></td>
    </tr>
    <tr>
      <td class="indicator"><a href="{% url 'cityloops:city_indicator' sector 'bodo' 1 %}">11. {% lorem 3 w random %}</td>
      <td class="scale"><span class="badge badge-cityloops-secondary">DA</span></td>
      <td class="status"><i class="fa fa-fw fa-check-circle text-success"></i></td>
    </tr>
    <tr>
      <td colspan="3" class="ve bg-light font-weight-bold">
        2. Circular business models and behavioural patterns
      </td>
    </tr>
    <tr>
      <td class="indicator"><a href="{% url 'cityloops:city_indicator' sector 'bodo' 1 %}">14. {% lorem 3 w random %}</td>
      <td class="scale"><span class="badge badge-cityloops-primary">S</span></td>
      <td class="status"><i class="fa fa-fw fa-check-circle text-success"></i></td>
    </tr>
    <tr class="selected">
      <td class="indicator"><a href="{% url 'cityloops:city_indicator' sector 'bodo' 1 %}">15. Circular Material Use Rate</td>
      <td class="scale"><span class="badge badge-cityloops-secondary">DA</span></td>
      <td class="status"><a href="{% url 'cityloops:city_indicator_form' 'bodo' sector 1 %}"><i class="fa fa-fw fa-marker"></i></a></td>
    </tr>
    <tr>
      <td class="indicator"><a href="{% url 'cityloops:city_indicator' sector 'bodo' 1 %}">17. {% lorem 3 w random %}</td>
      <td class="scale"><span class="badge badge-cityloops-primary">S</span></td>
      <td class="status"><a href="{% url 'cityloops:city_indicator_form' 'bodo' sector 1 %}"><i class="fa fa-fw fa-marker"></i></a></td>
    </tr>
    <tr>
      <td colspan="3" class="ve bg-light font-weight-bold">
        3. Closing material loops and reducing harmful resource use
      </td>
    </tr>
    <tr>
      <td class="indicator"><a href="{% url 'cityloops:city_indicator' sector 'bodo' 1 %}">21. {% lorem 3 w random %}</td>
      <td class="scale"><span class="badge badge-cityloops-secondary">DA</span></td>
      <td class="status"><i class="fa fa-fw fa-check-circle text-success"></i></td>
    </tr>
    <tr>
      <td class="indicator"><a href="{% url 'cityloops:city_indicator' sector 'bodo' 1 %}">27. {% lorem 3 w random %}</td>
      <td class="scale"><span class="badge badge-secondary">C</span></td>
      <td class="status"><a href="{% url 'cityloops:city_indicator_form' 'bodo' sector 1 %}"><i class="fa fa-fw fa-marker"></i></a></td>
    </tr>
    <tr>
      <td colspan="3" class="ve bg-light font-weight-bold">
        4. Improving human well-being and reducing environmental impacts
      </td>
    </tr>
    <tr>
      <td class="indicator"><a href="{% url 'cityloops:city_indicator' sector 'bodo' 1 %}">37. {% lorem 3 w random %}</td>
      <td class="scale"><span class="badge badge-cityloops-secondary">DA</span></td>
      <td class="status"><i class="fa fa-fw fa-check-circle text-success"></i></td>
    </tr>
    <tr>
      <td class="indicator"><a href="{% url 'cityloops:city_indicator' sector 'bodo' 1 %}">65. {% lorem 3 w random %}</td>
      <td class="scale"><span class="badge badge-cityloops-primary">S</span></td>
      <td class="status"><a href="{% url 'cityloops:city_indicator_form' 'bodo' sector 1 %}"><i class="fa fa-fw fa-marker"></i></a></td>
    </tr>
  </tbody>
</table>