<table class="table overview-table">
  <tbody>
    <tr>
      <td colspan="3" class="ve bg-light font-weight-bold rounded-top">
        1. Local stakeholder actions
      </td>
    </tr>
    {% for each in indicator_scale_list %}
      <tr {% if each.id == value.first.id %}class="selected"{% endif %}>
        <td class="indicator"><a href="{% url 'cityloops:city_indicator' 'bodo' sector each.id %}">{{ each.indicator }}</td>
        <td class="scale">
          {% if each.scale == 1 %}<span class="badge badge-cityloops-secondary">DA</span>
          {% elif each.scale == 2 %}<span class="badge badge-secondary">C</span>
          {% elif each.scale == 3 %}<span class="badge badge-cityloops-primary">S</span>{% endif %}
        </td>
        <td class="status">
          {% if each.completed %}
            <i class="fa fa-fw fa-check-circle text-success"></i>
          {% else %}
            <a href="{% url 'cityloops:city_indicator_form' 'bodo' sector each.id %}"><i class="fa fa-fw fa-marker"></i></a>
          {% endif %}
        </td>
      </tr>
    {% endfor %}
    <tr>
    </tr>
  </tbody>
</table>