{% extends "_base.html" %}

{% block content %}

  <h1>{{ info }}</h1>

  <div class="alert alert-dark text-center p-5 mb-4">
    <h2 class="pt-5 pb-5">
    <i class="fa fa-exclamation-triangle"></i><br>
      Data dashboard is under construction.
    </h2>
    <div class="mt-4">
      Together with people in {{ info }}, we are working hard to prepare this data dashboard.
      <br>
      You can already visit <a href="{% url 'cityloops:dashboard' info.slug %}">{{ info }}'s Data Hub</a>.
      <br>
      Go to the <a href="/dashboards/{{ info.slug }}/hub/harvesting/">Data Manager</a> section to upload information for {{ info }}.
    </div>
  </div>

  {% if construction_sankey %}
    <h2>Construction sector Sankey diagram</h2>
    <div class="border rounded bg-white p-3 mb-4">
      {{ construction_sankey|safe }}
    </div>
  {% endif %}
  {% if biomass_sankey %}
    <h2>Biomass sector Sankey diagram</h2>
    <div class="border rounded bg-white p-3 mb-4">
      {{ biomass_sankey|safe }}
    </div>
  {% endif %}

{% endblock %}
