{% extends "_base.html" %}
{% load static %}

{% block css %}
  <style>
    .table td {
      vertical-align: middle;
      padding: 1rem .75rem;
    }

    tr.disabled .indicator-name,
    tr.disabled .number {
      opacity: .5;
    }

    td.indicator-switch {
      width: 50px;
    }

    td.number {
      width: 48px;
      padding-right: 0;
    }

    td.checkbox {
      width: 200px;
      border-left: 1px solid #dee2e6
    }

    .indicator-number {
      background-color: #144d58;
      color: #fff;
      padding: 0 .5rem;
      border-radius: .25rem;
      display: inline-block;
      font-weight: bold;
    }

    th.sticky-top {
      top: 0;
    }
  </style>
{% endblock %}

{% block content %}

  <h1>{{ sector|title }} indicators</h1>

  <nav aria-label="breadcrumb">
    <ol class="breadcrumb bg-transparent p-0">
      <li class="breadcrumb-item"><a href="{% url 'cityloops:dashboard_mockup' 'bodo' %}">{{ info }}</a></li>
      <li class="breadcrumb-item"><a href="{% url 'cityloops:city_sectors' 'bodo' %}">Indicators</a></li>
      <li class="breadcrumb-item"><a href="{% url 'cityloops:city_indicators' 'bodo' sector %}">{{ sector|title }}</a></li>
      <li class="breadcrumb-item active" aria-current="page">Select indicators</li>
    </ol>
  </nav>

  <form method="post">
    <div class="card card-table mb-4">
      <table class="table">
        <thead>
          <tr>
            <th class="sticky-top" colspan="3">Indicator</th>
            <th class="sticky-top border-left">Demonstration action</th>
            <th class="sticky-top border-left">City</th>
            <th class="sticky-top border-left text-muted">Sector <small>(disabled)</small></th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td colspan="6" class="ve bg-light font-weight-bold">
              1. Local stakeholder actions
            </td>
          </tr>

          {% for each in indicator_list %}
            <tr>
              <td class="indicator-switch">
                <div class="custom-control custom-switch">
                  <input type="checkbox" class="custom-control-input" id="indicator-{{ each.number }}" name="indicators" value="{{ each.number }}" checked>
                  <label class="custom-control-label" for="indicator-{{ each.number }}"></label>
                </div>
              </td>
              <td class="number"><span class="indicator-number">{{ each.number }}</span></td>
              <td class="indicator-name">{{ each.name }}</td>
              <td class="checkbox da">
                <div class="custom-control custom-switch">
                  <input type="checkbox" class="custom-control-input" id="da-{{ each.number }}" name="da" value="{{ each.number }}">
                  <label class="custom-control-label" for="da-{{ each.number }}"></label>
                </div>
              </td>
              <td class="checkbox city">
                <div class="custom-control custom-switch">
                  <input type="checkbox" class="custom-control-input" id="city-{{ each.number }}" name="city" value="{{ each.number }}">
                  <label class="custom-control-label" for="city-{{ each.number }}"></label>
                </div>
              </td>
              <td class="checkbox sector">
                <div class="custom-control custom-switch">
                  <input type="checkbox" class="custom-control-input" id="sector-{{ each.number }}" name="sector" value="{{ each.number }}" disabled>
                  <label class="custom-control-label" for="sector-{{ each.number }}"></label>
                </div>
              </td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>

    {% csrf_token %}

    <button class="btn btn-primary" type="submit">
      <i class="fa fa-save"></i> Save
    </button>
  </form>
{% endblock %}

{% block footer %}
  <script>
    $(".indicator-switch input").change(function() {
      let indicatorSwitch = $(this);
      let row = indicatorSwitch.closest("tr");

      if (indicatorSwitch.prop("checked")) {
        row.removeClass("disabled")
        row.find(".checkbox:not(.sector) input").removeAttr("disabled");
      } else {
        row.addClass("disabled")
        row.find(".checkbox:not(.sector) input").attr("disabled", "disabled").prop("checked", false);
      }
    })
  </script>
{% endblock %}