{% extends "_base.html" %}
{% load static %}

{% block css %}
  <style>
    table.indicators-table {
      overflow-x: auto;
    }

    tbody td:not(:first-of-type) {
      border-left: solid 1px #dee2e6;
    }

    th.city {
      white-space: nowrap;
    }

    td.indicator-text {
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap;
      max-width: 300px;
    }

    th.sticky-top {
      top: 0;
    }

    td[data-city] {
      min-width: 110px;
    }

    .filters label {
      margin-bottom: 0;
      font-weight: bold;
    }

    .badge.faded {
      opacity: .1;
    }

    .select2-container--bootstrap4 .select2-results > .select2-results__options {
      max-height: 300px;
    }

    .disabled {
      pointer-events: none;
    }
  </style>
{% endblock %}

{% block content %}
  <h1>Indicators: cities' {{ sector }} selections</h1>

  <nav aria-label="breadcrumb">
    <ol class="breadcrumb bg-transparent p-0">
      <li class="breadcrumb-item"><a href="{% url 'cityloops:indicators' %}">Indicators</a></li>
      <li class="breadcrumb-item"><a href="{% url 'cityloops:cities_sectors' %}">Cities' selection</a></li>
      <li class="breadcrumb-item active" aria-current="page">{{ sector|title }}</li>
    </ol>
  </nav>

  <p>Selections marked with an <strong>asterisk*</strong> are mandatory. Entires on the sector scale cannot be edited.</p>

  <div class="filters row">
    <div class="col-md-3">
      <div class="form-group">
        <label for="scales">Scales</label>
        <select id="scales" class="custom-select">
          <option value="all" selected>Show all</option>
          <option value="1">City</option>
          <option value="2">Demonstration action</option>
          <option value="3">Sector</option>
        </select>
      </div>
    </div>
    <div class="col-md-9">
      <div class="form-group">
        <label for="cities">Cities</label>
        <select id="cities" class="custom-select" multiple>
          {% for each in cities_list %}
            <option selected value="{{ each.slug }}">{{ each }}</th>
          {% endfor %}
        </select>
      </div>
    </div>
  </div>

  <div class="card card-table mb-4">
    <table class="table indicators-table">
      <thead>
        <tr>
          <th class="sticky-top indicator-text">Indicator</th>
          {% for each in cities_list %}
            <th class="sticky-top" data-city="{{ each.slug }}"><a href="{% url 'cityloops:city_indicators' each.slug sector %}">{{ each }}</a></th>
          {% endfor %}
        </tr>
      </thead>
      <tbody>
        {% for each in indicator_list %}
          {% ifchanged each.vision_element %}
            <tr>
              <td colspan="8" class="ve bg-light font-weight-bold">
                {{ each.vision_element }}. {{ each.get_vision_element_display }}
              </td>
            </tr>
          {% endifchanged %}
          <tr data-indicator="{{ each.number }}">
            <td class="indicator-text" title="{{ each }}"><a href="{% url 'cityloops:indicators' %}#indicator-{{ each.number }}">{{ each }}</a></td>
            {% for each in cities_list %}
              <td data-city="{{ each.slug }}"></td>
            {% endfor %}
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>



  <div id="scale-list" hidden>
    {% for each in indicator_scale_list %}
      <a
         href="{% url 'cityloops:city_indicator' each.city.slug sector each.id %}"
         data-scale="{{ each.scale }}"
         data-city="{{ each.city.slug }}"
         data-indicator="{{ each.indicator.number }}"
         class="badge mr-1 badge-{% if each.scale == 1 %}secondary">C{% elif each.scale == 2 %}cityloops-secondary">DA{% else %}cityloops-primary disabled">S{% if each.indicator in mandatory_list %}*{% endif %}{% endif %}
      </a>
    {% endfor %}
  </div>
{% endblock %}

{% block footer %}
  <script>
    // move all scale items into correct place
    $("#scale-list a").each(function() {
      let item = $(this);
      let indicator = item.data("indicator")
      let city = item.data("city")

      item.appendTo($("tr[data-indicator='" + indicator + "'] td[data-city='" + city + "']"));
    })

    // filter by scale
    $("select#scales").change(function() {
      let scale = $("select#scales").val();

      if (scale == "all") {
        $("table [data-scale]").removeClass("faded");
      } else {
        $("table [data-scale]").addClass("faded");
        $("table [data-scale='" + scale + "']").removeClass("faded");
      }
    })

    // filter cities
    $("select#cities").select2({
      closeOnSelect: false,
      theme: "bootstrap4",
    }).on("select2:unselecting", function() {
        $(this).data("unselecting", true);
    }).on("select2:opening", function(e) {
      if ($(this).data("unselecting")) {
        $(this).removeData("unselecting");
        e.preventDefault();
      }
    });

    $("select#cities").change(function() {
      let cities = $("select#cities").val();

      $("table [data-city]").attr("hidden", "hidden");

      $(cities).each(function() {
        $("table [data-city='" + this + "']").removeAttr("hidden");
      })
    })

    // remove rows without any indicators
    $(".indicators-table tbody tr[data-indicator]").each(function() {
      let row = $(this)

      let empty = true;

      row.find("td[data-city]").each(function() {
        if ($(this).text() != false) {
          empty = false
        }
      })

      if (empty == true) {
        row.remove()
      }
    })
  </script>
{% endblock %}