{% extends "_base.html" %}
{% load static %}

{% block css %}
  <style>
    form label {
      margin-bottom: 0;
      font-weight: bold;
    }

    .form-text {
      margin-top: 0;
    }

    .overview-table td {
      padding-top: .5rem;
      padding-bottom: .5rem;
    }

    .overview-table .badge {
      vertical-align: text-top;
      height: 20px;
    }

    tr.selected {
      background-color: #efefef;
    }

    td.scale {
      text-align: right;
      padding-right: .5rem;
    }

    td.status {
      text-align: right;
      padding-left: 0;
    }

    .overview-table tbody tr:first-of-type td {
      border-top: none;
    }

    td.indicator {
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap;
      width: 250px;
      max-width: 250px;
    }
  </style>
{% endblock %}

{% block content %}
  <h1>Edit indicator</h1>

  <nav aria-label="breadcrumb">
    <ol class="breadcrumb bg-transparent p-0">
      <li class="breadcrumb-item"><a href="{% url 'cityloops:dashboard_mockup' 'bodo' %}">{{ info }}</a></li>
      <li class="breadcrumb-item"><a href="{% url 'cityloops:city_sectors' 'bodo' %}">Indicators</a></li>
      <li class="breadcrumb-item"><a href="{% url 'cityloops:city_indicators' 'bodo' sector %}">{{ sector|title }}</a></li>
      <li class="breadcrumb-item"><a href="{% url 'cityloops:city_indicator' 'bodo' sector 1 %}">15. Circular Material Use Rate</a></li>
      <li class="breadcrumb-item active" aria-current="page">Edit</li>
    </ol>
  </nav>

  <div class="row">
    <div class="col-lg-8">
      <h5 class="mb-0">
        15. Circular Material Use Rate
        <span class="float-right badge badge-cityloops-secondary">Demonstration action</span>
      </h5>

      <small class="text-muted">
        Last edited 6 days ago by Fulano de Tal
      </small>

      <form class="form mt-4">
        <div class="form-group">
          <label for="description">Description</label>
          <p id="description">{% lorem 40 w random %}</p>
        </div>

        <div class="form-group">
          <label for="methodology">Methodology</label>
          <p id="methodology">{% lorem 50 w random %}</p>
        </div>

        <div class="form-group">
          <label for="rationale">Rationale</label>
          <textarea id="rationale" class="form-control" rows="2"></textarea>
          <small class="form-text text-muted">Description of the why the inclusion of the indicator contributes to making the city more circular. It could e.g. its importance in relation to strategy/communication/circularity objectives</small>
        </div>

        <div class="form-group">
          <label for="baseline">Baseline data / definition</label>
          <textarea id="baseline" class="form-control" rows="2"></textarea>
          <small class="form-text text-muted">Description of how baseline values for the indicators will be established (e.g. give reference to methods given in D6.1, CH 5.3)</small>
        </div>

        <div class="form-group">
          <label for="sources">Data sources / relevant databases</label>
          <textarea id="sources" class="form-control" rows="2"></textarea>
          <small class="form-text text-muted">Reference to reports, websites, institutions etc that collect, analyse, publish the data</small>
        </div>

        <div class="form-group">
          <label for="accuracy">Overall accuracy</label>
          <textarea id="accuracy" class="form-control" rows="2"></textarea>
          <small class="form-text text-muted">Assessment of accuracy, linked to a certain data set or domain, which is summarising the various components on uncertainty (data coverage, value uncertainty, representativity etc)</small>
        </div>

        <div class="form-group">
          <label for="coverage">Sector coverage</label>
          <textarea id="coverage" class="form-control" rows="2"></textarea>
          <small class="form-text text-muted">Main economic or other sectors covered by the data. Is the indicator for CDW/BW/other sector of sector independent</small>
        </div>

        <div class="form-group">
          <label for="area">Reference area / spatial implementation scale</label>
          <input type="text" id="area" class="form-control"></input>
          <small class="form-text text-muted">The country or geographic area to which the measured statistical phenomenon relates. Is the indicator evaluated at demonstration/sector or city scale</small>
        </div>

        <div class="form-row">
          <div class="col-md">
            <div class="form-group mb-0">
              <label for="period-from">Reference period, from</label>
              <input type="date" class="form-control" id="period-from">
            </div>
          </div>

          <div class="col-md">
            <div class="form-group mb-0">
              <label for="period-to">Until</label>
              <input type="date" class="form-control" id="period-to">
            </div>
          </div>
        </div>
        <small class="form-text text-muted d-block mb-3">The period of time or point in time to which the measured observation is intended to refer</small>

        <div class="form-group">
          <label for="comments">Comments</label>
          <textarea id="comments" class="form-control" rows="2"></textarea>
          <small class="form-text text-muted">Supplementary descriptive text which can be attached to indicator, data or metadata</small>
        </div>

        <div class="form-group">
          <div class="custom-control custom-switch">
            <input type="checkbox" class="custom-control-input" id="finished">
            <label class="custom-control-label font-weight-normal" for="finished">Indicator completed</label>
          </div>
        </div>

        <button class="btn btn-primary">
          <i class="fa fa-save"></i> Save
        </button>
      </form>
    </div>
    <div class="col-lg-4">
      <div class="card card-table mb-4">
        {% include "cityloops/_indicator-status-table.html" %}
      </div>
    </div>
  </div>
{% endblock %}
