{% extends "_base.html" %}

{% block css %}
<style>
  #indicator-menu nav {
    width: 100%;
  }

  #indicator-menu .nav-link {
    font-size: 14px;
    padding: .25rem .5rem;
    width: 100%;
  }

  #indicator-menu .nav-link.active {
    background-color: #b6ced2;
    font-weight: bold;
  }

  #indicator-menu .nav-link.group.active {
    background-color: #9cb7bb;
    font-weight: bold;
  }

  .indicator-group {
    margin-bottom: 3rem;
  }

  .indicator {
    margin-top: 3rem;
    padding-top: 3rem;
    border: 1px solid #dee2e6;
    border-radius: .25rem;
    padding: 1.5rem 1rem 1rem;
    position: relative;
  }

  .indicator .title {
    position: absolute;
    top: -16px;
    background: #fcfcfc;
    padding: 0 1rem;
    font-weight: bold;
    font-size: 1.25rem;
  }

  .indicator .number {
    background-color: #144d58;
    color: #fff;
    padding: 0 .5rem;
    border-radius: .25rem;
    margin-right: .5rem;
    font-size: 1rem;
    font-weight: bold;
  }

  .copy-link {
    opacity: 0;
    position: absolute;
    top: 0px;
    right: 0px;
    border-bottom: 1px solid #dee2e6;
    border-left: 1px solid #dee2e6;
    padding: 1px;
    border-bottom-left-radius: .25rem;
    font-size: .825rem;
    min-width: 23px;
    text-align: center;
    background: #efefef;
    cursor: pointer;
    transition: all .3s;
  }

  .copy-link:hover {
    background-color: #dee2e6;
  }

  .indicator:hover .copy-link {
    opacity: 1;
  }
</style>
{% endblock %}

{% block content %}

  <h1>Indicators</h1>

  {% lorem 2 p %}

  <div class="row">
    <div class="col-lg-9 pt-3" data-spy="scroll" id="indicators" data-target="#indicator-menu">
      <div class="indicator-group">
        <h4 id="group-1">Closing material loops and reducing harmful resource use</h4>

        <div class="indicator">
          <div class="title" id="indicator-41">
            <span class="number">41</span>
            Circular Material Use Rate
          </div>

          <div class="strategic-objective"></div>

          <div class="description">
            <p>
              The circular material use rate, also called Circularity rate measures, in percentage, the share of material recovered and fed back into the economy - thus saving extraction of primary raw materials - in overall material use. The Circularity rate is thus defined as the ratio of the circular use of materials (U) to the overall material use (M).
            </p>
            <p>
              The overall material use is measured by summing up the aggregate domestic material consumption (DMC) and the circular use of materials (M = DMC + U). DMC is defined in economy-wide material flow accounts.
            </p>
            <p>
              The circular use of materials is approximated by the amount of waste recycled in domestic recovery plants (RCV_R), minus imported waste destined for recovery (IMPw), plus exported waste destined for recovery abroad (EXPw). Waste recycled in domestic recovery plants comprises the recovery operations R2 to R11 as defined in the Waste Framework Directive 75/442/EEC. European statistics on international trade in goods (ITGS) are used to approximate the imports and exports of waste destined for recycling, i.e. the amount of imported waste bound for recovery (IMPw), and the amount of exported waste bound for recovery (EXPw).
            </p>
            <p>
              Then, the Circularity rate is formalised as following:
            </p>
            <img src="https://i.imgur.com/C7RhSO6.png">
            <p>
              A higher Circularitity rate value indicates more secondary materials substituting for primary raw materials i.e. avoiding the environmental impacts of extracting primary material.
            </p>
            <p>
              Source: <a href="https://ec.europa.eu/eurostat/cache/metadata/EN/env_ac_cur_esms.htm">https://ec.europa.eu/eurostat/cache/metadata/EN/env_ac_cur_esms.htm</a>
            </p>
          </div>

          <a class="copy-link text-dark" href="#indicator-41">
            <i class="far fa-fw fa-link"></i> <span class="link-copied pr-1" hidden>Link copied</span>
          </a>
        </div>

        <div class="indicator">
          <div class="title" id="indicator-42">
            <span class="number">42</span>
            Circular Material Use Rate 42
          </div>

          <div class="strategic-objective"></div>

          <div class="description">
            <p>
              The overall material use is measured by summing up the aggregate domestic material consumption (DMC) and the circular use of materials (M = DMC + U). DMC is defined in economy-wide material flow accounts.
            </p>
            <p>
              The circular use of materials is approximated by the amount of waste recycled in domestic recovery plants (RCV_R), minus imported waste destined for recovery (IMPw), plus exported waste destined for recovery abroad (EXPw). Waste recycled in domestic recovery plants comprises the recovery operations R2 to R11 as defined in the Waste Framework Directive 75/442/EEC. European statistics on international trade in goods (ITGS) are used to approximate the imports and exports of waste destined for recycling, i.e. the amount of imported waste bound for recovery (IMPw), and the amount of exported waste bound for recovery (EXPw).
            </p>
            <p>
              Then, the Circularity rate is formalised as following:
            </p>
            <p>
              A higher Circularitity rate value indicates more secondary materials substituting for primary raw materials i.e. avoiding the environmental impacts of extracting primary material.
            </p>
          </div>
        </div>

        <div class="indicator">
          <div class="title" id="indicator-43">
            <span class="number">43</span>
            Circular Material Use Rate 53
          </div>

          <div class="strategic-objective"></div>

          <div class="description">
            <p>
              The circular material use rate, also called Circularity rate measures, in percentage, the share of material recovered and fed back into the economy - thus saving extraction of primary raw materials - in overall material use. The Circularity rate is thus defined as the ratio of the circular use of materials (U) to the overall material use (M).
            </p>
            <p>
              The overall material use is measured by summing up the aggregate domestic material consumption (DMC) and the circular use of materials (M = DMC + U). DMC is defined in economy-wide material flow accounts.
            </p>
            <p>
              Then, the Circularity rate is formalised as following:
            </p>
            <p>
              A higher Circularitity rate value indicates more secondary materials substituting for primary raw materials i.e. avoiding the environmental impacts of extracting primary material.
            </p>
            <p>
              Source: <a href="https://ec.europa.eu/eurostat/cache/metadata/EN/env_ac_cur_esms.htm">https://ec.europa.eu/eurostat/cache/metadata/EN/env_ac_cur_esms.htm</a>
            </p>
          </div>
        </div>

        <div class="indicator">
          <div class="title" id="indicator-44">
            <span class="number">44</span>
            Circular Material Use Rate
          </div>

          <div class="strategic-objective"></div>

          <div class="description">
            <p>
              The circular material use rate, also called Circularity rate measures, in percentage, the share of material recovered and fed back into the economy - thus saving extraction of primary raw materials - in overall material use. The Circularity rate is thus defined as the ratio of the circular use of materials (U) to the overall material use (M).
            </p>
            <p>
              The overall material use is measured by summing up the aggregate domestic material consumption (DMC) and the circular use of materials (M = DMC + U). DMC is defined in economy-wide material flow accounts.
            </p>
            <p>
              The circular use of materials is approximated by the amount of waste recycled in domestic recovery plants (RCV_R), minus imported waste destined for recovery (IMPw), plus exported waste destined for recovery abroad (EXPw). Waste recycled in domestic recovery plants comprises the recovery operations R2 to R11 as defined in the Waste Framework Directive 75/442/EEC. European statistics on international trade in goods (ITGS) are used to approximate the imports and exports of waste destined for recycling, i.e. the amount of imported waste bound for recovery (IMPw), and the amount of exported waste bound for recovery (EXPw).
            </p>
            <p>
              Then, the Circularity rate is formalised as following:
            </p>
            <p>
              A higher Circularitity rate value indicates more secondary materials substituting for primary raw materials i.e. avoiding the environmental impacts of extracting primary material.
            </p>
            <p>
              Source: <a href="https://ec.europa.eu/eurostat/cache/metadata/EN/env_ac_cur_esms.htm">https://ec.europa.eu/eurostat/cache/metadata/EN/env_ac_cur_esms.htm</a>
            </p>
          </div>
        </div>
      </div>

      <div class="indicator-group">
        <h4 id="group-2">Group of indicators 2</h4>

        <div class="indicator">
          <div class="title" id="indicator-45">
            <span class="number">45</span>
            Circular Material Use Rate 45
          </div>

          <div class="strategic-objective"></div>

          <div class="description">
            <p>
              The overall material use is measured by summing up the aggregate domestic material consumption (DMC) and the circular use of materials (M = DMC + U). DMC is defined in economy-wide material flow accounts.
            </p>
            <p>
              Then, the Circularity rate is formalised as following:
            </p>
            <p>
              A higher Circularitity rate value indicates more secondary materials substituting for primary raw materials i.e. avoiding the environmental impacts of extracting primary material.
            </p>
            <p>
              Source: <a href="https://ec.europa.eu/eurostat/cache/metadata/EN/env_ac_cur_esms.htm">https://ec.europa.eu/eurostat/cache/metadata/EN/env_ac_cur_esms.htm</a>
            </p>
          </div>
        </div>

        <div class="indicator">
          <div class="title" id="indicator-46">
            <span class="number">46</span>
            Circular Material Use Rate
          </div>

          <div class="strategic-objective"></div>

          <div class="description">
            <p>
              The circular material use rate, also called Circularity rate measures, in percentage, the share of material recovered and fed back into the economy - thus saving extraction of primary raw materials - in overall material use. The Circularity rate is thus defined as the ratio of the circular use of materials (U) to the overall material use (M).
            </p>
            <p>
              The overall material use is measured by summing up the aggregate domestic material consumption (DMC) and the circular use of materials (M = DMC + U). DMC is defined in economy-wide material flow accounts.
            </p>
            <p>
              The circular use of materials is approximated by the amount of waste recycled in domestic recovery plants (RCV_R), minus imported waste destined for recovery (IMPw), plus exported waste destined for recovery abroad (EXPw). Waste recycled in domestic recovery plants comprises the recovery operations R2 to R11 as defined in the Waste Framework Directive 75/442/EEC. European statistics on international trade in goods (ITGS) are used to approximate the imports and exports of waste destined for recycling, i.e. the amount of imported waste bound for recovery (IMPw), and the amount of exported waste bound for recovery (EXPw).
            </p>
            <p>
              Then, the Circularity rate is formalised as following:
            </p>
            <p>
              A higher Circularitity rate value indicates more secondary materials substituting for primary raw materials i.e. avoiding the environmental impacts of extracting primary material.
            </p>
            <p>
              Source: <a href="https://ec.europa.eu/eurostat/cache/metadata/EN/env_ac_cur_esms.htm">https://ec.europa.eu/eurostat/cache/metadata/EN/env_ac_cur_esms.htm</a>
            </p>
          </div>
        </div>

        <div class="indicator">
          <div class="title" id="indicator-47">
            <span class="number">47</span>
            Circular Material Use Rate
          </div>

          <div class="strategic-objective"></div>

          <div class="description">
            <p>
              The circular material use rate, also called Circularity rate measures, in percentage, the share of material recovered and fed back into the economy - thus saving extraction of primary raw materials - in overall material use. The Circularity rate is thus defined as the ratio of the circular use of materials (U) to the overall material use (M).
            </p>
            <p>
              The overall material use is measured by summing up the aggregate domestic material consumption (DMC) and the circular use of materials (M = DMC + U). DMC is defined in economy-wide material flow accounts.
            </p>
            <p>
              A higher Circularitity rate value indicates more secondary materials substituting for primary raw materials i.e. avoiding the environmental impacts of extracting primary material.
            </p>
            <p>
              Source: <a href="https://ec.europa.eu/eurostat/cache/metadata/EN/env_ac_cur_esms.htm">https://ec.europa.eu/eurostat/cache/metadata/EN/env_ac_cur_esms.htm</a>
            </p>
          </div>
        </div>

        <div class="indicator">
          <div class="title" id="indicator-48">
            <span class="number">48</span>
            Circular Material Use Rate 48
          </div>

          <div class="strategic-objective"></div>

          <div class="description">
            <p>
              The overall material use is measured by summing up the aggregate domestic material consumption (DMC) and the circular use of materials (M = DMC + U). DMC is defined in economy-wide material flow accounts.
            </p>
            <p>
              The circular use of materials is approximated by the amount of waste recycled in domestic recovery plants (RCV_R), minus imported waste destined for recovery (IMPw), plus exported waste destined for recovery abroad (EXPw). Waste recycled in domestic recovery plants comprises the recovery operations R2 to R11 as defined in the Waste Framework Directive 75/442/EEC. European statistics on international trade in goods (ITGS) are used to approximate the imports and exports of waste destined for recycling, i.e. the amount of imported waste bound for recovery (IMPw), and the amount of exported waste bound for recovery (EXPw).
            </p>
            <p>
              Then, the Circularity rate is formalised as following:
            </p>
            <p>
              A higher Circularitity rate value indicates more secondary materials substituting for primary raw materials i.e. avoiding the environmental impacts of extracting primary material.
            </p>
            <p>
              Source: <a href="https://ec.europa.eu/eurostat/cache/metadata/EN/env_ac_cur_esms.htm">https://ec.europa.eu/eurostat/cache/metadata/EN/env_ac_cur_esms.htm</a>
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-3 pt-3">
      <h4 class="mb-5">&nbsp;</h4>
      <nav class="navbar navbar-light border rounded sticky-top p-0" id="indicator-menu">
        <nav class="nav flex-column">
          <a class="nav-link group" href="#group-1">Group 1</a>
          <nav class="nav flex-column">
            <a class="nav-link pl-3" href="#indicator-41">Circular Material Use Rate</a>
            <a class="nav-link pl-3" href="#indicator-42">Indicator 42</a>
            <a class="nav-link pl-3" href="#indicator-43">Indicator 43</a>
            <a class="nav-link pl-3" href="#indicator-44">Indicator 44</a>
          </nav>
          <a class="nav-link group" href="#group-2">Group 2</a>
          <nav class="nav flex-column">
            <a class="nav-link pl-3" href="#indicator-45">Indicator 45</a>
            <a class="nav-link pl-3" href="#indicator-46">Indicator 46</a>
            <a class="nav-link pl-3" href="#indicator-47">Indicator 47</a>
            <a class="nav-link pl-3" href="#indicator-48">Indicator 48</a>
          </nav>
        </nav>
      </nav>
    </div>
  </div>

{% endblock %}

{% block footer %}
  <script>
    $("body").scrollspy({ target: "#indicator-menu"})

    // copy url
    function copyToClipboard(element) {
      let temp = $("<input>");
      $("body").append(temp);
      temp.val(element).select();
      document.execCommand("copy");
      temp.remove();
    }

    // share button popup
    $(".copy-link").click(function() {
      $(this).find(".link-copied").removeAttr("hidden")
      setTimeout(function(){
        copyToClipboard(window.location.href);
      }, 300);
      setTimeout(function(){
        $(".link-copied").attr("hidden", "hidden")
      }, 5000);
    });
  </script>
{% endblock %}