{% extends "_base.html" %}
{% load static %}

{% block css %}
<style>
  #indicator-menu {
    max-height: calc(100vh - 2rem);
    overflow: auto;
  }

  #indicator-menu nav {
    width: 100%;
  }

  #indicator-menu .nav-link {
    font-size: 14px;
    padding: .25rem .5rem;
    width: 100%;
  }

  #indicator-menu .nav-link.active {
    background-color: #b6ced2;
  }

  #indicator-menu .nav-link.group {
    font-weight: bold;
  }

  #indicator-menu .ve-collection.collapsed a:not(:first-of-type) {
    display: none;
  }


  #indicator-menu .nav-link.group:not(:first-of-type) {
    border-top: 1px solid #dee2e6;
  }

  #indicator-menu .ve-collection:not(.collapsed) .nav-link.group,
  #indicator-menu .nav-link.group.active {
    background-color: #9cb7bb;
    opacity: 1 !important;
    position: sticky;
    top: 0;
    z-index: 1000;
  }

  .ve-header {
    margin-bottom: -2rem;
  }

  .ve-header:not(:first-of-type) {
    margin-top: 3rem;
  }

  .vision-element {
    margin-bottom: 3rem;
  }

  .indicator {
    margin-top: 5rem;
    border: 1px solid #dee2e6;
    border-radius: .25rem;
    padding: 1.5rem 1rem 0 1rem;
    position: relative;
  }

  .indicator .title {
    position: absolute;
    top: -16px;
    background: #fcfcfc;
    padding: 0 1rem;
    font-weight: bold;
  }

  .indicator .number {
    background-color: #144d58;
    color: #fff;
    padding: 0 .5rem;
    border-radius: .25rem;
    margin-right: .5rem;
    font-size: 1rem;
    font-weight: bold;
  }

  .indicator hr,
  .list-group {
    margin-left: -1rem;
    width: calc(100% + 2rem);
  }

  .indicator .list-group-item {
    border-bottom: none;
    border-radius: 0;
    text-align: center;
  }

  .indicator .list-group .list-group-item:first-of-type {
    border-left: none;
    border-top-left-radius: 0;
  }

  .indicator .list-group .list-group-item:last-of-type {
    border-right: none;
    border-top-right-radius: 0;
  }

  .indicator .unit {
    font-weight: 300;
    font-size: 2rem;
    height: 32px;
    line-height: 1;
    display: inline-block;
  }

  .indicator img.sdg {
    height: 58.5px;
    border-radius: 2px;
  }

  .copy-link {
    opacity: 0;
    position: absolute;
    top: 0px;
    right: 0px;
    border-bottom: 1px solid #dee2e6;
    border-left: 1px solid #dee2e6;
    padding: 1px;
    border-bottom-left-radius: .25rem;
    font-size: .825rem;
    min-width: 23px;
    text-align: center;
    background: #efefef;
    cursor: pointer;
    transition: all .3s;
  }

  .copy-link:hover {
    background-color: #dee2e6;
  }

  .indicator:hover .copy-link {
    opacity: 1;
  }

  dd {
    margin-bottom: 1rem;
  }
</style>
{% endblock %}

{% block content %}

  <h1>Indicators metadata</h1>

  <div class="row">
    <div class="col-lg-9 pt-3" data-spy="scroll" id="indicators" data-target="#indicator-menu">
      <div class="vision-element">
        {% for each in indicator_list %}

          {% ifchanged each.vision_element %}
            <h4 class="ve-header" id="ve-{{ each.vision_element }}">{{ each.vision_element }}. {{ each.get_vision_element_display }}</h4>
          {% endifchanged %}

          <div class="indicator">
            <div class="title" id="indicator-{{ each.number }}">
              <span class="number">{{ each.number }}</span>
              {{ each.name }}
            </div>

            <div class="description">
              {{ each.description_html|safe }}
            </div>

            <hr>

            <dl>
              <dt>Vision element</dt>
              <dd>{{ each.get_vision_element_display }}</dd>

              <hr>

              <dt>Category</dt>
              <dd>
                <ul>
                {% for category in each.category %}
                  <li>{{ category }}</li>
                {% endfor %}
                </ul>
              </dd>

              <hr>

              <dt>Methodology</dt>
              <dd>
                {{ each.methodology_html|safe }}
              </dd>

              <hr>

              <dt>Unit</dt>
              <dd>{{ each.unit }}</dd>
            </dl>


            <a class="copy-link text-dark" href="#indicator-{{ each.number }}">
              <i class="far fa-fw fa-link"></i> <span class="link-copied pr-1" hidden>Link copied</span>
            </a>
          </div>
        {% endfor %}

      </div>
    </div>
    <div class="col-lg-3 pt-3">
      <h4 class="mb-5">&nbsp;</h4>
      <div class="sticky-top">
        <nav class="navbar navbar-light border rounded p-0" id="indicator-menu">
          {% for each in indicator_list %}
            {% ifchanged each.vision_element %}
              {% if not forloop.first %}
              </div>
              {% endif %}
              <div class="ve-collection collapsed" data-ve="{{ each.vision_element }}">
              <a class="nav-link group" href="#ve-{{ each.vision_element }}">{{ each.vision_element }}. {{ each.get_vision_element_display }}</a>
            {% endifchanged %}
            <a class="nav-link pl-3" href="#indicator-{{ each.number }}">{{ each }}</a>
          {% endfor %}
          </div>
        </nav>
      </div>
    </div>
  </div>

{% endblock %}

{% block footer %}
  <script>
    $("body").scrollspy({
      target: "#indicator-menu"
    })

    const indicatorMenu = document.getElementById("indicator-menu");
    let selectedIndicator;

    // function when scrollspy switches focus
    $(window).on("activate.bs.scrollspy", function (event) {
      $(".ve-collection").addClass("collapsed");

      selectedIndicator = $("#indicator-menu .nav-link.active");

      selectedIndicator.parent().removeClass("collapsed");


    })

    // copy url
    function copyToClipboard(element) {
      let temp = $("<input>");
      $("body").append(temp);
      temp.val(element).select();
      document.execCommand("copy");
      temp.remove();
    }

    // share button popup
    $(".copy-link").click(function() {
      $(this).find(".link-copied").removeAttr("hidden")
      setTimeout(function(){
        copyToClipboard(window.location.href);
      }, 300);
      setTimeout(function(){
        $(".link-copied").attr("hidden", "hidden")
      }, 5000);
    });
  </script>
{% endblock %}