{% extends "_base.html" %}
{% load static %}

{% block css %}
  <style>
    .table td {
      vertical-align: middle;
      padding: 1rem .75rem;
    }

    td.number {
      width: 48px;
      padding-right: 0;
    }

    td.checkbox {
      width: 48px;
      border-left: 1px solid #dee2e6
    }

    td.status {
      width: 150px;
      text-align: right;
    }

    .status .badge {
      padding: 0 0 0 .4rem;
    }

    .status .edit {
      height: 100%;
      padding: 6px .4em;
      margin-left: .4rem;
      display: inline-block;
      background-color: rgba(0,0,0,.5);
      border-top-right-radius: .25rem;
      border-bottom-right-radius: .25rem;
    }

    .indicator-number {
      background-color: #144d58;
      color: #fff;
      padding: 0 .5rem;
      border-radius: .25rem;
      display: inline-block;
      font-weight: bold;
    }

    .custom-switch .custom-control-input:disabled:checked ~ .custom-control-label::before {
      background-color: #144d58;
    }

    .indicator-table tbody tr:first-of-type td {
      border-top: none;
    }
  </style>
{% endblock %}

{% block content %}

  <h1>Indicators</h1>

  <nav aria-label="breadcrumb">
    <ol class="breadcrumb bg-transparent p-0">
      <li class="breadcrumb-item"><a href="{% url 'cityloops:dashboard_mockup' 'bodo' %}">{{ info }}</a></li>
      <li class="breadcrumb-item active" aria-current="page">Indicators</li>
    </ol>
  </nav>

  <form class="mt-4">
    <table class="table indicator-table">
      <tbody>
        <tr>
          <td class="number"><a href="{% url 'cityloops:indicators' %}" class="indicator-number">01</a></td>
          <td class="indicator-text">{% lorem 7 w random %}</td>
          <td class="has-button text-right">
            <a href="{% url 'cityloops:city_indicator' 'bodo' 1 %}" class="btn btn-cityloops-primary btn-sm">
              <i class="far fa-fw fa-chart-pie"></i> Sector <i class="fa fa-fw fa-check-circle mr-0 ml-2"></i>
            </a>
          </td>
        </tr>
        <tr>
          <td class="number"><a href="{% url 'cityloops:indicators' %}" class="indicator-number">05</a></td>
          <td class="indicator-text">{% lorem 7 w random %}</td>
          <td class="has-button text-right">
            <a href="{% url 'cityloops:city_indicator' 'bodo' 1 %}" class="btn btn-secondary btn-sm">
              <i class="far fa-fw fa-city"></i> City
            </a>
            <a href="{% url 'cityloops:city_indicator' 'bodo' 1 %}" class="btn btn-cityloops-secondary btn-sm">
              <i class="far fa-fw fa-random"></i> Demonstration action <i class="fa fa-fw fa-check-circle mr-0 ml-2"></i>
            </a>
          </td>
        </tr>
        <tr>
          <td class="number"><a href="{% url 'cityloops:indicators' %}" class="indicator-number">15</a></td>
          <td class="indicator-text">Circular Material Use Rate </td>
          <td class="has-button text-right">
            <a href="{% url 'cityloops:city_indicator' 'bodo' 1 %}" class="btn btn-cityloops-secondary btn-sm">
              <i class="far fa-fw fa-random"></i> Demonstration action
            </a>
          </td>
        </tr>

      </tbody>
    </table>
  </form>

  <div class="mt-4">
    <div class="btn btn-primary download-word">
      <i class="fa fa-file-word"></i> Export
    </div>

    <a class="btn btn-primary" href="{% url 'cityloops:city_indicators_form' 'bodo' %}">
      <i class="fa fa-tasks"></i> Select indicators
    </a>
  </div>
{% endblock %}

{% block footer %}
  <!-- library for exporting to docx -->
  <script src="https://unpkg.com/docx@5.0.2/build/index.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/FileSaver.js/1.3.8/FileSaver.js"></script>

  <script>
    function downloadWord() {
      var word = new docx.Document();

      word.addSection({
        properties: {},
        children: [
          new docx.Paragraph({
            children: [
              new docx.TextRun("Metabolism of Cities!"),
              new docx.TextRun({
                text: "Etc etc etc",
              }),
            ],
          }),
        ],
      });

      docx.Packer.toBlob(word).then(blob => {
        saveAs(blob, "report.docx");
      });
    }

    $(".download-word").click(function() {
      downloadWord()
    });
  </script>
{% endblock %}