{% extends "_base.html" %}
{% load static %}

{% block css %}
  <style>
    td.status {
      min-width: 230px;
      text-align: right;
    }

    .indicator-table {
      margin-bottom: 3rem;
    }

    .indicator-table tbody tr:first-of-type td {
      border-top: none;
    }

    .indicator-text i.text-muted {
      opacity: .15;
    }
  </style>
{% endblock %}

{% block content %}

  <h1>{{ sector|title }} indicators</h1>

  <nav aria-label="breadcrumb">
    <ol class="breadcrumb bg-transparent p-0">
      <li class="breadcrumb-item"><a href="{% url 'cityloops:dashboard_mockup' info.slug %}">{{ info }}</a></li>
      <li class="breadcrumb-item"><a href="{% url 'cityloops:city_sectors' info.slug %}">Indicators</a></li>
      <li class="breadcrumb-item active" aria-current="page">{{ sector|title }}</li>
    </ol>
  </nav>

  {% if indicator_scale_list %}

    {% if user_can_edit %}
      <a class="btn btn-primary mb-4" href="{% url 'cityloops:city_indicators_form' info.slug sector %}">
        <i class="fa fa-tasks"></i> Select indicators
      </a>
    {% endif %}

    <div class="btn btn-primary mb-4 download-word">
      <i class="fa fa-file-word"></i> Export to Word
    </div>

    {% for each in indicator_scale_list %}
      {% ifchanged each.indicator.vision_element %}
      {% if not forloop.first %}
      </tbody>
    </table>
      {% endif %}

    <h4>{{ each.indicator.vision_element }}. {{ each.indicator.get_vision_element_display }}</h4>
    <table class="table indicator-table">
      <tbody>
      {% endifchanged %}
        <tr>
          <td class="indicator-text">
            {% if each.scale == 3 %}
            {{ each.indicator }}
            {% else %}
              {% if each.completed %}
                <i class="fa fa-check-circle text-success mr-2"></i>
              {% else %}
                <i class="fa fa-check-circle text-muted mr-2"></i>
              {% endif %}
            <a href="{% url 'cityloops:city_indicator' info.slug sector each.id %}">{{ each.indicator }}</a></td>
            {% endif %}
          <td class="has-button status">
            {% if each.indicator in mandatory_list %}<i class="fal fa-asterisk mr-2"></i>{% endif %}
            {% if each.scale == 1 %}
              <a href="{% url 'cityloops:city_indicator' info.slug sector each.id %}" class="btn btn-cityloops-secondary btn-sm {% if each.indicator in mandatory_list %}disabled{% endif %}">
                <i class="far fa-fw fa-random"></i> Demonstration action
              </a>
            {% elif each.scale == 2 %}
              <a href="{% url 'cityloops:city_indicator' info.slug sector each.id %}" class="btn btn-secondary btn-sm {% if each.indicator in mandatory_list %}disabled{% endif %}">
                <i class="far fa-fw fa-city"></i> City
              </a>
            {% elif each.scale == 3 %}
              <a href="{% url 'cityloops:city_indicator' info.slug sector each.id %}" class="btn btn-cityloops-primary btn-sm disabled">
                <i class="far fa-fw fa-chart-pie"></i> Sector
              </a>
            {% endif %}
          </td>
        </tr>
    {% endfor %}
      </tbody>
    </table>

  {% else %}

    <div class="border rounded p-3 bg-light text-center">
      <div class="mt-4"><i class="fal fa-empty-set fa-fw mr-2 fa-3x"></i></div>

      <h4 class="my-4">{{ info }} has not selected any indicators yet</h4>

      {% if user_can_edit %}
        <a class="btn btn-primary btn-lg mb-4" href="{% url 'cityloops:city_indicators_form' info.slug sector %}">
          <i class="fa fa-tasks"></i> Select indicators
        </a>
      {% endif %}
    </div>

  {% endif %}
{% endblock %}

{% block footer %}
  <!-- library for exporting to docx -->
  <script src="https://unpkg.com/docx@5.5.0/build/index.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/FileSaver.js/1.3.8/FileSaver.js"></script>

  <script>

    function downloadWord(){
      let doc = new docx.Document()

      {% for each in indicator_scale_list %}
        {% if each.scale != 3 %}

          const title_{{ each.id }} = new docx.Paragraph("{{ each }}")

          const table_{{ each.id }} = new docx.Table({
            rows: [
              // Rationale
              new docx.TableRow({
                children: [new docx.TableCell({
                  children: [new docx.Paragraph({
                    text: "Rationale"
                  })],
                  width: {
                    size: 30,
                    type: docx.WidthType.PERCENTAGE
                  },
                }), new docx.TableCell({
                  children: [new docx.Paragraph({
                    text: "{{ each.rationale|default:'' }}"
                  })],
                  width: {
                    size: 70,
                    type: docx.WidthType.PERCENTAGE
                  }
                })]
              }),

              // Baseline data / definition
              new docx.TableRow({
                children: [new docx.TableCell({
                  children: [new docx.Paragraph({
                    text: "Baseline data / definition"
                  })],
                  width: {
                    size: 30,
                    type: docx.WidthType.PERCENTAGE
                  },
                }), new docx.TableCell({
                  children: [new docx.Paragraph({
                    text: "{{ each.baseline|default:'' }}"
                  })],
                  width: {
                    size: 70,
                    type: docx.WidthType.PERCENTAGE
                  }
                })]
              }),

              // Data sources / relevant databases
              new docx.TableRow({
                children: [new docx.TableCell({
                  children: [new docx.Paragraph({
                    text: "Data sources / relevant databases"
                  })],
                  width: {
                    size: 30,
                    type: docx.WidthType.PERCENTAGE
                  },
                }), new docx.TableCell({
                  children: [new docx.Paragraph({
                    text: "{{ each.sources|default:'' }}"
                  })],
                  width: {
                    size: 70,
                    type: docx.WidthType.PERCENTAGE
                  }
                })]
              }),

              // Overall accuracy
              new docx.TableRow({
                children: [new docx.TableCell({
                  children: [new docx.Paragraph({
                    text: "Overall accuracy"
                  })],
                  width: {
                    size: 30,
                    type: docx.WidthType.PERCENTAGE
                  },
                }), new docx.TableCell({
                  children: [new docx.Paragraph({
                    text: "{{ each.accuracy|default:'' }}"
                  })],
                  width: {
                    size: 70,
                    type: docx.WidthType.PERCENTAGE
                  }
                })]
              }),

              // Sector coverage
              new docx.TableRow({
                children: [new docx.TableCell({
                  children: [new docx.Paragraph({
                    text: "Sector coverage"
                  })],
                  width: {
                    size: 30,
                    type: docx.WidthType.PERCENTAGE
                  },
                }), new docx.TableCell({
                  children: [new docx.Paragraph({
                    text: "{{ each.coverage|default:'' }}"
                  })],
                  width: {
                    size: 70,
                    type: docx.WidthType.PERCENTAGE
                  }
                })]
              }),

              // Reference area / Spatial implementation scale
              new docx.TableRow({
                children: [new docx.TableCell({
                  children: [new docx.Paragraph({
                    text: "Reference area / spatial implementation scale"
                  })],
                  width: {
                    size: 30,
                    type: docx.WidthType.PERCENTAGE
                  },
                }), new docx.TableCell({
                  children: [new docx.Paragraph({
                    text: "{{ each.area|default:'' }}"
                  })],
                  width: {
                    size: 70,
                    type: docx.WidthType.PERCENTAGE
                  }
                })]
              }),

              // Reference period
              new docx.TableRow({
                children: [new docx.TableCell({
                  children: [new docx.Paragraph({
                    text: "Reference period"
                  })],
                  width: {
                    size: 30,
                    type: docx.WidthType.PERCENTAGE
                  },
                }), new docx.TableCell({
                  children: [new docx.Paragraph({
                    text: "{{ each.period|default:'' }}"
                  })],
                  width: {
                    size: 70,
                    type: docx.WidthType.PERCENTAGE
                  }
                })]
              }),

              // Comments
              new docx.TableRow({
                children: [new docx.TableCell({
                  children: [new docx.Paragraph({
                    text: "Comments"
                  })],
                  width: {
                    size: 30,
                    type: docx.WidthType.PERCENTAGE
                  },
                }), new docx.TableCell({
                  children: [new docx.Paragraph({
                    text: "{{ each.comments|default:'' }}"
                  })],
                  width: {
                    size: 70,
                    type: docx.WidthType.PERCENTAGE
                  }
                })]
              }),
            ],
            width: {
              size: 100,
              type: docx.WidthType.PERCENTAGE
            },
            columnWidths: [30, 70],
            layout: docx.TableLayoutType.FIXED
          })


          doc.addSection({
             children: [title_{{ each.id }}, table_{{ each.id }}],
          });

        {% endif %}
      {% endfor %}


      docx.Packer.toBlob(doc).then(blob => {
        saveAs(blob, "evaluation-plan.docx");
      });
    }

    $(".download-word").click(function() {
      downloadWord()
    });
  </script>
{% endblock %}