{% extends "_base.html" %}
{% load static %}

{% block css %}
  <style>
    .overview-table td {
      padding-top: .5rem;
      padding-bottom: .5rem;
    }

    .overview-table .badge {
      vertical-align: text-top;
      height: 20px;
    }

    tr.selected {
      background-color: #efefef;
    }

    td.scale {
      text-align: right;
      padding-right: .5rem;
    }

    td.status {
      text-align: right;
      padding-left: 0;
    }

    .overview-table tbody tr:first-of-type td {
      border-top: none;
    }

    td.indicator {
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap;
      width: 250px;
      max-width: 250px;
    }

    dl.indicator-metadata dd {
      margin-bottom: 2rem;
    }
  </style>
{% endblock %}

{% block content %}
  <h1>Indicators</h1>

  <nav aria-label="breadcrumb">
    <ol class="breadcrumb bg-transparent p-0">
      <li class="breadcrumb-item"><a href="{% url 'cityloops:dashboard_mockup' info.slug %}">{{ info }}</a></li>
      <li class="breadcrumb-item"><a href="{% url 'cityloops:city_sectors' info.slug %}">Indicators</a></li>
      <li class="breadcrumb-item"><a href="{% url 'cityloops:city_indicators' info.slug sector %}">{{ sector|title }}</a></li>
      <li class="breadcrumb-item active" aria-current="page">{{ value.indicator }}</li>
    </ol>
  </nav>

  <div class="row">
    <div class="col-lg-8">
      <h5 class="mb-0">{{ value.indicator }}</h5>

      {% if value.scale == 1 %}<span class="badge badge-cityloops-secondary">Demonstration action</span>
      {% elif value.scale == 2 %}<span class="badge badge-secondary">City</span>
      {% elif value.scale == 3 %}<span class="badge badge-cityloops-primary">Sector</span>{% endif %}

      {% if value.last_update %}
        <small class="text-muted">
          Last edited {{ value.last_update|date:"l d F Y, H:i e" }}
        </small>
      {% endif %}

      <dl class="indicator-metadata mt-4">
        {% if value.rationale %}
          <dt>Rationale</dt>
          <dd>{{ value.rationale|linebreaks }}</dd>
        {% endif %}

        {% if value.baseline %}
          <dt>Baseline data / definition</dt>
          <dd>{{ value.baseline|linebreaks }}</dd>
        {% endif %}

        {% if value.sources %}
          <dt>Data sources / relevant databases</dt>
          <dd>{{ value.sources|linebreaks }}</dd>
        {% endif %}

        {% if value.accuracy %}
          <dt>Overall accuracy</dt>
          <dd>{{ value.accuracy|linebreaks }}</dd>
        {% endif %}

        {% if value.coverage %}
          <dt>Sector coverage</dt>
          <dd>{{ value.coverage|linebreaks }}</dd>
        {% endif %}

        {% if value.area %}
          <dt>Reference area / Spatial implementation scale</dt>
          <dd>{{ value.area|linebreaks }}</dd>
        {% endif %}

        {% if value.period_from and value.period_to %}
          <dt>Reference period</dt>
          <dd>{{ value.period_from|date:"d F Y" }} until {{ value.period_to|date:"d F Y" }}</dd>
        {% endif %}

        {% if value.comments %}
          <dt>Comments</dt>
          <dd>{{ value.comments|linebreaks }}</dd>
        {% endif %}
      </dl>

      <div class="border rounded p-3 bg-light">
        The information above is specific to {{ info }}'s evaluation plan. For general information on this indicator, please refer to <a href="{% url 'cityloops:indicators' %}#indicator-{{ value.indicator.number }}">its entry in the list of indicators</a>.
      </div>
    </div>
    <div class="col-lg-4">
      <div class="card card-table mb-4">
        {% include "cityloops/_indicator-status-table.html" %}
      </div>

      {% if user_can_edit %}
        <div class="mt-4">
          <a class="btn btn-primary" href="{% url 'cityloops:city_indicator_form' info.slug sector value.id %}">
            <i class="fa fa-marker"></i> Edit entry
          </a>
        </div>
      {% endif %}
    </div>
  </div>

{% endblock %}
