{% extends "_base.html" %}

{% block content %}

  <h1>Reports</h1>

  <section class="row">
    <div class="col-md-6 col-lg-4 mb-4">
      <div class="card icon-card">
        <div class="icon">
          <i class="far fa-fw fa-file-chart-line"></i>
        </div>
        <div class="card-header">Deliverable 4.1</div>
        <div class="card-body">
          <p class="h4">
            Urban Material Flows and Stocks Accounting: A Review of Methods and Their Application.
          </p>
          <p><a href="/library/2536/">View document</a></p>
        </div>
      </div>
    </div>
    <div class="col-md-6 col-lg-4 mb-4">
      <div class="card icon-card">
        <div class="icon">
          <i class="far fa-fw fa-table"></i>
        </div>
        <div class="card-header">Deliverable 4.2</div>
        <div class="card-body">
          <p class="h4">
            Development of an Urban Material Flow and Stock Database Structure
          </p>
          <p><a href="/library/49682/">View document</a></p>
        </div>
      </div>
    </div>
    <div class="col-md-6 col-lg-4 mb-4">
      <div class="card icon-card">
        <div class="icon">
          <i class="far fa-fw fa-construction"></i>
        </div>
        <div class="card-header">Deliverable 4.3</div>
        <div class="card-body">
          <p class="alert alert-warning">
            Under construction - estimated delivery Oct-Nov 2020
          </p>
        </div>
      </div>
    </div>
  </section>

{% endblock %}
