{% extends "_base.html" %}
{% load static %}
{% load moc_extras %}

{% block head %}
<style>
  form#report label {
    font-weight: bold;
    margin-bottom: 0;
    display: block;
  }

  .form-group {
    margin-bottom: 2rem;
  }
</style>
{% endblock %}

{% block content %}

<form id="report" method="post">
  <h1>SCA report form <small>({{ sector }})</small></h1>

  <div class="border rounded p-3 mb-4 bg-primary-opaque">
    Add your data for the respective fields for your <a target="_blank" href="https://docs.google.com/document/d/1uL36xCwlYA_cgXd8XXop95LeW3MYQBj9RsQmz_u0bNU/edit#heading=h.ho75s34kkrz2">reference year</a>.<br>
    Questions marked with <i class="fab fa-markdown"></i> allow for Markdown formatted input. Make sure to save your changes.
    <br>
    <a class="btn btn-primary mt-3" href="{% url 'cityloops:sca_report' space.slug sector %}">
      <i class="fal fa-file-alt"></i> View report
    </a>

    <div class="btn btn-primary mt-3 show-markdown">
      <i class="fab fa-markdown"></i> How to use Markdown <i class="far angle fa-angle-down ml-2 mr-0"></i>
    </div>

    <div class="markdown-help mt-3 d-none">
      <p>
        <a href="https://en.wikipedia.org/wiki/Markdown" target="_blank">Markdown</a> is a simple <em>markup language</em> that allows you to create rich text using plain text; it lets you add headers, lists, styling, links, and much more using only plain text.
      </p>
      <p>
        The buttons in the toolbar will do most of the formatting for you. Below is an overview of all the possibilities. On the left is the input - what you write in the text area. On the right is what that input will end up looking like on the forum.
      </p>
      <table class="table table-responsive border bg-white">
        <thead>
          <tr>
            <th>Input</th>
            <th>Output</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>### Header</td>
            <td><h3>Header</h3></td>
          </tr>
          <tr>
            <td>**Bold text**</td>
            <td><strong>Bold text</strong></td>
          </tr>
          <tr>
            <td>_Italic text_</td>
            <td><em>Italic text</em></td>
          </tr>
          <tr>
            <td>[This is a link](https://example.com) to another website</td>
            <td><a href="https://example.com">This is a link</a> to another website</td>
          </tr>
          <tr>
            <td>You can write `inline code` in your text</td>
            <td>You can write <code>inline code</code> in your text</td>
          </tr>
          <tr>
            <td>
              <p>As Walt Whitman said:</p>

              <p>> Keep your face always toward the sunshine - and shadows will fall behind you.</p>
            </td>
            <td>
              <p>As Walt Whitman said:</p>

              <blockquote>Keep your face always toward the sunshine - and shadows will fall behind you.</blockquote>
            </td>
          </tr>
          <tr>
            <td>
              1. Making a list<br>
              2. Is quite simple<br>
              3. Try it out!
            </td>
            <td>
              <ol>
                <li>Making a list</li>
                <li>Is quite simple</li>
                <li>Try it out!</li>
              </ol>
            </td>
          </tr>
          <tr>
            <td>
              - Bullet points<br>
              - Are also possible<br>
              - And just as easy
            </td>
            <td>
              <ul>
                <li>Bullet points</li>
                <li>Are also possible</li>
                <li>And just as easy</li>
              </ul>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  <h2>Urban context</h2>
  <div class="mb-4 border rounded bg-primary-opaque p-3">
    <i class="fa fa-exclamation-triangle mr-2"></i> For the population and area values, only fill in integers (whole numbers). <strong>Do not add</strong> thousand separators, decimal points, or commas.
  </div>

  <div class="border rounded pt-4 px-4 mb-4 bg-white">
    <div class="row">
      <div class="col-lg">
        <div class="form-group">
          <label for="space-population"><span class="question-number bg-dark text-light rounded px-2 mr-1">1A</span> {{ space }} population</label>
          <input type="number" min="0" max="2147483647" class="form-control" name="space-population" value="{{ report.space_population }}">
        </div>
      </div>
      <div class="col-lg">
        <div class="form-group">
          <label for="space-size"><span class="question-number bg-dark text-light rounded px-2 mr-1">1B</span> {{ space }} area</label>
          <div class="input-group mb-2">
            <input type="number" min="0" max="2147483647" class="form-control" name="space-size" value="{{ report.space_size }}">
            <div class="input-group-append">
              <div class="input-group-text">km<sup>2</sup></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="border rounded pt-4 px-4 mb-4 bg-white">
    <div class="row">
      <div class="col-lg">
        <div class="form-group">
          <label for="nuts3-population"><span class="question-number bg-dark text-light rounded px-2 mr-1">2A</span> {{ nuts3 }} population</label>
          <input type="number" min="0" max="2147483647" class="form-control" name="nuts3-population" value="{{ report.nuts3_population }}">
        </div>
      </div>
      <div class="col-lg">
        <div class="form-group">
          <label for="nuts3-size"><span class="question-number bg-dark text-light rounded px-2 mr-1">2B</span> {{ nuts3 }} area</label>
          <div class="input-group mb-2">
            <input type="number" min="0" max="2147483647" class="form-control" name="nuts3-size" value="{{ report.nuts3_size }}">
            <div class="input-group-append">
              <div class="input-group-text">km<sup>2</sup></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="border rounded pt-4 px-4 mb-4 bg-white">
    <div class="row">
      <div class="col-lg">
        <div class="form-group">
          <label for="nuts2-population"><span class="question-number bg-dark text-light rounded px-2 mr-1">3A</span> {{ nuts2 }} population</label>
          <input type="number" min="0" max="2147483647" class="form-control" name="nuts2-population" value="{{ report.nuts2_population }}">
        </div>
      </div>
      <div class="col-lg">
        <div class="form-group">
          <label for="nuts2-size"><span class="question-number bg-dark text-light rounded px-2 mr-1">3B</span> {{ nuts2 }} area</label>
          <div class="input-group mb-2">
            <input type="number" min="0" max="2147483647" class="form-control" name="nuts2-size" value="{{ report.nuts2_size }}">
            <div class="input-group-append">
              <div class="input-group-text">km<sup>2</sup></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="border rounded pt-4 px-4 mb-4 bg-white">
    <div class="row">
      <div class="col-lg">
        <div class="form-group">
          <label for="country-population"><span class="question-number bg-dark text-light rounded px-2 mr-1">4A</span> {{ country }} population</label>
          <input type="number" min="0" max="2147483647" class="form-control" name="country-population" value="{{ report.country_population }}">
        </div>
      </div>
      <div class="col-lg">
        <div class="form-group">
          <label for="country-size"><span class="question-number bg-dark text-light rounded px-2 mr-1">4B</span> {{ country }} area</label>
          <div class="input-group mb-2">
            <input type="number" min="0" max="2147483647" class="form-control" name="country-size" value="{{ report.country_size }}">
            <div class="input-group-append">
              <div class="input-group-text">km<sup>2</sup></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="border rounded pt-4 px-4 mb-4 bg-white">
    <div class="form-group">
      <label><span class="question-number bg-dark text-light rounded px-2 mr-1">5A</span> ID number of {{ space }}'s population dataset</label>
      <input class="form-control" type="number" min="0" max="2147483647" name="population-dataset" value="{{ report.population_dataset.id }}">
    </div>

    <div class="form-group">
      <label><span class="question-number bg-dark text-light rounded px-2 mr-1">5B</span> <i class="fab fa-markdown"></i> Briefly describe how the population developed over time</label>
      <textarea class="form-control" rows="3" name="population-description">{{ report.population_description }}</textarea>
      <small>Besides normal Markdown, here you can also add dataset visualisations by adding <code>[#ID]</code>, where <code>ID</code> is the ID number of the dataset.</small>
    </div>
  </div>

  <div class="border rounded pt-4 px-4 mb-4 bg-white">
    <div class="form-group">
      <label><span class="question-number bg-dark text-light rounded px-2 mr-1">6A</span> ID number of {{ space }}'s land use dataset</label>
      <input class="form-control" type="number" min="0" max="2147483647" name="land-use-dataset" value="{{ report.land_use_dataset.id }}">
    </div>

    <div class="form-group">
      <label><span class="question-number bg-dark text-light rounded px-2 mr-1">6B</span> <i class="fab fa-markdown"></i> Briefly describe the dominant types of land use of {{ space }}</label>
      <textarea class="form-control" rows="3" name="land-use-description">{{ report.land_use_description }}</textarea>
    </div>
  </div>

  <h2>Sector economic activities ({{ sector }})</h2>
  <div class="mb-4 border rounded bg-primary-opaque p-3">
    <i class="fa fa-exclamation-triangle mr-2"></i> For the GDP and employees values, only fill in integers (whole numbers). <strong>Do not add</strong> thousand separators, decimal points, or commas.
  </div>

  <div class="border rounded pt-4 px-4 mb-4 bg-white">
    <div class="row">
      <div class="col-lg">
        <div class="form-group">
          <label for="space-gdp"><span class="question-number bg-dark text-light rounded px-2 mr-1">7A</span> {{ sector|title }} GDP of {{ space }}</label>
          <input type="number" min="0" max="2147483647" class="form-control" name="space-gdp" value="{{ report.space_gdp }}">
        </div>
      </div>
      <div class="col-lg">
        <div class="form-group">
          <label for="space-employees"><span class="question-number bg-dark text-light rounded px-2 mr-1">7B</span> {{ sector|title }} employees of {{ space }}</label>
          <input type="number" min="0" max="2147483647" class="form-control" name="space-employees" value="{{ report.space_employees }}">
        </div>
      </div>
    </div>
  </div>

  <div class="border rounded pt-4 px-4 mb-4 bg-white">
    <div class="row">
      <div class="col-lg">
        <div class="form-group">
          <label for="nuts3-gdp"><span class="question-number bg-dark text-light rounded px-2 mr-1">8A</span> {{ sector|title }} GDP of {{ nuts3 }}</label>
          <input type="number" min="0" max="2147483647" class="form-control" name="nuts3-gdp" value="{{ report.nuts3_gdp }}">
        </div>
      </div>
      <div class="col-lg">
        <div class="form-group">
          <label for="nuts3-employees"><span class="question-number bg-dark text-light rounded px-2 mr-1">8B</span> {{ sector|title }} employees of {{ nuts3 }}</label>
          <input type="number" min="0" max="2147483647" class="form-control" name="nuts3-employees" value="{{ report.nuts3_employees }}">
        </div>
      </div>
    </div>
  </div>

  <div class="border rounded pt-4 px-4 mb-4 bg-white">
    <div class="row">
      <div class="col-lg">
        <div class="form-group">
          <label for="nuts2-gdp"><span class="question-number bg-dark text-light rounded px-2 mr-1">9A</span> {{ sector|title }} GDP of {{ nuts2 }}</label>
          <input type="number" min="0" max="2147483647" class="form-control" name="nuts2-gdp" value="{{ report.nuts2_gdp }}">
        </div>
      </div>
      <div class="col-lg">
        <div class="form-group">
          <label for="nuts2-employees"><span class="question-number bg-dark text-light rounded px-2 mr-1">9B</span> {{ sector|title }} employees of {{ nuts2 }}</label>
          <input type="number" min="0" max="2147483647" class="form-control" name="nuts2-employees" value="{{ report.nuts2_employees }}">
        </div>
      </div>
    </div>
  </div>

  <div class="border rounded pt-4 px-4 mb-4 bg-white">
    <div class="row">
      <div class="col-lg">
        <div class="form-group">
          <label for="country-gdp"><span class="question-number bg-dark text-light rounded px-2 mr-1">10A</span> {{ sector|title }} GDP of {{ country }}</label>
          <input type="number" min="0" max="2147483647" class="form-control" name="country-gdp" value="{{ report.country_gdp }}">
        </div>
      </div>
      <div class="col-lg">
        <div class="form-group">
          <label for="country-employees"><span class="question-number bg-dark text-light rounded px-2 mr-1">10B</span> {{ sector|title }} employees of {{ country }}</label>
          <input type="number" min="0" max="2147483647" class="form-control" name="country-employees" value="{{ report.country_employees }}">
        </div>
      </div>
    </div>
  </div>

  <div class="border rounded pt-4 px-4 mb-4 bg-white">
    <div class="form-group">
      <label><span class="question-number bg-dark text-light rounded px-2 mr-1">11</span> <i class="fab fa-markdown"></i> Describe the {{ sector }} sector in {{ space }}</label>
      <textarea class="form-control" rows="3" name="sector-description">{{ report.sector_description }}</textarea>
      <small>Answering these questions might help: How big is it in terms of employees or GDP/GVA? How big or small is it compared to other sectors?</small>
      <small>Besides normal Markdown, here you can also add dataset visualisations by adding <code>[#ID]</code>, where <code>ID</code> is the ID number of the dataset.</small>
    </div>
  </div>

  <div class="border rounded pt-4 px-4 mb-4 bg-white">
    <div class="form-group">
      <label><span class="question-number bg-dark text-light rounded px-2 mr-1">12A</span> ID number of {{ space }}'s actors dataset</label>
      <input class="form-control" type="number" min="0" max="2147483647" name="actors-dataset" value="{{ report.actors_dataset.id }}">
    </div>

    <div class="form-group">
      <label><span class="question-number bg-dark text-light rounded px-2 mr-1">12B</span> <i class="fab fa-markdown"></i> Describe the actors</label>
      <textarea class="form-control" rows="3" name="actors-description">{{ report.actors_description }}</textarea>
      <small>How many are there in total? How many waste companies are there? Are they clustered or far apart? Are they close to the city or outside? What kind of other actors are there? Local mines? Local farms?</small>
      <small>Besides normal Markdown, here you can also add dataset visualisations by adding <code>[#ID]</code>, where <code>ID</code> is the ID number of the dataset.</small>
    </div>
  </div>

  <h2>Indicators</h2>
  <div class="border rounded pt-4 px-4 mb-4 bg-white">
    <div class="form-group">
      <label><span class="question-number bg-dark text-light rounded px-2 mr-1">13</span> <i class="fab fa-markdown"></i> Describe the indicators that were chosen and their development over time</label>
      <textarea class="form-control" rows="3" name="indicators-table">{{ report.indicators_table }}</textarea>
      <small>Besides normal Markdown, here you can also add dataset visualisations by adding <code>[#ID]</code>, where <code>ID</code> is the ID number of the dataset.</small>
    </div>
  </div>

  <h2>Sankey description</h2>
  <div class="border rounded pt-4 px-4 mb-4 bg-white">
    <div class="form-group">
      <label><span class="question-number bg-dark text-light rounded px-2 mr-1">14</span> <i class="fab fa-markdown"></i> Describe the sankey</label>
      <textarea class="form-control" rows="3" name="sankey-description">{{ report.sankey_description }}</textarea>
    </div>
  </div>

  <h2>Data quality assessment</h2>
  <div class="border rounded pt-4 px-4 mb-4 bg-white">
    <div class="form-group">
      <label><span class="question-number bg-dark text-light rounded px-2 mr-1">15</span> <i class="fab fa-markdown"></i> Matrix based on the data quality matrix</label>
      <textarea class="form-control" rows="3" name="matrix">{{ report.matrix }}</textarea>
    </div>
  </div>

  <div class="border rounded pt-4 px-4 mb-4 bg-white">
    <div class="form-group">
      <label><span class="question-number bg-dark text-light rounded px-2 mr-1">16</span> <i class="fab fa-markdown"></i> Couple of paragraphs that explain the data quality</label>
      <textarea class="form-control" rows="3" name="quality">{{ report.quality }}</textarea>
    </div>
  </div>

  <div class="border rounded pt-4 px-4 mb-4 bg-white">
    <div class="form-group">
      <label><span class="question-number bg-dark text-light rounded px-2 mr-1">17</span> <i class="fab fa-markdown"></i> Couple of paragraphs that explain the gaps and in general how they were closed (sources, assumptions, calculations)</label>
      <textarea class="form-control" rows="3" name="gaps">{{ report.gaps }}</textarea>
    </div>
  </div>

  <h2>Data analysis</h2>
  <div class="border rounded pt-4 px-4 mb-4 bg-white">
    <div class="form-group">
      <label><span class="question-number bg-dark text-light rounded px-2 mr-1">18</span> <i class="fab fa-markdown"></i> Insights on status quo</label>
      <textarea class="form-control" rows="3" name="status-quo">{{ report.status_quo }}</textarea>
    </div>
  </div>

  <div class="border rounded pt-4 px-4 mb-4 bg-white">
    <div class="form-group">
      <label><span class="question-number bg-dark text-light rounded px-2 mr-1">19</span> <i class="fab fa-markdown"></i> Upscaling (or reflect on) DAs</label>
      <textarea class="form-control" rows="3" name="upscaling">{{ report.upscaling }}</textarea>
    </div>
  </div>

  <div class="border rounded pt-4 px-4 mb-4 bg-white">
    <div class="form-group">
      <label><span class="question-number bg-dark text-light rounded px-2 mr-1">20</span> Recommendation for making the sector more circular</label>
      <textarea class="form-control" rows="2" name="recommendations">{{ report.recommendations }}</textarea>
    </div>
  </div>

  {% csrf_token %}

  <button type="submit" class="btn btn-primary">
    <i class="fa fa-save"></i> Save
  </button>
</form>

{% endblock %}

{% block footer %}
  <script>
    $(".show-markdown").click(function() {
      $(".show-markdown i.angle").toggleClass("fa-angle-down fa-angle-up")
      $(".markdown-help").toggleClass("d-none")
    })
  </script>
{% endblock %}