{% load static %}
{% load moc_extras %}
{% load sass_tags %}
{% load humanize %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <link class="favicon" rel="shortcut icon" sizes="126x126" href="{% static 'img/favicon/favicon.png' %}">

  <link rel="stylesheet" href="https://unpkg.com/leaflet@1.6.0/dist/leaflet.css"
     integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ=="
     crossorigin=""/>
  <link rel="stylesheet" href="https://unpkg.com/leaflet@1.6.0/dist/leaflet.css" />
  <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.14.0/css/all.css" integrity="sha384-VhBcF/php0Z/P5ZxlxaEx1GwqTQVIBu4G4giRWxTKOCjTxsPFETUDdVL5B6vYvOt" crossorigin="anonymous">

  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
  <link href="{% sass_src 'css/main.scss' %}?refresh21-apr" rel="stylesheet" type="text/css" />
  <style>
    @import url(https://fonts.googleapis.com/css?family=Montserrat:400,700&subset=latin);

    @media all {
      body {
        min-width: unset !important;
        background-color: #fff !important;
      }

      .cover-page {
        page-break-after: always;
        position: relative;
        width: 100vw;
        height: 100vh;
      }

      .cover-title {
        color: #fff;
        padding: 90px;
        font-weight: bolder;
        text-transform: uppercase;
      }

      .report-title {
        background-color: #004d76;
        font-size: 2.75rem;
        padding: 8px;
        line-height: 5.5rem;
      }

      .city-title {
        background-color: #00b6ed;
        font-size: 3rem;
        padding: 8px;
        line-height: 5.5rem;
      }

      .cover-image {
        width: 100vw;
        height: 100vh;
        position: absolute;
        top: 0;
        left: 0;
        object-fit: cover;
        z-index: -1;
      }

      .cityloops-logo {
        width: 15vw;
        position: absolute;
        right: 3vw;
        bottom: 15vw;
      }

      .moc-logo {
        width: 18vw;
        position: absolute;
        right: 10vw;
        bottom: 5vw;
      }

      .cityloops-background {
        background: transparent;
        width: 30vh;
        height: 30vh;
        border: 15vh solid black;
        border-top-color: transparent;
        border-right-color: #fffd;
        border-bottom-color: #fffd;
        border-left-color: transparent;
        position: absolute;
        bottom: 0;
        right: 0;
        z-index: -1;
      }

      .report-content {
        padding: 5rem;
        max-width: 297mm;
      }

      .context-map {
        height: 200px;
        width: 100%;
        border-radius: .25rem;
      }

      label {
        font-weight: bold;
        margin-bottom: 0;
      }

      iframe {
        max-width: calc(297mm - 12rem);
        height: 500px;
      }

      .sankey-link {
        /*fill-opacity: .5 !important;*/
      }
    }
  </style>
</head>

<body>
  <div class="cover-page">
    <div class="cover-title">
      <span class="report-title">Sector-wide Circularity Assessment</span>
      <br>
      <span class="report-title">for the {{ sector }} sector</span>
      <br>
      <span class="city-title">{{ space }}</span>
    </div>
    <img class="cover-image" src="{{ space.get_large_photo }}">

    <div class="cityloops-background"></div>
    <img class="cityloops-logo" src="https://metabolismofcities.org/media/records/CityLoops_Logo.png">

    <div class="moc-background"></div>
    <img class="moc-logo" src="https://metabolismofcities.org/media/logos/Metabolism_of_Cities_full_logo_white.png">
  </div>

  <div class="report-content">
    <section id="introduction">
      <h1>Introduction</h1>
      <p>Maybe short section on what the SCA is. How long cities have been working on them with the two courses.</p>
      <p><a href="https://cityloops.metabolismofcities.org/dashboards/apeldoorn/">URL to City's Data Hub.</a></p>

      <div class="row text-center materials">
        {% if sector == "construction" %}
          <div class="col-4 mb-4"><div class="border rounded p-3"><i class="fal fa-fw mb-2 fa-2x fa-cubes"></i><div>Aluminium</div></div></div>
          <div class="col-4 mb-4"><div class="border rounded p-3"><i class="fal fa-fw mb-2 fa-2x fa-road"></i><div>Bitumen / asphalt</div></div></div>
          <div class="col-4 mb-4"><div class="border rounded p-3"><i class="fal fa-fw mb-2 fa-2x fa-chimney"></i><div>Bricks</div></div></div>
          <div class="col-4 mb-4"><div class="border rounded p-3"><i class="fal fa-fw mb-2 fa-2x fa-building"></i><div>Concrete</div></div></div>
          <div class="col-4 mb-4"><div class="border rounded p-3"><i class="fal fa-fw mb-2 fa-2x fa-window-frame"></i><div>Glass</div></div></div>
          <div class="col-4 mb-4"><div class="border rounded p-3"><i class="fal fa-fw mb-2 fa-2x fa-grip-lines-vertical"></i><div>Gypsum</div></div></div>
          <div class="col-4 mb-4"><div class="border rounded p-3"><i class="fal fa-fw mb-2 fa-2x fa-igloo"></i><div>Insulation</div></div></div>
          <div class="col-4 mb-4"><div class="border rounded p-3"><i class="fal fa-fw mb-2 fa-2x fa-stream"></i><div>Iron (steel)</div></div></div>
          <div class="col-4 mb-4"><div class="border rounded p-3"><i class="fal fa-fw mb-2 fa-2x fa-ball-pile"></i><div>Sand and gravel</div></div></div>
          <div class="col-4 mb-4"><div class="border rounded p-3"><i class="fal fa-fw mb-2 fa-2x fa-layer-group"></i><div>Soil</div></div></div>
          <div class="col-4 mb-4"><div class="border rounded p-3"><i class="fal fa-fw mb-2 fa-2x fa-tree-alt"></i><div>Timber</div></div></div>
        {% elif sector == "biomass" %}
          <div class="col-4 mb-4"><div class="border rounded p-3"><i class="fal fa-fw mb-2 fa-2x fa-wheat"></i><div>Cereals</div></div></div>
          <div class="col-4 mb-4"><div class="border rounded p-3"><i class="fal fa-fw mb-2 fa-2x fa-cheese-swiss"></i><div>Dairy products</div></div></div>
          <div class="col-4 mb-4"><div class="border rounded p-3"><i class="fal fa-fw mb-2 fa-2x fa-fish"></i><div>Fish</div></div></div>
          <div class="col-4 mb-4"><div class="border rounded p-3"><i class="fal fa-fw mb-2 fa-2x fa-seedling"></i><div>Fodder crops</div></div></div>
          <div class="col-4 mb-4"><div class="border rounded p-3"><i class="fal fa-fw mb-2 fa-2x fa-apple-alt"></i><div>Fruits</div></div></div>
          <div class="col-4 mb-4"><div class="border rounded p-3"><i class="fal fa-fw mb-2 fa-2x fa-acorn"></i><div>Garden and park materials</div></div></div>
          <div class="col-4 mb-4"><div class="border rounded p-3"><i class="fal fa-fw mb-2 fa-2x fa-cow"></i><div>Live animals</div></div></div>
          <div class="col-4 mb-4"><div class="border rounded p-3"><i class="fal fa-fw mb-2 fa-2x fa-flower-daffodil"></i><div>Oil-bearing crops</div></div></div>
          <div class="col-4 mb-4"><div class="border rounded p-3"><i class="fal fa-fw mb-2 fa-2x fa-carrot"></i><div>Roots, tubers</div></div></div>
          <div class="col-4 mb-4"><div class="border rounded p-3"><i class="fal fa-fw mb-2 fa-2x fa-candy-cane"></i><div>Sugar crops</div></div></div>
          <div class="col-4 mb-4"><div class="border rounded p-3"><i class="fal fa-fw mb-2 fa-2x fa-tree-alt"></i><div>Timber</div></div></div>
          <div class="col-4 mb-4"><div class="border rounded p-3"><i class="fal fa-fw mb-2 fa-2x fa-pepper-hot"></i><div>Vegetables</div></div></div>
        {% endif%}
      </div>

    </section>

    <section id="urban-context">
      <h1>Urban context</h1>
      <div class="row mb-3">
        <div class="col-3">
          <div class="context-map rounded" id="space-map"></div>
        </div>
        <div class="col-3">
          <div class="context-map rounded" id="nuts3-map"></div>
        </div>
        <div class="col-3">
          <div class="context-map rounded" id="nuts2-map"></div>
        </div>
        <div class="col-3">
          <div class="context-map rounded" id="country-map"></div>
        </div>
      </div>
      <div class="row mb-4">
        <div class="col-3">
          <h4>{{ space }}</h4>
          <div>
            <i class="fal fa-users fa-fw mr-2"></i>
            {% if report.space_population %}
              {{ report.space_population|intcomma }}
            {% else %}
              <span class="question-number bg-dark text-light rounded px-2 mr-2">1A</span>
            {% endif %}
          </div>
          <div>
            <i class="fal fa-ruler-combined fa-fw mr-2"></i>
            {% if report.space_size %}
              {{ report.space_size|intcomma }} km<sup>2</sup>
            {% else %}
              <span class="question-number bg-dark text-light rounded px-2 mr-2">1B</span>
            {% endif %}
          </div>
        </div>

        <div class="col-3">
          <h4>{{ nuts3 }}</h4>
          <div>
            <i class="fal fa-users fa-fw mr-2"></i>
            {% if report.nuts3_population %}
              {{ report.nuts3_population|intcomma }}
            {% else %}
              <span class="question-number bg-dark text-light rounded px-2 mr-2">2A</span>
            {% endif %}
          </div>
          <div>
            <i class="fal fa-ruler-combined fa-fw mr-2"></i>
            {% if report.nuts3_size %}
              {{ report.nuts3_size|intcomma }} km<sup>2</sup>
            {% else %}
              <span class="question-number bg-dark text-light rounded px-2 mr-2">2B</span>
            {% endif %}
          </div>
        </div>

        <div class="col-3">
          <h4>{{ nuts2 }}</h4>
          <div>
            <i class="fal fa-users fa-fw mr-2"></i>
            {% if report.nuts2_population %}
              {{ report.nuts2_population|intcomma }}
            {% else %}
              <span class="question-number bg-dark text-light rounded px-2 mr-2">3A</span>
            {% endif %}
          </div>
          <div>
            <i class="fal fa-ruler-combined fa-fw mr-2"></i>
            {% if report.nuts2_size %}
              {{ report.nuts2_size|intcomma }} km<sup>2</sup>
            {% else %}
              <span class="question-number bg-dark text-light rounded px-2 mr-2">3B</span>
            {% endif %}
          </div>
        </div>

        <div class="col-3">
          <h4>{{ country }}</h4>
          <div>
            <i class="fal fa-users fa-fw mr-2"></i>
            {% if report.country_population %}
              {{ report.country_population|intcomma }}
            {% else %}
              <span class="question-number bg-dark text-light rounded px-2 mr-2">4A</span>
            {% endif %}
          </div>
          <div>
            <i class="fal fa-ruler-combined fa-fw mr-2"></i>
            {% if report.country_size %}
              {{ report.country_size|intcomma }} km<sup>2</sup>
            {% else %}
              <span class="question-number bg-dark text-light rounded px-2 mr-2">4B</span>
            {% endif %}
          </div>
        </div>
      </div>
    </section>

    <section>
      <h2>Population of {{ space }}</h2>
      {% if report.population_dataset %}
        {% if report.population_dataset.type.name == "Image" %}
          <img src="{{ report.population_dataset.image.url }}" class="img-fluid">
        {% else %}
          <iframe class="libraryitem mb-4" src="/library/preview/{{ report.population_dataset.id }}/" onbeforeprint="resizeIframe(this)" onload="resizeIframe(this)"></iframe>
        {% endif %}
      {% else %}
        <span class="question-number bg-dark text-light rounded px-2 mr-2">5A</span>
      {% endif %}

      {% if report.population_description_html %}
        {{ report.population_description_html|safe }}
      {% else %}
        <span class="question-number bg-dark text-light rounded px-2 mr-2">5B</span>
      {% endif %}
    </section>

    <section>
      <h2>Land use</h2>

      {% if report.land_use_dataset %}
        {% if report.land_use_dataset.type.name == "Image" %}
          <img src="{{ report.land_use_dataset.image.url }}" class="img-fluid">
        {% else %}
          <iframe class="libraryitem mb-4" src="/library/preview/{{ report.land_use_dataset.id }}/" onbeforeprint="resizeIframe(this)" onload="resizeIframe(this)"></iframe>
        {% endif %}
      {% else %}
        <span class="question-number bg-dark text-light rounded px-2 mr-2">6A</span>
      {% endif %}

      {% if report.land_use_description_html %}
        {{ report.land_use_description_html|safe }}
      {% else %}
        <span class="question-number bg-dark text-light rounded px-2 mr-2">6B</span>
      {% endif %}
    </section>

    <section id="sector-context">
      <h1>Economic context of {{ sector }} sector</h1>

      <table class="table border">
        <thead>
          <tr>
            <th></th>
            <th>GDP</th>
            <th>Employees</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th>{{ space }}</th>
            <td>
              {% if report.space_gdp %}
                {{ report.space_gdp|intcomma }}
              {% else %}
                <span class="question-number bg-dark text-light rounded px-2 mr-2">7A</span>
              {% endif %}
            </td>
            <td>
              {% if report.space_employees %}
                {{ report.space_employees|intcomma }}
              {% else %}
                <span class="question-number bg-dark text-light rounded px-2 mr-2">7B</span>
              {% endif %}
            </td>
          </tr>
          <tr>
            <th>{{ nuts3 }}</th>
            <td>
              {% if report.nuts3_gdp %}
                {{ report.nuts3_gdp|intcomma }}
              {% else %}
                <span class="question-number bg-dark text-light rounded px-2 mr-2">8A</span>
              {% endif %}
            </td>
            <td>
              {% if report.nuts3_employees %}
                {{ report.nuts3_employees|intcomma }}
              {% else %}
                <span class="question-number bg-dark text-light rounded px-2 mr-2">8B</span>
              {% endif %}
            </td>
          </tr>
          <tr>
            <th>{{ nuts2 }}</th>
            <td>
              {% if report.nuts2_gdp %}
                {{ report.nuts2_gdp|intcomma }}
              {% else %}
                <span class="question-number bg-dark text-light rounded px-2 mr-2">9A</span>
              {% endif %}
            </td>
            <td>
              {% if report.nuts2_employees %}
                {{ report.nuts2_employees|intcomma }}
              {% else %}
                <span class="question-number bg-dark text-light rounded px-2 mr-2">9B</span>
              {% endif %}
            </td>
          </tr>
          <tr>
            <th>{{ country }}</th>
            <td>
              {% if report.country_gdp %}
                {{ report.country_gdp|intcomma }}
              {% else %}
                <span class="question-number bg-dark text-light rounded px-2 mr-2">10A</span>
              {% endif %}
            </td>
            <td>
              {% if report.country_employees %}
                {{ report.country_employees|intcomma }}
              {% else %}
                <span class="question-number bg-dark text-light rounded px-2 mr-2">10B</span>
              {% endif %}
            </td>
          </tr>
        </tbody>
      </table>
    </section>

    <section>
      <h4>The {{ sector }} sector in {{ space }}</h4>
      {% if report.sector_description_html %}
        {{ report.sector_description_html|safe }}
      {% else %}
        <span class="question-number bg-dark text-light rounded px-2 mr-2">11</span>
      {% endif %}
    </section>

    <section>
      <h4>The actors of the {{ sector }} sector</h4>

      {% if report.actors_dataset %}
        {% if report.land_use_dataset.type.name == "Image" %}
          <img src="{{ report.actors_dataset.image.url }}" class="img-fluid">
        {% else %}
          <iframe class="libraryitem mb-4" src="/library/preview/{{ report.actors_dataset.id }}/" onbeforeprint="resizeIframe(this)" onload="resizeIframe(this)"></iframe>
        {% endif %}
      {% else %}
        <span class="question-number bg-dark text-light rounded px-2 mr-2">12A</span>
      {% endif %}

      {% if report.actors_description_html %}
        {{ report.actors_description_html|safe }}
      {% else %}
        <span class="question-number bg-dark text-light rounded px-2 mr-2">12B</span>
      {% endif %}
    </section>

    <section id="indicators">
      <h1>Indicators</h1>
      <table class="table border mb-4">
        <thead>
          <tr>
            <th>Indicator</th>
            <th>?</th>
            <th>?</th>
          </tr>
        </thead>
        <tbody>
          {% for each in indicator_scale_list %}
            <tr>
              <td><a href="{% url 'cityloops:indicators' %}#indicator-{{ each.indicator.number }}">{{ each.indicator }}</a></td>
              <td></td>
              <td></td>
            </tr>
          {% endfor %}
        </tbody>
      </table>

      {% if report.indicators_table_html %}
        {{ report.indicators_table_html|safe }}
      {% else %}
        <span class="question-number bg-dark text-light rounded px-2 mr-2">13</span>
      {% endif %}
    </section>

    <section id="visualisations">
      <h1>Visualisations</h1>

      {{ sankey|safe }}
    </section>

    <section id="matrix">
      <h1>Data gap analysis (matrix)</h1>
    </section>

    <section id="analysis">
      <h1>Data analysis</h1>
      <div class="mb-4">
        <label>Insights on status quo</label><br>
        {% if report.status_quo_html %}
          {{ report.status_quo_html|safe }}
        {% else %}
          <span class="question-number bg-dark text-light rounded px-2 mr-2">14</span>
        {% endif %}
      </div>

      <div class="mb-4">
        <label>Upscaling (or reflect on) DAs</label><br>
        {% if report.upscaling_html %}
          {{ report.upscaling_html|safe }}
        {% else %}
          <span class="question-number bg-dark text-light rounded px-2 mr-2">15</span>
        {% endif %}
      </div>

      <div class="mb-4">
        <label>Recommendations for making the {{ sector }} sector more circular</label><br>
        {% if report.recommendations_html %}
          {{ report.recommendations_html|safe }}
        {% else %}
          <span class="question-number bg-dark text-light rounded px-2 mr-2">16</span>
        {% endif %}
      </div>
    </section>

    <section id="references">
      <h1>References</h1>
      <ul>
        <li><a href="{% url 'cityloops:referencespace' country.id  %}">{{ country }}</a></li>
        <li><a href="{% url 'cityloops:referencespace' nuts2.id  %}">{{ nuts2 }}</a></li>
        <li><a href="{% url 'cityloops:referencespace' nuts3.id  %}">{{ nuts3 }}</a></li>
        {% if report.population_dataset %}
          <li><a href="{% url 'cityloops:library_item' report.population_dataset.id  %}">{{ report.population_dataset }}</a></li>
        {% endif %}
        {% if report.land_use_dataset %}
          <li><a href="{% url 'cityloops:library_item' report.land_use_dataset.id  %}">{{ report.land_use_dataset }}</a></li>
        {% endif %}
        {% if report.actors_dataset %}
          <li><a href="{% url 'cityloops:library_item' report.actors_dataset.id  %}">{{ report.actors_dataset }}</a></li>
        {% endif %}
      </ul>
    </section>
  </div>

  <script src="https://unpkg.com/leaflet@1.6.0/dist/leaflet.js" integrity="sha512-gZwIG9x3wUXg2hdXF6+rVkLF/0Vi9U8D2Ntg4Ga5I5BZpVkVxlJWbSQtXPSiUTtC0TjtGOmxa1AJPuV0CPthew==" crossorigin=""></script>
  <script>
    {% if space.geometry %}
      // space
      var space_map = L.map("space-map", {
        attributionControl: false,
        zoomControl: false,
      });

      var space_map_geojson = {{ space.geometry.geojson|safe }};
      var space_map_geojsonlayer = L.geoJSON(space_map_geojson).addTo(space_map);

      L.tileLayer("https://api.mapbox.com/styles/v1/{id}/tiles/{z}/{x}/{y}?access_token=pk.eyJ1IjoibWV0YWJvbGlzbW9mY2l0aWVzIiwiYSI6ImNqcHA5YXh6aTAxcmY0Mm8yMGF3MGZjdGcifQ.lVZaiSy76Om31uXLP3hw-Q", {
        attribution: "Map data &copy; <a href='http://openstreetmap.org'>OpenStreetMap</a> contributors, " +
          "<a href='http://creativecommons.org/licenses/by-sa/2.0/'>CC-BY-SA</a>, " +
          "Imagery © <a href='http://mapbox.com'>Mapbox</a>",
        id: "mapbox/streets-v11",
        maxZoom: 18,
        id: "mapbox/streets-v11",
        tileSize: 512,
        zoomOffset: -1,
        accessToken: "pk.eyJ1IjoibWV0YWJvbGlzbW9mY2l0aWVzIiwiYSI6ImNqcHA5YXh6aTAxcmY0Mm8yMGF3MGZjdGcifQ.lVZaiSy76Om31uXLP3hw-Q"
      }).addTo(space_map);

      space_map.scrollWheelZoom.disable();
      space_map.fitBounds(space_map_geojsonlayer.getBounds());
    {% endif %}

    // NUTS3
    var nuts_3_map = L.map("nuts3-map", {
      attributionControl: false,
      zoomControl: false,
    });
    var nuts_3_geojson = {{ nuts3.geometry.geojson|safe }};
    var nuts_3_geojsonlayer = L.geoJSON(nuts_3_geojson).addTo(nuts_3_map);

    L.tileLayer("https://api.mapbox.com/styles/v1/{id}/tiles/{z}/{x}/{y}?access_token=pk.eyJ1IjoibWV0YWJvbGlzbW9mY2l0aWVzIiwiYSI6ImNqcHA5YXh6aTAxcmY0Mm8yMGF3MGZjdGcifQ.lVZaiSy76Om31uXLP3hw-Q", {
      attribution: "Map data &copy; <a href='http://openstreetmap.org'>OpenStreetMap</a> contributors, " +
        "<a href='http://creativecommons.org/licenses/by-sa/2.0/'>CC-BY-SA</a>, " +
        "Imagery © <a href='http://mapbox.com'>Mapbox</a>",
      id: "mapbox/streets-v11",
      maxZoom: 18,
      id: "mapbox/streets-v11",
      tileSize: 512,
      zoomOffset: -1,
      accessToken: "pk.eyJ1IjoibWV0YWJvbGlzbW9mY2l0aWVzIiwiYSI6ImNqcHA5YXh6aTAxcmY0Mm8yMGF3MGZjdGcifQ.lVZaiSy76Om31uXLP3hw-Q"
    }).addTo(nuts_3_map);

    nuts_3_map.scrollWheelZoom.disable();
    nuts_3_map.fitBounds(nuts_3_geojsonlayer.getBounds());

    // NUTS2
    var nuts_2_map = L.map("nuts2-map", {
      attributionControl: false,
      zoomControl: false,
    });
    var nuts_2_geojson = {{ nuts2.geometry.geojson|safe }};
    var nuts_2_geojsonlayer = L.geoJSON(nuts_2_geojson).addTo(nuts_2_map);

    L.tileLayer("https://api.mapbox.com/styles/v1/{id}/tiles/{z}/{x}/{y}?access_token=pk.eyJ1IjoibWV0YWJvbGlzbW9mY2l0aWVzIiwiYSI6ImNqcHA5YXh6aTAxcmY0Mm8yMGF3MGZjdGcifQ.lVZaiSy76Om31uXLP3hw-Q", {
      attribution: "Map data &copy; <a href='http://openstreetmap.org'>OpenStreetMap</a> contributors, " +
        "<a href='http://creativecommons.org/licenses/by-sa/2.0/'>CC-BY-SA</a>, " +
        "Imagery © <a href='http://mapbox.com'>Mapbox</a>",
      id: "mapbox/streets-v11",
      maxZoom: 18,
      id: "mapbox/streets-v11",
      tileSize: 512,
      zoomOffset: -1,
      accessToken: "pk.eyJ1IjoibWV0YWJvbGlzbW9mY2l0aWVzIiwiYSI6ImNqcHA5YXh6aTAxcmY0Mm8yMGF3MGZjdGcifQ.lVZaiSy76Om31uXLP3hw-Q"
    }).addTo(nuts_2_map);

    nuts_2_map.scrollWheelZoom.disable();
    nuts_2_map.fitBounds(nuts_2_geojsonlayer.getBounds());

    // COUNTRY
    var country_map = L.map("country-map", {
      attributionControl: false,
      zoomControl: false,
    });
    var country_geojson = {{ country.geometry.geojson|safe }};
    var country_geojsonlayer = L.geoJSON(country_geojson).addTo(country_map);

    L.tileLayer("https://api.mapbox.com/styles/v1/{id}/tiles/{z}/{x}/{y}?access_token=pk.eyJ1IjoibWV0YWJvbGlzbW9mY2l0aWVzIiwiYSI6ImNqcHA5YXh6aTAxcmY0Mm8yMGF3MGZjdGcifQ.lVZaiSy76Om31uXLP3hw-Q", {
      attribution: "Map data &copy; <a href='http://openstreetmap.org'>OpenStreetMap</a> contributors, " +
        "<a href='http://creativecommons.org/licenses/by-sa/2.0/'>CC-BY-SA</a>, " +
        "Imagery © <a href='http://mapbox.com'>Mapbox</a>",
      id: "mapbox/streets-v11",
      maxZoom: 18,
      id: "mapbox/streets-v11",
      tileSize: 512,
      zoomOffset: -1,
      accessToken: "pk.eyJ1IjoibWV0YWJvbGlzbW9mY2l0aWVzIiwiYSI6ImNqcHA5YXh6aTAxcmY0Mm8yMGF3MGZjdGcifQ.lVZaiSy76Om31uXLP3hw-Q"
    }).addTo(country_map);

    country_map.scrollWheelZoom.disable();

    {% if bounding_box %}
      country_map.fitBounds({{ bounding_box|safe }})
    {% else %}
      country_map.fitBounds(country_geojsonlayer.getBounds());
    {% endif %}

    // function to make iframe the same size as its content
    function resizeIframe(obj) {
      obj.style.height = obj.contentWindow.document.documentElement.scrollHeight + 'px';
    }
  </script>

</body>
</html>
