{% load static %}
{% load moc_extras %}
{% load sass_tags %}
{% load humanize %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <title>{{ space }} | Urban Circularity Assessment Report | CityLoops</title>

  <link class="favicon" rel="shortcut icon" sizes="126x126" href="{% static 'img/favicon/favicon.png' %}">

  <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"
     integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A=="
     crossorigin=""/>
  <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.14.0/css/all.css" integrity="sha384-VhBcF/php0Z/P5ZxlxaEx1GwqTQVIBu4G4giRWxTKOCjTxsPFETUDdVL5B6vYvOt" crossorigin="anonymous">

  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
  <link href="{% sass_src 'css/main.scss' %}?refresh21-apr" rel="stylesheet" type="text/css" />
  <style>
    @import url(https://fonts.googleapis.com/css?family=Montserrat:400,700&subset=latin);

    body{
      -webkit-print-color-adjust:exact;
    }

    p {
      text-align: justify;
      text-justify: inter-word;
    }

    iframe.libraryitem {
      display: none !important;
    }

    .d-none.d-print-block {
      display: block !important;
    }

    @media all {
      @page {
        size: unset !important;
      }

      body {
        min-width: unset !important;
        background-color: #fff !important;
      }

      img {
        max-width: 100%;
      }

      .page-break-{{ space.slug }}-{{ sector }} {
        page-break-after: always;
      }

      .cover-page {
        page-break-after: always;
        position: relative;
        width: 100vw !important;
        height: 100vh !important;
      }

      .cover-title {
        color: #fff;
        padding: 90px;
        font-weight: bolder;
        text-transform: uppercase;
      }

      .report-title {
        background-color: #004d76;
        font-size: 1.75rem;
        padding: 8px;
        line-height: 3.5rem;
      }

      .city-title {
        background-color: #00b6ed;
        font-size: 2rem;
        padding: 8px;
        line-height: 4rem;
      }

      .cover-image {
        width: 100vw !important;
        height: 100vh !important;
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
        object-fit: cover;
      }

      .cityloops-logo {
        width: 15vw;
        position: absolute;
        right: 3vw;
        bottom: 15vw;
      }

      .moc-logo {
        width: 18vw;
        position: absolute;
        right: 10vw;
        bottom: 5vw;
      }

      .cityloops-background {
        background: transparent;
        width: 30vh;
        height: 30vh;
        border: 15vh solid black;
        border-top-color: transparent;
        border-right-color: #fffd;
        border-bottom-color: #fffd;
        border-left-color: transparent;
        position: absolute;
        bottom: 0;
        right: 0;
        z-index: -1;
      }

      .report-content {
        /*padding: 3rem;*/
        width: 100%;
      }

      .context-map {
        height: 150px;
        width: 100%;
        max-width: 150px;
        border-radius: .25rem;
      }

      label {
        font-weight: bold;
        margin-bottom: 0;
      }

      iframe {
        max-width: calc(210mm - 6rem - 2px);
        height: 500px;
      }

      #sankey {
        width: 100%;
      }

      .sankey-link {
        /*fill-opacity: .5 !important;*/
      }

      .table th {
        background-color: #efefef !important;
      }

      .table td.bg-red {
        background-color: #B57272 !important;
      }

      .table td.bg-green {
        background-color: #87C291 !important;
      }

      .table td.bg-orange {
        background-color: #D9946C !important;
      }

      .table td.bg-blue {
        background-color: #b2c3ef !important;
      }

      .table td.bg-yellow {
        background-color: #e6d384 !important;
      }
    }

    h1 {
      font-size: 1.75rem !important;
    }

    h2 {
      font-size: 1.5rem !important;
    }

    h3,
    h4 {
      font-size: 1.25rem !important;
    }
  </style>
</head>

<body>
  <div class="cover-page">
    <div class="cover-title">
      <span class="report-title">Urban Circularity Assessment</span>
      <br>
      <span class="city-title">{{ space }}</span>
    </div>
    <img class="cover-image" src="{{ report.cover_image.image.url }}">

    <div class="cityloops-background"></div>
    <img class="cityloops-logo" src="https://metabolismofcities.org/media/records/CityLoops_Logo.png">

    <div class="moc-background"></div>
    <img class="moc-logo" src="https://i.imgur.com/ARgcRYc.png">
  </div>

  <div class="report-content">
    <section id="summary">
      <h1>Summary</h1>
      {% if report.summary_html %}
        {{ report.summary_html|safe }}
      {% else %}
        <span class="question-number bg-dark text-light rounded px-2 mr-2">0</span>
      {% endif %}
    </section>

    <section id="introduction">
      <h1>Introduction</h1>

      <p class="font-italic">The EU Horizon 2020 funded <a href="https://cityloops.eu/">CityLoops project</a> focuses on closing the material loops of cities in terms of material flows, societal needs and employment. Cities, depending on their magnitude and types of economic activities, possess considerable opportunities and various levers to transform their metabolism and economy towards a more environmentally sustainable and circular state.</p>

      <p class="font-italic">Within this project, seven European cities, amongst those also the city of {{space}} are (planning to) implement demonstration actions to kickstart their circularity journey. To better understand what the current circularity status quo is, as well as the impact of these actions, and the efforts needed to transform their cities, an <a href="https://cityloops.metabolismofcities.org/library/1010979/">Urban Circularity Assessment (UCA)</a> method was developed. The method consists of urban material flow and stock accounting that paired with system-wide indicators assesses the material circularity of a city.</p>

      <p class="font-italic">The material flows are accounted economy-wide for two separate years, applying a city-level adjusted Mayer et al. (2019) framework, which in itself builds on the EW-MFA method, including a wide material scope (specified below), while optimised for a circular economy assessment. The material stock accounting is limited to the buildings of the municipality, with the exact material scope depending on data availability in each city. Finally, the mass-based, “circularity” indicators cover the entire system and enable the assessment of a city’s circularity. As such, a balance between comprehensiveness and scientific rigour on the one hand, and operability by urban policy makers and practitioners on the other is sought by the UCA method.</p>

      <p class="font-italic">The material scope of the flow accounting aims to cover the entire local economy and is divided into a total of six material groups. These material groups are depicted as icons here and were studied each with more specific materials in sub-categories and along the supply chain of domestic extraction, imports & exports, domestic material consumption and waste. When studying these materials and the entire supply chain, together, these elements help to set a solid knowledge and analytical foundation to develop future circularity roadmaps and action plans.</p>

      <div class="row text-center materials">
        <div class="col-4 mb-4"><div class="border rounded p-3"><i class="fal fa-fw mb-2 fa-2x fa-seedling"></i><div>MF1 - Biomass</div></div></div>
        <div class="col-4 mb-4"><div class="border rounded p-3"><i class="fal fa-fw mb-2 fa-2x fa-bars"></i><div>MF2 - Metal ores (gross ores)</div></div></div>
        <div class="col-4 mb-4"><div class="border rounded p-3"><i class="fal fa-fw mb-2 fa-2x fa-ball-pile"></i><div>MF3 - Non-metallic minerals</div></div></div>
        <div class="col-4 mb-4"><div class="border rounded p-3"><i class="fal fa-fw mb-2 fa-2x fa-gas-pump"></i><div>MF4 - Fossil energy materials/carriers</div></div></div>
        <div class="col-4 mb-4"><div class="border rounded p-3"><i class="fal fa-fw mb-2 fa-2x fa-ellipsis-h-alt"></i><div>MF5 - Other products</div></div></div>
        <div class="col-4 mb-4"><div class="border rounded p-3"><i class="fal fa-fw mb-2 fa-2x fa-dumpster"></i><div>MF6 - Waste for final treatment and disposal</div></div></div>
      </div>

      <p class="font-italic">Within the CityLoops project, the Urban Circularity Assessment was carried out by three of the seven cities (Mikkeli, Porto and Sevilla) themselves after having previously successfully completed their <a href="https://cityloops.metabolismofcities.org/reports/">Sector-wide Circularity Assessments and Reports</a>. They could build on extensive training that they had received in the form of <a href="https://cityloops.metabolismofcities.org/courses/">courses on data collection for the construction and biomass sectors and data processing</a>. The cities were accompanied and supported in their work by the Metabolism of Cities team, who conducted the UCA for two further cities (Apeldoorn and Bodø). Numerous additional insights can be found in the individual <a href="https://cityloops.metabolismofcities.org/">Data Hubs</a> of each city.</p>

      <p class="font-italic">This current Urban Circularity Assessment report presents the gathered information in seven sections:</p>

      <ul class="font-italic">
        <li>Urban Context</li>
        <li>Economic Context of {{space}}</li>
        <li>Material Flows in {{space}}</li>
        <li>Material Stock in {{space}}</li>
        <li>Analysis of Flows and Stocks: Measuring Indicators</li>
        <li>Data Quality Assessment</li>
        <li>Analysis of Data and Indicators: Assessing Circularity</li>
      </ul>

      <p class="font-italic">It provides contextual information of the city and the local economy under study. It then illustrates the quantities of flows in the single parts of the supply chain, summarised by a Sankey diagram, followed by a map of the material stock. Both of the accounted materials are evaluated in the form of circularity indicators and their data quality. Finally, the results are analysed and interpreted to determine a status quo, taking into account limitations of the data used, before recommendations are offered on how to achieve greater material circularity in the municipality of {{space}}.</p>

      <p class="font-italic">(* The italic texts in this report were written by <a href="https://metabolismofcities.org/">Metabolism of Cities'</a> Aristide Athanassiadis and Carolin Bellstedt. They provide relevant general information and serve as connecting elements of the single report parts.)</p>
    </section>

    <section id="urban-context">
      <h1>Urban Context</h1>

      <p class="font-italic">
        To contextualise the results of the Urban Circularity Assessment, this section provides population and land use information data for {{space}}. In addition, population numbers and area size of the city under study, as well as its corresponding NUTS3, NUTS2 and country were included, as can be seen to the right of the {{space}} map. Data for these scales were added to better understand how relevant and important the approximations are when downscaling data from these scales to the city level.
      </p>

      <div class="row mb-3">
        <div class="col-3">
          <div class="context-map rounded" id="space-map"></div>
        </div>
        <div class="col-3">
          <div class="context-map rounded" id="nuts3-map"></div>
        </div>
        <div class="col-3">
          <div class="context-map rounded" id="nuts2-map"></div>
        </div>
        <div class="col-3">
          <div class="context-map rounded" id="country-map"></div>
        </div>
      </div>
      <div class="row mb-4">
        <div class="col-3">
          <strong>{{ space }}</strong>
          <div>
            <i class="fal fa-users fa-fw mr-2"></i>
            {% if report.space_population %}
              {{ report.space_population|intcomma }}
            {% else %}
              <span class="question-number bg-dark text-light rounded px-2 mr-2">1A</span>
            {% endif %}
          </div>
          <div>
            <i class="fal fa-ruler-combined fa-fw mr-2"></i>
            {% if report.space_size %}
              {{ report.space_size|intcomma }} km<sup>2</sup>
            {% else %}
              <span class="question-number bg-dark text-light rounded px-2 mr-2">1B</span>
            {% endif %}
          </div>
        </div>

        <div class="col-3">
          <strong>{{ nuts3 }}</strong>
          <div>
            <i class="fal fa-users fa-fw mr-2"></i>
            {% if report.nuts3_population %}
              {{ report.nuts3_population|intcomma }}
            {% else %}
              <span class="question-number bg-dark text-light rounded px-2 mr-2">2A</span>
            {% endif %}
          </div>
          <div>
            <i class="fal fa-ruler-combined fa-fw mr-2"></i>
            {% if report.nuts3_size %}
              {{ report.nuts3_size|intcomma }} km<sup>2</sup>
            {% else %}
              <span class="question-number bg-dark text-light rounded px-2 mr-2">2B</span>
            {% endif %}
          </div>
        </div>

        <div class="col-3">
          <strong>{{ nuts2 }}</strong>
          <div>
            <i class="fal fa-users fa-fw mr-2"></i>
            {% if report.nuts2_population %}
              {{ report.nuts2_population|intcomma }}
            {% else %}
              <span class="question-number bg-dark text-light rounded px-2 mr-2">3A</span>
            {% endif %}
          </div>
          <div>
            <i class="fal fa-ruler-combined fa-fw mr-2"></i>
            {% if report.nuts2_size %}
              {{ report.nuts2_size|intcomma }} km<sup>2</sup>
            {% else %}
              <span class="question-number bg-dark text-light rounded px-2 mr-2">3B</span>
            {% endif %}
          </div>
        </div>

        <div class="col-3">
          <strong>{{ country }}</strong>
          <div>
            <i class="fal fa-users fa-fw mr-2"></i>
            {% if report.country_population %}
              {{ report.country_population|intcomma }}
            {% else %}
              <span class="question-number bg-dark text-light rounded px-2 mr-2">4A</span>
            {% endif %}
          </div>
          <div>
            <i class="fal fa-ruler-combined fa-fw mr-2"></i>
            {% if report.country_size %}
              {{ report.country_size|intcomma }} km<sup>2</sup>
            {% else %}
              <span class="question-number bg-dark text-light rounded px-2 mr-2">4B</span>
            {% endif %}
          </div>
        </div>
      </div>
    </section>

    <section>
      <h2>Population of {{ space }}</h2>
      {% if report.population_dataset %}
        {% if report.population_dataset.type.name == "Image" %}
          <img src="{{ report.population_dataset.image.url }}" class="img-fluid">
          {% if report.population_dataset.is_part_of %}
            <p><a href="{% url 'cityloops:library_item' report.population_dataset.is_part_of.id %}">Data source</a></p>
          {% else %}
            <p><a href="{% url 'cityloops:library_item' report.population_dataset.id %}">Data source</a></p>
          {% endif %}
        {% else %}
          <iframe class="mb-4" src="/library/preview/{{ report.population_dataset.id }}/?hide_title=true" onbeforeprint="resizeIframe(this)" onload="resizeIframe(this)"></iframe>
        {% endif %}
      {% else %}
        <span class="question-number bg-dark text-light rounded px-2 mr-2">5A</span>
      {% endif %}

      {% if report.population_description_html %}
        {{ report.population_description_html|safe }}
      {% else %}
        <span class="question-number bg-dark text-light rounded px-2 mr-2">5B</span>
      {% endif %}
    </section>

    <section>
      <h2>Land use</h2>

      {% if report.land_use_dataset %}
        {% if report.land_use_dataset.type.name == "Image" %}
          <img src="{{ report.land_use_dataset.image.url }}" class="img-fluid">

          {% if space.slug == "porto" %}
            <div class="border border-top-0 rounded-bottom p-3">
              <div class="row">
                <div class="col-4">
                  <ul class="fa-ul mb-0">
                    <li><span class="fa-li"><i class="fas fa-circle" style="color: #e41a1c"></i></span> Historic Space</li>
                    <li><span class="fa-li"><i class="fas fa-circle" style="color: #377eb8"></i></span> Urbanised Space</li>
                  </ul>
                </div>
                <div class="col-4">
                  <ul class="fa-ul mb-0">
                    <li><span class="fa-li"><i class="fas fa-circle" style="color: #4daf4a"></i></span> Green Space</li>
                    <li><span class="fa-li"><i class="fas fa-circle" style="color: #984ea3"></i></span> Industrial Space</li>
                  </ul>
                </div>
                <div class="col-4">
                  <ul class="fa-ul mb-0">
                    <li><span class="fa-li"><i class="fas fa-circle" style="color: #ff7f00"></i></span> Special Use Space - Equipment and Infrastructure</li>
                    <li><span class="fa-li"><i class="fas fa-circle" style="color: #ffff33"></i></span> Not Assigned</li>
                  </ul>
                </div>
              </div>
            </div>
          {% elif space.slug == "mikkeli" %}
            <div class="border border-top-0 rounded-bottom p-3">
              <div class="row">
                <div class="col-4">
                  <ul class="fa-ul mb-0">
                    <li><span class="fa-li"><i class="fas fa-circle" style="color: #e41a1c"></i></span> Agricultural areas</li>
                    <li><span class="fa-li"><i class="fas fa-circle" style="color: #ff7f00"></i></span> Artificial surfaces</li>
                  </ul>
                </div>
                <div class="col-4">
                  <ul class="fa-ul mb-0">
                    <li><span class="fa-li"><i class="fas fa-circle" style="color: #4daf4a"></i></span> Forests</li>
                    <li><span class="fa-li"><i class="fas fa-circle" style="color: #984ea3"></i></span> Roads</li>
                  </ul>
                </div>
                <div class="col-4">
                  <ul class="fa-ul mb-0">
                    <li><span class="fa-li"><i class="fas fa-circle" style="color: #377eb8"></i></span> Water bodies</li>
                    <li><span class="fa-li"><i class="fas fa-circle" style="color: #ffff33"></i></span> Wetlands</li>
                  </ul>
                </div>
              </div>
            </div>
          {% elif space.slug == "apeldoorn" %}
            <div class="border border-top-0 rounded-bottom p-3">
              <div class="row">
                <div class="col-4">
                  <ul class="fa-ul mb-0">
                    <li><span class="fa-li"><i class="fas fa-circle" style="color: #144d58"></i></span> Agriculture</li>
                    <li><span class="fa-li"><i class="fas fa-circle" style="color: #a6cee3"></i></span> Built area</li>
                    <li><span class="fa-li"><i class="fas fa-circle" style="color: #33a02c"></i></span> Dry natural terrain</li>
                    <li><span class="fa-li"><i class="fas fa-circle" style="color: #b2df8a"></i></span> Forest</li>
                  </ul>
                </div>
                <div class="col-4">
                  <ul class="fa-ul mb-0">
                    <li><span class="fa-li"><i class="fas fa-circle" style="color: #e31a1c"></i></span> Greenhouse horticulture</li>
                    <li><span class="fa-li"><i class="fas fa-circle" style="color: #fb9a99"></i></span> Industrial area</li>
                    <li><span class="fa-li"><i class="fas fa-circle" style="color: #ff7f00"></i></span> Main road</li>
                    <li><span class="fa-li"><i class="fas fa-circle" style="color: #fdbf6f"></i></span> Railway</li>
                  </ul>
                </div>
                <div class="col-4">
                  <ul class="fa-ul mb-0">
                    <li><span class="fa-li"><i class="fas fa-circle" style="color: #6a3d9a"></i></span> Recreation</li>
                    <li><span class="fa-li"><i class="fas fa-circle" style="color: #cab2d6"></i></span> Semi-built area</li>
                    <li><span class="fa-li"><i class="fas fa-circle" style="color: #b15928"></i></span> Water</li>
                    <li><span class="fa-li"><i class="fas fa-circle" style="color: #ffff99"></i></span> Wet natural terrain</li>
                  </ul>
                </div>
              </div>
            </div>
          {% elif space.slug == "hoje-taastrup" %}
            <div class="border border-top-0 rounded-bottom p-3">
              <div class="row">
                <div class="col-4">
                  <ul class="fa-ul mb-0">
                    <li><span class="fa-li"><i class="fas fa-circle" style="color: #008000"></i></span> Area for public purposes</li>
                    <li><span class="fa-li"><i class="fas fa-circle" style="color: #0000ff"></i></span> Business area</li>
                    <li><span class="fa-li"><i class="fas fa-circle" style="color: #ff0000"></i></span> Center</li>
                    <li><span class="fa-li"><i class="fas fa-circle" style="color: #ffa500"></i></span> Land area</li>
                  </ul>
                </div>
                <div class="col-4">
                  <ul class="fa-ul mb-0">
                    <li><span class="fa-li"><i class="fas fa-circle" style="color: #800080"></i></span> Residential area</li>
                    <li><span class="fa-li"><i class="fas fa-circle" style="color: #a52a2a"></i></span> Mixed housing and business</li>
                    <li><span class="fa-li"><i class="fas fa-circle" style="color: #ffc0cb"></i></span> Technical facilities</li>
                  </ul>
                </div>
                <div class="col-4">
                  <ul class="fa-ul mb-0">
                    <li><span class="fa-li"><i class="fas fa-circle" style="color: #008080"></i></span> Recreational area</li>
                    <li><span class="fa-li"><i class="fas fa-circle" style="color: #800000"></i></span> Vacation home area</li>
                    <li><span class="fa-li"><i class="fas fa-circle" style="color: #000080"></i></span> Other</li>
                  </ul>
                </div>
              </div>
            </div>
          {% elif space.slug == "roskilde" %}
            <div class="border border-top-0 rounded-bottom p-3">
              <div class="row">
                <div class="col-4">
                  <ul class="fa-ul mb-0">
                    <li><span class="fa-li"><i class="fas fa-circle" style="color: #008000"></i></span> Area for public purposes</li>
                    <li><span class="fa-li"><i class="fas fa-circle" style="color: #0000ff"></i></span> Business area</li>
                    <li><span class="fa-li"><i class="fas fa-circle" style="color: #ff0000"></i></span> Center</li>
                    <li><span class="fa-li"><i class="fas fa-circle" style="color: #ffa500"></i></span> Land area</li>
                  </ul>
                </div>
                <div class="col-4">
                  <ul class="fa-ul mb-0">
                    <li><span class="fa-li"><i class="fas fa-circle" style="color: #800080"></i></span> Residential area</li>
                    <li><span class="fa-li"><i class="fas fa-circle" style="color: #a52a2a"></i></span> Mixed housing and business</li>
                    <li><span class="fa-li"><i class="fas fa-circle" style="color: #ffc0cb"></i></span> Technical facilities</li>
                  </ul>
                </div>
                <div class="col-4">
                  <ul class="fa-ul mb-0">
                    <li><span class="fa-li"><i class="fas fa-circle" style="color: #008080"></i></span> Recreational area</li>
                    <li><span class="fa-li"><i class="fas fa-circle" style="color: #800000"></i></span> Vacation home area</li>
                    <li><span class="fa-li"><i class="fas fa-circle" style="color: #000080"></i></span> Other</li>
                  </ul>
                </div>
              </div>
            </div>
          {% elif space.slug == "bodo" %}
            <div class="border border-top-0 rounded-bottom p-3">
              <div class="row">
                <div class="col-4">
                  <ul class="fa-ul mb-0">
                    <li><span class="fa-li"><i class="fas fa-circle" style="color: #144d58"></i></span> Airport</li>
                    <li><span class="fa-li"><i class="fas fa-circle" style="color: #ffff99"></i></span> Alpine Slopes</li>
                    <li><span class="fa-li"><i class="fas fa-circle" style="color: #e31a1c"></i></span> Cemetery</li>
                    <li><span class="fa-li"><i class="fas fa-circle" style="color: #b2df8a"></i></span> Cropland</li>
                    <li><span class="fa-li"><i class="fas fa-circle" style="color: #33a02c"></i></span> Forest</li>
                    <li><span class="fa-li"><i class="fas fa-circle" style="color: #fb9a99"></i></span> Glacier</li>
                  </ul>
                </div>
                <div class="col-4">
                  <ul class="fa-ul mb-0">
                    <li><span class="fa-li"><i class="fas fa-circle" style="color: #ff7f00"></i></span> Golfcourse</li>
                    <li><span class="fa-li"><i class="fas fa-circle" style="color: #fdbf6f"></i></span> Industrial Area</li>
                    <li><span class="fa-li"><i class="fas fa-circle" style="color: #80b1d3"></i></span> Lake</li>
                    <li><span class="fa-li"><i class="fas fa-circle" style="color: #cab2d6"></i></span> Open Area</li>
                    <li><span class="fa-li"><i class="fas fa-circle" style="color: #b15928"></i></span> Quarry</li>
                    <li><span class="fa-li"><i class="fas fa-circle" style="color: #a6cee3"></i></span> Regulated Lake</li>
                  </ul>
                </div>
                <div class="col-4">
                  <ul class="fa-ul mb-0">
                    <li><span class="fa-li"><i class="fas fa-circle" style="color: #8dd3c7"></i></span> Riverstream</li>
                    <li><span class="fa-li"><i class="fas fa-circle" style="color: #bd3e6e"></i></span> Runway</li>
                    <li><span class="fa-li"><i class="fas fa-circle" style="color: #bebada"></i></span> Sports Area</li>
                    <li><span class="fa-li"><i class="fas fa-circle" style="color: #fb8072"></i></span> Swamp</li>
                    <li><span class="fa-li"><i class="fas fa-circle" style="color: #6a3d9a"></i></span> Urban Built Up Area</li>
                  </ul>
                </div>
              </div>
            </div>
          {% endif %}

          {% if report.land_use_dataset.is_part_of %}
            <p><a href="{% url 'cityloops:library_item' report.land_use_dataset.is_part_of.id %}">Data source</a></p>
          {% else %}
            <p><a href="{% url 'cityloops:library_item' report.land_use_dataset.id %}">Data source</a></p>
          {% endif %}
        {% else %}
          <iframe class="libraryitem mb-4" src="/library/preview/{{ report.land_use_dataset.id }}/?hide_title=true" onload="resizeIframe(this)"></iframe>
          <p><a href="{% url 'cityloops:library_item' report.land_use_dataset.id %}">Data source</a></p>
        {% endif %}
      {% else %}
        <span class="question-number bg-dark text-light rounded px-2 mr-2">6A</span>
      {% endif %}

      {% if report.land_use_description_html %}
        {{ report.land_use_description_html|safe }}
      {% else %}
        <span class="question-number bg-dark text-light rounded px-2 mr-2">6B</span>
      {% endif %}
    </section>

    <section id="sector-context">
      <h1>Economic Context of {{ space }}</h1>

      <p class="font-italic">
        This section puts into perspective the economic context of the city under study. It describes its significance in terms of GDP or GVA and provides information on the number of people employed, as well as the main economic activities. Main actors that play a significant importance may also be highlighted.
      </p>

      <table class="table border">
        <thead>
          <tr>
            <th></th>
            <th>GDP (monetary value, in {{ currency }})</th>
            <th>Employees</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th>{{ space }}</th>
            <td>
              {% if report.space_gdp %}
                {{ report.space_gdp|intcomma }}
              {% else %}
                <span class="question-number bg-dark text-light rounded px-2 mr-2">7A</span>
              {% endif %}
            </td>
            <td>
              {% if report.space_employees %}
                {{ report.space_employees|intcomma }}
              {% else %}
                <span class="question-number bg-dark text-light rounded px-2 mr-2">7B</span>
              {% endif %}
            </td>
          </tr>
          <tr>
            <th>{{ nuts3 }}</th>
            <td>
              {% if report.nuts3_gdp %}
                {{ report.nuts3_gdp|intcomma }}
              {% else %}
                <span class="question-number bg-dark text-light rounded px-2 mr-2">8A</span>
              {% endif %}
            </td>
            <td>
              {% if report.nuts3_employees %}
                {{ report.nuts3_employees|intcomma }}
              {% else %}
                <span class="question-number bg-dark text-light rounded px-2 mr-2">8B</span>
              {% endif %}
            </td>
          </tr>
          <tr>
            <th>{{ nuts2 }}</th>
            <td>
              {% if report.nuts2_gdp %}
                {{ report.nuts2_gdp|intcomma }}
              {% else %}
                <span class="question-number bg-dark text-light rounded px-2 mr-2">9A</span>
              {% endif %}
            </td>
            <td>
              {% if report.nuts2_employees %}
                {{ report.nuts2_employees|intcomma }}
              {% else %}
                <span class="question-number bg-dark text-light rounded px-2 mr-2">9B</span>
              {% endif %}
            </td>
          </tr>
          <tr>
            <th>{{ country }}</th>
            <td>
              {% if report.country_gdp %}
                {{ report.country_gdp|intcomma }}
              {% else %}
                <span class="question-number bg-dark text-light rounded px-2 mr-2">10A</span>
              {% endif %}
            </td>
            <td>
              {% if report.country_employees %}
                {{ report.country_employees|intcomma }}
              {% else %}
                <span class="question-number bg-dark text-light rounded px-2 mr-2">10B</span>
              {% endif %}
            </td>
          </tr>
        </tbody>
      </table>

      <h4>The economic activities in {{ space }}</h4>
      {% if report.econ_description_html %}
        {{ report.econ_description_html|safe }}
      {% else %}
        <span class="question-number bg-dark text-light rounded px-2 mr-2">11</span>
      {% endif %}
    </section>

    <section id="flows">
      <h1>Material Flows in {{ space }}</h1>

      <p class="font-italic">
        Measuring material flows and circularity is a data heavy exercise. Numerous datasets were collected and visualised throughout the Urban Circularity Assessment process. To synthesise these findings, a Sankey diagram illustrates how material flows of the local economy of {{space}} are circulating from one lifecycle stage to another. The height of each line is proportional to the weight of the flow. This diagram therefore helps to quickly have an overview of all the materials flows that compose the economy and their respective shares. The flows that are coloured in light blue in the Sankey diagram, are return flows. This means that they flow in the opposite direction of the lifecycle stages and are subjected to reuse, redistribution, or remanufacturing. Their size relative to the others is a good indication for a materials' circularity.
      </p>

      <label>Domestic Extraction</label><br>
      {% if report.domestic_extraction_html %}
        {{ report.domestic_extraction_html|safe }}
      {% else %}
        <span class="question-number bg-dark text-light rounded px-2 mr-2">12</span>
      {% endif %}

      <label>Imports & Exports</label><br>
      {% if report.imports_exports_html %}
        {{ report.imports_exports_html|safe }}
      {% else %}
        <span class="question-number bg-dark text-light rounded px-2 mr-2">13</span>
      {% endif %}

      <label>Domestic Material Consumption</label><br>
      {% if report.consumption_html %}
        {{ report.consumption_html|safe }}
      {% else %}
        <span class="question-number bg-dark text-light rounded px-2 mr-2">14</span>
      {% endif %}

      <label>Waste</label><br>
      {% if report.waste_html %}
        {{ report.waste_html|safe }}
      {% else %}
        <span class="question-number bg-dark text-light rounded px-2 mr-2">15</span>
      {% endif %}
    </section>

    <section id="stock">
      <h1>Material stock in {{ space }}</h1>

      <p class="font-italic">Determining and analysing the material stock of a city can, similarly to the material flow accounting, also be a data intensive endeavour. The intensity depends on the scope and the data availability. For the Urban Circularity Assessment, the scope includes all residential and non-residential buildings in the municipality. Unlike for the material flow quantification, the analysis is not done for one or several specific reference years, but considers all buildings that have been constructed and still exist, up until and including 2022 (year of study). The aim is to quantify the materials that every single building contains and represent them spatially on a map. Depending on the data availability around building typologies, age cohorts, building height and material intensities, different, specific quantifications and investigations can be made.</p>

      <p class="font-italic">The embedded map allows to explore the building stock of {{space}} and interact with the different scales and buildings by zooming in and out, and clicking on the buildings to discover more about typologies and quantity of building materials. The widgets on the right can be used to account for certain information, e.g. the number of buildings in an area, or to filter for specific construction years, which in combination with the average useful life of buildings can be used to calculate the potential urban mine. Furthermore, an analysis can also be performed by using the lasso tool and drawing an area (a block, a neighbourhood or an urban area) to be analysed.</p>

      {% if space.slug == "apeldoorn" %}
        <iframe class="rounded" src="https://gcp-europe-west1.app.carto.com/map/c087a313-2dcc-4327-983f-651f90f2cd5c" onload="resizeIframe(this)"></iframe>
      {% elif space.slug == "bodo" %}
        <iframe class="rounded" src="https://gcp-europe-west1.app.carto.com/map/e0a43829-cb21-4069-add1-829ca5ceca21" onload="resizeIframe(this)"></iframe>
      {% endif %}

      <label>Material Stock Map</label><br>
      {% if report.stock_map_dataset %}
        {% if report.stock_map_dataset.type.name == "Image" %}
          <img src="{{ report.stock_map_dataset.image.url }}" class="img-fluid">
          {% if report.stock_map_dataset.is_part_of %}
            <p><a href="{% url 'cityloops:library_item' report.stock_map_dataset.is_part_of.id %}">Data source</a></p>
          {% else %}
            <p><a href="{% url 'cityloops:library_item' report.stock_map_dataset.id %}">Data source</a></p>
          {% endif %}
        {% else %}
          <iframe class="mb-4" src="/library/preview/{{ report.stock_map_dataset.id }}/?hide_title=true" onbeforeprint="resizeIframe(this)" onload="resizeIframe(this)"></iframe>
        {% endif %}
      {% else %}
        <span class="question-number bg-dark text-light rounded px-2 mr-2">16A</span>
      {% endif %}

      <label>Chart with different materials</label><br>
      {% if report.materials_dataset %}
        {% if report.materials_dataset.type.name == "Image" %}
          <img src="{{ report.materials_dataset.image.url }}" class="img-fluid">
          {% if report.materials_dataset.is_part_of %}
            <p><a href="{% url 'cityloops:library_item' report.materials_dataset.is_part_of.id %}">Data source</a></p>
          {% else %}
            <p><a href="{% url 'cityloops:library_item' report.materials_dataset.id %}">Data source</a></p>
          {% endif %}
        {% else %}
          <iframe class="mb-4" src="/library/preview/{{ report.materials_dataset.id }}/?hide_title=true" onbeforeprint="resizeIframe(this)" onload="resizeIframe(this)"></iframe>
        {% endif %}
      {% else %}
        <span class="question-number bg-dark text-light rounded px-2 mr-2">16B</span>
      {% endif %}


      <label>Typologies in {{ space }}</label><br>
      {% if report.typologies_html %}
        {{ report.typologies_html|safe }}
      {% else %}
        <span class="question-number bg-dark text-light rounded px-2 mr-2">17</span>
      {% endif %}

      <label>Analysis of Material Stock</label><br>
      {% if report.stock_html %}
        {{ report.stock_html|safe }}
      {% else %}
        <span class="question-number bg-dark text-light rounded px-2 mr-2">18</span>
      {% endif %}
    </section>

    <section id="analysis">
      <h1>Analysis of Flows and Stocks: Measuring Indicators</h1>

      <p class="font-italic">
        To monitor the progress of the local economy towards circularity, a number of indicators were proposed and measured. Altogether, these indicators depict several facets of circularity of the sector. As such, they need to be considered in combination rather than in isolation when assessing circularity. In addition, these indicators can be compared to other cities or spatial scales (such as the country level). However, this has to be done with great care and use of the contextual elements in the previous sections of the report. Finally, the value measured from these indicators can be traced over time to track the city’s progress towards circularity. The below table provides the value for two reference years, where possible, and the percentage change between the two.
      </p>

      <label>Indicator tables</label><br>
      {% if report.indicator_table_html %}
        {{ report.indicator_table_html|safe }}
      {% else %}
        <span class="question-number bg-dark text-light rounded px-2 mr-2">19</span>
      {% endif %}

      <label>Indicators that were chosen and their development over time</label><br>
      {% if report.indicators_html %}
        {{ report.indicators_html|safe }}
      {% else %}
        <span class="question-number bg-dark text-light rounded px-2 mr-2">20</span>
      {% endif %}
    </section>

    <section id="quality">
      <h1>Data Quality Assessment</h1>

      <p class="font-italic">Numerous datasets were collected and considered in the Urban Circularity Assessment and this section qualitatively assesses how reliable the data used is. In some cases, datasets were not available for some materials or for some lifecycle stages for the city. Therefore, estimations needed to be done by looking at data at higher spatial scales (region or country) and downscaling it with proxies, described in the part on data gaps and assumptions.</p>

      <p class="font-italic">The overall data quality is considered as well and depicted in the data quality matrix below. It is expressed through four data quality dimensions: reliability, completeness, temporal correlation, and spatial correlation. Each dimension has its own criteria for the ranking of high (green), medium (yellow) and low (red), which is based on this <a href="https://lca-net.com/files/Pedigree_report_final_May2012.pdf">Pedigree report</a> and shown in the table here. There may be additional explanations in some cells, as supporting information.</p>
      <table class="font-italic">
        <thead>
        <tr>
          <th>Rating</th>
          <th>Reliability</th>
          <th>Completeness</th>
          <th>Temporal correlation</th>
          <th>Spatial correlation</th>
        </tr>
        </thead>
        <tbody>
          <tr>
            <td><span data-color="green"></span>high</td>
            <td>Reviewed or measured data</td>
            <td>Data exists for all of the single sub-material groups and/or materials</td>
            <td>1 data less than 3 years difference to the time period of the data set</td>
            <td>City-level data</td>
          </tr>
          <tr>
            <td><span data-color="yellow"></span>medium</td>
            <td>Estimated data</td>
            <td>Data exists for most of the single sub-material groups and/or materials</td>
            <td>2 data less than 6 years difference to the time period of the data set</td>
            <td>Regional-level data (NUTS 3)</td>
          </tr>
          <tr>
            <td><span data-color="red"></span>low</td>
            <td>Provisional data</td>
            <td>Data exists for the main material group only</td>
            <td>3 data less than 10 years difference to the time period of the data set</td>
            <td>NUTS 2 and country-level data</td>
          </tr>
        </tbody>
      </table>

      <label>Data quality matrix</label><br>
      {% if report.matrix_html %}
        {{ report.matrix_html|safe }}
      {% else %}
        <span class="question-number bg-dark text-light rounded px-2 mr-2">21</span>
      {% endif %}

      <label>Data quality matrix</label><br>
      {% if report.quality_html %}
        {{ report.quality_html|safe }}
      {% else %}
        <span class="question-number bg-dark text-light rounded px-2 mr-2">22</span>
      {% endif %}
    </section>

    <section id="circularity">
      <h1>Analysis of Data and Indicators: Assessing Circularity</h1>

      <p class="font-italic">
        This last section of the UCA report analyses the status quo in terms of material circularity in {{space}}. It takes into account the findings visualised in the (Sankey) diagrams and the conclusions from the indicators. The overall results of the Urban Circularity Assessment are discussed and interpreted here, before providing recommendations to accelerate the transition towards a more circular {{space}}.
      </p>

      <label>Insights on status quo of {{ space }}</label><br>
      {% if report.status_quo_html %}
        {{ report.status_quo_html|safe }}
      {% else %}
        <span class="question-number bg-dark text-light rounded px-2 mr-2">24</span>
      {% endif %}

      <label>Recommendations for making {{ space }} more circular</label><br>
      {% if report.recommendations_html %}
        {{ report.recommendations_html|safe }}
      {% else %}
        <span class="question-number bg-dark text-light rounded px-2 mr-2">25</span>
      {% endif %}
    </section>

    <section id="references">
      <h1>References</h1>
      <ul>
        <li><a href="{% url 'cityloops:referencespace' country.id  %}">{{ country }}</a></li>
        <li><a href="{% url 'cityloops:referencespace' nuts2.id  %}">{{ nuts2 }}</a></li>
        <li><a href="{% url 'cityloops:referencespace' nuts3.id  %}">{{ nuts3 }}</a></li>
        {% if report.population_dataset %}
          <li><a href="{% url 'cityloops:library_item' report.population_dataset.id  %}">{{ report.population_dataset }}</a></li>
        {% endif %}
        {% if report.land_use_dataset %}
          <li><a href="{% url 'cityloops:library_item' report.land_use_dataset.id  %}">{{ report.land_use_dataset }}</a></li>
        {% endif %}
        {% if report.actors_dataset %}
          <li><a href="{% url 'cityloops:library_item' report.actors_dataset.id  %}">{{ report.actors_dataset }}</a></li>
        {% endif %}
      </ul>
      {% if report.references_html %}
        {{ report.references_html|safe }}
      {% endif %}
    </section>
    {% if space.slug == "apeldoorn" %}
      <div id="3176180f-5cdf-46bd-a2db-eac53d9977b1" class="plotly-graph-div" style="height:100%; width:100%;"></div>
    {% endif %}
  </div>

  <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"
     integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA=="
     crossorigin=""></script>
  <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
  <script>
    // table tweaks
    $("table").addClass("table");
    $("span[data-color]").each(function() {
      let span = $(this);
      let color = span.data("color");
      let cell = span.parent();

      cell.addClass("bg-" + color)

    })

    {% if space.geometry %}
      // space
      var space_map = L.map("space-map", {
        attributionControl: false,
        zoomControl: false,
      });

      var space_map_geojson = {{ space.geometry.geojson|safe }};
      var space_map_geojsonlayer = L.geoJSON(space_map_geojson).addTo(space_map);

      L.tileLayer("https://api.mapbox.com/styles/v1/{id}/tiles/{z}/{x}/{y}?access_token=pk.eyJ1IjoibWV0YWJvbGlzbW9mY2l0aWVzIiwiYSI6ImNqcHA5YXh6aTAxcmY0Mm8yMGF3MGZjdGcifQ.lVZaiSy76Om31uXLP3hw-Q", {
        attribution: "Map data &copy; <a href='http://openstreetmap.org'>OpenStreetMap</a> contributors, " +
          "<a href='http://creativecommons.org/licenses/by-sa/2.0/'>CC-BY-SA</a>, " +
          "Imagery © <a href='http://mapbox.com'>Mapbox</a>",
        maxZoom: 18,
        id: "mapbox/light-v10",
        tileSize: 512,
        zoomOffset: -1,
        accessToken: "pk.eyJ1IjoibWV0YWJvbGlzbW9mY2l0aWVzIiwiYSI6ImNqcHA5YXh6aTAxcmY0Mm8yMGF3MGZjdGcifQ.lVZaiSy76Om31uXLP3hw-Q"
      }).addTo(space_map);

      space_map.scrollWheelZoom.disable();
      space_map.fitBounds(space_map_geojsonlayer.getBounds());
    {% endif %}

    // NUTS3
    var nuts_3_map = L.map("nuts3-map", {
      attributionControl: false,
      zoomControl: false,
    });
    var nuts_3_geojson = {{ nuts3.geometry.geojson|safe }};
    var nuts_3_geojsonlayer = L.geoJSON(nuts_3_geojson).addTo(nuts_3_map);

    L.tileLayer("https://api.mapbox.com/styles/v1/{id}/tiles/{z}/{x}/{y}?access_token=pk.eyJ1IjoibWV0YWJvbGlzbW9mY2l0aWVzIiwiYSI6ImNqcHA5YXh6aTAxcmY0Mm8yMGF3MGZjdGcifQ.lVZaiSy76Om31uXLP3hw-Q", {
      attribution: "Map data &copy; <a href='http://openstreetmap.org'>OpenStreetMap</a> contributors, " +
        "<a href='http://creativecommons.org/licenses/by-sa/2.0/'>CC-BY-SA</a>, " +
        "Imagery © <a href='http://mapbox.com'>Mapbox</a>",
      id: "mapbox/light-v10",
      maxZoom: 18,
      tileSize: 512,
      zoomOffset: -1,
      accessToken: "pk.eyJ1IjoibWV0YWJvbGlzbW9mY2l0aWVzIiwiYSI6ImNqcHA5YXh6aTAxcmY0Mm8yMGF3MGZjdGcifQ.lVZaiSy76Om31uXLP3hw-Q"
    }).addTo(nuts_3_map);

    nuts_3_map.scrollWheelZoom.disable();
    nuts_3_map.fitBounds(nuts_3_geojsonlayer.getBounds());

    // NUTS2
    var nuts_2_map = L.map("nuts2-map", {
      attributionControl: false,
      zoomControl: false,
    });
    var nuts_2_geojson = {{ nuts2.geometry.geojson|safe }};
    var nuts_2_geojsonlayer = L.geoJSON(nuts_2_geojson).addTo(nuts_2_map);

    L.tileLayer("https://api.mapbox.com/styles/v1/{id}/tiles/{z}/{x}/{y}?access_token=pk.eyJ1IjoibWV0YWJvbGlzbW9mY2l0aWVzIiwiYSI6ImNqcHA5YXh6aTAxcmY0Mm8yMGF3MGZjdGcifQ.lVZaiSy76Om31uXLP3hw-Q", {
      attribution: "Map data &copy; <a href='http://openstreetmap.org'>OpenStreetMap</a> contributors, " +
        "<a href='http://creativecommons.org/licenses/by-sa/2.0/'>CC-BY-SA</a>, " +
        "Imagery © <a href='http://mapbox.com'>Mapbox</a>",
      id: "mapbox/light-v10",
      maxZoom: 18,
      tileSize: 512,
      zoomOffset: -1,
      accessToken: "pk.eyJ1IjoibWV0YWJvbGlzbW9mY2l0aWVzIiwiYSI6ImNqcHA5YXh6aTAxcmY0Mm8yMGF3MGZjdGcifQ.lVZaiSy76Om31uXLP3hw-Q"
    }).addTo(nuts_2_map);

    nuts_2_map.scrollWheelZoom.disable();
    nuts_2_map.fitBounds(nuts_2_geojsonlayer.getBounds());

    // COUNTRY
    var country_map = L.map("country-map", {
      attributionControl: false,
      zoomControl: false,
    });
    var country_geojson = {{ country.geometry.geojson|safe }};
    var country_geojsonlayer = L.geoJSON(country_geojson).addTo(country_map);

    L.tileLayer("https://api.mapbox.com/styles/v1/{id}/tiles/{z}/{x}/{y}?access_token=pk.eyJ1IjoibWV0YWJvbGlzbW9mY2l0aWVzIiwiYSI6ImNqcHA5YXh6aTAxcmY0Mm8yMGF3MGZjdGcifQ.lVZaiSy76Om31uXLP3hw-Q", {
      attribution: "Map data &copy; <a href='http://openstreetmap.org'>OpenStreetMap</a> contributors, " +
        "<a href='http://creativecommons.org/licenses/by-sa/2.0/'>CC-BY-SA</a>, " +
        "Imagery © <a href='http://mapbox.com'>Mapbox</a>",
      id: "mapbox/light-v10",
      maxZoom: 18,
      tileSize: 512,
      zoomOffset: -1,
      accessToken: "pk.eyJ1IjoibWV0YWJvbGlzbW9mY2l0aWVzIiwiYSI6ImNqcHA5YXh6aTAxcmY0Mm8yMGF3MGZjdGcifQ.lVZaiSy76Om31uXLP3hw-Q"
    }).addTo(country_map);

    country_map.scrollWheelZoom.disable();

    {% if bounding_box %}
      country_map.fitBounds({{ bounding_box|safe }})
    {% else %}
      country_map.fitBounds(country_geojsonlayer.getBounds());
    {% endif %}

    // function to make iframe the same size as its content
    function resizeIframe(obj) {
      obj.style.height = obj.contentWindow.document.documentElement.scrollHeight + 'px';
    }
  </script>
</body>
</html>
