{% extends "_base.html" %}
{% load bootstrap4 %}

{% block title %}Discussion topic{% endblock %}

{% block content %}

{% if not event %}

  {{ info.description|safe }}

  {% if list %}
    <p>You are the organizer of the following presentation(s):</p>
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Title</th>
          <th>Options</th>
        </tr>
      </thead>
      <tbody>
      {% for each in list %}
        <tr>
          <td>{{ each }}</td>
          <td>
            <a href="{% url "ascus2021:account_discussion" each.id %}" class="btn btn-primary"><i class="fa fa-pencil"></i> Edit</a>
            <a hidden href="{% url "ascus2021:account_discussion_attendance" each.id %}" class="btn btn-primary"><i class="fa fa-users"></i> Attendance list</a>
          </td>
        </tr>
      {% endfor %}
      </tbody>
    </table>
  {% endif %}

  <form method="post" class="form form-horizontal" enctype="multipart/form-data">
    <h2>Submit new discussion topic</h2>

    <p>
    Everyone can submit a discussion topic proposal even if they have not submitted
    an abstract. Proposals should include a brief synopsis of the discussion topic,
    a list of activities that are planned, and a general idea of the type of the
    path-to-action contribution that is expected (e.g., white paper, podcast,
    website, performance). We encourage participants to actively suggest discussion
    topics, being the interdisciplinary exchange of ideas and knowledge one of the
    key objectives of AScUS. Make sure to list the names of the organizer(s) of this 
    discussion topic in the description as well.
    </p>


    {% csrf_token %}

    {% bootstrap_form form %}

    <p>Abstract</p>
    <div class="form-group markdown-textarea">
      {% include "_markdown.html" %}
      <textarea class="form-control mb-4" id="text" rows="30" name="text" required>{{ event.description }}</textarea>
    </div>

    {% buttons %}
      <button type="submit" class="btn btn-primary">Save</button>
    {% endbuttons %}
  </form>

{% else %}
  <h3>Edit topic</h3>

  <form method="post" class="form form-horizontal" enctype="multipart/form-data">
    {% csrf_token %}

    {% bootstrap_form form %}

    <p>Abstract</p>
    <div class="form-group markdown-textarea">
      {% include "_markdown.html" %}
      <textarea class="form-control mb-4" id="text" rows="30" name="text" required>{{ event.description }}</textarea>
    </div>

    {% buttons %}
      <button type="submit" class="btn btn-primary">Save</button>
    {% endbuttons %}
  </form>

{% endif %}

{% endblock %}

{% block footer %}
<!-- markdown toolbar - https://github.com/github/markdown-toolbar-element -->
<script src="https://unpkg.com/@github/markdown-toolbar-element@latest/dist/index.umd.js"></script>
{% endblock %}
