{% extends "_base.html" %}
{% load bootstrap4 %}

{% block title %}Discussion topic{% endblock %}

{% block content %}

{% if not event %}

  {{ info.description|safe }}

  {% if list %}
    <p>You are the organizer of the following presentation(s):</p>
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Title</th>
          <th>Options</th>
        </tr>
      </thead>
      <tbody>
      {% for each in list %}
        <tr>
          <td>{{ each }}</td>
          <td>
            <a href="{% url "ascus:account_discussion" each.id %}" class="btn btn-primary"><i class="fa fa-pencil"></i> Edit</a>
            <a href="{% url "ascus:account_discussion_attendance" each.id %}" class="btn btn-primary"><i class="fa fa-users"></i> Attendance list</a>
          </td>
        </tr>
      {% endfor %}
      </tbody>
    </table>

    <p><a href="/wow-room-hosts/" class="btn btn-primary">Guidelines for hosting sessions</a></p>

  {% endif %}

{% else %}
  <h3>Edit topic</h3>

  <form method="post" class="form form-horizontal" enctype="multipart/form-data">
    {% csrf_token %}

    {% bootstrap_form form %}

    <p>Abstract</p>
    <div class="form-group markdown-textarea">
      {% include "_markdown.html" %}
      <textarea class="form-control mb-4" id="text" rows="30" name="text" required>{{ event.description }}</textarea>
    </div>

    {% buttons %}
      <button type="submit" class="btn btn-primary">Save</button>
    {% endbuttons %}
  </form>

{% endif %}

{% endblock %}

{% block footer %}
<!-- markdown toolbar - https://github.com/github/markdown-toolbar-element -->
<script src="https://unpkg.com/@github/markdown-toolbar-element@latest/dist/index.umd.js"></script>
{% endblock %}
