{% extends "_base.html" %}

{% block content %}
  {{ webpage.get_description }}

  <table class="table table-striped">
    <thead>
      <tr>
        <th>Title</th>
        <th>Author(s)</th>
      </tr>
    </thead>
    <tbody>
    {% for each in outputs %}
      <tr>
        <td>
          {% if is_ascus_participant or each.is_public %}
            <a href="{% url URLS.LIBRARY_ITEM each.id %}">{{ each }}</a>
          {% else %}
            {{ each }}
          {% endif %}
        </td>
        <td>{{ each.author_list }}</td>
      </tr>
    {% endfor %}
    </tbody>
  </table>

{% endblock %}
