{% extends "_base.html" %}

{% block head %}
<style type="text/css">
body td .deleted{text-decoration: line-through;color:red;opacity:0.6}
</style>
{% endblock %}

{% block content %}

  {% if type == "topics" %}
    {% for each in records %}
      <h3>{{ each }}</h3>
      <p><span class="badge badge-info">Upload date: {{ each.date_created }}</span></p>
      <p>{{ each.description|linebreaksbr }}</p>
    {% endfor %}

  {% else %}

    <h2>Abstract review queue</h2>

    <table class="table table-striped datatable">
      <thead>
        <tr>
          <th>Document</th>
          <th>Date</th>
          <th>Review Status</th>
        </tr>
      </thead>
      <tbody>
        {% for each in records %}
          <tr>
            <td>
              <a href="{% url "ascus2024:admin_document" each.id %}" {% if each.related_to.is_deleted %}class="deleted"{% endif %}>
                {{ each.related_to|truncatewords:13 }}<br>
                <em>{{ each.related_to.author }}</em>
              </a>
            </td>
            <td data-sort="{{ each.date_created|date:"U" }}">{{ each.date_created|date:"M d, Y" }}</td>
            <td>{{ each.get_status_display }}</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>

  {% endif %}

  <p class="mt-5">
    <a href="{% url "ascus2024:admin_massmail" %}?people={% for each in records %}{{ each.related_to.author.id }},{% endfor %}" class="btn btn-info"><i class="fa fa-envelope"></i> Mail all</a>
    <a href="{% url "ascus2024:admin_massmail" %}?people={% for each in records %}{% if each.get_status_display == 'Completed' %}{{ each.related_to.author.id }},{% endif %}{% endfor %}" class="btn btn-info"><i class="fa fa-envelope"></i> Mail accepted abstract authors</a>
    <a href="{% url "ascus2024:admin_massmail" %}?people={% for each in records %}{% if each.get_status_display == 'Discarded' %}{{ each.related_to.author.id }},{% endif %}{% endfor %}" class="btn btn-info"><i class="fa fa-envelope"></i> Mail discarded abstract authors</a>
    </p>

  <p class="mt-5"><a href="{% url "ascus2024:admin" %}" class="btn btn-info"><i class="fa fa-user-lock"></i> Back to AScUS admin</a></p>

{% endblock %}
