{% extends "_base.html" %}

{% block content %}

  <table class="table table-striped datatable">
    <thead>
      <tr>
        <th>Video</th>
        <th>Date</th>
        <th>Upload status</th>
      </tr>
    </thead>
    <tbody>
      {% for each in list %}
        <tr>
          <td>
            {% with link=PROJECT.slug|add:":admin_introvideo" %}
              <a href="{% url link each.id %}">{{ each.related_to }}</a>
            {% endwith %}
          </td>
          <td data-sort="{{ each.date_created|date:"U" }}">{{ each.date_created|date:"M d, Y" }}</td>
          <td>{{ each.get_status_display }}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>

  {% with link=PROJECT.slug|add:":admin" %}
    <p class="mt-5"><a href="{% url link %}" class="btn btn-info"><i class="fa fa-user-lock"></i> Back to AScUS admin</a></p>
  {% endwith %}

{% endblock %}
