{% extends "_base.html" %}

{% block content %}

  <h1>{{ info }}</h1>

  <div class="alert alert-secondary">
    <h3>Instructions</h3>
    <p>
      Please review this document to see if it seems to be all in order. 
      Make sure there is either a URL to download it or an attached file. 
      Make sure the document is legible. If it's a video, make sure it's audible. 
      If the video is ATTACHED and NOT already uploaded to Youtube, then please
      upload it to our channel (follow the same instructions as for the intro
      videos).
      If the authors uploaded a presentation (powerpoint slides), then please reach
      out to them to make sure they are fully aware that they will NOT be able
      to present this unless they record a video.
    </p>
  </div>

  <h2>Details</h2>
  <p><strong>Abstract</strong></p>
  <p>{{ info.description|linebreaksbr }}</p>

  <p><strong>Uploaded file</strong></p>
  {% if info.file %}
    <p><a class="btn btn-primary" href="{{ info.file.url }}"><i class="fa fa-fw fa-download"></i> Download document</a></p>
  {% else %}
    <p><em>No file uploaded</em></p>
  {% endif %}

  <p><strong>URL</strong></p>
  <p>{{ info.url }}</p>

  <p><strong>Author(s)</strong></p>
  <p>{{ info.author_list }}</p>

  <p>
  </p>

  <form method="post">
  
    <h2 class="mt-5">Process this document</h2>

    <div class="form-group">
      <label>Optional internal comments</label>
      <textarea class="form-control" name="comments" rows="3">{% if work.get_status_display != "Open" %}{{ work.description|default_if_none:"" }}{% endif %}</textarea>
    </div>

    <button type="submit" class="btn btn-success" name="approve" value="true">Review completed - looks good</button>
    <button type="submit" class="btn btn-danger" name="discard" value="true">Discard this (e.g. because it's a duplicate)</button>
    {% csrf_token %}

  </form>

  <p class="mt-5">
    <a href="{% url "ascus:admin" %}" class="btn btn-info"><i class="fa fa-user-lock"></i> Back to AScUS admin</a>
    <a href="{% url "ascus:admin_documents" "presentations" %}" class="btn btn-info"><i class="fa fa-file"></i> Back to presentation list</a>
  </p>

{% endblock %}
