{% extends "_base.html" %}

{% block css %}
<style type="text/css">
body.homepage .jumbotron{padding-bottom:3rem}
body.homepage section.what .card{height:auto}
</style>
{% endblock %}

{% block page_name %}homepage{% endblock %}
{% block content %}

<section class="what">
  <div class="row">

    <div class="col-md-3">
      <a class="card icon-card btn-card" href="{% url "ascus:admin_list" "participant" %}">
        <div class="icon">
          <i class="far fa-fw fa-users"></i>
        </div>
        <div class="card-header">People</div>
      </a>
    </div>

    <div class="col-md-3">
      <a class="card icon-card btn-card" href="{% url "ascus:admin_payments" %}">
        <div class="icon">
          <i class="far fa-fw fa-money-check-alt"></i>
        </div>
        <div class="card-header">All Payments</div>
      </a>
    </div>

    <div class="col-md-3">
      <a class="card icon-card btn-card" href="{% url "ascus:admin_payments" %}?pending=true">
        <div class="icon">
          <i class="far fa-fw fa-money-check-alt"></i>
        </div>
        <div class="card-header">Pending Payments</div>
      </a>
    </div>

    <div class="col-md-3">
      <a class="card icon-card btn-card" href="{% url "ascus:admin_introvideos" %}">
        <div class="icon">
          <i class="far fa-fw fa-video"></i>
        </div>
        <div class="card-header">Introduction videos</div>
      </a>
    </div>


  </div>

  <div class="row mt-4">

    <div class="col-md-3">
      <a class="card icon-card btn-card" href="{% url "ascus:admin_documents" "presentations" %}">
        <div class="icon">
          <i class="far fa-fw fa-presentation"></i>
        </div>
        <div class="card-header">Documents</div>
      </a>
    </div>

    <div class="col-md-3">
      <a class="card icon-card btn-card" href="{% url "ascus:admin_documents" "topics" %}">
        <div class="icon">
          <i class="far fa-fw fa-users-class"></i>
        </div>
        <div class="card-header">Discussion topics</div>
      </a>
    </div>

  </div>
</section>

{% if voting %}

<div class="">
  <h1>Voting</h1>

  {% for key,value in voting.items %}
    <h2>{{ key }}</h2>
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Name</th>
          <th>Votes</th>
        </tr>
      </thead>
      <tbody>
      {% for each in value %}
        <tr>
          <td>{{ each.record_child__name }}</td>
          <td>{{ each.total }}</td>
        </tr>
      {% endfor %}
      </tbody>
    </table>

  {% endfor %}
</div>

{% endif %}

{% endblock %}
