{% extends "_base.html" %}

{% block content %}

  <ul class="nav nav-tabs">
    {% for key,value in types.items %}
    <li class="nav-item">
      {% with link=PROJECT.slug|add:":admin_list" %}
        <a class="nav-link {% if type == key %}active{% endif %}" href="{% url link key %}">{{ value }}</a>
      {% endwith %}
    </li>
    {% endfor %}
  </ul>
  <table class="table table-striped datatable">
    <thead>
      <tr>
        <th>Person</th>
        <th>E-mail</th>
        <th>Role</th>
      </tr>
    </thead>
    <tbody>
      {% for each in list %}
        <tr>
          <td>{{ each.record_parent }}</td>
          <td>{{ each.record_parent.people.email }}</td>
          <td>{{ each.relationship.name }}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>

  {% with link=PROJECT.slug|add:":admin_massmail" %}
    <p class="mt-5"><a href="{% url link %}?people={% for each in list %}{{ each.record_parent.people.id }},{% endfor %}" class="btn btn-info"><i class="fa fa-envelope"></i> Send mass mail</a></p>
  {% endwith %}
  {% with link=PROJECT.slug|add:":controlpanel" %}
    <p><a href="{% url link %}" class="btn btn-info"><i class="fa fa-user-lock"></i> Back to AScUS admin</a></p>
  {% endwith %}

{% endblock %}
