{% extends "_base.html" %}

{% block content %}

  <h1>Discussion topic overview</h1>

  <table class="table table-striped">
    <tr>
      <th>Topic</th>
      <th>Date</th>
    </tr>
  {% for each in list %}
    <tr>
      <td><a href="{% url "ascus:account_discussion" each.id %}?org_mode=true">{{ each }}</a></td>
      <td>{{ each.start_date }}</td>
    </tr>
  {% endfor %}
  </table>

  <p class="mt-5"><a href="/account/admin/" class="btn btn-info"><i class="fa fa-user-lock"></i> Back to AScUS admin</a></p>

{% endblock %}
