{% extends "_base.html" %}

{% block content %}

  <h1>{{ info }}</h1>

  <h2>Details</h2>
  <p><strong>Abstract</strong></p>
  <p>{{ info.get_description }}</p>

  <p><strong>Uploaded file</strong></p>
  {% if info.file %}
    <p><a class="btn btn-primary" href="{{ info.file.url }}"><i class="fa fa-fw fa-download"></i> Download document</a></p>
  {% else %}
    <p><em>No file uploaded</em></p>
  {% endif %}

  <p><strong>URL</strong></p>
  <p>{{ info.url }}</p>

  <p><strong>Author(s)</strong></p>
  <p>{{ info.author_list }}</p>

  <p>
    <strong>Uploader</strong>
    </p>
    <p>
    {{ info.author }}
    &laquo;<a href="mailto:{{ info.author.email }}">{{ info.author.email }}</a>&raquo;
  </p>

  <form method="post">
  
    <h2 class="mt-5">Process this document</h2>

    <div class="form-group">
      <label>Optional internal comments</label>
      <textarea class="form-control" name="comments" rows="3">{% if work.get_status_display != "Open" %}{{ work.description|default_if_none:"" }}{% endif %}</textarea>
    </div>

    <button type="submit" class="btn btn-success" name="approve" value="true">Review completed - looks good</button>
    <button type="submit" class="btn btn-danger" name="discard" value="true">Discard this (e.g. because it's a duplicate)</button>
    {% csrf_token %}

  </form>

  <p class="mt-5">
    <a href="{% url "ascus2021:admin" %}" class="btn btn-info"><i class="fa fa-user-lock"></i> Back to AScUS admin</a>
    <a href="{% url "ascus2021:admin_documents" "abstracts" %}" class="btn btn-info"><i class="fa fa-file"></i> Back to presentation list</a>
  </p>

{% endblock %}
