{% extends "_base.html" %}

{% block content %}

  {% if not request.GET %}
    <p><a href="?pending=true">View pending payments</a></p>
  {% else %}
    <div class="alert alert-warning">
      {{ list.count }} pending payments.
    </div>
  {% endif %}
  <table class="table table-striped datatable">
    <thead>
      <tr>
        <th>Name</th>
        <th>Date</th>
        <th>Notes</th>
        <th>Status</th>
      </tr>
    </thead>
    <tbody>
      {% for each in list %}
        <tr>
          <td><a href="{% url "ascus2020:admin_payment" each.id %}">{{ each.related_to }}</a></td>
          <td data-sort="{{ each.date_created|date:"YmdHis" }}">{{ each.date_created }}</td>
          <td>{{ each.description|linebreaksbr }}</td>
          <td>{{ each.get_status_display }}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>

  <p class="mt-5"><a href="{% url "ascus2020:admin_massmail" %}?people={% for each in list %}{{ each.related_to.people.id }},{% endfor %}" class="btn btn-info"><i class="fa fa-envelope"></i> Send mass mail</a></p>
  <p>
    <a href="{% url "ascus2020:admin" %}" class="btn btn-info"><i class="fa fa-user-lock"></i> Back to AScUS admin</a>
  </p>

{% endblock %}
