{% extends "_base.html" %}

{% block content %}

  <h1>Discussion topic overview</h1>

  <table class="table table-striped">
    <tr>
      <th>Topic</th>
      <th>E-mail organizer</th>
      <th></th>
    </tr>
  {% for each in list %}
    <tr>
      <td data-sort="{{ each.start_date|date:"U" }}">
        <strong>{{ each|truncatewords:10 }}</strong>
        <br>
        <em>{{ each.organizer }} - {{ each.start_date|date:"l M d, Y H:i" }}-{{ each.end_date|date:"H:i" }}</em>
      </td>
      <td>
        {{ each.organizer.email }}
      </td>
      <td>
        <a href="{% url "ascus2021:account_discussion" each.id %}?org_mode=true" class="btn btn-default-outline"><i class="fa fa-pencil"></i> Edit</a>
        <a hidden href="{% url "ascus2021:admin_discussion_attendance" each.id %}" class="btn btn-default-outline"><i class="fa fa-users"></i> Attendance</a>
      </td>
    </tr>
  {% endfor %}
  </table>

  <a href="{% url "ascus2021:admin_massmail" %}?people={% for each in list %}{{ each.organizer.id }},{% endfor %}" class="btn btn-info"><i class="fa fa-envelope"></i> Mail all</a>

  <h2>Overview</h2>

  {% for each in list %}
    
    <h3 class="mt-4">{{ each }}</h3>
    <p><strong>Submitted by:</strong> {{ each.organizer }}</p>
    <p><strong>E-mail:</strong> {{ each.organizer.email }}</p>
    {{ each.get_description }}
    <hr>

  {% endfor %}

  <p class="mt-5"><a href="/controlpanel/" class="btn btn-info"><i class="fa fa-user-lock"></i> Back to AScUS admin</a></p>

{% endblock %}
