{% extends "_base.html" %}

{% block content %}

  <div class="row">
    {% for each in list %}
      <div class="col-lg-3 col-sm-6 mb-4">
        {% with link=PROJECT.slug|add:":participant" %}
          <a href="{% url link each.record_parent.id %}" class="btn-thumbnail" style="{% if each.record_parent.image %}background-image: url('{{ each.record_parent.image.thumbnail.url }}');{% else %}background:#f4f4f4{% endif %}">
        {% endwith %}
          <span class="title">{{ each.record_parent }}</span>
        </a>
      </div>
    {% endfor %}
  </div>

{% endblock %}
