{% extends "_base.html" %}

{% block title %}{{ header_title }}{% endblock %}

{% block content %}
  {{ webpage.description|safe }}

  {% if preconf %}
    <p>
      There are a number of events that take place in the week leading up to the AScUS 
      unconference. All participants are encouraged to review these events and attend
      those that are of their interest.
    </p>
  {% else %}
    <p>
      The unconference will revolve around a variety of discussion topics which will take 
      place throughout the duration of AScUS. Some of these discussion sessions have initial
      homework / exploratory exercises that are part of the pre-conference program. 
      Click on the name of a discussion topic to learn more about its goal, format, and content.
    </p>
  {% endif %}

  <p><strong>All times are Central European Summer Time (CEST)</strong> - see our schedule for conversion tables</p>

  <ol>
  {% for each in discussions %}
    <li>
        <a href="#topic-{{ each.id }}">{{ each }}</a><br>
        <em>{{ each.start_date|date:"l d M Y · H:i" }}-{{ each.end_date|date:"H-i" }}</em>
    </li>
  {% endfor %}
  </ol>

  {% for each in discussions %}

    <div class="card mb-4" id="topic-{{ each.id }}">
      <div class="card-header">
        {{ each }}
      </div>
      <div class="card-body">
        <p>
          <em>{{ each.start_date|date:"l d M · Y H:i" }}-{{ each.end_date|date:"H:i" }} CEST</em>
        </p>
        {{ each.get_markdown_description|safe }}

      <h3>Attend this session</h3>
      {% if not request.user.is_authenticated %}
        <p><em>You are not logged in. Please log in first and then register for this session.</em></p>
      {% else %}
        <form method="post" class="form form-horizontal" action="{% url "ascus2021:account" %}">
          {% csrf_token %}
          {% if each in my_topic_registrations or each.id == 987834 or each.id == 987835 or "Pre-conference" in each.name %}
            <div class="alert alert-success">
              {% if each in my_topic_registrations %}
                <span class="mr-3">
                  <i class="fa fa-check"></i> You are registered for this session!
                </span>
              {% endif %}
              {% if each.url %}
                <a class="btn btn-info" href="{{ each.url }}">Open room</a>
              {% endif %}
            </div>
          {% else %}
            <button type="submit" class="btn btn-success" name="register" value="{{ each.id }}">Register for this session.</button>
          {% endif %}
        </form>

        {% if activate_voting %}

          <form method="post" class="form form-horizontal" action="{% url "ascus2021:account_vote" %}">
            {% csrf_token %}
            <div class="alert alert-warning">
              <h3>Most enjoyable session</h3>
              <p>
              {% if best_vote %}
                  You already cast your vote
              {% else %}
                <button type="submit" class="btn btn-success" name="best_session" value="{{ each.id }}"><i class="fa fa-vote-yea"></i> Vote for this session.</button>
              {% endif %}
              </p>
            </div>
          </form>

        {% endif %}

      {% endif %}

      </div>

    </div>

  {% endfor %}

{% endblock %}
