{% extends "_base.html" %}

{% block content %}
  <h1>{{ catalog }}</h1>

  {% if not id %}
    {% if catalog.description %}
      <div class="mt-3 mb-3 alert-warning p-4">
        {{ catalog.get_markdown_description|safe }}
      </div>
    {% endif %}

    {% if catalog.url %}
      <a class="mb-3 btn btn-default-outline" href="{{ catalog.url }}"><i class="fa fa-external-link-alt"></i> Website</a>
    {% endif %}
    {% if catalog.original_file %}
      <a class="mb-3 btn btn-default-outline" href="{{ catalog.original_file.url }}"><i class="fa fa-download"></i> Download source file</a>
    {% endif %}

  {% else %}
    <p><a href="{% url "staf:activities" catalog.id %}">Back to top level</a></p>
  {% endif %}


  <ul class="nav nav-tabs">
    <li class="nav-item">
      <a class="nav-link {% if not request.GET.entire %}active{% endif %}" href="./">Browse by level</a>
    </li>
    <li class="nav-item">
      <a class="nav-link {% if request.GET.entire %}active{% endif %}" href="?entire=true">View entire list</a>
    </li>
  </ul>

  <table class="table table-striped datatable pt-2">
    <thead>
      <tr>
        <th>Code</th>
        <th>Name</th>
        <th>Options</th>
      </tr>
    </thead>
    <tbody>
    {% for each in list %}
      <tr>
        <td>{{ each.code }}</td>
        <td><a href="{% url "staf:activities" each.catalog.id each.id %}">{{ each.name }}</td>
        <td>
          <a disabled class="btn btn-info" href="{% url "staf:activity" each.catalog.id each.id %}"><i class="fa fa-eye"></i> View</a>
        </td>
      </tr>
    {% endfor %}
    </tbody>
  </table>

{% endblock %}
