{% extends "_base.html" %}
{% load bootstrap4 %}
{% load moc_extras %}

{% block head %}
<style>
  svg * {
    font-family: "Lato" !important;
  }

  rect {
    fill: #144d5825 !important;
    stroke: #144d58 !important;
  }

  .diagram-container {
    margin-top: -1rem;
    margin-bottom: 4rem;
  }

  .diagram-container.full-width {
    max-width: unset !important;
  }

  .select2-container {
    display: inline-block;
  }

  .hover-info {
    cursor: help;
  }
</style>
{% endblock %}
{% block content %}

<h1>{{ info }}</h1>

{% if not "edit" in request.GET %}
  {{ info.get_description }}

  <!-- closing container so we can create a new one and toggle it -->
  </div>

  <div class="container diagram-container">
    <div class="row">
      <div class="col-md-6">
        <h4>Flowchart</h4>
      </div>
      <div class="col-md-6 text-md-right">
        <div class="btn btn-primary-basic btn-sm btn-full-width"><i class="fa fa-fw fa-expand"></i> <span class="text">Full width</span></div>
      </div>
    </div>

    <div class="card card-body text-center">
      <div class="mermaid">
        flowchart TB
          {% for each in blocks %}
          block{{ each.origin.id }}{{ each.get_origin_slug }}["{{ each.get_origin }}"] --> block{{ each.destination.id }}{{ each.get_destination_slug }}["{{ each.get_destination }}"]
          {% endfor %}
      </div>
    </div>
  </div>

  <!-- opening container we close earlier -->
  <div class="container py-4">
{% endif %}

{% if form %}

  {% if not "edit" in request.GET %}
  <h4>Add new block</h4>
  {% endif %}

  <form method="post" class="form form-horizontal boxit pad-all" enctype="multipart/form-data">
    {% bootstrap_form form layout="horizontal" %}
    {% buttons %}
      <div class="offset-md-3 col-md-9 pl-2">
        <button type="submit" class="btn btn-success" name="main_form" value="true"><i class="fa fa-save"></i> Save</button>
      </div>
    {% endbuttons %}
    {% csrf_token %}
  </form>

{% endif %}

{% if not "edit" in request.GET %}

  <h4 class="mt-4">List</h4>

  <table class="table flows-table datatable-card bg-white">
    <thead>
      <tr>
        <th>Origin</th>
        <th>Destination</th>
        {% if form %}
          <th></th>
          <th></th>
        {% endif %}
        <th></th>
      </tr>
    </thead>
    <tbody>
    {% for each in blocks %}
      <tr>
        <td class="align-middle">
          {% if each.origin_label %}
            <strong>{{ each.origin_label }}</strong><br>
          {% endif %}
          {{ each.origin }}
        </td>
        <td class="align-middle">
          {% if each.destination_label %}
            <strong>{{ each.destination_label }}</strong><br>
          {% endif %}
          {{ each.destination }}
        </td>
        {% if form %}
          <td class="text-nowrap has-button align-middle">
            <a class="btn btn-sm btn-default-basic" href="?edit={{ each.id }}&amp;next={{ request.get_full_path }}"><i class="fal fa-edit"></i> Edit</a>
          </td>
          <td class="text-nowrap has-button align-middle">
            <form method="post">
              <button type="submit" class="btn btn-sm btn-danger">
                <i class="fas fa-trash-alt"></i>
                Delete
              </button>
              {% csrf_token %}
              <input type="hidden" name="delete" value="{{ each.id }}" />
            </form>
          </td>
        {% endif %}
        <td class="align-middle">
          {% if each.description %}
            <span hidden>{{ each.description }}</span>
            <i class="fal fa-info-circle hover-info" title="{{ each.description }}"></i>
          {% endif %}
        </td>
      </tr>
    {% endfor %}
    </tbody>
  </table>

{% endif %}

<div class="row my-4">
  <div class="col-sm-6">
    <a href="{% url 'staf:flowdiagrams' %}" class="btn btn-primary-basic mt-4">
      <i class="fal fa-angle-left"></i> Back to list
    </a>
  </div>
  {% if not form and curator %}
  <div class="col-sm-6 text-sm-right">
    <a href="{% url 'staf:flowdiagram_form' info.id %}" class="btn btn-primary mt-4">
      <i class="far fa-cube"></i> Manage blocks
    </a>
  </div>
  {% endif %}
</div>
{% endblock %}

{% block footer %}
  <script>
    $("select").select2({
      theme: "bootstrap4",
    });

    // disable sorting on last two columns
    $(".flows-table").DataTable( {
      columnDefs: [
        {orderable: false, targets: [2{% if form %},3,4{% endif %}]}
      ],
      order: [[0, 'asc']]
    } );

    let fullWidth = false;

    $(".btn-full-width").click(function() {
      $(".diagram-container").toggleClass("full-width");
      $(".btn-full-width i").toggleClass("fa-expand fa-compress");

      fullWidth = !fullWidth;

      if (fullWidth == true) {
        $(".btn-full-width .text").text("Close full width");
      } else {
        $(".btn-full-width .text").text("Full width");
      }
    })
  </script>
{% endblock %}
