{% extends "_base.html" %}
{% load bootstrap4 %}

{% block content %}
  <h1>Flow Diagram</h1>

  <form method="post" class="form form-horizontal">

    {% csrf_token %}
    {% bootstrap_form form %}

    {% buttons %}
      <button type="submit" class="btn btn-success">
        <i class="fas fa-save"></i> 
        Save
      </button>
    {% endbuttons %}
  </form>

  <a href="{% url "staf:flowdiagrams" %}" class="btn btn-primary-basic">
    <i class="fal fa-angle-left"></i>
    Back to list
  </a>

{% endblock %}
