{% extends "_base.html" %}

{% block content %}

  <h1>Flow diagrams</h1>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Name</th>
        <th>Description</th>
        <th>Options</th>
      </tr>
    </thead>
    <tbody>
    {% for each in list %}
      <tr>
        <td>
        <i class="fal fa-{{ each.icon }} fa-fw"></i>
        <a href="{% url "staf:flowdiagram" each.id %}">{{ each.name }}</a></td>
        <td>{{ each.description|truncatechars_html:100 }}</td>
        <td>
          <a class="btn btn-default-basic" href="{% url "staf:flowdiagram_meta" each.id %}"><i class="fal fa-edit"></i> Edit</a>
          <a class="btn btn-default-basic" href="{% url "staf:flowdiagram_form" each.id %}"><i class="fal fa-th"></i> Manage blocks</a>
        </td>
      </tr>
    {% endfor %}
    </tbody>
  </table>

  <a class="btn btn-default-basic" href="{% url "staf:flowdiagram_meta" %}"><i class="fal fa-plus"></i> Add new flow diagram</a>

{% endblock %}
