{% extends '_base.html' %}
{% load moc_extras %}
{% load humanize %}

{% block head %}
  <style>
    .leaflet-map {
      height: 600px;
      max-height: 80vh;
    }
  </style>
{% endblock %}

{% block content %}

  <h1>{% block title %}Map - {{ info }}{% endblock %}</h1>

  {% if not settings.hide_breadcrumbs %}
    <ol class="breadcrumb">
      <li class="breadcrumb-item">
        {% if space %}
          {% with link=PROJECT.slug|add:":space_maps" %}
            <a href="{% url link space.slug %}">Maps</a>
          {% endwith %}
        {% else %}
          <a href="../../">Maps</a>
        {% endif %}
      </li>
      <li class="breadcrumb-item">
        <a href="../">
          {{ info }}
        </a>
      </li>
      <li class="breadcrumb-item">Interactive map</li>
    </ol>
  {% endif %}

  <section>
    {% if info.meta_data.processing_error %}
      <div class="alert alert-danger d-inline-block">
        <i class="fal fa-fw fa-exclamation-triangle mr-1"></i>
        <strong>There was an issue processing this shapefile.</strong><br>
        {{ info.meta_data.processing_error }}
      </div>
    {% elif not spaces %}
      <div class="alert alert-dark d-inline-block">
        <i class="fal fa-fw fa-exclamation-triangle mr-1"></i>
        There are no layers available yet. Be sure to process shapefiles
        (<a href="https://multimedia.metabolismofcities.org/videos/332795/">instructions
        here</a>) in order to add layers to the map.
      </div>
    {% elif not data %}
      <div class="alert alert-dark d-inline-block">
        <i class="fal fa-fw fa-exclamation-triangle mr-1"></i>
        We have been unable to generate a map. It seems like the elements in this map do not
        have coordinates. Be sure to check the source file.
      </div>
    {% else %}
      {% if space_count %}
        <div class="alert alert-warning">
          <i class="fal fa-fw fa-exclamation-circle mr-1"></i>
          The map contains a total of {{ space_count|intcomma }} items. Due to this large number of elements, we are
          only showing a partial map below.
          {% if simplify_factor %} The map is furthermore simplified to make it easier to render.{% endif %}
          We recommend you download the original shapefile if you would like
          to view the entire map.
        </div>
      {% elif simplify_factor %}
        <div class="alert alert-primary d-inline-block text-center mb-0">
          <div class="mb-2">
            <i class="fal fa-fw fa-exclamation-circle mr-1"></i> Due to the large file size ({{ size }}), we are showing a simplified version of this map.
          </div>
          <a href="./?show_full=true" rel="nofollow" class="btn btn-primary">View full version</a>
        </div>
      {% endif %}

      <div id="map" class="leaflet-map mt-4"></div>

      {% if curator %}
        {% with link=PROJECT.slug|add:":chart_editor" %}
          <a href="{% url link info.id %}?next={{ request.get_full_path }}" class="btn btn-primary mt-3"><i class="fa fa-map-marker-edit"></i> Map editor</a>
        {% endwith %}
        {% with link=PROJECT.slug|add:":page_editor" %}
          <a href="{% url link info.id %}?next={{ request.get_full_path }}" class="btn btn-primary mt-3"><i class="fa fa-file-edit"></i> Page editor</a>
        {% endwith %}
      {% endif %}

    {% endif %}
  </section>

  {% if not info.meta_data.single_reference_space %}
    <section>
      <h2 class="mt-4">{{ info }}</h2>

      {% if settings.default_view != "table_only" and settings.default_view != "grid_only" %}
        {% if show_grid %}
          <ul class="nav nav-tabs toggle-tabs mb-3">
            <li class="nav-item">
              <a class="nav-link {% if not settings.default_view == "table" %}active{% endif %}" href="#" data-show="grid">
                <i class="fa fa-th-large"></i>
                Grid view
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link {% if settings.default_view == "table" %}active{% endif %}" href="#" data-show="table">
                <i class="fa fa-list"></i>
                Table view
              </a>
            </li>
          </ul>
        {% endif %}
      {% endif %}

      {% if spaces.count > 500 and not "show_all_spaces" in request.GET %}
        <div class="alert alert-warning">NOTE: the table is restricted to the first 500 items. <a href="?show_all_spaces=true">View all</a></div>
      {% endif %}

      {% if show_grid %}

         <div class="row show-grid show-element {% if settings.default_view == "table" or settings.default_view == "table_only" %}d-none{% endif %}">
           {% for each in spaces %}
             <div class="col-lg-4 col-md-6 col-sm-6 mb-3">
              <a class="card btn-card" href="{% url URLS.SPACE each.id %}">
                <img src="{{ each.get_thumbnail }}" class="card-img-top" alt="">
                <div class="card-body">
                  <h5 class="card-title">{{ each }}</h5>
                </div>
              </a>
            </div>
          {% endfor %}
         </div>

      {% endif %}

      <table class="table datatable {% if show_grid and not settings.default_view == "table" and not settings.default_view == "table_only" %}d-none{% endif %} show-table show-element">
        <thead>
          <tr>
            <th>Space</th>
            {% if not settings.hide_gps %}
              <th>Coordinates</th>
            {% endif %}
            {% if not settings.hide_description %}
              <th>Description</th>
            {% endif %}
            {% if settings.show_custom_fields %}
              {% for key,value in spaces.all.0.meta_data.features.items %}
                {% if key|slugify in settings.show_custom_fields %}
                  <th>{{ key }}</th>
                {% endif %}
              {% endfor %}
            {% endif %}
        </tr>
        </thead>
        <tbody>
        {% for each in spaces %}
          <tr>
            <td><a href="{% url URLS.SPACE each.id %}">{{ each }}</a></td>
            {% if not settings.hide_gps %}
              <td>{{ each.get_centroids }}</td>
            {% endif %}
            {% if not settings.hide_description %}
              <td>{{ each.description|default_if_none:""|truncatewords:30 }}</td>
            {% endif %}
            {% if settings.show_custom_fields %}
              {% for key,value in each.meta_data.features.items %}
                {% if key|slugify in settings.show_custom_fields %}
                  <td>{{ value }}</td>
                {% endif %}
              {% endfor %}
            {% endif %}
          </tr>
        {% endfor %}
        </tbody>
      </table>

    </section>

  {% endif %}

  {% if spaces %}

  <section class="mt-4">

    <h2>Downloads</h2>

    <div class="row">
      <div class="col-sm-6 col-md-4">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title"><i class="fa fa-list fa-fw"></i> CSV format</h5>
            <p class="card-text">This file contains a list of all spaces, and the coordinates of each space (if we have a polygon area for the space, then
                we convert this to the <a href="https://en.wikipedia.org/wiki/Centroid" target="_blank">centroids</a>).</p>
            <form method="post" class="mb-3">
              <button name="csv" value="true" type="submit" class="btn btn-primary"><i class="fa fa-download"></i> Download CSV file</button>
              {% csrf_token %}
            </form>
            <p class="card-text"><small class="text-muted">CSV files can be opened in any spreadsheet software</small></p>
          </div>
        </div>
      </div>
      <div class="col-sm-6 col-md-4">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title"><i class="fa fa-globe fa-fw"></i> GeoJSON format</h5>
            <p class="card-text">
              This contains all items in this list with either coordinates or other spatial references (e.g. polygons), in a
              <a href="https://en.wikipedia.org/wiki/GeoJSON">GeoJSON</a> format.
            </p>
            <form method="post" class="mb-3">
              <button name="geojson" value="true" type="submit" class="btn btn-primary"><i class="fa fa-download"></i> Download GeoJSON file</button>
              {% csrf_token %}
            </form>
            <p class="card-text"><small class="text-muted">GeoJSON can be read by GIS software, and is widely used on the web.</small></p>
          </div>
        </div>
      </div>
      <div class="col-sm-6 col-md-4">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title"><i class="fa fa-map fa-fw"></i> Shapefile format</h5>
            <p class="card-text">
              This format contains the original shapefile that was uploaded to create this map. Note: not all files have a shapefile.
            </p>
            {% if info.get_shapefile_size %}
              <form method="post" class="mb-3" action="{% url URLS.LIBRARY_ITEM info.id %}">
                <button name="zipfile" value="true" type="submit" class="btn btn-primary"><i class="fa fa-download"></i> Download shapefiles</button>
                {% csrf_token %}
              </form>
            {% else %}
              <div class="alert alert-dark">
                No shapefile available for this map.
              </div>
            {% endif %}
            <p class="card-text"><small class="text-muted">Shapefiles can be read by GIS software.</small></p>
          </div>
        </div>
      </div>
    </div>

  </section>

  {% if request.user.id == 1 and spaces.count %}
    <section>
      <h2><i class="fa fa-lock fa-fw"></i> Admin options</h2>
      <form method="post">
        <button name="delete_spaces" value="true" class="btn btn-danger" onclick="javascript:return confirm('Are you sure you want to delete all {{ space_count }} reference spaces? All associated data and details will be lost.')">Delete all reference spaces</button>
        {% csrf_token %}
      </form>
    </section>
  {% endif %}

{% endif %}

{% endblock %}

{% block footer %}
<script>
  $(".toggle-tabs a").click(function(e){
    $(".toggle-tabs a").removeClass("active");
    $(this).addClass("active");
    e.preventDefault();
    var show = $(this).data("show");
    $(".show-element").addClass("d-none");
    $(".show-"+show).removeClass("d-none");
  });

  let mapData_1 = {{ boundary|safe|escape }};

      dataLayer_1 = L.geoJson(mapData_1, {
        style: {
          fillColor: "#144d58",
          fillOpacity: 0.2,
          opacity: 1,
          weight: 2,
          color: "#144d58",
        },
      })
      map.addLayer(dataLayer_1)

</script>
{% endblock %}
