{% extends '_base.html' %}
{% load moc_extras %}

{% block head %}
  <style>
    .leaflet-map {
      height: 600px;
      max-height: 80vh;
    }
  </style>
{% endblock %}

{% block content %}

  <h1>{% block title %}Map of {{ info }}{% endblock %}</h1>

  <a href="../" class="btn btn-primary-basic">
    <i class="fal fa-angle-left"></i>
    Back to {{ info }}
  </a>

  <section>
    {% if not spaces %}
      <div class="alert alert-dark ml-2">
        There are no layers available yet. Be sure to process shapefiles
        (<a href="https://multimedia.metabolismofcities.org/videos/332795/">instructions
        here</a> [spanish]) in order to add layers to the map.
      </div>
    {% elif not map %}
      <div class="alert alert-dark ml-2">
        <i class="fa fa-exclamation-triangle"></i>
        We have been unable to generate a map. It seems like the elements in this map do not
        have coordinates. Be sure to check the source file.
      </div>
    {% else %}
      {% if space_count %}
        <div class="alert alert-warning">
          <i class="fa fa-exclamation-circle"></i>
          The map contains a total of {{ space_count }} items. Due to this large number of elements, we are
          only showing a partial map below.
          {% if simplify_factor %} The map is furthermore simplified to make it easier to render.{% endif %}
          We recommend you download the original shapefile if you would like
          to view the entire mape.
        </div>
      {% elif simplify_factor %}
        <div class="alert alert-warning">
          <i class="fa fa-exclamation-circle"></i>
          We are showing a simplified version of this map, due to the large file size ({{ size }}). If you want to
          view the map with full details, click the button below.<br>
          <a href="./?show_full=true" rel="nofollow" class="btn btn-primary">View full version</a>
        </div>
      {% endif %}
      <div id="map" class="leaflet-map mt-4"></div>
    {% endif %}
  </section>

  <section>
    <h2 class="mt-4">All elements inside this file</h2>

    {% if info.imported_spaces.count > 500 %}
      <div class="alert alert-warning">NOTE: the table is restricted to the first 500 items</div>
    {% endif %}

    <table class="table datatable">
      <thead>
        <tr>
          <th>Space</th>
          <th>Coordinates</th>
          <th>Description</th>
      </tr>
      </thead>
      <tbody>
      {% for each in spaces %}
        <tr>
          <td><a href="{% url URLS.SPACE each.id %}">{{ each }}</a></td>
          <td>{{ each.get_centroids }}</td>
          <td>{{ each.description|default_if_none:""|truncatewords:30 }}</td>
        </tr>
      {% endfor %}
      </tbody>
    </table>
  </section>

{% endblock %}

{% block javascript %}
  <script>
    // function when hovering over an area
    function hoverArea(e) {
      var layer = e.target;

      layer.setStyle({
        weight: 2,
        color: "gold",
      });

      if (!L.Browser.ie && !L.Browser.opera && !L.Browser.edge) {
        layer.bringToFront();
      }
    }

    // function when hovering out of an area
    function resetHover(e) {
      var layer = e.target;
      dataLayer.resetStyle(layer);
      var layerID = layer.feature.id

      $(".chart .bar[data-space='" + layerID + "'], .compact-table tr[data-space='" + layerID + "']").removeClass("selected");
    }

    // function when clicking on an area
    function selectArea(e) {
      var layer = e.target;

      layer.setStyle({
        weight: 2,
        color: "gold",
      });
    }

    // function to apply to each feature
    function onEachFeature(feature, layer) {
      layer.on({
        mouseover: hoverArea,
        mouseout: resetHover,
        click: selectArea
      }).bindPopup("<h5>" + layer.feature.properties.space_name + "</h5><a class='btn btn-primary' href='" + layer.feature.link + "'><i class='fa fa-search-plus'></i> Explore area</a>");
    }

    // variable for the data, add it to the map
    let mapData = {{ data|safe|escape }};
    let dataLayer = L.geoJson(mapData, {
      style: {
        fillColor: "#144d58",
        fillOpacity: 0.7,
        weight: 1,
        opacity: 1,
        color: "white",
      },
      onEachFeature: onEachFeature,
    })

    map.addLayer(dataLayer);
  </script>
{% endblock %}