{% extends "_base.html" %}
{% load moc_extras %}

{% block title %}{{ layer }} | {{ space }}{% endblock %}

{% block content %}

<h3><i class="fa fa-fw fa-{{ layer.icon }} mr-2"></i> {{ layer }}</h3>

{% if empty_page %}

  <div class="alert alert-dark text-center p-4">
    <h2 class="py-4 m-0">
    <i class="fa fa-exclamation-triangle"></i><br>
      There are no items available yet.
    </h2>
  </div>

{% else %}

  {% for each in children %}

    {% if list|get_item:each.id %}

      <h4 class="mt-5">{{ each }}</h4>

      {% with items=list|get_item:each.id %}
        {% include "_library.list.html" %}
      {% endwith %}

    {% endif %}

  {% endfor %}

{% endif %}

<h3 class="mt-5">Contribute to this open source project</h3>

<section class="row btn-cards">
  <div class="col-md-4 mb-3">
    <a class="card icon-card btn-card" href="{% if space %}{% url URLS.HUB_HARVESTING space.slug %}{% else %}/hub/{% endif %}">
      <div class="icon">
        <i class="fal fa-fw fa-upload"></i>
      </div>
      <div class="card-header">Upload data</div>
    </a>
  </div>
  <div class="col-md-4 mb-3">
    <a class="card icon-card btn-card" href="instructionvideos/">
      <div class="icon">
        <i class="fal fa-fw fa-video"></i>
      </div>
      <div class="card-header">Instruction videos</div>
    </a>
  </div>
  <div class="col-md-4 mb-3">
    <a class="card icon-card btn-card" href="https://education.metabolismofcities.org/courses/data-and-urban-metabolism-data-collection/">
      <div class="icon">
        <i class="fal fa-fw fa-graduation-cap"></i>
      </div>
      <div class="card-header">Online course: data collection</div>
    </a>
  </div>
</section>


{% endblock %}
