{% extends "_base.html" %}
{% load moc_extras %}

{% block content %}
  <section>
    <h2>Data inventory: layer overview</h2>
    <div class="row">
      <div class="col-4">
        <div class="nav flex-column nav-pills">
          {% for each in layers %}
            <a class="nav-link {% if each.slug == layer %}active{% endif %}" href="../{{ each.slug }}/">
              <i class="fa fa-{{ each.icon }} fa-fw"></i> {{ each }}
            </a>
          {% endfor %}

        </div>
      </div>
      <div class="col-8">
        <div class="tab-content">
          {% for each in layers %}
            {% if each.slug == layer %}
              <div class="tab-pane fade show active">

                <ul class="list-group mb-4">
                  {% for tag in each.children.all %}
                    <li class="list-group-item">
                      <a href="{{ tag.id }}/">
                        {{ tag }}
                        {% if counter|get_item:tag.id > 0 %}
                          <span class="badge badge-success float-right">
                            {{ counter|get_item:tag.id }}
                          </span>
                        {% else %}
                          <span class="badge badge-dark float-right">
                            0
                          </span>
                        {% endif %}
                      </a>
                    </li>
                  {% endfor %}
                </ul>

                <p><a href="all/">View all</a></p>

              </div>

            {% endif %}
          {% endfor %}

        </div>
      </div>
    </div>
  </section>
{% endblock %}
