{% extends "_base.html" %}

{% block content %}

<h3>{{ title }}</h3>

{% if type == "recent" %}
  <ul class="nav nav-tabs mb-2">
    <li class="nav-item">
      <a class="nav-link {% if days == 14 %}active{% endif %}" href="./?days=14">Past two weeks</a>
    </li>
    <li class="nav-item">
      <a class="nav-link {% if days == 31 %}active{% endif %}" href="./?days=31">Past month</a>
    </li>
    <li class="nav-item">
      <a class="nav-link {% if days == 365 %}active{% endif %}" href="./?days=365">Past year</a>
    </li>
  </ul>

{% elif type == "maps" %}

  <ul class="nav nav-pills mb-3">
    <li class="nav-item">
      <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Display mode:</a>
    </li>
    <li class="nav-item">
      <a class="nav-link {% if not request.GET.shapefiles %}active{% endif %}" href="./"><i class="fa fa-list"></i> List</a>
    </li>
    <li class="nav-item">
      <a class="nav-link {% if request.GET.shapefiles %}active{% endif %}" href="./?shapefiles=true"><i class="fa fa-image"></i> Shapefile previews</a>
    </li>
    {% if space %}
      <li class="nav-item">
        <a class="nav-link {% if request.GET.overview %}active{% endif %}" href="./overview/"><i class="fa fa-map"></i> Full overview map</a>
      </li>
    {% endif %}
  </ul>

{% elif type == "datasets" %}

  <ul class="nav nav-pills mb-3">
    <li class="nav-item">
      <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Display mode:</a>
    </li>
    <li class="nav-item">
      <a class="nav-link {% if not request.GET.dataviz %}active{% endif %}" href="./"><i class="fa fa-list"></i> All documents</a>
    </li>
    <li class="nav-item">
      <a class="nav-link {% if request.GET.dataviz %}active{% endif %}" href="./?dataviz=true"><i class="fa fa-chart-bar"></i> Datasets with visualisations</a>
    </li>
  </ul>

{% elif type == "infrastructure" or type == "boundaries" %}

  <ol class="breadcrumb bg-transparent p-0">
    <li class="breadcrumb-item">
      <a href="../">Maps</a>
    </li>
    <li class="breadcrumb-item">{{ type|title }}</li>
  </ol>

{% endif %}

{% if request.GET.shapefiles %}
  {% include "_library.shapefiles.html" %}
{% elif request.GET.dataviz and False %}
  {% include "_library.dataviz.html" %}
{% elif type == "multimedia" %}
  {% include "_library.multimedia.html" %}
{% else %}
  {% include "_library.list.html" %}
{% endif %}

{% endblock %}
