{% extends "_base.html" %}
{% load static %}

{% block css %}
<style>
  .map-list .fa-ul {
    margin-left: 30px;
  }

  .map-list .list-group {
    border-top-right-radius: 0;
    border-top-left-radius: 0;
  }

  .view-all {
    cursor: pointer;
  }
</style>
{% endblock %}

{% block content %}
  <h1>{% block title %}Maps{% endblock %}</h1>

  <div class="border rounded bg-light p-3 mb-4">
    <i class="fal fa-map mr-2"></i> We have a total of <strong>{{ processed }}</strong> interactive maps in our library for {{ space }}. You can browse these maps below.
  </div>

  <section class="row map-list">
    <div class="col-md-4">
      <div class="card shadow-none">
        <div class="card-header">Infrastructure</div>
        <img src="{{ photo_infrastructure }}" class="card-img-top rounded-0" alt="">
      </div>
      <div class="list-group bg-white">
        {% for each in infrastructure %}
          <a href="{{ each.id }}/{% if each.meta_data.processed %}view/{% endif %}" class="list-group-item list-group-item-action {% if forloop.counter > 5 %}d-none{% endif %} view-infrastructure">
            <ul class="fa-ul mb-0">
              <li><span class="fa-li"><i class="fal fa-fw {% if each.meta_data.processed %}fa-map{% endif %} mr-2"></i></span>{{ each }}</li>
            </ul>
          </a>
        {% endfor %}
        {% if infrastructure.count > 5 %}
          <div class="list-group-item list-group-item-action view-all" data-show="infrastructure">
            <i class="fal fa-arrow-down fa-fw mr-2"></i> View all ({{ infrastructure.count }})
          </div>
        {% endif %}
      </div>

      {% if infrastructure %}
        <a href="infrastructure/" class="btn btn-primary mt-4" {% if PROJECT.slug == "cityloops" %}hidden{% endif %}>
          <i class="fa fa-list mr-2"></i> View as separate list
        </a>
      {% else %}
        <div class="border rounded-bottom border-top-0 bg-light p-3">
          <i class="fal fa-empty-set mr-2"></i> No infrastructure maps available yet
        </div>
      {% endif %}
    </div>

    <div class="col-md-4">
      <div class="card shadow-none">
        <div class="card-header">Administrative boundaries</div>
        <img src="/media/images/geocode.type.2.jpg" class="card-img-top rounded-0" alt="">
      </div>
      <div class="list-group bg-white">
        {% for each in boundaries %}
          <a href="{{ each.id }}/{% if each.meta_data.processed %}view/{% endif %}" class="list-group-item list-group-item-action {% if forloop.counter > 5 %}d-none{% endif %} view-boundaries">
            <ul class="fa-ul mb-0">
              <li><span class="fa-li"><i class="fal fa-fw {% if each.meta_data.processed %}fa-map{% endif %} mr-2"></i></span>{{ each }}</li>
            </ul>
          </a>
        {% endfor %}
        {% if boundaries.count > 5 %}
          <div class="list-group-item list-group-item-action view-all" data-show="boundaries">
            <i class="fal fa-arrow-down fa-fw mr-2"></i> View all ({{ boundaries.count }})
          </div>
        {% endif %}
      </div>

      {% if boundaries %}
        <a href="boundaries/" class="btn btn-primary mt-4" {% if PROJECT.slug == "cityloops" %}hidden{% endif %}>
          <i class="fa fa-list mr-2"></i> View as separate list
        </a>
      {% else %}
        <div class="border rounded-bottom border-top-0 bg-light p-3">
          <i class="fal fa-empty-set mr-2"></i> No boundaries available yet
        </div>
      {% endif %}
    </div>

    <div class="col-md-4">
      <div class="card shadow-none">
        <div class="card-header">Master map</div>
        <img src="{% get_media_prefix %}images/fullmap2.jpg" class="card-img-top rounded-0" alt="">
        {% if not master_map %}
          <div class="border rounded-bottom border-top-0 bg-light p-3">
            <i class="fal fa-empty-set mr-2"></i> Not available yet
          </div>
        {% else %}
          <div class="list-group">
            <a href="../maps/overview/" class="list-group-item list-group-item-action border-top-0">
              <i class="fal fa-map fa-fw mr-2"></i> All boundaries and infrastructure on a single map
            </a>
          </div>
        {% endif %}
      </div>
    </div>
  </section>

  <section>
    <div class="border bg-light p-4 rounded text-center d-inline-block">
      <i class="fal fa-fist-raised fa-3x mb-4"></i><br>
      <h5 class="mb-4">Please help by collecting and processing maps!</h5>
      <a class="btn btn-primary" href="../hub/">
        Learn more <i class="fal fa-arrow-right ml-2 mr-0"></i>
      </a>
    </div>
  </section>

{% endblock %}

{% block footer %}
  <script>
    $(".view-all").click(function() {
      let show = $(this).data("show");
      $(".view-" + show).removeClass("d-none");

      $(this).remove();
    });
  </script>
{% endblock %}
