{% extends "_base.html" %}

{% block content %}

  <h1 class="mb-0">{% if info %}{{ info }}{% else %}Materials{% endif %}</h1>

  {% if info.parent %}
    <a href="../{{ info.parent.id }}/" class="btn btn-primary-basic mt-2">
      <i class="fal fa-arrow-up"></i>
      Back to {{ info.parent }}
    </a>
  {% elif info %}
    <a href="../?catalog={{ info.catalog.id }}" class="btn btn-primary-basic mt-2">
      <i class="fal fa-arrow-up"></i>
      Back to the index of {{ info.catalog }}
    </a>
  {% endif %}

  {% if list %}
    <table class="table border rounded datatable mt-4">
      <thead>
        <tr>
          <th>Name</th>
          <th>Code</th>
          {% if edit_mode %}
            <th></th>
          {% endif %}
        </tr>
      </thead>
      <tbody>
      {% for each in list %}
        <tr>
          <td>
            {% if each.icon %}<i class="fal fa-fw fa-{{ each.icon }} mr-2"></i>{% endif %}
            {% if edit_mode or each.children.all %}
              <a href="{% if not catalog %}../{% endif %}{{ each.id }}/">{{ each.name }}</a>
            {% else %}
              {{ each.name }}
            {% endif %}
          </td>
          <td width="100">
            {% if each.code %}{{ each.code }}{% endif %}
          </td>
          {% if edit_mode %}
          <td class="has-button text-right">
          {% if edit_mode %}
              <a class="btn btn-sm btn-primary-basic" href="{% if not catalog %}../{% endif %}{{ each.id }}/edit/?next={{ request.get_full_path }}"><i class="fa fa-pencil"></i> Edit</a>
            {% else %}
              <a hidden class="btn btn-sm btn-primary-basic" href="{% url 'staf:material' each.id %}"><i class="fa fa-eye"></i> View</a>
            {% endif %}
          </td>
          {% endif %}
        </tr>
      {% endfor %}
      </tbody>
    </table>
  {% else %}
    <div class="alert alert-warning">No materials found in this category.</div>
  {% endif %}

  {% if edit_mode %}
    <a class="btn btn-default-basic" href="create/?{% if not material %}catalog={{ catalog }}&amp;{% endif %}next={{ request.get_full_path }}"><i class="fal fa-plus"></i> Add material</a>
  {% endif %}

{% endblock %}
