{% extends "_base.html" %}

{% block footer %}

  {% if catalog %}
  <script src="//code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/jquery.fancytree@2.38.0/dist/modules/jquery.fancytree.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/jquery.fancytree@2.38.0/dist/modules/jquery.fancytree.filter.js"></script>

  <script type="text/javascript">
    $(function(){
      // Attach the fancytree widget to an existing <div id="tree"> element
      // and pass the tree options as an argument to the fancytree() function:
      $("#tree").fancytree({
        extensions: ["filter"],
        quicksearch: true,
        source: {
          {% with link=PROJECT.slug|add:":materials_json" %}
            url: "{% url link catalog.id %}"
          {% endwith %}
        },
      activate: function(event, data) {
        var node = data.node;
        // acces node attributes
        l = node.title;
        l += ' <a class="btn btn-light ml-4" style="padding:.175rem .75rem" href="?catalog={{ catalog.id }}&amp;open=' + node.key + '">More &raquo;</a>';
        $("#selected-node").html(l);
      },
      });
      var tree = $.ui.fancytree.getTree("#tree");

      $("input[name=search]").on("keyup", function(e){
        var n,
          tree = $.ui.fancytree.getTree(),
          args = "autoExpand hideExpanders highlight nodata".split(" "),
          opts = {},
          filterFunc = tree.filterNodes,
          match = $(this).val();

        $.each(args, function(i, o) {
          opts[o] = $("#" + o).is(":checked");
        });
        opts.autoExpand = true;
        opts.mode = "hide";

        if(e && e.which === $.ui.keyCode.ESCAPE || $.trim(match) === ""){
          $("button#btnResetSearch").trigger("click");
          return;
        }
        if($("#regex").is(":checked")) {
          // Pass function to perform match
          n = filterFunc.call(tree, function(node) {
            return new RegExp(match, "i").test(node.title);
          }, opts);
        } else {
          // Pass a string to perform case insensitive matching
          n = filterFunc.call(tree, match, opts);
        }
        $("button#btnResetSearch").attr("disabled", false);
        $("span#matches").text("(" + n + " matches)");
      }).focus();

      $("button#btnResetSearch").click(function(e){
        $("input[name=search]").val("");
        $("span#matches").text("");
        tree.clearFilter();
      }).attr("disabled", true);

      $("fieldset input:checkbox").change(function(e){
          var id = $(this).attr("id"),
            flag = $(this).is(":checked");

          // Some options can only be set with general filter options (not method args):
          switch( id ){
          case "counter":
          case "hideExpandedCounter":
            tree.options.filter[id] = flag;
            break;
          }
          tree.clearFilter();
          $("input[name=search]").keyup();
      });

    });
  </script>

{% endif %}

{% endblock %}

{% block head %}

  {% if catalog %}
    <link href="//cdn.jsdelivr.net/npm/jquery.fancytree@2.38/dist/skin-lion/ui.fancytree.min.css" rel="stylesheet">
    <style type="text/css">
     .fancytree-ext-filter span.fancytree-title mark {
       background-color: #E09090;
     }
    ul.fancytree-container {
      padding:10px;
      font-family:Lato, Helvetica Neue, Arial, Helvetica, sans-serif;
      background: #f4f4f4;
    }
    #treesection h3{
      margin-bottom: 0;
      background: #1d7182;
      font-size: 15px;
      padding: 10px;
      border: 2px solid #333;
      border-bottom: 1px solid #999;
      color: #fff;
    }
    #selected-node {
      position: fixed;
      bottom: 0;
      width: 100%;
      left: 0;
      background: #333;
      color: #fff;
      text-align: center;
      padding: 5px 0;
      z-index: 1000000;
    }
    </style>
  {% endif %}

{% endblock %}

{% block content %}

  <h1 class="mb-0">{% if info %}{{ info }}{% else %}{{ catalog }}{% endif %}</h1>

  <nav aria-label="breadcrumb">
    <ol class="breadcrumb bg-transparent p-0">
      <li class="breadcrumb-item"><a href="{% url "staf:catalogs" %}">Data catalogs</a></li>
      <li class="breadcrumb-item"><a href="{% url "staf:materials_catalogs" %}">Materials</a></li>
      {% if catalog %}
        <li class="breadcrumb-item active" aria-current="page">{{ catalog }}</li>
      {% elif info %}
        {% for each in info.parents %}
          <li class="breadcrumb-item"><a href="{% url "staf:materials" each.id %}">{{ each }}</a></li>
        {% endfor %}
        <li class="breadcrumb-item active" aria-current="page">{{ info }}</li>
      {% endif %}
    </ol>
  </nav>

  {% if info.parent %}
    <a href="../{{ info.parent.id }}/" class="btn btn-primary-basic mt-2">
      <i class="fal fa-arrow-up"></i>
      Back to {{ info.parent }}
    </a>
  {% elif info %}
    <a href="../?catalog={{ info.catalog.id }}" class="btn btn-primary-basic mt-2">
      <i class="fal fa-arrow-up"></i>
      Back to the index of {{ info.catalog }}
    </a>
  {% endif %}

  {% if show_tabular %}
    {% for each in list %}
      <li>
        {{ each }}
        <span class="badge badge-info">{{ each.parent }}</span>
      </li>
    {% endfor %}
  {% endif %}

  {% if catalog %}

    <div class="input-group mb-3">
      <input type="text" name="search" autocomplete="off" class="form-control" placeholder="Filter...">
      <button id="btnResetSearch" class="input-group-text">&times;</button>
    </div>

    <section id="treesection" class="mb-4">

      <h3>Material tree</h3>

      <div id="tree">
      </div>

      <div><span id="selected-node"></span></div>

    </section>

  {% endif %}


  <article>

  {% if False %}
    {% if list %}
      <table class="table border rounded datatable mt-4">
        <thead>
          <tr>
            <th>Name</th>
            <th>Code</th>
            {% if edit_mode %}
              <th></th>
            {% endif %}
          </tr>
        </thead>
        <tbody>
        {% for each in list %}
          <tr>
            <td>
              {% if each.icon %}<i class="fal fa-fw fa-{{ each.icon }} mr-2"></i>{% endif %}
              {% if edit_mode or each.children.all %}
                <a href="{% if not catalog %}../{% endif %}{{ each.id }}/">{{ each.name }}</a>
              {% else %}
                {{ each.name }}
              {% endif %}
            </td>
            <td width="100">
              {% if each.code %}{{ each.code }}{% endif %}
            </td>
            {% if edit_mode %}
            <td class="has-button text-right">
            {% if edit_mode %}
                <a class="btn btn-sm btn-primary-basic" href="{% if not catalog %}../{% endif %}{{ each.id }}/edit/?next={{ request.get_full_path }}"><i class="fa fa-pencil"></i> Edit</a>
              {% else %}
                <a hidden class="btn btn-sm btn-primary-basic" href="{% url 'staf:material' each.id %}"><i class="fa fa-eye"></i> View</a>
              {% endif %}
            </td>
            {% endif %}
          </tr>
        {% endfor %}
        </tbody>
      </table>
    {% else %}
      <div class="alert alert-warning">No materials found in this category.</div>
    {% endif %}

    {% endif %}

    {% if edit_mode %}
      <a class="btn btn-default-basic" href="create/?{% if not material %}catalog={{ catalog }}&amp;{% endif %}next={{ request.get_full_path }}"><i class="fal fa-plus"></i> Add material</a>
    {% endif %}

    </article>

{% endblock %}
