{% extends "_base.html" %}
{% load bootstrap4 %}

{% block content %}

  <h1 class="mb-0">Materials</h1>

  <form method="post" class="form form-horizontal" enctype="multipart/form-data">
    {% bootstrap_form form layout="horizontal" %}
    {% buttons %}
      <div class="col-md-offset-3 col-md-9">
        <button type="submit" class="btn btn-success">Save</button>
      </div>
    {% endbuttons %}
    {% csrf_token %}
  </form>

  <a href="../" class="btn btn-primary-basic mt-4">
    <i class="fal fa-angle-left"></i>
    Back to list
  </a>

{% endblock %}
