{% extends "_base.html" %}

{% block content %}
  <h1>{{ geocode }}</h1>
  <table class="table table-striped datatable">
    <thead>
      <tr>
        <th>Name</th>
        <th>Location details?</th>
        <th>Options</th>
      </tr>
    </thead>
    <tbody>
    {% for each in list %}
      <tr>
        <td>{{ each.name }}</td>
        <td>{% if each.location %}Yes{% endif %}</td>
        <td>
          <a class="btn btn-info" href="{% url "staf:referencespace" each.id %}"><i class="fa fa-eye"></i> View</a>
          <a class="btn btn-info" href="{% url "staf:flowdiagram_form" each.id %}"><i class="fa fa-pencil"></i> Edit</a>
        </td>
      </tr>
    {% endfor %}
    </tbody>
  </table>

  <p><a href="{% url "staf:flowdiagram_meta" %}" class="btn btn-primary">Add new flow diagram</a></p>
{% endblock %}
