{% extends "_base.html" %}

{% block css %}

  <style>
    #map {
      height: 500px;
      margin-bottom: 30px;
    }
  </style>
{% endblock %}

{% block head %}
  <link rel="stylesheet"
        href="https://unpkg.com/leaflet@1.6.0/dist/leaflet.css"
        integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ=="
        crossorigin=""/>
{% endblock %}

{% block content %}

  <h1>{{ info }}</h1>

  {% if info.photo.id != 33476 %}
    <img src="{{ info.photo.image.thumbnail.url }}" alt="" class="img-thumbnail" />
  {% endif %}

  <dl class="row">
    <dt class="col-sm-3">ID</dt>
    <dd class="col-sm-9">{{ info.id }}</dd>

    <dt class="col-sm-3">Geocode(s)</dt>
    <dd class="col-sm-9">
      {% if info.geocodes.all %}
        <ul class="list-unstyled">
        {% for each in info.geocodes.all %}
          <li>{{ each }}</li>
        {% endfor %}
        </ul>
      {% else %}
        <em>None</em>
      {% endif %}

    {% if info.description %}
      <dt class="col-sm-3">Description</dt>
      <dd class="col-sm-9">{{ info.get_description }}</dd>
    {% endif %}
    
    </dd>

  </dl>

  {% if location %}
  <h2>Location</h2>
    <div id="map" class="leaflet-map"></div>
      <table class="table table-bordered datatable">
        <thead>
          <tr>
            <th>Inside this space</th>
            <th>Type</th>
          </tr>
        </thead>
        <tbody>
          {% for each in inside_the_space %}
            <tr>
              <td><a href="{% url "staf:referencespace" each.id  %}">{{ each.name }}</a></td>
              <td>
                {% for geocode in each.geocodes.all %}
                  {% if geocode.is_public and not geocode.is_deleted %}
                    <span class="badge">{{ geocode }}</span>
                  {% endif %}
                {% endfor %}
              </td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
  {% endif %}

{% endblock %}

{% block footer %}
  <script src="https://unpkg.com/leaflet@1.6.0/dist/leaflet.js"
          integrity="sha512-gZwIG9x3wUXg2hdXF6+rVkLF/0Vi9U8D2Ntg4Ga5I5BZpVkVxlJWbSQtXPSiUTtC0TjtGOmxa1AJPuV0CPthew=="
          crossorigin="">
  </script>

  <script>
    // https://leafletjs.com/reference-1.6.0.html
  var map = L.map("map");
  L.tileLayer("https://api.mapbox.com/styles/v1/{id}/tiles/{z}/{x}/{y}?access_token=pk.eyJ1IjoibWV0YWJvbGlzbW9mY2l0aWVzIiwiYSI6ImNqcHA5YXh6aTAxcmY0Mm8yMGF3MGZjdGcifQ.lVZaiSy76Om31uXLP3hw-Q", {
    attribution: 'Map data &copy; <a href="https://www.openstreetmap.org/">OpenStreetMap</a> contributors, <a href="https://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, Imagery © <a href="https://www.mapbox.com/">Mapbox</a>',
    id: "mapbox/streets-v11",
    tileSize: 512,
    zoomOffset: -1,
  }).addTo(map);

  function onEachFeature(geometries, layer) {
      var popupContent = "<p>Type: " +
          geometries.type;
      if (geometries.properties && geometries.properties.popupContent) {
        popupContent += geometries.properties.popupContent;
      }
      layer.bindPopup(popupContent);
    }

    geojsonlayer = L.geoJSON({{ location.geometry.geojson|safe }}, {
      style: function (geometries) {
        return geometries.properties && geometries.properties.style;
      },
      onEachFeature: onEachFeature,
      pointToLayer: function (geometries, latlng) {
        return L.circleMarker(latlng, {
          radius: 8,
          fillColor: "#ff7800",
          color: "#000",
          weight: 1,
          opacity: 1,
          fillOpacity: 0.8
        });
      }
    }).addTo(map);

    map.fitBounds(geojsonlayer.getBounds());

  </script>
{% endblock %}
