{% extends '_base.html' %}
{% load moc_extras %}

{% block page_name %}full map{% endblock %}
{% block title %}Map - {{ space }}{% endblock %}

{% block head %}
  <!-- leaflet -->
  <link rel="stylesheet"
        href="https://unpkg.com/leaflet@1.6.0/dist/leaflet.css"
        integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ=="
        crossorigin=""/>

  <!-- leaflet fullscreen plugin - https://github.com/Leaflet/Leaflet.fullscreen -->
  <link href="https://api.mapbox.com/mapbox.js/plugins/leaflet-fullscreen/v1.0.1/leaflet.fullscreen.css" rel="stylesheet" />
{% endblock %}

{% block content %}

  {% if not space.geometry %}
    <div class="alert alert-warning">
      We do not yet have the official boundaries on record for {{ space }}. Do you know where we can find them?
      Become a contributor and upload the official boundaries in shapefile format so that we can create a map
      for {{ space }}. <a href="/hub/">Read more here</a>.
      If the boundaries are already available then data processors <a href="{% url processing_url space.slug %}">can activate the boundaries here</a>.
    </div>
  {% else %}
    <div class="row">
      <div class="col-lg-3" id="map-control">
        <div class="row">

          {% if not parents %}
            <div class="alert alert-dark ml-2">
              There are no layers available yet. Be sure to process shapefiles
              (<a href="https://multimedia.metabolismofcities.org/videos/332795/">instructions
              here</a> [spanish]) in order to add layers to the map.
            </div>
          {% else %}
            {% for each in parents %}
            <div class="col-sm-6 col-md-4 col-lg-12">
              <div class="card mb-3">
                <div class="card-header collapsed">
                  <i class="fas fa-fw fa-{{ each.icon }}"></i> {{ each.get_name_after_period }}
                  <i class="fas fa-fw fa-angle-down angle"></i>
                </div>
                <ul class="list-group list-group-flush">
                  {% for layer in hits|get_item:each.id %}
                    <li class="list-group-item toggle-layer" data-id="{{ layer.id }}" data-geojson="{% url URLS.GEOJSON layer.id %}" data-color="{{ getcolors|get_item:layer.id }}">
                      <i class="fad fa-swap-opacity fa-fw fa-circle" style="color: {{ getcolors|get_item:layer.id }}"></i> {{ layer.meta_data.shortname|default:layer }}
                      <i class="far fa-fw fa-check-circle"></i>
                    </li>
                  {% endfor %}
                </ul>
              </div>
            </div>
            {% endfor %}
          {% endif %}

        </div>
      </div>
      <div class="col-lg-9 col-map">
        <div id="map" class="leaflet-map sticky-top"></div>
      </div>
    </div>
  {% endif %}

{% for key,value in data.items %}
  <div class="mt-3 alert alert-warning">
    layer_{{ key }}: {{ value }}
  </div>
{% endfor %}

{% endblock %}

{% block footer %}
  <!-- leaflet -->
  <script src="https://unpkg.com/leaflet@1.6.0/dist/leaflet.js"
          integrity="sha512-gZwIG9x3wUXg2hdXF6+rVkLF/0Vi9U8D2Ntg4Ga5I5BZpVkVxlJWbSQtXPSiUTtC0TjtGOmxa1AJPuV0CPthew=="
          crossorigin="">
  </script>

  <!-- leaflet fullscreen plugin - https://github.com/Leaflet/Leaflet.fullscreen -->
  <script src="https://api.mapbox.com/mapbox.js/plugins/leaflet-fullscreen/v1.0.1/Leaflet.fullscreen.min.js"></script>

  {% if space.geometry %}
  <script>
    // create leaflet map - https://leafletjs.com/reference-1.6.0.html
    var map = L.map("map", {
      center: [{{ space.get_centroids }}],
      zoom: 13,
      minZoom: 2,
      maxZoom: 18,
      scrollWheelZoom: false,
      fullscreenControl: true,
    })

    // add tile layer
    var tileLayer = L.tileLayer("https://api.mapbox.com/styles/v1/{id}/tiles/{z}/{x}/{y}?access_token={accessToken}", {
      attribution: "Map data &copy; <a href='https://www.openstreetmap.org/'>OpenStreetMap</a> contributors, <a href='https://creativecommons.org/licenses/by-sa/2.0/'>CC-BY-SA</a>, Imagery © <a href='https://www.mapbox.com/'>Mapbox</a>",
      id: "mapbox/streets-v11",
      accessToken: "pk.eyJ1IjoibWV0YWJvbGlzbW9mY2l0aWVzIiwiYSI6ImNqcHA5YXh6aTAxcmY0Mm8yMGF3MGZjdGcifQ.lVZaiSy76Om31uXLP3hw-Q",
      tileSize: 512,
      zoomOffset: -1,
      // this "layer" option must be kept, as it prevents the tiles from disappearing when removing all other layers from the map
      layer: "tiles",
    })

    tileLayer.addTo(map);

    function style(feature) {
        return {
            fillColor: '#3388FF',
            weight: 4,
            opacity: 0.9,
            color: '#3388FF',
            fillOpacity: 0.05,
        };
    }

    // Add boundaries
    var boundaries = {{ space.geometry.geojson|safe }};
    boundaries_layer = L.geoJSON(boundaries, { style: style }).addTo(map);
    map.fitBounds(boundaries_layer.getBounds());

    // enable popups so na user can click on an object on the map and see extra information
    function onEachFeature(feature, layer) {
      var popupContent = "<div class='popup-title font-weight-bold'>" + feature.properties.space_name + "</div>" + feature.properties.content;

      layer.bindPopup(popupContent);
    }

    // create variables for each layer
    {% for each in parents %}
      {% for layer in hits|get_item:each.id %}
        var layer_{{ each.id }};
      {% endfor %}
    {% endfor %}

    // when opening a layer for the first time, download it and add it to the map
    // this function should only run once per layer
    function downloadLayer(id, url, color) {
      let layerVariable = "layer_" + id;

      $.get(url, function(geojson) {
        window[layerVariable] = L.geoJSON(geojson, {
          style: {
            color: color,
            fillOpacity: .4,
            weight: 2,
          },

          // function to create the popup
          onEachFeature: onEachFeature,
        });

        map.addLayer(window[layerVariable])
      })
    }

    // function to toggle visibility of layers, buttons in #map-control div
    $("#map-control .toggle-layer").click(function() {
      var button = $(this);

      // data-id="{{ layer.id }}" data-geojson=
      var id = button.data("id");
      var url = button.data("geojson");
      var color = button.data("color");
      var layer = "layer_" + button.data("id");

      if ( button.hasClass("visible") ) {
        map.removeLayer(window[layer])
      } else {
        if ( button.hasClass("downloaded") ) {
          map.addLayer(window[layer])
        } else {
          downloadLayer(id, url, color)
          button.addClass("downloaded")
        }
      }

      button.toggleClass("visible")

      // check if any layers are visible to determine is clear map button should be visible
      var layersVisible = $("#map-control .toggle-layer.visible").length

      if (layersVisible == 0) {
        $(".clear-map.button").hide()
      } else {
        $(".clear-map.button").show()
      }
    })

    // toggle visibility of menu
    $("#map-control .card-header").click(function() {
      $(this).next(".list-group").slideToggle("fast");
      $(this).toggleClass("collapsed");
      $("i.angle", this).toggleClass("fa-angle-down fa-angle-up");
    })

    // function to clear the map of markers, but not tiles
    function clearMap() {
      // remove the layers
      map.eachLayer(function (layer) {
        if ( layer.options.layer != "tiles" ) {
          map.removeLayer(layer);
        }
      });

      // remove visible states from all
      $("#map-control .toggle-layer").removeClass("visible")

      // hide clear map button because it's not needed until layers are added again
      $(".clear-map.button").hide()
    }

    // add button to clear map
    L.Control.clearMap = L.Control.extend({
      onAdd: function(map) {
        var button = L.DomUtil.create("div", "clear-map button");

        return button;
      }
    });

    L.control.clearmap = function(opts) {
      return new L.Control.clearMap(opts)
    }

    L.control.clearmap({ position: 'topleft' }).addTo(map);

    $(".clear-map.button").click(function() {
      clearMap()
    });
  </script>
  {% endif %}
{% endblock %}
