{% extends '_base.html' %}
{% load moc_extras %}

{% block title %}Map - {{ space }}{% endblock %}

{% block head %}
  <!-- leaflet -->
  <link rel="stylesheet"
        href="https://unpkg.com/leaflet@1.6.0/dist/leaflet.css"
        integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ=="
        crossorigin=""/>

  <!-- leaflet fullscreen plugin - https://github.com/Leaflet/Leaflet.fullscreen -->
  <link href="https://api.mapbox.com/mapbox.js/plugins/leaflet-fullscreen/v1.0.1/leaflet.fullscreen.css" rel="stylesheet" />

  <style>
    .leaflet-map {
      height: 800px;
      max-height: 80vh;
    }

    .layer-toggles {
      border: 2px solid rgba(0,0,0,0.2);
      background-clip: padding-box;
      border-radius: .25rem;
    }

    .layer-toggles .category:not(:first-of-type) {
      border-top: 1px solid #ccc;
    }

    .layer-toggles .category-title {
      line-height: 14px;
      background-color: #efefef;
      padding: .5rem;
      width: 250px;
      cursor: pointer;
    }

    .layer-toggles .category:first-of-type .category-title {
      border-top-left-radius: .25rem;
      border-top-right-radius: .25rem;
    }

    .layer-toggles .category:last-of-type .category-title.collapsed {
      border-bottom-left-radius: .25rem;
      border-bottom-right-radius: .25rem;
    }

    .layer-toggles .toggle-layer {
      background-color: #fff;
      cursor: pointer;
      width: 250px;
      padding: .5rem;
      line-height: 14px;
      border-top: 1px solid #ccc;
    }

    .layer-toggles .category:last-of-type .toggle-layer:last-of-type {
      border-radius: 0 0 .25rem .25rem;
    }

    .layer-toggles .toggle-layer:hover {
      background-color: #f4f4f4;
    }

    .layer-toggles .fa-ul {
      margin-left: 19px;
      margin-bottom: 0;
    }

    .category-buttons {
      display: none;
    }
  </style>
{% endblock %}

{% block content %}

  {% if space and not space.geometry %}
    <div class="alert alert-warning">
      We do not yet have the official boundaries on record for {{ space }}. Do you know where we can find them?
      Become a contributor and upload the official boundaries in shapefile format so that we can create a map
      for {{ space }}. <a href="/hub/">Read more here</a>.
      If the boundaries are already available then data processors <a href="{% url processing_url space.slug %}">can activate the boundaries here</a>.
    </div>
  {% else %}
    {% if not parents %}
      <div class="alert alert-dark ml-2">
        There are no layers available yet. Be sure to process shapefiles
        (<a href="https://multimedia.metabolismofcities.org/videos/332795/">instructions
        here</a> [spanish]) in order to add layers to the map.
      </div>
    {% endif %}
    <div id="map" class="leaflet-map"></div>
  {% endif %}

  {% for key,value in data.items %}
    <div class="mt-3 alert alert-warning">
      layer_{{ key }}: {{ value }}
    </div>
  {% endfor %}

{% endblock %}

{% block footer %}
  <!-- leaflet -->
  <script src="https://unpkg.com/leaflet@1.6.0/dist/leaflet.js"
          integrity="sha512-gZwIG9x3wUXg2hdXF6+rVkLF/0Vi9U8D2Ntg4Ga5I5BZpVkVxlJWbSQtXPSiUTtC0TjtGOmxa1AJPuV0CPthew=="
          crossorigin="">
  </script>

  <!-- download map as image -->
  <script src="https://unpkg.com/leaflet-image@0.4.0/leaflet-image.js"></script>

  <!-- leaflet fullscreen plugin - https://github.com/Leaflet/Leaflet.fullscreen -->
  <script src="https://api.mapbox.com/mapbox.js/plugins/leaflet-fullscreen/v1.0.1/Leaflet.fullscreen.min.js"></script>

  {% if space.geometry %}
  <script>
    // create leaflet map - https://leafletjs.com/reference-1.6.0.html
    var map = L.map("map", {
      center: [{{ space.get_lat }}, {{ space.get_lng }}],
      zoom: 10,
      minZoom: 2,
      maxZoom: 18,
      scrollWheelZoom: false,
      fullscreenControl: true,
      renderer: L.canvas(),
    })

    // add tile layer
    var tileLayer = L.tileLayer("https://api.mapbox.com/styles/v1/{id}/tiles/{z}/{x}/{y}?access_token={accessToken}", {
      attribution: "Map data &copy; <a href='https://www.openstreetmap.org/'>OpenStreetMap</a> contributors, <a href='https://creativecommons.org/licenses/by-sa/2.0/'>CC-BY-SA</a>, Imagery © <a href='https://www.mapbox.com/'>Mapbox</a>",
      id: "mapbox/streets-v11",
      accessToken: "pk.eyJ1IjoibWV0YWJvbGlzbW9mY2l0aWVzIiwiYSI6ImNqcHA5YXh6aTAxcmY0Mm8yMGF3MGZjdGcifQ.lVZaiSy76Om31uXLP3hw-Q",
      tileSize: 512,
      zoomOffset: -1,
      // this "layer" option must be kept, as it prevents the tiles from disappearing when removing all other layers from the map
      layer: "tiles",
    })

    tileLayer.addTo(map);

    function style(feature) {
        return {
            fillColor: '#3388FF',
            weight: 4,
            opacity: 0.9,
            color: '#3388FF',
            fillOpacity: 0.05,
        };
    }

    // enable popups so na user can click on an object on the map and see extra information
    function onEachFeature(feature, layer) {
      var popupContent = "<div class='popup-title font-weight-bold'>" + feature.properties.space_name + "</div>" + feature.properties.content;

      layer.bindPopup(popupContent);
    }

    {% if parents %}
      // create variables for each layer
      {% for each in parents %}
        {% for layer in hits|get_item:each.id %}
          var layer_{{ each.id }};
        {% endfor %}
      {% endfor %}

      // when opening a layer for the first time, download it and add it to the map
      // this function should only run once per layer
      function downloadLayer(id, url, color) {
        let layerVariable = "layer_" + id;

        $(".toggle-layer[data-id='" + id + "'] i").toggleClass("fa-circle fa-sync fa-spin")

        $.get(url, function(geojson) {
          window[layerVariable] = L.geoJSON(geojson, {
            style: {
              color: color,
              fillOpacity: .4,
              weight: 2,
            },

            // function to create the popup
            onEachFeature: onEachFeature,
          });

          $(".toggle-layer[data-id='" + id + "'] i").toggleClass("fa-circle fa-sync fa-spin fal fas")
          map.addLayer(window[layerVariable]);

          if (id == "{{ boundaries.source.id }}") {
            map.fitBounds(window[layerVariable].getBounds());
          }
        })
      };

      // add buttons to toggle visibility of layers to map
      L.Control.LayerToggles = L.Control.extend({
        onAdd: function(map) {

          var layerTogglesWrapper = L.DomUtil.create("div", "layer-toggles");

          {% for each in parents %}
            var layerCategory_{{ each.id }} = L.DomUtil.create("div", "category");
            layerCategory_{{ each.id }}.innerHTML = "<div class='category-title collapsed'><i class='fal fa-fw fa-{{ each.icon }}'></i> {{ each.get_name_after_period }} <i class='fas fa-fw fa-angle-down angle float-right'></i></div>";
            layerTogglesWrapper.appendChild(layerCategory_{{ each.id }});

            var categoryButtons_{{ each.id }} = L.DomUtil.create("div", "category-buttons");
            layerCategory_{{ each.id }}.appendChild(categoryButtons_{{ each.id }});

            {% for layer in hits|get_item:each.id %}
              var toggle_{{ layer.id }}_layer = L.DomUtil.create("div", "toggle-layer");

              toggle_{{ layer.id }}_layer.setAttribute("data-id", "{{ layer.id }}");
              toggle_{{ layer.id }}_layer.setAttribute("data-geojson", "{% url URLS.GEOJSON layer.id %}{% if layer == boundaries.source %}?space={{ boundaries.id }}{% endif %}");
              toggle_{{ layer.id }}_layer.setAttribute("data-color", "{{ getcolors|get_item:layer.id }}");

              toggle_{{ layer.id }}_layer.innerHTML = "<ul class='fa-ul'><li><span class='fa-li'><i class='fal fa-fw fa-circle' style='color: {{ getcolors|get_item:layer.id }}'></i></span>{{ layer.meta_data.shortname|default:layer }}</li></ul>";
              categoryButtons_{{ each.id }}.appendChild(toggle_{{ layer.id }}_layer);
            {% endfor %}
          {% endfor %}

          return layerTogglesWrapper;
        }
      });

      // create a new leaflet control and apply download button details
      L.control.LayerToggles = function(opts) {
        return new L.Control.LayerToggles(opts);
      }

      // add toggle layer buttons to the map
      L.control.LayerToggles({ position: "topright" }).addTo(map);
    {% endif %}

    // function to toggle visibility of layers, buttons in map control div
    $(".toggle-layer").click(function() {
      var button = $(this);

      // data-id="{{ layer.id }}" data-geojson=
      var id = button.data("id");
      var url = button.data("geojson");
      var color = button.data("color");
      var layer = "layer_" + button.data("id");

      if ( button.hasClass("visible") ) {
        map.removeLayer(window[layer])
        button.find(".fa-circle").toggleClass("fal fas");
      } else {
        if ( button.hasClass("downloaded") ) {
          map.addLayer(window[layer])
          button.find(".fa-circle").toggleClass("fal fas");
        } else {
          downloadLayer(id, url, color)
          button.addClass("downloaded")
        }
      }

      button.toggleClass("visible");


      // check if any layers are visible to determine is clear map button should be visible
      var layersVisible = $(".toggle-layer.visible").length

      if (layersVisible == 0) {
        $(".clear-map.button").hide()
      } else {
        $(".clear-map.button").show()
      }
    })

    // toggle visibility of menu
    $(".category-title").click(function() {
      $(this).next(".category-buttons").slideToggle("fast");
      $(this).toggleClass("collapsed");
      $("i.angle", this).toggleClass("fa-angle-down fa-angle-up");
    })

    // DOWNLOAD MAP AS IMAGE START
    // function to convert canvas data to png and simulate click on download button
    function downloadImage(err, canvas) {
      var downloadLink = document.createElement("a");
      downloadLink.href = canvas.toDataURL("image/png");
      downloadLink.download = "map.png";
      downloadLink.click();
    }

    // define the download button's details
    L.Control.Download = L.Control.extend({
      onAdd: function(map) {

        var downloadButtonWrapper = L.DomUtil.create("div", "download-map-wrapper");

        var downloadButton = L.DomUtil.create("div", "download-map");
        downloadButton.innerHTML = "<i class='fal fa-fw fa-save'></i>";

        downloadButtonWrapper.appendChild(downloadButton);

        return downloadButtonWrapper;
      }
    });

    // create a new leaflet control and apply download button details
    L.control.Download = function(opts) {
      return new L.Control.Download(opts);
    }

    // add download button to the map
    L.control.Download({ position: "topleft" }).addTo(map);

    // run function when clicking the button
    $(".download-map").click(function() {
      leafletImage(map, downloadImage);
    })
    // DOWNLOAD MAP END

    // function to clear the map of markers, but not tiles
    function clearMap() {
      // remove the layers
      map.eachLayer(function (layer) {
        if ( layer.options.layer != "tiles" ) {
          map.removeLayer(layer);
        }
      });

      // remove visible states from all
      $(".toggle-layer").removeClass("visible");
      $(".toggle-layer i").removeClass("fas").addClass("fal")

      // hide clear map button because it's not needed until layers are added again
      $(".clear-map.button").hide()
    }

    // add button to clear map
    L.Control.clearMap = L.Control.extend({
      onAdd: function(map) {
        var button = L.DomUtil.create("div", "clear-map button");

        return button;
      }
    });

    L.control.clearmap = function(opts) {
      return new L.Control.clearMap(opts)
    }

    L.control.clearmap({ position: 'topleft' }).addTo(map);

    $(".clear-map.button").click(function() {
      clearMap()
    });

    // toggle scrollwheel zoom when entering/exiting fullscreen
    map.on("fullscreenchange", function () {
      if (map.isFullscreen()) {
        map.scrollWheelZoom.enable()
      } else {
        map.scrollWheelZoom.disable()
      }
    });

    {% if boundaries %}
      // open default layer that should be shown from the start
      $(".toggle-layer[data-id='{{ boundaries.source.id }}']").parent().prev(".category-title").click();
      $(".toggle-layer[data-id='{{ boundaries.source.id }}']").click();
    {% endif %}
  </script>
  {% endif %}
{% endblock %}
