
      <div class="mb-3">
        <div title="Check general info" class="avatar letter" style="background:#218838">1</div>
        <div title="Classify columns" class="avatar letter">2</div>
        <div title="Verify data" class="avatar letter">3</div>
      </div>

      <div class="card mb-4">
        <ul class="list-group list-group-flush">
          <li class="list-group-item table-item">
            <div><i class="fal fa-fw fa-fingerprint mr-1"></i> ID</div>
            <div><a href="{% url URLS.LIBRARY_ITEM document.id %}">{{ document.id }}</a></div>
          </li>
          <li class="list-group-item table-item">
            <div><i class="fal fa-fw fa-user mr-1"></i> Uploaded by</div>
            <div>{{ document.uploader }}</div>
          </li>
          <li class="list-group-item table-item">
            <div><i class="fal fa-fw fa-box mr-1"></i> Type</div>
            <div>{{ layer.geom_type.name }}</div>
          </li>
          <li class="list-group-item table-item">
            <div><i class="fal fa-fw fa-layer-group mr-1"></i> Properties</div>
            <div>{{ layer.num_fields }}</div>
          </li>
          <li class="list-group-item table-item">
            <div><i class="far fa-fw fa-dot-circle mr-1"></i> Items</div>
            <div>{{ layer.num_feat }}</div>
          </li>
          {% if work.assigned_to %}
            <li class="list-group-item table-item">
              <div><i class="far fa-fw fa-user-check mr-1"></i> Assigned to</div>
              <div>{{ work.assigned_to }}</div>
            </li>
          {% endif %}
        </ul>
      </div>

      <form method="post">
        {% if not work.assigned_to %}
          <span class="btn btn-default-outline" id="showstart">
            <i class="fas fa-user-plus"></i>
            Start working on this
          </span>
          <div class="card p-3" id="startbox">
            <h2 class="h4">Thanks for working on this!</h2>
            <p><a href="javascript:alert('Tutorial will be available soon!')">Click here</a> for a tutorial if you are new to this.</p>
            <p>Is the shapefile looking good?</p>
            <button type="submit" name="start_work" value="classify/" class="btn btn-primary mb-3">
              Yes, go to step 2
            </button>
            <button type="submit" name="start_work_edit" value="files/" class="btn btn-secondary">
              No, I will upload a different file first
            </button>
          </div>
        {% elif work.assigned_to == request.user.people %}
          <button type="submit" name="stop_work" value="true" class="btn btn-warning">
            <i class="fas fa-user-times"></i>
            Stop working on this
          </button>
          <a href="edit/?next={{ request.get_full_path }}" class="btn btn-primary"><i class="fa fa-pencil"></i> Edit</a>
        {% endif %}
        {% csrf_token %}
      </form>
      <a href="../" class="btn btn-primary-basic mt-4">
        <i class="fal fa-angle-left"></i>
        Back to overview
      </a>
