
<div class="alert alert-secondary mt-4">

  {% if IS_DATA_PORTAL %}
    {% with link=PROJECT.slug|add:":plan2021" %}
      <h4 class="mt-2"><a href="{% url link %}">Priority plan</a></h4>
      <p>
        We focus most of our attention on the <a href="{% url link %}">2021 priority plan</a>. Learn
        more and get involved!
      </p>
    {% endwith %}
  {% endif %}

  {% with link=PROJECT.slug|add:":work_beginners_guide" %}
    <h4 class="mt-5"><a href="{% url link %}">Beginners guide</a></h4>
    <p>
      Are you new to our community? Our <a href="{% url link %}">beginners guide</a>
      will get you started.
    </p>
  {% endwith %}

  {% with link=PROJECT.slug|add:":work_faq" %}
    <h4 class="mt-5"><a href="{% url link %}">FAQ</a></h4>
    <p>
      Learn more about our initiative by browsing
      the <a href="{% url link %}">Frequently Asked Questions (FAQ)</a>.
    </p>
  {% endwith %}

  {% with link=PROJECT.slug|add:":work_scoreboard" %}
    <h4 class="mt-5"><a href="{% url link %}">Scoreboard</a></h4>
    <p>
      Browse our list with contributors and see how they 
      are ranked on our 
      <a href="{% url link %}">scoreboard</a>.
    </p>
  {% endwith %}

  {% if not request.user.is_authenticated %}
    <div class="mt-5">
      <a class="btn btn-primary mr-3 mb-2" href="/accounts/register/?next={{ request.get_full_path }}"><i class="fa fa-user-plus" aria-hidden="true"></i> Sign Up</a>
      <a class="btn btn-primary mr-3 mb-2" href="/accounts/login/?next={{ request.get_full_path }}"><i class="fa fa-sign-in" aria-hidden="true"></i> Log In</a>
    </div>
  {% endif %}

</div>
