{% extends "_base.html" %}
{% load moc_extras %}

{% block css %}
  <style>
    #untagged-table,
    #publications-table {
      display:none
    }

    .description p {
      display: inline;
    }
  </style>
{% endblock %}

{% block content %}

  {% include "hub/_nav.html" %}

  <section>
    <a class="btn btn-primary-basic float-right" href="{% url all_link %}"><i class="fa fa-th"></i> View all {{ SYSTEM_NAME_PLURAL }}</a>
    <h2>Progress</h2>

    <div class="progress mb-3">
      <div class="progress-bar bg-primary" role="progressbar" style="width: {{ percentage }}%;" aria-valuenow="{{ percentage }}" aria-valuemin="0" aria-valuemax="100" title="{{ uploaded }} topics out of {{ total_tags }} have at least one uploaded item.">{{ percentage|floatformat:0 }}%</div>
    </div>

    {% if items %}
      <div id="view-publications" class="btn btn-primary-basic">
        <i class="fal fa-angle-down"></i>
        View documents ({{ items.count }})
      </div>
    {% endif %}

    {% if untagged_items %}
      <div id="view-untagged" class="btn btn-primary-basic">
        <i class="fal fa-angle-down"></i>
        View untagged documents ({{ untagged_items.count }})
      </div>
    {% endif %}

    {% if items %}
      <div id="publications-table" class="mt-4">
        {% include "_library.list.html" %}
      </div>
    {% else %}
      <div class="alert alert-warning">
        <i class="fa fa-exclamation-triangle mr-2"></i> No items uploaded yet.
      </div>
    {% endif %}

    {% if untagged_items %}
      <div id="untagged-table" class="mt-4">
        <h2>Untagged items</h2>
        <p><em>These items were uploaded but not (yet) linked to a specific layer.</em></p>
        <table class="table datatable datatable-card">
          <thead>
            <tr>
              <th>Title</th>
              <th>Author(s)</th>
              <th>Year</th>
              <th>Tag(s)</th>
            </tr>
          </thead>
          <tbody>
          {% for each in untagged_items %}
            <tr>
              <td>
                <a href="{% url 'data:library_item' each.id %}">{{ each }}</a>
                <a href="{% url 'data:library_item' each.id %}?edit=true&amp;next={{ request.get_full_path }}&amp;update_tags=true"><i class="fa fa-pencil-alt"></i></a>
                <br>
                <i class="fa fa-fw fa-{{ each.type.icon }}"></i> <em>{{ each.type }}</em>
              </td>
              <td>{{ each.get_author_citation }}</td>
              <td>{{ each.year }}</td>
              <td>{% for tag in each.tags.all %}<span class="badge">{{ tag }}</span>{% endfor %}</td>
            </tr>
          {% endfor %}
          </tbody>
        </table>
      </div>
    {% endif %}
  </section>

  <section>
    <h2>Layers</h2>

    <div class="row">
      <div class="col-lg-4">
        <div class="nav flex-column nav-pills mb-3" role="tablist" aria-orientation="vertical">
          {% for each in layers %}
            <a class="nav-link {% if each.id == 846 %}active{% endif %}" data-toggle="pill" href="#tab-{{ each.id }}" role="tab" aria-controls="v-pills-{{ each.id }}" aria-selected="true">
              <i class="fal fa-{{ each.icon }} fa-fw mr-2"></i> {{ each }}
            </a>
          {% endfor %}

          <a class="nav-link" data-toggle="pill" href="#tab-photos" role="tab">
            <i class="fal fa-image fa-fw mr-2"></i> Extra: General photos
          </a>
        </div>

        {% with link=PROJECT.slug|add:":hub_harvesting_worksheet" %}
          <a class="btn btn-primary" href="{% url link %}">
            <i class="fa fa-file-alt"></i> View all instructions
          </a>
        {% endwith %}
      </div>

      <div class="col-lg-8">
        <div class="tab-content" id="v-pills-tabContent">
          {% for each in layers %}

            <div class="tab-pane {% if each.id == 846 %}show active{% endif %}" id="tab-{{ each.id }}" role="tabpanel">
              <div class="rounded border bg-light p-3 mb-3 description">
                <i class="fa fa-info-circle mr-1"></i> {{ each.get_description|safe }}
              </div>

              <h4>Data and information to obtain</h4>
              <table class="table">
                <tbody>
                  {% for tag in each.children.all %}
                  <tr>
                    <td {% if forloop.first %}class="border-0"{% endif %}>
                      {% if PROJECT.slug == "cityloops" %}
                        {% if counter|get_item:tag.id > 0 %}
                          <span class="badge badge-cityloops-secondary mr-3">{{ counter|get_item:tag.id }}</span>
                        {% else %}
                          <span class="badge badge-cityloops-primary mr-3">0</span>
                        {% endif %}
                      {% else %}
                        <i class="fa fa-fw mr-2 {% if tag.id in counter %}text-success fa-check{% endif %}"></i>
                      {% endif %}
                      <a href="{{ tag.id }}/">{{ tag }}</a>
                      {% if tag.icon %}<i class="float-right mt-1 fal fa-fw fa-{{ tag.icon }}"></i>{% endif %}
                    </td>
                  </tr>
                  {% endfor %}
                </tbody>
              </table>

              {% if each.id == 849 %}
                <p>Is a complete Material Flow Analysis dataset available? <a href="896/form/?inventory=true&amp;type=10&amp;mfa=true&amp;next={{ request.get_full_path }}">Upload it here.</a></p>
              {% endif %}
            </div>

          {% endfor %}

          <div class="tab-pane" id="tab-photos" role="tabpanel" aria-labelledby="v-pills-photo-tab">
            <h4>Photos</h4>
            {% if photos %}
              <div class="row lightbox gallery">
                {% for each in photos %}
                  {% spaceless %}
                    <div class="col-sm-6 col-md-4 col-lg-3 mb-2">
                      <a href="{{ each.image.url }}" style="background-image: url('{{ each.image.thumbnail.url }}');" data-caption="Image #{{ each.id }}, position {{ each.position }}. <a href='{% url URLS.LIBRARY_ITEM each.id %}'>Details</a>"></a>
                    </div>
                  {% endspaceless %}
                {% endfor %}
              </div>
            {% else %}
              <div class="alert alert-warning">
                <i class="fa fa-warning"></i> There are no general photos available yet.
              </div>
            {% endif %}
            <a class="btn btn-default-basic" href="0/form/?inventory=true&amp;type=38&amp;next={{ request.get_full_path }}&amp;hide_tags=true">
              <i class="fal fa-plus"></i> Add photos
            </a>
          </div>
        </div>
      </div>
    </div>
  </section>

  <div class="border rounded p-3 bg-light">
    <h4>Do an online course</h4>
    <p>
      Are you not yet familiar with data collection? We have a course for you! It's open, it's free,
      and it's fun!
    </p>

    {% if PROJECT.slug == "cityloops" %}
      <a class="btn btn-primary btn-sm mb-1" href="https://cityloops.metabolismofcities.org/courses/course-1a-data-collection-for-circularity-assessment-of-construction-sector-wp2/">Data collection for circularity assessment of construction sector (WP2)</a>
      <a class="btn btn-primary btn-sm mb-1" href="https://cityloops.metabolismofcities.org/courses/course-1b-data-collection-for-circularity-assessment-of-biomass-sector-wp3/">Data collection for circularity assessment of biomass sector (WP3)</a>
    {% else %}
      <a class="btn btn-primary btn-sm" href="https://education.metabolismofcities.org/courses/data-and-urban-metabolism-data-collection/">English course: Data collection</a>
      <a class="btn btn-primary btn-sm" href="https://education.metabolismofcities.org/courses/metabolismo-urbano-y-manejo-de-datos-recopilacion-de-datos/">Spanish course: Recopilación de datos</a>
    {% endif %}
  </div>

  <section>
    <h2 class="mt-4">Discussion and questions</h2>
    {% include "_messages.html" %}

    {% if not request.user.is_authenticated %}
      {% include "_notauthenticated.html" %}
    {% endif %}
  </section>

{% endblock %}

{% block footer %}
<script type="text/javascript">
  $("#view-untagged").click(function(){
    $("i", this).toggleClass("fa-angle-down, fa-angle-up")
    $("#untagged-table").toggle();
  });
  $("#view-publications").click(function(){
    $("i", this).toggleClass("fa-angle-down, fa-angle-up")
    $("#publications-table").toggle();
  });
</script>
{% endblock %}
