{% extends "_base.html" %}

{% block css %}
  <style>
    #untagged-table,
    #publications-table {
      display:none
    }
  </style>
{% endblock %}

{% block content %}

  {% include "hub/_nav.html" %}

  <section>
    <a class="btn btn-primary-basic float-right" href="{% url all_link %}"><i class="fa fa-th"></i> View all {{ SYSTEM_NAME_PLURAL }}</a>
    <h2>Progress</h2>

    <div class="progress mb-3">
      <div class="progress-bar progress-bar-striped bg-success" role="progressbar" style="width: {{ percentage }}%;" aria-valuenow="{{ percentage }}" aria-valuemin="0" aria-valuemax="100" title="{{ uploaded }} topics out of {{ total_tags }} have at least one uploaded item.">{{ percentage|floatformat:0 }}%</div>
    </div>

    {% if items %}
      <div id="view-publications" class="btn btn-primary-basic">
        <i class="fal fa-angle-down"></i>
        View documents ({{ items.count }})
      </div>
    {% endif %}

    {% if untagged_items %}
      <div id="view-untagged" class="btn btn-primary-basic">
        <i class="fal fa-angle-down"></i>
        View untagged documents ({{ untagged_items.count }})
      </div>
    {% endif %}

    {% if items %}
      <div id="publications-table" class="mt-4">
        {% include "_library.list.html" %}
      </div>
    {% else %}
      <div class="alert alert-warning">
        <i class="fa fa-exclamation-triangle"></i> No items uploaded yet.
      </div>
    {% endif %}

    {% if untagged_items %}
      <div id="untagged-table" class="mt-4">
        <h2>Untagged items</h2>
        <p><em>These items were uploaded but not (yet) linked to a specific layer.</em></p>
        <table class="table table-striped datatable">
          <thead>
            <tr>
              <th>Title</th>
              <th>Author(s)</th>
              <th>Year</th>
              <th>Tag(s)</th>
            </tr>
          </thead>
          <tbody>
          {% for each in untagged_items %}
            <tr>
              <td>
                <a href="{% url "data:library_item" each.id %}">{{ each }}</a>
                <a href="{% url "data:library_item" each.id %}?edit=true&amp;next={{ request.get_full_path }}&amp;update_tags=true"><i class="fa fa-pencil-alt"></i></a>
                <br>
                <i class="fa fa-fw fa-{{ each.type.icon }}"></i> <em>{{ each.type }}</em>
              </td>
              <td>{{ each.get_author_citation }}</td>
              <td>{{ each.year }}</td>
              <td>{% for tag in each.tags.all %}<span class="badge">{{ tag }}</span>{% endfor %}</td>
            </tr>
          {% endfor %}
          </tbody>
        </table>
      </div>
    {% endif %}
  </section>

  <section>
    <h2>Layers</h2>
    <div class="row">
      <div class="col-4">
        <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
          {% for each in layers %}
            <a class="nav-link {% if each.id == 846 %}active{% endif %}" id="v-pills-{{ each.id }}-tab" data-toggle="pill" href="#v-pills-{{ each.id }}" role="tab" aria-controls="v-pills-{{ each.id }}" aria-selected="true">
              <i class="fa fa-{{ each.icon }} fa-fw"></i> {{ each }}
            </a>
          {% endfor %}

          <hr>

          <a class="nav-link" id="v-pills-photo-tab" data-toggle="pill" href="#v-pills-photo" role="tab" aria-controls="v-pills-photo" aria-selected="true">
            <i class="fa fa-image fa-fw"></i> Extra: General photos
          </a>
        </div>
      </div>
      <div class="col-8">
        <div class="tab-content" id="v-pills-tabContent">
          {% for each in layers %}

            <div class="tab-pane fade {% if each.id == 846 %}show active{% endif %}" id="v-pills-{{ each.id }}" role="tabpanel" aria-labelledby="v-pills-{{ each.id }}-tab">
              <strong><em>{{ each.get_description }}</em></strong>

              <p class="h4">Data and information to obtain:</p>
              <ul class="list-group mb-4">
                {% for tag in each.children.all %}
                  <li class="list-group-item {% if tag.id in counter %}list-group-item-success{% endif %}"><a href="{{ tag.id }}/">{{ tag }}</a></li>
                {% endfor %}
              </ul>

              {% if each.id == 849 %}
                <p>Is a complete Material Flow Analysis dataset available? <a href="896/form/?inventory=true&amp;type=10&amp;mfa=true&amp;next={{ request.get_full_path }}">Upload it here.</a></p>
              {% endif %}

              <a href="{% url 'data:hub_harvesting_worksheet' %}">View entire worksheet &raquo;</a>
            </div>

          {% endfor %}

          <div class="tab-pane fade" id="v-pills-photo" role="tabpanel" aria-labelledby="v-pills-photo-tab">
            <h4>Photos</h4>
            {% if photos %}
              <div class="row lightbox gallery">
                {% for each in photos %}
                  {% spaceless %}
                    <div class="col-sm-6 col-md-4 col-lg-3 mb-2">
                      <a href="{{ each.image.url }}" style="background-image: url('{{ each.image.thumbnail.url }}');" data-caption="{{ each.id }}"></a>
                    </div>
                  {% endspaceless %}
                {% endfor %}
              </div>
            {% else %}
              <div class="alert alert-warning">
                <i class="fa fa-warning"></i> There are no general photos available yet.
              </div>
            {% endif %}
            <a class="btn btn-default-outline" href="0/form/?inventory=true&amp;type=38&amp;next={{ request.get_full_path }}&amp;hide_tags=true"><i class="fal fa-plus"></i> Add</a>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section>
    <h2 class="mt-4">Discussion and questions</h2>
    {% include "_messages.html" %}

    {% if not request.user.is_authenticated %}
      {% include "_notauthenticated.html" %}
    {% endif %}
  </section>

{% endblock %}

{% block footer %}
<script type="text/javascript">
  $("#view-untagged").click(function(){
    $("i", this).toggleClass("fa-angle-down, fa-angle-up")
    $("#untagged-table").toggle();
  });
  $("#view-publications").click(function(){
    $("i", this).toggleClass("fa-angle-down, fa-angle-up")
    $("#publications-table").toggle();
  });
</script>
{% endblock %}
