{% extends "_base.html" %}
{% load moc_extras %}

{% block css %}
  <style>
    #untagged-table,
    #publications-table {
      display:none
    }

    .description p {
      display: inline;
    }
  </style>
{% endblock %}

{% block content %}

  {% include "hub/_nav.html" %}

  {% if PROJECT.slug != "water" %}

    <section>
      <h4>Progress</h4>

      <div class="progress mb-3">
        <div class="progress-bar bg-primary" role="progressbar" style="width: {{ percentage }}%;" aria-valuenow="{{ percentage }}" aria-valuemin="0" aria-valuemax="100" title="{{ uploaded }} topics out of {{ total_tags }} have at least one uploaded item.">{{ percentage|floatformat:0 }}%</div>
      </div>

      {% if items %}
        <div id="view-publications" class="btn btn-primary-basic">
          <i class="fal fa-angle-down"></i>
          View documents ({{ items.count }})
        </div>
      {% endif %}

      {% if untagged_items %}
        <div id="view-untagged" class="btn btn-primary-basic">
          <i class="fal fa-angle-down"></i>
          View untagged documents ({{ untagged_items.count }})
        </div>
      {% endif %}

      <a class="btn btn-primary-basic float-right" href="{% url all_link %}"><i class="fal fa-th"></i> View all {{ SYSTEM_NAME_PLURAL }}</a>

      {% if items %}
        <div id="publications-table" class="mt-4">
          {% include "_library.list.html" %}
        </div>
      {% else %}
        <div class="my-4">
          <div class="alert alert-light d-inline-block">
            <i class="fa fa-exclamation-triangle mr-2"></i> No tagged items uploaded yet
          </div>
        </div>
      {% endif %}

      {% if untagged_items %}
        <div id="untagged-table" class="mt-4">
          <h2>Untagged items</h2>
          <p>These items were uploaded but not (yet) linked to a specific layer</p>
          <table class="table datatable datatable-card">
            <thead>
              <tr>
                <th>Title</th>
                <th>Author(s)</th>
                <th>Year</th>
                <th>Tag(s)</th>
              </tr>
            </thead>
            <tbody>
            {% for each in untagged_items %}
              <tr>
                <td>
                  <a href="{% url 'data:library_item' each.id %}">{{ each }}</a>
                  <br>
                  <i class="fal fa-fw fa-{{ each.type.icon }}"></i> {{ each.type }}
                  |
                  <a href="{% url 'data:library_item' each.id %}?edit=true&amp;next={{ request.get_full_path }}&amp;update_tags=true">Edit</a>
                </td>
                <td>{{ each.get_author_citation }}</td>
                <td>{{ each.year }}</td>
                <td>{% for tag in each.tags.all %}<span class="badge badge-light mr-1">{{ tag }}</span>{% endfor %}</td>
              </tr>
            {% endfor %}
            </tbody>
          </table>
        </div>
      {% endif %}
    </section>
  {% endif %}

  <section>
    <div class="alert alert-warning">
      <i class="fa fa-fw fa-info-circle"></i>
      Instructions: make sure you watch the video tutorial on how to upload any data type
      <br>
      <a href="https://multimedia.metabolismofcities.org/videos/collection/754/" class="btn btn-primary mt-3">
        <i class="fa fa-video"></i> Instruction video on how to upload data</span>
      </a>
    </div>
  </section>

  <section>
    <h4>Layers</h4>

    <div class="row">
      <div class="col-lg-4">
        <div class="sticky-top">
          <div class="nav flex-column nav-pills mb-3" role="tablist" aria-orientation="vertical">
            {% for each in layers %}
              <a class="nav-link {% if each.id == 846 %}active{% endif %}" data-toggle="pill" href="#tab-{{ each.id }}" role="tab" aria-controls="v-pills-{{ each.id }}" aria-selected="true">
                <i class="fal fa-{{ each.icon }} fa-fw mr-2"></i> {{ each }}
              </a>
            {% endfor %}

            <a class="nav-link" data-toggle="pill" href="#tab-photos" role="tab">
              <i class="fal fa-image fa-fw mr-2"></i> Extra: General photos
            </a>
          </div>

          {% with link=PROJECT.slug|add:":hub_harvesting_worksheet" %}
            <a class="btn btn-primary" href="{% url link %}">
              <i class="fa fa-file-alt"></i> View all instructions
            </a>
          {% endwith %}
        </div>
      </div>

      <div class="col-lg-8">
        <div class="tab-content" id="v-pills-tabContent">
          {% for each in layers %}

            <div class="tab-pane {% if each.id == 846 %}show active{% endif %}" id="tab-{{ each.id }}" role="tabpanel">

              {% if each.get_description %}
                <div class="rounded border bg-light p-3 mb-3 description">
                  <i class="fa fa-info-circle mr-2"></i> {{ each.get_description|safe }}
                  {% if PROJECT.slug == "cityloops" %}
                  <div class="mt-3">
                    <i class="fal fa-asterisk mr-2"></i> Mandatory sublayers
                  </div>
                  {% endif %}
                </div>
              {% endif %}

              <h4>Data and information to obtain</h4>
              <table class="table">
                <tbody>
                  {% for tag in each.children.all %}
                  <tr>
                    <td {% if forloop.first %}class="border-0"{% endif %}>
                      <i class="fal mr-2 fa-fw {% if tag.icon %}fa-{{ tag.icon }}{% endif %}"></i>
                      <a href="{{ tag.id }}/">{{ tag }}</a>
                      {% if PROJECT.slug == "cityloops" %}
                        <i class="float-right mt-1 fal fa-fw ml-3 {% if tag.id not in optional_list %}fa-asterisk{% endif %} mr-2"></i>
                      {% else %}
                        <i class="float-right mt-1 fa fa-fw ml-3 {% if tag.id in counter %}text-success fa-check{% endif %}"></i>
                      {% endif %}
                      {% if counter|get_item:tag.id > 0 %}
                        <span class="badge {% if PROJECT.slug == 'cityloops' %}badge-cityloops-secondary{% else %}badge-primary{% endif %} float-right mt-1">
                          {{ counter|get_item:tag.id }}
                        </span>
                      {% else %}
                        <span class="badge {% if PROJECT.slug == 'cityloops' %}badge-cityloops-primary{% else %}badge-secondary{% endif %} float-right mt-1">
                          0
                        </span>
                      {% endif %}
                    </td>
                  </tr>
                  {% endfor %}
                </tbody>
              </table>

              {% if each.id == 849 %}
                <p>Is a complete Material Flow Analysis dataset available? <a href="896/form/?inventory=true&amp;type=10&amp;mfa=true&amp;next={{ request.get_full_path }}">Upload it here.</a></p>
              {% endif %}
            </div>

          {% endfor %}

          <div class="tab-pane" id="tab-photos" role="tabpanel" aria-labelledby="v-pills-photo-tab">
            <h4>Photos</h4>
            {% if photos %}
              <div class="row lightbox gallery">
                {% for each in photos %}
                  {% spaceless %}
                    <div class="col-sm-6 col-md-4 col-lg-3 mb-2">
                      <a href="{{ each.image.url }}" style="background-image: url('{{ each.image.thumbnail.url }}');" data-caption="Image #{{ each.id }}, position {{ each.position }}. <a href='{% url URLS.LIBRARY_ITEM each.id %}'>Details</a>"></a>
                    </div>
                  {% endspaceless %}
                {% endfor %}
              </div>
            {% else %}
              <div class="alert alert-warning">
                <i class="fa fa-warning"></i> There are no general photos available yet.
              </div>
            {% endif %}
            <div class="alert alert-warning">
              <i class="fa fa-fw fa-info-circle"></i>
              Instructions: make sure you watch the video tutorial on how to upload the image
              <br>
              <a href="https://multimedia.metabolismofcities.org/videos/36548/" class="btn btn-primary mt-3">
                <i class="fa fa-video"></i> Instruction video on how to upload an image</span>
              </a>
            </div>
            <a class="btn btn-default-basic" href="0/form/?inventory=true&amp;type=38&amp;next={{ request.get_full_path }}&amp;hide_tags=true">
              <i class="fal fa-plus"></i> Add photos
            </a>
          </div>
        </div>
      </div>
    </div>
  </section>

  {% if PROJECT.slug != "water" %}
    <div class="border rounded p-3 bg-light">
      <h4>Do an online course</h4>
      <p>
        Are you not yet familiar with data collection? We have a course for you! It's open, it's free,
        and it's fun!
      </p>

      {% if PROJECT.slug == "cityloops" %}
        <a class="btn btn-primary btn-sm mb-1" href="https://cityloops.metabolismofcities.org/courses/course-1a-data-collection-for-circularity-assessment-of-construction-sector-wp2/">Data collection for circularity assessment of construction sector (WP2)</a>
        <a class="btn btn-primary btn-sm mb-1" href="https://cityloops.metabolismofcities.org/courses/course-1b-data-collection-for-circularity-assessment-of-biomass-sector-wp3/">Data collection for circularity assessment of biomass sector (WP3)</a>
      {% else %}
        <a class="btn btn-primary btn-sm" href="https://education.metabolismofcities.org/courses/data-and-urban-metabolism-data-collection/">English course: Data collection</a>
        <a class="btn btn-primary btn-sm" href="https://education.metabolismofcities.org/courses/metabolismo-urbano-y-manejo-de-datos-recopilacion-de-datos/">Spanish course: Recopilación de datos</a>
      {% endif %}
    </div>

    <section>
      <h2 class="mt-4">Discussion and questions</h2>
      {% include "_messages.html" %}

      {% if not request.user.is_authenticated %}
        {% include "_notauthenticated.html" %}
      {% endif %}
    </section>

  {% endif %}

{% endblock %}

{% block footer %}
<script type="text/javascript">
  $("#view-untagged").click(function(){
    $("i", this).toggleClass("fa-angle-down, fa-angle-up")
    $("#untagged-table").toggle();
  });
  $("#view-publications").click(function(){
    $("i", this).toggleClass("fa-angle-down, fa-angle-up")
    $("#publications-table").toggle();
  });
</script>
{% endblock %}
