{% extends "_base.html" %}
{% load humanize %}
{% block title %}Volunteer Portal{% endblock %}
{% block page_name %}volunteer portal home{% endblock %}

{% block content %}
  <h1>Volunteer Portal</h1>

  {% include "hub/_nav.html" %}

  {% if not request.user.is_authenticated %}
    <div class="join-cta card mb-4">
      <div class="card-body text-center">
        <h2>Metabolism of Cities is made possible by volunteers</h2>
        <div class="my-4">
          <img class="avatar" src="https://backoffice.metabolismofcities.org/media/contacts/paul.thumbnail.jpg">
          <img class="avatar" src="https://backoffice.metabolismofcities.org/media/contacts/paul.thumbnail.jpg">
          <img class="avatar" src="https://backoffice.metabolismofcities.org/media/contacts/paul.thumbnail.jpg">
          <img class="avatar" src="https://backoffice.metabolismofcities.org/media/contacts/paul.thumbnail.jpg">
          <img class="avatar" src="https://backoffice.metabolismofcities.org/media/contacts/paul.thumbnail.jpg">
          <img class="avatar" src="https://backoffice.metabolismofcities.org/media/contacts/paul.thumbnail.jpg">
          <img class="avatar" src="https://backoffice.metabolismofcities.org/media/contacts/paul.thumbnail.jpg">
          <img class="avatar" src="https://backoffice.metabolismofcities.org/media/contacts/paul.thumbnail.jpg">
          <img class="avatar" src="https://backoffice.metabolismofcities.org/media/contacts/paul.thumbnail.jpg">
          <img class="avatar" src="https://backoffice.metabolismofcities.org/media/contacts/paul.thumbnail.jpg">
        </div>

        <div>
          <a class="btn btn-lg btn-primary my-4" href="">
            <i class="fas fa-fist-raised"></i>
            Join us!
          </a>
        </div>

        <a class="btn btn-primary-basic" href="">
          <i class="fal fa-video"></i>
          Introduction video
        </a>
        <a class="btn btn-primary-basic" href="">
          <i class="fal fa-tasks"></i>
          Entry tasks
        </a>
      </div>
    </div>
  {% endif %}

  <div class="row">
    <div class="col-lg-4">
      <h3>Latest tasks</h3>
      <div class="tasks">
        <a class="card btn-card mb-3" href="#">
          <div class="card-body">
            <h5 class="card-title">{% lorem 3 w random %}</h5>
            <p>{% lorem 20 w random %}</p>
            <h6 class="card-subtitle mb-2 text-muted">Opened by {% lorem 1 w random %} yesterday</h6>
          </div>
        </a>

        <a class="card btn-card mb-3" href="#">
          <div class="card-body">
            <h5 class="card-title">{% lorem 3 w random %}</h5>
            <p>{% lorem 20 w random %}</p>
            <h6 class="card-subtitle mb-2 text-muted">Opened by {% lorem 1 w random %} two days ago</h6>
          </div>
        </a>

        <a class="card btn-card mb-3" href="#">
          <div class="card-body">
            <h5 class="card-title">{% lorem 3 w random %}</h5>
            <p>{% lorem 20 w random %}</p>
            <h6 class="card-subtitle mb-2 text-muted">Opened by {% lorem 1 w random %} two days ago</h6>
          </div>
        </a>

        <a class="btn btn-lg btn-primary" href="">
          <i class="fas fa-tasks"></i>
          All tasks
        </a>
      </div>
    </div>
    <div class="col-lg-4">
      <h3>Latest forum posts</h3>
      <div class="forum-posts">
        <a class="card btn-card mb-3" href="#">
          <div class="card-body">
            <h5 class="card-title">{% lorem 3 w random %}</h5>
            <p>{% lorem 20 w random %}</p>
            <h6 class="card-subtitle mb-2 text-muted">Posted by {% lorem 1 w random %} yesterday</h6>
          </div>
        </a>

        <a class="card btn-card mb-3" href="#">
          <div class="card-body">
            <h5 class="card-title">{% lorem 3 w random %}</h5>
            <p>{% lorem 20 w random %}</p>
            <h6 class="card-subtitle mb-2 text-muted">Posted by {% lorem 1 w random %} two days ago</h6>
          </div>
        </a>

        <a class="card btn-card mb-3" href="#">
          <div class="card-body">
            <h5 class="card-title">{% lorem 3 w random %}</h5>
            <p>{% lorem 20 w random %}</p>
            <h6 class="card-subtitle mb-2 text-muted">Opened by {% lorem 1 w random %} two days ago</h6>
          </div>
        </a>
      </div>

      <a class="btn btn-lg btn-primary" href="">
        <i class="fas fa-comments-alt"></i>
        Forum
      </a>
    </div>
    <div class="col-lg-4">
      <h3>Latest activity</h3>
      {% include "_work-updates.html" %}

      <a class="btn btn-lg btn-primary" href="">
        <i class="fas fa-heart-rate"></i>
        All activity
      </a>
    </div>
  </div>
{% endblock %}
