{% extends "_base.html" %}
{% load humanize %}

{% block title %}Volunteer Portal{% endblock %}
{% block page_name %}volunteer portal home{% endblock %}

{% block content %}

  {% include "hub/_nav.html" %}

    <div class="join-cta card mb-4">
      <div class="card-body text-center">
        <h2>Metabolism of Cities is made possible by volunteers</h2>

        {% if False %}
          <div class="my-4">
            <img class="avatar" src="https://backoffice.metabolismofcities.org/media/contacts/paul.thumbnail.jpg">
            <img class="avatar" src="https://backoffice.metabolismofcities.org/media/contacts/paul.thumbnail.jpg">
            <img class="avatar" src="https://backoffice.metabolismofcities.org/media/contacts/paul.thumbnail.jpg">
            <img class="avatar" src="https://backoffice.metabolismofcities.org/media/contacts/paul.thumbnail.jpg">
            <img class="avatar" src="https://backoffice.metabolismofcities.org/media/contacts/paul.thumbnail.jpg">
            <img class="avatar" src="https://backoffice.metabolismofcities.org/media/contacts/paul.thumbnail.jpg">
            <img class="avatar" src="https://backoffice.metabolismofcities.org/media/contacts/paul.thumbnail.jpg">
            <img class="avatar" src="https://backoffice.metabolismofcities.org/media/contacts/paul.thumbnail.jpg">
            <img class="avatar" src="https://backoffice.metabolismofcities.org/media/contacts/paul.thumbnail.jpg">
            <img class="avatar" src="https://backoffice.metabolismofcities.org/media/contacts/paul.thumbnail.jpg">
          </div>
        {% endif %}

        {% if not request.user.is_authenticated %}
          <div>
            <a class="btn btn-lg btn-primary my-4" href="/hub/join/?next={{ request.get_full_path }}">
              <i class="fas fa-fist-raised"></i>
              Join us!
            </a>
          </div>
        {% else %}
        <h4 class="mb-4"><em>Thanks for being part of our community</em></h4>
        {% endif %}


        <a class="btn btn-primary-basic" href="help/">
          <i class="fal fa-video"></i>
          Introduction video
        </a>
        <a class="btn btn-primary-basic" href="work/?entry=true&amp;status=open_unassigned">
          <i class="fal fa-tasks"></i>
          Entry tasks
        </a>
      </div>
    </div>

  <div class="row">
    <div class="col-lg-6">
      <h3>Latest forum posts</h3>
      <div class="forum-posts">

        {% for each in forum %}
        <a class="card btn-card mb-3" href="forum/{{ each.parent.id }}/">
          <div class="card-body">
            <h5 class="card-title">{{ each }}</h5>
            {{ each.get_markdown_description|safe|truncatewords_html:30 }}
            <h6 class="card-subtitle mb-2 text-muted">Posted by {{ each.posted_by }} {{ each.date_created|naturaltime }}</h6>
          </div>
        </a>
        {% endfor %}

      </div>

      <a class="btn btn-lg btn-primary" href="forum/">
        <i class="fas fa-comments-alt"></i>
        Forum
      </a>
    </div>
    <div class="col-lg-6">
      <h3>Latest activity</h3>
      {% include "_work-updates.html" %}

      <a class="btn btn-lg btn-primary" href="latest/">
        <i class="fas fa-heart-rate"></i>
        All activity
      </a>
    </div>
  </div>
{% endblock %}
