{% extends "_base.html" %}
{% load humanize %}
{% block title %}Volunteer Portal | Latest activity{% endblock %}
{% block page_name %}volunteer portal latest{% endblock %}

{% block content %}

  {% include "hub/_nav.html" %}

  <div class="btn-group mb-4" role="group" aria-label="History">
    <a href="#" class="btn btn-secondary disabled"><i class="fal fa-history mr-0"></i></a>
    <a href="?days=1" class="btn btn-primary{% if days != 1 %}-outline{% endif %}">Last 24 hours</a>
    <a href="?days=7" class="btn btn-primary{% if days != 7 %}-outline{% endif %}">Last 7 days</a>
    <a href="?days=14" class="btn btn-primary{% if days != 14 %}-outline{% endif %}">14 days</a>
    <a href="?days=30" class="btn btn-primary{% if days != 30 %}-outline{% endif %}">30 days</a>
  </div>

  <table class="table datatable-card datatable">
    <thead>
      <tr>
        <th class="user">User</th>
        <th class="item">Date and item</th>
        <th class="blurb">Details</th>
      </tr>
    </thead>
    <tbody>
    {% for each in updates %}
      <tr>
        <td data-sort="-{{ each.date_created|date:"U" }}">
          {{ each.posted_by.avatar }}
          {{ each.posted_by }}
        </td>
        <td>
          {{ each.date_created|naturaltime }}<br>
          <a href="../{% if each.parent.work %}work{% else %}forum{% endif %}/{{ each.parent.id }}/">{{ each.parent }}</a>
          {% if each.parent.work and each.parent.work.related_to %}
            <br>
            <em>{{ each.parent.work.related_to }}</em>
          {% endif %}
        </td>
        <td>
          {{ each.get_markdown_description|safe|truncatewords_html:30 }}
        </td>
      </tr>
    {% endfor %}
    </tbody>
  </table>

{% endblock %}
