{% extends "_base.html" %}
{% load moc_extras %}
{% load humanize %}
{% block page_name %}staf review session{% endblock %}

{% block css %}
  <style>
    {% if error %}
      .top-message-box {
        display:none
      }
    {% endif %}

    {% if not work.assigned_to %}
      #startbox {
        display:none
      }
    {% endif %}

    table {
      width: 100%;
    }
    #wrongoptions {
      display: none;
    }
  </style>
{% endblock %}

{% block content %}

  {% include "hub/_nav.html" %}

  <section class="row pb-0">
    <div class="col-lg-8 mb-2 mb-lg-0">

      {% if error %}
        <h1 class="h3">{{ document }}</h1>
        <div class="alert alert-dark text-center p-5 mb-0">
          <h2>
          <i class="fa fa-exclamation-triangle"></i><br>
          {% if document.is_deleted %}
            This document was deleted.
          {% else %}
            Unable to read file
          {% endif %}
          </h2>
          <div class="mt-4">
            {% for each in messages %}
              {{ each|safe }}
            {% endfor %}
            {% if not document.is_deleted %}
              <p class="mt-4"><a href="{% url URLS.LIBRARY_ITEM document.id %}" class="btn btn-dark">Review the uploaded information</a></p>
            {% endif %}
          </div>
        </div>
      {% else %}

        {% if geospreadsheet %}
          <div class="card card-table mb-4">
            <table class="table">
              <thead>
                <tr>
                  <th>Feature</th>
                  <th>Property</th>
                </tr>
              </thead>
              <tbody>
                {% if request.user.is_superuser and DEBUG and False %}
                  <tr>
                    <td>UUID</td>
                    <td>{{ document.meta_data.uuid }}</td>
                  </tr>
                {% endif %}
                <tr>
                  <td>Document name</td>
                  <td><a href="{% url URLS.LIBRARY_ITEM document.id %}">{{ document }}</a></td>
                </tr>
                <tr>
                  <td>File name</td>
                  <td><a href="{{ spreadsheet.file.file.url }}">{{ spreadsheet.file }}</a></td>
                </tr>
                <tr>
                  <td>Extension</td>
                  <td>.{{ spreadsheet.extension }}</td>
                </tr>
                <tr>
                  <td>Document type</td>
                  <td>{{ spreadsheet.type }}</td>
                </tr>
              </tbody>
            </table>
          </div>

          {% if spreadsheet.table %}
            <section id="contentsection">
              <h3>Spreadsheet content</h3>
              {{ spreadsheet.table }}
            </section>
          {% endif %}

        {% else %}

          {% if document.get_shapefile_plot %}
            <div class="rounded border bg-white text-center mb-4">
              <img class="img-fluid rounded" src="{{ document.get_shapefile_plot }}" alt="" />
            </div>
          {% else %}
            <p><em>There is no preview plot available.</em></p>
            {% if document.meta_data.shapefile_plot_error %}
              <div class="alert alert-danger"><strong>Error:</strong><br>{{ document.meta_data.shapefile_plot_error }}</div>
            {% endif %}
          {% endif %}

          <div class="card card-table mb-4">

            {% if layer.num_feat > 1000 %}
              <div class="alert alert-warning">
                <i class="fa fa-exclamation-triangle"></i>
                <strong>Important</strong><br>
                This file contains {{ layer.num_feat }} different elements. That is a lot. Sometimes, this makes sense
                (for instance, if we want to index all zipcodes in a country). However, it may also mean that this file 
                is much too detailed. Before processing this, please consider whether we really benefit from having 
                this in our system.
                <strong>Because of the file size, administrator approval is needed to process this file. Use the 
                chat box below to make the case and get approval to process this file.</strong>
              </div>
            {% endif %}

            <table class="table">
              <thead>
                <tr>
                  <th>Feature</th>
                  <th>Property</th>
                </tr>
              </thead>
              <tbody>
                {% if request.user.is_superuser and DEBUG and False %}
                  <tr>
                    <td>UUID</td>
                    <td>{{ document.meta_data.uuid }}</td>
                  </tr>
                {% endif %}
                <tr>
                  <td>Document name</td>
                  <td><a href="{% url URLS.LIBRARY_ITEM document.id %}">{{ document }}</a></td>
                </tr>
                <tr>
                  <td>File size</td>
                  <td>{{ size }}</td>
                </tr>
                <tr>
                  <td>Layer name</td>
                  <td>{{ layer.name }}</td>
                </tr>
                <tr>
                  <td>Coordinate reference system</td>
                  <td>{{ layer.srs.DATUM }}</td>
                </tr>
                <tr>
                  <td>PROJCS</td>
                  <td>{{ layer.srs.PROJCS }}</td>
                </tr>
                <tr>
                  <td>AUTHORITY</td>
                  <td>{{ layer.srs.AUTHORITY }}</td>
                </tr>
                <tr>
                  <td>SPHEROID</td>
                  <td>{{ layer.srs.SPHEROID }}</td>
                </tr>
                <tr>
                  <td>UNIT</td>
                  <td>{{ layer.srs.UNIT }}</td>
                </tr>
                {% if active_geocodes %}
                  <tr>
                    <td>Geocode(s)</td>
                    <td>
                      {% for geocode in active_geocodes %}
                      {{ geocode.scheme }} <i class="fal fa-angle-right mx-2"></i> {{ geocode }}
                      {% endfor %}
                    </td>
                  </tr>
                {% endif %}
              </tbody>
            </table>
          </div>

        {% endif %}

      {% endif %}

      {% if document.comments and not document.is_deleted %}
        <div class="card mb-2 mt-3">
          <div class="card-header">
            Uploader comments
          </div>
          <div class="card-body">
            {{ document.comments|linebreaks }}
          </div>
        </div>
      {% endif %}

      {% if not error and not geospreadsheet %}

        {{ my_html|safe }}

        <div id="viewraw" class="btn btn-primary-basic">
          <i class="fal fa-angle-down"></i>
          View raw data
        </div>

        <pre class="alert alert-light mt-2 mb-0" id="raw">
          {{ layer.srs }}
        </pre>

      {% endif %}
    </div>

    {% if not document.is_deleted %}
      <div class="col-lg-4">
        {% include "hub/_processing.gis.menu.html" %}
      </div>
    {% endif %}
  </section>

  {% if not error and not geospreadsheet %}
    <section id="contentsection">
      <h3>Shapefile content</h3>
      {% if layer.num_feat > 100 %}
        <div class="alert alert-primary">
          <i class="fal fa-info-circle mr-1"></i>
          Only the first 100 items are shown. In total, there are <strong>{{ layer.num_feat|floatformat:0 }}</strong> items in your shapefile
        </div>
      {% endif %}
      <table class="table datatable datatable-card">
        <thead>
          <tr>
            {% for field in layer.fields %}
              <th>{{ field }}</th>
            {% endfor %}
          </tr>
        </thead>
        <tbody>
          {% for each in layer %}
            {% if forloop.counter <= 100 %}
              <tr>
                {% for field in layer.fields %}
                  <td>{{ each|get_item:field }}</td>
                {% endfor %}
              </tr>
            {% endif %}
          {% endfor %}
        </tbody>
      </table>
    </section>

  {% endif %}

  <section>
    <h2>History and comments</h2>
    {% include "_messages.html" %}
  </section>

{% endblock %}

{% block footer %}
  <script>
    // toggle visibility of raw data
    $("#viewraw").click(function(){
      $("i", this).toggleClass("fa-angle-down, fa-angle-up")
      $("#raw").toggle();
    });

    $("#showstart").click(function(){
      $(this).hide();
      $("#startbox").show();
    });

    $("#somethingwrong").click(function(e){
      e.preventDefault();
      $(this).hide()
      $("#wrongoptions").show();
    });

    // fix horizontal scrolling datatable
    $(".datatable.datatable-card").parent().addClass("overflow-auto");
    $(".spreadsheet-table").parent().addClass("overflow-auto");

    // two buttons, one to cancel, the other to confirm the action
    // note the dangerMode setting; set this to true to make the confirmation button red rather than the default colour
    // https://sweetalert.js.org/docs/#buttons
    $(".sweetalert.delete-record").click(function(e){
      e.preventDefault();
      var form = this;
      swal({
        title: "Delete file",
        text: "Are you sure you want to delete '{{ document }}'?",
        icon: "warning",
        closeOnClickOutside: true,
        closeOnEsc: true,
        dangerMode: true,
        buttons: {
          cancel: true,
          confirm: {
            text: "Delete",
            value: true,
            visible: true,
            closeModal: true
          }
        }
      }).then(function(isConfirm) {
      if (isConfirm) {
        swal({
          title: "Record deleted!",
          text: "We have deleted '{{ document }}'",
          icon: "success"
        }).then(function() {
          //form.submit(); // <--- submit form programmatically
          window.location = "{{ request.get_full_path }}?delete_document=true";
        });
      } else {
        swal("Cancelled", "We have kept the document, no changes made", "error");
      }
    })
      ;
    });

    $(".sweetalert.change-record").click(function(e){
      e.preventDefault();
      swal({
        title: "Select type of record",
        text: "What kind of document is this?",
        icon: "info",
        closeOnClickOutside: true,
        closeOnEsc: true,
        buttons: {
          map: {
            text: "Map (image)",
            value: "20",
          },
          dataset: {
            text: "Dataset",
            value: "10",
          },
          report: {
            text: "Report",
            value: "27",
          }
        },
      })
      .then((value) => {
        window.location = "{{ request.get_full_path }}?new_type="+value;
      });
    });

  </script>
{% endblock %}
