{% extends "_base.html" %}
{% load moc_extras %}
{% load humanize %}
{% block page_name %}staf review session{% endblock %}

{% block css %}
<style type="text/css">
col:hover{cursor:pointer;background:green}
</style>
{% endblock %}

{% block content %}

  {% include "hub/_nav.html" %}

  <section class="row pb-0">
    <div class="col-lg-8 mb-2 mb-lg-0" style="overflow:scroll">

      <section id="contentsection">
        <h3>Select the name column</h3>
        <div class="alert alert-warning">
          <i class="fa fa-info-circle"></i>
          Please select the column that contains the name for the different elements in 
          the shapefile. Once the column is selected, click NEXT.
        </div>
        {% if layer.num_feat > 20 %}
          <div class="alert alert-primary">
            <i class="fal fa-info-circle mr-1"></i>
            Only the first 20 items are shown. In total, there are <strong>{{ layer.num_feat|floatformat:0 }}</strong> items in your shapefile
          </div>
        {% endif %}
        <table class="table content-table">
          {% for field in layer.fields %}
            <col data-field="{{ field }}"></col>
          {% endfor %}
          <thead>
            <tr>
              {% for field in layer.fields %}
                <th>{{ field }}</th>
              {% endfor %}
            </tr>
          </thead>
          <tbody>
            {% for each in layer %}
              {% if forloop.counter <= 20 %}
                <tr>
                  {% for field in layer.fields %}
                    <td>{{ each|get_item:field }}</td>
                  {% endfor %}
                </tr>
              {% endif %}
            {% endfor %}
          </tbody>
        </table>

      </section>

        <form method="post" id="select_column">
          <input type="text" name="column" value="" />
          Guus please make this into a hidden input once it's working! I'm making it visible
          so I can use it manually for now.
          {% csrf_token %}
        </form>

    </div>

    <div class="col-lg-4">
      {% include "hub/_processing.gis.menu.html" %}
    </div>

  </section>

  <section>

    <h2>History and comments</h2>
    {% include "_messages.html" %}

  </section>

{% endblock %}
