{% extends "_base.html" %}
{% load humanize %}
{% block page_name %}staf-review uploaded{% endblock %}

{% block content %}

{% include "hub/_nav.html" %}

<div class="row">
  <div class="col-lg-8">
    <ul class="list-group list-group-horizontal mb-4">
      <li class="list-group-item">
        <span class="statistic">{{ list.count }}</span> pending uploads
      </li>
      <li class="list-group-item">
        <span class="statistic">33</span> uploads this month
      </li>
      <li class="list-group-item">
        <span class="statistic">3432</span> uploads all-time
      </li>
    </ul>

    <table class="table datatable">
      <thead>
        <tr>
          <th>ID</th>
          <th>Name</th>
          <th>Date</th>
        </tr>
      </thead>
      <tbody>
      {% for each in list %}
        <tr>
          <td><code>{{ each.related_to.id }}</code></td>
          <td><a href="{{ each.related_to.id }}/">{{ each.related_to }}</a><br>{{ each.related_to.spaces.all.0 }}</td>
          <td data-sort="{{ each.date_created|date:"U" }}">{{ each.date_created|naturaltime }}</td>
        </tr>
      {% endfor %}
      </tbody>
    </table>

    <a href="../" class="btn btn-primary-basic">
      <i class="fal fa-angle-left"></i>
      Back
    </a>

  </div>
  <div class="col-lg-4 sidebar">
    {% include "staf/review/_badge-progress.html" %}
    {% include "staf/review/_instructions.html" %}
  </div>
</div>
{% endblock %}
