{% extends "_base.html" %}

{% block css %}
  <style>
    .learn-more {
      top: 0;
      right: 0;
    }

    .learn-more .btn {
      border-top-left-radius: 0;
      border-bottom-right-radius: 0;
    }
  </style>
{% endblock %}

{% block content %}

  {% include "hub/_nav.html" %}

  <section class="row pb-0">
    <div class="col-lg-8 mb-2 mb-lg-0">

      <div class="alert alert-warning">
        <i class="fa fa-info-circle"></i>
        Please review the meta data and correct where needed.
      </div>

      {% if layer.num_feat > 1000 %}

        <div class="alert alert-warning">
          <i class="fa fa-exclamation-triangle"></i>
          This shapefile has over 1,000 items so processing will not be done instantly 
          and it will instead be scheduled for processing later today (within 6 hours from now).
        </div>

      {% endif %}


      <form method="post" id="saveform">

        {% csrf_token %}

        <section class="card p-3 mb-4">

          <h3 class="h4">Document details</h3>

          <div class="form-group">
            <label>Document Title</label>
            <input type="text" name="name" value="{{ document.name }}" class="form-control" required />
          </div>

          <div class="form-group">
            <label>Short Title (for use in legends)</label>
            <input type="text" name="shortname" maxlength="50" value="{{ document.meta_data.shortname }}" class="form-control" required />
            <small>Exactly WHAT is in this shapefile? Only include the fundamental parts of the title. Do not repeat the name of the city.</small>
          </div>

          <div class="form-group">
            <label>Description</label>
            <textarea name="description" class="form-control" rows="5">{{ document.description }}</textarea>
          </div>

          <div class="form-group">
            <label>Tags</label>
            <select class="custom-select select2" multiple name="tags">
              {% for each in tags %}
                <option value="{{ each.id }}" {% if each in document.tags.all %}selected{% endif %}>{{ each }}</option>
              {% endfor %}
            </select>
          </div>

          {% if False %}
            <div class="form-group mb-0">
              <label>Geocode(s)</label>
              <select class="custom-select select2" multiple name="geocodes">
                {% for each in geocodes %}
                  <option value="{{ each.id }}" {% if each in document.geocodes.all %}selected{% endif %}>{{ each }} ({{ each.scheme }})</option>
                {% endfor %}
              </select>
            </div>
          {% endif %}

        </section>

        <section class="card position-relative p-3 mt-3">

          <div class="position-absolute learn-more">
            <a class="btn btn-sm btn-primary" href="javascript:alert('Tutorial available soon')"><i class="fa fa-info-circle"></i> Learn more</a>
          </div>

          <h3 class="h4">Data quality</h3>

          <div class="form-group">
            <label>Does this shapefile have complete coverage on the topic of concern?
            </label>
            <select class="custom-select" name="completeness" required>
              <option value=""></option>
              <option value="complete" {% if document.meta_data.dqi.completeness == "complete" %}selected{% endif %}>Yes</option>
              <option value="incomplete" {% if document.meta_data.dqi.completeness == "incomplete" %}selected{% endif %}>No</option>
              <option value="unsure" {% if document.meta_data.dqi.completeness == "unsure" %}selected{% endif %}>Unsure</option>
              <option value="notapplicable" {% if document.meta_data.dqi.completeness == "notapplicable" %}selected{% endif %}>Not applicable</option>
            </select>
          </div>

          <div class="form-group">
            <label>Any known flaws or limitations?</label>
            <textarea name="limitations" class="form-control" rows="5">{{ document.meta_data.dqi.limitations }}</textarea>
          </div>

          <div class="form-group">
            <label>When should this be updated?</label>
            <select class="custom-select" name="update_required" required>
              <option value=""></option>
              <option value="6months" {% if document.meta_data.dqi.update_required == "6months" %}selected{% endif %}>In 6 months</option>
              <option value="1year" {% if document.meta_data.dqi.update_required == "1year" %}selected{% endif %}>In 1 year</option>
              <option value="2year" {% if document.meta_data.dqi.update_required == "2year" %}selected{% endif %}>In 2 years</option>
              <option value="unsure" {% if document.meta_data.dqi.update_required == "unsure" %}selected{% endif %}>Unsure</option>
              <option value="notapplicable" {% if document.meta_data.dqi.update_required == "notapplicable" %}selected{% endif %}>Not applicable</option>
            </select>

          </div>

        </section>

      </form>
    </div>

    <div class="col-lg-4">
      {% include "hub/_processing.gis.menu.html" %}
    </div>

  </section>

  <section>
    <h2>History and comments</h2>
    {% include "_messages.html" %}
  </section>

{% endblock %}
