{% extends "_base.html" %}

{% block content %}

  {% include "hub/_nav.html" %}

  <section class="row pb-0">
    <div class="col-lg-8 mb-2 mb-lg-0">

        <div class="alert alert-warning">
          <i class="fa fa-info-circle"></i>
          Please review the meta data and correct where needed.
        </div>

        <form method="post">

          <div class="form-group">
            <label>Title</label>
            <input type="text" name="name" value="{{ document.name }}" class="form-control" required />
          </div>

          <div class="form-group">
            <label>Description</label>
            <textarea name="description" class="form-control" rows="5">{{ document.description }}</textarea>
          </div>

          <div class="form-group">
            <label>Tags</label>
            <select class="custom-select select2" multiple>
              {% for each in tags %}
                <option value="{{ each.id }}">{{ each }}</option>
              {% endfor %}
            </select>
          </div>

          
          {% csrf_token %}
        </form>

    </div>

    <div class="col-lg-4">
      {% include "hub/_processing.gis.menu.html" %}
    </div>

  </section>

  <section>

    <h2>History and comments</h2>
    {% include "_messages.html" %}

  </section>

{% endblock %}
