{% extends "_base.html" %}

{% block page_name %}staf-review index{% endblock %}
{% block content %}

{% include "hub/_nav.html" %}

<div class="row">
  <div class="col-lg-8 dual-iconbox">
    <div class="alert alert-warning">
      <i class="fa fa-fw fa-info-circle"></i>
      Instructions: make sure you watch the video tutorial on how to process any data
      <br>
      <a href="https://multimedia.metabolismofcities.org/videos/collection/966/" class="btn btn-primary mt-3">
        <i class="fa fa-video"></i> Instruction video on how to process any data</span>
      </a>
    </div>
  </div>

  <div class="col-lg-8 dual-iconbox">
    <div class="row">
      <div class="col-md-6 mb-4">
        <a href="gis/" class="card btn-card">
          <div class="card-body">
            <div class="row">
              <div class="col icon">
                <i class="fal fa-fw fa-layer-group" aria-hidden="true"></i>
              </div>
              <div class="col">
                <strong>GIS processing queue</strong>
                <br>
                <small>Convert shapefiles to reference spaces</small>
                <br>
                <span class="badge badge-light">
                  {{ gis }} task{% if datasets != 1 %}s{% endif %}
                </span>
                <span class="badge badge-primary">
                  {{ gis_open }} unassigned
                </span>
              </div>
            </div>
          </div>
        </a>
      </div>
      <div class="col-md-6 mb-4">
        <a href="geospreadsheet/" class="card btn-card">
          <div class="card-body">
            <div class="row">
              <div class="col icon">
                <i class="fal fa-fw fa-list" aria-hidden="true"></i>
              </div>
              <div class="col">
                <strong>Geospatial spreadsheet queue</strong>
                <br>
                <small>Convert spreadsheets with coordinate data into reference spaces</small>
                <br>
                <span class="badge badge-light">
                  {{ spreadsheet }} task{% if datasets != 1 %}s{% endif %}
                </span>
                <span class="badge badge-primary">
                  {{ spreadsheet_open }} unassigned
                </span>
              </div>
            </div>
          </div>
        </a>
      </div>
      <div class="col-md-6 mb-4">
        <a href="boundaries/" class="card btn-card">
          <div class="card-body">
            <div class="row">
              <div class="col icon">
                <i class="fal fa-fw fa-border-style" aria-hidden="true"></i>
              </div>
              <div class="col">
                <strong>{{ SYSTEM_NAME_SINGULAR|title }} boundaries</strong>
                <br>
                <small>Select the official boundaries for {{ SYSTEM_NAME_PLURAL }}</small>
              </div>
            </div>
          </div>
        </a>
      </div>
      <div class="col-md-6 mb-4">
        <a href="flows/" class="card btn-card">
          <div class="card-body">
            <div class="row">
              <div class="col icon">
                <i class="fal fa-fw fa-chart-bar" aria-hidden="true"></i>
              </div>
              <div class="col">
                <strong>Flows data queue</strong>
                <br>
                <small>Process material flow datasets</small>
                <br>
                <span class="badge badge-light">
                  {{ datasets_flows }} task{% if datasets_flows != 1 %}s{% endif %}
                </span>
                <span class="badge badge-primary">
                  {{ datasets_flows_open }} unassigned
                </span>
              </div>
            </div>
          </div>
        </a>
      </div>
      <div class="col-md-6 mb-4">
        <a href="stock/" class="card btn-card">
          <div class="card-body">
            <div class="row">
              <div class="col icon">
                <i class="fal fa-fw fa-chart-scatter" aria-hidden="true"></i>
              </div>
              <div class="col">
                <strong>Stock data queue</strong>
                <br>
                <small>Process material stock datasets</small>
                <br>
                <span class="badge badge-light">
                  {{ datasets_stock }} task{% if datasets_stock != 1 %}s{% endif %}
                </span>
                <span class="badge badge-primary">
                  {{ datasets_stock_open }} unassigned
                </span>
              </div>
            </div>
          </div>
        </a>
      </div>
      <div class="col-md-6 mb-4">
        <a href="demographics/" class="card btn-card">
          <div class="card-body">
            <div class="row">
              <div class="col icon">
                <i class="fal fa-fw fa-users" aria-hidden="true"></i>
              </div>
              <div class="col">
                <strong>Demographic data queue</strong>
                <br>
                <small>Process population figures</small>
                <br>
                <span class="badge badge-light">
                  {{ demographics }} task{% if demographics != 1 %}s{% endif %}
                </span>
                <span class="badge badge-primary">
                  {{ demographics_open }} unassigned
                </span>
              </div>
            </div>
          </div>
        </a>
      </div>
      {% if PROJECT.slug != "cityloops" %}
        <div class="col-md-6 mb-4">
          <a href="climate/" class="card btn-card">
            <div class="card-body">
              <div class="row">
                <div class="col icon">
                  <i class="fal fa-fw fa-thermometer-three-quarters" aria-hidden="true"></i>
                </div>
                <div class="col">
                  <strong>Climatological data queue</strong>
                  <br>
                  <small>Process rainfall and temperature datasets</small>
                  <br>
                  <span class="badge badge-light">
                    {{ climate }} task{% if climate != 1 %}s{% endif %}
                  </span>
                  <span class="badge badge-primary">
                    {{ climate_open }} unassigned
                  </span>
                </div>
              </div>
            </div>
          </a>
        </div>
      {% endif %}
      <div class="col-md-6 mb-4">
        <a href="economy/" class="card btn-card">
          <div class="card-body">
            <div class="row">
              <div class="col icon">
                <i class="fal fa-fw fa-money-check-alt" aria-hidden="true"></i>
              </div>
              <div class="col">
                <strong>Economic data queue</strong>
                <br>
                <small>Process GDP and household income data</small>
                <br>
                <span class="badge badge-light">
                  {{ economy }} task{% if economy != 1 %}s{% endif %}
                </span>
                <span class="badge badge-primary">
                  {{ economy_open }} unassigned
                </span>
              </div>
            </div>
          </div>
        </a>
      </div>
      <div class="col-md-6 mb-4">
        <a href="biophysical/" class="card btn-card">
          <div class="card-body">
            <div class="row">
              <div class="col icon">
                <i class="fal fa-fw fa-trees" aria-hidden="true"></i>
              </div>
              <div class="col">
                <strong>Biophysical information queue</strong>
                <br>
                <small>Tree stock, mineral deposits, soils, water bodies and more</small>
                <br>
                <span class="badge badge-light">
                  {{ biophysical }} task{% if biophysical != 1 %}s{% endif %}
                </span>
                <span class="badge badge-primary">
                  {{ biophysical_open }} unassigned
                </span>
              </div>
            </div>
          </div>
        </a>
      </div>
    </div>
  </div>

  <div class="col-lg-4 sidebar">
    {% include "staf/review/_introduction.html" %}
  </div>
</div>

{% endblock %}

