{% extends "_base.html" %}
{% load humanize %}
{% block page_name %}staf-review uploaded{% endblock %}

{% block content %}

{% include "hub/_nav.html" %}

<div class="row">
  <div class="col-lg-8">
    <ul class="list-group list-group-horizontal mb-4 bg-white border">
      <li class="list-group-item">
        <span class="statistic">{{ list.count }}</span> pending files
      </li>
      <li class="list-group-item">
        <span class="statistic">{{ unassigned }}</span> unassigned files
      </li>
      <li class="list-group-item">
        <a href="completed/">
        <span class="statistic">{{ processed }}</span> files processed
        </a>
      </li>
    </ul>

    <table class="table datatable border bg-white">
      <thead>
        <tr>
          <th>Name</th>
          <th>Date</th>
          <th>Processor</th>
        </tr>
      </thead>
      <tbody>
      {% for each in list %}
        <tr>
          <td>
            {% if request.user.is_authenticated %}
              <a href="{{ each.id }}/">{{ each }}</a>
            {% else %}
              <em>{{ each }}</em>
            {% endif %}
            <br>{% for space in each.spaces.all %}{{ space }}{% if not forloop.last %}, {% endif %}{% endfor %}
            {% if each.meta_data.beginner_friendly %}
              <br>
              <span class="badge badge-warning"><i class="fa fa-check"></i> Good for beginners</span>
            {% endif %}
          </td>
          <td data-sort="{{ each.date_created|date:"U" }}">{{ each.date_created|naturaltime }}</td>
          <td>{{ each.meta_data.assigned_to|default_if_none:"" }}</td>
        </tr>
      {% endfor %}
      </tbody>
    </table>

    <a href="../" class="btn btn-primary-basic">
      <i class="fal fa-angle-left"></i>
      Back
    </a>

  </div>
  <div class="col-lg-4 sidebar">
    {% if request.user.is_authenticated %}
      {% include "staf/review/_badge-progress.html" %}
    {% else %}
      {% include "_notauthenticated.html" %}
    {% endif %}
    {% include "staf/review/_instructions.html" %}
    {% include "staf/review/_filesamples.html" %}
  </div>
</div>
{% endblock %}
