{% extends "_base.html" %}
{% load moc_extras %}
{% load humanize %}
{% load bootstrap4 %}
{% block page_name %}staf verify{% endblock %}

{% block content %}

{% include "hub/_nav.html" %}

  <section class="row">
    <div class="col-lg-8 mb-4 mb-lg-0">

      <div class="card mb-3">


        {% if check_files %}
          <div class="card-header"><i class="fa fa-file fa-fw"></i> Files</div>
          <div class="card-body">
            <h4>
              <a href="{% url URLS.LIBRARY_ITEM info.id %}">{{ info }}</a>
            </h4>

            <form id="next_step" method="post" enctype="multipart/form-data" class="mt-4">

            {% if not info.attachments.all %}
              <div class="alert alert-warning">We don't have any files yet -- please upload a file to continue.</div>
            {% else %}
              <p>
                Your data needs to be <strong>formatted correctly</strong> and included in the <strong>first sheet</strong>.
                Only <strong>csv, ods, xls and xlsx files</strong> are allowed. Please select which file to use - or upload
                a new filed with the processed data.
              </p>
              <p>Which files contains formatted data?</p>
              {% for each in info.attachments.all %}
                <div class="form-check">
                  <input class="form-check-input" type="radio" name="file" value="{{ each.id }}" id="cc_{{ each.id }}">
                  <label class="form-check-label" for="cc_{{ each.id }}">
                    <a href="{{ each.file.url }}">{{ each }}</a> ({{ each.file.size|filesizeformat }})</span>
                  </label>
                </div>
              {% endfor %}
            {% endif %}

            <div class="form-check">
              <input class="form-check-input" type="radio" name="file" value="newfile" id="newfile">
              <label class="form-check-label" for="newfile">
                Upload a new file
              </label>
            </div>
            <input type="hidden" name="next_step" value="true" />

          <section class="mt-4 d-none" id="uploadnewfile">

            <h3>Upload new file</h3>
              
            {% csrf_token %}

            <div class="form-group">
              <label>File</label>
              <input type="file" name="new_file" class="form-control" />
            </div>

          </section>

        </form>
              
          </div>
        {% else %}
          <div class="card-header"><i class="fa fa-info-circle"></i> Meta data</div>
          <div class="card-body">
            <dl class="row">
              <dt class="col-sm-3">Title</dt>
              <dd class="col-sm-9">
                <a href="{% url URLS.LIBRARY_ITEM info.id %}">{{ info }}</a>
              </dd>
              <dt class="col-sm-3">Description</dt>
              <dd class="col-sm-9">{{ info.get_description }}</dd>
              <dt class="col-sm-3">Year published</dt>
              <dd class="col-sm-9">{{ info.year }}</dd>
              <dt class="col-sm-3">Author(s)</dt>
              <dd class="col-sm-9">{{ info.get_author_citation }}</dd>
              {% if info.url %}
                <dt class="col-sm-3">Website</dt>
                <dd class="col-sm-9"><a href="{{ info.url }}" target="_blank">{{ info.url }}</a></dd>
              {% endif %}
              <dt class="col-sm-3">Tag(s)</dt>
              <dd class="col-sm-9">
                {% for each in info.tags.all %}
                  <span class="badge">{{ each }}</span>
                {% endfor %}
              </dd>
              <dt class="col-sm-3">File(s)</dt>
              <dd class="col-sm-9">
                {% for each in info.attachments.all %}
                  <span class="badge"><a href="{{ each.file.url }}">{{ each }}</a> ({{ each.file.size|filesizeformat }})</span>
                {% endfor %}
              </dd>
            </dl>
          </div>
        {% endif %}
      </div>

      {% if document.comments %}
        <div class="card mb-2">
          <div class="card-header">
            Uploader comments
          </div>
          <div class="card-body">
            {{ document.comments|linebreaks }}
          </div>
        </div>
      {% endif %}

      <h2 class="h3 mt-5">Discussion and questions</h2>
      {% include "_messages.html" %}

      {% if not request.user.is_authenticated %}
        {% include "_notauthenticated.html" %}
      {% endif %}

    </div>

    <div class="col-lg-4">
      {% include "hub/_processing.dataset.menu.html" %}
    </div>

  </section>

{% endblock %}

{% block footer %}
<script type="text/javascript">
  $("input[name='file']").change(function(){
    $(".looks-good").removeAttr("disabled");
    if($("#newfile").is(":checked")) { 
      $("#uploadnewfile").removeClass("d-none");
    } else {
      $("#uploadnewfile").addClass("d-none");
    }
  });
</script>
{% endblock %}
