{% extends "_base.html" %}

{% block content %}


<ul>
  <li>Programmer
    <ul>
      <li>Help improve the site itself</li>
      <li>Use your programming skills to scrape / process data</li>
    </ul>
  </li>

  <li><a href="/hub/portals/design/">Designer</a>
    <ul>
      <li>Help with general site design</li>
      <li>Help design data viz</li>
    </ul>
  </li>

  <li>Researcher
    <ul>
      <li><a href="https://multimedia.metabolismofcities.org/videos/33030/">Upload your MFA/other data</a></li>
      <li>Share your sources and other key knowledge</li>
      <li>Help build a complete data portal for your space</li>
      <li>Contribute to the literature library</li>
      <li>Upload your own publications</li>
    </ul>
  </li>

  <li>
    <ul>
      <li><a href="https://multimedia.metabolismofcities.org/videos/33397/">Data harvesting</a></li>
    </ul>
  </li>

  <li>Student
    <ul>
      <li>I want to do an MFA and use the system to upload and share my data</li>
    </ul>
  </li>

  <li>Specialist
    <ul>
      <li>Write up a data article</li>
    </ul>
  </li>

</ul>


<div class="row">

<div class="col-4">
  <a class="btn-icon" href="/hub/portals/design/">
    <div class="title"><i class="fal fa-fill-drip fa-fw" aria-hidden="true"></i> Designer</div>
    <div class="text">You are a designer keen to contribute to graphic design, CSS/website layout, or other design elements.</div>
  </a>
</div>

<div class="col-4">
  <a class="btn-icon" href="/hub/portals/design/">
    <div class="title"><i class="fal fa-code fa-fw" aria-hidden="true"></i> Programmer</div>
    <div class="text">You are a programmer who is ready to help and write code so that we can improve and expand our website.</div>
  </a>
</div>

<div class="col-4">
  <a class="btn-icon" href="/hub/portals/design/">
    <div class="title"><i class="fal fa-table fa-fw" aria-hidden="true"></i> Data harvester</div>
    <div class="text">You are ready to scour the web for useful data, and help us collect as much as we can.</div>
  </a>
</div>

<div class="col-4">
  <a class="btn-icon" href="/hub/portals/design/">
    <div class="title"><i class="fal fa-table fa-fw" aria-hidden="true"></i> Metabolism researcher</div>
    <div class="text">You have done a metabolism study and would like to add </div>
  </a>
</div>

</div>

{% endblock %}
