{% extends "_base.html" %}

{% block head %}
<style type="text/css">
.active-card {
  background:#CF4803;
  color:#fff;
}
.active-card .card-header {
  background:#CF4803;
  color:#fff;
}
</style>
{% endblock %}

{% block content %}

{% include "hub/_nav.html" %}

<div class="row">
  <div class="col-lg-8">

    <h3>{{ main_tag }}</h3>

    {% if not tag %}
      {{ main_tag.get_description }}
    {% endif %}

    <section class="row btn-cards">
      {% for each in tags %}
        <div class="col-md-6 mb-4">
          <a class="card icon-card btn-card {% if each == tag %}active-card{% endif %}" href="?tag={{ each.id }}">
            <div class="icon">
              <i class="fal fa-fw fa-{{ each.icon }}"></i>
            </div>
            <div class="card-header">{{ each }}</div>
          </a>
        </div>
      {% endfor %}
    </section>

    {% if tag %}
      <div class="">
        {{ tag.get_description }}
      </div>
    {% endif %}


    <h2 class="mt-4">Tasks</h2>
    {% if tag %}
      <p><em>Related to: <strong>{{ tag }}</strong></em>. </p>
    {% endif %}

    {% include "contribution/_workgrid.html" %}

  </div>

  <div class="col-lg-4">
    {% include "hub/_sidebar.html" %}
  </div>

</div>

{% if load_messaging %}
  <h2 class="mt-4">Messages</h2>
  <section class="messages">
    {% include "_messages.html" %}
  </section>
{% endif %}

{% endblock %}
