<nav class="navbar navbar-expand-lg navbar-dark bg-dark bg-nav mb-5">
  <a class="navbar-brand" href="#">Metabolism of Cities</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarText">
    <ul class="navbar-nav mr-auto">
    </ul>
    <span class="navbar-text">
      <a href="login">Login</a>
    </span>
  </div>
</nav>
