<ul class="nav nav-tabs my-4">
  <li class="nav-item">
    <a class="nav-link{% if page == 'dashboard' %} active{% endif %}" href="/platformu/dashboard/">Dashboard</a>
  </li>
  <li class="nav-item">
    <a class="nav-link{% if page == 'material' %} active{% endif %}" href="/platformu/materials/electricity/">Electricity</a>
  </li>
  <li class="nav-item">
    <a class="nav-link{% if page == 'water' %} active{% endif %}" href="/platformu/materials/electricity/">Water</a>
  </li>
  <li class="nav-item">
    <a class="nav-link{% if page == 'paper' %} active{% endif %}" href="/platformu/materials/electricity/">Paper</a>
  </li>
  <li class="nav-item">
    <a class="nav-link{% if page == 'report' %} active{% endif %}" href="/platformu/report/">My report</a>
  </li>
  <li class="nav-item">
    <a class="nav-link{% if page == 'marketplace' %} active{% endif %}" href="/platformu/marketplace/">Marketplace</a>
  </li>
  <li class="nav-item">
    <a class="nav-link{% if page == 'forum' %} active{% endif %}" href="/platformu/forum/">Forum</a>
  </li>
</ul>