{% extends "_base.html" %}

{% block content %}

<div style="width:200px;background:#ccc;float:left;margin-right:20px;margin-bottom:10px;">
  <ul>
    <li><a href="/platformu/dashboard/">Dashboard</a></li>
    <li><a href="/platformu/materials/electricity/">Electricity</a></li>
    <li><a href="/platformu/materials/electricity/">Water</a></li>
    <li><a href="/platformu/materials/electricity/">Paper</a></li>
    <li><a href="/platformu/report/">My report</a></li>
    <li><a href="/platformu/marketplace/">Marketplace</a></li>
    <li><a href="/platformu/forum/">Forum</a></li>
  </ul>
</div>

<h2>Dashboard</h2>

<h3>Indicator scores:</h3>

<p>round circles or something like that which can be red/orange/green, with a score there. The circles are:</p>

<ul>
  <li>Data entry: 87%</li>
  <li>Resource management: 97%</li>
  <li>Circularity: 27%</li>
</ul>

<h3>Electricity</h3>

[ graph - bar chart ]

<h3>Water</h3>

[ graph  - bar chart]

<h3>Paper</h3>

[ graph - bar chart]

{% endblock %}
