{% extends "_base.html" %}

{% block content %}

{% include "metabolism_manager/_user.menu.html" %}

<p>
  We can help you find a market for resources! Please fill out the form below to
  report any surplus resources or wasteflows that you may have, and we will
  try and find a destination for this.
</p>

<form method="post">
  <div class="card">
    <div class="card-body">
      <div class="form-group">
        <label>Type</label>
        <select class="custom-select" class="form-control">
          <option hidden disabled selected value></option>
          <option value="1">I have materials available</option>
          <option value="2">I am looking for available materials</option>
        </select>
      </div>
      <div class="form-group">
        <label for="material">Material/product</label>
        <input type="text" class="form-control" id="material">
      </div>
      <div class="form-group">
        <label for="quantity">Quantity</label>
        <input type="text" class="form-control" id="quantity">
      </div>
      <div class="form-group">
        <label for="frequency">Frequency</label>
        <input type="text" class="form-control" id="frequency" placeholder="E.g. once-off, weekly, monthly">
      </div>
      <div class="form-group">
        <label for="location">Location</label>
        <input type="text" class="form-control" id="location">
      </div>
      <div class="form-group">
        <label for="photo">Photo</label>
        <div class="custom-file">
          <input type="file" class="custom-file-input" id="photo">
          <label class="custom-file-label" for="photo">Choose file</label>
        </div>
      </div>
      <div class="form-group">
        <label for="comments">Comments</label>
        <textarea id="comments" class="form-control"></textarea>
      </div>
    </div>
  </div>
  <button class="btn btn-lg btn-primary my-4" type="submit"><i class="fas fa-save"></i> Save</button>
</form>

{% endblock %}

{% block footer %}
  <!-- making the browse for file input look good and work well -- https://www.npmjs.com/package/bs-custom-file-input -->
  <script src="https://cdn.jsdelivr.net/npm/bs-custom-file-input/dist/bs-custom-file-input.min.js"></script>
  <script>
    $(document).ready(function () {
      bsCustomFileInput.init()
    })
  </script>
{% endblock %}