{% extends "_base.html" %}

{% block content %}
  {% include "metabolism_manager/_user.menu.html" %}

  <h3>Register material data</h3>
  <form method="post" enctype="multipart/form-data">
    <div class="card">
      <div class="card-body">
        <div class="form-row">
          <div class="form-group col-md-6">
            <label for="from">From</label>
            <input type="date" class="form-control" id="from">
          </div>
          <div class="form-group col-md-6">
            <label for="to">To</label>
            <input type="date" class="form-control" id="to">
          </div>
        </div>
        <div class="form-row">
          <div class="form-group col-md-6">
            <label for="quantity">Quantity</label>
            <input type="number" class="form-control" id="quantity">
          </div>
          <div class="form-group col-md-6">
            <label for="unit">Unit</label>
            <select class="custom-select" id="unit" required>
              <option selected disabled value hidden></option>
              <option>Litres</option>
              <option>Kilograms</option>
              <option>...</option>
            </select>
          </div>
        </div>
        <div class="form-group">
          <label for="notes">Notes</label>
          <textarea id="notes" class="form-control"></textarea>
        </div>
      </div>
    </div>

    <button class="btn btn-lg btn-primary my-4" type="submit"><i class="fas fa-save"></i> Save</button>
  </form>
{% endblock %}
