{% extends "_base.html" %}

{% block content %}

{% include "metabolism_manager/_user.menu.html" %}

[ graph - bar chart ]

<p>Followed by a table with the last 10 readings:</p>

<p>Date | Quantity | comments</p>
<p>February 2020 | 120 KwH | hot month, lots of airconditioning</p>
<p>March 2020 | 129 KwH | </p>
<p>April 2020 | 199 KwH</p>

<hr>

<p>Then some action buttons:</p>

<p>
  Button 1: <a href="/platformu/materials/electricity/create/">Register data</a> |
  Button 2: Learn more about electricity |
  Button 3: Become more efficient
</p>

<hr>

<h2>Photos</h2>

<p><em>A thumbnail list with photos that the user uploaded (e.g. their electricity meter, or the solar panel installed on their roof), with an option to upload a new pic.</em></p>

<hr>

<p>Then comes information from the main MoC website about electricity in the city:</p>

<h3>Electricity in Cape Town</h3>

<p><em>I'm thinking a photo grid with the different components, and if you click on it you go to MoC's main site</em></p>
<p><em>Could be something like:</em></p>
<p>Electricity generation | Distribution | Consumption | Environmental impact</p>

{% endblock %}
