{% extends "admin/base_site.html" %}

{% block extrastyle %}
<style>
  #header {
    background: #144D58;
    padding: 30px 40px;
  }
  div.breadcrumbs {
    background: #585853;
  }
  #branding h1, #branding h1 a:link, #branding h1 a:visited {
    color: #fff;
    font-weight: bold;
  }
</style>
{% endblock %}

{% block footer %}
  <script src="https://cdn.tiny.cloud/1/e95vc4ojyw2kjg9e2s0kbpemiqt45qqzsoiac1xgftzn2p9s/tinymce/5/tinymce.min.js" referrerpolicy="origin"></script>
  <script>
    tinymce.init({
      selector: "textarea",
      content_css: "https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css",
      content_css_cors: true
    });
  </script>
{% endblock %}