{% extends "_base.html" %}

{% block content %}

  <a href="{% url "water:controlpanel_index" %}" class="btn btn-primary-basic float-right mt-3">
    <i class="fal fa-angle-left"></i>
    {{ _("Back to Control Panel") }}
  </a>

  <h2>{% block title %}Manage categories{% endblock %}</h2>

  {% if not info %}
    <ul>
      {% for each in categories %}
        <li><a href="?id={{ each.id }}">{{ each }}</a> ({{ each.unit.symbol }})</li>
      {% endfor %}
    </ul>

  <h2 class="mt-5">{{ _("Add a new category") }}</h2>
  {% endif %}

  <form method="post" enctype="multipart/form-data">
    
    <div class="mb-3">
      <label class="form-label">Name</label>
      <input class="form-control" name="name" required value="{{ info.name }}">
    </div>
    <div class="mb-3">
      <label class="form-label">Unit</label>
      <select class="form-control" name="unit">
        <option value=""></option>
        {% for each in units %}
          <option value="{{ each.id }}" {% if each == info.unit %}selected{% endif %}>{{ each.symbol }}</option>
        {% endfor %}
      </select>
    </div>
    <div class="mb-3">
      <label class="form-label">Slug</label>
      <input class="form-control" name="slug" required value="{{ info.slug }}">
    </div>
    <div class="form-actions">
      <button type="submit" class="btn btn-success"><i class="fa fa-save"></i> Save</button>
    </div>
    {% csrf_token %}
  </form>

  <a href="{% url "water:controlpanel_index" %}" class="btn btn-primary-basic mt-4">
    <i class="fal fa-angle-left"></i>
    {{ _("Back to Control Panel") }}
  </a>


{% endblock %}
