{% extends "_base.html" %}

{% block css %}
<style type="text/css">
.dataframe th,.dataframe td{padding:5px;}
.databox {
  overflow-y: scroll;
  overflow-x: auto;
  max-height: 500px;
}
.dataframe {
  width: 100%;
}
.dataframe tr th:first-child { display: none; }
</style>
{% endblock %}

{% block content %}

  <h2>{% block title %}{{ info }}{% endblock %}</h2>

  <dl>
    <dt>{{ _("Original file") }}</dt>
    <dd><a href="{{ info.file.url }}">{{ _("Download file") }}</a></dd>

    <dt>{{ _("Year(s) covered") }}</dt>
    <dd>
      {{ info.date_range }}
    </dd>

    <dt>{{ _("Number of rows") }}</dt>
    <dd>{{ df.shape.0 }}</dd>

    <dt>{{ _("Type") }}</dt>
    <dd>{{ category }}</dd>

    <dt>{{ _("Processed?") }}</dt>
    <dd>{% if info.is_processed %}{{ _("Yes") }}{% else %}{{ _("No") }}{% endif %}</dd>

  </dl>

  {% if info.is_processed %}
    <h2 class="mt-5">{{ _("Data overview") }}</h2>
    <a class="btn-icon" href="{{ info.file.url }}">
        <div class="title"><i class="fal fa-database fa-fw"></i> {{ info.data.count }} {{ _("data points recorded.") }}</div>
        <div class="text">
          {{ _("The data in this spreadsheet have been recorded in the database and are used to create the sankey diagrams.") }}
          {{ _("Click here if you want to download the original data.") }}
        </div>
      </a>
    <h2 class="mt-5">{{ _("Delete data") }}</h2>
    <p>{{ _("Use the button below to remove the data from the database. We will keep the file (for now), which you can decide to delete later.") }}</p>
    <form method="post">
      <button type="submit" class="btn btn-danger" onclick="javascript:return confirm('Are you sure?')">{{ _("Delete data from database") }}</button>
      <input type="hidden" name="delete_data" value="true" />
      {% csrf_token %}
    </form>
  {% else %}
    <h2 class="mt-5">{{ _("Spreadsheet overview") }}</h2>
    <div class="alert alert-info">
      {{ _("The data below shows all the rows that were successfully detected in your spreadsheet. Remember that only level-2 data is being detected and stored. The system will NOT remove any existing data. If you upload data for existing periods, then you should remove the old data first as not to duplicate data.") }}
      {{ _("NOTE: for materials, stock as well as emissions, level-1 data WILL be stored and used for the diagrams.") }}
    </div>
    <div class="databox">
      {{ table }}
    </div>

    <h2 class="mt-4">{{ _("What do you want to do with this file?") }}</h2>
    <form method="post">
      <button type="submit" class="btn btn-success"><i class="fa fa-save"></i> {{ _("Import data") }}</button>
      {% csrf_token %}
      <input type="hidden" name="save" value="true" />
    </form>

    <form method="post" class="mt-2">
      <button type="submit" class="btn btn-danger"
       onclick="javascript:return confirm('{{ _("Are you sure?") }}')" 
      ><i class="fa fa-trash"></i> {{ _("Delete file") }}</button>
      {% csrf_token %}
      <input type="hidden" name="delete" value="true"/>
    </form>

  {% endif %}

  <a href="../{% if info.category.id == 5 %}?type=stock{% endif %}" class="btn btn-primary-outline mt-4"><i class="fa fa-arrow-left"></i> {{ _("Back to overview") }}</a>


{% endblock %}
