{% extends "_base.html" %}

{% block content %}

  <h2>{% block title %}{{ _("Control panel") }}{% endblock %}</h2>

  <section class="row">

    <div class="col-md-3 mb-3">
      <a class="card icon-card btn-card" href="{% url "water:controlpanel_upload" %}">
        <div class="icon">
          <i class="fal fa-fw fa-table"></i>
        </div>
        <div class="card-header">{{ _("Sankey data") }}</div>
      </a>
    </div>

    <div class="col-md-3 mb-3">
      <a class="card icon-card btn-card" href="{% url "water:controlpanel_upload_level3" %}">
        <div class="icon">
          <i class="fal fa-fw fa-table"></i>
        </div>
        <div class="card-header">{{ _("Level-3 data") }}</div>
      </a>
    </div>

    <div class="col-md-3 mb-3">
      <a class="card icon-card btn-card" href="../timeframes/">
        <div class="icon">
          <i class="fal fa-fw fa-calendar"></i>
        </div>
        <div class="card-header">{{ _("Default timeframe") }}</div>
      </a>
    </div>

    <div class="col-md-3 mb-3">
      <a class="card icon-card btn-card" href="../flows/">
        <div class="icon">
          <i class="fal fa-fw fa-random"></i>
        </div>
        <div class="card-header">{{ _("Flows") }}</div>
      </a>
    </div>

    <div class="col-md-3 mb-3">
      <a class="card icon-card btn-card" href="../nodes/">
        <div class="icon">
          <i class="fab fa-fw fa-hubspot"></i>
        </div>
        <div class="card-header">{{ _("Nodes") }}</div>
      </a>
    </div>

    <div class="col-md-3 mb-3">
      <a class="card icon-card btn-card" href="../categories/">
        <div class="icon">
          <i class="fal fa-fw fa-list"></i>
        </div>
        <div class="card-header">{{ _("Categories") }}</div>
      </a>
    </div>

    <div class="col-md-3 mb-3">
      <a class="card icon-card btn-card" href="../territories/">
        <div class="icon">
          <i class="fal fa-fw fa-globe"></i>
        </div>
        <div class="card-header">{{ _("Territories") }}</div>
      </a>
    </div>

    <div class="col-md-3 mb-3" hidden>
      <a class="card icon-card btn-card" href="../design/">
        <div class="icon">
          <i class="fal fa-fw fa-ruler"></i>
        </div>
        <div class="card-header">{{ _("Design settings") }}</div>
      </a>
    </div>

    <div class="col-md-3 mb-3">
      <a class="card icon-card btn-card" href="../content/">
        <div class="icon">
          <i class="fal fa-fw fa-file-alt"></i>
        </div>
        <div class="card-header">{{ _("Pages") }}</div>
      </a>
    </div>

    <div class="col-md-3 mb-3">
      <a class="card icon-card btn-card" href="../materials/">
        <div class="icon">
          <i class="fal fa-fw fa-glass"></i>
        </div>
        <div class="card-header">{{ _("Materials") }}</div>
      </a>
    </div>

    <div class="col-md-3 mb-3">
      <a class="card icon-card btn-card" href="../users/">
        <div class="icon">
          <i class="fal fa-fw fa-users-medical"></i>
        </div>
        <div class="card-header">{{ _("Team") }}</div>
      </a>
    </div>

  </section>

  <h2>{{ _("Work-in-progress") }}</h2>

  <p>
    {{ _("Parts of these sections have been built, but development has been paused until required data can be made available. The links and code are conserved here for future use.") }}
  </p>

  <section class="row">
      <div class="col-md-3 mb-3">
        <a class="card icon-card btn-card" href="{% url "water:controlpanel_data" %}">
          <div class="icon">
            <i class="fal fa-fw fa-database"></i>
          </div>
          <div class="card-header">{{ _("Master dataset") }}</div>
        </a>
      </div>
      <div class="col-md-3 mb-3">
        {% with link=PROJECT.slug|add:":hub_harvesting_space" %}
        <a class="card icon-card btn-card" href="{% url link "metropole-nice-cote-dazur" %}">
        {% endwith %}
          <div class="icon">
            <i class="fal fa-fw fa-server"></i>
          </div>
          <div class="card-header">{{ _("All datasets") }}</div>
        </a>
      </div>
  </section>

{% endblock %}
