{% extends "_base.html" %}

{% block content %}

  <h2>{% block title %}{{ _("Manage nodes") }}{% endblock %}</h2>

  {% if not info %}
    <ul>
      {% for each in nodes %}
        {% ifchanged each.category %}
          </li></ul><li><h4>{{ each.category }}</h4><ul>
        {% endifchanged %}
        <li><a href="?id={{ each.id }}">{{ each }}</a></li>
      {% endfor %}
    </li>
    </ul>
    </ul>

  <h2 class="mt-5">{{ _("Add a new node") }}</h2>
  {% endif %}

  <form method="post" enctype="multipart/form-data">
    
    <div class="mb-3">
      <label class="form-label">{{ _("Name") }}</label>
      <input class="form-control" name="name" required value="{{ info.name }}">
    </div>
    <div class="mb-3">
      <label class="form-label">{{ _("Identifier") }}</label>
      <input class="form-control" name="identifier" required value="{{ info.identifier }}" type="number">
    </div>
    <div class="mb-3">
      <label class="form-label">{{ _("Category") }}</label>
      <select class="form-control" name="category">
        <option value=""></option>
        {% for each in categories %}
          <option value="{{ each.id }}" {% if each == info.category %}selected{% endif %}>{{ each }}</option>
        {% endfor %}
      </select>
    </div>
    <div class="mb-3">
      <label class="form-label">{{ _("Entry flows") }}</label>
      <input class="form-control" name="entry_flows" value="{% for each in info.entry_flows.all %}{{ each.identifier }}{% if not forloop.last %}, {% endif %}{% endfor %}">
    </div>
    <div class="mb-3">
      <label class="form-label">{{ _("Exit flows") }}</label>
      <input class="form-control" name="exit_flows" value="{% for each in info.exit_flows.all %}{{ each.identifier }}{% if not forloop.last %}, {% endif %}{% endfor %}">
    </div>
    <div class="mb-3">
      <label class="form-label">{{ _("Level") }}</label>
      <input class="form-control" name="level" value="{{ info.level }}" type="number">
    </div>
    <div class="form-actions">
      <button type="submit" class="btn btn-success"><i class="fa fa-save"></i> {{ _("Save") }}</button>
    </div>
    {% csrf_token %}
  </form>

{% endblock %}
