{% extends "_base.html" %}

{% block content %}

  <a href="{% url "water:controlpanel_index" %}" class="btn btn-primary-basic float-right mt-3">
    <i class="fal fa-angle-left"></i>
    {{ _("Back to Control Panel") }}
  </a>

  <h2>{% block title %}{{ _("Level-3 data") }}{% endblock %}</h2>

  <section>
    <form method="post" enctype="multipart/form-data">
      
      <div class="mb-3">
        <label class="form-label">{{ _("File") }}</label>
        <input type="file" class="form-control" name="file" required>
      </div>
      
      <div class="mb-3">
        <label class="form-label">{{ _("Year") }}</label>
        <input type="number" class="form-control" name="year" required min="2000" max="2040">
      </div>

      <div class="form-actions">
        <button type="submit" class="btn btn-primary"><i class="fa fa-save"></i> {{ _("Save") }}</button>
      </div>
      {% csrf_token %}
    </form>

    <h3 class="mt-5">{{ _("Uploaded files") }}</h3>
    <table class="table table-striped">
      <thead>
        <tr>
          <th>{{ _("File") }}</th>
          <th>{{ _("Year") }}</th>
          <th>{{ _("Uploaded") }}</th>
          <th>{{ _("Uploader") }}</th>
          <th>{{ _("Options") }}</th>
        </tr>
      </thead>
      <tbody>
      {% for each in files %}
        <tr>
          <td>{{ each.id }}</td>
          <td><a href="{% url "water:download" each.id %}">{{ each.name }}</a></td>
          <td>{{ each.date_created|date:"M d, Y" }}</td>
          <td>{{ each.uploader }}</td>
          <td><a href="?delete={{ each.id }}" onclick="javascript:return confirm('{{ _("Are you sure you want to delete this file?") }}')">{{ _("Delete file") }}</a></td>
        </tr>
      {% endfor %}
      </tbody>
    </table>

  </section>

  <a href="{% url "water:controlpanel_index" %}" class="btn btn-primary-basic mt-4">
    <i class="fal fa-angle-left"></i>
    {{ _("Back to Control Panel") }}
  </a>


{% endblock %}
