{% extends "_base.html" %}

{% block content %}

  <a href="{% url "water:controlpanel_index" %}" class="btn btn-primary-basic float-right mt-3">
    <i class="fal fa-angle-left"></i>
    {{ _("Back to Control Panel") }}
  </a>

  <h2>{% block title %}{{ _("Sankey diagram data") }}{% endblock %}</h2>

  <div class="alert alert-info mt-2">
  <p><strong>{{ _("Instructions:") }}</strong></p>
  <ul>
    <li>
      {{ _("Download the template file. Use the sample data to review the format, and use this same format for the new data you want to upload.") }}
    </li>
    <li>
      {{ _("Delete all rows that are not relevant for your dataset. Enter 'Unknown' if you have no data for a particular cell but you want the flow to appear on the sankey diagram.") }}
    </li>
    <li>
      {{ _("You can add rows for as many months or years as you want to upload.") }}
    </li>
    <li>
      {{ _("Please fill out data using the following units:") }}
      <ul>
        <li>{{ _("Water") }}: km3</li>
        <li>{{ _("Energy") }}: MWh</li>
        <li>{{ _("Emissions") }}: TCO2EQ</li>
        <li>{{ _("Materials") }}: kt</li>
        <li>{{ _("Stock") }}: kt</li>
      </ul>
    </li>
  </ul>
  </div>

  <section class="mt-5">
    <h3>{{ _("Download templates") }}</h3>
    <p>
      {{ _("You can use the templates below to upload new data.") }}
    </p>
    <a href="/media/water/templates/water.xlsx" class="btn btn-secondary" target="_blank">
      <i class="fa fa-download"></i>
      {{ _("Ẁater data template") }}
    </a>
    <a href="/media/water/templates/energy.xlsx" class="btn btn-secondary" target="_blank">
      <i class="fa fa-download"></i>
      {{ _("Energy data template") }}
    </a>
    <a href="/media/water/templates/emissions.xlsx" class="btn btn-secondary" target="_blank">
      <i class="fa fa-download"></i>
      {{ _("Emissions data template") }}
    </a>
    <a href="/media/water/templates/materials.xlsx" class="btn btn-secondary" target="_blank">
      <i class="fa fa-download"></i>
      {{ _("Materials data template: level 1") }}
    </a>
  </section>

  <section>
    <h3>{{ _("Upload data") }}</h3>
    <form method="post" enctype="multipart/form-data">
      
      <div class="mb-3">
        <label class="form-label">{{ _("File") }}</label>
        <input type="file" class="form-control" name="file" required>
      </div>
      <div class="form-actions">
        <button type="submit" class="btn btn-primary"><i class="fa fa-arrow-right"></i> {{ _("Next") }}</button>
      </div>
      {% csrf_token %}
    </form>
    <h3 class="mt-5">{{ _("Uploaded files") }}</h3>
    <table class="table table-striped">
      <thead>
        <tr>
          <th>{{ _("File") }}</th>
          <th>{{ _("Type") }}</th>
          <th>{{ _("Date") }}</th>
          <th>{{ _("Uploader") }}</th>
          <th>{{ _("Data stored") }}</th>
        </tr>
      </thead>
      <tbody>
      {% for each in files %}
        <tr>
          <td>{{ each.id }}</td>
          <td><a href="{{ each.get_absolute_url }}">{{ each.category }}</a></td>
          <td>{{ each.date_created|date:"M d, Y" }}</td>
          <td>{{ each.uploader }}</td>
          <td>
            {% if not each.data_start %}
              <span class="badge badge-secondary">{{ _("No data stored") }}</span>
            {% else %}
              {% if each.data_start.timeframe == "month" %}
                {{ each.data_start.date|date:"M Y" }}
              {% else %}
                {{ each.data_start.date|date:"Y" }}
              {% endif %}
              {% if each.data_start.date != each.data_end.date %}
                {% if each.data_end.timeframe == "month" %}
                  -{{ each.data_end.date|date:"M Y" }}
                {% else %}
                  -{{ each.data_end.date|date:"Y" }}
                {% endif %}
              {% endif %}
            {% endif %}
          </td>
        </tr>
      {% endfor %}
      </tbody>
    </table>

  </section>

  <a href="{% url "water:controlpanel_index" %}" class="btn btn-primary-basic mt-4">
    <i class="fal fa-angle-left"></i>
    {{ _("Back to Control Panel") }}
  </a>


{% endblock %}
