{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
<title>{% block title %}{%endblock %} | {{ SITE_NAME }}</title>
{% if select2 %}
  <link rel="stylesheet" href="{% static 'ie/css/select2.min.css' %}" />
{% endif %}
{% include 'multiplicity/includes/head.html' %}
{% block head %}{% endblock %}
{% if navbar == "backend" or navbar == "team" %}
<style type="text/css">
#topstrip {background:#c23aaf;color:#fff;font-size:30px;text-indent:-30px}
#topstrip .boxed{display:none}
#navbar-container, .stretch-bg-head #content-container::before{background:#c23aaf}
@media (min-width: 768px) { .navbar-header:before { background:#c23aaf} }
</style>
{% endif %}
<style type="text/css">
#footerwarning{;z-index:100000;margin-bottom:0;text-align:center}

{% if request.GET.main %}
.navbar-content #dropdown-active,#topstrip,.navbar-top-links > .open > a, .navbar-top-links > .open > a:focus,.navbar-top-links > li > a:hover {
  background: #{{ request.GET.main }};
}
{% endif %}

{% if request.GET.green %}
.panel-success .panel-heading, .panel-success .panel-footer, .panel-success.panel-colorful {
  background-color: #{{ request.GET.green }};
  border-color: #{{ request.GET.green }};
}
{% endif %}

{% if request.GET.yellow %}
.panel-warning .panel-heading, .panel-warning .panel-footer, .panel-warning.panel-colorful {
  background-color: #{{ request.GET.yellow }};
  border-color: #{{ request.GET.yellow }};
}
{% endif %}

{% if request.GET.light %}
.panel:not(.panel-colorful) {
  background-color: #{{ request.GET.light }};
  border-color: #{{ request.GET.light }};
}
{% endif %}

{% if request.GET.footer1 %}
footer#actions {
  background-color: #{{ request.GET.footer1 }};
}
{% endif %}

{% if request.GET.footer2 %}
footer#footer {
  background-color: #{{ request.GET.footer2 }};
}
{% endif %}

{% if request.GET.blue %}
.btn-info, .btn-info:focus {
  background-color: #{{ request.GET.blue }} !important;
  border-color: #{{ request.GET.blue }} !important;
}
{% endif %}

{% if request.GET.navbar %}
#container.mainnav-in .brand-title, #container.mainnav-sm .brand-title, #container.mainnav-out .brand-title, #container.mainnav-lg .brand-title,
.effect .navbar-content,
.effect #navbar {
  background: #{{ request.GET.navbar }};
}
{% endif %}


{% if request.COOKIES.theme != "orange" and SITE_ID == 1 %}
.navbar-content #dropdown-active,#topstrip,.navbar-top-links > .open > a, .navbar-top-links > .open > a:focus,.navbar-top-links > li > a:hover {
  background: #1f7a8c;
}

.panel-success .panel-heading, .panel-success .panel-footer, .panel-success.panel-colorful,
.bg-success, .btn-success
{
  background-color: #053C5E;
  border-color: #053C5E !important;
}

.panel-warning .panel-heading, .panel-warning .panel-footer, .panel-warning.panel-colorful, .bg-warning {
  background-color: #cf4803;
  border-color: #cf4803;
}

.panel:not(.panel-colorful) {
  background-color: #ecf0f5;
  border-color: #ecf0f5;
}

footer#actions {
  background-color: #ECF0F5;
}

footer#footer {
  background-color: #053c5e;
}

.btn-info, .btn-info:focus {
  background-color: #053c5e !important;
  border-color: #053c5e !important;
}
#container.mainnav-in .brand-title, #container.mainnav-sm .brand-title, #container.mainnav-out .brand-title, #container.mainnav-lg .brand-title,
.effect .navbar-content,
.effect #navbar {
  background: #fff;
}

#footer h4,
#footer a {
  color: #f4f4f4 !important;
}

.navbar-content .dropdown-menu a {
  color: #333 !important;
}

.navbar-top-links > .open > a, .navbar-top-links > .open > a:focus,
.navbar-top-links > li > a:hover,.navbar-top-links > li > a:focus {
  background-color: #A5CAD1 !important;
}

.panel > .list-group .list-group-item.active-sub {
  border-color: #1f7a8c;
}

{% endif %}

{% if request.COOKIES.theme == "dark" %}

#content-container,
#container.boxed-layout,
#page-content {
  background: #333;
  color: #fff;
}

footer#actions {
  background: #000;
  color: #f4f4f4;
}

#container .table th, body, #content-container,
h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6, #page-title {
  color: #f4f4f4;
}

.resourcelist h3,
.panel:not(.panel-colorful),
.panel:not(.panel-colorful) h1,
.panel:not(.panel-colorful) h2,
.panel:not(.panel-colorful) h3,
.panel:not(.panel-colorful) h4,
.panel:not(.panel-colorful) h5,
.panel:not(.panel-colorful) h6
{
  color: #333;
}

{% endif %}

{% if True %}
#page-title{display:none}
#topstrip{min-height:50px}
{% endif %}


</style>

{% if page.head %}
  {{ page.head|safe }}
{% endif %}

{% if info.head %}
  {{ info.head|safe }}
{% endif %}

</head>


<body>

{% if not DEBUG %}

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-53731925-{{ SITE_ID }}', 'auto');
  ga('send', 'pageview');

</script>
{% endif %}


<div id="container" class="effect boxed-layout aside-float slide {% if mainnav %}{{ mainnav }}{% elif blue_sidebar %}mainnav-out{% elif section == 'cities' or sidenav %}mainnav-lg{% else %}mainnav-out{% endif %} {% block container %}{% endblock %}">
<!--<div id="container" class="effect aside-left aside-bright aside-in boxed-layout mainnav-lg">-->

        <header id="navbar">
            <div id="navbar-container" class="boxed">
                <div class="navbar-header">
                    <a href="/" class="navbar-brand">
                        <div class="brand-title">
                          {% if request.GET.logo2 %}
                            <img src="{% static 'ie/img/logo.moc/logo.horizontal.black.svg' %}" alt="{{ SITE_NAME }}" style="width:200px;margin-right:20px" />
                          {% elif SITE_ID == 1 %}
                            <img src="{% static 'ie/img/logo.moc/logo.svg' %}" alt="{{ SITE_NAME }}" style="height:55px;margin-top: 10px" />
                          {% else %}
                            <img src="{% static 'ie/img/logo.moi/logo.flat.svg' %}" alt="{{ SITE_NAME }}" style="height:45px;margin-top:0px" />
                          {% endif %}
                        </div>
                    </a>
                </div>
                <div class="navbar-content clearfix">
                    <ul class="nav navbar-top-links">

                        <li class="tgl-menu-btn">
                        </li>

                        {% if navbar == "backend" %}

                          <h4 style="margin-top:20px"><a href="/intranet/controlpanel"><i class="psi-lock"></i> Back-End</a></h4>

                        {% elif navbar == "team" %}

                          <h4 style="margin-top:20px"><a href="/intranet/"><i class="far fa-comments icon-lg icon-fw"></i>Team Discussion Board</a></h4>

                        {% else %}

                        {% if SITE_ID == 1 %}
                          {% include 'core/includes/menu.moc.html' %}
                        {% else %}
                          {% include 'core/includes/menu.moi.html' %}
                        {% endif %}

                        {% endif %}
                    </ul>
                    <ul class="nav navbar-top-links icon-links">

                        {% if navbar == "team" or navbar == "backend" %}

                        <li class="dropdown">
                            <a href="{% url 'team:memberprofile' %}" class="text-right" title="User profile">
                                <span class="ic-user pull-right">
                                    <i class="fa fa-user"></i>
                                </span>
                            </a>
                        </li>
                        <li class="dropdown">
                            <a href="{% url 'team:search' %}" class="text-right" title="Search discussion board">
                                <span class="ic-user pull-right">
                                    <i class="fa fa-search"></i>
                                </span>
                            </a>
                        </li>
                        <li class="dropdown">
                            <a href="/accounts/logout" class="text-right" title="Log out">
                                <span class="ic-user pull-right">
                                    <i class="fas fa-sign-out-alt"></i>
                                </span>
                            </a>
                        </li>{% else %}

                        {% if request.user.is_authenticated %}
                          <li class="dropdown">
                              <a href="#" data-toggle="dropdown" class="dropdown-toggle text-right">
                                  <span class="ic-user pull-right">
                                      <i class="fal fa-user"></i>
                                  </span>
                              </a>

                              <div class="dropdown-menu dropdown-menu-sm dropdown-menu-right panel-default">
                                <ul class="head-list">
                                  <li>
                                    <a href="{% url 'core:userdetails' request.user.id %}"><i class="fal fa-user fa-fw"></i> Profile</a>
                                  </li>
                                  <li>
                                    <a href="/accounts/logout"><i class="pli-unlock icon-lg icon-fw"></i> Logout</a>
                                  </li>
                                </ul>
                              </div>
                          </li>
                          {% else %}
                              <li>
                                <a href="/accounts/login?next={{ CURRENT_PAGE }}">
                                  <span class="ic-user pull-right">
                                    <i class="fal fa-user fa-fw"></i>
                                  </span>
                                </a>
                            </li>
                          {% endif %}

                            <li class="dropdown">
                                <a href="#" data-toggle="dropdown" class="dropdown-toggle text-right">
                                  <span class="ic-user pull-right">
                                    <i class="fa fa-palette"></i>
                                  </span>
                                </a>

                                <div class="dropdown-menu dropdown-menu-sm dropdown-menu-right panel-default">
                                  <ul class="head-list">
                                    <li>
                                        <a href="{% url 'core:set_theme' 'orange' %}?next={{ CURRENT_PAGE }}">
                                          {% if request.COOKIES.theme == "orange" %}<i class="fa fa-check"></i>{% endif %}
                                          {% if SITE_ID == 1 %}Orange Theme{% else %}Purple Theme{% endif %}
                                        </a>
                                    </li>
                                    <li>
                                      
                                      <a href="{% url 'core:set_theme' 'blue' %}?next={{ CURRENT_PAGE }}">
                                        {% if request.COOKIES.theme != "orange" %}<i class="fa fa-check"></i>{% endif %}
                                        Blue Theme
                                      </a>
                                    </li>
                                  </ul>
                                </div>
                            </li>

                            <li class="dropdown">
                                <a href="#" data-toggle="dropdown" class="dropdown-toggle text-right">
                                  <span class="pull-right">
                                    {% if SITE_ID == 1 %}
                                      <img src="{% static "ie/img/logo.moc/icon.svg" %}" alt="" style="max-height:30px" />
                                    {% else %}
                                      <img src="{% static "ie/img/logo.moi/icon.svg" %}" alt="" style="max-height:30px" />
                                    {% endif %}
                                  </span>
                                </a>

                                <div class="dropdown-menu dropdown-menu-sm dropdown-menu-right panel-default">
                                  <ul class="head-list">
                                    <li>
                                      <a href="https://metabolismofcities.org">{% if SITE_ID == 1 %}<i class="fa fa-check"></i>{% endif %} Metabolism of Cities</a>
                                    </li>
                                    <li>
                                      <a href="https://metabolismofislands.org">{% if SITE_ID == 2 %}<i class="fa fa-check"></i>{% endif %} Metabolism of Islands</a>
                                    </li>
                                  </ul>
                                </div>
                            </li>
                        {% endif %}
                    </ul>
                </div>
                <!--================================-->
                <!--End Navbar Dropdown-->

            </div>
        </header>
        <!--===================================================-->
        <!--END NAVBAR-->

        <div id="topstrip">

          <div class="boxed">
            <div class="container">
              <div class="leftbox">
                {% if navbar == "backend" or navbar == "team" %}
                {% else %}
                  <a href="{% url 'core:homepage' %}">
                    {% if SITE_ID == 1 %}
                      {% if True %}
                      {% else %}
                        <img src="{% static 'ie/img/logo.new.png' %}" alt="" style="max-height:90px;opacity:0.6;margin-top:10px" />
                      {% endif %}
                    {% else %}
                    {% endif %}
                  </a>
                {% endif %}
              </div>
              <div class="rightbox">
                {% block pagehead %}
                {% if not pagehead %}{% include 'core/includes/breadcrumbs.html' %}{% endif %}
                {% endblock %}
              </div>
            </div>
          </div>

        </div>

        <div id="subtopstrip">
        {% block topstrip %}
        {% endblock %}
        </div>

        <div class="boxed">

            <!--CONTENT CONTAINER-->
            <!--===================================================-->
            <div id="content-container">

                <!--Page content-->
                <!--===================================================-->
                <div id="page-content" class="main-content-block">

                    {% if messages %}
                      {% for message in messages %}
                        <div class="alert {{ message.tags }} alert-dismissible" role="alert">
                          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                          </button>
                          {{ message }}
                        </div>
                      {% endfor %}
                    {% endif %}

                    {% block content %}
                    {% endblock %}

                    {% if blue_sidebar %}

                      <div class="row">

                        <div class="col-sm-3 blue_sidebar">
                          <div class="panel panel-colorful panel-dark">
                            <ul class="list-group">

                              {% block menu_content %}
                              {% endblock %}

                            </ul>
                          </div>
                        </div>

                        <div class="col-sm-9">

                          <div class="row">
                            <div class="col-lg-12">
                              <div class="panel panel-body">
                                <div class="panel-body">
                                  {% block inner_content %}
                                  {% endblock %}
                                </div>
                              </div>
                            </div>
                          </div>
                        
                        </div>
                      </div>

                    {% endif %}

                </div>
                <!--===================================================-->
                <!--End page content-->


            </div>
            <!--===================================================-->
            <!--END CONTENT CONTAINER-->



            <!--MAIN NAVIGATION-->
            <!--===================================================-->
            <nav id="mainnav-container">
                <div id="mainnav">


                    <!--Menu-->
                    <!--================================-->
                    <div id="mainnav-menu-wrap">
                        <div class="nano">
                            <div class="nano-content">

                                {% block sidebar %}
                                {% endblock %}

                            </div>
                        </div>
                    </div>
                    <!--================================-->
                    <!--End menu-->

                </div>
            </nav>
            <!--===================================================-->
            <!--END MAIN NAVIGATION-->

            <aside id="aside-container">
                <div id="aside">
                    <div class="nano scrollable">
                        <div class="nano-content">
                        {% block aside %}
                        {% endblock %}
                        </div>
                    </div>
                </div>
            </aside>

        </div>

    </div>

{% if request.user.is_authenticated %}
  
  {% if request.user.is_staff %}
    <a title="Go to back-end homepage" href="{% url 'team:controlpanel' %}" id="controlpanelbutton" class="btn"><i class="psi-lock"></i></a>
  {% endif %}

{% if section == "cities" and info.slug %}

  {% if request.user.is_staff %}
    <a href="{% url 'multiplicity:admin_data_overview' info.slug %}" id="datasetbutton" class="btn"><i class="psi-big-data"></i></a>
  {% endif %}

{% endif %}

{% if editlink %}
  <a title="Edit this record" href="{{ editlink }}?ref={{ request.get_full_path|urlencode }}" id="editpagebutton" class="btn"><i class="psi-pencil"></i></a>
{% endif %}


  {% if request.user.is_staff %}
    {% if deletelink %}
      <a title="Delete this record" href="{{ deletelink }}" id="deletepagebutton" class="btn" onclick="javascript:return confirm('Are you sure?')"><i class="fas fa-trash-alt"></i></a>
    {% endif %}

    {% if page.id %}
      <a title="Edit" href="{% url 'core:admin_article' page.id %}?ref={{ request.get_full_path|urlencode }}" id="editpagebutton" class="btn"><i class="psi-pencil"></i></a>
    {% endif %}

    {% if addlink %}
      <a title="Add new record" href="{{ addlink }}" id="addpagebutton" class="btn"><i class="psi-add"></i></a>
    {% endif %}

  {% endif %}

{% if photouploadlink %}
  <a title="Upload photo" href="{{ photouploadlink }}" id="photouploadlink" class="btn"><i class="psi-photo"></i></a>
{% endif %}

{% if videouploadlink %}
  <a title="Upload video" href="{{ videouploadlink }}" id="videouploadlink" class="btn"><i class="psi-video"></i></a>
{% endif %}

{% endif %}

{% if SITE_ID == 2 %}
<footer id="latest_news">
  <div class="container">
    <div class="row">
        <p>Latest news: <a href="{% url 'core:news' LATEST_NEWS.id %}">{{ LATEST_NEWS.title }}</a> ({{ LATEST_NEWS.date }})</p>
    </div>
  </div>
</footer>
{% endif %}

<footer id="actions">

{% if SITE_ID == 1 %}
  <div class="container">
    <div class="row">
      <div class="col-lg-3">
        <h3>Latest news</h3>
        <p>
          <a style="color:#1F7A8C" href="{% url 'core:news' LATEST_NEWS.id %}">{{ LATEST_NEWS.title }}</a><br>
          <em>{{ LATEST_NEWS.date }}</em>
        </p>
        <p>
          <a class="btn btn-lg btn-default" href="{% url 'core:news' LATEST_NEWS.id %}">Read more</a>
        </p>
      </div>

      <div class="col-lg-{% if EVENT %}6{% else %}9{% endif %} text-center">

        <p>Do you have data on resource flows?</p>
        <p><a href="{% url 'core:about' 'join' %}" class="btn btn-lg btn-warning" >Share data</a></p>

        <p>We can use your help</p>
        <p><a href="{% url 'core:about' 'join' %}" class="btn btn-lg btn-danger">Join us</a></p>



      </div>

      {% if EVENT %}
        <div class="col-lg-3 text-right">
          <h3>Upcoming event</h3>
            <p>
              <a style="color:#1F7A8C" href="{% url 'core:event' EVENT.article.id %}">{{ EVENT.article.title }}</a>
              <br>
              <strong>
              {{ EVENT.location }}
              </strong>
              <br>
              <em>
                {{ EVENT.start|date:"M d, Y" }}
                {% if EVENT.start != EVENT.end %}-
                {{ EVENT.end|date:"M d, Y" }}
                {% endif %}
              </em>
            </p>
            <p>
              <a class="btn btn-lg btn-default" href="{% url 'core:event' EVENT.article.id %}">View event</a>
            </p>
          </div>
        {% endif %}
    </div>
  </div>
{% else %}
  <div class="container">
    <div class="row">
      <div class="col-lg-3">
        <h3>Join the team</h3>
        <p>
          We are a global network of volunteers and we
          can use <em>your</em> help.
        </p>
        <p>
          <a class="btn btn-lg btn-default" href="{% url 'core:about' 'join' %}">Read more</a>
        </p>
      </div>
      <div class="col-lg-{% if EVENT %}3{% else %}6{% endif %}">
        {% if SITE_ID == 1 %}
          <h3>Share your data</h3>
          <p>
            Do you know where to get data on resource flows for your city?
            Have you done urban metabolism research? </p>
          <p>
            <a class="btn btn-lg btn-default" href="{% url 'core:about' 'join' %}">Share data</a>
          </p>
        {% else %}
          <h3>Share and analyze your data</h3>
          <p>Do you have or know where to get data on resource flows for
          your island? </p>
          <p>
            <a class="btn btn-lg btn-default" href="{% url 'core:about' 'contact' %}">Contact us</a>
          </p>
        {% endif %}
      </div>
      <div class="col-lg-3">
        <h3>Contact us</h3>
        <p>
          Ideas? Incomplete or incorrect information? 
          Interested in a partnership?
        </p>
        <p>
          <a class="btn btn-lg btn-default" href="{% url 'core:about' 'contact' %}">Contact us</a>
        </p>
      </div>

      {% if EVENT %}
        <div class="col-lg-3">
          <h3>Upcoming event</h3>
            <p>
              <a style="color:#337ab7" href="{% url 'core:event' EVENT.article.id %}">{{ EVENT.article.title }}</a>
              <br>
              <strong>
              {{ EVENT.location }}
              </strong>
              <br>
              <em>
                {{ EVENT.start|date:"M d, Y" }}
                {% if EVENT.start != EVENT.end %}-
                {{ EVENT.end|date:"M d, Y" }}
                {% endif %}
              </em>
            </p>
            <p>
              <a class="btn btn-lg btn-default" href="{% url 'core:event' EVENT.article.id %}">View event</a>
            </p>
          </div>
        {% endif %}
    </div>
  </div>

  {% endif %}

</footer>



<footer id="footer">

  <div class="container">
    <div class="row">
      <div class="col-lg-3">
        <h4>{{ SITE_NAME }}</h4>
        <p>
          <a href="https://creativecommons.org/licenses/by-sa/4.0/">
            Creative Commons Attribution 4.0 International license.
          </a>
          <br>
          <br>
          Our source code is available on
          <br>
          <a href="https://gitlab.com/metabolism-of-cities/metabolism-of-cities-platform" class="underline">
          <i class="fab fa-gitlab"></i> Gitlab
          </a>
        </p>
      </div>
      <div class="col-lg-6 text-center">
        <a href="/">
        {% if SITE_ID == 1 %}
          <img src="{% static 'ie/img/logo.new.png' %}" alt="" />
        {% else %}
          <img src="{% static 'ie/img/logo.moi/icon.white.svg' %}" alt="" />
        {% endif %}
        </a>
        {% if SITE_ID == 1 %}
          <p style="margin-top:20px"><a href="{% url 'core:contact' %}" class="underline"><i class="fa fa-pencil-alt"></i> Contact us</a></p>
        {% endif %}

      </div>
      <div class="col-lg-3">
        {% if SITE_ID == 1 %}
          <h4>Follow Us</h4>
          <ul class="list-unstyled list-inline">
            <li><a href="https://twitter.com/CityMetabolism"><i class="psi-twitter"></i></a></li>
            <li><a href="https://www.youtube.com/metabolismofcities"><i class="psi-youtube"></i></a></li>
            <li><a href="https://www.instagram.com/MetabolismOfCities/"><i class="psi-instagram"></i></a></li>
            <li><a href="https://linkedin.com/company/metabolism-of-cities"><i class="psi-linkedin"></i></a></li>
          </ul>

          <h4 style="margin-top:40px">Metabolism of Islands</h4>
          <p>Visit our twin site:<br>
            <a class="underline" href="https://metabolismofislands.org">Metabolism of Islands</a>
            <a href="https://metabolismofcities.org/community/news/203" title="Learn more"><i class="fas fa-info-circle"></i></a>
          </p>
        {% else %}
          <h4>Metabolism of Cities</h4>
          <p>Visit our twin site:<br>
            <a class="underline" href="https://metabolismofcities.org">Metabolism of Cities</a>
            <a href="https://metabolismofcities.org/community/news/203" title="Learn more"><i class="fas fa-info-circle"></i></a>
          </p>
        {% endif %}
      </div>
    </div>
  </div>

</footer>

{% include 'multiplicity/includes/footer.html' %}
  {% if charts %}
    <script type="text/javascript" src="{% static 'ie/js/chart.js' %}"></script>
  {% endif %}
  {% if datatables %}
    <script type="text/javascript" src="{% static 'ie/js/datatables.js' %}"></script>
    <script type="text/javascript">
    $(function(){
        $(".datatable").DataTable({
          "lengthMenu": [[10, 25, 50, 100, -1], [10, 25, 50, 100, "All"]],
        });
    });
    </script>
  {% endif %}
  {% if select2 %}
    <script type="text/javascript" src="{% static 'ie/js/select2.min.js' %}"></script>
    <script type="text/javascript">
    $(function(){
      $(".select2").select2();
    });
    </script>
  {% endif %}
{% block footer %}
{% endblock %}

</body>
</html>
