{% extends "_base.html" %}
{% load bootstrap4 %}

{% block content %}

  <h1 class="mb-4">{{ title }}</h1>

  <form method="post">
    {% bootstrap_form form layout="horizontal" %}

    <div class="form-group row">
      <label class="col-md-3 col-form-label" for="id_type">Type</label>
      <div class="col-md-9">
        <select name="format" class="form-control" id="id_type">
          <option value="markdown">Markdown</option>
          <option value="html" {% if info.meta_data.format == "html" %}selected{% endif %}>HTML</option>
          <option value="markdown_html" {% if info.meta_data.format == "markdown_html" %}selected{% endif %}>Markdown and HTML</option>
        </select>
      </div>
    </div>

    {% if tinymce %}
      {{ tinymce }}
    {% else %}
      <div class="form-group markdown-textarea">
        {% include "_markdown.html" %}
        <textarea class="form-control mb-4" id="text" rows="30" name="description">{{ info.description|default_if_none:"" }}</textarea>
      </div>
    {% endif %}

    {% buttons %}
      <div class="row">
        <div class="offset-md-3 col-md-9">
          <button type="submit" class="btn btn-success">
            <i class="fa fa-fw fa-save"></i>
            Save
         </button>
        </div>
      </div>
    {% endbuttons %}
    {% csrf_token %}
  </form>

  <a href="javascript:history.back()" class="btn btn-primary-basic mt-4">
    <i class="fal fa-angle-left"></i>
    Back
  </a>

{% endblock %}
