{% extends "_base.html" %}

{% block content %}

  <h1 class="mb-0">Web page content</h1>
  <a href="../" class="btn btn-primary-basic mb-4">
    <i class="fal fa-angle-left"></i>
    Back to control panel
  </a>
  <a class="btn btn-default-basic float-right mb-4" href="create/?next={{ request.get_full_path }}"><i class="fal fa-plus"></i> Add page</a>

  <table class="table table-striped datatable table-card">
    <thead>
      <tr>
        <th>Page title</th>
        <th>View page</th>
        <th>Creation date</th>
      </tr>
    </thead>
    <tbody>
    {% for each in pages %}
      <tr>
        <td><a href="{{ each.id }}/?next={{ request.get_full_path }}">{{ each }}</a></td>
        <td><a href="{% if DEBUG %}/{{ PROJECT.slug }}{% endif %}{{ each.slug }}">View page</a></td>
        <td>{{ each.date_created|date:"M d, Y" }}</td>
      </tr>
    {% endfor %}
    </tbody>
  </table>

  <a class="btn btn-default-basic float-right mt-4" href="create/?next={{ request.get_full_path }}"><i class="fal fa-plus"></i> Add page</a>
  <a href="../" class="btn btn-primary-basic mt-4">
    <i class="fal fa-angle-left"></i>
    Back to control panel
  </a>

{% endblock %}
