{% extends "_base.html" %}
{% load bootstrap4 %}

{% block content %}

  <h1 class="mb-0">Data article</h1>
  <a href="javascript:history.back()" class="btn btn-primary-basic mb-4">
    <i class="fal fa-angle-left"></i>
    Back
  </a>

  <form method="post">

  {% csrf_token %}

  {% bootstrap_form form %}

  <div class="form-group markdown-textarea">
    {% include "_markdown.html" %}
    <textarea class="form-control mb-4" id="text" rows="30" name="text" required>{{ info.description }}</textarea>
  </div>

  {% buttons %}
    <button type="submit" class="btn btn-primary">
      Submit
    </button>
  {% endbuttons %}

  </form>

{% endblock %}

{% block footer %}
<!-- markdown toolbar - https://github.com/github/markdown-toolbar-element -->
<script src="https://unpkg.com/@github/markdown-toolbar-element@latest/dist/index.umd.js"></script>
{% endblock %}
