{% extends "_base.html" %}
{% block page_name %}stafcp design{% endblock %}

{% block css %}
<style type="text/css">
  textarea {
    white-space: pre;
    font-family: "Ubuntu Mono", "Fira Mono", "Liberation Mono", "Courier New", monospace;
  }
</style>
{% endblock %}

{% load bootstrap4 %}

{% block content %}
  <h1 class="mb-0">Design</h1>
  <a href="../" class="btn btn-primary-basic mb-4">
    <i class="fal fa-angle-left"></i>
    Back to control panel
  </a>

  <div class="card mb-4">
    <div class="card-body">
      <form method="post" class="form" id="design-form" enctype="multipart/form-data">
        {% csrf_token %}
        {% bootstrap_form form %}
      </form>
    </div>
  </div>

  {% buttons %}
    <button type="submit" class="btn btn-success btn-lg" form="design-form">
      <i class="fas fa-save"></i> Save
    </button>
  {% endbuttons %}

  <a href="../" class="btn btn-primary-basic mt-4">
    <i class="fal fa-angle-left"></i>
    Back to control panel
  </a>
{% endblock %}
