{% extends "_base.html" %}

{% block page_name %}stafcp controlpanel{% endblock %}
{% block content %}
  <section class="row">
    {% if space %}
      <div class="col-md-3 mb-3">
        <a class="card icon-card btn-card" href="worksheet/">
          <div class="icon">
            <i class="fal fa-fw fa-database"></i>
          </div>
          <div class="card-header">Data harvesting</div>
        </a>
      </div>
      <div class="col-md-3 mb-3">
        <a class="card icon-card btn-card" href="#" onclick="javascript:return alert('This section becomes available once enough data is harvested')">
          <div class="icon">
            <i class="fas fa-fw fa-cubes"></i>
          </div>
          <div class="card-header">Data processing</div>
        </a>
      </div>
      <div class="col-md-3 mb-3">
        <a class="card icon-card btn-card" href="#" onclick="javascript:return alert('This section becomes available once enough data is harvested')">
          <div class="icon">
            <i class="fal fa-fw fa-check"></i>
          </div>
          <div class="card-header">Data publication</div>
        </a>
      </div>
      <div class="col-md-3 mb-3">
        <a class="card icon-card btn-card" href="#" onclick="javascript:return confirm('This section becomes available once enough data is harvested')">
          <div class="icon">
            <i class="fal fa-fw fa-pencil-alt"></i>
          </div>
          <div class="card-header">Data articles</div>
        </a>
      </div>
    {% else %}
      <div class="col-md-3 mb-3">
        <a class="card icon-card btn-card" href="project/">
          <div class="icon">
            <i class="fal fa-fw fa-sliders-v-square"></i>
          </div>
          <div class="card-header">Project settings</div>
        </a>
      </div>
      {% if PROJECT.slug == "library" %}
        <div class="col-md-3 mb-3">
          <a class="card icon-card btn-card" href="library/">
            <div class="icon">
              <i class="fal fa-fw fa-books"></i>
            </div>
            <div class="card-header">Library</div>
          </a>
        </div>
        <div class="col-md-3 mb-3">
          <a class="card icon-card btn-card" href="journals/">
            <div class="icon">
              <i class="fal fa-fw fa-book"></i>
            </div>
            <div class="card-header">Journals</div>
          </a>
        </div>
        <div class="col-md-3 mb-3">
          <a class="card icon-card btn-card" href="publishers/">
            <div class="icon">
              <i class="fal fa-fw fa-building"></i>
            </div>
            <div class="card-header">Publishers</div>
          </a>
        </div>
        <div class="col-md-3 mb-3">
          <a class="card icon-card btn-card" href="tags/">
            <div class="icon">
              <i class="fal fa-fw fa-tag"></i>
            </div>
            <div class="card-header">Tags</div>
          </a>
        </div>
      {% endif %}
      {% if PROJECT.slug == "education" %}
        <div class="col-md-3 mb-3">
          <a class="card icon-card btn-card" href="courses/">
            <div class="icon">
              <i class="fal fa-fw fa-school"></i>
            </div>
            <div class="card-header">Courses</div>
          </a>
        </div>
        <div class="col-md-3 mb-3">
          <a class="card icon-card btn-card" href="students/">
            <div class="icon">
              <i class="fal fa-fw fa-users"></i>
            </div>
            <div class="card-header">Student list</div>
          </a>
        </div>
      {% endif %}
      <div class="col-md-3 mb-3">
        <a class="card icon-card btn-card" href="users/">
          <div class="icon">
            <i class="fal fa-fw fa-users-medical"></i>
          </div>
          <div class="card-header">Our contributors</div>
        </a>
      </div>
      <div class="col-md-3 mb-3">
        <a class="card icon-card btn-card" href="design/">
          <div class="icon">
            <i class="fal fa-fw fa-ruler"></i>
          </div>
          <div class="card-header">Website design</div>
        </a>
      </div>
      <div class="col-md-3 mb-3">
        <a class="card icon-card btn-card" href="content/">
          <div class="icon">
            <i class="fal fa-fw fa-file-alt"></i>
          </div>
          <div class="card-header">Website content</div>
        </a>
      </div>
    {% endif %}

    {% if PROJECT.id == 16 %}
      <div class="col-md-3 mb-3">
        <a class="card icon-card btn-card" href="materials/">
          <div class="icon">
            <i class="fal fa-fw fa-apple-crate"></i>
          </div>
          <div class="card-header">Materials</div>
        </a>
      </div>
    {% endif %}

    {% if PROJECT.slug == "multimedia" %}
      <div class="col-md-3 mb-3">
        <a class="card icon-card btn-card" href="video-uploader/">
          <div class="icon">
            <i class="fab fa-fw fa-youtube"></i>
          </div>
          <div class="card-header">Video uploader</div>
        </a>
      </div>
      <div class="col-md-3 mb-3">
        <a class="card icon-card btn-card" href="video-editor/">
          <div class="icon">
            <i class="fab fa-fw fa-youtube"></i>
          </div>
          <div class="card-header">Video editor</div>
        </a>
      </div>
    {% endif %}

  </section>

  {% if not space %}
    <section>
      <h2>Contributor tools</h2>
      <div class="row">
        <div class="col-md-3 mb-3">
          <a class="card icon-card btn-card" href="../work/">
            <div class="icon">
              <i class="fal fa-fw fa-th"></i>
            </div>
            <div class="card-header">Community work grid</div>
          </a>
        </div>
        <div class="col-md-3 mb-3">
          <a class="card icon-card btn-card" href="../work/sprints/">
            <div class="icon">
              <i class="fal fa-fw fa-construction"></i>
            </div>
            <div class="card-header">Work sprints</div>
          </a>
        </div>
        <div class="col-md-3 mb-3">
          <a class="card icon-card btn-card" href="../curation/">
            <div class="icon">
              <i class="fal fa-fw fa-database"></i>
            </div>
            <div class="card-header">Data curation platform</div>
          </a>
        </div>
      </div>
    </section>
  {% endif %}

{% endblock %}
