{% extends "_base.html" %}

{% block page_name %}stafcp controlpanel{% endblock %}
{% block content %}
  <section class="row">
    <div class="col-md-3 mb-3">
      <a class="card icon-card btn-card" href="">
        <div class="icon">
          <i class="fal fa-fw fa-sliders-v-square"></i>
        </div>
        <div class="card-header">Project settings</div>
      </a>
    </div>
    <div class="col-md-3 mb-3">
      <a class="card icon-card btn-card" href="users/">
        <div class="icon">
          <i class="fal fa-fw fa-users-medical"></i>
        </div>
        <div class="card-header">Our contributors</div>
      </a>
    </div>
      <div class="col-md-3 mb-3">
        <a class="card icon-card btn-card" href="design/">
          <div class="icon">
            <i class="fal fa-fw fa-ruler"></i>
          </div>
          <div class="card-header">Website design</div>
        </a>
      </div>
    {% if space %}
      <div class="col-md-3 mb-3">
        <a class="card icon-card btn-card" href="data-articles/">
          <div class="icon">
            <i class="fal fa-fw fa-file-alt"></i>
          </div>
          <div class="card-header">Data articles</div>
        </a>
      </div>
    {% else %}
      <div class="col-md-3 mb-3">
        <a class="card icon-card btn-card" href="content/">
          <div class="icon">
            <i class="fal fa-fw fa-file-alt"></i>
          </div>
          <div class="card-header">Website content</div>
        </a>
      </div>
    {% endif %}
  </section>

  <section>
    <h2>Contributor tools</h2>
    <div class="row">
      <div class="col-md-3 mb-3">
        <a class="card icon-card btn-card" href="../work/">
          <div class="icon">
            <i class="fal fa-fw fa-th"></i>
          </div>
          <div class="card-header">Community work grid</div>
        </a>
      </div>
      <div class="col-md-3 mb-3">
        <a class="card icon-card btn-card" href="../curation/">
          <div class="icon">
            <i class="fal fa-fw fa-database"></i>
          </div>
          <div class="card-header">Data curation platform</div>
        </a>
      </div>
    </div>
  </section>
{% endblock %}
