{% extends "_base.html" %}
{% load bootstrap4 %}

{% block content %}

  <h1 class="mb-4">{{ title }}</h1>

  {% if info %}
    <a class="btn btn-{% if PROJECT.slug == 'peeide' %}ndee-{% endif %}primary mb-4" href="{{ info.get_absolute_url }}">
      <i class="fal fa-fw fa-link mr-2"></i> View news article
    </a>
  {% endif %}

  <form method="post" enctype="multipart/form-data">
    {% bootstrap_form form layout="horizontal" %}

    <div class="form-group row">
      <label class="col-sm-3 col-form-label">Author(s)</label>
      <div class="col-sm-9">
        <select class="custom-select" id="people" name="authors" multiple>
          <option value=""></option>
          {% for each in info.authors %}
            <option selected value="{{ each.id }}">{{ each }}</option>
          {% endfor %}
        </select>
      </div>
    </div>

    <div class="form-group row">
      <label class="col-md-3 col-form-label" for="id_type">Type</label>
      <div class="col-md-9">
        <select name="format" class="custom-select form-control" id="id_type">
          <option value="markdown">Markdown</option>
          <option value="html" {% if info.meta_data.format == "html" %}selected{% endif %}>HTML</option>
          <option value="markdown_html" {% if info.meta_data.format == "markdown_html" %}selected{% endif %}>Markdown and HTML</option>
        </select>
      </div>
    </div>

    {{test}}

    {% if PROJECT.slug == "peeide" %}
      <div class="form-group row">
        <label class="col-md-3 col-form-label" for="category">Category</label>
        <div class="col-md-9">
          <select name="category" class="custom-select form-control" id="category">
            <option value="event" {% if info.meta_data.category == "event" %}selected{% endif %}>Event</option>
            <option value="news" {% if info.meta_data.category == "news" %}selected{% endif %}>News</option>
            <option value="resource" {% if info.meta_data.category == "resource" %}selected{% endif %}>Resource</option>
            <option value="other" {% if not info.meta_data.category or info.meta_data.category == "other" %}selected{% endif %}>Other</option>
          </select>
        </div>
      </div>
    {% endif %}

    <div class="form-group markdown-textarea">
      {% include "_markdown.html" %}
      <textarea class="form-control mb-4" id="text" rows="10" name="description">{{ info.description|default_if_none:"" }}</textarea>
    </div>

    {% buttons %}
      <div class="row">
        <div class="col-12">
          <button type="submit" class="btn btn-success">
            <i class="fa fa-fw fa-save"></i>
            Save
         </button>
        </div>
      </div>
    {% endbuttons %}
    {% csrf_token %}
  </form>

  <a href="javascript:history.back()" class="btn btn-primary-basic mt-4">
    <i class="fal fa-angle-left"></i>
    Back
  </a>

{% endblock %}

{% block footer %}
<script>
  $("#id_date").attr("type", "date");
  $("#id_projects").select2();
  $("#people").select2({
    theme: "bootstrap4",
    ajax: {
      url: "{% url 'core:search_ajax' 'people' %}",
      dataType: "json"
    }
  });
</script>
{% endblock %}
