{% extends "_base.html" %}

{% block content %}

    <h1 class="mb-0">{% block title %}Pending publications{% endblock %}</h1>
    <a href="../" class="btn btn-primary-basic mb-4">
        <i class="fal fa-angle-left"></i>
        Back to control panel
    </a>

    <h4>
        Please review the pending requested publications to be added into the Library below.
    </h4>
    <br></br>

    <table class="table table-striped datatable table-card">
        <thead>
            <tr>
                <th>Title</th>
                <th>Uploader</th>
                <th>Assigned to</th>
            </tr>
            <tbody>
                {% for each in items %}
                    <tr>
                        <td>
                            <a href="{% url URLS.LIBRARY_ITEM each.id %}">
                                {{ each }}
                            </a>
                        </td>
                        <td>
                            {{ each.meta_data.uploader }}
                        </td>
                        <td>
                            {{ each.meta_data.assigned_to }}
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </thead>
    </table>
    <a class="btn btn-default-basic float-right mt-4" href="create/?next={{ request.get_full_path }}"><i class="fal fa-plus"></i> Add page</a>
    <a href="../" class="btn btn-primary-basic mt-4">
        <i class="fal fa-angle-left"></i>
        Back to control panel
    </a>

{% endblock %}

{% block footer %}
<script>
  datatable.column("1:visible").order("desc").draw();
</script>
{% endblock %}