{% extends "_base.html" %}

{% block content %}

  <h1 class="mb-0">{% block title %}Our team{% endblock %}</h1>
  <a href="../" class="btn btn-primary-basic mb-4">
    <i class="fal fa-angle-left"></i>
    Back to control panel
  </a>

  <table class="table table-striped datatable">
    <thead>
      <tr>
        <th>User</th>
        <th>Type</th>
        <th>Since</th>
        {% if show_child %}
          <th>Signed up to</th>
        {% endif %}
      </tr>
    </thead>
    <tbody>
    {% for each in users %}
      <tr>
        <td>
          {% with link=PROJECT.slug|add:":user" %}
            <a href="{% url link each.record_parent.id %}" class="mr-3"><i class="fa fa-user fa-fw"></i></a>
          {% endwith %}
          {% if not each.record_parent.people.user %}
            <a href="../people/{{ each.record_parent.id }}/?next={{ request.get_full_path|urlencode }}" class="mr-3"><i class="fa fa-pencil"></i></a>
          {% endif %}
          <a href="{{ each.id }}/">{{ each.record_parent }}</a>
        </td>
        <td>{{ each.relationship.name }}</td>
        <td>{{ each.date_created|date:"M d, Y" }}</td>
        {% if show_child %}
          <td>{{ each.record_child }}</td>
        {% endif %}
      </tr>
    {% endfor %}
    </tbody>
  </table>

  <a class="mt-4 btn btn-default-outline" href="create/?next={{ request.get_full_path|urlencode }}"><i class="fal fa-plus"></i> Add existing user to the list</a>
  <a class="mt-4 btn btn-default-outline" href="new/?next={{ request.get_full_path|urlencode }}"><i class="fal fa-plus"></i> Add external person to list</a>

  <div>
    <a href="../" class="btn btn-primary-basic mt-4">
      <i class="fal fa-angle-left"></i>
      Back to control panel
    </a>
  </div>

{% endblock %}
