{% extends "_base.html" %}

{% block content %}

  <h1 class="mb-0">{% block title %}{{ info }}{% endblock %}</h1>
  <a href="../../" class="btn btn-primary-basic mb-4">
    <i class="fal fa-angle-left"></i>
    Back
  </a>

  {% if not request.GET.match %}
    <p>
      <a class="btn btn-warning" href="./?match=true"><i class="fa fa-random"></i> Check for matches</a>
      <a class="btn btn-default-outline" href="tags/">View all tags</a>
    </p>
  {% else %}
    <div class="alert alert-warning">Match check was performed, see results below...</div>
  {% endif %}

  <table class="table table-striped datatable">
    <thead>
      <tr>
        <th>ID</th>
        <th>Date</th>
        <th>Title</th>
        <th>Type</th>
        {% if request.GET.match %}
          <th>Matches</th>
        {% else %}
          <th>Import date</th>
        {% endif %}
      </tr>
    </thead>
    <tbody>
    {% for each in list %}
      <tr>
        <td>{{ each.key }}</td>
        <td>{{ each.get_year }}</td>
        <td><a href="{{ each.pk }}/">{{ each.title }}</a></td>
        <td>{{ each.data.itemType }}</td>
        {% if request.GET.match %}
          <td>
            {% for tag in each.find_tags %}
              <span class="badge badge-info">
                {{ tag }}
              </span>
            {% endfor %}
            {% for space in each.find_spaces %}
              <span class="badge badge-primary">
                {{ space }}
              </span>
            {% endfor %}
          </td>
        {% else %}
          <td>{{ each.date_created }}</td>
        {% endif %}
      </tr>
    {% endfor %}
    </tbody>
  </table>

{% endblock %}
