{% extends "_base.html" %}

{% block content %}

  <h1 class="mb-0">{% block title %}Zotero{% endblock %}</h1>
  <a href="../" class="btn btn-primary-basic mb-4">
    <i class="fal fa-angle-left"></i>
    Back to control panel
  </a>

  <table class="table table-striped">
    <thead>
      <tr>
        <th>Title</th>
        <th>Zotero ID</th>
      </tr>
    </thead>
    <tbody>
    {% for each in list %}
      <tr>
        <td><a href="{{ each.pk }}/">{{ each }}</a></td>
        <td>{{ each.zotero_id }}</td>
      </tr>
    {% endfor %}
    </tbody>
  </table>

{% endblock %}
