{% extends "_base.html" %}

{% block content %}

  <h1 class="mb-0">{% block title %}{{ info }}{% endblock %}</h1>
  <a href="../" class="btn btn-primary-basic mb-4">
    <i class="fal fa-angle-left"></i>
    Back
  </a>

  <dl class="row">
    <dt class="col-2">ID</dt>
    <dd class="col-10">{{ info.pk }}</dd>

    <dt class="col-2">Date imported</dt>
    <dd class="col-10">{{ info.date_created }}</dd>

    <dt class="col-2">Library record</dt>
    <dd class="col-10">
      {% if info.library_item %}
        <a href="{% url URLS.LIBRARY_ITEM info.library_item.id %}">Library item #{{ info.library_item.id }}</a>
      {% else %}
        <em>not yet imported into the library</em>
      {% endif %}
    </dd>

    <dt class="col-2">Tags</dt>
    <dd class="col-10">
      {% for each in info.get_tags %}
        <span class="badge badge-info">{{ each }}</span>
      {% endfor %}
    </dd>

    <dt class="col-2">Detected spaces</dt>
    <dd class="col-10">
      {% for each in info.find_spaces %}
        <span class="badge badge-success">{{ each }}</span>
      {% endfor %}
    </dd>

    <dt class="col-2">Detected tags</dt>
    <dd class="col-10">
      {% for each in info.find_tags %}
        <span class="badge badge-success">{{ each }}</span>
      {% endfor %}
    </dd>

    {% for key,value in info.data.items %}
      {% if value and key != "tags" %}
        <dt class="col-2">{{ key }}</dt>
        <dd class="col-10">{{ value }}</dd>
      {% endif %}
    {% endfor %}

  </dl>

  <form method="post">
    <button type="submit" class="btn btn-primary">Import to library</button>
    <input type="hidden" name="import" value="true" />
    {% csrf_token %}
  </form>

{% endblock %}
