{% extends "_base.html" %}

{% block content %}

  <h1 class="mb-0">{% block title %}{{ info }}{% endblock %}</h1>
  <a href="../" class="btn btn-primary-basic mb-4">
    <i class="fal fa-angle-left"></i>
    Back
  </a>

  <dl class="row">
    <dt class="col-2">ID</dt>
    <dd class="col-10">{{ info.pk }}</dd>

    <dt class="col-2">Date imported</dt>
    <dd class="col-10">{{ info.date_created }}</dd>

    <dt class="col-2">Tags</dt>
    <dd class="col-10">
      {% for each in info.getTags %}
        <span class="badge badge-info">{{ each }}</span>
      {% endfor %}
    </dd>

    <dt class="col-2">Detected spaces</dt>
    <dd class="col-10">
      {% for each in info.findSpaces %}
        <span class="badge badge-success">{{ each }}</span>
      {% endfor %}
    </dd>

    {% for key,value in info.data.items %}
      {% if value and key != "tags" %}
        <dt class="col-2">{{ key }}</dt>
        <dd class="col-10">{{ value }}</dd>
      {% endif %}
    {% endfor %}

  </dl>

{% endblock %}
