{% extends "_base.html" %}

{% block content %}

  <h1 class="mb-0">{% block title %}Zotero{% endblock %}</h1>
  <a href="../" class="btn btn-primary-basic mb-4">
    <i class="fal fa-angle-left"></i>
    Back to control panel
  </a>

  <div>
    {% if not api_key %}
      <code>No API key found!</code>
    {% endif %}
  </div>

  <table class="table table-striped">
    <thead>
      <tr>
        <th>Title</th>
        <th>Author(s)</th>
        <th>Year</th>
        <th>Key</th>
      </tr>
    </thead>
    <tbody>
    {% for each in list %}
      <tr>
        <td>{{ each.data.title }}</td>
        <td>{{ each.data.authors }}</td>
        <td>
          {{ each.data.hit }}
        </td>
        <td>{{ each.data.key }}</td>
      </tr>
    {% endfor %}
    </tbody>
  </table>

{% endblock %}
