{% extends "_base.html" %}

{% block page_name %}login{% endblock %}
{% block title %}Sign in{% endblock %}

{% block content %}
  <div class="card login">
    <div class="card-body">
      <h3>Sign in</h3>
      <hr>
      <form method="post" action="">
        {% csrf_token %}
        <div class="form-group">
          <label for="email">E-mail</label>
          <input type="email" class="form-control" id="email" name="email">
        </div>
        <div class="form-group">
          <label for="password">Password</label>
          <input type="password" class="form-control" id="password" name="password">
        </div>
        <button type="submit" class="btn btn-primary"><i class="fas fa-fw fa-sign-in"></i> Sign in</button>
        <a class="btn btn-primary-basic" href="../accounts/passwordreset/">I forgot my password</a>
      </form>

      {% if not project %}
        <h4 class="no-account">Don't have an account yet?</h4>
        <a href="{% url 'core:register' %}" class="btn btn-primary"><i class="fas fa-fw fa-user-plus"></i> Join Metabolism of Cities</a>
      {% endif %}
    </div>
  </div>
{% endblock %}
