{% extends "_base.html" %}

{% block title %}Sign in{% endblock %}

{% block head %}
  <meta name="robots" content="noindex">

  <style>
    .login-container {
      max-width: 600px !important;
      margin: 2.5rem auto;
    }

    .login-container label {
      margin-bottom: 0;
    }
  </style>
{% endblock %}

{% block content %}
  <div class="login-container">
    <h1>Sign in</h1>

    <div class="card login">
      <div class="card-body">
        <form method="post" action="">
          {% csrf_token %}
          <div class="form-group">
            <label for="email">E-mail</label>
            <input type="email" class="form-control" id="email" name="email">
          </div>
          <div class="form-group">
            <label for="password">Password</label>
            <input type="password" class="form-control" id="password" name="password">
          </div>
          <button type="submit" class="btn btn-primary"><i class="fal fa-fw fa-sign-in"></i> Sign in</button>
          <a class="btn btn-primary-basic" href="{% url reset_link %}">I forgot my password</a>
        </form>

        {% if not project %}
          <h4 class="no-account">Don't have an account yet?</h4>
          <a href="{% url 'core:register' %}{% if request.GET.next %}?next={{ request.GET.next }}{% endif %}" class="btn btn-primary"><i class="fal fa-fw fa-user-plus"></i> Join Metabolism of Cities</a>
        {% endif %}
      </div>
    </div>
  </div>
{% endblock %}
