{% extends "_base.html" %}
{% load bootstrap4 %}

{% block content %}

  {% include "hub/_nav.html" %}

  <form method="post" class="form form-horizontal" enctype="multipart/form-data">
    {% bootstrap_form form layout="horizontal" %}

    <div class="form-group row">
      <label class="col-sm-3 col-form-label">New password</label>
      <div class="col-sm-9">
        <input type="password" name="password" class="form-control" placeholder="Only if you want to change it">
      </div>
    </div>

    <div class="form-group row">
      <label class="col-md-3 col-form-label">
        Notifications
      </label>
      <div class="col-md-9">
        <input type="checkbox" name="notifications" value="true" {% if request.user.people.meta_data.mute_notifications %}{% else %}checked{% endif %} />
        Send notifications by e-mail
      </div>
    </div>

    {% buttons %}
      <div class="col-md-offset-3 col-md-9">
        <button type="submit" class="btn btn-success">Save</button>
      </div>
    {% endbuttons %}
    {% csrf_token %}
  </form>

{% endblock %}

{% block footer %}
  <script>
    $("#id_email").attr("required", "required");
  </script>
{% endblock %}
