{% extends "_base.html" %}

{% block title %}User Profile{% endblock %}

{% block content %}
  <h1>User profile</h1>
  <p>User name: {{ request.user }}</p>
  <p>E-mail: {{ request.user.email }}</p>
  <p>Date joined: {{ request.user.date_joined }}</p>
  <p>Last login: {{ request.user.last_login }}</p>

  {% if organizations %}
  <h2>Organisations</h2>
  <p>This user belongs to the following organisations:</p>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Organisation</th>
        <th>Role</th>
      </tr>
    </thead>
    <tbody>
    {% for each in organizations %}
      <tr>
        <td>{{ each.record }}</td>
        <td>{{ each.relationship }}</td>
      </tr>
    {% endfor %}
    </tbody>
  </table>

  {% endif %}

  <section class="alert alert-warning">
    <h2>Admin info</h2>
    <p>Is staff? {{ request.user.is_staff }}</p>
    <p>Super user? {{ request.user.is_superuser }}</p>
    <p>Active? {{ request.user.is_active }}</p>
  </section>
{% endblock %}
