{% extends "_base.html" %}
{% load humanize %}

{% block title %}User Profile{% endblock %}

{% block content %}

  {% include "hub/_nav.html" %}

  <section>
    <div class="row mb-4">
      <div class="col-lg-4 col-md-5 mb-4 mb-md-0">
        <div class="card mb-4">
          {% if info.image %}
            <img src="{{ info.image.thumbnail.url }}" class="card-img-top" alt="{{ info }}">
          {% endif %}
          <div class="card-body">
            <h5 class="card-title mb-0">{{ info }}</h5>
          </div>
          <ul class="list-group list-group-flush">
            {% if request.user.people == info %}
            <li class="list-group-item">
              <i class="far fa-fw fa-at mr-1" aria-hidden="true"></i> <a href="mailto:{{ info.email }}">{{ info.email }}</a>
              <span class="badge badge-warning">Only visible to you</span>
            </li>
            {% endif %}
            {% if info.twitter %}
              <li class="list-group-item">
                <i class="fab fa-fw fa-twitter mr-1" aria-hidden="true"></i> <a href="https://twitter.com/{{ info.twitter }}">{{ info.twitter }}</a>
              </li>
            {% endif %}
            {% if info.affiliation %}
              <li class="list-group-item">
                <i class="fab fa-fw fa-university mr-1" aria-hidden="true"></i> {{ info.affiliation }}
              </li>
            {% endif %}
            <li class="list-group-item">
              <i class="far fa-fw fa-user-plus mr-1" aria-hidden="true"></i> Signed up {{ info.user.date_joined|naturaltime }}
            </li>
            <li class="list-group-item">
              <i class="far fa-fw fa-history mr-1" aria-hidden="true"></i> Last seen {{ info.user.last_login|naturaltime }}
            </li>
          </ul>
        </div>
        {% if request.user.people == info %}
        <a href="edit/?return={{ request.get_full_path }}" class="btn btn-primary">
          <i class="fa fa-pencil"></i>
          Edit profile
        </a>
        {% endif %}
      </div>

      <div class="col-lg-8 col-md-7">
        {{ info.get_description }}

        {% if info.research_interests %}
        <h4>Research interests</h4>
        <p>{{ info.research_interests|linebreaksbr }}</p>
        {% endif %}
      </div>
    </div>
  </section>

  {% if completed %}
    <section>
      <h3>Completed tasks</h3>
      <table class="table datatable datatable-card">
        <thead>
          <tr>
            <th>Date</th>
            <th>Task</th>
            <th>Project</th>
            <th>Points</th>
          </tr>
        </thead>
        <tbody>
        {% for each in completed %}
          <tr>
            <td data-sort="-{{ each.date_created|date:"U" }}">{{ each.date_created|date:"M d, Y" }}</td>
            <td><a href="/tasks/{{ each.id }}/">{{ each }}</a></td>
            <td>{{ each.part_of_project }}</td>
            <td>{{ each.workactivity.points }}</td>
          </tr>
        {% endfor %}
        </tbody>
        <tfoot>
          <tr>
            <th>Total</th>
            <th></th>
            <th></th>
            <th>{{ info.points }}</th>
          </tr>
        </tfoot>
      </table>
    </section>
  {% endif %}

  {% if open %}
    <section>
      <h3>Ongoing work</h3>
      <table class="table datatable datatable-card">
        <thead>
          <tr>
            <th>Task</th>
            <th>Project</th>
            <th>Status</th>
          </tr>
        </thead>
        <tbody>
        {% for each in open %}
          <tr>
            <td><a href="/tasks/{{ each.id }}/">{{ each }}</a></td>
            <td>{{ each.part_of_project }}</td>
            <td>{{ each.get_status_display }}</td>
          </tr>
        {% endfor %}
        </tbody>
      </table>
    </section>
  {% endif %}

  {% if request.user.is_superuser and False %}
    <!-- Guus please ignore this part -->
    <h2>Relationships</h2>
    <p>This user has the following record</p>
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Role</th>
          <th>Related to</th>
        </tr>
      </thead>
      <tbody>
      {% for each in relationships %}
        <tr>
          <td>{{ each.relationship.name }}</td>
          <td>{{ each.record_child }}</td>
        </tr>
      {% endfor %}
      </tbody>
    </table>

    <section class="alert alert-warning">
      <h2>Admin info</h2>
      <p>Is staff? {{ request.user.is_staff }}</p>
      <p>Super user? {{ request.user.is_superuser }}</p>
      <p>Active? {{ request.user.is_active }}</p>
    </section>
  <!-- End ignore Guus -->
  {% endif %}

  <a href="javascript:history.back()" class="btn btn-primary-basic mt-3">
    <i class="fal fa-angle-left"></i>
    Back
  </a>

{% endblock %}
