{% extends "_base.html" %}

{% block page_name %}register{% endblock %}
{% block title %}Register Form{% endblock %}

{% block content %}
  <div class="card register">
    <div class="card-body">
      <h3>Register</h3>
      <hr>
      <form method="post" action="">
        {% csrf_token %}
        {% if subsite.id == 53 %}
          <div class="form-group">
            <label for="org">Organisation</label>
            <input type="text" class="form-control" id="org" name="organization">
          </div>
        {% endif %}
        <div class="form-group">
          <label for="email">E-mail</label>
          <input type="email" class="form-control" id="email" name="email">
        </div>
        <div class="form-group">
          <label for="password">Password</label>
          <input type="password" class="form-control" id="password" name="password">
        </div>
        <button type="submit" class="btn btn-primary"><i class="fas fa-fw fa-user-plus"></i> Register</button>
      </form>
    </div>
  </div>
{% endblock %}
