{% extends "_base.html" %}

{% block page_name %}register{% endblock %}
{% block title %}Register Form{% endblock %}

{% block content %}

  {% if section == "volunteer_hub" %}
    {% include "hub/_nav.html" %}
  {% endif %}

  <div class="card register">
    <div class="card-body">
      <h3>Register</h3>
      <hr>
      <form method="post" action="">
        {% csrf_token %}
        {% if PROJECT.id == 16 %}
          <div class="form-group">
            <label for="org">Organisation</label>
            <input type="text" class="form-control" id="org" name="organization">
          </div>
        {% endif %}
        <div class="form-group">
          <label for="name">Your name</label>
          <input type="name" class="form-control" id="name" name="name">
        </div>
        <div class="form-group">
          <label for="email">E-mail</label>
          <input type="email" class="form-control" id="email" name="email">
        </div>
        <div class="form-group">
          <label for="password">Password</label>
          <input type="password" class="form-control" id="password" name="password">
        </div>
        <div class="form-group">
          <label>Background/interests <code class="ml-4">optional</code></label>
          <textarea name="background" class="form-control" rows="5" placeholder="Please let us know a bit about your background and interests"></textarea>
        </div>
        <button type="submit" class="btn btn-primary"><i class="fas fa-fw fa-user-plus"></i> Register</button>
      </form>
    </div>
  </div>
{% endblock %}
