{% extends "_base.html" %}
{% load bootstrap4 %}

{% block content %}
  <h1>Geocode scheme</h1>

  <form method="post" class="form form-horizontal">

    {% csrf_token %}
    {% bootstrap_form form %}

    <hr>

    <h2>What levels are present in this schema?</h2>
    <p>Example: level 1 = country, level 2 = province, level 3 = municipality</p>

    <div class="row">
      <div class="col-lg-6">
        <div class="levels">
          {% for each in geocodes %}
            <p>
              <select name="geocode_level">
                <option value=""></option>
                {% for depth in depths %}
                  <option value="{{ depth }}" {% if each.depth == depth %}selected{% endif %}>{{ depth }}</option>
                {% endfor %}
              </select>
              <input type="text" name="geocode_name" value="{{ each }}"/>
            </p>
          {% endfor %}
          <p>
            <select name="geocode_level">
              <option value=""></option>
              {% for depth in depths %}
                <option value="{{ depth }}">{{ depth }}</option>
              {% endfor %}
            </select>
            <input type="text" name="geocode_name" />
          </p>
        </div>
      </div>
      <div class="col-lg-6" style="background:#ccc">
        Show mermaid graph
      </div>
    </div>

    {% buttons %}
      <button type="submit" class="btn btn-success">Save</button>
    {% endbuttons %}
  </form>

  <p><a href="{% url "stafcp_geocodes" %}" class="btn btn-primary">Back to schema list</a></p>
{% endblock %}

{% block footer %}
<script type="text/javascript">
$(function(){
  $("select[name=geocode_level]").change(function(){
    empty_selects = $(".levels option:selected[value='']").length;
    if (!empty_selects) {
      $(this).closest("p").clone(true).appendTo(".levels");
    }
  });
});
</script>
{% endblock %}
