{% extends "_base.html" %}
{% load bootstrap4 %}

{% block content %}
  <h1>{{ info }}</h1>

  {% if info.description %}
    <p>Description:</p>
    <p>{{ info.description }}</p>
  {% endif %}

  {% if info.url %}
    <p>Read more: {{ info.url }}</p>
  {% endif %}

  <hr>

  <h2>Scheme levels:</h2>
  {% for each in geocodes %}
    <p style="padding-left:{{ each.depth }}vw">{{ each.depth }}. {{ each.name }}</p>
  {% endfor %}

  <p>
    <a href="{% url "stafcp_geocodes" %}" class="btn btn-primary">Back to schema list</a>
    <a href="{% url "stafcp_geocode_form" info.id %}" class="btn btn-primary">Edit</a>
  </p>
{% endblock %}
