
<li {% if section == "about" %}id="dropdown-active"{% endif %} class="dropdown" data-id="about">
    <a href="about" data-toggle="dropdown" class="dropdown-toggle ">
    <span class="ic-user pull-right">
      <i class="pli-tag"></i>
      About
    </span>
  </a>
    <div class="dropdown-menu dropdown-menu-sm dropdown-menu-right panel-default">
        <ul class="head-list">
          <li><a href="{% url 'core:about' 'purpose' %}">Purpose</a></li>
          <li><a href="{% url 'core:about' 'what-is-island-metabolism' %}">What is Island Metabolism</a></li>
          <li><a href="{% url 'core:about' 'moi-team' %}">MOI Team</a></li>
          <li><a href="{% url 'core:about' 'join' %}">Join us</a></li>
          <li><a href="{% url 'core:about' 'subscribe' %}">Subscribe</a></li>
          <li><a href="{% url 'core:about' 'contact' %}">Contact us</a></li>
        </ul>
    </div>

</li>

<li {% if section == "community" or section == "research" %}id="dropdown-active"{% endif %} class="dropdown" data-id="community">
    <a href="community" data-toggle="dropdown" class="dropdown-toggle ">
    <span class="ic-user pull-right">
      <i class="pli-conference"></i>
      Research
    </span>
  </a>
    <div class="dropdown-menu dropdown-menu-sm dropdown-menu-right panel-default">
        <ul class="head-list">
          <li><a href="{% url 'core:projects' 'projects' %}">Research Projects</a></li>
          <li><a href="{% url 'core:projects' 'theses' %}">Theses</a></li>
        </ul>
    </div>

</li>

<li {% if section == "resources" or page.section == "resources" %}id="dropdown-active"{% endif %} class="dropdown" data-id="resources">

    <a href="resources" data-toggle="dropdown" class="dropdown-toggle ">
      <span class="ic-user pull-right">
          <i class="pli-bulleted-list"></i>
          Resources
      </span>
    </a>

    <div class="dropdown-menu dropdown-menu-sm dropdown-menu-right panel-default">
        <ul class="head-list">
          <li><a href="{% url 'core:references' %}">Library</a></li>
          <li><a href="{% url 'core:community' 'links' %}">Links</a></li>
        </ul>
    </div>
</li>


<li {% if section == "cities" or section == "markcities" %}id="dropdown-active"{% endif %} class="mega-dropdown" data-id="islands">
  <a href="#" data-id="islands" class="mega-dropdown-toggle">
      <span class="ic-user pull-right">
        {% if section != "cities" %} 
          <i class="pli-map-marker-2"></i>
          {% else %}
          <i class="psi-map-marker-2"></i>
          {% endif %}
          Islands
      </span>
  </a>

  <div class="dropdown-menu mega-dropdown-menu " id="dropdown-community">
    <div class="row">
      <div class="col-sm-4">
        <p class="pad-top text-main text-sm text-uppercase text-bold"><i class="fas fa-chart-bar icon-fw"></i>Data Portals</p>
        <ul class="list-unstyled">
          <li><a href="/page/contribute">How to contribute</a></li>
          <li><a href="/resources/videos/collections/5">Instruction videos</a></li>
        </ul>
      </div>
      <div class="col-sm-4">
        <p class="pad-top text-main text-sm text-uppercase text-bold"><i class="fas fa-door-open icon-fw"></i>Existing Data Portals</p>
        <ul class="list-unstyled">
            <li><a href="{% url 'multiplicity:city' 'grenada' %}">Grenada</a></li>
            <li><a href="{% url 'multiplicity:city' 'jamaica' %}">Jamaica</a></li>
            <li><a href="{% url 'multiplicity:city' 'trinket-island' %}">Trinket Is.</a></li>
            <li><a href="{% url 'multiplicity:city' 'samothraki-island' %}">Samothraki Is.</a></li>
        </ul>
      </div>

      <div class="col-sm-4">
        <p class="pad-top text-main text-sm text-uppercase text-bold"><i class="fas fa-door-closed icon-fw"></i>Upcoming Data Portals</p>
        <ul class="list-unstyled future-cities" style="opacity:0.5">
          <li><a href="javascript:void()"><span class="faded">Antigua &amp; Barbuda</span> <span class="pull-right label label-warning">Coming soon</span></a></li>
          <li><a href="javascript:void()"><span class="faded">Aruba</span> <span class="pull-right label label-warning">Coming soon</span></a></li>
          <li><a href="javascript:void()"><span class="faded">Bahamas</span> <span class="pull-right label label-warning">Coming soon</span></a></li>
          <li><a href="javascript:void()"><span class="faded">Sint Maarten</span> <span class="pull-right label label-warning">Coming soon</span></a></li>
        </ul>
      </div>
    </div>

</li>




<li {% if section == "newsevents" %}id="dropdown-active"{% endif %}>
    <a href="{% url 'core:news_and_events' %}">
        <span class="ic-user pull-right">
            <i class="pli-map-marker-2"></i>
            News &amp; Events
        </span>
    </a>
</li>

