<section class="border rounded-top bg-light p-4">
  <form action="{% url 'peeide:library_search' %}">
    <div class="row">
      <div class="col-lg-4">
        <label class="font-weight-bold mb-0">Keyword</label>
        <div class="search-box-wrapper input-group mb-2 mr-sm-2">
          <input class="search-box form-control" name="keyword" placeholder="Search by keyword" value="{{ keyword }}" />
        </div>

        <div class="custom-control custom-switch d-inline-block mr-4">
          <input type="checkbox" class="custom-control-input" id="search-title" name="title" {% if request.GET.title or not keyword %}checked{% endif %} value="true">
          <label class="custom-control-label" for="search-title">Search through titles</label>
        </div>

        <div class="custom-control custom-switch d-inline-block">
          <input type="checkbox" class="custom-control-input" id="search-abstract" name="abstract" {% if request.GET.abstract or not keyword %}checked{% endif %}  value="true">
          <label class="custom-control-label" for="search-abstract">Search through abstracts</label>
        </div>
      </div>
      <div class="col-lg-4">
        <label class="font-weight-bold mb-0">Author</label>
        <div class="search-box-wrapper input-group mb-2 mr-sm-2">
          <input class="search-box form-control" name="author" type="text" placeholder="Search by author" value="{{ author }}" />
        </div>
      </div>
      <div class="col-lg-4">
        <label class="font-weight-bold mb-0">Reference Type</label>
        <select class="custom-select search-box" name="type">
          <option {% if not type %}selected{% endif %} value="">Any</option>
          {% for each in types %}
            <option {% if type.id == each.id %}selected{% endif %} value="{{ each.id }}">{{ each }}</option>
          {% endfor %}
        </select>
      </div>
    </div>

    <div class="text-center">
      <button class="btn btn-ndee btn-ndee-primary mt-3" type="submit">
        <i class="far fa-search mr-2"></i> Search
      </button>
    </div>

  </form>
</section>
