<section class="bg-ndee-light-blue py-5">
  <div class="container">
    <div class="row">
      <div class="col-lg-5">
        Stay connected with nDEE by joining our email list here!<br>
        We use this list to share publications, research opportunities, and news.
      </div>
      <div class="col-lg-7">
        <form id="newsletter-form" action="https://digitalenergyenvironment.groups.io/g/all/signup?u=5607149713587679406" method="post" id="groupsio-embedded-subscribe-form" name="groupsio-embedded-subscribe-form" target="_blank">
          <div class="input-group">
            <input type="email" value="" name="email" class="form-control" id="email" placeholder="Email address" required>
            <div class="input-group-append">
              <button type="submit" value="Subscribe" name="subscribe" id="groupsio-embedded-subscribe" class="btn btn-ndee btn-ndee-primary rounded-right">
                <i class="fa fa-paper-plane"></i> Subscribe
              </button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>