{% extends "_base.html" %}

{% block page_name %}forum list{% endblock %}

<!-- THIS IS THE FORUM LIST FOR PEEIDE / NDEE ONLY -->
<!-- IT IS SUBSTANTIALLY DIFFERENT FROM THE ORIGINAL /templates/forum.list.html -->
<!-- SO A NEW FILE WAS CREATED -->

{% block css %}
  <style>
    .faded {
      opacity:0.5
    }

    .container.main-content {
      display: none;
    }

    .search.form-control {
      height: 100%;
      font-size: 20px;
    }

    .topic-title-wrap {
      font-size: 1.25rem;
    }
  </style>
{% endblock %}

{% block content %}

<!-- close container -->
</div>

<img class="ndee-banner" src="https://i.imgur.com/OWehA4U.jpg">

<!-- open container -->
<div class="container">

  <h2 class="text-ndee-primary">Community Forum</h2>

  <div id="topic-list" class="mb-4">
    <div class="row mb-4">
      <div class="col-md-8 mb-2">
        <input class="search form-control" type="text" name="search" placeholder="Search by title">
      </div>
      <div class="col-md-4 mb-2">
        <a class="btn btn-ndee btn-ndee-primary d-block" href="create/"><i class="fas fa-fw fa-comment-alt-plus"></i> Start new conversation</a>
      </div>
    </div>

    <div class="card table-responsive">
      <table class="table">
        <thead>
          <tr class="d-none d-sm-table-row">
            <th class="topic">Topic</th>
            <th class="d-none d-lg-table-cell"></th>
            <th class="d-none d-sm-table-cell narrow-cell">Messages</th>
            <th class="d-none d-md-table-cell medium-cell">Activity</th>
          </tr>
        </thead>
        <tbody class="list">
          {% for each in list %}
            <tr>
              <td class="topic-title-wrap">
                {% if each.is_starred %}
                  <i class="fa fa-star text-warning"></i>
                {% endif %}
                <a href="{{ each.id }}/" class="topic-title">{{ each }}</a>
              </td>
              <td class="d-none d-lg-table-cell">
                  {% for poster in each.posters|slice:"4" %}
                    {{ poster.avatar }}
                  {% endfor %}
                  {% if each.posters.count > 5 %}
                    {% with count_reply=each.posters.count|add:"-4" %}
                        <span class="avatar plus">+{{ count_reply }}</span>
                    {% endwith %}
                  {% endif %}
              </td>
              <td class="d-none d-sm-table-cell narrow-cell">
                {{ each.messages.count }}
              </td>
              <td class="d-none d-md-table-cell medium-cell">
                {{ each.last_update.date_created|timesince }} ago 
                <br><span class="faded">by {{ each.last_update.posted_by }}</span>
              </td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>

    <div class="card no-results bg-white">
      <div class="card-body text-center">
        <h2 class="my-4"><i class="fad fa-search"></i> No topics found</h2>
        <button class="btn btn-lg btn-primary clear-filter my-4">Show all topics</button>
      </div>
    </div>
  </div>

  {% if not request.user.is_authenticated %}
    {% include "_notauthenticated.html" %}
  {% endif %}

<!-- no need to close container as it's been closed before  -->
<!-- </div> -->

{% endblock %}

{% block footer %}
  <!-- add listjs to search and filter - https://listjs.com/api/ -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/list.js/1.5.0/list.min.js"></script>

  <script>
    var listOptions = {
      valueNames: ["topic-title", "topic-tags"]
    };

    var topicList = new List("topic-list", listOptions);

    function filterList(tag) {
      topicList.filter(function(item) {
        if (tag == "all") {
          return true;
        } else {
          console.log(item.values())
          if (item.values()["topic-tags"].includes(tag)) {
            return true;
          } else {
            return false;
          }
        }
      });

      checkCount()
    }

    $(".tag-filter").change(function() {
      var tag = $(this).val()

      filterList(tag)
    })

    // function to check the number of matches
    function checkCount() {
      var count = $("#topic-list tbody.list tr:visible").length;
      if (count == 0) {
        $(".no-results").addClass("visible");
      } else {
        $(".no-results").removeClass("visible");
      }
    }

    // update contact count when searching by name
    topicList.on("searchComplete", function(){
      checkCount();
    });

    // clear search and filters
    function resetSearchFilters() {
      topicList.search();
      filterList("all")

      $("#topic-list input.search").val("");
      $(".tag-filter").val("all")
    }

    $(".clear-filter").click(function() {
      resetSearchFilters();
      checkCount();
    })

    // reset all filters on page load
    resetSearchFilters();

    // make no results box invisible on load
    $(".no-results").removeClass("visible");
  </script>
{% endblock %}
