{% extends "_base.html" %}

{% block head %}
<style>
  .container.main-content {
    display: none;
  }

  #ndee-hero {
    background-color: #008DACE6;
    position: relative;
    padding: 4rem 2rem;
  }

  #ndee-hero img {
    width: 100%;
    height: 100%;
    position: absolute;
    object-fit: cover;
    top: 0;
    left: 0;
    opacity: .15;
  }

  .hero-header {
    font-weight: bold;
    letter-spacing: -1px;
    font-size: 3.25rem;
  }

  #carousel {
    min-height: 400px;
  }

  .carousel-img {
    height: 100%;
    object-fit: cover;
  }

  .carousel-indicators {
    justify-content: left;
    margin: 0;
    left: 3rem;
    bottom: 3rem;
  }

  .carousel-indicators li {
    background-color: #008dac;
    height: .75rem;
    width: .75rem;
    margin-right: 10px;
    margin-left: 0;
    border-radius: 100%;
    border: none;
  }

  .carousel-indicators li.active {
    background-color: #fff;
  }

  #people img {
    border-radius: 100%;
    width: 100px;
    height: 100px;
    object-fit: cover;
  }

  .single-research {
    position: relative;
    overflow: hidden;
  }

  .single-research i {
    position: absolute;
    font-size: 5rem;
    opacity: .25;
    bottom: -.75rem;
    right: -.75rem;
  }

  .single-research .description p:last-of-type {
    margin-bottom: 0;
  }

  .project-image {
    height: 200px;
    width: 100%;
    object-fit: cover;
  }
</style>
{% endblock %}

{% block content %}

<!-- closing container so we can have a full width hero -->
</div>

<section id="ndee-hero">
  <img src="https://i.imgur.com/azjasxZ.jpg">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 pr-lg-5">
        <h1 class="hero-header text-white">Collaboratively researching the impacts of the digital economy</h1>
      </div>
      <div class="col-lg-6 pl-lg-5">
        <p class="text-white">
          The rapid adoption and acceleration of the use of digital technologies is transforming the way we access and process information, impacting the global economy and our social dynamics. These dramatic technological and social changes also have important environmental and energy implications.
        </p>
        <p class="text-white">
          This initiative seeks to leverage academic research across various disciplines in order to provide guidance on a number of high-priority issue areas at the intersection of energy environment and digital platforms.
        </p>
      </div>
    </div>
  </div>
</section>

<section>
  <div class="container">
    <div class="my-4">
      <h3 class="text-ndee-primary font-weight-bold">
        Featured research <a href="{% url 'peeide:research' %}"><i class="fal fa-arrow-circle-right text-ndee-secondary rotate-45 ml-1"></i></a>
      </h3>
    </div>

    <div class="row">
      {% for each in research %}
        <div class="col-md-6 col-lg-4 mb-4">
          <div class="p-3 bg-ndee-light-blue rounded single-research">
            <h5 class="text-ndee-primary">{{ each }}</h5>
            <div class="description">{{ each.get_description }}</div>
            <i class="fal fa-{{ each.icon }} text-ndee-primary"></i>
          </div>
        </div>
      {% endfor %}
    </div>

    <a href="{% url 'peeide:research' %}" class="btn btn-lg btn-ndee btn-ndee-primary">
      More about our research <i class="fal fa-arrow-circle-right text-ndee-secondary rotate-45 ml-1"></i>
    </a>
  </div>
</section>

<section>
  <div class="container">
    <div class="rounded" style="background-color: #B0EFF3">
      <div class="row mb-4">
        <div class="col-lg-6 pr-lg-0">
          <div id="carousel" class="carousel slide h-100 p-5" data-ride="carousel">
            <div class="carousel-inner">
              <div class="carousel-item active">
                <strong class="text-ndee-purple d-block text-uppercase mb-3">March 20th | Podcast</strong>
                <h3 class="text-ndee-primary font-weight-bold">Can peer-to-peer networks reduce food waste?</h3>
                <p>
                  In this research, we aim to reveal insights into the nature and dynamics of the sharing economy
                  through a deep dive into a real-world food sharing network that aims to reduce household food waste.
                </p>
                <a class="btn btn-ndee btn-ndee-sm btn-ndee-primary" href="">Read more</a>
              </div>
              <div class="carousel-item">
                <strong class="text-ndee-purple d-block text-uppercase mb-3">March 20th | Podcast</strong>
                <h3 class="text-ndee-primary font-weight-bold">Some other title of a podcast?</h3>
                <p>
                  In this research, we aim to reveal insights into the nature and dynamics of the sharing economy
                  through a deep dive into a real-world food sharing network that aims to reduce household food waste.
                </p>
                <a class="btn btn-ndee btn-ndee-sm btn-ndee-primary" href="">Read more</a>
              </div>
              <div class="carousel-item">
                <strong class="text-ndee-purple d-block text-uppercase mb-3">March 20th | Podcast</strong>
                <h3 class="text-ndee-primary font-weight-bold">This is the third slide, it'll go back to the first one</h3>
                <p>
                  In this research, we aim to reveal insights into the nature and dynamics of the sharing economy
                  through a deep dive into a real-world food sharing network that aims to reduce household food waste.
                </p>
                <a class="btn btn-ndee btn-ndee-sm btn-ndee-primary" href="">Read more</a>
              </div>
            </div>
            <ol class="carousel-indicators">
              <li data-target="#carousel" data-slide-to="0" class="active"></li>
              <li data-target="#carousel" data-slide-to="1"></li>
              <li data-target="#carousel" data-slide-to="2"></li>
            </ol>
          </div>
        </div>
        <div class="col-lg-6 pl-lg-0">
          <img src="https://i.imgur.com/bF4qdQq.jpg" class="img-fluid rounded-right carousel-img">
        </div>
      </div>
    </div>

    <!--
    <a class="btn btn-ndee btn-ndee-primary" href="">Read more</a>
    <a class="btn btn-ndee btn-ndee-sm btn-ndee-primary" href="">Read more</a>

    <div class="bg-dark p-4 my-4">
      <a class="btn btn-ndee btn-ndee-white-outline" href="">Read more</a>
      <a class="btn btn-ndee btn-ndee-sm btn-ndee-white-outline" href="">Read more</a>
    </div>

    <a class="btn btn-ndee btn-ndee-primary-outline" href="">Read more</a>
    <a class="btn btn-ndee btn-ndee-sm btn-ndee-primary-outline" href="">Read more</a>
    -->
  </div>
</section>

<section class="pb-4" id="people">
  <div class="container">
    <h3 class="text-ndee-primary font-weight-bold">
      People <a href="{% url 'peeide:people' %}"><i class="fal fa-arrow-circle-right text-ndee-secondary rotate-45 ml-1"></i></a>
    </h3>
    <div class="row">
      {% for each in team %}
        <div class="col-lg-6 mb-4">
          <div class="row">
            <div class="col-3">
              <img src="{{ each.image.thumbnail.url }}" alt="">
            </div>
            <div class="col-9">
              <div class="p-3">
                <h5 class="mb-0 text-ndee-primary">{{ each }}</h5>
                <p>{{ each.get_description|truncatewords_html:40 }}</p>
                <div class="pt-2">
                  {% if each.website %}
                    <a target="_blank" href="{{ each.website }}" class="mr-2">
                      <i class="far fa-link"></i>
                    </a>
                  {% endif %}
                  {% if each.twitter %}
                    <a target="_blank" href="https://twitter.com/{{ each.twitter }}" class="mr-2">
                      <i class="fab fa-twitter"></i>
                    </a>
                  {% endif %}
                  {% if each.linkedin %}
                    <a href="https://linkedin.com/in/{{ each.linkedin }}" class="mr-2">
                      <i class="fab fa-linkedin"></i>
                    </a>
                  {% endif %}
                  {% if each.researchgate %}
                    <a href="{{ each.researchgate }}" class="mr-2">
                      <i class="fab fa-researchgate"></i>
                    </a>
                  {% endif %}
                </div>
                <!-- <a href="{% url URLS.PROFILE each.id %}" class="btn btn-ndee btn-ndee-sm btn-ndee-primary">View profile</a> -->
              </div>
            </div>
          </div>
        </div>
      {% endfor %}
    </div>
  </div>
</section>

<section class="pb-4">
  <div class="container">
    <h3 class="text-ndee-primary font-weight-bold">
      Projects <a href="{% url 'peeide:research' %}"><i class="fal fa-arrow-circle-right text-ndee-secondary rotate-45 ml-1"></i></a>
    </h3>

    <div class="row projects">
      {% for each in projects %}
        <div class="col-md-6 col-lg-4 mb-4">
          {% if each.image %}
            <img class="rounded-top project-image" src="{{ each.image.thumbnail.url }}" alt="{{ each }} image">
          {% endif %}
          <div class="p-3 bg-ndee-light-blue rounded">
            <h5 class="text-ndee-primary mb-0">{{ each }}</h5>
            <div class="text-ndee-purple mb-2">{{ each.meta_data.project_leader }}</div>
            {{ each.get_description }}
            {% if each.url %}
              <a class="btn btn-ndee bg-ndee-primary text-white btn-ndee-sm" href="{{ each.url }}">Read more</a>
            {% endif %}
          </div>
        </div>
      {% endfor %}
    </div>

    <a href="{% url 'peeide:research' %}" class="btn btn-lg btn-ndee btn-ndee-primary">
      More projects <i class="fal fa-arrow-circle-right text-ndee-secondary rotate-45 ml-1"></i>
    </a>
  </div>
</section>

<!-- <div> -->
<!-- no need to close this container since we closed the previous one already -->

{% endblock %}
