{% extends "_base.html" %}

{% block head %}
<style>
  .container.main-content {
    display: none;
  }

  img.ndee-banner {
    object-position: center 70%;
  }

  .search-box-wrapper {
    max-width: 750px;
  }

  .search-box {
    height: 58px;
    font-size: 20px;
  }

  #item-lists .badge {
    width: 30px;
    display: inline-block;
  }

  .item-title {
    max-width: calc(100% - 55px);
  }

  section:last-of-type {
    margin-top: 2rem;
  }

  .list-group.hidden {
    display: none;
  }
</style>
{% endblock %}

{% block content %}

<!-- close container -->
</div>

<img class="ndee-banner" src="https://i.imgur.com/OWehA4U.jpg">

<!-- open container -->
<div class="container">
  <section>
    <h2 class="text-ndee-primary">{{ webpage }}</h2>

    <div class="row">
      <div class="col-lg-8">
        {{ webpage.get_description }}
      </div>
    </div>
  </section>

  {% include "peeide/_library.search.html" %}

  <section id="item-lists">
    <div class="row">
      <div class="col-lg-6 text-center">
        <div class="btn btn-ndee btn-ndee-primary mb-4 show-col">
          <i class="fal fa-wallet mr-2"></i> Browse by Applications and Impacts <i class="fa caret fa-caret-down ml-3 mr-0"></i>
        </div>
        <div class="list-group list-group-flush text-left mb-4 hidden">
          {% for each in sectors %}
            <a href="{% url 'peeide:sector' each.id %}" class="list-group-item list-group-item-action">
              <span class="badge bg-ndee-primary text-light align-top mr-3 mt-1">{{ each.total }}</span>
              <span class="d-inline-block item-title">{{ each }}</span>
            </a>
          {% endfor %}
        </div>
      </div>

      <div class="col-lg-6 text-center">
        <div class="btn btn-ndee btn-ndee-primary mb-4 show-col">
          <i class="fal fa-phone-laptop mr-2"></i> Browse by Digital Technology <i class="fa caret fa-caret-down ml-3 mr-0"></i>
        </div>
        <div class="list-group list-group-flush text-left mb-4 hidden">
          {% for each in technologies %}
            <a href="{% url 'peeide:sector' each.id %}" class="list-group-item list-group-item-action">
              <span class="badge bg-ndee-primary text-light align-top mr-3 mt-1">{{ each.total }}</span>
              <span class="d-inline-block item-title">{{ each }}</span>
            </a>
          {% endfor %}
        </div>
      </div>
    </div>
  </section>
</div>

{% include "peeide/_newsletter-signup.html" %}

{% endblock %}

{% block footer %}
<script>
  $(".show-col").click(function() {
    $(this).find("i.caret").toggleClass("fa-caret-down fa-caret-up")
    $(this).next(".list-group").toggleClass("hidden");
  })
</script>
{% endblock %}
