{% extends "_base.html" %}

{% block head %}
<style>
  .container.main-content {
    display: none;
  }

  img.ndee-banner {
    object-position: center 70%;
  }

  #item-lists .badge {
    width: 30px;
    display: inline-block;
  }

  #item-lists.hidden {
    display: none;
  }

  .item-title {
    max-width: calc(100% - 55px);
  }

  table.datatable-card {
    box-shadow: none;
    border: 1px solid #dee2e6;
  }

  section:last-of-type {
    margin-bottom: 2rem;
  }
  .search-box-wrapper {
    max-width: 750px;
  }

  .search-box {
    height: 58px;
    font-size: 20px;
  }
</style>
{% endblock %}

{% block content %}

<!-- close container -->
</div>

<img class="ndee-banner" src="https://i.imgur.com/bF4qdQq.jpg">

<!-- open container -->
<div class="container">
  <h1>{% block title %}Library{% endblock %}</h1>

    {% if keyword %}
      {% include "peeide/_library.search.html" %}
    {% endif %}

    <div class="border rounded bg-light p-3 mb-4">
      <i class="far fa-search mr-2"></i> Your search {% if keyword %}{% if additional_tag %}for <span class="bg-ndee-light-blue text-primary border rounded mx-1 p-1">{{ additional_tag }}</span>{% endif %}{% else %}for <span class="bg-ndee-light-blue text-primary border rounded mx-1 p-1">{{ tag }}</span> {% if additional_tag %}and <span class="bg-ndee-light-blue text-primary border rounded mx-1 p-1">{{ additional_tag }}</span>{% endif %}{% endif %} yielded <strong>{{ items.count }}</strong> result{{ items.count|pluralize }}
    </div>

    <a class="btn btn-ndee btn-ndee-sm btn-ndee-primary-outline mb-4" href="{% url 'peeide:page' 'bibliography' %}">
      <i class="far fa-arrow-left mr-2"></i> Back to bibliography
    </a>

    {% if not "tag" in request.GET %}
    <div class="btn btn-ndee btn-ndee-sm btn-ndee-primary show-narrow mb-4">
      <i class="fa fa-caret-down"></i> Narrow down your search
    </div>

      <section id="item-lists" class="hidden">
        <div class="row">
          <div class="col">
            <h5>Sectors</h5>
            <div class="list-group list-group-flush">
              {% for each in sectors %}
                {% if each.total %}
                  <a href="?tag={{ each.id }}{% for key,value in request.GET.items %}&amp;{{ key }}={{ value }}{% endfor %}" class="list-group-item list-group-item-action">
                    <span class="badge bg-ndee-primary text-light align-top mr-3 mt-1">{{ each.total }}</span>
                    <span class="d-inline-block item-title">{{ each }}</span>
                  </a>
                {% endif %}
              {% endfor %}
            </div>
          </div>

          <div class="col">
            <h5>Technologies</h5>
            <div class="list-group list-group-flush">
              {% for each in technologies %}
                {% if each.total %}
                  <a href="?tag={{ each.id }}{% for key,value in request.GET.items %}&amp;{{ key }}={{ value }}{% endfor %}" class="list-group-item list-group-item-action">
                    <span class="badge bg-ndee-primary text-light align-top mr-3 mt-1">{{ each.total }}</span>
                    <span class="d-inline-block item-title">{{ each }}</span>
                  </a>
                {% endif %}
              {% endfor %}
            </div>
          </div>
        </div>
      </section>
    {% endif %}

    <section>
      <h3>Publications</h3>
      {% include "_library.list.html" %}
    </section>

  </div>

<!-- </div> no need to close this container, it's already done above -->

{% endblock %}

{% block footer %}
  <script>
    $(".show-narrow").click(function() {
      $(".show-narrow i").toggleClass("fa-caret-down fa-caret-up");
      $("#item-lists").toggleClass("hidden");
    })
  </script>
{% endblock %}
