{% extends "_base.html" %}

{% block head %}
<style>
  .container.main-content {
    display: none;
  }

  img.ndee-banner {
    object-position: center 70%;
  }

  .search-box-wrapper {
    max-width: 750px;
  }

  .search-box {
    height: 58px;
    font-size: 20px;
  }

  #item-lists .badge {
    width: 30px;
    display: inline-block;
  }

  .item-title {
    max-width: calc(100% - 55px);
  }

  section:last-of-type {
    margin-bottom: 2rem;
  }
</style>
{% endblock %}

{% block content %}

<!-- close container -->
</div>

<img class="ndee-banner" src="https://i.imgur.com/bF4qdQq.jpg">

<!-- open container -->
<div class="container">
  <h1>Library</h1>

  {% include "peeide/_library.search.html" %}

  <section id="item-lists">
    <div class="row">
      <div class="col">
        <h2>Sectors</h2>
        <div class="list-group list-group-flush">
          {% for each in sectors %}
            <a href="{% url 'peeide:sector' each.id %}" class="list-group-item list-group-item-action">
              <span class="badge bg-ndee-primary text-light align-top mr-3 mt-1">{{ each.total }}</span>
              <span class="d-inline-block item-title">{{ each }}</span>
            </a>
          {% endfor %}
        </div>
      </div>

      <div class="col">
        <h2>Technologies</h2>
        <div class="list-group list-group-flush">
          {% for each in technologies %}
            <a href="{% url 'peeide:sector' each.id %}" class="list-group-item list-group-item-action">
              <span class="badge bg-ndee-primary text-light align-top mr-3 mt-1">{{ each.total }}</span>
              <span class="d-inline-block item-title">{{ each }}</span>
            </a>
          {% endfor %}
        </div>
      </div>
    </div>
  </section>

<!-- </div> no need to close this container, it's already done above -->

{% endblock %}
