{% extends "_base.html" %}

{% load static %}

{% block title %}News{% endblock %}

{% block head %}
<style>
  .container.main-content {
    display: none;
  }

  img.ndee-banner {
    object-position: center 70%;
  }

  #newsletter-form {
    width: 100%;
  }
</style>
{% endblock %}


{% block content %}

<!-- close container -->
</div>

<img class="ndee-banner" src="https://i.imgur.com/bF4qdQq.jpg">

<!-- open container -->
<div class="container">
  <h1 class="mb-4">Resources and community</h1>

  <div class="border rounded p-3 bg-light mb-4 d-inline-block">
    <h5 class="mb-3">
      <i class="fal fa-newspaper mr-2"></i> Sign up to the nDEE newsletter to get our latest news straight to your inbox
    </h5>

    <form id="newsletter-form" action="https://digitalenergyenvironment.groups.io/g/all/signup?u=5607149713587679406" method="post" id="groupsio-embedded-subscribe-form" name="groupsio-embedded-subscribe-form" target="_blank">
      <div class="input-group">
        <input type="email" value="" name="email" class="form-control" id="email" placeholder="Email address" required>
        <div class="input-group-append">
          <button type="submit" value="Subscribe" name="subscribe" id="groupsio-embedded-subscribe" class="btn btn-ndee-primary rounded-right px-4">
            <i class="fa fa-paper-plane"></i> Subscribe
          </button>
        </div>
      </div>
    </form>
  </div>

  <section>
    <div class="row">
      {% for each in shortlist %}
        <div class="col-lg-4 mb-sm-4 mb-lg-0">
          <a class="card btn-card" href="{{ each.slug }}/">
            {% if each.image %}
              <img src="{{ each.image.url }}" class="card-img-top" alt="">
            {% endif %}
            <div class="card-body">
              <h5 class="card-title">
                {{ each }}
                <small class="d-inline-block text-muted">{{ each.date }}</small>
              </h5>
              <p class="card-text">
                {{ each.introduction }}
              </p>
            </div>
          </a>
        </div>
      {% endfor %}
    </div>
  </section>

  <section>
    <div class="row">
      {% for each in list %}
        <div class="col-lg-6 mb-3">
          <a href="{{ each.slug }}/" class="card btn-card">
            <div class="card-body media">
              {% if each.image %}
                <img class="rounded" src="{{ each.image.url }}" alt="">
              {% endif %}
              <div class="media-body pl-3">
                <h5 class="mb-0">
                  <span class="mr-1">{{ each }}</span>
                  <small class="d-inline-block text-muted">{{ each.date }}</small>
                </h5>
              </div>
            </div>
          </a>
        </div>
      {% endfor %}
    </div>
  </section>

<!-- </div> no need to close this container, it's already done above -->

{% endblock %}

{% block footer %}
{% endblock %}
