{% extends "_base.html" %}

{% load static %}

{% block title %}News{% endblock %}

{% block head %}
<style>
  .container.main-content {
    display: none;
  }

  img.ndee-banner {
    object-position: center 70%;
  }

  #newsletter-form {
    width: 100%;
  }
</style>
{% endblock %}


{% block content %}

<!-- close container -->
</div>

<img class="ndee-banner" src="{% static 'img/deers.jpg' %}">

<!-- open container -->
<div class="container">
  <h2 class="mb-4 text-ndee-primary">{{ webpage }}</h2>

  <section>
    <div class="row">
      <div class="col-lg-8">
        {{ webpage.get_description }}
      </div>
    </div>
  </section>

  <section>
    <div class="row">
      {% for each in list %}
        <div class="col-lg-4 col-md-6 mb-4">
          <a class="card btn-card border-0 bg-ndee-light-blue" href="{{ each.slug }}/">
            {% if each.image %}
              <!-- <img src="{{ each.image.url }}" class="card-img-top" alt=""> -->
            {% endif %}
            <div class="card-body">
              <strong class="d-block text-uppercase text-ndee-purple text-sm mb-3">{{ each.date|date:"d F Y" }}</strong>
              <h6 class="card-title font-weight-bold">{{ each }}</h6>
              <p class="text-sm">
                {{ each.description|truncatewords_html:"20" }}
              </p>
            </div>
          </a>
        </div>
      {% endfor %}
    </div>
  </section>
</div>

{% include "peeide/_newsletter-signup.html" %}

{% endblock %}

{% block footer %}
{% endblock %}
