{% extends "_base.html" %}

{% load static %}

{% block head %}
  <style>
    .container.main-content {
      display: none;
    }

    img.ndee-banner {
      object-position: center 70%;
    }

    .row-people img {
      border-radius: 100%;
      width: 100px;
      height: 100px;
      object-fit: cover;
    }
  </style>
{% endblock %}

{% block content %}

<!-- close container -->
</div>

<img class="ndee-banner" src="{{ header_image.image.url }}">

<!-- open container -->
<div class="container">
  <section>
    <h2 class="text-ndee-primary">{{ webpage }}</h2>

    <div class="row">
      <div class="col-lg-8">
        {{ webpage.get_description }}
      </div>
    </div>
  </section>

  <section>
    <h3 class="mb-4">Our Team</h3>

    <div class="row row-people">
      {% for each in team %}
        <div class="col-lg-6 mb-4">
          <div class="row">
            <div class="col-3">
              <img src="{{ each.image.thumbnail.url }}" alt="">
            </div>
            <div class="col-9">
              <h6 class="mb-0 text-ndee-primary text-uppercase">{{ each }}</h6>
              {% if each.affiliation %}
                <div>{{ each.affiliation }}</div>
              {% endif %}
              {% if each.description %}
                <div class="text-sm">{{ each.description }}</div>
              {% endif %}
              <div class="pt-1">
                {% if each.website %}
                  <a target="_blank" href="{{ each.website }}" class="mr-2">
                    <i class="far fa-link"></i>
                  </a>
                {% endif %}
                {% if each.twitter %}
                  <a target="_blank" href="https://twitter.com/{{ each.twitter }}" class="mr-2">
                    <i class="fab fa-twitter"></i>
                  </a>
                {% endif %}
                {% if each.linkedin %}
                  <a href="https://linkedin.com/in/{{ each.linkedin }}" class="mr-2">
                    <i class="fab fa-linkedin"></i>
                  </a>
                {% endif %}
                {% if each.researchgate %}
                  <a href="{{ each.researchgate }}" class="mr-2">
                    <i class="fab fa-researchgate"></i>
                  </a>
                {% endif %}
              </div>
            </div>
          </div>
        </div>
      {% endfor %}
    </div>
  </section>

  <section>
    <h3 class="mb-4">Supported Researchers</h3>

    <div class="row row-people">
      {% for each in network %}
        <div class="col-lg-6 mb-4">
          <div class="row">
            <div class="col-3">
              <img src="{{ each.image.thumbnail.url }}" alt="">
            </div>
            <div class="col-9">
              <h6 class="mb-0 text-ndee-primary text-uppercase">{{ each }}</h6>
              {% if each.affiliation %}
                <div>{{ each.affiliation }}</div>
              {% endif %}
              <div class="pt-1">
                {% if each.website %}
                  <a target="_blank" href="{{ each.website }}" class="mr-2">
                    <i class="far fa-link"></i>
                  </a>
                {% endif %}
                {% if each.twitter %}
                  <a target="_blank" href="https://twitter.com/{{ each.twitter }}" class="mr-2">
                    <i class="fab fa-twitter"></i>
                  </a>
                {% endif %}
                {% if each.linkedin %}
                  <a href="https://linkedin.com/in/{{ each.linkedin }}" class="mr-2">
                    <i class="fab fa-linkedin"></i>
                  </a>
                {% endif %}
                {% if each.researchgate %}
                  <a href="{{ each.researchgate }}" class="mr-2">
                    <i class="fab fa-researchgate"></i>
                  </a>
                {% endif %}
              </div>
            </div>
          </div>
        </div>
      {% endfor %}
    </div>
  </section>
</div>

{% include "peeide/_newsletter-signup.html" %}

<!-- </div> no need to close this container, it's already done above -->

{% endblock %}
