{% extends "_base.html" %}

{% block head %}
<style>
  .container.main-content {
    display: none;
  }

  img.ndee-banner {
    object-position: center 70%;
  }

  .row-people img {
    border-radius: 100%;
    width: 100px;
    height: 100px;
    object-fit: cover;
  }
</style>
{% endblock %}

{% block content %}

<!-- close container -->
</div>

<img class="ndee-banner" src="https://i.imgur.com/bF4qdQq.jpg">

<!-- open container -->
<div class="container">
  <section>
    <h1>{{ webpage }}</h1>

    {{ webpage.get_description }}
  </section>

  <section>
    <h2>Our team</h2>

    <div class="row row-people">
      {% for each in team %}
        <div class="col-lg-6 mb-4">
          <div class="row align-items-center">
            <div class="col-3">
              <img src="{{ each.image.thumbnail.url }}" alt="">
            </div>
            <div class="col-9">
              <h5 class="text-ndee-primary">{{ each }}</h5>
              {% if each.affiliation %}
                <div class="text-ndee-purple"><small>{{ each.affiliation }}</small></div>
              {% endif %}
              <div class="pt-2">
                {% if each.website %}
                  <a target="_blank" href="{{ each.website }}" class="mr-2">
                    <i class="far fa-link"></i>
                  </a>
                {% endif %}
                {% if each.twitter %}
                  <a target="_blank" href="{{ each.twitter }}" class="mr-2">
                    <i class="fab fa-twitter"></i>
                  </a>
                {% endif %}
                {% if each.linkedin %}
                  <a href="{{ each.linkedin }}" class="mr-2">
                    <i class="fab fa-linkedin"></i>
                  </a>
                {% endif %}
                {% if each.researchgate %}
                  <a href="{{ each.researchgate }}" class="mr-2">
                    <i class="fab fa-researchgate"></i>
                  </a>
                {% endif %}
              </div>
              <!-- <a href="{% url URLS.PROFILE each.id %}" class="btn btn-ndee btn-ndee-sm btn-ndee-primary">View profile</a> -->
            </div>
          </div>
        </div>
      {% endfor %}
    </div>

  </section>

  <section>
    <h2>Our network</h2>

    <div class="row row-people">
      {% for each in network %}
        <div class="col-lg-6 mb-4">
          <div class="row pb-4">
            <div class="col-3">
              <img src="{{ each.image.thumbnail.url }}" alt="">
            </div>
            <div class="col-9">
              <h5 class="text-ndee-primary">{{ each }}</h5>
              {{ each.get_description|truncatewords_html:40 }}
              <div class="pt-2">
                {% if each.website %}
                  <a target="_blank" href="{{ each.website }}" class="mr-2">
                    <i class="far fa-link"></i>
                  </a>
                {% endif %}
                {% if each.twitter %}
                  <a target="_blank" href="{{ each.twitter }}" class="mr-2">
                    <i class="fab fa-twitter"></i>
                  </a>
                {% endif %}
                {% if each.linkedin %}
                  <a href="{{ each.linkedin }}" class="mr-2">
                    <i class="fab fa-linkedin"></i>
                  </a>
                {% endif %}
                {% if each.researchgate %}
                  <a href="{{ each.researchgate }}" class="mr-2">
                    <i class="fab fa-researchgate"></i>
                  </a>
                {% endif %}
              </div>
              <!-- <a href="{% url URLS.PROFILE each.id %}" class="btn btn-ndee btn-ndee-sm btn-ndee-primary">View profile</a> -->
            </div>
          </div>
        </div>
      {% endfor %}
    </div>
  </section>

<!-- </div> no need to close this container, it's already done above -->

{% endblock %}
