{% extends "_base.html" %}

{% block head %}
<style>
  .container.main-content {
    display: none;
  }

  img.ndee-banner {
    object-position: center 70%;
  }

  .project-image {
    height: 200px;
    width: 100%;
    object-fit: cover;
  }
</style>
{% endblock %}

{% block content %}

<!-- close container -->
</div>

<img class="ndee-banner" src="https://i.imgur.com/bF4qdQq.jpg">

<!-- open container -->
<div class="container">
  <h1>{{ webpage }}</h1>

  {{ webpage.get_description }}

  <h2>Research</h2>

  <div class="row mb-4">
    {% for each in research %}
      <div class="col-md-6 col-lg-4 mb-4">
        <div class="p-3 bg-ndee-light-blue rounded">
          <h5 class="text-ndee-primary mb-2">{{ each }}</h5>
          {{ each.get_description }}

          <a class="btn btn-ndee bg-ndee-primary text-white btn-ndee-sm" href="{{ each.url }}">Read more</a>
        </div>
      </div>
    {% endfor %}
  </div>

  <h2>Projects</h2>

  <div class="row mb-4">
    {% for each in projects %}
      <div class="col-md-6 col-lg-4 mb-4">
        <img class="rounded-top project-image" src="{{ each.image.thumbnail.url }}" alt="{{ each }} image">
        <div class="p-3 bg-ndee-light-blue rounded">
          <h5 class="text-ndee-primary mb-0">{{ each }}</h5>
          <div class="text-ndee-purple mb-2">{{ each.meta_data.project_leader }}</div>
          {{ each.get_description }}


          <a class="btn btn-ndee bg-ndee-primary text-white btn-ndee-sm" href="{{ each.url }}">Read more</a>
        </div>
      </div>
    {% endfor %}
  </div>

<!-- </div> no need to close this container, it's already done above -->

{% endblock %}
