{% extends "_base.html" %}

{% block head %}
<style>
  .container.main-content {
    display: none;
  }

  img.ndee-banner {
    object-position: center 70%;
  }

  .project-image {
    height: 200px;
    width: 100%;
    object-fit: cover;
  }

  .project-text {
    min-height: calc(100% - 200px);
  }

  .project-leads {
    font-size: .75rem;
  }

  .single-research {
    position: relative;
    overflow: hidden;
    height: 100%;
  }

  .single-research i {
    font-size: 5rem;
    margin-top: 1rem;
  }

  .single-research .description p:last-of-type {
    margin-bottom: 0;
  }
</style>
{% endblock %}

{% block content %}

<!-- close container -->
</div>

<img class="ndee-banner" src="https://i.imgur.com/bF4qdQq.jpg">

<!-- open container -->
<div class="container">
  <section>
    <h2>{{ webpage }}</h2>

    <div class="row">
      <div class="col-lg-8">
        {{ webpage.get_description }}
      </div>
    </div>
  </section>

  <section>
    <h3 class="mb-4">Research</h3>

    <div class="row research">
      {% for each in research %}
        <div class="col-md-6 col-lg-4 mb-4">
          <div class="p-4 bg-ndee-light-blue rounded single-research">
            <h5 class="text-ndee-primary font-weight-bold">{{ each }}</h5>
            <div class="description text-sm">{{ each.get_description }}</div>
            <div class="text-center"><i class="fal fa-{{ each.icon }} text-ndee-primary"></i></div>
          </div>
        </div>
      {% endfor %}
    </div>
  </section>

  <section>
    <h3 class="mb-4">Projects</h3>

    <div class="row projects">
      {% for each in projects %}
        <div class="col-md-6 col-lg-4 mb-4">
          <a class="border rounded btn-card d-block" target="_blank" href="{{ each.url }}">
            {% if each.image %}
              <img class="rounded-top project-image" src="{{ each.image.thumbnail.url }}" alt="{{ each }} image">
            {% endif %}
            <div class="p-3 mt-3 rounded project-text">
              <h5 class="text-ndee-primary font-weight-bold">{{ each }}</h5>
              <div class="text-dark">{{ each.get_description }}</div>
            </div>
          </a>
        </div>
      {% endfor %}
    </div>
  </section>
</div>

{% include "peeide/_newsletter-signup.html" %}

{% endblock %}
