{% extends "_base.html" %}

{% block content %}
  
  {% if request.method != "POST" %}

    <h1>{{ title }}</h1>
    <p>Is anything missing from our bibliography? Let us know by filling out the form below.</p>

    <form method="post">

      <div class="row form-group">
        <label class="col-sm-2 control-label">Details</label>
        <div class="col-sm-10">
          <textarea class="form-control" rows="10" name="details" required></textarea>
        </div>
      </div>

      <div class="row form-group">
        <label class="col-sm-2 control-label">Your name</label>
        <div class="col-sm-10">
          <input class="form-control" type="text" name="name" />
        </div>
      </div>
      
      <div class="row form-group">
        <label class="col-sm-2 control-label">E-mail</label>
        <div class="col-sm-10">
          <input class="form-control" type="email" name="email" />
        </div>
      </div>

      <div class="row form-group">
        <div class="offset-sm-2 col-sm-5">
          <button type="submit" class="btn btn-ndee btn-ndee-primary">
            <i class="fal fa-envelope-open-text"></i> Submit
          </button>
        </div>
        <div class="col-sm-5 text-right">
          <a class="btn btn-ndee btn-ndee-primary-outline" href="{% url 'peeide:page' 'bibliography' %}">
            <i class="fal fa-arrow-left"></i> Back to bibliography
          </a>
        </div>
      </div>
      
      {% csrf_token %}

    </form>

  {% endif %}

{% endblock %}
