{% extends "_base.html" %}
{% load bootstrap4 %}

{% block content %}

  {% include "socialmedia/_nav.html" %}

  <form method="post">
    {% bootstrap_form form layout="horizontal" %}

    {% buttons %}
      <div class="row">
        <div class="offset-md-3 col-md-9">
          <button type="submit" class="btn btn-success">
            <i class="fa fa-fw fa-save"></i>
            Save
         </button>
        </div>
      </div>
    {% endbuttons %}

    {% csrf_token %}
  </form>

  <a href="javascript:history.back()" class="btn btn-primary-basic mt-4">
    <i class="fal fa-angle-left"></i>
    Back
  </a>

{% endblock %}

{% block footer %}
<script>
  $("#id_color").attr("type", "color");
</script>
{% endblock %}
