{% extends "_base.html" %}

{% block content %}

  {% include "socialmedia/_nav.html" %}

  <table class="table table-striped datatable">
    <thead>
      <tr>
        <th>Date</th>
        <th>Campaign</th>
        <th>Title</th>
        <th>Status</th>
        <th>Text</th>
        <th>Image</th>
        <th>Platform(s)</th>
      </tr>
    </thead>
    <tbody>
    {% for each in list %}
      <tr>
        <td data-sort="{{ each.date|date:"YmdHis" }}" class="text-nowrap">{{ each.date|date:"M d" }}</td>
        <td class="text-nowrap"><span style="background:{{ each.campaign.color }}" class="p-2">{{ each.campaign }}</span></td>
        <td><a href="{% url "core:socialmedia_form" each.id %}">{{ each|truncatewords:7 }}</a></td>
        <td>{{ each.get_status_display }}</td>
        <td>{{ each.description|truncatewords:10 }}</td>
        <td>{% if each.image %}<a href="{{ each.image.url }}"><i class="fa fa-check"></i></a>{% endif %}</td>
        <td>{% for platform in each.platforms.all %}<i class="mr-2 fa fa-{{ platform.icon }}"></i>{% endfor %}</td>
      </tr>
    {% endfor %}
    </tbody>
  </table>

  <a class="btn btn-default-outline" href="{% url "core:socialmedia_form_search" %}"><i class="fal fa-plus" aria-hidden="true"></i> Add</a>

{% endblock %}
