{% extends "_base.html" %}

{% block title %}Address search{% endblock %}

{% block css %}
{% endblock %}

{% block content %}
  <form method="submit" class="address-search">
    <input type="text" class="form-control" placeholder="Type in your address" id="autocomplete-search" name="address">
    <div id="autocomplete-results" class="mt-3"></div>
    <input id="lat" type="text" name="lat" placeholder="Latitude">
    <input id="lon" type="text" name="lng" placeholder="Longitude">
    <input id="formatted" type="text" name="formatted" placeholder="Formatted address">
    <input id="country" type="text" name="country" placeholder="Country">
    <input id="state" type="text" name="state" placeholder="State">
    <input id="city" type="text" name="city" placeholder="City">
    <input id="street" type="text" name="street" placeholder="Street">
    <input id="housenumber" type="text" name="housenumber" placeholder="House number">
    <input id="postcode" type="text" name="postcode" placeholder="Postal code">
    <button class="btn btn-primary" type="submit" id="submit-coordinates" hidden>
      <i class="fas fa-paper-plane"></i>
      Submit
    </button>
  </form>
{% endblock %}

{% block footer %}
  <script>
    // these coordinates indicate where the search should prioritise, making the search more relevant
    const priorityLat = "50.8435";
    const priorityLon = "4.3688";

    function autoComplete(term) {
      $.get("https://api.geoapify.com/v1/geocode/autocomplete?text="+ term + "&lat=" + priorityLat + "&lon=" + priorityLon + "&apiKey={{ geoapify_api }}")
      .done(function(response) {
        showAutocompleteResults(response)
      })
      .fail(function() {
        $("#autocomplete-results").html("<p>Address lookup failed, please reload the page and try again.")
      })
    };

    $("#autocomplete-search").keyup(function() {
      let searchTerm = $("#autocomplete-search").val()
      searchTerm = searchTerm.trim().replace(/\s/g,"+")

      if (searchTerm.length > 4) {
        autoComplete(searchTerm);
      };

      $("#submit-coordinates").attr("hidden", "hidden");
      $(".single-autocomplete-result").removeClass("selected")
    })

    function showAutocompleteResults(results) {
      $("#autocomplete-results").html("");
      $(results.features).each(function() {
        $("#autocomplete-results").append("<div class='single-autocomplete-result' data-lon='" + this.properties.lon + "' data-lat='" + this.properties.lat + "' data-formatted='" + this.properties.formatted + "' data-country='" + this.properties.country + "' data-state='" + this.properties.state + "' data-city='" + this.properties.city + "' data-street='" + this.properties.street + "' data-housenumber='" + this.properties.housenumber + "' data-postcode='" + this.properties.postcode + "'>" + this.properties.formatted + "</div>")
      });
      enableResultFunction()
    };

    function enableResultFunction() {

      $(".single-autocomplete-result").click(function() {
        $(".single-autocomplete-result").removeClass("selected")
        $(this).addClass("selected");

        $("input#lat").val( $(this).data("lat") );
        $("input#lon").val( $(this).data("lon") );
        $("input#formatted").val( $(this).data("formatted") );
        $("input#country").val( $(this).data("country") );
        $("input#state").val( $(this).data("state") );
        $("input#city").val( $(this).data("city") );
        $("input#street").val( $(this).data("street") );
        $("input#housenumber").val( $(this).data("housenumber") );
        $("input#postcode").val( $(this).data("postcode") );

        $("#submit-coordinates").removeAttr("hidden");
      })
    }
  </script>
{% endblock %}
