  {% extends '_base.html' %}
  {% load static %}
  {% block title %}Icon buttons{% endblock %}

  {% block content %}
  <div class="row mb-4">
    <div class="col-lg-4 col-md-6 col-sm-8">
      <h3>Standard card</h3>
      <div class="card">
        <img src="https://metabolismofcities.org/media/photos/32500830212_69e4954085_k.large.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>
    </div>

    <div class="col-lg-4 col-md-6 col-sm-8">
      <h3>Card with list</h3>
      <div class="card">
        <ul class="list-group list-group-flush">
          <li class="list-group-item">
            <i class="far fa-fw fa-map-marker-alt mr-1" aria-hidden="true"></i> New York, USA
          </li>
          <li class="list-group-item">
            <i class="far fa-fw fa-calendar mr-1" aria-hidden="true"></i> 16 March 2020 - 22 March 2020
          </li>
          <li class="list-group-item">
            <i class="far fa-fw fa-link mr-1" aria-hidden="true"></i> <a href="#">Official website</a>
          </li>
          <li class="list-group-item">
            <i class="far fa-fw fa-tag mb-1 mr-1" aria-hidden="true"></i> Type of event
            <br>
            <a class="btn btn-sm btn-primary-outline mt-1" href="">Other</a>
          </li>
          <a href="#" class="list-group-item">
            <div href="#">Hacking for Human Rights in Cape Town</div>
            <div class="text-muted mb-0">2 March 2020</div>
          </a>
          <a href="#" class="list-group-item">
            <div href="#">Reflections on Urban Metabolism In Policy And Practice: Cape Town</div>
            <div class="text-muted mb-0">1 March 2020</div>
          </a>
        </ul>
      </div>
    </div>
    <div class="col-lg-4 col-md-6 col-sm-8">
      <h3>Card with header and table</h3>
      <div class="card">
        <div class="card-header">
          Overview
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">
            <i class="far fa-fw fa-map-marker-alt mr-1" aria-hidden="true"></i> Brussels, Belgium
          </li>
          <li class="list-group-item">
            <i class="far fa-fw fa-calendar mr-1" aria-hidden="true"></i> 01 January 2012 - 31 December 2017
          </li>
          <li class="list-group-item">
            <i class="far fa-fw fa-flask mb-1 mr-1" aria-hidden="true"></i> Materials
            <br>
            <a class="btn btn-sm btn-primary-outline mt-1" href="">Agricultural products</a>
          </li>
          <li class="list-group-item table-item">
            <div><i class="far fa-fw fa-dot-circle mr-1"></i> Data points</div>
            <div>13</div>
          </li>
          <li class="list-group-item table-item">
            <div><i class="far fa-fw fa-database mr-1"></i> Source(s)</div>
            <div><a href="https://metabolismofcities.org/resources/publications/851">Freight Transport</a></div>
          </li>
          <li class="list-group-item table-item">
            <div><i class="far fa-fw fa-user mr-1"></i> Uploaded by</div>
            <div><a href="">Fulano de Tal</a></div>
          </li>
          <li class="list-group-item table-item">
            <div><i class="far fa-fw fa-calendar-day mr-1"></i> Upload date</div>
            <div>12 March 2018</div>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="row mb-4">
    <div class="col-lg-4 col-md-6 col-sm-8">
      <h3>Card button</h3>
      <a class="card btn-card" href="#">
        <img src="https://metabolismofcities.org/media/photos/the-hague-1491554_1920.large.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">The Hague, The Netherlands</h5>
          <h6 class="card-subtitle mb-2 text-muted">23 datasets</h6>
        </div>
      </a>
    </div>
  </div>
  {% endblock %}