  {% extends '_base.html' %}
  {% load static %}
  {% block title %}City overview page{% endblock %}
  {% block content %}
  <div class="row">
    <div class="col-lg-4 col-md-6 col-sm-8 mb-4">
      <a class="card btn-card" href="#">
        <img src="https://metabolismofcities.org/media/photos/Brussels.large.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Brussels, Belgium</h5>
          <h6 class="card-subtitle mb-2 text-muted">27 datasets</h6>
        </div>
      </a>
    </div>
    <div class="col-lg-4 col-md-6 col-sm-8 mb-4">
      <a class="card btn-card" href="#">
        <img src="https://metabolismofcities.org/media/photos/32500830212_69e4954085_k.large.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Cape Town, South Africa</h5>
          <h6 class="card-subtitle mb-2 text-muted">19 datasets</h6>
        </div>
      </a>
    </div>
    <div class="col-lg-4 col-md-6 col-sm-8 mb-4">
      <a class="card btn-card" href="#">
        <img src="https://metabolismofcities.org/media/photos/the-hague-1491554_1920.large.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">The Hague, The Netherlands</h5>
          <h6 class="card-subtitle mb-2 text-muted">142 datasets</h6>
        </div>
      </a>
    </div>
    <div class="col-lg-4 col-md-6 col-sm-8 mb-4">
      <a class="card btn-card" href="#">
        <img src="https://metabolismofcities.org/media/photos/Montreal.large.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Montreal, Canada</h5>
          <h6 class="card-subtitle mb-2 text-muted">2 datasets</h6>
        </div>
      </a>
    </div>
  </div>
  {% endblock %}