{% extends '_base.html' %}
{% load static %}
{% block title %}Contribute Message{% endblock %}
{% block content %}
<div class="card contribute">
  <div class="card-body">
    <h4 class="card-title font-weight-bold">Contribute</h4>
    <p class="card-text">Do you see any errors or do you know of any missing information?</p>
    <a class="btn btn-secondary" href="#">Contact us</a>
    <a class="btn btn-secondary-outline" href="#">Add your own project</a>
  </div>
</div>
{% endblock %}
{% block footer %}
{% endblock %}