{% extends "_base.html" %}
{% load static %}

{% block title %}Datatables{% endblock %}

{% block css %}
  <link href="{% static "css/datatables.min.css" %}" rel="stylesheet" />
{% endblock %}

{% block content %}
  <table id="example" class="table table-striped">
    <thead>
      <tr>
        <th>Column 1</th>
        <th>Column 2</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>kopano</td>
        <td>yamkela</td>
      </tr>
      <tr>
        <td>sizwe</td>
        <td>vusi</td>
      </tr>
      <tr>
        <td>ntandazo</td>
        <td>khangelani</td>
      </tr>
      <tr>
        <td>thuliswa</td>
        <td>amkele</td>
      </tr>
      <tr>
        <td>ntando</td>
        <td>phumezo</td>
      </tr>
      <tr>
        <td>khuselo</td>
        <td>mpemey</td>
      </tr>
      <tr>
        <td>zobuyo</td>
        <td>thembela</td>
      </tr>
      <tr>
        <td>siphamandla</td>
        <td>akhanyile</td>
      </tr>
      <tr>
        <td>phumlani</td>
        <td>khuselo</td>
      </tr>
      <tr>
        <td>thembela</td>
        <td>ntandazo</td>
      </tr>
      <tr>
        <td>likhona</td>
        <td>yamkela</td>
      </tr>
      <tr>
        <td>phumlani</td>
        <td>khuselo</td>
      </tr>
      <tr>
        <td>vusi</td>
        <td>kopano</td>
      </tr>
      <tr>
        <td>thuliswa</td>
        <td>amkele</td>
      </tr>
      <tr>
        <td>siphamandla</td>
        <td>akhanyile</td>
      </tr>
      <tr>
        <td>phumezo</td>
        <td>ntandazo</td>
      </tr>
      <tr>
        <td>thembela</td>
        <td>ntandazo</td>
      </tr>
      <tr>
        <td>ntando</td>
        <td>phumezo</td>
      </tr>
      <tr>
        <td>siphamandla</td>
        <td>akhanyile</td>
      </tr>
    </tbody>
  </table>
{% endblock %}

{% block footer %}
  <script src="{% static "js/datatables.min.js" %}"></script>
  <script>
    $("table").DataTable();
  </script>
{% endblock %}
