{% extends "_base.html" %}

{% block title %}Image grid{% endblock %}

{% block content %}
  <div class="row">
    <div class="col-lg-3 col-sm-6 mb-4">
      <a href="#" class="btn-thumbnail" style="background-image: url('/static/img/agriculture.jpg');">
        <span class="title">Agriculture</span>
      </a>
    </div>
    <div class="col-lg-3 col-sm-6 mb-4">
      <a href="#" class="btn-thumbnail" style="background-image: url('/static/img/construction.jpg');">
        <span class="title">Construction</span>
      </a>
    </div>
    <div class="col-lg-3 col-sm-6 mb-4">
      <a href="#" class="btn-thumbnail" style="background-image: url('/static/img/energy.jpg');">
        <span class="title">Energy</span>
      </a>
    </div>
    <div class="col-lg-3 col-sm-6 mb-4">
      <a href="#" class="btn-thumbnail" style="background-image: url('/static/img/fishing.jpg');">
        <span class="title">Fishing</span>
      </a>
    </div>
    <div class="col-lg-3 col-sm-6 mb-4">
      <a href="#" class="btn-thumbnail" style="background-image: url('/static/img/forestry.jpg');">
        <span class="title">Forestry</span>
      </a>
    </div>
    <div class="col-lg-3 col-sm-6 mb-4">
      <a href="#" class="btn-thumbnail" style="background-image: url('/static/img/manufacturing.jpg');">
        <span class="title">Manufacturing</span>
      </a>
    </div>
    <div class="col-lg-3 col-sm-6 mb-4">
      <a href="#" class="btn-thumbnail" style="background-image: url('/static/img/mining.jpg');">
        <span class="title">Mining</span>
      </a>
    </div>
    <div class="col-lg-3 col-sm-6 mb-4">
      <a href="#" class="btn-thumbnail" style="background-image: url('/static/img/retail.jpg');">
        <span class="title">Retail and wholesale</span>
      </a>
    </div>
    <div class="col-lg-3 col-sm-6 mb-4">
      <a href="#" class="btn-thumbnail" style="background-image: url('/static/img/transport.jpg');">
        <span class="title">Transport</span>
      </a>
    </div>
    <div class="col-lg-3 col-sm-6 mb-4">
      <a href="#" class="btn-thumbnail" style="background-image: url('/static/img/waste.jpg');">
        <span class="title">Waste</span>
      </a>
    </div>
    <div class="col-lg-3 col-sm-6 mb-4">
      <a href="#" class="btn-thumbnail" style="background-image: url('/static/img/water.jpg');">
        <span class="title">Water</span>
      </a>
    </div>
  </div>
{% endblock %}
