  {% extends '_base.html' %}
  {% load static %}
  {% load sass_tags %}
  {% block title %}Icon buttons{% endblock %}
  {% block content %}
  <div class="row">
    <div class="col-lg-12 col-xl-12">
      <a class="btn-icon" href="/cities/the-hague/datasets/">
        <div class="title"><i class="fal fa-chart-area fa-fw"></i> Datasets</div>
        <div class="text">Explore datasets on material flows, stocks, consumption, and more</div>
      </a>
    </div>
    <div class="col-lg-4 col-xl-4">
      <a class="btn-icon" href="/cities/the-hague/datasets/">
        <div class="title"><i class="fal fa-globe-africa fa-fw"></i> Maps</div>
        <div class="text">View boundaries, micro-territorial units, infrastructure maps, and more</div>
      </a>
    </div>
    <div class="col-lg-3 col-xl-3">
      <a class="btn-icon" href="/cities/the-hague/datasets/">
        <div class="title"><i class="fal fa-books fa-fw"></i> Journal articles</div>
        <div class="text">Relevant academic literature published in peer-reviewed journals</div>
      </a>
    </div>
    <div class="col-lg-5 col-xl-5">
      <a class="btn-icon" href="/cities/the-hague/datasets/">
        <div class="title"><i class="fal fa-file-alt fa-fw"></i> Reports</div>
        <div class="text">Governmental reports, institutional reports, corporate reports, and other relevant reports </div>
      </a>
    </div>
    <div class="col-lg-6 col-xl-6">
      <a class="btn-icon" href="/cities/the-hague/datasets/">
        <div class="title"><i class="fal fa-graduation-cap fa-fw"></i> Theses</div>
        <div class="text">Academic theses, dissertations, and other relevant academic work </div>
      </a>
    </div>
    <div class="col-lg-6 col-xl-6">
      <a class="btn-icon" href="/cities/the-hague/datasets/">
        <div class="title"><i class="fal fa-images fa-fw"></i> Photos</div>
        <div class="text">View photos of resource infrastructure, material flows, and more </div>
      </a>
    </div>
  </div>
  {% endblock %}