{% extends "_base.html" %}

{% block page_name %}{% endblock %}

{% block title %}Template index{% endblock %}

{% block css %}
{% endblock %}

{% block subtitle %}{% endblock %}

{% block content %}
  <p>Please find ready-to-use templates in the "template" folder. You can find the following items there:</p>
  <h2>General snippets and content</h2>
  <ul>
    <li><a href="{% url 'core:template' 'blank' %}">blank.html: Blank page with all possible (empty) blocks</a></li>
    <li><a href="{% url 'core:template' 'grid' %}">grid.html: Image grid</a></li>
    <li><a href="{% url 'core:template' 'contribute' %}">contribute.html: contribute box</a></li>
    <li><a href="{% url 'core:template' 'icon-button' %}">icon-button.html: icon-buttons</a></li>
    <li><a href="{% url 'core:template' 'card' %}">card.html: card</a></li>
    <li><a href="{% url 'core:template' 'icon-card' %}">icon-card.html: icon cards</a></li>
    <li><a href="{% url 'core:template' 'button' %}">button.html: buttons</a></li>
    <li><a href="{% url 'core:template' 'lightbox' %}">lightbox.html: photo gallery with viewer</a></li>
    <li><a href="{% url 'core:template' 'full-width' %}">full-width.html: full width body content</a></li>
    <li><a href="{% url 'core:template' 'form' %}">form.html: modelform factory sample</a></li>
    <li><a href="{% url 'core:template' 'browse-list' %}">browse-list.html: browse list (with search filter)</a></li>
    <li><a href="{% url 'core:template' 'avatar' %}">avatar.html: circular images of people</a></li>
    <li><a href="{% url 'core:template' 'dual-iconbox' %}">dual-iconbox.html: dual iconbox</a></li>
    <li><a href="{% url 'core:template' 'placeholder' %}">placeholder.html: placeholder image</a></li>
    <li><a href="{% url 'core:template' 'tinymce' %}">tinymce.html: tinymce editor</a></li>
  </ul>

  <h2>Javascript plugins</h2>
  <ul>
    <li><a href="{% url 'core:template' 'flowdiagram' %}">flowdiagram.html: Mermaid flow diagram</a></li>
    <li><a href="{% url 'core:template' 'sankey' %}">sankey.html: Highcharts sankey</a></li>
    <li><a href="{% url 'core:template' 'map' %}">map.html: Leaflet map</a></li>
    <li><a href="{% url 'core:template' 'map-full' %}">map-full.html: Fully featured Leaflet map</a></li>
    <li><a href="{% url 'core:template' 'folium' %}">folium.html: Leaflet map made with Folium</a></li>
    <li><a href="{% url 'core:template' 'datatables' %}">datatables.html: Data tables</a></li>
    <li><a href="{% url 'core:template' 'select2' %}">select2.html: Select2 form plugin</a></li>
    <li><a href="{% url 'core:template' 'timeline' %}">timeline.html: TimelineJS</a></li>
    <li><a href="{% url 'core:template' 'sweetalerts' %}">sweetalerts.html: Sweet Alerts</a></li>
    <li><a href="{% url 'core:template' 'introjs' %}">introjs.html: IntroJS: explain elements on a page</a></li>
    <li><a href="{% url 'core:template' 'slideshow' %}">slideshow.html: Photo slideshow</a></li>
    <li><a href="{% url 'core:template' 'fancytree' %}">fancytree.html: Explore tree-based data structures</a></li>
    <li><a href="{% url 'core:template' 'fancytree-browser' %}">fancytree-browser.html: Browing tree-based data structures</a></li>
    <li><a href="{% url 'core:template' 'markdown' %}">markdown.html: A simple markdown toolbar for the forum</a></li>
    <li><a href="{% url 'core:template' 'address-search' %}">address-search.html: Find addresses using the Google Maps API</a></li>
  </ul>
{% endblock %}


{% block footer %}
{% endblock %}
