{% extends '_base.html' %}

{% block page_name %}{% endblock %}

{% block title %}Template index{% endblock %}

{% block css %}
{% endblock %}

{% block subtitle %}{% endblock %}

{% block content %}
  <p>Please find ready-to-use templates in the "template" folder. You can find the following items there:</p>
  <h2>General snippets and content</h2>
  <ul>
    <li><a href="{% url 'template' 'blank' %}">blank.html: Blank page with all possible (empty) blocks</a></li>
    <li><a href="{% url 'template' 'grid' %}">grid.html: Image grid</a></li>
    <li><a href="{% url 'template' 'contribute' %}">contribute.html: contribute box</a></li>
    <li><a href="{% url 'template' 'icon-button' %}">icon-button.html: icon-buttons</a></li>
    <li><a href="{% url 'template' 'card' %}">card.html: card</a></li>
    <li><a href="{% url 'template' 'button' %}">button.html: button</a></li>
  </ul>

  <h2>Javascript plugins</h2>
  <ul>
    <li><a href="{% url 'template' 'map' %}">map.html: Leaflet map</a></li>
    <li><a href="{% url 'template' 'datatables' %}">datatables.html: Data tables</a></li>
    <li><a href="{% url 'template' 'select2' %}">select2.html: Select2 form plugin</a></li>
    <li><a href="{% url 'template' 'timeline' %}">timeline.html: TimelineJS</a></li>
    <li><a href="{% url 'template' 'sweetalerts' %}">sweetalerts.html: Sweet Alerts</a></li>
    <li><a href="{% url 'template' 'introjs' %}">introjs.html: IntroJS: explain elements on a page</a></li>
  </ul>
{% endblock %}


{% block footer %}
{% endblock %}
