{% extends '_base.html' %}

{% block page_name %}{% endblock %}

{% block title %}Template index{% endblock %}

{% block css %}
{% endblock %}

{% block subtitle %}{% endblock %}

{% block content %}
  <p>Please find ready-to-use templates in the "template" folder. You can find the following items there:</p>
  <ul>
    <li><a href="{% url 'template' 'blank' %}">blank.html: Blank page with all possible (empty) blocks</a></li>
    <li><a href="{% url 'template' 'map' %}">map.html: Leaflet map</a></li>
    <li><a href="{% url 'template' 'grid' %}">grid.html: Image grid</a></li>
    <li><a href="{% url 'template' 'datatables' %}">datatables.html: Data tables</a></li>
    <li><a href="{% url 'template' 'project' %}">project.html: Single project page</a></li>
    <li><a href="{% url 'template' 'contribute' %}">contribute.html: contribute box</a></li>
    <li><a href="{% url 'template' 'icon-button' %}">icon-button.html: icon-buttons</a></li>
    <li>
      <a href="{% url 'template' 'cities' %}">cities.html: list of all cities</a>
      <ul>
        <li><a href="{% url 'template' 'city' %}">city.html: single city - overview page</a></li>
      </ul>
    </li>
    <li><a href="{% url 'template' 'card' %}">card.html: card</a></li>
    <li><a href="{% url 'template' 'button' %}">button.html: button</a></li>
  </ul>
{% endblock %}


{% block footer %}
{% endblock %}
