{% extends '_base.html' %}
{% load static %}
{% load sass_tags %}
{% block title %}Markdown{% endblock %}
{% block content %}

<div class="form-group markdown-textarea">
  {% include "_markdown.html" %}
  <textarea class="form-control mb-4" id="text" rows="30" name="text" required></textarea>
</div>

{% endblock %}

{% block footer %}
<!-- markdown toolbar - https://github.com/github/markdown-toolbar-element -->
<script src="https://unpkg.com/@github/markdown-toolbar-element@latest/dist/index.umd.js"></script>
{% endblock %}
