{% extends "_base.html" %}
{% load static %}
{% load sass_tags %}

{% block page_name %}our-story{% endblock %}

{% block title %}Our story{% endblock %}

{% block css %}
{% endblock %}

{% block content %}
  <div class="timeline">
    <div class="single-entry">
      <div class="title">2014</div>
      <p class="text">
        Metabolism of Cities was originally set up in 2014 by <a href="../../community/people/282">Paul Hoekman</a> (then called MFA Tools) to share information and tools around the topic of material flow analysis. From the start, this has been an open source project and people from the academic community were invited to collaborate.
      </p>
    </div>

    <div class="single-entry">
      <div class="title">2015</div>
      <p class="text">
        The first collaborators, <a href="../../community/people/608">Aristide Athanassiadis</a> and <a href="../../community/people/658">Gabriela Fernandez</a>, were both doing their PhDs on material flows analysis on an urban level and it was decided to specifically focus on cities and re-brand the website as Metabolism of Cities. The team continued to expand the website, focusing initially on adding publications, to the <a href="../../resources/publications">online library</a>. In this library, academic literature is indexed and tagged with keywords to make it easy for people to get an understanding of the available literature in the field.
      </p>

      <p class="text">
        All of this was initially an exclusively online collaboration, with the collaborators being based in South Africa, Belgium, and Italy. However, the first face-to-face meeting happened in Surrey during the ISIE 2015 conference. Already then, there was some interest from the research community to the platform, but Metabolism of Cities was still fairly unknown to most academics.
      </p>
    </div>

    <div class="single-entry">
      <div class="title">2016</div>
      <p class="text">
        A number of new tools and projects were rolled out that helped to spread the word. Thanks to the Stakeholders Initiative - which revolved around involving the wider community in our activities - a number of students and established professionals contributed to build an online database with data visualisations, and to vote for the best ones. A blog section was launched and the first blogs were posted. <a href="../../community/people/885">Rachel Spiegel</a> joined the group and the website continued to grow in content and reach.
      </p>
    </div>

    <div class="single-entry">
      <div class="title">2017</div>
      <p class="text">
        In 2017, the team collected data points from urban metabolism publications and made available an open, <a href="../../resources/data/gumd">global urban metabolism dataset</a>. New team member <a href="../../community/people/767">Joao Meirelles</a> presented the project at the ISIE 2017 conference, which was well-received by the industrial ecology community. This was the second face-to-face encounter between a number of Metabolism of Cities members, and this time the platform also featured a booth at the conference to further spread the word. It led to a number of collaborations and expanded academic interest in the platform. Furthermore, Aristide Athanassiadis recorded a series of interviews with urban researchers at the conference. Around this time, <a href="../../community/people/769">Yves Bettignies Cari</a>, <a href="../../community/people/381">Carolin Bellstedt</a> and <a href="../../community/people/886">Rupert J. Myers</a> joined the team.

      </p>
      <p class="text">
        In Milan, Gabriela Fernandez organised an education and awareness campaign around urban metabolism, material flows, climate change and the United Nations Sustainable Development Goals (SDGs), targeting minorities which included children, elderly, students and academics, homeless and refugees, women, people with disabilities, and LGBTI+ community. Gabriela Fernandez set up a collaboration with the Sustainable Development Solutions Network (SDSN) and Politecnico di Milano to develop a number of presentations, seminars, and workshops related to the SDGs. Metabolism of Cities furthermore became a member of <a href="http://localizingthesdgs.org/library/434/Metabolism-of-Cities.pdf">SDSN</a>.
      </p>

      <p class="text">
        In the same year, Metabolism of Cities became part of the <a href="https://resourceefficientcities.org/">Global Initiative for Resource-Efficient Cities</a> (GI-REC). This initiative, led by <a href="https://www.unenvironment.org/">UN Environment</a>, sought to increase the uptake of urban metabolism at policy level. Metabolism of Cities team members attended the Resilient Cities Conference in Bonn, Germany, and it marked the start of a collaboration with UN Environment around the topic of urban metabolism. One of the first outcomes was the development of a <a href="../../resources/tools/mooc">Massive Open Online Course</a> (MOOC) on urban metabolism for policy makers.

      </p>
    </div>

    <div class="single-entry">
      <div class="title">2018</div>
      <p class="text">
        The team slowly continued to expand and the need arose to formalise the group - which had so far been an informal gathering of people around an online platform. Therefore, "Metabolism of Cities" was registered as a non-profit organisation in Belgium. Following requests to assist other organisations in urban metabolism research and reporting, Metabolism of Cities started offering services for urban metabolism projects. Up to this point, the group and the organisation had operated without any funding. The funding permitted the organisation to engage in more ambitious projects and to organise the first "retreat" in mid-2018, which was a week-long get-together of five members of Metabolism of Cities, coming from four countries, with the primary goal to discuss the structure, vision, and ambitions of Metabolism of Cities.
      </p>

      <p class="text">
        In 2018, a number of other milestones were reached. Development of the <a href="../../cities">MultipliCity</a> project was started, aiming to provide an online data dashboard for cities and researchers alike. With help from Rupert Myers, the Yale Stocks and Flows Database structure was modified to be used in an online application. Work also started on a resource exchange platform for Buda, an industrial area in Brussels. In the background, a complete redesign of the website was initiated with a large number of new sections, tools, and features. A collaboration with island-metabolism researcher Simron Singh at Waterloo University led to the development of a sibling website called Metabolism of Islands. The prototype was launched in December 2018, with the official launch scheduled for March 2019.
      </p>

      <p class="text">
        Metabolism of Cities also obtained a grant from the <a href="https://urbanstudiesfoundation.org/">Urban Studies Foundation</a> to set up a series of urban metabolism seminars titled "Urban Metabolism in Policy and Practice: A Global Discussion", to be held in three cities in 2019.
      </p>
    </div>

    <div class="single-entry">
      <div class="title">2019</div>
      <p class="text">
        It looks like 2019 will be an exciting and busy year for Metabolism of Cities. If you have interest in urban metabolism and/or are keen to <a href="../../about/join">join the team</a>, then be sure to <a href="../../contact">get in touch</a>!</p>
      </p>
    </div>

    <div class="single-entry">
      <div class="title">2020</div>
      <p class="text">
        What will happen next?
      </p>
    </div>
  </div>
{% endblock %}

{% block footer %}
{% endblock %}
