{% extends "_base.html" %}

{% load static %}

{% block title %}Sankey{% endblock %}

{% block css %}
<style>
  #sandkey {
    height: 600px;
    width: 100%;
  }

  #container {
    min-width: 300px;
    height: 600px;
  }

  rect {
    shape-rendering: crispEdges;
  }

  #chart text {
    font-family: monospace;
    font-size: 12px;
  }

  .link {
    fill: none;
  }

  .sankey-link.green {
    stroke: green;
  }

  .sankey-link.gold {
    stroke: gold;
  }

  .sankey-link.red {
    stroke: red;
  }

  .sankey-link.blue {
    stroke: blue;
  }
</style>
{% endblock %}

{% block content %}

  <div id="sandkey"></div>

  <!-- <div id="simple"></div> -->

   <div id="chart"></div>
{% endblock %}

{% block footer %}
<script src="https://code.highcharts.com/highcharts.js"></script>
<script src="https://code.highcharts.com/modules/sankey.js"></script>
<script src="https://code.highcharts.com/modules/exporting.js"></script>

<script>
  Highcharts.chart("sandkey", {
    chart: {
      marginLeft: 100,
      marginBottom: 200,
      marginRight: 200,
    },
    title: {
      text: "Sandkey"
    },
    series: [{
      colors: ["#666"],
      keys: ["from", "to", "weight", "color"],
      data: [
        ["Imports", "Direct material inputs", 0.2, "green"],
        ["Imports", "Direct material inputs", 0.25, "red"],
        ["Imports", "Direct material inputs", 0.1, "blue"],
        ["Imports", "Direct material inputs", 1.1, "gold"],
        ["Natural resources extracted", "Direct material inputs", 1.61, "green"],
        ["Natural resources extracted", "Direct material inputs", 0.21, "red"],
        ["Natural resources extracted", "Direct material inputs", 2.93, "blue"],
        ["Natural resources extracted", "Direct material inputs", 0.57, "gold"],
        ["Direct material inputs", "Processed material", 1.8, "green"],
        ["Direct material inputs", "Processed material", 0.46, "red"],
        ["Direct material inputs", "Processed material", 3.03, "blue"],
        ["Direct material inputs", "Processed material", 1.67, "gold"],
        ["Processed material", "Total emissions", 1.16, "green"],
        ["Processed material", "Total emissions", 1.33, "gold"],
        ["Processed material", "Dissipative flows", 0.22, "green"],
        ["Processed material", "Dissipative flows", 0.04, "blue"],
        ["Processed material", "Material use", 0.39, "green"],
        ["Processed material", "Material use", 0.41, "red"],
        ["Processed material", "Material use", 3.58, "blue"],
        ["Processed material", "Material use", 0.09, "gold"],
        ["Processed material", "Exports", 0.2, "green"],
        ["Processed material", "Exports", 0.13, "red"],
        ["Processed material", "Exports", 0.27, "blue"],
        ["Processed material", "Exports", 0.06, "gold"],
        ["Total emissions", "Emissions to air", 1.22, "green"],
        ["Total emissions", "Emissions to air", 1.35, "gold"],
        ["Total emissions", "Emissions to water", 0.01, "green"],
        ["Incineration", "Total emissions", 0.07, "green"],
        ["Incineration", "Total emissions", 0.01, "blue"],
        ["Incineration", "Total emissions", 0.02, "gold"],
        ["Material use", "Waste treatment", 0.24, "green"],
        ["Material use", "Waste treatment", 0.09, "red"],
        ["Material use", "Waste treatment", 1.35, "blue"],
        ["Material use", "Waste treatment", 0.06, "gold"],
        ["Material use", "Material accumulation", 0.14, "green"],
        ["Material use", "Material accumulation", 0.32, "red"],
        ["Material use", "Material accumulation", 2.23, "blue"],
        ["Material use", "Material accumulation", 0.03, "gold"],
        ["Waste treatment", "Backfilling", 0.21, "blue"],
        ["Waste treatment", "Recycling", 0.14, "green"],
        ["Waste treatment", "Recycling", 0.08, "red"],
        ["Waste treatment", "Recycling", 0.46, "blue"],
        ["Waste treatment", "Recycling", 0.03, "gold"],
        ["Waste treatment", "Incineration", 0.07, "green"],
        ["Waste treatment", "Incineration", 0.01, "blue"],
        ["Waste treatment", "Incineration", 0.02, "gold"],
        ["Waste treatment", "Waste landfilled", 0.03, "green"],
        ["Waste treatment", "Waste landfilled", 0.67, "blue"],
        ["Waste treatment", "Waste landfilled", 0.01, "gold"],
        ["Backfilling", "Processed material", 0.21, "blue"],
        ["Recycling", "Processed material", 0.14, "green"],
        ["Recycling", "Processed material", 0.08, "red"],
        ["Recycling", "Processed material", 0.46, "blue"],
        ["Recycling", "Processed material", 0.03, "gold"],
      ],
      clip: false,
      type: "sankey",
      cursor: "pointer",
      events: {
        click: function(event) {
          alert(event.point.weight + " from " + event.point.from + " to " + event.point.to + "(" + event.point.code + ")");
        }
      }
    }]

  });
</script>

<!-- d3 just to try -->
<script src="https://d3js.org/d3.v4.min.js"></script>
<script src="https://bl.ocks.org/tomshanley/raw/6eb025290888935f10b142e4bc576d8d/d3-sankey-circular.js"></script>
<script src="https://bl.ocks.org/tomshanley/raw/6eb025290888935f10b142e4bc576d8d/d3-path-arrows.js"></script>
<script>
  let data = {
    "nodes": [
      {"name": "Total emissions"},
      {"name": "Dissipative flows"},
      {"name": "Imports"},
      {"name": "Natural resources extracted"},
      {"name": "Direct material inputs"},
      {"name": "Processed material"},
      {"name": "Exports"},
      {"name": "Material use"},
      {"name": "Waste treatment"},
      {"name": "Incineration"},
      {"name": "Backfilling"},
      {"name": "Recycling"},
      {"name": "Waste landfilled"},
      {"name": "Material accumulation"},
      {"name": "Emissions to water"},
      {"name": "Emissions to air"},
    ],
    "links": [
      {"source":"Imports", "target": "Direct material inputs", "value": 0.2, "optimal": "yes", "color": "green"},
      {"source":"Imports", "target": "Direct material inputs", "value": 0.25, "optimal": "yes", "color": "red"},
      {"source":"Imports", "target": "Direct material inputs", "value": 0.1, "optimal": "yes", "color": "blue"},
      {"source":"Imports", "target": "Direct material inputs", "value": 1.1, "optimal": "yes", "color": "gold"},

      {"source":"Natural resources extracted", "target": "Direct material inputs", "value": 1.61, "optimal": "yes", "color": "green"},
      {"source":"Natural resources extracted", "target": "Direct material inputs", "value": 0.21, "optimal": "yes", "color": "red"},
      {"source":"Natural resources extracted", "target": "Direct material inputs", "value": 2.93, "optimal": "yes", "color": "blue"},
      {"source":"Natural resources extracted", "target": "Direct material inputs", "value": 0.57, "optimal": "yes", "color": "gold"},

      {"source":"Direct material inputs", "target": "Processed material", "value": 1.8, "optimal": "yes", "color": "green"},
      {"source":"Direct material inputs", "target": "Processed material", "value": 0.46, "optimal": "yes", "color": "red"},
      {"source":"Direct material inputs", "target": "Processed material", "value": 3.03, "optimal": "yes", "color": "blue"},
      {"source":"Direct material inputs", "target": "Processed material", "value": 1.67, "optimal": "yes", "color": "gold"},

      {"source":"Processed material", "target": "Total emissions", "value": 1.16, "optimal": "yes", "color": "green"},
      {"source":"Processed material", "target": "Total emissions", "value": 1.33, "optimal": "yes", "color": "gold"},

      {"source":"Processed material", "target": "Dissipative flows", "value": 0.22, "optimal": "yes", "color": "green"},
      {"source":"Processed material", "target": "Dissipative flows", "value": 0.04, "optimal": "yes", "color": "blue"},

      {"source":"Processed material", "target": "Material use", "value": 0.39, "optimal": "yes", "color": "green"},
      {"source":"Processed material", "target": "Material use", "value": 0.41, "optimal": "yes", "color": "red"},
      {"source":"Processed material", "target": "Material use", "value": 3.58, "optimal": "yes", "color": "blue"},
      {"source":"Processed material", "target": "Material use", "value": 0.09, "optimal": "yes", "color": "gold"},

      {"source":"Processed material", "target": "Exports", "value": 0.2, "optimal": "yes", "color": "green"},
      {"source":"Processed material", "target": "Exports", "value": 0.13, "optimal": "yes", "color": "red"},
      {"source":"Processed material", "target": "Exports", "value": 0.27, "optimal": "yes", "color": "blue"},
      {"source":"Processed material", "target": "Exports", "value": 0.06, "optimal": "yes", "color": "gold"},

      {"source":"Total emissions", "target": "Emissions to air", "value": 1.22, "optimal": "yes", "color": "green"},
      {"source":"Total emissions", "target": "Emissions to air", "value": 1.35, "optimal": "yes", "color": "gold"},

      {"source":"Total emissions", "target": "Emissions to water", "value": 0.01, "optimal": "yes", "color": "green"},

      {"source":"Incineration", "target": "Total emissions", "value": 0.07, "optimal": "yes", "color": "green"},
      {"source":"Incineration", "target": "Total emissions", "value": 0.01, "optimal": "yes", "color": "blue"},
      {"source":"Incineration", "target": "Total emissions", "value": 0.02, "optimal": "yes", "color": "gold"},

      {"source":"Material use", "target": "Waste treatment", "value": 0.24, "optimal": "yes", "color": "green"},
      {"source":"Material use", "target": "Waste treatment", "value": 0.09, "optimal": "yes", "color": "red"},
      {"source":"Material use", "target": "Waste treatment", "value": 1.35, "optimal": "yes", "color": "blue"},
      {"source":"Material use", "target": "Waste treatment", "value": 0.06, "optimal": "yes", "color": "gold"},

      {"source":"Material use", "target": "Material accumulation", "value": 0.14, "optimal": "yes", "color": "green"},
      {"source":"Material use", "target": "Material accumulation", "value": 0.32, "optimal": "yes", "color": "red"},
      {"source":"Material use", "target": "Material accumulation", "value": 2.23, "optimal": "yes", "color": "blue"},
      {"source":"Material use", "target": "Material accumulation", "value": 0.03, "optimal": "yes", "color": "gold"},

      {"source":"Waste treatment", "target": "Backfilling", "value": 0.21, "optimal": "yes", "color": "blue"},

      {"source":"Waste treatment", "target": "Recycling", "value": 0.14, "optimal": "yes", "color": "green"},
      {"source":"Waste treatment", "target": "Recycling", "value": 0.08, "optimal": "yes", "color": "red"},
      {"source":"Waste treatment", "target": "Recycling", "value": 0.46, "optimal": "yes", "color": "blue"},
      {"source":"Waste treatment", "target": "Recycling", "value": 0.03, "optimal": "yes", "color": "gold"},

      {"source":"Waste treatment", "target": "Incineration", "value": 0.07, "optimal": "yes", "color": "green"},
      {"source":"Waste treatment", "target": "Incineration", "value": 0.01, "optimal": "yes", "color": "blue"},
      {"source":"Waste treatment", "target": "Incineration", "value": 0.02, "optimal": "yes", "color": "gold"},

      {"source":"Waste treatment", "target": "Waste landfilled", "value": 0.03, "optimal": "yes", "color": "green"},
      {"source":"Waste treatment", "target": "Waste landfilled", "value": 0.67, "optimal": "yes", "color": "blue"},
      {"source":"Waste treatment", "target": "Waste landfilled", "value": 0.01, "optimal": "yes", "color": "gold"},

      {"source":"Backfilling", "target": "Processed material", "value": 0.21, "optimal": "yes", "color": "blue"},

      {"source":"Recycling", "target": "Processed material", "value": 0.14, "optimal": "yes", "color": "green"},
      {"source":"Recycling", "target": "Processed material", "value": 0.08, "optimal": "yes", "color": "red"},
      {"source":"Recycling", "target": "Processed material", "value": 0.46, "optimal": "yes", "color": "blue"},
      {"source":"Recycling", "target": "Processed material", "value": 0.03, "optimal": "yes", "color": "gold"},
    ]
  };

  var margin = { top: 30, right: 30, bottom: 30, left: 30};
      var width = 1100;
      var height = 1100;

      var sankey = d3.sankeyCircular()
        .nodeWidth(10)
        .nodePadding(40) //note that this will be overridden by nodePaddingRatio
        .nodePaddingRatio(0)
        .size([width, height])
        .nodeId(function (d) {
          return d.name;
        })
        .nodeAlign(d3.sankeyJustify)
        .iterations(32)
        .circularLinkGap(2);

      var svg = d3.select("#chart").append("svg")
        .attr("width", width + margin.left + margin.right)
        .attr("height", height + margin.top + margin.bottom);

      var g = svg.append("g")
        .attr("transform", "translate(" + margin.left + "," + margin.top + ")")

      var linkG = g.append("g")
        .attr("class", "links")
        .attr("fill", "none")
        .attr("stroke-opacity", 0.2)
        .selectAll("path");

      var nodeG = g.append("g")
        .attr("class", "nodes")
        .attr("font-family", "sans-serif")
        .attr("font-size", 10)
        .selectAll("g");

      //run the Sankey + circular over the data
      let sankeyData = sankey(data);
      let sankeyNodes = sankeyData.nodes;
      let sankeyLinks = sankeyData.links;

      console.log(sankeyLinks);

      let depthExtent = d3.extent(sankeyNodes, function (d) { return d.depth; });

      var nodeColour = d3.scaleSequential(d3.interpolateCool)
      .domain([0,width]);

      var node = nodeG.data(sankeyNodes)
        .enter()
        .append("g");

      node.append("rect")
        .attr("x", function (d) { return d.x0; })
        .attr("y", function (d) { return d.y0; })
        .attr("height", function (d) { return d.y1 - d.y0; })
        .attr("width", function (d) { return d.x1 - d.x0; })
        .style("fill", function (d) { return nodeColour(d.x0); })
        .style("opacity", 0.5)
        .on("mouseover", function (d) {

          let thisName = d.name;

          node.selectAll("rect")
            .style("opacity", function (d) {
              return highlightNodes(d, thisName)
            })

          d3.selectAll(".sankey-link")
            .style("opacity", function (l) {
              return l.source.name == thisName || l.target.name == thisName ? 1 : 0.3;
            })

          node.selectAll("text")
            .style("opacity", function (d) {
              return highlightNodes(d, thisName)
            })
        })
        .on("mouseout", function (d) {
          d3.selectAll("rect").style("opacity", 0.5);
          d3.selectAll(".sankey-link").style("opacity", 0.7);
          d3.selectAll("text").style("opacity", 1);
        })

      node.append("text")
        .attr("x", function (d) { return (d.x0 + d.x1) / 2; })
        .attr("y", function (d) { return d.y0 - 12; })
        .attr("dy", "0.35em")
        .attr("text-anchor", "middle")
        .text(function (d) { return d.name; });

      node.append("title")
        .text(function (d) { return d.name + "\n" + (d.value); });

      var link = linkG.data(sankeyLinks)
        .enter()
        .append("g")

      link.append("path")
        .attr("class", function(d){
          return d.color + " sankey-link";
        })
        .attr("data-circular", function (link, i) {
          return link.circular ? true : false
        })
        .attr("d", function(link){
          return link.path;
        })
        .style("stroke-width", function (d) { return Math.max(1, d.width); })
        .style("opacity", 0.7)

      link.append("title")
        .text(function (d) {
          return d.source.name + " → " + d.target.name + "\n Index: " + (d.index);
        });


       var arrowsG = linkG.data(sankeyLinks)
        .enter()
        .append("g")
        .attr("class", "g-arrow")
        .call(appendArrows, 20, 300, 4)

      function highlightNodes(node, name) {

        let opacity = 0.3

        if (node.name == name) {
          opacity = 1;
        }
        node.sourceLinks.forEach(function (link) {
          if (link.target.name == name) {
            opacity = 1;
          };
        })
        node.targetLinks.forEach(function (link) {
          if (link.source.name == name) {
            opacity = 1;
          };
        })

        return opacity;

      }
</script>
{% endblock %}











