{% extends "_base.html" %}

{% load static %}

{% block title %}Sankey{% endblock %}

{% block css %}
<style>
  svg .link {
    opacity: 0.8;
    fill: steel#b55dab;
  }

  svg .link:hover {
    opacity: 1;
  }

  svg g.sankey {
    font-size: 10pt;
  }
  svg .node line {
    stroke-width: 1px;
    stroke: #000;
  }
  svg .node-type-process line {
    stroke-width: 4px;
    stroke: #888;
  }

  svg .group rect {
    fill: #eee;
    stroke: #bbb;
    stroke-width: 0.5px;
  }

  svg .group text {
    fill: #999;
  }

  #grid .row .col:last-of-type {
    border-right: none !important;
  }

  #grid .row:last-of-type .col {
    border-bottom: none !important;
  }

  #example-grid tr:first-of-type td {
    border-top: none !important;
  }

  #example-grid tr:last-of-type td {
    border-bottom: none !important;
  }

  #example-grid tr td:first-of-type {
    border-left: none !important;
  }

  #example-grid tr td:last-of-type {
    border-right: none !important;
  }

  #alignments label,
  #grid-generator label,
  #data label,
  #groups label {
    margin-bottom: 0;
    font-weight: bold;
    display: block;
  }

  #alignments > div:not(:first-of-type) label,
  #groups > div:not(:first-of-type) label {
    display: none;
  }
</style>

<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/select2@4.0.13/dist/css/select2.min.css"/>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@ttskch/select2-bootstrap4-theme@1.3.2/dist/select2-bootstrap4.min.css"/>

{% endblock %}

{% block content %}

<div class="border rounde p-3 mb-4">
  <h1>Only sand and gravel</h1>
  <div class="sankey" id="sand-wrapper">
    <svg width="100%" height="400" id="sand"></svg>
  </div>
</div>

<div class="border rounde p-3">
  <h1>Sand + gravel, concrete, and steel</h1>
  <div class="sankey" id="all-wrapper">
    <svg width="100%" height="400" id="allMaterials"></svg>
  </div>
</div>

{% endblock %}

{% block footer %}
<!-- d3 -->
<script src="https://d3js.org/d3.v4.min.js"></script>
<script src="{% static 'js/d3-sankey-diagram-lupton.js' %}"></script>
<script>
  // sand
  var sand = {
    "nodes": [
      {"direction": "r", "id": "Anaerobic digestion"},
      {"direction": "r", "id": "Composting"},
      {"direction": "r", "id": "Exports"},
      {"direction": "r", "id": "Extraction"},
      {"direction": "r", "id": "Harvesting"},
      {"direction": "r", "id": "Imports"},
      {"direction": "r", "id": "Incineration"},
      {"direction": "r", "id": "Landfill"},
      {"direction": "r", "id": "Manufacturing"},
      {"direction": "r", "id": "Retail"},
      {"direction": "r", "id": "Stock"},
      {"direction": "r", "id": "Use"},
      {"direction": "r", "id": "Waste collection"},
    ],
    "links": [
      {
        "source": "Extraction",
        "target": "Manufacturing",
        "value": 100,
        "color": "thistle"
      },
      {
        "source": "Extraction",
        "target": "Retail",
        "value": 1000,
        "color": "thistle"
      },
      {
        "source": "Extraction",
        "target": "Use",
        "value": 2000,
        "color": "thistle"
      },
      {
        "source": "Extraction",
        "target": "Waste collection",
        "value": 100,
        "color": "thistle"
      },
      {
        "source": "Manufacturing",
        "target": "Retail",
        "value": 0,
        "color": "thistle"
      },
      {
        "source": "Manufacturing",
        "target": "Use",
        "value": 90,
        "color": "thistle"
      },
      {
        "source": "Manufacturing",
        "target": "Waste collection",
        "value": 10,
        "color": "thistle"
      },
      {
        "source": "Retail",
        "target": "Use",
        "value": 750,
        "color": "thistle"
      },
      {
        "source": "Retail",
        "target": "Waste collection",
        "value": 50,
        "color": "thistle"
      },
      {
        "source": "Retail",
        "target": "Exports",
        "value": 200,
        "color": "thistle"
      },
      {
        "source": "Use",
        "target": "Waste collection",
        "value": 800,
        "color": "thistle"
      },
      {
        "source": "Use",
        "target": "Retail",
        "value": 40,
        "color": "thistle"
      },
      {
        "source": "Use",
        "target": "Stock",
        "value": 2000,
        "color": "thistle"
      },
      {
        "source": "Stock",
        "target": "Use",
        "value": 80,
        "color": "thistle"
      },
      {
        "source": "Stock",
        "target": "Waste collection",
        "value": 1000,
        "color": "thistle"
      },
      {
        "source": "Waste collection",
        "target": "Landfill",
        "value": 960,
        "color": "thistle"
      },
      {
        "source": "Waste collection",
        "target": "Incineration",
        "value": 0,
        "color": "thistle"
      },
      {
        "source": "Waste collection",
        "target": "Anaerobic digestion",
        "value": 0,
        "color": "thistle"
      },
      {
        "source": "Waste collection",
        "target": "Composting",
        "value": 0,
        "color": "thistle"
      },
      {
        "source": "Waste collection",
        "target": "Manufacturing",
        "value": 0,
        "color": "thistle"
      },
      {
        "source": "Waste collection",
        "target": "Retail",
        "value": 1000,
        "color": "thistle"
      },
      {
        "source": "Incineration",
        "target": "Retail",
        "value": 0,
        "color": "thistle"
      },
      {
        "source": "Composting",
        "target": "Retail",
        "value": 0,
        "color": "thistle"
      },
      {
        "source": "Composting",
        "target": "Harvesting",
        "value": 0,
        "color": "thistle"
      },
      {
        "source": "Imports",
        "target": "Manufacturing",
        "value": 100,
        "color": "thistle"
      },
      {
        "source": "Imports",
        "target": "Retail",
        "value": 500,
        "color": "thistle"
      },
      {
        "source": "Imports",
        "target": "Use",
        "value": 500,
        "color": "thistle"
      },
      {
        "source": "Imports",
        "target": "Waste collection",
        "value": 100,
        "color": "thistle"
      },
    ],
    "rankSets": [
      {
        "type": "same",
        "nodes": [
          "Exports",
          "Landfill"
        ]
      }
    ]

  };

  var color = d3.scaleOrdinal(d3.schemeCategory10);

  var diagram = d3.sankeyDiagram()
                  .linkTitle(d3.sankeyLinkTitle(function (d) { return d.id; },
                                                function(d) { return d.id; },
                                                d3.format(".3s")))
                  .linkColor(function(d) { return d.color; });

  var layout = d3.sankey().extent([[150, 50], [1000, 400]]).rankSets(sand.rankSets);
  // layout.ordering(data.order)

  d3.select("#sand")
    .datum(layout(sand))
    .call(diagram.groups(sand.groups));


  // all materials
  var allMaterials = {
    "nodes": [
      {"direction": "r", "id": "Anaerobic digestion"},
      {"direction": "r", "id": "Composting"},
      {"direction": "r", "id": "Exports"},
      {"direction": "r", "id": "Extraction"},
      {"direction": "r", "id": "Harvesting"},
      {"direction": "r", "id": "Imports"},
      {"direction": "r", "id": "Incineration"},
      {"direction": "r", "id": "Landfill"},
      {"direction": "r", "id": "Manufacturing"},
      {"direction": "r", "id": "Retail"},
      {"direction": "r", "id": "Stock"},
      {"direction": "r", "id": "Use"},
      {"direction": "r", "id": "Waste collection"},
    ],
    "links": [
      // sand
      {
        "source": "Extraction",
        "target": "Manufacturing",
        "value": 100,
        "color": "thistle"
      },
      {
        "source": "Extraction",
        "target": "Retail",
        "value": 1000,
        "color": "thistle"
      },
      {
        "source": "Extraction",
        "target": "Use",
        "value": 2000,
        "color": "thistle"
      },
      {
        "source": "Extraction",
        "target": "Waste collection",
        "value": 100,
        "color": "thistle"
      },
      {
        "source": "Manufacturing",
        "target": "Retail",
        "value": 0,
        "color": "thistle"
      },
      {
        "source": "Manufacturing",
        "target": "Use",
        "value": 90,
        "color": "thistle"
      },
      {
        "source": "Manufacturing",
        "target": "Waste collection",
        "value": 10,
        "color": "thistle"
      },
      {
        "source": "Retail",
        "target": "Use",
        "value": 750,
        "color": "thistle"
      },
      {
        "source": "Retail",
        "target": "Waste collection",
        "value": 50,
        "color": "thistle"
      },
      {
        "source": "Retail",
        "target": "Exports",
        "value": 200,
        "color": "thistle"
      },
      {
        "source": "Use",
        "target": "Waste collection",
        "value": 800,
        "color": "thistle"
      },
      {
        "source": "Use",
        "target": "Retail",
        "value": 40,
        "color": "thistle"
      },
      {
        "source": "Use",
        "target": "Stock",
        "value": 2000,
        "color": "thistle"
      },
      {
        "source": "Stock",
        "target": "Use",
        "value": 80,
        "color": "thistle"
      },
      {
        "source": "Stock",
        "target": "Waste collection",
        "value": 1000,
        "color": "thistle"
      },
      {
        "source": "Waste collection",
        "target": "Landfill",
        "value": 960,
        "color": "thistle"
      },
      {
        "source": "Waste collection",
        "target": "Incineration",
        "value": 0,
        "color": "thistle"
      },
      {
        "source": "Waste collection",
        "target": "Anaerobic digestion",
        "value": 0,
        "color": "thistle"
      },
      {
        "source": "Waste collection",
        "target": "Composting",
        "value": 0,
        "color": "thistle"
      },
      {
        "source": "Waste collection",
        "target": "Manufacturing",
        "value": 0,
        "color": "thistle"
      },
      {
        "source": "Waste collection",
        "target": "Retail",
        "value": 1000,
        "color": "thistle"
      },
      {
        "source": "Incineration",
        "target": "Retail",
        "value": 0,
        "color": "thistle"
      },
      {
        "source": "Composting",
        "target": "Retail",
        "value": 0,
        "color": "thistle"
      },
      {
        "source": "Composting",
        "target": "Harvesting",
        "value": 0,
        "color": "thistle"
      },
      {
        "source": "Imports",
        "target": "Manufacturing",
        "value": 100,
        "color": "thistle"
      },
      {
        "source": "Imports",
        "target": "Retail",
        "value": 500,
        "color": "thistle"
      },
      {
        "source": "Imports",
        "target": "Use",
        "value": 500,
        "color": "thistle"
      },
      {
        "source": "Imports",
        "target": "Waste collection",
        "value": 100,
        "color": "thistle"
      },

      // concrete

      {
        "source": "Extraction",
        "target": "Manufacturing",
        "value": 0,
        "color": "green"
      },
      {
        "source": "Extraction",
        "target": "Retail",
        "value": 0,
        "color": "green"
      },
      {
        "source": "Extraction",
        "target": "Use",
        "value": 0,
        "color": "green"
      },
      {
        "source": "Extraction",
        "target": "Waste collection",
        "value": 0,
        "color": "green"
      },
      {
        "source": "Manufacturing",
        "target": "Retail",
        "value": 50,
        "color": "green"
      },
      {
        "source": "Manufacturing",
        "target": "Use",
        "value": 0,
        "color": "green"
      },
      {
        "source": "Manufacturing",
        "target": "Waste collection",
        "value": 5,
        "color": "green"
      },
      {
        "source": "Retail",
        "target": "Use",
        "value": 143,
        "color": "green"
      },
      {
        "source": "Retail",
        "target": "Waste collection",
        "value": 2,
        "color": "green"
      },
      {
        "source": "Retail",
        "target": "Exports",
        "value": 0,
        "color": "green"
      },
      {
        "source": "Use",
        "target": "Waste collection",
        "value": 1,
        "color": "green"
      },
      {
        "source": "Use",
        "target": "Retail",
        "value": 0,
        "color": "green"
      },
      {
        "source": "Use",
        "target": "Stock",
        "value": 142,
        "color": "green"
      },
      {
        "source": "Stock",
        "target": "Use",
        "value": 2,
        "color": "green"
      },
      {
        "source": "Stock",
        "target": "Waste collection",
        "value": 40,
        "color": "green"
      },
      {
        "source": "Waste collection",
        "target": "Landfill",
        "value": 2,
        "color": "green"
      },
      {
        "source": "Waste collection",
        "target": "Incineration",
        "value": 0,
        "color": "green"
      },
      {
        "source": "Waste collection",
        "target": "Anaerobic digestion",
        "value": 0,
        "color": "green"
      },
      {
        "source": "Waste collection",
        "target": "Composting",
        "value": 0,
        "color": "green"
      },
      {
        "source": "Waste collection",
        "target": "Manufacturing",
        "value": 2,
        "color": "green"
      },
      {
        "source": "Waste collection",
        "target": "Retail",
        "value": 44,
        "color": "green"
      },
      {
        "source": "Incineration",
        "target": "Retail",
        "value": 0,
        "color": "green"
      },
      {
        "source": "Composting",
        "target": "Retail",
        "value": 0,
        "color": "green"
      },
      {
        "source": "Composting",
        "target": "Harvesting",
        "value": 0,
        "color": "green"
      },
      {
        "source": "Imports",
        "target": "Manufacturing",
        "value": 50,
        "color": "green"
      },
      {
        "source": "Imports",
        "target": "Retail",
        "value": 100,
        "color": "green"
      },
      {
        "source": "Imports",
        "target": "Use",
        "value": 0,
        "color": "green"
      },
      {
        "source": "Imports",
        "target": "Waste collection",
        "value": 0,
        "color": "green"
      },
    ],
  };

  var color = d3.scaleOrdinal(d3.schemeCategory10);

  var diagram = d3.sankeyDiagram()
                  .linkTitle(d3.sankeyLinkTitle(function (d) { return d.id; },
                                                function(d) { return d.id; },
                                                d3.format(".3s")))
                  .linkColor(function(d) { return d.color; });

  var layout = d3.sankey().extent([[150, 50], [1000, 400]]).rankSets(allMaterials.rankSets);
  // layout.ordering(data.order)

  d3.select("#allMaterials")
    .datum(layout(allMaterials))
    .call(diagram.groups(allMaterials.groups));
</script>
{% endblock %}