{% extends "_base.html" %}

{% load static %}

{% block title %}Sankey{% endblock %}

{% block css %}
<style>
  #sandkey {
    height: 600px;
    width: 100%;
  }

  #container {
    min-width: 300px;
    height: 600px;
  }

  rect {
    shape-rendering: crispEdges;
  }

  #chart text {
    font-family: monospace;
    font-size: 12px;
  }

  .link {
    fill: none;
  }
</style>
{% endblock %}

{% block content %}

  <div id="sandkey"></div>

  <!-- <div id="simple"></div> -->

   <div id="chart"></div>
{% endblock %}

{% block footer %}
<script src="https://code.highcharts.com/highcharts.js"></script>
<script src="https://code.highcharts.com/modules/sankey.js"></script>
<script src="https://code.highcharts.com/modules/exporting.js"></script>

<script>
  Highcharts.chart("sandkey", {
    chart: {
      marginLeft: 100,
      marginBottom: 200,
      marginRight: 200,
    },
    title: {
      text: "Sandkey"
    },
    series: [{
      colors: ["#666"],
      keys: ["from", "to", "weight", "code"],
      data: [
        ["Imports", "Direct material inputs", 1.7],
        ["Natural resources extracted", "Direct material inputs", 5.32],
        ["Direct material inputs", "Processed material", 7.02],

        ["Processed material", "Exports", 0.76],
        ["Processed material", "Dissipative flows", 0.26],
        ["Processed material", "Total emissions", 2.49],
        ["Processed material", "Material use", 4.46],

        ["Total emissions", "Emissions to air", 2.59],
        ["Total emissions", "Emissions to water", 0.01],

        ["Material use", "Waste treatment", 1.75],
        ["Material use", "Material accumulation", 2.72],

        ["Waste treatment", "Backfilling", 0.21],
        ["Waste treatment", "Recycling", 0.72],
        ["Waste treatment", "Inciniration", 0.11],
        ["Waste treatment", "Waste landfilled", 0.71],

        ["Inciniration", "Total emissions", 0.11],

        ["Backfilling", "Processed material", 0.21],
        ["Recycling", "Processed material", 0.72],
      ],
      clip: false,
      type: "sankey",
      cursor: "pointer",
      events: {
        click: function(event) {
          alert(event.point.weight + " from " + event.point.from + " to " + event.point.to + "(" + event.point.code + ")");
        }
      }
    }]

  });

  // Highcharts.chart("simple", {
  //   chart: {
  //     marginLeft: 100,
  //     marginBottom: 200,
  //     marginRight: 200
  //   },
  //   title: {
  //     text: "Highcharts Sankey Diagram"
  //   },
  //   series: [{
  //     colors: ["#4242a4", "#b73232", "#1f1fa8", "#365cb7", "#6389e3", "#3d1c6c", "#4b92d0", "blue", "green", "#56b756", "orange", "gold"],
  //     keys: ["from", "to", "weight"],
  //     data: [
  //       ["Bagazo", "Generation", 14308],
  //       ["Carbón", "Generation", 9366],
  //       ["Gas natural", "Generation", 165559],
  //       ["Diesel", "Generation", 15232],
  //       ["Fuel oil", "Generation", 6203],
  //       ["Hydro", "Generation", 130771],
  //       ["Solar", "Generation", 1186],
  //       ["Generation", "Pérdidas de transformación", 157099],
  //       ["Generation", "Electricity", 189839],
  //       ["Electricity", "Transmission loss", 20000],
  //       ["Electricity", "Consumption", 169839],
  //       ["Consumption", "Generation", 40000],
  //       ["Transmission loss", "Generation", 10000],
  //     ],
  //     clip: false,
  //     type: "sankey",
  //     cursor: "pointer",
  //     events: {
  //       click: function(event) {
  //         console.log(event.point);
  //         alert(event.point.weight + " from " + event.point.from + " to " + event.point.to);
  //       }
  //     }
  //   }]
  // });
</script>

<!-- d3 just to try -->
<script src="https://d3js.org/d3.v4.min.js"></script>
<script src="https://bl.ocks.org/tomshanley/raw/6eb025290888935f10b142e4bc576d8d/d3-sankey-circular.js"></script>
<script src="https://bl.ocks.org/tomshanley/raw/6eb025290888935f10b142e4bc576d8d/d3-path-arrows.js"></script>
<script>
  let data = {
    "nodes": [
      {"name": "Total emissions"},
      {"name": "Dissipative flows"},
      {"name": "Imports"},
      {"name": "Natural resources extracted"},
      {"name": "Direct material inputs"},
      {"name": "Processed material"},
      {"name": "Exports"},
      {"name": "Material use"},
      {"name": "Waste treatment"},
      {"name": "Inciniration"},
      {"name": "Backfilling"},
      {"name": "Recycling"},
      {"name": "Waste landfilled"},
      {"name": "Material accumulation"},
      {"name": "Emissions to water"},
      {"name": "Emissions to air"},
    ],
    "links": [
      {"source":"Imports", "target": "Direct material inputs", "value": 1.7, "optimal": "yes"},
      {"source":"Natural resources extracted", "target": "Direct material inputs", "value": 5.32, "optimal": "yes"},
      {"source":"Direct material inputs", "target": "Processed material", "value": 7.02, "optimal": "yes"},
      {"source":"Processed material", "target": "Total emissions", "value": 2.49, "optimal": "yes"},
      {"source":"Processed material", "target": "Dissipative flows", "value": 0.26, "optimal": "yes"},
      {"source":"Processed material", "target": "Material use", "value": 4.46, "optimal": "yes"},
      {"source":"Processed material", "target": "Exports", "value": 0.76, "optimal": "yes"},
      {"source":"Total emissions", "target": "Emissions to air", "value": 2.59, "optimal": "yes"},
      {"source":"Total emissions", "target": "Emissions to water", "value": 0.01, "optimal": "yes"},
      {"source":"Inciniration", "target": "Total emissions", "value": 0.11, "optimal": "yes"},
      {"source":"Material use", "target": "Waste treatment", "value": 1.75, "optimal": "yes"},
      {"source":"Material use", "target": "Material accumulation", "value": 2.72, "optimal": "yes"},
      {"source":"Waste treatment", "target": "Backfilling", "value": 0.21, "optimal": "yes"},
      {"source":"Waste treatment", "target": "Recycling", "value": 0.72, "optimal": "yes"},
      {"source":"Waste treatment", "target": "Inciniration", "value": 0.11, "optimal": "yes"},
      {"source":"Waste treatment", "target": "Waste landfilled", "value": 0.71, "optimal": "yes"},
      {"source":"Backfilling", "target": "Processed material", "value": 0.21, "optimal": "yes"},
      {"source":"Recycling", "target": "Processed material", "value": 0.72, "optimal": "yes"},
    ]
  };

  var margin = { top: 30, right: 30, bottom: 30, left: 30};
      var width = 1100;
      var height = 600;

      var sankey = d3.sankeyCircular()
        .nodeWidth(10)
        .nodePadding(40) //note that this will be overridden by nodePaddingRatio
        .nodePaddingRatio(0.5)
        .size([width, height])
        .nodeId(function (d) {
          return d.name;
        })
        .nodeAlign(d3.sankeyJustify)
        .iterations(32)
        .circularLinkGap(2);

      var svg = d3.select("#chart").append("svg")
        .attr("width", width + margin.left + margin.right)
        .attr("height", height + margin.top + margin.bottom);

      var g = svg.append("g")
        .attr("transform", "translate(" + margin.left + "," + margin.top + ")")

      var linkG = g.append("g")
        .attr("class", "links")
        .attr("fill", "none")
        .attr("stroke-opacity", 0.2)
        .selectAll("path");

      var nodeG = g.append("g")
        .attr("class", "nodes")
        .attr("font-family", "sans-serif")
        .attr("font-size", 10)
        .selectAll("g");

      //run the Sankey + circular over the data
      let sankeyData = sankey(data);
      let sankeyNodes = sankeyData.nodes;
      let sankeyLinks = sankeyData.links;

      console.log(sankeyLinks);

      let depthExtent = d3.extent(sankeyNodes, function (d) { return d.depth; });

      var nodeColour = d3.scaleSequential(d3.interpolateCool)
      .domain([0,width]);

      var node = nodeG.data(sankeyNodes)
        .enter()
        .append("g");

      node.append("rect")
        .attr("x", function (d) { return d.x0; })
        .attr("y", function (d) { return d.y0; })
        .attr("height", function (d) { return d.y1 - d.y0; })
        .attr("width", function (d) { return d.x1 - d.x0; })
        .style("fill", function (d) { return nodeColour(d.x0); })
        .style("opacity", 0.5)
        .on("mouseover", function (d) {

          let thisName = d.name;

          node.selectAll("rect")
            .style("opacity", function (d) {
              return highlightNodes(d, thisName)
            })

          d3.selectAll(".sankey-link")
            .style("opacity", function (l) {
              return l.source.name == thisName || l.target.name == thisName ? 1 : 0.3;
            })

          node.selectAll("text")
            .style("opacity", function (d) {
              return highlightNodes(d, thisName)
            })
        })
        .on("mouseout", function (d) {
          d3.selectAll("rect").style("opacity", 0.5);
          d3.selectAll(".sankey-link").style("opacity", 0.7);
          d3.selectAll("text").style("opacity", 1);
        })

      node.append("text")
        .attr("x", function (d) { return (d.x0 + d.x1) / 2; })
        .attr("y", function (d) { return d.y0 - 12; })
        .attr("dy", "0.35em")
        .attr("text-anchor", "middle")
        .text(function (d) { return d.name; });

      node.append("title")
        .text(function (d) { return d.name + "\n" + (d.value); });

      var link = linkG.data(sankeyLinks)
        .enter()
        .append("g")

      link.append("path")
        .attr("class", "sankey-link")
        .attr("d", function(link){
          return link.path;
        })
        .style("stroke-width", function (d) { return Math.max(1, d.width); })
        .style("opacity", 0.7)
        .style("stroke", function (link, i) {
          return link.circular ? "red" : "black"
        })

      link.append("title")
        .text(function (d) {
          return d.source.name + " → " + d.target.name + "\n Index: " + (d.index);
        });


       var arrowsG = linkG.data(sankeyLinks)
        .enter()
        .append("g")
        .attr("class", "g-arrow")
        .call(appendArrows, 20, 300, 4)

      function highlightNodes(node, name) {

        let opacity = 0.3

        if (node.name == name) {
          opacity = 1;
        }
        node.sourceLinks.forEach(function (link) {
          if (link.target.name == name) {
            opacity = 1;
          };
        })
        node.targetLinks.forEach(function (link) {
          if (link.source.name == name) {
            opacity = 1;
          };
        })

        return opacity;

      }
</script>
{% endblock %}











