{% extends "_base.html" %}

{% block title %}Scrollreveal{% endblock %}

{% block content %}
  <h1 class="headline">
    Widget Inc.
  </h1>
  <p class="tagline">
    The perfect widgets.
    <span class="punchline">Forever.</span>
  </p>
{% endblock %}
{% block footer %}
	<script src="https://unpkg.com/scrollreveal"></script>
  <script>
    ScrollReveal().reveal('.headline');
    ScrollReveal().reveal('.tagline', { delay: 500 });
    ScrollReveal().reveal('.punchline', { delay: 2000 });
  </script>
  </script>
{% endblock %}