{% extends "_base.html" %}

{% block title %}Sweetalerts{% endblock %}

{% block content %}
  <button class="btn btn-primary mb-2 sweetalert send-message"><i class="fad fa-paper-plane"></i> Send message</button>
  <br>
  <button class="btn btn-danger mb-2 sweetalert delete-file"><i class="fas fa-trash"></i> Delete file</button>
  <br>
  <button class="btn btn-primary mb-2 sweetalert create-account"><i class="fas fa-user-plus"></i> Create account</button>
  <br>
  <button class="btn btn-primary mb-2 sweetalert write-message"><i class="fas fa-pencil"></i> Write message</button>
{% endblock %}

{% block footer %}
  <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
  <script>
    // sweet alert general documentation: https://sweetalert.js.org/docs/
    
    // an simple example with a title, some text, and an icon
    // options for the icon are "warning", "error", "success", "info"
    // https://sweetalert.js.org/docs/#icon
    $(".sweetalert.send-message").click(function(){
      swal({
        title: "Message sent",
        text: "Your message has been sent. We'll get back to you as soon as possible",
        icon: "success",
      });
    });

    // two buttons, one to cancel, the other to confirm the action
    // note the dangerMode setting; set this to true to make the confirmation button red rather than the default colour
    // https://sweetalert.js.org/docs/#buttons
    $(".sweetalert.delete-file").click(function(){
      swal({
        title: "Delete file",
        text: "Are you sure you want to delete this file?",
        icon: "warning",
        dangerMode: true,
        buttons: {
          cancel: true,
          confirm: {
            text: "Delete",
            value: true,
            visible: true,
            closeModal: true
          }
        }
      });
    });

    // adding custom functions to buttons
    // also note closeOnClickOutside and closeOnEsc; set these to true to force users to make an options, the modal can't be closed without the buttons
    // https://sweetalert.js.org/docs/#buttons
    $(".sweetalert.create-account").click(function(){
      swal({
        title: "Your account has been created!",
        text: "What would you like to do now?",
        icon: "success",
        closeOnClickOutside: false,
        closeOnEsc: false,
        buttons: {
          home: {
            text: "MoC homepage",
            value: "home",
          },
          account: {
            text: "Your account",
            value: "account",
          }
        },
      })
      .then((value) => {
        switch (value) {
       
          case "home":
            window.alert("go to the homepage")
            // any other function
            break;
       
          case "account":
            window.alert("go to account page")
            // any other function
            break;
        }
      });
    });

    // adding content other than a title and text, in this case an input
    // https://sweetalert.js.org/docs/#content
    $(".sweetalert.write-message").click(function(){
      swal({
        title: "Write your message",
        closeOnClickOutside: false,
        closeOnEsc: false,
        content: {
          element: "textarea",
          attributes: {
            placeholder: "Your message",
          },
        },
        buttons: {
          cancel: true,
          confirm: {
            text: "Submit",
            visible: true,
            closeModal: true
          }
        }
      })
      .then((value) => {
        switch (value) {
       
          case "home":
            window.alert("go to the homepage")
            // any other function
            break;
        }
      });
      .then((value) => {
        window.alert(`Send message to server: ${value}`)
      });
    });
  </script>
{% endblock %}