{% extends "_base.html" %}

{% load static %}
{% block page_name %}team{% endblock %}

{% block title %}Team{% endblock %}

{% block content %}
<div class="row">
  <div class="col-md-6 col-lg-4 single-person">
    <div class="card">
      <div class="card-img-block">
        <img src="https://metabolismofcities.org/media/photos/32500830212_69e4954085_k.large.jpg">
      </div>
      <div class="details">
        {% spaceless %}
        <img src="https://metabolismofcities.org/media/people/team.paul.jpg" alt="Paul Hoekman"/>
        <span class="meta">
          <div class="name">Paul Hoekman</div>
          <div class="city">Cape Town, South Africa</div>
        </span>
        {% endspaceless %}
      </div>
      <div class="card-body">
        <div class="description limited">
          <div class="show-more">
            <div class="fade-as"></div>
            <div class="button"><i class="far fa-angle-down"></i></div>
          </div>
          <p>Aut voluptatibus ex cupiditate cum eos expedita rerum at. Vel sequi quod veritatis illo qui. Possimus error amet nemo commodi in et ullam. Quia alias autem ratione. Ipsam eos voluptas omnis quibusdam porro.</p>

          <p>Mollitia ut vitae beatae odio ex voluptatem. Ab unde quis exercitationem et enim vel. Harum aut ipsa praesentium quisquam natus facilis dolor. Deserunt sit enim modi voluptatibus eius. Rem sit culpa qui. </p>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-6 col-lg-4 single-person">
    <div class="card">
      <div class="card-img-block">
        <img src="https://metabolismofcities.org/media/photos/Brussels.medium.jpg">
      </div>
      <div class="details">
        {% spaceless %}
        <img src="https://metabolismofcities.org/media/people/photo_cv.jpg" alt="Aristide Athanassiadis"/>
        <span class="meta">
          <div class="name">Aristide Athanassiadis</div>
          <div class="city">Brussels, Belgium</div>
        </span>
        {% endspaceless %}
      </div>
      <div class="card-body">
        <div class="description limited">
          <div class="show-more">
            <div class="fade-as"></div>
            <div class="button"><i class="far fa-angle-down"></i></div>
          </div>
          <p>Aut voluptatibus ex cupiditate cum eos expedita rerum at. Vel sequi quod veritatis illo qui. Possimus error amet nemo commodi in et ullam. Quia alias autem ratione. Ipsam eos voluptas omnis quibusdam porro. Ipsam eos voluptas omnis quibusdam porro.</p>

          <p>Mollitia ut vitae beatae odio ex voluptatem. Ab unde quis exercitationem et enim vel. Harum aut ipsa praesentium quisquam natus facilis dolor. Deserunt sit enim modi voluptatibus eius. Rem sit culpa qui.</p>

          <p>Mollitia ut vitae beatae odio ex voluptatem. Ab unde quis exercitationem et enim vel. Harum aut ipsa praesentium quisquam natus facilis dolor. Deserunt sit enim modi voluptatibus eius. Rem sit culpa qui.</p>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-6 col-lg-4 single-person">
    <div class="card">
      <div class="card-img-block">
        <img src="https://metabolismofcities.org/media/photos/San_Diego_UteWBfg.medium.jpg">
      </div>
      <div class="details">
        {% spaceless %}
        <img src="https://metabolismofcities.org/media/people/team.gabriela.jpg" alt="Gabriela Fernandez"/>
        <span class="meta">
          <div class="name">Gabriela Fernandez</div>
          <div class="city">San Diego, United States</div>
        </span>
        {% endspaceless %}
      </div>
      <div class="card-body">
        <div class="description limited">
          <div class="show-more">
            <div class="fade-as"></div>
            <div class="button"><i class="far fa-angle-down"></i></div>
          </div>
          <p>Mollitia ut vitae beatae odio ex voluptatem. Ab unde quis exercitationem et enim vel. Harum aut ipsa praesentium quisquam natus facilis dolor. Deserunt sit enim modi voluptatibus eius. Rem sit culpa qui.</p>

          <p>Aut voluptatibus ex cupiditate cum eos expedita rerum at. Vel sequi quod veritatis illo qui. Possimus error amet nemo commodi in et ullam. Quia alias autem ratione.</p>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-6 col-lg-4 single-person">
    <div class="card">
      <div class="card-img-block">
        <img src="https://metabolismofcities.org/media/photos/Lausanne.medium.jpg">
      </div>
      <div class="details">
        {% spaceless %}
        <img src="https://metabolismofcities.org/media/people/team.joao.jpg" alt="João Meirelles"/>
        <span class="meta">
          <div class="name">João Meirelles</div>
          <div class="city">Lausanne, Switzerland</div>
        </span>
        {% endspaceless %}
      </div>
      <div class="card-body">
        <div class="description limited">
          <div class="show-more">
            <div class="fade-as"></div>
            <div class="button"><i class="far fa-angle-down"></i></div>
          </div>
          <p>Aut dolores cupiditate quis. Ducimus asperiores molestiae aut rerum perspiciatis fugiat. Labore eligendi voluptatem ut repellendus. Ipsam sunt architecto ea et. Ipsam eos voluptas omnis quibusdam porro. Ipsam eos voluptas omnis quibusdam porro.</p>
          
          <p>Aut voluptatibus ex cupiditate cum eos expedita rerum at. Vel sequi quod veritatis illo qui. Possimus error amet nemo commodi in et ullam. Quia alias autem ratione.</p>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-6 col-lg-4 single-person">
    <div class="card">
      <div class="card-img-block">
        <img src="https://metabolismofcities.org/media/photos/toronto-2428518_1920.medium.jpg">
      </div>
      <div class="details">
        {% spaceless %}
        <img src="https://metabolismofcities.org/media/people/team.carolin.jpg" alt="Carolin Bellstedt"/>
        <span class="meta">
          <div class="name">Carolin Bellstedt</div>
          <div class="city">Toronto, Canada</div>
        </span>
        {% endspaceless %}
      </div>
      <div class="card-body">
        <div class="description limited">
          <div class="show-more">
            <div class="fade-as"></div>
            <div class="button"><i class="far fa-angle-down"></i></div>
          </div>
          <p>Eveniet reiciendis laudantium rem quo similique quisquam. Veniam odit sequi tempora ipsa. Et hic iusto earum architecto deserunt. Ipsam eos voluptas omnis quibusdam porro. Ipsam eos voluptas omnis quibusdam porro.</p>
          
          <p>Aut voluptatibus ex cupiditate cum eos expedita rerum at. Vel sequi quod veritatis illo qui. Possimus error amet nemo commodi in et ullam. Quia alias autem ratione. </p>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block footer %}
<script>
  $(".show-more .button").click(function() {
    $(this).closest(".description").removeClass("limited")
  })
</script>
{% endblock %}