{% extends "_base.html" %}

{% load static %}

{% load sass_tags %}

{% block title %}Timeline{% endblock %}

{% block css %}
<link href="{% sass_src 'css/timeline.css' %}" rel="stylesheet" />
{% endblock %}

{% block subtitle %}{% endblock %}

{% block content %}
  <div id='timeline-embed' style="width: 100%; height: 600px"></div>
{% endblock %}
{% block footer %}
<script src="{% static 'js/timeline.js' %}"></script>
	<script type="text/javascript">
    var additionalOptions = {
      start_at_end: true,
      default_bg_color: {r:0, g:0, b:0},
      timenav_height: 250
    }

    timeline = new TL.Timeline('timeline-embed',
      'https://docs.google.com/spreadsheets/d/1cWqQBZCkX9GpzFtxCWHoqFXCHg-ylTVUWlnrdYMzKUI/pubhtml');
  </script>
{% endblock %}