{% extends "_base.html" %}

{% block title %}Trix{% endblock %}

{% block css %}
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/trix/1.2.1/trix.css">
{% endblock %}

<!-- https://github.com/basecamp/trix -->
{% block content %}
  <section>
    <h2>Trix editor</h2>
    <trix-editor></trix-editor>
  </section>

  <section>
    <h2>intergrate Trix editor in forms</h2>
    <p>
      To submit the contents of a --trix-editor-- with a form, first define a hidden input field in the form and assign it an id. Then reference that id in the editor’s input attribute.
    </p>
    <form>
      <input id="x" type="hidden" name="content">
      <trix-editor input="x"></trix-editor>
    </form>
  </section>

  <section>
    <h2>Populating --trix-editor-- With Stored Content</h2>
    <p>
      To populate a trix-editor with stored content, include that content in the associated input element’s value attribute. NOTE: Always use an associated input element to safely populate an editor. Trix won’t load any HTML content inside a trix-editor & trix-editor tag.
    </p>
    <form>
      <input id="y" value="Editor content goes here" type="hidden" name="content">
      <trix-editor input="y"></trix-editor>
    </form>
  </section>
{% endblock %}

{% block footer %}
  <script src="https://cdnjs.cloudflare.com/ajax/libs/trix/1.2.1/trix-core.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/trix/1.2.1/trix.js"></script>
{% endblock %}