{% extends "_base.html" %}

{% block content %}

  <div class="jumbotron jumbotron-fluid">
    <div class="container">
      <h1 class="display-4">The Metabolism of Cities Community Hub</h1>
      <p class="lead">
        This site provides a central place to find information around the wider
        urban metabolism community, including organisations and people in the field, 
        as well as news and events. 
      </p>
      <p>
        How exactly should we structure this? Any thoughts? Share your ideas and join
        the discussion in the <a href="hub/">volunteer hub</a>.
      </p>
    </div>
  </div>

{% endblock %}
