{% extends "_base.html" %}

{% block content %}

  <div class="container pb-5 pt-3">

    <div class="row">

      <div class="col-lg-4">
        <div class="card">
          {% if info.image %}
            <img src="{{ info.image.thumbnail.url }}" class="card-img-top p-3" alt="">
          {% endif %}
          <ul class="list-group list-group-flush">

            {% if info.spaces.all %}
              <li class="list-group-item">
                <i class="far fa-fw fa-map-marker-alt mb-1 mr-1" aria-hidden="true"></i> 
                {% for each in info.spaces.all %}
                  {{ each }}
                {% endfor %}
              </li>
            {% endif %}

            {% if info.url %}
              <a class="list-group-item" href="{{ info.url }}">
                <i class="far fa-fw fa-link mb-1 mr-1" aria-hidden="true"></i> Website
              </a>
            {% endif %}

            {% if info.twitter %}
              <li class="list-group-item">
                <a href="https://twitter.com/{{ info.twitter }}">
                <i class="fab fa-fw fa-twitter mb-1 mr-1" aria-hidden="true"></i> @{{ info.twitter }}
                </a>
              </li>
            {% endif %}

            {% if info.email %}
              <li class="list-group-item">
                <a href="mailto:{{ info.email }}">
                <i class="far fa-fw fa-email mb-1 mr-1" aria-hidden="true"></i> {{ info.email }}
                </a>
              </li>
            {% endif %}

          </ul>
        </div>
      </div>

      <div class="col-lg-8 mb-4">
        <h1 class="h3">{{ info }}</h1>
        {{ info.get_description }}

        {% if items %}
          <section>
            <h2 class="h4">Publications</h2>
            {% include "_library.list.html" %}
          </section>
        {% endif %}

        <hr>
        <p>
          <a href="{% url "community:organizations" info.type %}">
          <i class="fa fa-arrow-left mr-2"></i>
          {{ info.get_type_display }}
          </a>
        </p>

      </div>
    </div>
  </div>

{% endblock %}
