{% extends "_base.html" %}
{% load humanize %}

{% block content %}

  <div class="container pb-5 pt-3">

    <div class="row">

      <div class="col-lg-4">
        <div class="card">
        {% if info.image %}
          <img src="{{ info.image.url }}" alt="" class="card-img-top p-3" />
        {% endif %}

          <ul class="list-group list-group-flush">

            {% if info.tags.all %}
              <li class="list-group-item">
                <i class="far fa-fw fa-tag mb-1 mr-1" aria-hidden="true"></i> Tags
                <br>
                {% for each in info.tags.all %}
                  <a class="btn btn-sm btn-primary-outline mt-1" href="{% url "library:index" %}?find=true&amp;search={{ each.id }}">{{ each }}</a>
                {% endfor %}
              </li>
            {% endif %}

            {% if info.start_date %}
              <li class="list-group-item">
                <i class="far fa-fw fa-calendar mb-1 mr-1" aria-hidden="true"></i> 
                {{ info.get_dates }}
              </li>
            {% endif %}

            {% if info.meta_data.budget %}
              <li class="list-group-item">
                <i class="far fa-fw fa-wallet mb-1 mr-1" aria-hidden="true"></i> Budget:
                {{ info.meta_data.budget_currency }}
                {{ info.meta_data.budget|floatformat:0|intcomma }}
              </li>
            {% endif %}

            {% if relationships %}
              {% for each in relationships %}
              <li class="list-group-item">
                <i class="far fa-fw fa-building mb-1 mr-1" aria-hidden="true"></i> 
                {{ each }}
              </li>
              {% endfor %}
            {% endif %}

            {% if info.meta_data.institution %}
              <li class="list-group-item">
                <i class="far fa-fw fa-building mb-1 mr-1" aria-hidden="true"></i> 
                <strong>Institution:</strong><br>
                {{ info.meta_data.institution }}
              </li>
            {% endif %}

            {% if info.meta_data.researcher %}
              <li class="list-group-item">
                <i class="far fa-fw fa-user mb-1 mr-1" aria-hidden="true"></i> 
                <strong>Researcher(s):</strong><br>
                {{ info.meta_data.researcher }}
              </li>
            {% endif %}

            {% if info.meta_data.supervisor %}
              <li class="list-group-item">
                <i class="far fa-fw fa-user mb-1 mr-1" aria-hidden="true"></i> 
                <strong>Supervisor(s):</strong><br>
                {{ info.meta_data.supervisor }}
              </li>
            {% endif %}

            {% if info.meta_data.research_team %}
              <li class="list-group-item">
                <i class="far fa-fw fa-user mb-1 mr-1" aria-hidden="true"></i> 
                <strong>Research team</strong><br>
                {{ info.meta_data.research_team }}
              </li>
            {% endif %}

            {% if info.meta_data.project_leader %}
              <li class="list-group-item">
                <i class="far fa-fw fa-user mb-1 mr-1" aria-hidden="true"></i> 
                <strong>Project leader</strong><br>
                {{ info.meta_data.project_leader }}
              </li>
            {% endif %}

            {% if info.email %}
              <li class="list-group-item">
                <i class="far fa-fw fa-envelope mb-1 mr-1" aria-hidden="true"></i> 
                <strong>E-mail:</strong><br>
                {{ info.email }}
              </li>
            {% endif %}

            {% if info.url %}
              <a class="list-group-item" href="{{ info.url }}">
                <i class="far fa-fw fa-link mb-1 mr-1" aria-hidden="true"></i> Project website
              </a>
            {% endif %}
          </ul>
        </div>
      </div>

      <div class="col-lg-8 mb-4">
        <h1 class="h3">{{ info }}</h1>
        {{ info.get_description }}

        <a href="javascript:history.back()" class="btn btn-primary-basic">
          <i class="fal fa-angle-left"></i>
          Back
        </a>

      </div>
    </div>

  </div>

{% endblock %}
