{% extends "_base.html" %}
{% load humanize %}

{% block page_name %}projects{% endblock %}

{% block content %}

<h1>{% block title %}Projects{% endblock %}</h1>

<table class="table table-striped datatable">
  <thead>
    <tr>
      <th>Name</th>
      {% if PROJECT.slug != "islands" %}
        <th>Funding programme</th>
        <th>Budget</th>
      {% endif %}
      <th>Date</th>
    </tr>
  </thead>
  <tbody>
  {% for each in list %}
    <tr>
      <td>
        <a href="{{ each.id }}/">{{ each }}</a><br>
      </td>
      {% if PROJECT.slug != "islands" %}
        <td>
          {% for funder in each.funders %}
            {{ funder }}
          {% endfor %}
        </td>
        <td class="text-nowrap" data-sort="{{ each.meta_data.budget }}">
        {% if each.meta_data.budget_currency %}
          &euro;
        {% else %}
          {{ each.meta_data.budget_currency }}
        {% endif %}
        {{ each.meta_data.budget|floatformat:0|intcomma }}</td>
      {% endif %}
      <td class="text-nowrap" data-sort="{{ each.start_date|date:"Ymd" }}">{{ each.get_dates_months|default_if_none:"" }}</td>
    </tr>
  {% endfor %}
  </tbody>
</table>

{% endblock %}

