{% load moc_extras %}

<div class="row progress-list">
  {% for each in list %}
    {% if counter|get_item:each.id %}
      <div class="col-md-6 col-lg-4 mb-4">
        <div class="card">
          <a href="{% url dashboard_link each.slug %}">
            <img src="{{ each.photo.image.large.url }}" class="card-img-top" alt="{{ each }}" style="max-height:200px">
          </a>
          <div class="card-body">
            <h5 class="card-title mb-0"><a href="{% url dashboard_link each.slug %}">{{ each }}</a></h5>
          </div>
          <ul class="list-group list-group-flush">
            <li class="list-group-item">
              <i class="fal fa-fw fa-dot-circle mr-1"></i> {{ document_counter|get_item:each.id }} documents
            </li>
            {% if False %}
              <li class="list-group-item">
                <i class="fal fa-fw fa-arrow-up mr-1"></i> 15 added this week
              </li>
              <li class="list-group-item">
                <i class="fal fa-fw fa-star mr-1"></i> Biggest contributer: <a href="#">Jane Doe</a>
              </li>
            {% endif %}
            <li class="list-group-item table-item">
              <div><i class="fal mr-2 fa-map-marked-alt fa-fw"></i> Context</div>
              <div>
                <div class="progress">
                  {% if False %}
                    <div class="progress-bar bg-primary" role="progressbar" style="width: 21%" aria-valuenow="21" aria-valuemin="0" aria-valuemax="100"></div>
                    <div class="progress-bar bg-secondary" role="progressbar" style="width: 30%" aria-valuenow="30" aria-valuemin="0" aria-valuemax="100"></div>
                  {% endif %}
                  <div class="progress-bar bg-success" role="progressbar" style="width: calc({% if counter|get_item:each.id %}{{ counter|get_item:each.id|get_item:846 }}{% else %}0{% endif %}/6*100%)" aria-valuenow="{% if counter|get_item:each.id %}{{ counter|get_item:each.id|get_item:846 }}{% else %}0{% endif %}" aria-valuemin="0" aria-valuemax="6"></div>
                </div>
              </div>
            </li>
            <li class="list-group-item table-item">
              <div><i class="fal mr-2 fa-trees fa-fw"></i> Biophysical</div>
              <div>
                <div class="progress">
                  <div class="progress-bar bg-success" role="progressbar" style="width: calc({% if counter|get_item:each.id %}{{ counter|get_item:each.id|get_item:847 }}{% else %}0{% endif %}/7*100%)" aria-valuenow="{% if counter|get_item:each.id %}{{ counter|get_item:each.id|get_item:847 }}{% else %}0{% endif %}" aria-valuemin="0" aria-valuemax="7"></div>
                </div>
              </div>
            </li>
            <li class="list-group-item table-item">
              <div><i class="fal mr-2 fa-industry-alt fa-fw"></i> Infrastructure</div>
              <div>
                <div class="progress">
                  <div class="progress-bar bg-success" role="progressbar" style="width: calc({% if counter|get_item:each.id %}{{ counter|get_item:each.id|get_item:848 }}{% else %}0{% endif %}/32*100%)" aria-valuenow="{% if counter|get_item:each.id %}{{ counter|get_item:each.id|get_item:848 }}{% else %}0{% endif %}" aria-valuemin="0" aria-valuemax="32"></div>
                </div>
              </div>
            </li>
            <li class="list-group-item table-item">
              <div><i class="fal mr-2 fa-random fa-fw"></i> Stocks &amp; flows</div>
              <div>
                <div class="progress">
                  <div class="progress-bar bg-success" role="progressbar" style="width: calc({% if counter|get_item:each.id %}{{ counter|get_item:each.id|get_item:849 }}{% else %}0{% endif %}/18*100%)" aria-valuenow="{% if counter|get_item:each.id %}{{ counter|get_item:each.id|get_item:849 }}{% else %}0{% endif %}" aria-valuemin="0" aria-valuemax="18"></div>
                </div>
              </div>
            </li>
            <li class="list-group-item">
              <i class="fal fa-fw fa-check mr-1"></i> {% widthratio completion|get_item:each.id 63 100 %}% data collection completion
            </li>
          </ul>
          <div class="card-body">
            <a class="btn btn-primary" href="{% url harvesting_link each.slug %}">
              <i class="fad fa-city"></i> Explore city
            </a>
            <a class="btn btn-primary-basic" href="#">
              <i class="fad fa-hands-helping"></i> Contribute
            </a>
          </div>
        </div>
      </div>
    {% endif %}
  {% endfor %}
</div>
