{% load moc_extras %}

  <div class="row progress-list">
    {% for each in list %}
      {% if each.get_counter or PROJECT.slug == "cityloops" or PROJECT.slug == "islands" %}
        <div class="col-md-6 col-lg-{% if request.GET.wide %}2{% else %}4{% endif %} mb-4">
          <div class="card">
            <a href="{% url dashboard_link each.slug %}">
              <img src="{{ each.get_thumbnail }}" class="card-img-top" alt="{{ each }}" style="max-height:200px">
            </a>
            <div class="card-body">
              <h5 class="card-title mb-0"><a href="{% url dashboard_link each.slug %}">{{ each }}</a></h5>
            </div>
            <ul class="list-group list-group-flush">
              <li class="list-group-item">
                <i class="fal fa-fw fa-dot-circle mr-1"></i> {{ each.get_document_counter }} documents
              </li>
              {% if False %}
                <li class="list-group-item">
                  <i class="fal fa-fw fa-arrow-up mr-1"></i> 15 added this week
                </li>
                <li class="list-group-item">
                  <i class="fal fa-fw fa-star mr-1"></i> Biggest contributer: <a href="#">Jane Doe</a>
                </li>
              {% endif %}

              {% for layer in layers %}
                <li class="list-group-item table-item">
                  <div class="text-truncate"><i class="fal mr-2 fa-{{ layer.icon }} fa-fw"></i> {{ layer.get_name_after_colon }}</div>
                  <div>
                    <div class="progress">
                      {% if False %}
                        <div class="progress-bar bg-primary" role="progressbar" style="width: 21%" aria-valuenow="21" aria-valuemin="0" aria-valuemax="100"></div>
                        <div class="progress-bar bg-secondary" role="progressbar" style="width: 30%" aria-valuenow="30" aria-valuemin="0" aria-valuemax="100"></div>
                      {% endif %}

                      <div class="progress-bar bg-success" role="progressbar" style="width: calc({% if each.get_counter %}{{ each.get_counter|get_item:layer.id }}{% else %}0{% endif %}/{{ layers_count|get_item:layer.id }}*100%)" aria-valuenow="{% if each.get_counter %}{{ each.get_counter|get_item:layer.id }}{% else %}0{% endif %}" aria-valuemin="0" aria-valuemax="{{ layers_count|get_item:layer.id }}"></div>

                    </div>
                  </div>
                </li>
              {% endfor %}
              <li class="list-group-item">
                <i class="fal fa-fw fa-check mr-1"></i> {% widthratio each.get_completion 63 100 %}% data collection completion
              </li>
            </ul>
            <div class="card-body">
              <a class="btn btn-primary" href="{% url URLS.DASHBOARD each.slug %}">
                <i class="fad fa-city"></i> Explore {{ SYSTEM_NAME_SINGULAR }}
              </a>
              <a class="btn btn-primary-basic" href="/hub/">
                <i class="fad fa-hands-helping"></i> Contribute
              </a>
            </div>
          </div>
        </div>
      {% endif %}
    {% endfor %}
  </div>
