{% load moc_extras %}

<div class="row progress-list">
  {% for each in list %}
    {% if each.get_counter or PROJECT.slug == "water" or PROJECT.slug == "cityloops" or PROJECT.slug == "islands" or show_all %}
      <div class="col-md-6 col-lg-{% if request.GET.wide %}2{% else %}4{% endif %} mb-4">
        <div class="card">
          <a href="{% url dashboard_link each.slug %}">
            <img src="{{ each.get_thumbnail }}" class="card-img-top" alt="{{ each }}" style="max-height:200px">
          </a>
          <div class="card-body">
            <h5 class="card-title mb-0"><a href="{% url dashboard_link each.slug %}">{{ each }}</a></h5>
            {% if each.get_country_name and each.get_country_name != each.name %}
              <h6>{{ each.get_country_name|default_if_none:"" }}</h6>
            {% endif %}
          </div>
          <ul class="list-group list-group-flush">
            <li class="list-group-item">
              <i class="fal fa-fw fa-dot-circle mr-2"></i>
              {% if PROJECT.slug == "cityloops" %}
                {{ each.get_document_counter_cityloops }}
              {% else %}
                {{ each.get_document_counter }}
              {% endif %}
              documents
            </li>
            {% if False %}
              <li class="list-group-item">
                <i class="fal fa-fw fa-arrow-up mr-2"></i> 15 added this week
              </li>
              <li class="list-group-item">
                <i class="fal fa-fw fa-star mr-2"></i> Biggest contributer: <a href="#">Jane Doe</a>
              </li>
            {% endif %}

            {% for layer in layers %}
              <li class="list-group-item space-layers">
                <i class="fal mr-2 fa-{{ layer.icon }} fa-fw"></i> <span class="layer-name text-truncate">{{ layer.get_name_after_colon }}</span>

                <div class="progress-donuts float-right">
                  {% if False %}
                    <svg viewBox="0 0 100 100">
                      <circle class="background-donut" r="40" cy="50" cx="50"/>
                      <circle class="actual-progress"  r="40" cy="50" cx="50" stroke-dashoffset="140px"/>
                    </svg>
                  {% endif %}

                  {% if PROJECT.slug == "cityloops" %}
                    <svg viewBox="0 0 100 100">
                      <circle class="background-donut" r="40" cy="50" cx="50"/>
                      <circle class="actual-progress"  r="40" cy="50" cx="50" stroke-dashoffset="{% if each.get_counter_cityloops %}calc(250px - ({{ each.get_counter_cityloops|get_item:layer.id|default:0 }} / {{ layers_count|get_item:layer.id }}) * 250px{% else %}250px{% endif %}"/>
                    </svg>


                  {% else %}
                    <svg viewBox="0 0 100 100">
                      <circle class="background-donut" r="40" cy="50" cx="50"/>
                      <circle class="actual-progress"  r="40" cy="50" cx="50" stroke-dashoffset="{% if each.get_counter %}calc(250px - ({{ each.get_counter|get_item:layer.id|default:0 }} / {{ layers_count|get_item:layer.id }}) * 250px{% else %}250px{% endif %}"/>
                    </svg>
                  {% endif %}

                </div>
              </li>
            {% endfor %}
            <li class="list-group-item">
              <i class="fal fa-fw fa-check mr-2"></i>
              {% if PROJECT.slug == "cityloops" %}
                {% widthratio each.get_completion_cityloops 95 100 %}% data collection completion
              {% else %}
                {% widthratio each.get_completion 63 100 %}% data collection completion
              {% endif %}
            </li>
          </ul>
          <div class="card-body">
            <a class="btn btn-primary" href="{% url URLS.DASHBOARD each.slug %}">
              <i class="fad fa-city"></i> Explore {{ SYSTEM_NAME_SINGULAR }}
            </a>
            <a class="btn btn-primary-basic" href="/hub/">
              <i class="fad fa-hands-helping"></i> Contribute
            </a>
          </div>
        </div>
      </div>
    {% endif %}
  {% endfor %}
</div>
