{% extends "_base.html" %}
{% load static %}
{% block title %}{{ space }}{% endblock %}

{% block head %}
<link rel="stylesheet" href="https://unpkg.com/leaflet@1.6.0/dist/leaflet.css"
   integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ=="
   crossorigin=""/>
<link rel="stylesheet" href="https://unpkg.com/leaflet@1.6.0/dist/leaflet.css" />

<style>
  .single-datapoint {
    display: inline-block;
    background-color: #efefef;
    margin-right: 1px;
    height: 12px;
  }

  .single-datapoint.collected {
    background-color: #ff8a4e;
  }

  .single-datapoint.processed {
    background-color: #144d58;
  }

  .single-datapoint:last-of-type {
    margin-right: 0;
  }

  .context .single-datapoint {
    width: calc(100% / 6 - 1px);
  }

  .biophysical .single-datapoint {
    width: calc(100% / 7 - 1px);
  }

  .infrastructure .single-datapoint {
    width: calc(100% / 31 - 1px);
  }

  .stocks .single-datapoint {
    width: calc(100% / 18 - 1px);
  }

  .progress-section .card {
    height: 100%;
  }

  .get-involved .btn {
    margin: auto;
  }

  .resource-count {
    float: right;
    margin-top: .25rem;
  }

  .btn-icon.disabled {
    cursor: unset;
    opacity: .25;
    pointer-events: none;
  }

  .coming-soon {
    position: absolute;
    z-index: 1;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }
</style>
{% endblock %}

{% block content %}
<section class="basic-info">
  <div class="row">
    <div class="col-xl-4 col-lg-6 col-md-6">
      <div class="card">
        <img src="{{ space.photo.image.thumbnail.url }}" class="card-img-top">
        <div class="card-body">
          <h5 class="card-title">{{ space }}</h5>
          <h6 class="card-subtitle mb-2 text-muted">{{ space.country }}</h6>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>
    </div>
    <div class="col-xl-8 col-lg-6 col-md-6">
      {% if space.location %}
        <div class="leaflet-map" id="space-map"></div>
      {% else %}
        <div class="alert alert-dark text-center p-5 mb-0">
          <h2 class="pt-5 pb-5">
          <i class="fa fa-exclamation-triangle"></i><br>
            No map available yet.
          </h2>
          <div class="mt-4">
            You can help! Become a <a href="/hub">data contributor</a> and help <a href="https://multimedia.metabolismofcities.org/videos/34002/">upload an appropriate shapefile</a>.
          </div>
        </div>
      {% endif %}
    </div>
  </div>
</section>

<section class="resources">
  <h2>Resources</h2>
  <div class="row">
    <div class="col-xl-3 col-md-6">
      <a class="btn-icon" href="/data/the-hague/datasets/">
        <div class="title"><i class="fal fa-chart-area fa-fw"></i> Datasets <span class="resource-count badge badge-primary">142</span></div>
        <div class="text">Explore datasets on material flows, stocks, consumption, and more</div>
      </a>
    </div>
    <div class="col-xl-3 col-md-6">
      <a class="btn-icon" href="{% url 'data:journal_articles' space.slug %}">
        <div class="title"><i class="fal fa-books fa-fw"></i> Publications <span class="resource-count badge badge-primary">31</span></div>
        <div class="text">Academic literature, reports, and publications published in peer-reviewed journals</div>
      </a>
    </div>
    <div class="col-xl-3 col-md-6">
      <a class="btn-icon" href="/data/the-hague/datasets/">
        <div class="title"><i class="fal fa-globe-africa fa-fw"></i> Maps <span class="resource-count badge badge-primary">12</span></div>
        <div class="text">View boundaries, micro-territorial units, infrastructure maps, and more</div>
      </a>
    </div>
    <div class="col-xl-3 col-md-6">
      <a class="btn-icon" href="{% url 'data:photos' space.slug %}">
        <div class="title"><i class="fal fa-photo-video fa-fw"></i> Multimedia <span class="resource-count badge badge-primary">73</span></div>
        <div class="text">Photos, podcasts, videos, data visualisations, and more</div>
      </a>
    </div>
  </div>
</section>

<section class="progress-section">
  <h2>Progress</h2>
  <div class="row">
    {% for each in layers %}
    <div class="col-md-6 col-lg-3 context mb-4">
      <div class="card card-body d-block">
        <h5><i class="fal mr-2 fa-{{ each.icon }} fa-fw"></i> {{ each }}</h5>
        {% spaceless %}
          <div class="single-datapoint {{ done|random }}"></div>
          <div class="single-datapoint {{ done|random }}"></div>
          <div class="single-datapoint {{ done|random }}"></div>
          <div class="single-datapoint {{ done|random }}"></div>
          <div class="single-datapoint {{ done|random }}"></div>
          <div class="single-datapoint {{ done|random }}"></div>
        {% endspaceless %}
      </div>
    </div>
    {% endfor %}
    <div class="col-md-6 col-lg-3 biophysical mb-4">
      <div class="card card-body d-block">
        <h5><i class="fal mr-2 fa-trees fa-fw"></i> Biophysical</h5>
        {% spaceless %}
          <div class="single-datapoint {{ done|random }}"></div>
          <div class="single-datapoint {{ done|random }}"></div>
          <div class="single-datapoint {{ done|random }}"></div>
          <div class="single-datapoint {{ done|random }}"></div>
          <div class="single-datapoint {{ done|random }}"></div>
          <div class="single-datapoint {{ done|random }}"></div>
          <div class="single-datapoint {{ done|random }}"></div>
        {% endspaceless %}
      </div>
    </div>
    <div class="col-md-6 col-lg-3 infrastructure mb-4">
      <div class="card card-body d-block">
        <h5><i class="fal mr-2 fa-industry-alt fa-fw"></i> Infrastructure</h5>
        {% spaceless %}
          <div class="single-datapoint {{ done|random }}"></div>
          <div class="single-datapoint {{ done|random }}"></div>
          <div class="single-datapoint {{ done|random }}"></div>
          <div class="single-datapoint {{ done|random }}"></div>
          <div class="single-datapoint {{ done|random }}"></div>
          <div class="single-datapoint {{ done|random }}"></div>
          <div class="single-datapoint {{ done|random }}"></div>
          <div class="single-datapoint {{ done|random }}"></div>
          <div class="single-datapoint {{ done|random }}"></div>
          <div class="single-datapoint {{ done|random }}"></div>
          <div class="single-datapoint {{ done|random }}"></div>
          <div class="single-datapoint {{ done|random }}"></div>
          <div class="single-datapoint {{ done|random }}"></div>
          <div class="single-datapoint {{ done|random }}"></div>
          <div class="single-datapoint {{ done|random }}"></div>
          <div class="single-datapoint {{ done|random }}"></div>
          <div class="single-datapoint {{ done|random }}"></div>
          <div class="single-datapoint {{ done|random }}"></div>
          <div class="single-datapoint {{ done|random }}"></div>
          <div class="single-datapoint {{ done|random }}"></div>
          <div class="single-datapoint {{ done|random }}"></div>
          <div class="single-datapoint {{ done|random }}"></div>
          <div class="single-datapoint {{ done|random }}"></div>
          <div class="single-datapoint {{ done|random }}"></div>
          <div class="single-datapoint {{ done|random }}"></div>
          <div class="single-datapoint {{ done|random }}"></div>
          <div class="single-datapoint {{ done|random }}"></div>
          <div class="single-datapoint {{ done|random }}"></div>
          <div class="single-datapoint {{ done|random }}"></div>
          <div class="single-datapoint {{ done|random }}"></div>
          <div class="single-datapoint {{ done|random }}"></div>
        {% endspaceless %}
      </div>
    </div>
    <div class="col-md-6 col-lg-3 stocks mb-4">
      <div class="card card-body d-block">
        <h5><i class="fal mr-2 fa-random fa-fw"></i> Stocks and flows</h5>
        {% spaceless %}
          <div class="single-datapoint {{ done|random }}"></div>
          <div class="single-datapoint {{ done|random }}"></div>
          <div class="single-datapoint {{ done|random }}"></div>
          <div class="single-datapoint {{ done|random }}"></div>
          <div class="single-datapoint {{ done|random }}"></div>
          <div class="single-datapoint {{ done|random }}"></div>
          <div class="single-datapoint {{ done|random }}"></div>
          <div class="single-datapoint {{ done|random }}"></div>
          <div class="single-datapoint {{ done|random }}"></div>
          <div class="single-datapoint {{ done|random }}"></div>
          <div class="single-datapoint {{ done|random }}"></div>
          <div class="single-datapoint {{ done|random }}"></div>
          <div class="single-datapoint {{ done|random }}"></div>
          <div class="single-datapoint {{ done|random }}"></div>
          <div class="single-datapoint {{ done|random }}"></div>
          <div class="single-datapoint {{ done|random }}"></div>
          <div class="single-datapoint {{ done|random }}"></div>
          <div class="single-datapoint {{ done|random }}"></div>
        {% endspaceless %}
      </div>
    </div>

    <div class="col-lg-4">
      <div class="card card-body text-center">
        <h5>Data points added this week</h5>
        <h2 class="mb-0">41</h2>
      </div>
    </div>
    <div class="col-lg-4">
      <div class="card card-body text-center">
        <h5>Biggest contributer</h5>
        <h2 class="mb-0">Jane Doe</h2>
      </div>
    </div>
    <div class="col-lg-4 align-middle">
      <a class="card btn-card card-body text-center get-involved" href="">
        <div class="btn btn-lg btn-primary">
          <i class="fa fa-handshake"></i> Get involved
        </div>
      </a>
    </div>
  </div>
</section>

<section class="community">
  <h2>Community portal</h2>

  <div class="row">
    <div class="col-xl-3 col-md-6">
      <a class="btn-icon" href="hub/harvesting/">
        <div class="title"><i class="fal fa-database fa-fw"></i> Data collection</div>
        <div class="text">Photos, podcasts, videos, data visualisations, and more.</div>
      </a>
    </div>
    <div class="col-xl-3 col-md-6">
      <a class="btn-icon" href="hub/processing/">
        <div class="title"><i class="fal fa-cog fa-fw"></i> Processing</div>
        <div class="text">Photos, podcasts, videos, data visualisations, and more</div>
      </a>
    </div>
    <div class="col-xl-3 col-md-6">
      <div class="coming-soon badge badge-primary p-2"><h5 class="mb-0">Coming soon...</h5></div>
      <div class="btn-icon disabled">
        <div class="title"><i class="fal fa-file-alt fa-fw"></i> Publication</div>
        <div class="text">Photos, podcasts, videos, data visualisations, and more</div>
      </div>
    </div>
    <div class="col-xl-3 col-md-6">
      <div class="coming-soon badge badge-primary p-2"><h5 class="mb-0">Coming soon...</h5></div>
      <div class="btn-icon disabled">
        <div class="title"><i class="fal fa-file-spreadsheet fa-fw"></i> Data articles</div>
        <div class="text">Photos, podcasts, videos, data visualisations, and more</div>
      </div>
    </div>
  </div>
</section>


{% endblock %}

{% block footer %}
<script src="https://unpkg.com/leaflet@1.6.0/dist/leaflet.js" integrity="sha512-gZwIG9x3wUXg2hdXF6+rVkLF/0Vi9U8D2Ntg4Ga5I5BZpVkVxlJWbSQtXPSiUTtC0TjtGOmxa1AJPuV0CPthew==" crossorigin=""></script>

{% if space.location %}
  <script>
    var map = L.map("space-map");
    var geojson = {{ space.location.geometry.geojson|safe }};
    var geojsonlayer = L.geoJSON(geojson).addTo(map);

    L.tileLayer("https://api.mapbox.com/styles/v1/{id}/tiles/{z}/{x}/{y}?access_token=pk.eyJ1IjoibWV0YWJvbGlzbW9mY2l0aWVzIiwiYSI6ImNqcHA5YXh6aTAxcmY0Mm8yMGF3MGZjdGcifQ.lVZaiSy76Om31uXLP3hw-Q", {
      attribution: "Map data &copy; <a href='http://openstreetmap.org'>OpenStreetMap</a> contributors, " +
        "<a href='http://creativecommons.org/licenses/by-sa/2.0/'>CC-BY-SA</a>, " +
        "Imagery © <a href='http://mapbox.com'>Mapbox</a>",
      id: "mapbox/streets-v11",
      maxZoom: 18,
      id: "mapbox/streets-v11",
      tileSize: 512,
      zoomOffset: -1,
      accessToken: "{{ MAPBOX_API_KEY }}"
    }).addTo(map);

    map.scrollWheelZoom.disable();
    map.fitBounds(geojsonlayer.getBounds());
  </script>
{% endif %}

{% endblock %}
