{% extends "_base.html" %}
{% load moc_extras %}
{% load static %}

{% block title %}{{ space }}{% endblock %}

{% block head %}
<link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"
  integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A=="
  crossorigin=""/>

<style>
  .single-datapoint {
    display: inline-block;
    background-color: #efefef;
    margin-right: 1px;
    height: 12px;
  }

  .single-datapoint.collected {
    background-color: #ff8a4e;
  }

  .single-datapoint.processed {
    background-color: #144d58;
  }

  .single-datapoint:last-of-type {
    margin-right: 0;
  }

  .context .single-datapoint {
    width: calc(100% / 6 - 1px);
  }

  .biophysical .single-datapoint {
    width: calc(100% / 7 - 1px);
  }

  .infrastructure .single-datapoint {
    width: calc(100% / 31 - 1px);
  }

  .stocks .single-datapoint {
    width: calc(100% / 18 - 1px);
  }

  .progress-section .card {
    height: 100%;
  }

  .get-involved .btn {
    margin: auto;
  }

  .resource-count {
    float: right;
    margin-top: .25rem;
  }

  .btn-icon.disabled {
    cursor: unset;
    opacity: .25;
    pointer-events: none;
  }

  .coming-soon {
    position: absolute;
    z-index: 1;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }
</style>
{% endblock %}

{% block content %}

<section class="basic-info">
  <div class="row">
    <div class="col-xl-4 col-lg-6 col-md-6">
      <div class="card">
        {% if second_photo %}
          <img src="{{ second_photo.image.thumbnail.url }}" class="card-img-top">
        {% endif %}
        <div class="card-body">
          <h5 class="card-title">{{ space }}</h5>
          <h6 class="card-subtitle mb-2 text-muted">{{ space.country }}</h6>
          <p class="card-text">
            This is the data dashboard for {{ space }}. This is a work in progress, and you can help!
          </p>
          <a href="https://data.metabolismofcities.org/news/new-metabolism-of-cities-data-hub-launched/" class="btn btn-primary">Learn more</a>
        </div>
      </div>
    </div>
    <div class="col-xl-8 col-lg-6 col-md-6">
      {% if space.geometry %}
        <div class="leaflet-map" id="space-map"></div>
        <p><a href="maps/overview/">View master map</a></p>
      {% else %}
        <div class="alert alert-dark text-center p-5 mb-0">
          <h2 class="pt-5 pb-5">
          <i class="fa fa-exclamation-triangle"></i><br>
            No map available yet.
          </h2>
          <div class="mt-4">
            You can help! Become a <a href="/hub">data contributor</a> and help <a href="https://multimedia.metabolismofcities.org/videos/34002/">upload an appropriate shapefile</a>.
          </div>
        </div>
      {% endif %}
    </div>
  </div>
</section>

<section class="resources">
  <h2>Existing Resources <i class="fal fa-folder fa-fw"></i></h2>
  <div class="row">
    <div class="col-xl-3 col-md-6">
      <a class="btn-icon" href="{% url URLS.LIBRARY_OVERVIEW space.slug 'datasets' %}">
        <div class="title"><i class="fal fa-chart-area fa-fw"></i> Datasets <span class="resource-count badge badge-primary">{{ doc_counter|get_item:"datasets" }}</span></div>
        <div class="text">Explore datasets on material flows, stocks, consumption, and more</div>
      </a>
    </div>
    <div class="col-xl-3 col-md-6">
      <a class="btn-icon" href="{% url URLS.LIBRARY_OVERVIEW space.slug 'publications' %}">
        <div class="title"><i class="fal fa-books fa-fw"></i> Publications <span class="resource-count badge badge-primary">{{ doc_counter|get_item:"publications" }}</span></div>
        <div class="text">Academic literature, reports, and publications published in peer-reviewed journals</div>
      </a>
    </div>
    <div class="col-xl-3 col-md-6">
      <a class="btn-icon" href="{% url URLS.LIBRARY_OVERVIEW space.slug 'maps' %}">
        <div class="title"><i class="fal fa-globe-africa fa-fw"></i> Maps <span class="resource-count badge badge-primary">{{ doc_counter|get_item:"maps" }}</span></div>
        <div class="text">View boundaries, micro-territorial units, infrastructure maps, and more</div>
      </a>
    </div>
    <div class="col-xl-3 col-md-6">
      <a class="btn-icon" href="{% url URLS.LIBRARY_OVERVIEW space.slug 'multimedia' %}">
        <div class="title"><i class="fal fa-photo-video fa-fw"></i> Multimedia <span class="resource-count badge badge-primary">{{ doc_counter|get_item:"multimedia" }}</span></div>
        <div class="text">Photos, videos, data visualisations, and more</div>
      </a>
    </div>
  </div>
</section>

<section class="contribution">
  <h2>Contribute <i class="fal fa-upload fa-fw"></i></h2>
  <div class="row">
    <div class="col-xl-3 col-md-6">
      <a class="btn-icon" href="hub/harvesting/">
        <div class="title"><i class="fal fa-database fa-fw"></i> Data collection</div>
        <div class="text">Indexing and uploading of datasets, reports, photos, and more.</div>
      </a>
    </div>
    <div class="col-xl-3 col-md-6">
      <a class="btn-icon" href="{% url "library:upload" %}">
        <div class="title"><i class="fal fa-books fa-fw"></i> Publications
        </div>
        <div class="text">
          Contribute to Academic literature, reports, and publications published in peer-reviewed journals
        </div>
      </a>
    </div>
    <div class="col-xl-3 col-md-6">
      <a class="btn-icon" href="hub/processing/">
        <div class="title"><i class="fal fa-cog fa-fw"></i> Processing</div>
        <div class="text">Data are standardised and loaded into a single dataset.</div>
      </a>
    </div>
    <div class="col-xl-3 col-md-6">
      <div class="coming-soon badge badge-primary p-2"><h5 class="mb-0">Coming soon...</h5></div>
      <div class="btn-icon disabled">
        <div class="title"><i class="fal fa-file-spreadsheet fa-fw"></i> Data articles</div>
        <div class="text">Photos, podcasts, videos, data visualisations, and more</div>
      </div>
    </div>
  </div>
</section>

<section class="Videos">
  <h2>"How To" Tutorials <i class="fal fa-video fa-fw"></i></h2>
  <div class="row">
    <div class="col-xl-3 col-md-6">
      <a class="btn-icon" href="https://multimedia.metabolismofcities.org/videos/collection/754/">
        <div class="title"><i class="fal fa-video fa-fw"></i> Data</div>
        <div class="text">Check out our instruction videos on how to upload any data for this island</div>
      </a>
    </div>
    <div class="col-xl-3 col-md-6">
      <a class="btn-icon" href="">
        <div class="title"><i class="fal fa-video fa-fw"></i> Publications
        </div>
        <div class="text">
          Check out our instruction videos on how to upload a library publication for this island
        </div>
      </a>
    </div>
    <div class="col-xl-3 col-md-6">
      <a class="btn-icon" href="https://multimedia.metabolismofcities.org/videos/collection/966/">
        <div class="title"><i class="fal fa-video fa-fw"></i> Processing</div>
        <div class="text">
          Check out our instruction videos on how to process dataset, shapefiles, geospatial spreadsheets, and many more.
        </div>
      </a>
    </div>
    <div class="col-xl-3 col-md-6">
      <a class="btn-icon" href="https://education.metabolismofcities.org/courses/">
        <div class="title"><i class="fal fa-chalkboard-teacher"></i> Online courses</div>
        <div class="text">
          Check out our online courses on how to upload your data and how we process and help you visualise your data.
        </div>
      </a>
    </div>
  </div>
</section>

<!-- Get rid of the progress section -->
<!-- <section class="progress-section">
  <h2>Progress</h2>
  <div class="row">
    {% for each in layers %}
    <div class="{% if PROJECT.slug == 'cityloops' %}col-md-4{% else %}col-md-6 col-lg-3{% endif %} context mb-4">
      <a class="btn-icon" href="{{ each.slug }}/">
        <h5 class="text-truncate"><i class="fal mr-2 fa-{{ each.icon }} fa-fw"></i> {{ each.get_name_after_colon }}</h5>
        <div class="progress">
          <div
            class="progress-bar bg-success"
            role="progressbar"
            {% if PROJECT.slug == "cityloops" %}
              style="width: calc({% if space.get_counter_cityloops %}{{ space.get_counter_cityloops|get_item:each.id }}{% else %}0{% endif %}/{{ layers_count|get_item:each.id }}*100%)"
            {% else %}
              style="width: calc({% if space.get_counter %}{{ space.get_counter|get_item:each.id }}{% else %}0{% endif %}/{{ layers_count|get_item:each.id }}*100%)"
            {% endif %}
            aria-valuenow="{% if space.get_counter %}{{ space.get_counter|get_item:each.id }}{% else %}0{% endif %}"
            aria-valuemin="0"
            aria-valuemax="6">
          </div>
        </div>

        {% if False %}
        {% spaceless %}
          <div class="single-datapoint {{ done|random }}"></div>
          <div class="single-datapoint {{ done|random }}"></div>
          <div class="single-datapoint {{ done|random }}"></div>
          <div class="single-datapoint {{ done|random }}"></div>
          <div class="single-datapoint {{ done|random }}"></div>
        {% endspaceless %}
        {% endif %}
      </a>
    </div>
    {% endfor %}

    <div class="col-lg-4">
      <div class="card card-body text-center">
        <h5>Items added last 14 days</h5>
        <h2 class="mb-0"><a href="{% url URLS.LIBRARY_OVERVIEW space.slug 'recent' %}">{{ added }}</a></h2>
      </div>
    </div>
    <div class="col-lg-4">
      <div class="card card-body text-center">
        <h5>Top contributer</h5>
        <h2 class="mb-0">{{ highscore.assigned_to__name }}</h2>
        <p><a href="hub/people/">View all contributors</a></p>
      </div>
    </div>
    <div class="col-lg-4 align-middle">
      <a class="card btn-card card-body text-center get-involved" href="hub/">
        <div class="btn btn-lg btn-primary">
          <i class="fa fa-handshake"></i> Get involved
        </div>
      </a>
    </div>
  </div>
</section> -->

<!-- <section class="community">
  <h2>Community portal</h2>

  <div class="row">
    <div class="col-xl-3 col-md-6">
      <a class="btn-icon" href="hub/harvesting/">
        <div class="title"><i class="fal fa-database fa-fw"></i> Data collection</div>
        <div class="text">Indexing and uploading of datasets, reports, photos, and more.</div>
      </a>
    </div>
    <div class="col-xl-3 col-md-6">
      <a class="btn-icon" href="hub/processing/">
        <div class="title"><i class="fal fa-cog fa-fw"></i> Processing</div>
        <div class="text">Data are standardised and loaded into a single dataset.</div>
      </a>
    </div>
    <div class="col-xl-3 col-md-6">
      <div class="coming-soon badge badge-primary p-2"><h5 class="mb-0">Coming soon...</h5></div>
      <div class="btn-icon disabled">
        <div class="title"><i class="fal fa-file-alt fa-fw"></i> Publication</div>
        <div class="text">Photos, podcasts, videos, data visualisations, and more</div>
      </div>
    </div>
    <div class="col-xl-3 col-md-6">
      <div class="coming-soon badge badge-primary p-2"><h5 class="mb-0">Coming soon...</h5></div>
      <div class="btn-icon disabled">
        <div class="title"><i class="fal fa-file-spreadsheet fa-fw"></i> Data articles</div>
        <div class="text">Photos, podcasts, videos, data visualisations, and more</div>
      </div>
    </div>
  </div>
</section> -->

{% endblock %}

{% block footer %}
<script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"
   integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA=="
   crossorigin=""></script>

{% if space.geometry %}
  <script>
    var map = L.map("space-map");
    var geojson = {{ space.geometry.geojson|safe }};
    var geojsonlayer = L.geoJSON(geojson).addTo(map);

    L.tileLayer("https://api.mapbox.com/styles/v1/{id}/tiles/{z}/{x}/{y}?access_token=pk.eyJ1IjoibWV0YWJvbGlzbW9mY2l0aWVzIiwiYSI6ImNqcHA5YXh6aTAxcmY0Mm8yMGF3MGZjdGcifQ.lVZaiSy76Om31uXLP3hw-Q", {
      attribution: "Map data &copy; <a href='http://openstreetmap.org'>OpenStreetMap</a> contributors, " +
        "<a href='http://creativecommons.org/licenses/by-sa/2.0/'>CC-BY-SA</a>, " +
        "Imagery © <a href='http://mapbox.com'>Mapbox</a>",
      id: "mapbox/streets-v11",
      maxZoom: 18,
      tileSize: 512,
      zoomOffset: -1,
      accessToken: "{{ MAPBOX_API_KEY }}"
    }).addTo(map);

    map.scrollWheelZoom.disable();
    map.fitBounds(geojsonlayer.getBounds());
    {% if space.geometry.num_points == 1 %}
      map.setZoom(6);
    {% endif %}
  </script>
{% endif %}

{% endblock %}
