{% extends "_base.html" %}

{% load static %}

{% block title %}Index{% endblock %}
{% block head %}
<link rel="stylesheet" href="https://unpkg.com/leaflet@1.6.0/dist/leaflet.css"
integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ=="
crossorigin=""/>
<link rel="stylesheet" href="https://unpkg.com/leaflet@1.6.0/dist/leaflet.css" />
{% endblock %}

{% block content %}
<div class="section">
  <div class="row mb-4">
    <div class="col-lg-9">
      <h2>What is this?</h2>
      {% lorem 1 p %}
      <p><a class="btn btn-primary-outline" href="http://">Read more &raquo;</a></p>
    </div>
    <div class="col-lg-3">
      <h3>Cities</h3>
      <div class="card basic-info">
        <a href="/data/cape-town/" class="list-group-item">Cape Town</a>
        <a href="/data/cape-town/" class="list-group-item">Cape Town</a>
        <a href="/data/newyork/" class="list-group-item">New York</a>
        <a href="/data/toronto/" class="list-group-item">Toronto</a>
        <a href="/data/sydney/" class="list-group-item">Sydney</a>
        <a href="/data/overview/" class="list-group-item">View all</a>
      </div>
    </div>
  </div>
  <div id="map_pin" class="mb-4" style="height: 300px;"></div>
</div>
<section>
  <h2 class="text-center mb-1 mt-4">Latest updates</h2>
  <div class="row mb-4">
    <div class="col-lg-4 mt-3">
      <h3>New datasets</h3>
      <div class="card basic-info">
        <a href="http://" class="list-group-item">Water consumption <span class="text-dark">Cape Town</span>
        </a>
        <a href="http://" class="list-group-item">Electricity consumption <span class="text-dark">Cape Town</span>
        </a>
        <a href="http://" class="list-group-item">CO2 emissions <span class="text-dark">New York</span>
        </a>
        <a href="http://" class="list-group-item">Metal stock in buildings older than 20 years <span class="text-dark">Sydney</span>
        </a>
        <a href="http://" class="list-group-item">Crop yields by type of crop <span class="text-dark">Waterloo</span>
        </a>
        <a href="http://" class="list-group-item">View all datasets</a>
      </div>
    </div>
    <div class="col-lg-4 mt-3">
      <h3>New maps</h3>
      <div class="card basic-info">
        <a href="http://" class="list-group-item">Wastewater treatment plants <span class="text-dark">Cape Town</span>
        </a>
        <a href="http://" class="list-group-item">Water treatment plants <span class="text-dark">Cape Town</span>
        </a>
        <a href="http://" class="list-group-item">Landfill sites <span class="text-dark">      Cape Town</span>
        </a>
        <a href="http://" class="list-group-item">Metro stations <span class="text-dark">New York</span>
        </a>
        <a href="http://" class="list-group-item">Bus stops <span class="text-dark">The Hague</span>
        </a>
        <a href="http://" class="list-group-item">View all maps</a>
      </div>
    </div>
    <div class="col-lg-4 mt-3">
      <h3>News</h3>
      <div class="card basic-info">
        <a href="http://" class="list-group-item">New research on groundwater in Cape Town <span class="text-dark">Jan 1, 2020</span>
        </a>
        <a href="http://" class="list-group-item">New research on groundwater in Cape Town <span class="text-dark">Jan 1, 2020</span>
        </a>
        <a href="http://" class="list-group-item">New research on groundwater in Cape Town <span class="text-dark">Jan 1, 2020</span>
        </a>
        <a href="http://" class="list-group-item">New research on groundwater in Cape Town <span class="text-dark">Jan 1, 2020</span>
        </a>
        <a href="http://" class="list-group-item">New research on groundwater in Cape Town <span class="text-dark">Jan 1, 2020</span>
        </a>
        <a href="http://" class="list-group-item">View all news</a>
      </div>
    </div>
  </div>
</section>

<section>
  <div class="card contribute">
    <div class="card-body">
      <h4 class="card-title font-weight-bold">Contribute</h4>
      <p class="card-text">
        This data hub is built, maintained, and expanded by people like <strong>you</strong>.
        Join our project now.
      </p>
      <a class="btn btn-secondary-outline mb-2" href="#">Contribute data</a>
      <a class="btn btn-secondary-outline mb-2" href="#">Collect photos</a>
      <a class="btn btn-secondary-outline mb-2" href="#">Academic programmes</a>
      <a class="btn btn-secondary-outline mb-2" href="#">Add your city</a>
    </div>
  </div>
</section>
<section>
  <h2 class="text-center">Statistics</h2>
  <div class="row">
    <div class="col-lg-3 mb-2">
      <div class="card text-center btn btn-primary">
        <i class="fa fa-bar-chart mt-4"></i>
        <div class="card-body">
          <h5 class="card-title">Active cities</h5>
          <p class="card-text">8</p>
        </div>
      </div>
    </div>
    <div class="col-lg-3 mb-2">
      <div class="card text-center btn btn-warning">
        <i class="fa fa-bar-chart mt-4"></i>
        <div class="card-body">
          <h5 class="card-title">Data sets</h5>
          <p class="card-text">93</p>
        </div>
      </div>
    </div>
    <div class="col-lg-3 mb-2">
      <div class="card text-center btn btn-secondary">
        <i class="fa fa-bar-chart mt-4"></i>
        <div class="card-body">
          <h5 class="card-title">Data points</h5>
          <p class="card-text">5,394</p>
        </div>
      </div>
    </div>
    <div class="col-lg-3 mb-2">
      <div class="card text-center btn btn-danger">
        <i class="fa fa-bar-chart mt-4"></i>
        <div class="card-body">
          <h5 class="card-title">Contributors</h5>
          <p class="card-text">54</p>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock %}

{% block footer %}
<script src="https://unpkg.com/leaflet@1.6.0/dist/leaflet.js" integrity="sha512-gZwIG9x3wUXg2hdXF6+rVkLF/0Vi9U8D2Ntg4Ga5I5BZpVkVxlJWbSQtXPSiUTtC0TjtGOmxa1AJPuV0CPthew==" crossorigin=""></script>
<script>
  var map_pin = L.map("map_pin").setView([51.505, -0.09], 13);
  L.tileLayer("https://api.mapbox.com/styles/v1/{id}/tiles/{z}/{x}/{y}?access_token=pk.eyJ1IjoibWV0YWJvbGlzbW9mY2l0aWVzIiwiYSI6ImNqcHA5YXh6aTAxcmY0Mm8yMGF3MGZjdGcifQ.lVZaiSy76Om31uXLP3hw-Q", {
    attribution: 'Map data &copy; <a href="https://www.openstreetmap.org/">OpenStreetMap</a> contributors, <a href="https://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, Imagery © <a href="https://www.mapbox.com/">Mapbox</a>',
    maxZoom: 18,
    id: "mapbox/streets-v11",
    tileSize: 512,
    zoomOffset: -1,
    accessToken: "your.mapbox.access.token"
  }).addTo(map_pin);
  var marker = L.marker([51.5, -0.09]).addTo(map_pin);

  var map_polygon = L.map("map_polygon").setView([51.505, -0.09], 13);
  L.tileLayer("https://api.mapbox.com/styles/v1/{id}/tiles/{z}/{x}/{y}?access_token=pk.eyJ1IjoibWV0YWJvbGlzbW9mY2l0aWVzIiwiYSI6ImNqcHA5YXh6aTAxcmY0Mm8yMGF3MGZjdGcifQ.lVZaiSy76Om31uXLP3hw-Q", {
    attribution: 'Map data &copy; <a href="https://www.openstreetmap.org/">OpenStreetMap</a> contributors, <a href="https://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, Imagery © <a href="https://www.mapbox.com/">Mapbox</a>',
    maxZoom: 18,
    id: "mapbox/streets-v11",
    tileSize: 512,
    zoomOffset: -1,
    accessToken: "your.mapbox.access.token"
  }).addTo(map_polygon);
  var polygon = L.polygon([
    [51.509, -0.08],
    [51.503, -0.06],
    [51.51, -0.047]
    ]).addTo(map_polygon);
  </script>
  {% endblock %}
