{% extends "_base.html" %}

{% block content %}

<h3 class="mb-0">
  <i class="fa fa-fw fa-{{ layer.icon }}"></i>
  {{ layer }}
</h3>
<a href="../" class="btn btn-primary-basic mb-4">
  <i class="fal fa-angle-left"></i>
  Back
</a>

<p>
  The following instruction videos are available related to the <strong>{{ layer.get_name_after_colon }}</strong> layer.
  Through these videos you can learn more about how to collect and manage relevant data. We also have 
  free, online courses available to learn more about the entire data collection process. You can find them 
  in the <a href="https://education.metabolismofcities.org/">Education Hub</a>.
</p>

<div class="row">
  <div class="col-12">
    <div class="row">
      {% for each in list %}
        <div class="mt-3 video col-lg-4 col-md-6 col-sm-8 {% for tag in each.tags.all %}tag-{{ tag.id }} {% endfor %}">
          <a class="card btn-card" href="{% url URLS.LIBRARY_ITEM each.id %}">
            <img src="{{ each.image.thumbnail.url }}" class="card-img-top" alt="">
            <div class="card-body">
              <h5 class="card-title">{{ each }}</h5>
            </div>
          </a>
        </div>
      {% endfor %}
    </div>
  </div>
</div>

{% endblock %}
