{% extends "_base.html" %}
{% load moc_extras %}

{% block title %}Progress overview{% endblock %}

{% block head %}
<style>
  .single-datapoint {
    display: inline-block;
    background-color: #efefef;
    margin-right: 1px;
    height: 12px;
  }

  .single-datapoint.collected {
    background-color: #ff8a4e;
  }

  .single-datapoint.processed {
    background-color: #144d58;
  }

  th.city,
  td.city {
    max-width: 125px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  td .single-datapoint:last-of-type {
    margin-right: 0;
  }

  td.context .single-datapoint {
    width: calc(100% / 6 - 1px);
  }

  td.biophysical .single-datapoint {
    width: calc(100% / 7 - 1px);
  }

  td.infrastructure .single-datapoint {
    width: calc(100% / 31 - 1px);
  }

  td.stocks .single-datapoint {
    width: calc(100% / 18 - 1px);
  }

  thead th {
    position: sticky;
    top: 0;
    z-index: 1;
  }
</style>
{% endblock %}

{% block content %}

<div class="card card-table">
  <table class="table">
    <thead>
      <tr>
        <th class="city">City</th>
        <th><i class="fal mr-2 fa-map-marked-alt fa-fw"></i> Context</th>
        <th><i class="fal mr-2 fa-trees fa-fw"></i> Biophysical</th>
        <th><i class="fal mr-2 fa-industry-alt fa-fw"></i> Infrastructure</th>
        <th><i class="fal mr-2 fa-random fa-fw"></i> Stocks and flows</th>
      </tr>
    </thead>
    <tbody>
      {% for each in list %}
        <tr>
          <td class="city"><a href="{% url harvesting_link each.slug %}">{{ each }}</a></td>
          <td class="context">
            <div class="progress">
              <div class="progress-bar bg-success" role="progressbar" style="width: calc({% if counter|get_item:each.id %}{{ counter|get_item:each.id|get_item:846 }}{% else %}0{% endif %}/6*100%)" aria-valuenow="{% if counter|get_item:each.id %}{{ counter|get_item:each.id|get_item:846 }}{% else %}0{% endif %}" aria-valuemin="0" aria-valuemax="6"></div>
            </div>
          </td>
          <td class="biophysical">
            <div class="progress">
              <div class="progress-bar bg-success" role="progressbar" style="width: calc({% if counter|get_item:each.id %}{{ counter|get_item:each.id|get_item:847 }}{% else %}0{% endif %}/7*100%)" aria-valuenow="{% if counter|get_item:each.id %}{{ counter|get_item:each.id|get_item:847 }}{% else %}0{% endif %}" aria-valuemin="0" aria-valuemax="7"></div>
            </div>
          </td>
          <td class="infrastructure">
            <div class="progress">
              <div class="progress-bar bg-success" role="progressbar" style="width: calc({% if counter|get_item:each.id %}{{ counter|get_item:each.id|get_item:848 }}{% else %}0{% endif %}/32*100%)" aria-valuenow="{% if counter|get_item:each.id %}{{ counter|get_item:each.id|get_item:848 }}{% else %}0{% endif %}" aria-valuemin="0" aria-valuemax="32"></div>
            </div>
          </td>
          <td class="stocks">
            <div class="progress">
              <div class="progress-bar bg-success" role="progressbar" style="width: calc({% if counter|get_item:each.id %}{{ counter|get_item:each.id|get_item:849 }}{% else %}0{% endif %}/18*100%)" aria-valuenow="{% if counter|get_item:each.id %}{{ counter|get_item:each.id|get_item:849 }}{% else %}0{% endif %}" aria-valuemin="0" aria-valuemax="18"></div>
            </div>
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
</div>

{% endblock %}
