{% extends "_base.html" %}
{% load moc_extras %}

{% block title %}Progress overview{% endblock %}

{% block head %}
<style>
  .single-datapoint {
    display: inline-block;
    background-color: #efefef;
    margin-right: 1px;
    height: 12px;
  }

  .single-datapoint.collected {
    background-color: #ff8a4e;
  }

  .single-datapoint.processed {
    background-color: #144d58;
  }

  td,th{width:20% !important}

  th.city,
  td.city {
    max-width: 125px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  td .single-datapoint:last-of-type {
    margin-right: 0;
  }

  td.context .single-datapoint {
    width: calc(100% / 6 - 1px);
  }

  td.biophysical .single-datapoint {
    width: calc(100% / 7 - 1px);
  }

  td.infrastructure .single-datapoint {
    width: calc(100% / 31 - 1px);
  }

  td.stocks .single-datapoint {
    width: calc(100% / 18 - 1px);
  }

  thead th {
    position: sticky;
    top: 0;
    z-index: 1;
  }
</style>
{% endblock %}

{% block content %}

<div class="card card-table">
  <table class="table">
    <thead>
      <tr>
        <th class="city">City</th>
        <th>Total docs</th>
        {% for layer in layers %}
          <th class="{{ layer.slug }} text-truncate"><i class="fal mr-2 fa-{{ layer.icon }} fa-fw"></i> {{ layer.get_name_after_colon }}</th>
        {% endfor %}
      </tr>
    </thead>
    <tbody>
      {% for each in list %}
        <tr>
          <td class="city"><a href="{% url harvesting_link each.slug %}">{{ each }}</a></td>
          <td>{{ each.get_document_counter }}</td>

          {% for layer in layers %}
            <td>
              <div class="progress">
                <div class="progress-bar bg-success" role="progressbar" style="width: calc({% if each.get_counter %}{{ each.get_counter|get_item:layer.id }}{% else %}0{% endif %}/{{ layers_count|get_item:layer.id }}*100%)" aria-valuenow="{% if each.get_counter %}{{ each.get_counter|get_item:layer.id }}{% else %}0{% endif %}" aria-valuemin="0" aria-valuemax="{{ layers_count|get_item:layer.id }}"></div>
              </div>
            </td>
          {% endfor %}

        </tr>
      {% endfor %}
    </tbody>
  </table>
</div>

{% endblock %}
