{% extends "_base.html" %}

{% block head %}
<style>
  svg * {
    font-family: "Lato" !important;
  }
</style>
{% endblock %}
{% block content %}

<h1>{{ info }}</h1>

<div class="row">
  <div class="col-lg-12">
    <div class="card">
      <div class="card-header">
        Flow diagram
      </div>
      <div class="card-body mermaid">
        graph TB
          {% for each in blocks %}
          block{{ each.origin.id }}[{{ each.origin.name|escapejs }}] --> block{{ each.destination.id }}[{{ each.destination.name|escapejs }}]
          {% endfor %}
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-lg-12">
    <form method="post" class="form form-horizontal">

      <div class="form-group row">
        <label class="col-sm-2 col-form-label">From</label>
        <div class="col-sm-10">
          <select name="from" class="custom-select select2">
            <option value=""></option>
            {% for each in activities %}
              <option value="{{ each.id }}">{{ each }}</option>
            {% endfor %}
          </select>
        </div>
      </div>
      <div class="form-group row">
        <label class="col-sm-2 col-form-label">To</label>
        <div class="col-sm-10">
          <select name="to" class="custom-select select2">
            <option value=""></option>
            {% for each in activities %}
              <option value="{{ each.id }}">{{ each }}</option>
            {% endfor %}
          </select>
        </div>
      </div>
      <div class="form-group row">
        <label class="col-sm-2 col-form-label">Label (optional)</label>
        <div class="col-sm-10">
          <input name="label" class="form-control">
        </div>
      </div>
      <div class="form-group row">
        <div class="col-md-10 offset-md-2">
          <button class="btn btn-primary" type="submit"><i class="fas fa-save" aria-hidden="true"></i> Save</button>
        </div>
      </div>
      {% csrf_token %}
    </form>
  </div>
</div>

<h2>List</h2>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Origin</th>
      <th>Destination</th>
      <th>Options</th>
    </tr>
  </thead>
  <tbody>
  {% for each in blocks %}
    <tr>
      <td>{{ each.origin }}</td>
      <td>{{ each.destination }}</td>
      <td>
        <form method="post" class="form form-horizontal">
          <button type="submit" class="btn btn-danger">Delete</button>
          {% csrf_token %}
          <input type="hidden" name="delete" value="{{ each.id }}" />
        </form>
      </td>
    </tr>
  {% endfor %}
  </tbody>
</table>

{% endblock %}
