{% extends "_base.html" %}

{% block content %}

  <h1 class="mb-0">Web page content</h1>
  <a href="../" class="btn btn-primary-basic mb-4">
    <i class="fal fa-angle-left"></i>
    Back to control panel
  </a>

  <table class="table table-striped datatable table-card">
    <thead>
      <tr>
        <th>Page title</th>
        <th>Creation date</th>
      </tr>
    </thead>
    <tbody>
    {% for each in pages %}
      <tr>
        <td><a href="{{ each.id }}/">{{ each }}</a></td>
        <td>{{ each.date_created|date:"M d, Y" }}</td>
      </tr>
    {% endfor %}
      <tr>
        <td><a href="http://">Contributor page</a></td>
        <td></td>
      </tr>
      <tr>
        <td><a href="http://">Support page</a></td>
        <td></td>
      </tr>
    </tbody>
  </table>

  <a href="../" class="btn btn-primary-basic mt-4">
    <i class="fal fa-angle-left"></i>
    Back to control panel
  </a>
{% endblock %}
