<div class="card mb-4">
  <div class="card-body">
    <div class="mb-4">
      {% if request.user.is_authenticated %}
      <a href="">
        {{ request.user.people.avatar }}
      </a>
      <span class="details">
        <a href=""><strong>{{ request.user.people }}</strong></a>
        <br>
        <span class="points">{{ request.user.people.points }} points</span>
      </span>
      {% endif %}
    </div>

    <div class="award">
      <span class="badge badge-dark">
        <i class="fas fa-circle text-secondary"></i> Reviewer
      </span>
      <i class="fas fa-check text-success"></i>
    </div>

    <div class="award">
      <span class="badge badge-dark">
        <i class="fas fa-circle text-light"></i> Steward
      </span>
      <i class="fas fa-check text-success"></i>
    </div>

    <div class="award">
      <span class="badge badge-dark pending">
        <i class="fas fa-circle text-warning"></i> Custodian
      </span>
      approve 41 more uploads
    </div>
  </div>
</div>
