{% if type == "demographics" or type == "datasets" %}
<div class="card instructions mb-4">
  <div class="card-body">
    <h4>Sample files <i class="fal fa-file float-right"></i></h4>

    {% if type == "geospreadsheet" %}
      <a class="btn btn-primary-outline mb-md-2" href="{% url URLS.LIBRARY_ITEM 578428 %}">
        <i class="fal fa-fw fa-download"></i>
        Processing geospatial spreadsheets
      </a>
    {% elif type == "gis" %}
      <a class="btn btn-primary-outline mb-md-2" href="{% url URLS.LIBRARY_ITEM 578423 %}">
        <i class="fal fa-fw fa-download"></i>
        Processing shapefiles
      </a>
    {% elif type == "boundaries" %}
      <a class="btn btn-primary-outline mb-md-2" href="{% url URLS.LIBRARY_ITEM 578472 %}">
        <i class="fal fa-fw fa-video"></i>
        Instructions
      </a>
    {% elif type == "datasets" %}
      <a class="badge badge-secondary mb-md-2" href="/media/files/format.flows.ods">
        <i class="fa fa-fw fa-download"></i>
        Flows - OpenDocument (ods) format
      </a>
      <a class="badge badge-secondary mb-md-2" href="/media/files/format.flows.xls">
        <i class="fa fa-fw fa-download"></i>
        Flows - Excel (xls) format
      </a>
      <a class="badge badge-secondary mb-md-2" href="/media/files/format.stocks.ods">
        <i class="fa fa-fw fa-download"></i>
        Stocks - OpenDocument (ods) format
      </a>
      <a class="badge badge-secondary mb-md-2" href="/media/files/format.stocks.xls">
        <i class="fa fa-fw fa-download"></i>
        Stocks - Excel (xls) format
      </a>
    {% elif type == "demographics" %}
      <a class="badge badge-secondary mb-md-2" href="/media/files/format.population.ods">
        <i class="fa fa-fw fa-download"></i>
        OpenDocument (ods) format
      </a>
      <a class="badge badge-secondary mb-md-2" href="/media/files/format.population.xls">
        <i class="fa fa-fw fa-download"></i>
        Excel (xls) format
      </a>
    {% else %}
      <p><em>We are still working on instruction videos for this section. Stay tuned!</em></p>
    {% endif %}

  </div>
</div>
{% endif %}
