<div class="card mb-4">
  <div class="card-body">
    <h4>Thanks for helping out!</h4>
    <p>
      Curation is one of the most important but challenging tasks. Anybody can upload a dataset, but we need YOUR help to ensure that information is properly processed, labelled, and only published when it should be published.
    </p>

    <a class="btn btn-primary mb-2" href="/forum/581211/">
      <i class="fas fa-fw fa-user-plus"></i>
      Become a data processor
    </a>
  </div>
</div>

<div class="card mb-4">
  <div class="card-body">
    <h4>Do an online course</h4>
    <p>
      Are you not yet familiar with data processing? We have a course for you! It's open, it's free,
      and it's fun!
    </p>

    {% if PROJECT.slug == "cityloops" %}
      <img src="/media/records/Course_2.thumbnail.png" alt="" class="img-thumbnail mb-3" />

      <a class="btn btn-primary" href="https://cityloops.metabolismofcities.org/courses/course-2-data-processing-and-analysis-for-sector-wide-circularity-assessment-wp23/">Data processing and analysis <i class="fal fa-arrow-right mr-0 ml-2"></i></a><br>
    {% else %}
      <img src="/media/records/Curso_corto_Metabolismo_Urbano_y_manejo_de_datos.thumbnail.png" alt="" class="img-thumbnail mb-3" />

      <a class="btn btn-sm btn-primary mb-2" href="https://education.metabolismofcities.org/courses/metabolismo-urbano-y-manejo-de-datos-procesamiento-de-datos/">Full course (Español) <i class="fal fa-arrow-right mr-0 ml-2"></i></a>

      <a class="btn btn-sm btn-primary mb-2" href="https://education.metabolismofcities.org/courses/data-and-urban-metabolism-data-processing/">Register for upcoming course (English) <i class="fal fa-arrow-right mr-0 ml-2"></i></a>

      <a class="btn btn-sm btn-primary mb-2" href="https://multimedia.metabolismofcities.org/videos/collection/966/">View tutorial videos (English) <i class="fal fa-arrow-right mr-0 ml-2"></i></a>
    {% endif %}


  </div>
</div>
