<div class="card mb-4">
  <div class="card-body">
    <h4>Thanks for helping out!</h4>
    <p>
      Curation is one of the most important but challenging tasks. Anybody can upload a dataset, but we need YOUR help to ensure that information is properly processed, labelled, and only published when it should be published.
    </p>

    <a class="btn btn-primary mb-2" href="">
      <i class="fas fa-fw fa-user-plus"></i>
      Become a data curator
    </a>
    <a class="btn btn-primary-outline mb-md-2" href="">
      <i class="fal fa-fw fa-info-circle"></i>
      Learn more about data curation
    </a>
  </div>
</div>
