{% extends "_base.html" %}
{% load moc_extras %}
{% load humanize %}
{% block page_name %}staf review session{% endblock %}

{% block content %}

  <h1>{{ session }}</h1>

  {% include "staf/review/_nav.html" %}

  <section class="row">
    <div class="col-lg-8 mb-4 mb-lg-0">
      <div class="card card-table mb-4">
        <table class="table">
          <thead>
            <tr>
              <th>Feature</th>
              <th>Property</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>Layer name</td>
              <td>{{ layer.name }}</td>
            </tr>
            <tr>
              <td>File size</td>
              <td>{{ file|floatformat }} Mb</td>
            </tr>
            <tr>
              <td>Coordinate reference system</td>
              <td>{{ layer.srs.DATUM }}</td>
            </tr>
            <tr>
              <td>PROJCS</td>
              <td>{{ layer.srs.PROJCS }}</td>
            </tr>
            <tr>
              <td>AUTHORITY</td>
              <td>{{ layer.srs.AUTHORITY }}</td>
            </tr>
            <tr>
              <td>SPHEROID</td>
              <td>{{ layer.srs.SPHEROID }}</td>
            </tr>
            <tr>
              <td>UNIT</td>
              <td>{{ layer.srs.UNIT }}</td>
            </tr>
            <tr>
              <td>Geocode</td>
              <td>{{ geocode.scheme }} <i class="fal fa-angle-right mx-2"></i> {{ geocode }}</td>
            </tr>
          </tbody>
        </table>
      </div>

      <div id="viewraw" class="btn btn-primary-basic">
        <i class="fal fa-angle-down"></i>
        View raw data
      </div>

      <div id="viewmap" class="btn btn-primary-basic">
        <i class="fal fa-angle-down"></i>
        View map
      </div>

      <pre class="alert alert-light mt-2 mb-0" id="raw">
        {{ layer.srs }}
      </pre>

      <div id="map" class="leaflet-map mt-2">

      </div>
    </div>

    <div class="col-lg-4">

      <div class="card mb-4">
        <ul class="list-group list-group-flush">
          <li class="list-group-item table-item">
            <div><i class="fal fa-fw fa-fingerprint mr-1"></i> ID</div>
            <div>{{ session.id }}</div>
          </li>
          <li class="list-group-item table-item">
            <div><i class="fal fa-fw fa-user mr-1"></i> Uploaded by</div>
            <div>{{ session.uploader }}</div>
          </li>
          <li class="list-group-item table-item">
            <div><i class="fal fa-fw fa-box mr-1"></i> Type</div>
            <div>{{ layer.geom_type.name }}</div>
          </li>
          <li class="list-group-item table-item">
            <div><i class="fal fa-fw fa-layer-group mr-1"></i> Properties</div>
            <div>{{ layer.num_fields }}</div>
          </li>
          <li class="list-group-item table-item">
            <div><i class="far fa-fw fa-dot-circle mr-1"></i> Items</div>
            <div>{{ layer.num_feat }}</div>
          </li>
          {% if work.assigned_to %}
            <li class="list-group-item table-item">
              <div><i class="far fa-fw fa-user-check mr-1"></i> Assigned to</div>
              <div>{{ work.assigned_to }}</div>
            </li>
          {% endif %}
        </ul>
      </div>

      <form method="post">
        {% if not work.assigned_to %}
          <button type="submit" name="start_work" value="true" class="btn btn-primary">
            <i class="fas fa-user-plus"></i>
            Start working on this
          </button>
        {% elif work.assigned_to == request.user.people %}
          <button type="submit" name="stop_work" value="true" class="btn btn-warning">
            <i class="fas fa-user-times"></i>
            Stop working on this
          </button>
        {% endif %}
        {% csrf_token %}
      </form>
    </div>
  </section>

  <section id="contentsection">
    <h3 class="mt-4">Shapefile content</h3>
    {% if layer.num_feat > 100 %}
      <div class="alert alert-primary">
        <i class="fal fa-info-circle mr-1"></i>
        Only the first 100 items are shown. In total, there are <strong>{{ layer.num_feat }}</strong> items in your shapefile
      </div>
    {% endif %}
    <table class="table table-responsive datatable datatable-card">
      <thead>
        <tr>
          {% for field in layer.fields %}
            <th>{{ field }}</th>
          {% endfor %}
        </tr>
      </thead>
      <tbody>
        {% for each in layer %}
          {% if forloop.counter <= 100 %}
            <tr>
              {% for field in layer.fields %}
                <td>{{ each|get_item:field }}</td>
              {% endfor %}
            </tr>
          {% endif %}
        {% endfor %}
      </tbody>
    </table>

    <h3 class="mt-4">Identify columns</h3>
    <div class="alert alert-danger alert-identify">
      <i class="fas fa-exclamation-triangle mr-2"></i>
      <span id="unidentified-columns-count"></span> identifier(s) left to assign
    </div>

    <form id="identify-columns" method="post" action="?classify=true">
      <div class="form-row">
        <div class="col-md-4 col-lg-3 mb-4">
          <label class="category mb-0">Name</label>
          <select class="custom-select unidentified" name="classify_name">
            <option value="none" selected disabled>Name</option>
            {% for field in layer.fields %}
              <option value="{{ field }}" {% if session.meta_data.columns.name == field %}selected{% endif %}>{{ field }}</option>
            {% endfor %}
          </select>
        </div>
        <div class="col-md-4 col-lg-3">
          <label class="category mb-0">Identifier</label>
          <select class="custom-select unidentified" name="identifier">
            <option value="none" selected disabled>Identifier</option>
            {% for field in layer.fields %}
              <option value="{{ field }}" {% if session.meta_data.columns.identifier == field %}selected{% endif %}>{{ field }}</option>
            {% endfor %}
          </select>
        </div>
      </div>
      {% csrf_token %}
    </form>

    <button class="btn disabled save btn-success" disabled form="identify-columns">
      <i class="fas fa-save"></i>
      Save
    </button>
  </section>

{% endblock %}

{% block footer %}
  <script>
    // toggle visibility of raw data
    $("#viewraw").click(function(){
      $("i", this).toggleClass("fa-angle-down, fa-angle-up")
      $("#raw").toggle();
    });

    let mapOpen = false;

    // toggle visibility and initiate map
    $("#viewmap").click(function(){
      $("i", this).toggleClass("fa-angle-down, fa-angle-up")
      $("#map").toggle();

      // https://leafletjs.com/reference-1.6.0.html
      if (mapOpen == false) {
        var map = L.map("map");
        L.tileLayer("https://api.mapbox.com/styles/v1/{id}/tiles/{z}/{x}/{y}?access_token={{ MAPBOX_API_KEY }}", {
          attribution: 'Map data &copy; <a href="https://www.openstreetmap.org/">OpenStreetMap</a> contributors, <a href="https://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, Imagery © <a href="https://www.mapbox.com/">Mapbox</a>',
          id: "mapbox/streets-v11",
          tileSize: 512,
          zoomOffset: -1,
        }).addTo(map);

        $.get("?geojson=true")
        .done(function(results) {
          geojsonlayer = L.geoJSON(results, {
            style: {
              color: "#144d58",
              weight: 2,
            }
          }).addTo(map);

          map.fitBounds(geojsonlayer.getBounds());
        })
        .fail(function() {
          window.alert("Unable to load map");
        })

        mapOpen = true;
      }
    });

    // checking how many columns need a type
    function checkColumns() {
      let unidentifiedCount = $("#identify-columns select.unidentified").length;

      $("#unidentified-columns-count").text(unidentifiedCount)

      if (unidentifiedCount != 0 && $("select[name='name']").hasClass("is-valid")) {
        let alert = $(".alert-identify");

        alert
          .addClass("alert-primary")
          .removeClass("alert-danger")
          .html("<i class='fal fa-info-circle mr-1'></i> You have selected a name and can continue to the next step. However, there are still unselected identifiers")

        $(".btn.save").removeClass("disabled");
        $(".btn.save").removeAttr("disabled");
      } else if (unidentifiedCount == 0) {
        let alert = $(".alert-identify");

        alert
          .addClass("alert-success")
          .removeClass("alert-danger alert-info")
          .html("<i class='fal fa-check-circle mr-1'></i> All identifiers are selected, please save and continue to the next step")

        $(".btn.save").removeClass("disabled");
        $(".btn.save").removeAttr("disabled");
      }
    }

    // what happens when a column is identified
    $("select.unidentified").change(function() {
      $(this).removeClass("is-invalid unidentified");
      $(this).addClass("is-valid");

      checkColumns()

      // check all select values to prevent duplicates
      $("#identify-columns select option").removeAttr("disabled")
      $("#identify-columns select option[value='none']").attr("disabled", "disabled")

      $("#identify-columns select").each(function() {
        let columnValue = $(this).val();

        if (columnValue) {
          // Paul disabled this to make the value actually be sent! 
          // To be fixed somehow by Guus...
          //$("#identify-columns select option[value='" + columnValue + "']").attr("disabled", "disabled")
        }
      })
    })

    // check unidentified columns on page load
    checkColumns();
  </script>
{% endblock %}
