{% extends "_base.html" %}

{% block content %}
  <h1>{{ info }}</h1>
  {{ info.content|safe }}
  <br>
  <div class="row">
    {% for each in list %}
      <div class="col-md-4">
          <div class="panel">
            <div class="panel-body text-center">
              <a href="{% url "dataviz" each.id %}">
                <img alt="{{ each }}" class="img-lg mar-btm" src="{{ each.image.thumbnail.url }}">
              </a>
              <p class="text-lg text-semibold mar-no text-main">{{ each.title }}</p>
              <div class="mar-top">
                <a href="{% url "dataviz" each.id %}" class="btn btn-mint">View</a>
              </div>
            </div>
          </div>
      </div>
      {% if forloop.counter|divisibleby:3 %}</div><div class="row">{% endif %}
    {% endfor %}
  </div>
{% endblock %}
