{% extends "_base.html" %}

{% block page_name %}datavisualistions{% endblock %}

{% block css %}
<style type="text/css">
  .single-viz img {
    border-bottom: 1px solid #999;
  }
  .single-viz {
    text-align: center;
  }
  .single-viz a.card {
    background: #f4f4f4;
  }
</style>
{% endblock %}

{% block content %}
  <h1>{{ webpage }}</h1>

  {{ webpage.get_description }}

  <div class="row">
    {% for each in list %}
      <div class="col-md-4 col-lg-3 single-viz mb-4">
        <a class="card btn-card" href="{% url "multimedia:dataviz" each.id %}">
          <img alt="{{ each }}" src="{{ each.image.thumbnail.url }}" class="rounded-top">
          <div class="description p-2">
            {{ each }}
          </div>
        </a>
      </div>
    {% endfor %}
  </div>

{% endblock %}
