{% extends "_base.html" %}

{% block page_name %}dataviz{% endblock %}

{% block content %}

<h1>{{ info }}</h1>
<a class="btn btn-primary-basic" href="{% url "multimedia:datavisualizations" %}">
  <i class="far fa-angle-left"></i>
  Back to list
</a>

<div class="row mt-4">
  <div class="col-lg-8 mb-4">
    {% if info.image %}
      <img class="dataviz" alt="" src="{{ info.image.url }}">
    {% endif %}
  </div>
  <div class="col-lg-4">
    <div class="card mb-4">
      {% if info.description %}
        <div class="card-body">
          {{ info.description|safe }}
        </div>
      {% endif %}
      <ul class="list-group list-group-flush">
        {% if info.source %}
          <li class="list-group-item">
            <i class="far fa-fw fa-book mb-1 mr-1" aria-hidden="true"></i> {{ info.source }}
          </li>
        {% endif %}
        {% if info.year %}
          <li class="list-group-item">
            <i class="far fa-fw fa-calendar mb-1 mr-1" aria-hidden="true"></i> {{ info.year }}
          </li>
        {% endif %}
        {% if info.uploaded_by %}
          <li class="list-group-item">
            <i class="far fa-fw fa-calendar mb-1 mr-1" aria-hidden="true"></i> Uploaded by
            <br>
            {{ info.uploaded_by }}
          </li>
        {% endif %}
        {% if info.url %}
          <li class="list-group-item">
            <a href="{{ info.url }}"><i class="far fa-fw fa-link mb-1 mr-1" aria-hidden="true"></i> {{ info.url|truncatechars:40 }}</a>
          </li>
        {% endif %}
        {% if info.is_part_of %}
          <li class="list-group-item">
            <i class="far fa-fw fa-file-alt mb-1 mr-1" aria-hidden="true"></i> Related publication
            <br>
            <a href="{{ info.is_part_of.get_absolute_url }}">{{ info.is_part_of }}</a>
          </li>
          <li class="list-group-item">
            <i class="far fa-fw fa-user-edit mb-1 mr-1" aria-hidden="true"></i> Author(s)
            <br>
            {{ info.is_part_of.get_author_citation|safe }}
          </li>
        {% endif %}
        {% if parents %}
          {% for each in parents %}
            <li class="list-group-item">
              <i class="far fa-fw fa-info-circle mb-1 mr-1" aria-hidden="true"></i> {{ each.relationship.name }}
              <br>
              {{ each.record_parent }}
            </li>
          {% endfor %}
        {% endif %}
      </ul>
    </div>

    {% if info.image %}
      <a class="btn btn-primary" href="{{ info.image.url }}" target="_blank">
        <i class="fas fa-download"></i> Download
      </a>
    {% endif %}

    {% if request.user.is_superuser %}
      <form method="post">
        <button type="submit" class="btn btn-secondary mt-3">Change type to regular image</button>
        <input type="hidden" name="new_type" value="38" />
        {% csrf_token %}
      </form>
    {% endif %}

  </div>
</div>
{% endblock %}
