{% extends "_base.html" %}

{% block title %}{{ webpage }}{% endblock %}

{% block css %}
  <style type="text/css">
    h5.card-title a{
      color: #144d58;
      font-weight: bold;
     }
     .card-header a {
       color:#fff;
       text-decoration: underline;
       text-align: center;
     }
     .card-header a:hover {
       text-decoration: none;
     }
     .card-header {
        text-align: center;
      }
  </style>
{% endblock %}

{% block content %}
  <h1>{{ webpage }}</h1>

  {{ webpage.description|safe }}

  <div class="row">

    <div class="col-4">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">
            <a href="{% url "multimedia:videos" %}">
              <i class="fal fa-fw fa-video mr-2"></i>
              Videos
            </a>
          </h5>
          <p>
            Lectures, interviews, training videos, and more.
          </p>
        </div>
        <div class="card-header"><a href="{% url "multimedia:videos" %}">{{ videos_count }} videos</a> found.</div>
        <div class="card-body">
          <strong>Watch videos</strong> from this library that provide a narrative on Urban
          Metabolism in research and in practice from experts around the world
          or journey through the basics of Urban Metabolism with videos from
          the MOOC on Urban Metabolism for Policy Makers.
        </div>
      </div>
      <div class="card mt-5">
        <a href="{% url "multimedia:videos" %}">
          <img src="/media/records/maxresdefaulteditedplay_ZmegQtl.jpg" class="card-img-top" alt="">
        </a>
        <div class="card-header">
          Latest additions
        </div>
        <div class="list-group list-group-flush">
        {% for each in videos %}
          <a class="list-group-item" href="{{ each.get_absolute_url }}">
            {{ each }}
          </a>
        {% endfor %}
        </div>
      </div>

    </div>

    <div class="col-4">

      <div class="card">
        <div class="card-body">
          <h5 class="card-title">
            <a href="{% url "multimedia:podcasts" %}">
              <i class="fas fa-fw fa-podcast mr-2"></i>
              Podcasts
            </a>
          </h5>
          <p>
            Podcast episodes from the Circular Metabolism podcast.
          </p>
        </div>
        <div class="card-header">
          <a href="{% url "multimedia:podcasts" %}">{{ podcasts_count }} podcasts</a> found.
        </div>
        <div class="card-body">
          <strong>Listen to episodes</strong> of the Circular Metabolism podcast hosted by
          Aristide Athanassiadis and Stephan Kampelmann as they discuss
          circular metabolism in theory and practice.
        </div>
      </div>
      <div class="card mt-5">
        <a href="{% url "multimedia:podcasts" %}">
          <img src="/media/records/maxresdefaultPCM01.jpg" class="card-img-top" alt="">
        </a>
        <div class="card-header">
          Latest additions
        </div>
        <div class="list-group list-group-flush">
        {% for each in podcasts %}
          <a class="list-group-item" href="{{ each.get_absolute_url }}">
            {{ each }}
          </a>
        {% endfor %}
        </div>
      </div>
    </div>

    <div class="col-4">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">
            <a href="{% url "multimedia:datavisualizations" %}">
              <i class="fas fa-fw fa-chart-area mr-2"></i>
              Data visualisations
            </a>
          </h5>
          <p>
            Sankey diagrams, choropleth maps, system diagrams, and more.
          </p>
        </div>
        <div class="card-header">
          <a href="{% url "multimedia:datavisualizations" %}">{{ dataviz_count }} datavisualizations</a> found.
        </div>
        <div class="card-body">
          <strong>Learn from visualisations</strong>. Visualisations are a novel way of
          interpreting the complexity of material flow analysis and other
          data-rich work into visual representations. Visualising data can not
          only enable to summarise big amounts of numbers, but it can also make
          it easier to share them and use them as policy instruments.
        </div>
      </div>
      <div class="card mt-5">
        <a href="{% url "multimedia:datavisualizations" %}">
          <img src="/media/dataviz/70.jpg" class="card-img-top" alt="">
        </a>
        <div class="card-header">
          Latest additions
        </div>
        <div class="list-group list-group-flush">
        {% for each in dataviz %}
          <a class="list-group-item" href="{{ each.get_absolute_url }}">
            {{ each }}
          </a>
        {% endfor %}
        </div>
      </div>

    </div>

  </div>

  </div>

{% endblock %}
