{% extends "_base.html" %}

{% block content %}
  <h1>{{ webpage }}</h1>  
  {{ webpage.content|safe }}

<div class="row">
  <div class="col-3">
    <div class="nav flex-column nav-pills" id="video-menu" role="tablist" aria-orientation="vertical">
      {% for each in categories %}
        <a class="nav-link {% if each.id == 100 %}active{% endif %}" data-toggle="pill" href="#" data-id="{{ each.id }}" role="tab" aria-controls="v-pills-home" aria-selected="true">
          {{ each }}
        </a>
      {% endfor %}
    </div>
  </div>
  <div class="col-9">
    {% for each in list %}
      {{ each }}
    {% endfor %}
  </div>
</div>

{% endblock %}

{% block footer %}
<script type="text/javascript">
  $("#video-menu a").click(function(e){
    var id = $(this).data("id");
    $(".video").hide();
    $(".tag-"+id).show();
  });
</script>
{% endblock %}
