{% extends "_base.html" %}
{% block content %}

  <h1>{{ webpage }}</h1>

<div class="row">
  <div class="col-3">
    <div class="nav flex-column nav-pills" id="video-menu" role="tablist" aria-orientation="vertical">
      {% for each in categories %}
        <a class="nav-link {% if each == collection %}active{% endif %}" href="{% url "multimedia:videos" each.id %}">
          {{ each }}
        </a>
      {% endfor %}
    </div>
  </div>
  <div class="col-9">
    <h3>{{ collection }}</h3>
    {% if collection.description %}
      {{ collection.get_description }}
    {% endif %}
    {% include "_library.videos.html" %}    
  </div>
</div>

{% endblock %}
