{% extends "_base.html" %}

{% block title %}Homepage{% endblock %}

{% block content %}

<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4">{{ PROJECT }}</h1>
    {{ PROJECT.get_description }}
  </div>
</div>

  <h2>Online courses</h2>
  <div class="row mb-4">
    {% for each in list %}
      <div class="col-lg-4 col-md-6 col-sm-8 mb-3">
        <a class="card btn-card" href="{{ each.get_absolute_url }}">
          {% if each.image %}
            <img src="{{ each.image.thumbnail.url }}" class="card-img-top" alt="">
          {% endif %}
          <div class="card-body">
            <h5 class="card-title">{{ each }}</h5>
            <h6 class="card-subtitle mb-2 text-muted">{{ each.modules.count }} modules</h6>
          </div>
        </a>
      </div>
    {% endfor %}
  </div>

{% endblock %}
