{% load static %}
  <style>
  .info {
      padding: 6px 8px;
      font: 14px/16px Arial, Helvetica, sans-serif;
      background: white;
      background: rgba(255,255,255,0.8);
      box-shadow: 0 0 15px rgba(0,0,0,0.2);
      border-radius: 5px;
  }
  .info h4 {
      margin: 0 0 5px;
      color: #777;
  }
  .legend {
    line-height: 18px;
    color: #555;
  }
  .legend i {
    width: 18px;
    height: 18px;
    float: left;
    margin-right: 20px;
    opacity: 0.7;
  }
  #map {
    height:800px;
  }

  </style>
  <link rel="stylesheet" href="https://unpkg.com/leaflet@1.3.4/dist/leaflet.css" />
  <link rel="stylesheet" href="{% static 'ie/css/leaflet-fullscreen.css' %}" />
  <script src="https://unpkg.com/leaflet@1.3.4/dist/leaflet.js"></script>

  <div id="map"></div>


<script type="text/javascript">

      var map = L.map('map');
      var geojsonlayer = L.geoJSON().addTo(map);
      var geojsons = [];
      var geojson;

      // ----------------------------  Values to change ---------------------------- //
      var heading = "Concrete Stock (kg/cap)"  //------------------ Top legend heading
      var value = 'VALUE';       //------------------------------ Value in GeoJson
      var valueHead = "Voters";       //------------------------------ Value you want map to show
      var name = 'WARDNO';      //------------------------------------ Name of sector in GeoJson
      var url = 'AREA';         //------------------------------------ URL property in GeoJson
      grades = [2840, 2860, 2880, 2900, 2920, 2940, 2960, 2980];

      //Colour options available (Import more from http://colorbrewer2.org/#type=sequential&scheme=OrRd&n=8)
      orange = ['#FFEDA0','#FED976','#FEB24C','#FD8D3C','#FC4E2A','#E31A1C','#BD0026','#800026'];
      green = ['#ffffe5','#f7fcb9','#d9f0a3','#addd8e','#78c679','#41ab5d','#238443','#005a32'];
      purple = ['#f7fcfd','#e0ecf4','#bfd3e6','#9ebcda','#8c96c6','#8c6bb1','#88419d','#6e016b'];
      blue = ['#fff7fb','#ece7f2','#d0d1e6','#a6bddb','#74a9cf','#3690c0','#0570b0','#034e7b'];
      pink = ['#fff7f3','#fde0dd','#fcc5c0','#fa9fb5','#f768a1','#dd3497','#ae017e','#7a0177'];
      diverge = ['#8c510a','#bf812d','#dfc27d','#f6e8c3','#c7eae5','#80cdc1','#35978f','#01665e'];
      yellow_blue = ['#ffffd9','#edf8b1','#c7e9b4','#7fcdbb','#41b6c4','#1d91c0','#225ea8','#0c2c84'];

      //Pick one of the above colors
      var color = purple;   //--------------------------------------- Pick colour of map


      function setColors(){
          var temp_color = [];
          var num = grades.length;
          var ratio = (8/num) +0.01 ;
          for (var j =0; j < 8; j += ratio){
              temp_color.push(color[Math.floor( j )]);
          }
          color = temp_color;
      }

      function getColor(d) {
        var size = grades.length;
          for (var k = size; k > 0; --k){
              if (d > grades[k]){
                  return color[k];
              }
          }
          return color[0];
      }

    function style(feature) {
      return {
          fillColor: getColor(feature.properties[value]),
          weight: 2,
          opacity: 1,
          color: 'white',
          dashArray: '3',
          fillOpacity: 0.7
      };
    }

      // ----------------------------  Put GeoJsons Here ---------------------------- //

      {% for details in spaces_objects %}
        geojsons.push({"type":"Feature","geometry":{{ details.location.geojson|safe }},"properties":{"OBJECTID":{{ details.id }},"PROVINCE":"Western Cape","CAT_B":"CPT","WARDNO":1,"WARD_ID":"19100001","AREA":12.348283791,"WARDWINNER":"DEMOCRATIC ALLIANCE/DEMOKRATIESE ALLIANSIE","VALUE":{{ details.id }},"EA_NUMBER":"Electoral Wards for CPT"}});
      {% endfor %}

      function highlightFeature(e) {
            var layer = e.target;
            info.update(layer.feature.properties);

            layer.setStyle({
                weight: 5,
                color: '#666',
                dashArray: '',
                fillOpacity: 0.7
            });

            if (!L.Browser.ie && !L.Browser.opera && !L.Browser.edge) {
                layer.bringToFront();
            }
      }

      function resetHighlight(e) {
          geojson.resetStyle(e.target);
          info.update();
      }

      function onEachFeature(feature, layer) {
          layer.on({
              mouseover: highlightFeature,
              mouseout: resetHighlight,
          });
      }

      //Set Colours and add GeoJsons to map
      setColors();
      var i;
      for (i = 0; i < geojsons.length; i++) {
          geojsonlayer.addData(geojsons[i],{style: style});
          geojson = L.geoJson(geojsons[i], {style: style, onEachFeature: onEachFeature}).addTo(map);
          geojson.bindPopup("<b><center>" + geojsons[i].properties[name] + "</center></b>" + valueHead +": " + geojsons[i].properties[value] + "<br>" + "<a href=\"" + geojsons[i].properties[url] + "\"> Full Profile</a>");
      }

      //Top Legend
      var info = L.control();
      info.onAdd = function (map) {
          this._div = L.DomUtil.create('div', 'info');
          this.update();
          return this._div;
      };
      info.update = function (props) {
          this._div.innerHTML = '<h4>' + heading + '</h4>' +  (props ?
              '<b>' + props[name] + '</b><br />' + props[value] + " " + valueHead
              : 'In Wastewater Pipelines');
      };
      info.addTo(map);

      //Bottom Legend
      var legend = L.control({position: 'bottomright'});
      legend.onAdd = function (map) {

          var div = L.DomUtil.create('div', 'info legend'),
              labels = [];
          for (var i = 0; i < grades.length; i++) {
              div.innerHTML +=
                  '<i style="background:' + getColor(grades[i] + 1) + '"></i> ' +
                  grades[i] + (grades[i + 1] ? '&ndash;' + grades[i + 1] + '<br>' : '+');
          }
          return div;
      };
      legend.addTo(map);

      //Map Footer
      L.tileLayer('https://api.tiles.mapbox.com/v4/{id}/{z}/{x}/{y}.png?access_token=pk.eyJ1IjoibWV0YWJvbGlzbW9mY2l0aWVzIiwiYSI6ImNqcHA5YXh6aTAxcmY0Mm8yMGF3MGZjdGcifQ.lVZaiSy76Om31uXLP3hw-Q', {
        attribution: 'Map data &copy; <a href="http://openstreetmap.org">OpenStreetMap</a> contributors, ' +
          '<a href="http://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, ' +
          'Imagery © <a href="http://mapbox.com">Mapbox</a>',
          id: 'mapbox.streets'
        }).addTo(map);

      map.scrollWheelZoom.disable();
      map.fitBounds(geojsonlayer.getBounds());

    </script>
