{% extends "mailbody/_mailbase.html" %}

{% block content %}
  You have requested a password reset at Metabolism of Cities. To reset your password, please use the link below:
  <br><br>
  <a href="{{ domain }}{% url "core:password_reset_confirm" uidb64=uid token=token %}">Reset my password</a>
  <br>
  If you can not open the link, please copy this in your browser:<br>
{{ domain }}{% url "core:password_reset_confirm" uidb64=uid token=token %}
  <br>
  If you did not submit this request, please ignore this e-mail.
{% endblock %}
