{% extends "mailbody/_mailbase.html" %}

{% block content %}
  You have requested a password reset at Metabolism of Cities. To reset your password, please use the link below:
  <br><br>
  <a href="https://{{ domain }}/accounts/passwordreset/confirm/{{ uid }}/{{ token }}/">Reset my password</a>
  <br>
  <br>
  If you can not open the link, please copy this in your browser:<br>
  https://{{ domain }}/accounts/passwordreset/confirm/{{ uid }}/{{ token }}/
  <br>
  <br>
  If you did not submit this request, please ignore this e-mail.
{% endblock %}
