{% extends "_base.html" %}
{% load bootstrap4 %}

{% block page_name %}geocode form{% endblock %}

{% block content %}
  <h1 class="mb-0">Geocode scheme</h1>
  <a href="{% url 'staf:geocodes' %}" class="btn btn-primary-basic">
    <i class="fal fa-angle-left"></i>
    Back to schema list
  </a>

  <form method="post" id="schema" class="form card my-4">
    <div class="card-body">
      <section>
        {% csrf_token %}
        {% bootstrap_form form %}
      </section>

      {% if info %}

        <section>
          <h2>What levels are present in this schema?</h2>
          <p class="text-muted">For example: 1 = country, 2 = province, 3 = municipality</p>

          <div class="row">
            <div class="col-lg-6">
              <div class="levels">
                {% for each in geocodes %}
                  <div class="form-group">
                    <select class="custom-select" name="geocode_level_existing">
                      <option value=""></option>
                      {% for depth in depths %}
                        <option value="{{ depth }}" {% if each.depth == depth %}selected{% endif %}>{{ depth }}</option>
                      {% endfor %}
                    </select>
                    <input class="form-control" type="text" name="geocode_name_existing" value="{{ each }}"/>
                    <input type="hidden" name="geocode_id_existing" value="{{ each.id }}" />
                  </div>
                {% endfor %}
                <div class="form-group">
                  <select class="custom-select" name="geocode_level">
                    <option value=""></option>
                    {% for depth in depths %}
                      <option value="{{ depth }}">{{ depth }}</option>
                    {% endfor %}
                  </select>
                  <input class="form-control" type="text" name="geocode_name" />
                </div>
              </div>
            </div>
            <div class="col-lg-6">
              <div class="graph">

              </div>
            </div>
          </div>
        </section>

      {% endif %}

    </div>
  </form>

  {% buttons %}
    <button type="submit" form="schema" class="btn btn-success btn-lg">
      <i class="fas fa-save"></i>
      Save
    </button>
  {% endbuttons %}
{% endblock %}

{% block footer %}
  <script>
    $("select[name=geocode_level]").change(function(){
      emptySelects = $(".levels option:selected[value='']").length;
      if (!emptySelects) {
        $(this).closest(".form-group").clone(true).appendTo(".levels");
      }
    });

    function generateChart() {
      $(".graph").html("");
      $(".levels .form-group").each(function(i) {
        let depth = $("select", this).val();
        let name = $("input", this).val();

        if ( depth != "" ) {
          let padding = depth - 1;
          $("<div class='graph-level' style='padding-left: calc(1rem * " + padding + ")'>" + depth + ". " + name + "</div>").appendTo(".graph");
        }
      })
    }

    $(".levels select, .levels input").change(function() {
      generateChart()
    })

    generateChart()
  </script>
{% endblock %}
