{% extends "_base.html" %}

{% block page_name %}geocode list{% endblock %}

{% block content %}
  <h1>{% block title %}Geocode schemes{% endblock %}</h1>

  {% if curator %}
    <a href="{% url 'staf:geocode_form' %}" class="btn btn-primary">
      <i class="fas fa-plus"></i>
      Add new geocode scheme
    </a>
  {% endif %}

  <ul class="nav nav-tabs mt-3">
    {% for each in types %}
    <li class="nav-item">
      <a class="nav-link {% if each == type %}active{% endif %}" href="?type={{ each }}">
        {{ each.label }}
      </a>
    </li>
    {% endfor %}
  </ul>

  <div class="row mt-4">
  {% for each in list %}
    <div class="col-md-6 col-lg-4 mb-4">
      <div class="card single-item">
        <div class="card-body info">
          <h4 class="card-title"><a href="{% url 'staf:geocode' each.id %}">{{ each.name }}</a></h4>
          <ul>
          {% for geocode in each.geocodes.all %}
            <li>{{ geocode }}</li>
          {% endfor %}
          </ul>
          <div class="buttons">
            <a class="btn btn-sm btn-primary" href="{% url 'staf:geocode' each.id %}">
              <i class="fal fa-fw fa-info-circle"></i>
              Details
            </a>
            {% if curator %}
              <a class="btn btn-sm btn-primary-basic" href="{% url 'staf:geocode_form' each.id %}">
                <i class="fal fa-fw fa-pencil"></i>
                Edit
              </a>
            {% endif %}
          </div>
        </div>
      </div>
    </div>
  {% endfor %}
  </div>
{% endblock %}
