{% extends 'multiplicity/base.html' %}
{% load bootstrap3 %}
{% load static %}

{% block title %}{% if info %}Edit{% else %}Add{% endif %} Research{% endblock %}
{% block container %}stretch-bg-head{% endblock %}

{% block content %}

<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-body">
        <div class="panel-heading">
            <h3>{% if info %}Edit{% else %}Add{% endif %} research</h3>
        </div>
        <div class="panel-body">
          <form method="post" class="form form-horizontal">
            {% csrf_token %}
            {% bootstrap_form form layout='horizontal' %}
              {% buttons %}
              <div class="col-sm-offset-3 col-sm-9">
                <button type="submit" class="btn btn-success">Save</button>
              </div>
            {% endbuttons %}
          </form>
        </div>
        </div>
    </div>
</div>

{% endblock %}

{% block head %}
{% endblock %}

{% block sidebar %}
{% include 'multiplicity/sidebar.default.html' %}

{% endblock %}

{% block pagehead %}
<div id="page-head">
    
    <div id="page-title">
        <h1 class="page-header text-overflow">{% if info %}Edit{% else %}Add{% endif %} research</h1>
    </div>

  <ol class="breadcrumb">
    <li><a href="/"><i class="pli-home"></i></a></li>
    {% if SITE_ID == 1 %}
      <li><a href="{% url 'core:community_home' %}">Community</a></li>
    {% else %}
      <li><a href="{% url 'core:section_home' 'research' %}">Research</a></li>
    {% endif %}
    <li class="active">Add research</li>
  </ol>


</div>
{% endblock %}

{% block footer %}
<script type="text/javascript">
$(function(){
  $("#id_start_date").attr("type", "date");
  $("#id_end_date").attr("type", "date");
  $("option[value=applied]").hide();
  $("#id_type").change(function(){
    if ($(this).val() != "theses") {
      $("#id_thesistype").closest(".form-group").hide('fast');
    } else {
      $("#id_thesistype").closest(".form-group").show('fast');
    }
  });
});
</script>{% endblock %}
