<ul class="nav flex-column" id="module_nav">
  <li class="nav-item">
    <a 
      class="nav-link {% if course_home %}active{% endif %}" 
      href="{% url "education:course" course.slug %}">
      {{ course }}
    </a>
  </li>
  {% for each in course.modules.all %}
    <li class="nav-item">
      <a 
        class="nav-link {% if not check_register %}disabled{% elif info == each %}active{% endif %}" 
        href="{% url "education:module" course.slug each.id %}">
        {{ each }}
      </a>
    </li>
  {% endfor %}
  <li class="nav-item">
    <a 
      class="nav-link {% if syllabus %}active{% endif %}" 
      href="{% url "education:syllabus" course.slug %}">
      Syllabus
    </a>
  </li>
  {% if course.faq %}
  <li class="nav-item">
    <a 
      class="nav-link {% if faq %}active{% endif %}" 
      href="{% url "education:faq" course.slug %}">
      FAQ
    </a>
  </li>
  {% endif %}
</ul>
