{% extends "_base.html" %}

{% block css %}
<style type="text/css">
#module_nav .active {
  background: #228496;
  color: #fff;
}
video,iframe {
  width: 100%;
  height: 400px;
  max-height: 100%;
}
</style>
{% endblock %}

{% block content %}

  <div class="row">
    <div class="col-md-3">

      {% include "education/courses/_nav.html" %}

    </div>

    <div class="col-md-9">

      {% if not check_register %}

      <div class="alert alert-warning">
        {{ _("You are not enrolled in this course. To get started, please enroll below.") }}
      </div>

      <form method="post" action="{% url "education:course" course.slug %}">
        <button type="submit" class="btn btn-primary mr-3 mb-2"><i class="fa fa-check" aria-hidden="true"></i> Enroll in this course</button>
        <input type="hidden" name="register" value="true" />
        {% csrf_token %}
      </form>

      {% else %}

      <h1>{{ info }}</h1>
      {{ info.get_description }}

      <ul class="nav nav-tabs" id="course" role="tablist">
        {% for each in info.content.all %}
        <li class="nav-item" role="presentation">
          <a class="nav-link {% if forloop.counter == 1 %} active{% endif %}" id="tab-{{ each.id }}" data-toggle="tab" href="#tabcontent-{{ each.id }}" role="tab" aria-controls="tab-{{ each.id }}" aria-selected="true">
            {{ forloop.counter }}: 
            {{ each.get_type_display }}
          </a>
        </li>
        {% endfor %}
        {% if info.questions.all %}
          <li class="nav-item" role="presentation">
            <a class="nav-link" id="tab-questions" data-toggle="tab" href="#tabcontent-questions" role="tab" aria-controls="tab-questions" aria-selected="true">
              Questions
            </a>
          </li>
        {% endif %}
      </ul>
      <div class="tab-content mt-4" id="coursecontent">
        {% for each in info.content.all %}
          <div class="tab-pane fade show  {% if forloop.counter == 1 %} active{% endif %}" id="tabcontent-{{ each.id }}" role="tabpanel" aria-labelledby="tab-{{ each.id }}">
            <h2>{{ each }}</h2>
            <div class="mt-2 mb-2">
            {% if each.video %}
              {{ each.video.embed|safe }}
            {% elif each.meta_data.url %}
              <iframe class="video-embed youtube-video" src="https://www.youtube.com/embed/{{ each.meta_data.url }}?rel=0" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            {% endif %}
            </div>

            {% if each.video.description %}
              {{ each.video.get_description }}
            {% endif %}
            {% if each.description %}
              {{ each.get_description }}
            {% endif %}

            {% if each in my_completed_content %}
              <p><em>You completed this segment.</em></p>
            {% else %}
              <button type="submit" class="complete-segment btn btn-success" data-id="{{ each.id }}"><i class="fa fa-check"></i> I completed this segment</button>        
            {% endif %}

            {% if request.user.is_superuser and each.video %}
              <a class="btn btn-warning float-right" href="{% url "library:form" each.video.id %}?next={{ request.get_full_path }}" ><i class="fa fa-lock"></i> Edit video</a>
            {% endif %}

          </div>
        {% endfor %}
        {% if info.questions.all %}
          <div class="tab-pane fade show" id="tabcontent-questions" role="tabpanel" aria-labelledby="tab-questions">
            <h2>Questions</h2>
            {% for each in info.questions.all %}

              <div class="form-group">
                <p><strong>{{ each }}</strong></p>

                {% for answer in each.answers.all %}
                <div class="form-check">
                  <input class="form-check-input" type="radio" name="question_{{ each.id }}" id="a_{{ answer.id }}" value="{{ answer.id }}">
                  <label class="form-check-label" for="a_{{ answer.id }}">
                    {{ answer }}
                  </label>
                </div>
                {% endfor %}

              </div>

            {% endfor %}
          </div>
        {% endif %}
      </div>

      <h2 class="h3 mt-5">Discussion and questions</h2>
      {% include "_messages.html" %}

      {% endif %}

    </div>

  </div>

{% endblock %}

{% block footer %}
<script type="text/javascript">
  $(".complete-segment").click(function(){
    button = $(this);
    var id = $(this).data("id");
    $.post("{% url 'education:module_complete_segment' course.slug info.id %}",{
      id: $(this).data("id"),
    }, function(data) {
      if (data.success) {
        $(button).html("GREAT! You completed this segment").removeClass("complete-segment");
      } else {
        $(button).html("Sorry, we could not mark this as completed, please try again later").removeClass("btn-success").addClass("btn-danger");
      }
    },"json");
  });
  {% if request.GET.open %}
    $("#tab-{{ request.GET.open }}").click();
  {% endif %}
</script>
{% endblock %}
