{% extends "_base.html" %}

{% block page_name %}gis meta{% endblock %}

{% block content %}
  <h1>Upload GIS data</h1>

  <ul class="nav nav-tabs mb-4">
    <li class="nav-item">
      <a class="nav-link" href="{% url 'staf:upload_gis_file' session.id %}">1. Upload shapefile</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="{% url 'staf:upload_gis_verify' session.id %}">2. Verify data</a>
    </li>
    <li class="nav-item">
      <a class="nav-link disabled active" href="#">3. Enter metadata</a>
    </li>
  </ul>

  <div class="card">
    <div class="card-body">
      <form method="post">

        <h2>Data source</h2>
        <div class="form-group">
          <label for="author">Who has produced this shapefile?</label>
          <input type="text" class="form-control" id="author" name="author">
        </div>

        <div class="form-group">
          <label for="url">Download URL or relevant website</label>
          <input type="url" class="form-control" id="url" name="url">
        </div>

        <div class="form-group">
          <label for="year">Year of publication</label>
          <input type="number" class="form-control" id="year" min="1900" name="year">
        </div>

        <div class="form-group">
          <label for="year">Shapefile license</label>
          <select class="custom-select" name="license">
            <option hidden disabled selected></option>
            <option value="">CC BY</option>
            <option value="">CC BY SA</option>
            <option value="">Copyright</option>
          </select>
        </div>

        <div class="form-group">
          <label for="year">Description</label>
          <textarea class="form-control" rows="3" name="description"></textarea>
        </div>

        <div class="form-group">
          <label for="year">Data quality comments</label>
          <textarea class="form-control" rows="3" name="dataquality"></textarea>
          <small class="form-text text-muted">
            Cupiditate cum similique fugit aliquam labore autem sapiente eaque. Fuga velit explicabo praesentium perferendis ipsam. Qui ipsa aut nihil dolorem blanditiis dolores fugiat. Voluptas omnis a id est vitae cum sunt. Non reprehenderit voluptas autem nihil aut fuga quibusdam. Voluptas necessitatibus harum ipsum rem.
          </small>
        </div>

        {% csrf_token %}
        <button class="btn btn-success" type="submit"><i class="fas fa-fw fa-upload"></i> Submit</button>
        {% if data_admin %}
          <button class="btn btn-success" name="start_processing" value="true" type="submit"><i class="fas fa-fw fa-sort-alpha-up"></i> Start data processing</button>
        {% endif %}

        <a class="btn btn-primary-basic" href="{% url "staf:upload_gis_verify" session.id %}"><i class="fas fa-fw fa-arrow-left"></i> Back to previous step</a>

      </form>
    </div>
  </div>
{% endblock %}
