{% extends "_base.html" %}
{% block page_name %}upload-portal index{% endblock %}
{% block title %}Upload portal{% endblock %}

{% block content %}
  <div class="container pb-4">
    <h1>Upload portal</h1>

    <p>
      Help us improve and expand! Please upload data and information to the sytem. You can
      select a category below and start uploading, or you can watch our <a href="videos">instruction videos</a>
      to get a better idea of how you should go about collecting and uploading information.
    </p>
  </div>

  <section id="data">
    <div class="container">
      <h2>Data</h2>
      <div class="row">
        <div class="col-lg-4 col-md-6 mb-3">
          <a class="btn-icon" href="infrastructure/">
            <div class="title"><i class="fal fa-industry fa-fw"></i> Infrastructure</div>
            <div class="text">Quam dolorem omnis dignissimos omnis nihil odit ut</div>
          </a>
        </div>
        <div class="col-lg-4 col-md-6 mb-3">
          <a class="btn-icon" href="flows/">
            <div class="title"><i class="fal fa-chart-bar fa-fw"></i> Material flow data</div>
            <div class="text">Quisquam totam nulla hic temporibus omnis nemo</div>
          </a>
        </div>
        <div class="col-lg-4 col-md-6 mb-3">
          <a class="btn-icon" href="stock/">
            <div class="title"><i class="fal fa-chimney fa-fw"></i> Material stock data</div>
            <div class="text">Eos sunt voluptatum eos aspernatur perspiciatis perspiciatis</div>
          </a>
        </div>
      </div>
    </div>
  </section>

  <section id="resources">
    <div class="container">
      <h2>Resources</h2>
      <div class="row">
        <div class="col-lg-4 col-md-6 mb-3">
          <a class="btn-icon" href="journalarticle/">
            <div class="title mb-0"><i class="fal fa-file fa-fw"></i> Journal article</div>
          </a>
        </div>
        <div class="col-lg-4 col-md-6 mb-3">
          <a class="btn-icon" href="thesis/">
            <div class="title mb-0"><i class="fal fa-file-alt fa-fw"></i> Thesis</div>
          </a>
        </div>
        <div class="col-lg-4 col-md-6 mb-3">
          <a class="btn-icon" href="report/">
            <div class="title mb-0"><i class="fal fa-file-invoice fa-fw"></i> Report</div>
          </a>
        </div>
        <div class="col-lg-4 col-md-6 mb-3">
          <a class="btn-icon" href="video/">
            <div class="title mb-0"><i class="fal fa-film fa-fw"></i> Video</div>
          </a>
        </div>
        <div class="col-lg-4 col-md-6 mb-3">
          <a class="btn-icon" href="photo/">
            <div class="title mb-0"><i class="fal fa-image fa-fw"></i> Photo</div>
          </a>
        </div>
        <div class="col-lg-4 col-md-6 mb-3">
          <a class="btn-icon" href="presentation/">
            <div class="title mb-0"><i class="fal fa-presentation fa-fw"></i> Presentation</div>
          </a>
        </div>
      </div>
    </div>
  </section>

  <section id="geospatial">
    <div class="container">
      <h2>Geospatial</h2>
      <div class="row">
        <div class="col-lg-4 col-md-6 mb-3">
          <a class="btn-icon" href="systemboundaries/">
            <div class="title"><i class="fal fa-globe-africa fa-fw"></i> System boundaries</div>
            <div class="text">Quam dolorem omnis dignissimos omnis nihil odit ut</div>
          </a>
        </div>
        <div class="col-lg-4 col-md-6 mb-3">
          <a class="btn-icon" href="subdivisions/">
            <div class="title"><i class="fal fa-game-board-alt fa-fw"></i> Territorial subdivisions</div>
            <div class="text">Quisquam totam nulla hic temporibus omnis nemo</div>
          </a>
        </div>
        <div class="col-lg-4 col-md-6 mb-3">
          <a class="btn-icon" href="gis/">
            <div class="title"><i class="fal fa-layer-group fa-fw"></i> Other GIS data</div>
            <div class="text">Eos sunt voluptatum eos aspernatur perspiciatis perspiciatis</div>
          </a>
        </div>
      </div>
    </div>
  </section>

{% endblock %}
