{% extends "_base.html" %}

{% block content %}
  <h2>Upload portal</h2>

  <p>
    Help us improve and expand! Please upload data and information to the sytem. You can 
    select a category below and start uploading, or you can watch our <a href="videos">instruction videos</a> 
    to get a better idea of how you should go about collecting and uploading information.
  </p>

 <section>

  <h3>Data</h3>
   <div class="row">
      <div class="col-md-4 mb-3">
        <a class="card icon-card btn-card" href="infrastructure/">
          <div class="icon">
            <i class="fal fa-fw fa-industry"></i>
          </div>
          <div class="card-header">Infrastructure</div>
        </a>
      </div>
      <div class="col-md-4 mb-3">
        <a class="card icon-card btn-card" href="flows/">
          <div class="icon">
            <i class="fas fa-fw fa-chart-bar"></i>
          </div>
          <div class="card-header">Material flow data</div>
        </a>
      </div>
      <div class="col-md-4 mb-3">
        <a class="card icon-card btn-card" href="stock/">
          <div class="icon">
            <i class="fal fa-fw fa-chimney"></i>
          </div>
          <div class="card-header">Material stock data</div>
        </a>
      </div>
    </div>

  </section>

 <section>
  <h3>Resources</h3>
   <div class="row">
      <div class="col-lg-2 col-sm-4 mb-3">
        <a class="card icon-card btn-card" href="journalarticle/">
          <div class="icon">
            <i class="fal fa-fw fa-file"></i>
          </div>
          <div class="card-header">Journal article</div>
        </a>
      </div>
      <div class="col-lg-2 col-sm-4 mb-3">
        <a class="card icon-card btn-card" href="thesis/">
          <div class="icon">
            <i class="fal fa-fw fa-file-alt"></i>
          </div>
          <div class="card-header">Thesis</div>
        </a>
      </div>
      <div class="col-lg-2 col-sm-4 mb-3">
        <a class="card icon-card btn-card" href="report/">
          <div class="icon">
            <i class="fal fa-fw fa-file-invoice"></i>
          </div>
          <div class="card-header">Report</div>
        </a>
      </div>
      <div class="col-lg-2 col-sm-4 mb-3">
        <a class="card icon-card btn-card" href="video/">
          <div class="icon">
            <i class="fal fa-fw fa-film"></i>
          </div>
          <div class="card-header">Video</div>
        </a>
      </div>
      <div class="col-lg-2 col-sm-4 mb-3">
        <a class="card icon-card btn-card" href="photo/">
          <div class="icon">
            <i class="fal fa-fw fa-image"></i>
          </div>
          <div class="card-header">Photo</div>
        </a>
      </div>
      <div class="col-lg-2 col-sm-4 mb-3">
        <a class="card icon-card btn-card" href="presentation/">
          <div class="icon">
            <i class="fal fa-fw fa-presentation"></i>
          </div>
          <div class="card-header">Presentation</div>
        </a>
      </div>
    </div>
  </section>

 <section>

  <h3>Geo-spatial</h3>
   <div class="row">
      <div class="col-md-4 mb-3">
        <a class="card icon-card btn-card" href="systemboundaries/">
          <div class="icon">
            <i class="fal fa-fw fa-globe-africa"></i>
          </div>
          <div class="card-header">System boundaries</div>
        </a>
      </div>
      <div class="col-md-4 mb-3">
        <a class="card icon-card btn-card" href="subdivisions/">
          <div class="icon">
            <i class="fas fa-fw fa-game-board-alt"></i>
          </div>
          <div class="card-header">Territorial subdivisions</div>
        </a>
      </div>
      <div class="col-md-4 mb-3">
        <a class="card icon-card btn-card" href="gis/">
          <div class="icon">
            <i class="fal fa-fw fa-layer-group"></i>
          </div>
          <div class="card-header">Other GIS data</div>
        </a>
      </div>
    </div>

  </section>

{% endblock %}
